/* font faces */
@import url(../../WebFontsContrib/roboto/font-face.css);
/*
@import url(../../WebFontsContrib/dm-sans/font-face.css);
*/

/* enable page transitions available since chrome 126+ */
@view-transition {
  navigation: auto;
}
::view-transition-old(root) {
  animation:none;
}

::view-transition-new(root) {
  animation:none;
}

/* typo */
.jqTextboxListValue,
label,
.natWebMenu ul ul li,
.natTopicActions,
.jqTabGroup,
.jqButton {
  font-family: Arial, 'Liberation Sans', FreeSans, sans-serif;
}
ins {
  text-decoration:none;
}
.natBody .natEditBottomBar li {
  font-size: inherit;
}
.natEditBottomBar ul {
  overflow: visible;
}

.natPanelToggle a::-moz-selection {
  background-color: transparent;
}

.natPanelToggle a::selection {
  background-color: transparent;
}

.natPanelToggle a:hover {
  cursor: pointer;
}

.foswikiInfo, .foswikiRevision {
  margin-bottom: var(--margin);
}
.solrSearchHits h3,
.natEditTitle {
  font-family:inherit;
}

h1.natEditTitle {
  margin-bottom:0.5em !important;
}

.foswikiGrid h2 {
  border-bottom:0;
}

/* scrollbars, webkit */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-height);
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
}
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-background) ;
  border: var(--scrollbar-thumb-border);
  border-radius: var(--scrollbar-thumb-border-radius);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-background) ;
}

/*
body *::-webkit-scrollbar {
  width:calc(var(--scrollbar-width) * 0.75);
  height:calc(var(--scrollbar-height) * 0.75);
}
*/
pre::-webkit-scrollbar-thumb, 
pre::-webkit-scrollbar-track,
.jqInfiniteScroll::-webkit-scrollbar-thumb, 
.jqInfiniteScroll::-webkit-scrollbar-track,
.natBodySticky .natSideBar::-webkit-scrollbar-thumb,
.natBodySticky .natSideBar::-webkit-scrollbar-track,
.overflow::-webkit-scrollbar-thumb, 
.overflow::-webkit-scrollbar-track {
  display:none;
  border-radius: var(--scrollbar-thumb-border-radius);
}
pre:hover::-webkit-scrollbar-thumb, 
pre:hover::-webkit-scrollbar-track,
.jqInfiniteScroll:hover::-webkit-scrollbar-thumb, 
.jqInfiniteScroll:hover::-webkit-scrollbar-track,
.natBodySticky .natSideBar:hover::-webkit-scrollbar-thumb,
.natBodySticky .natSideBar:hover::-webkit-scrollbar-track,
.overflow:hover::-webkit-scrollbar-thumb,
.overflow:hover::-webkit-scrollbar-track {
  display:block;
}

/* scrollbars, firefox */
/*
html {
  scrollbar-color: var(--scrollbar-thumb-background) var(--scrollbar-background);
}
*/

/*
.jqInfiniteScroll,
.overflow {
  scrollbar-width:thin;
}
*/


/* fix fixed header covering the header during an anchor navigation */
.natViewBody .natMainContents a.foswikiReference[name] {
  display:block;
}

.natViewBody .natMainContents [name],
.natViewBody .natMainContents [id] {
  scroll-margin-top: calc(var(--top-bar-height, 100) + var(--margin));
}

blockquote {
  margin:1.5em 0;
  padding:0 0 0 1.4285em; 
}


ul, ol {
  margin:var(--margin) 0;
}

.foswikiTopicInfo .fa {
  vertical-align:baseline;
}


.foswikiEmulatedLink,
.wysiwyg_link,
a {
  color:var(--color-anchor);
  text-decoration:underline;
  transition: color 150ms, background-color 150ms, border 150ms;
  text-underline-offset:2px;
}

/* borders */
.foswikiMetaData .jqTab,
.foswikiDataForm .foswikiLayoutTable,
.foswikiDataForm .foswikiLayoutTable td,
.foswikiGrid .border,
.hr, hr {
  border-style:solid;
  border-color:var(--color-border);
}
.foswikiGrid>.foswikiRow>.foswikiBorder {
  border-color:var(--color-border);
}
.foswikiPageForm .hr,
.foswikiPageForm hr,
.foswikiPageForm .foswikiGrid>.foswikiRow>.foswikiBorder {
  border-color:var(--alt-inner-border);
}
.foswikiDataForm .foswikiLayoutTable {
  border:0;
}
.foswikiDataForm .foswikiLayoutTable td,
.foswikiDataForm .foswikiLayoutTable th {
  padding:0.5em;
}
.foswikiMetaData .jqTabPanePlain .foswikiFormSteps,
.foswikiMetaData .jqTabPanePlain .foswikiPageForm {
  padding-left:1em;
  padding-right:1em;
}
.foswikiDataForm .foswikiLayoutTable th,
.foswikiDataForm .foswikiLayoutTable td {
  border:0;
}
.foswikiGrid h3,
.foswikiGrid h2 {
  margin-top:0;
}

/* layout */
.natSideBarContents {
  margin-top:-1em;
}
.natBodyRight .natSideBarContents {
  border-left:1px solid var(--color-border);
  padding:1em 1px 0 1.5em;
}
.natBodyLeft .natSideBarContents {
  border-right:1px solid var(--color-border);
  padding:1em 1em 0 1px;
}
.natBodyBoth .natSideBarContents {
  padding:1em 0 0 0;
}
.natMainHeaderContents,
.natMainFooterContents {
  padding:0;
}
.natMiddleContents {
  background:transparent;
}

.natBodyBoth .natMainHeaderContents,
.natBodyBoth .natMainFooterContents,
.natBodyBoth .natMainContents,
.natBodyRight .natMainHeaderContents,
.natBodyRight .natMainFooterContents,
.natBodyRight .natMainContents {
  margin-right:var(--margin);
}
.natBodyBoth .natMainHeaderContents,
.natBodyBoth .natMainFooterContents,
.natBodyBoth .natMainContents,
.natBodyLeft .natMainHeaderContents,
.natBodyLeft .natMainFooterContents,
.natBodyLeft .natMainContents {
  margin-left:var(--margin);
}

.natPrintBody .natMainHeaderContents,
.natPrintBody .natMainFooterContents,
.natPrintBody .natMainContents,
.natPlainBody .natMainHeaderContents,
.natPlainBody .natMainFooterContents,
.natPlainBody .natMainContents {
  margin:0;
}

.natMainContents {
  margin-top:var(--margin);
  padding:0 0 1em;
}
.natMainHeaderContents,
.natMainFooterContents {
  padding:0;
}
.natBody .natSideBarContents {
  margin-top: calc(var(--margin) * -1);
  padding-top: var(--margin);
}

.natBodyFixed .natBodyContents {
  width:auto;
  margin: 0 auto;
}

.natBodyFixed .natBannerContents,
.natBodyFixed .natTopPanelContents,
.natBodyFixed .natTopBarContents,
.natBodyFixed .natMiddle,
.natBodyFixed .natBottomBarContents {
  width:var(--page-width-fixed, 80em);
  margin-left:auto;
  margin-right:auto;
}
.natMiddle {
  padding-top:var(--margin);
}

.natBodySticky .natTopPanelContents,
.natBodyBordered .natTopPanelContents {
  padding-left:1em;
  padding-right:1em;
}

.natBodySticky .natBannerContents,
.natBodyBordered .natBannerContents {
  width:var(--page-width-bordered, 100%);
  padding-left:1em;
  padding-right:1em;
  box-sizing:border-box;
}
.natBodySticky .natBanner {
  display:none;
}
.natBodySticky .natMiddle {
  margin-top: var(--top-bar-height, 100);
}
.natBodySticky .natBottomBar {
  display:none;
}

.natBodyFluid .natBannerContents,
.natBodyFluid .natTopPanelContents,
.natBodyFluid .natTopBarContents,
.natBodyFluid .natBottomBarContents,
.natBodyFluid .natMiddle {
  margin-left:10%;
  margin-right:10%;
  padding-left:0;
  padding-right:0;
}

.natBodySticky,
.natBodyBordered {
  margin:0;
}

.natBodySticky .natBottomBarContents,
.natBodySticky .natMiddle,
.natBodyBordered .natBottomBarContents,
.natBodyBordered .natMiddle {
  padding-left:1em;
  padding-right:1em;
}

.natBodySticky .foswikiBroadcastMessage {
  margin-bottom: var(--margin);
}

.natEditBody .natMainContents {
  margin:0;
  padding:1em;
}
.natEditBody .natMiddle,
.natEditBody .natMiddleContents {
  width:auto;
  padding:0;
  margin:0;
}
.natEditBody .jqTabContents h2 {
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-h5);
}
.natEditBody .jqTab.settings th {
  min-width:14em;
}

/* top */
.natTopBar {
  position:-webkit-sticky;
  position:sticky;
  top: calc(var(--top-bar-height, 100) * -1px);
  transition: top 500ms;
  border-bottom:1px solid var(--topbar-border);
  z-index:100; /* see ui-natedit-* */
  background-color: var(--topbar-background);
  color: var(--topbar-foreground);
}
.natTopBarContents {
  padding:var(--margin) 1rem;
  display:-webkit-flex;
  display:flex;
  align-items:center;
  flex-wrap:wrap;
}
.natBodyStickyTopBar .natTopBar {
   backdrop-filter: var(--topbar-backdrop-filter);
}
.natBodySticky .natTopBar,
.natBodyStickyTopBar .natTopBar {
  box-shadow:var(--topbar-sticky-box-shadow);
  top:-1px !important;
}
.natBodySticky .natTopBar .natTopBarContents,
.natBodyStickyTopBar .natTopBar .natTopBarContents {
  padding-top:0.75rem;
  padding-bottom:0.75rem;
}
/*
.natBodySticky .natTopBar .natTopBarContents .natWebTitle,
.natBodySticky .natTopBar .natTopBarContents .natWebMenuSpacer,
.natBodyStickyTopBar .natTopBar .natTopBarContents .natWebTitle,
.natBodyStickyTopBar .natTopBar .natTopBarContents .natWebMenuSpacer {
  font-size:98%;
}
*/
.natBodySticky .natWebTitle,
.natBodyStickyTopBar .natWebTitle {
  transform:scale(0.9);
  transform-origin:0 50%;
}
.natTopBar .natUserActions {
  padding:0;
}
.natTopBar .natLangs {
  top:5px;
  right:5px;
}
.natWebMenuSpacer {
  flex-grow:1;
}
.natLangs a {
  float:right;
  margin:0 0.5em 0 0;
  padding:0;
  display:inline;
  line-height:1;
}
.natTopBar .natLangs a:hover {
  background:transparent;
}
.natPanelToggle {
  display:inline-block;
  vertical-align:middle;
}
.natPanelToggle a {
  padding:0 1em;
  text-decoration:none;
  box-shadow:none;
  color:var(--topbar-anchor);
}
.natPanelToggle a,
.natWebMenu li, .natWebMenu .sf-js-enabled {
  line-height:35px;
}
.natPanelToggle a .jqIcon {
  padding:0 0.5em 0 0;
  line-height:1;
}
.natPanelToggle .natPanelToggleClose,
.natPanelToggle.open .natPanelToggleSearch {
  display:none;
}
.natPanelToggle.open .natPanelToggleClose,
.natPanelToggle .natPanelToggleSearch {
  display:inline-block;
}
.natUserActions .natAccountAction,
.natUserActions .natAccountAction:hover {
  padding:0;
  background:transparent;
}
.natUserActions .natAccountAction img {
  border-radius:50%;
  width:34px;
  height:34px;
}
.natTopBar .natPanelToggle.open a,
.natTopBar a:hover {
  background-color:var(--menu-hover-background);
  color: var(--menu-hover-foreground, #fff); 
  text-decoration:none;
}

.natTopBar .natWebTitle a, 
.natTopBar .natWebTitle a:hover {
  background-color:transparent;
}

.natWebTitle {
  display:inline-block;
  vertical-align:middle;
  margin-right:0.75em;
}
.natUserActions {
  float:right;
}

.natBannerSettingsContainer .foswikiLayoutTable {
  width:100%;
}
.natBannerSettingsContainer .foswikiLayoutTable th {
  min-width:14em;
}
.natBannerSettingsContainer .foswikiLayoutTable td {
  width:100%;
}

.natBanner {
  width:100%;
  height:9em;
  min-height:7em;
  box-sizing:border-box;
  background-color:#607D8B;  /* TODO */
  overflow:hidden;
  position:relative;
  display:flex;
  flex-direction:column;
  justify-content:center;
  font-weight: var(--font-weight-normal);
}
.natBannerContents {
  z-index:2;
  position:relative;
  padding:var(--margin);
}
.natBannerContents.left {
  text-align:left;
}
.natBannerContents.center {
  text-align:center;
}
.natBannerContents.right {
  text-align:right;
}
.natBannerTextEffect {
  display:inline-block;
}
.natBannerPhoto {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-image:none;
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
}
.natBannerPhoto:after {
  background:linear-gradient(7deg,var(--nat-bannercolor, rgb(0 0 0 / 50%)) 0,transparent 50%);
  content:"";
  display:block;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
}
.natBanner .natBannerButtons {
  display:none;
  position:absolute;
  top:0.3em;
  right:0.7em;
  font-size:200%;
  width:3em;
  z-index:3;
}
.natBanner .natBannerButtons a {
  margin-left:0.5em;
  cursor:pointer;
  color:#fff;
  text-shadow: 1px 1px rgba(0,0,0, 0.5);
}
.natBanner .natBannerButtons a:hover {
  color: var(--color-active-foreground);
}
.natBannerVideo {
  padding:0;
  background:#000;
}
.natBannerVideo .natBannerContents {
  position:relative;
}
.natBannerVideo video {
  position:absolute;
  min-width:100%;
  min-height:100%;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
}
.natBanner.natBannerTrianglify {
  position:relative;
  background-color:transparent;
}
.natBanner.natBannerTrianglify canvas {
  position:absolute;
  top:0;
  left:0;
}
.natBanner .natBannerSwiper {
  height:100%;
  width:100%;
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
}
.natBannerSwiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width:100%;
  height:100%;
}
.natBannerSwiper .natBannerContents {
  position:absolute;
}
.natBannerSwiper .swiper-lazy {
  width:100%;
  height:100%;
  background-position: center;
  background-size: cover;
}

.jqTrianglifyPaletteSelector {
  max-width:38em;
}
.jqTrianglifyPaletteSelector label {
  float:left;
  width:var(--margin);
  margin:0.5em 0.5em 0 1px;
}
.jqTrianglifyPaletteSelector input {
  display:none;
}
.jqTrianglifyPaletteSelector .swatch {
  outline:1px solid #aaa;
  display:inline-block;
}
.jqTrianglifyPaletteSelector .swatch.selected {
  outline:2px solid #b22222;
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
}
.jqTrianglifyPaletteSelector .swatch span {
  display:inline-block;
  width:var(--margin);
}
.natBanner a {
  text-decoration:none;
  color:#fff;
}
.natBanner h1,
.natBannerTitle {
  font-family: var(--font-family-banner);
  font-size: var(--font-size-banner);
  font-weight: var(--font-weight-banner);
  line-height: var(--line-height-banner);
  border:0;
}
.natBannerDynamicHeight .natBannerSubtitle {
  text-transform:inherit;
}
.natBannerDynamicHeight_third h1,
.natBannerDynamicHeight_third .natBannerTitle,
.natBannerDynamicHeight_half h1,
.natBannerDynamicHeight_half .natBannerTitle,
.natBannerDynamicHeight_twothird h1,
.natBannerDynamicHeight_twothird .natBannerTitle,
.natBannerDynamicHeight_full h1,
.natBannerDynamicHeight_full .natBannerTitle {
  font-size:clamp(var(--font-size-banner), calc(var(--font-size-banner) + 1vh), calc(var(--font-size-banner) * 2));
}
.natBannerDynamicHeight_third .natBannerSubtitle,
.natBannerDynamicHeight_half .natBannerSubtitle,
.natBannerDynamicHeight_twothird .natBannerSubtitle,
.natBannerDynamicHeight_full .natBannerSubtitle {
  font-size:calc(clamp(var(--font-size-banner), calc(var(--font-size-banner) + 1vh), calc(var(--font-size-banner) * 2)) * 0.75);
  font-weight:var(--font-weight-light);
}
.natBanner h1 {
  margin:0 0 0.5em;
}
.natBannerSubtitle {
  text-transform:uppercase;
}
.natBannerLight,
.natBannerLight .natBannerTitle,
.natBannerLight .natBannerSubtitle,
.natBannerLight h1,
.natBannerLight a {
  color:#fff;
}
.natBannerDark,
.natBannerDark .natBannerTitle,
.natBannerDark .natBannerSubtitle,
.natBannerDark h1,
.natBannerDark a {
  color:#333;
}
.natParallax {
  transition: transform 150ms;
}

@keyframes kenburns {
  0% {
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  }
  100% {
    transform: scale3d(1.3, 1.3, 1.3) translate3d(-40px, 10px, 0);
  }
}

.natBannerAnimate {
  animation-name: kenburns;
  animation-duration: 30s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.natBanner.jqParticles canvas {
  position:absolute;
  top:0;
  left:0;
}

/* bottom */
.natBottomBar {
  background-color: var(--bottombar-background);
  color: var(--bottombar-foreground);
  border-top:1px solid var(--bottombar-border);
  margin-top: calc(var(--margin) * 4);
}
.natCopyRight,
.natCopyRight a,
.natPageCacheBanner,
.natPageCacheBanner a {
  color:#aaa; /* TODO */
}
.natSideMap,
.natCopyRight,
.natPageCacheBanner {
  margin-top:0;
  margin-bottom: var(--margin);
  display:block;
}
.natPageCacheBanner {
  margin-top: var(--margin);
}
.natBottomBarContents {
  margin:0 var(--margin);
  padding:var(--margin);
  min-height: calc(var(--margin) * 4);
}
.natRenameBody .natBottomBar,
.natValidateBody .natBottomBar,
.natAttachBody .natBottomBar,
.natSolrBody .natBottomBar {
  visibility:hidden;
}

/* web menu */
.natWebMenu {
  margin-bottom:0;
  border:0;
  display:inline-block;
  vertical-align:middle;
}
.natUserActions a,
.natWebMenu li a {
  font-weight: var(--font-weight-normal);
}

.natWebMenuContents >ul >li, 
.natWebMenuContents >ul > li >a ,
.natWebMenuContents>ul>li>.foswikiCurrentWebHomeLink {
  background-color:transparent; 
  color: var(--topbar-anchor);
}

.natTopicActions .natLikeAction,
.natTopicActions .natLikeAction:hover a,
.natTopicActions .natLikeAction a:hover {
  background-color:transparent;
  color: var(--menu-hover-foreground);
}

.natHistoryNavi:hover,
.natHistoryTopicActions a:hover,
.natTopicActions .natUserAction:hover,
.natTopicActions .natTopicAction:hover,
.natTopicActions .sfHover .natMoreActionsTopicAction,
.natWebMenu li a:hover,
.natWebMenu li.sfHover,
.natWebMenu li.sfHover>a,
.natWebMenuContents>ul>li>a:hover,
.natWebMenuContents>ul>li>li>a.current,
.natWebMenuContents>ul>li>li>a.current:hover,
.natWebMenuContents>ul>li>.foswikiCurrentWebHomeLink:hover {
  background-color: var(--menu-hover-background);
  color: var(--menu-hover-foreground);
}

.natHistoryTopicActions a.disabled,
.natHistoryTopicActions a.disabled:hover {
  background-color:transparent;
  color: var(--color-disabled-foreground);
}
.natTopBar a:hover:active,
.natTopBar a:hover:focus,
.natWebMenu li a:active,
.natWebMenu li a:focus,
.natWebMenu li a:hover:active,
.natWebMenu li a:hover:focus {
  background-color:var(--menu-active-background);
  color:var(--menu-active-foreground);
  transition:background-color 500ms;
}
.natTopBar .natWebTitle a,
.natTopBar .natWebTitle a:hover,
.natTopBar .natWebTitle a:active,
.natTopBar .natWebTitle a:hover:active {
  background:transparent;
}
.natUserActions a,
.natWebMenuContents > ul > li > a {
  padding:0 1em;
}

/* sidebar */
.natSideBarHeader,
.natSideBar {
  width:var(--sidebar-width); 
}

/* right */
.natBodyBoth .natSideBar,
.natBodyRight .natSideBar {
  margin-right:calc(var(--sidebar-width) * -1);
}
.natBodyBoth .natMiddleContents,
.natBodyRight .natMiddleContents {
  margin-right:var(--sidebar-width);
}

/* left */
.natBodyBoth .natSideBar,
.natBodyLeft .natSideBar {
  margin-left:calc(var(--sidebar-width) * -1);
}
.natBodySticky.natBodyLeft .natSideBar {
  margin-left:calc(var(--sidebar-width) * -1);
}
.natBodyBoth .natMiddleContents,
.natBodyLeft .natMiddleContents {
  margin-left:var(--sidebar-width);
}

.natSideBar li {
  padding:0.4285em 0;
  border-bottom:1px solid var(--color-border);
}

.natSideBar li li {
  border-bottom:0;
  padding:0;
}


.natSideBar li a {
  display:block;
  background-color:transparent;
}

.natSolrBody .natSideBar li {
  padding:0.1em 0;
}


/* search box */
.natSideBar .natSearchBox {
  margin-bottom:var(--margin);
}
.natSearchBox .foswikiInputField {
  border:1px solid var(--input-border, #bdbec5);
}
.natMain .natSearchBox {
  background-color:transparent;
}
.natSearchBox .foswikiSubmit {
  width:32px;
  height:28px;
  margin:-11px 0 0 0;
  z-index:1;
}
.natSearchBox .foswikiSubmit,
.natSearchBox .foswikiSubmit:focus,
.natSearchBox .foswikiSubmit:active,
.natSearchBox .foswikiSubmit:hover:active,
.natSearchBox .foswikiSubmit:hover {
  background:none;
  box-shadow:none;
}
.natSearchBox form::after {
  font-family:FontAwesome;
  font-size:110%;
  font-weight:600;
  content:"\f002";
  display:inline-block;
  position:absolute;
  top:50%;
  right:0.4em;
  margin-top:-0.8em;
  text-align:center;
  width:var(--margin);
  color: var(--searchbox-magnifier-foreground);
}
.natSearchBox form:hover::after {
  color: var(--color-hover-foreground);
}
.natSearchBox form.ui-autocomplete-busy::after {
  display:none;
}
.natTopBar .natSearchBox,
.natMain .natSearchBox {
  float:right;
  width:280px;
  margin-top:6px;
}
.natSolrBody .natSearchBox {
  display:none;
}
.natSearchBox .foswikiInputField {
  width:100%;
}
.natMain .natSearchBox .foswikiInputField {
  border-radius:0;
}
.natSearchBoxMenu.ui-autosuggest {
  border-top:0;
  border-radius:0 0 5px 5px;
}
.natSearchBoxMenu.ui-autosuggest { 
  background: var(--ui-menu-background-gradient);
  box-shadow: var(--ui-menu-box-shadow); 
}
.natSearchBoxMenu.ui-autosuggest::after,
.natSearchBoxMenu.ui-autosuggest::before {
  right:auto;
  left:37px;
  display:none;
}
.natTopPanel {
  background: var(--toppanel-background);
  color: var(--toppanel-foreground);
  position:relative;
  z-index:2;
}
.natTopPanel .natSearchBox .foswikiInputField {
  border:0;
  padding:0.5em 0;
  font-size:2em;
}
.natTopPanel .natSearchBox .foswikiInputField,
.natTopPanel .natSearchBox .foswikiInputField:focus {
  box-shadow:none;
}
.natTopPanel .natSearchBox .foswikiSubmit {
  display:none;
}
.natTopPanel .natSearchBox form::after {
  display:none;
}

/* topic actions */
.natMainHeaderContents .natNewAction,
.natMainHeaderContents .natLoginAction {
  display:none;
}
.natBodyTopBarOff .natMainHeaderContents .natNewAction,
.natBodyTopBarOff .natMainHeaderContents .natLoginAction {
  display:inline;
}

/* typography */
.natBottomBar h3,
.natSideBar h2,
.natSideBar h2 a {
  color:var(--color-h2);
  font-weight:var(--font-weight-semi-bold);
}
/*
.foswikiTocTitle,
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color:var(--color-primary);
}
*/

.foswikiFormDescription, 
.foswikiFormDescription a, 
.foswikiFormLegend
.foswikiGrayText,
.foswikiGrayText a,
h1 .foswikiTopicSummary,
.foswikiTopicSummary,
.foswikiTopicSummary a,
.foswikiTopicInfo, 
.foswikiTopicInfo a,
.foswikiRevision a,
.foswikiRevision,
.natBreadCrumbs,
.natBreadCrumbs a,
.natBreadCrumbs .natSep,
h2 .foswikiGrayText a,
.foswikiFormSteps h2 .foswikiGrayText a {
  color: var(--color-gray-1);
}


/* hover */
a:hover,
a.ui-state-active:hover,
.foswikiPageForm h2 a:hover,
.foswikiFormSteps h2 a:hover,
.foswikiTopicInfo a:hover,
.foswikiGrayText a:hover ,
a:hover .foswikiGrayText,
.hover,
.hover a,
.natBottomBarContents a:hover,
.natBottomBarContents .jqButton:hover,
.natBreadCrumbs a:hover,
.natSideBar li a:hover,
.natTopPanelContents a:hover,
.ui-state-active a:hover,
.ui-state-active.ui-state-hover {
  background-color:transparent;
  color:var(--color-hover-foreground);
}
.hover a:hover {
  background-color:transparent;
  color:var(--color-hover-foreground);
}


a:hover.ecpEdit,
.redDot a:hover {
  color: var(--color-red, #1f6ab3);
  background:transparent;
}

a:active,
a:hover:active,
.natSideBar li a:active,
.natSideBar li a:hover:active {
  color: var(--color-active-foreground);
}


/* scroll to top button */
a.natScrollTop {
  box-shadow:1px 1px 0px 0 rgba(0,0,0,0.5);
  border-radius:50%;
}

/* tables */
.foswikiTable {
  margin:0 0 var(--margin) 0;
  font-size: var(--font-size-smaller);
  border:1px solid var(--table-border);
}

/* toc */
.foswikiToc ul {
  margin-top:0.5em;
  padding:0.5em 0 0;
}
.foswikiToc li {
  margin-left:0;
}

/* classification plugin */
.jqTagSuggestions a:hover,
.clsBrowser .current,
.jstree .jstree-clicked,
.jstree .jstree-clicked a,
.jstree-minimal .jstree-hovered,
.clsTagCloud .hilite,
.solrTagCloud a.current,
.clsTagCloud .current {
  background-color: var(--color-secondary-darker-3) !important;
  color: #fff !important;
}
.clsTagCloud a:hover,
.tagCloud a:hover,
.clsBrowser .current:hover,
.clsTagCloud .current:hover, 
.jstree .jstree-clicked:hover {
  background-color: var(--color-secondary-darker-6) !important;
}
.jqTextboxListValue {
  background-color: var(--alt-background, #f7f7f7);
  border:1px solid var(--alt-border, #cfcfcf);
  color: var(--alt-foreground, #333);
  border-radius:4px;
  box-shadow: var(--alt-box-shadow);
}
.solrHierarchyChildren a,
.clsSubCategories a,
.clsSubCategories {
  color:#a1a1a1; /* TODO */
}
.solrHierarchyChildren a:hover,
.clsSubCategories a:hover {
  color:var(--color-primary);
}

.solrTopicInfo .ma,
.solrTopicInfo .fa {
  color:#bbb; /* TODO */
  margin-right:5px;
}
.solrTopicInfo .solrSep {
  margin:0 5px;
}

.foswikiHoverMenu .foswikiCurrentTopicLink,
.foswikiHoverMenu .foswikiCurrentTopicLink .foswikiGraytext,
.natSideBar .foswikiCurrentTopicLink,
.natSideBar .foswikiCurrentTopicLink .foswikiGrayText {
  color:var(--color-target);
}

/*
.jqTabContents h2,
.jqTabContents h2 a,
.foswikiPageForm h2,
.foswikiPageForm h2 a,
.foswikiFormSteps h2,
.foswikiFormSteps h2 a,
.foswikiAlt h2,
.alt h2,
#natLoginBanner,
.natNoteHeading,
*/
h2.marked {
  color:var(--color-secondary);
}

.clsIndexItem h3,
.clsIndexItem h4,
.clsIndexItem h5,
.clsIndexItem h6,
.clsIndexItem h3 a,
.clsIndexItem h4 a,
.clsIndexItem h5 a,
.clsIndexItem h6 a,
.foswikiAlt h3,
.foswikiAlt h4,
.foswikiAlt h5,
.foswikiAlt h6,
.alt h3,
.alt h4,
.alt h5,
.alt h6,
.jqTabContents h3,
.jqTabContents h4,
.jqTabContents h5,
.jqTabContents h6,
.jqTabContents h3 a,
.jqTabContents h4 a,
.jqTabContents h5 a,
.jqTabContents h6 a,
.foswikiPageForm h3,
.foswikiPageForm h4,
.foswikiPageForm h5,
.foswikiPageForm h6,
.foswikiPageForm h3 a,
.foswikiPageForm h4 a,
.foswikiPageForm h5 a,
.foswikiPageForm h6 a,
.foswikiFormSteps h3,
.foswikiFormSteps h4,
.foswikiFormSteps h5,
.foswikiFormSteps h6,
.foswikiFormSteps h3 a,
.foswikiFormSteps h4 a,
.foswikiFormSteps h5 a,
.foswikiFormSteps h6 a {
  color: var(--alt-header-foreground);
}

.foswikiGridForm h3, 
.foswikiGridForm h3 a {
  color:inherit;
}
.foswikiGridHeader {
  padding-top:0.2em;
  max-width:10em;
}

/* select2 */
.select2-container .select2-choice:hover,
.select2-container .select2-choice {
  border-color: var(--input-border, #ccc);
  color: var(--input-foreground);
}
.select2-container .select2-choice:hover,
.select2-container .select2-choice,
.select2-container .select2-choice:hover > div,
.select2-container .select2-choice > div {
  background: var(--input-background, #f8f8f8) !important;
  border-radius:2px !important;
  box-shadow:var(--input-box-shadow) !important;
}
.select2-container .select2-choice div {
  border:0;
}
.select2-results {
  margin-left:0;
  margin-right:0;
  margin-bottom:0;
  padding:0;
}
.select2-results .select2-highlighted {
  background-color: var(--input-focus-color, #16BEEF);
}
.select2-results .select2-highlighted .foswikiGrayText {
  color: #fff;
}

.select2-drop {
  box-shadow:2px 4px 5px rgba(0, 0, 0, .15);
  overflow:hidden;
  border:1px solid var(--input-border, #ccc);
  border-top-left-radius:0;
  border-top-right-radius:0;
  border-top:0;
  background: var(--input-background);
  color: var(--input-foreground);
}
.select2-container.select2-drop-above .select2-choice,
.select2-drop.select2-drop-above {
  border-color: var(--input-border);
}
.select2-more-results, 
.select2-results .select2-no-results, 
.select2-results .select2-searching, 
.select2-results .select2-selection-limit {
  background: var(--input-background);
  color: var(--input-foreground);
}
.select2-search input,
.select2-search-choice-close,
.select2-container .select2-choice div b,
.select2-container .select2-choice abbr {
  background-image: var(--select2-background-image) !important;
}
.select2-container-multi .select2-choices .select2-search-choice,
.select2-container-multi .select2-choices .select2-search-field input {
  color: var(--input-foreground);
}

/* solr plugin */
.solrHeader .foswikiFormSteps hr {
  display:none;
}
.solrHeader .solrPager,
.solrFooter .solrPager {
  border-color:var(--color-border);
}
/* blog plugin */
.blogCategoryTitle h1,
.blogCategoryTitle h1 a {
  border-bottom:0px;
  color: var(--color-gray);
}

/*
.blogCategoryTitle {
  display:none;
}
*/

/* image plugin */
.imageFrame {
  border-radius: 6px;
  box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.5);
  padding:0;
}

.imageFrame img {
  border:0;
  padding:0;
  margin:-1px;
}
.imageFrame .imageHref {
  border:0;
}
.imageCaption {
  text-align:center;
  padding:0.4em 2px;
}
.imageCaption a {
  text-decoration:none;
}

/* styled login */
.natLoginBanner {
  width:100%;
  height:100%;
  min-height:100vh;
/*
  position:absolute;
  top:0;
  right:0;
*/
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  margin:0;
}
.natLoginBanner .natLogin {
  border-radius:8px;
  box-shadow:none;
  backdrop-filter: var(--login-backdrop-filter);
  border:0;
}
.natLoginBanner .natLoginHeading,
.natLoginBanner .natPoweredBy {
  color: #fff;
  font-weight: var(--font-weight-normal);
  text-shadow: 0 0 1px var(--color-alpha-1);
}
.natLoginBanner .foswikiFormSteps {
  background:transparent;
}
:root .natLogin .foswikiFormSteps .foswikiFormStep {
  margin-left:0;
  margin-right:0;
}
.natLogin input[type=text], 
.natLogin #username, 
.natLogin #password {
  width:100%;
  box-shadow:none;
}

.natLoginBanner .natLogin,
.natLoginBanner .jqCodeInputContainer .jqCodeInputSeparator ,
.natLoginBanner h3 {
  color: var(--color-foreground);
}
.natLoginBanner .natPoweredBy:hover {
  color:#fff;
}

.natLoginBanner .natContact {
  display:none;
}

.natBodyNavToggleEnabled .natSideBar {
  box-shadow:-5px 0px 5px rgba(0,0,0,0.05);
  border:1px solid var(--color-border, #dbdbdb);
  margin-right:-15px;
}
.natBodyNavToggleEnabled .natSideBarContents {
  border:0;
}


/* buttons */
button,
button.dt-button, 
div.dt-button, 
a.dt-button,
input[type=button], 
input[type=submit], 
input[type=file]::file-selector-button, 
.foswikiSubmit, 
.foswikiButton,
.ui-button,
.jqButton {
  text-shadow:none;
  font-size:var(--button-font-size);
  border-color:var(--button-border);
  color: var(--button-foreground);
  background: var(--button-background-gradient);
  padding:5px 10px; /* not using ems here as to subpixel issues 0.4em 0.7em */
  border-radius: 4px; 
}

.erp-edittable {
  text-decoration:none;

  display:inline-block;
  text-align: center;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;

  border:1px solid var(--button-border) !important;
  color: var(--button-foreground) !important;
  background: var(--button-background-gradient) !important;
  padding:5px 10px; /* not using ems here as to subpixel issues 0.4em 0.7em */
  border-radius: 4px; 

  width: 1.28571429em;
}
.erp-edittable:before {
  font-family: FontAwesome;
  content:"\f040";
}
.erp-edittable:hover,
.erp-edittable:hover:active {
  box-shadow: var(--button-hover-box-shadow);

  --button-border:var(--button-hover-border);
  --button-foreground: var(--button-hover-foreground);
  --button-background-gradient: var(--button-hover-background-gradient);
}
.erp-button {
  padding:0;
  margin:0 1em 0 0;
}

input[type=button], 
input[type=submit], 
input[type=file]::file-selector-button, 
.foswikiSubmit, 
.foswikiButton,
.ui-button,
button.dt-button, div.dt-button, a.dt-button,
a.jqButton {
  transition: box-shadow 500ms ease, border 200ms ease; 
}

input[type=button]:hover, 
input[type=submit]:hover, 
input[type=file]::file-selector-button:hover, 
.foswikiSubmit:hover, 
.foswikiButton:hover,
.ui-button:hover,
.ui-button:hover:active,
button:hover.dt-button, div:hover.dt-button, a:hover.dt-button,
.jqButton:hover,
.jqButton:hover:active {
  box-shadow: var(--button-hover-box-shadow);
  border-color:var(--button-hover-border);
  color: var(--button-hover-foreground);
  background: var(--button-hover-background-gradient);
}
.jqButton:active,
input[type=button]:hover:active, 
input[type=submit]:hover:active, 
input[type=file]::file-selector-button:hover:active, 
.foswikiSubmit:hover:active, 
.foswikiButton:hover:active,
a.ui-button:active,
.ui-button:active,
.ui-button:hover:active,
.jqButton:hover:active {
  box-shadow: var(--button-active-box-shadow);
  border-color:var(--button-active-border);
  color: var(--button-active-foreground);
  background: var(--button-active-background-gradient);
}
input[type=button]:focus, 
input[type=submit]:focus, 
input[type=file]::file-selector-button:focus,
.foswikiSubmit:focus, 
.foswikiButton:focus,
.ui-button:focus,
.ui-button:focus:active,
button:focus.dt-button, div:focus.dt-button, a:focus.dt-button,
a.jqButton:focus {
  box-shadow: var(--button-focus-box-shadow);
  border-color:var(--button-focus-border);
  color: var(--button-focus-foreground);
  background: var(--button-focus-background-gradient);
}

.jqButtonIcon.img {
  padding-left:24px;
}
.jqButtonIcon.ti,
.jqButtonIcon.ma,
.jqButtonIcon.fa {
  margin-right:10px;
}
.jqButtonSimple {
  padding:0;
  background:transparent;
  border:0;
}
a.jqButtonSimple:focus,
span.jqButtonSimple:focus,
a.jqButtonSimple:active,
span.jqButtonSimple:active,
a.jqButtonSimple:hover:active,
span.jqButtonSimple:hover:active,
span.jqButtonSimple:hover,
a.jqButtonSimple:hover {
  box-shadow:none;
  color:var(--color-hover-foreground);
  background:transparent;
}

.dataTables_paginate .ui-button.ui-state-default:hover {
  box-shadow:none;
  color: var(--menu-hover-foreground, #fff); 
  background: var(--menu-hover-background, #b22);
}
.dataTables_paginate .ui-button.ui-state-active {
  box-shadow:none;
  color: var(--menu-active-foreground, #fff); 
  background: var(--menu-active-background, #b22);
}
table.dataTable tr.dtrg-group > td {
  color: var(--table-header-foreground);
  background-color: var(--table-header-background);
  border-top:1px solid var(--table-header-border);
  border-bottom:1px solid var(--table-header-border);
}
.foswikiStripes table.dataTable tr.dtrg-group > td,
table.dataTable.foswikiStripes tr.dtrg-group > td {
  color: var(--table-header-foreground);
  background-color: var(--table-header-background);
  border:0;
}
table.dataTable tbody>tr.selected, 
table.dataTable tbody>tr.selected>td, 
table.dataTable tbody>tr>.selected {
  background-color: var(--color-selected-background);
  color: var(--color-selected-foreground);
}

table.dataTable tr.dtrg-group td a {
  color: var(--table-header-foreground);
  font-weight:var(--font-weight-semi-bold);
}

/* icon colors */
.jqButtonIcon {
  color: var(--button-icon-color);
}

.jqButtonIcon.fa-check,
.jqButtonIcon.ti-check { color: var(--color-green, #5A9B51); }
.jqButtonHover .jqButtonIcon.ti-check,
.jqButtonHover .jqButtonIcon.fa-check { color:#129600; } /* TODO */

.jqButtonIcon.fa-times,
.jqButtonIcon.ti-x { color: var(--color-red, #F95253); }
.jqButtonHover .jqButtonIcon.ti-x,
.jqButtonHover .jqButtonIcon.fa-times { color:#ff2c2e; } /* TODO */

/* forms */
.natEditBottomBar {
  background:transparent;
}
input[type=search],
input[type=tel],
input[type=text],
input[type=password],
.foswikiInputField,
select.ui-pg-selbox,
select,
.foswikiSelect,
.foswikiTextarea,
textarea {
  font-size:var(--input-font-size);
  padding:5px 7px;
  color: var(--input-foreground);
  background-color: var(--input-background); 
  border: 1px solid var(--input-border);
  box-shadow: var(--input-box-shadow);
}
input[type=text].jqUIDatepicker {
  border-radius: 2px 0 0 2px;
}

select:disabled,
input:disabled,
textarea:disabled {
  color: var(--color-disabled-foreground);
}

.foswikiTextarea:focus, textarea:focus,
select.ui-pg-selbox:focus, /* jqgrid */
select:focus,
.foswikiSelect:focus,
input[type=search]:focus,
input[type=text]:focus,
input[type=tel]:focus,
input[type=password]:focus,
.foswikiInputField:focus {
  border-color: var(--input-focus-color);
}
input[type=text].jqFarbtastic {
  box-shadow:none;
}
fieldset,
.foswikiPageForm,
.foswikiFormSteps {
  border-radius:4px;
  border:1px solid var(--alt-border);
  box-shadow: var(--alt-box-shadow);
  color: var(--alt-foreground);
  background: var(--alt-background-gradient);
  transition: box-shadow 500ms ease, border 200ms ease; 
}

.ui-dialog .foswikiFormSteps, 
.foswikiMetaData .foswikiDataForm, 
.foswikiMetaData .foswikiAttachments, 
.foswikiMetaData .foswikiComments, 
.foswikiMetaData .foswikiAttachmentsProcess {
  background:transparent;
  box-shadow:none;
  color: var(--color-text);
}
.foswikiAttachmentsContainer {
  border-top: 1px solid var(--table-border);
  border-bottom: 1px solid var(--table-border);
}
pre {
  border:0;
}

/* tabpane */
ul.jqTabGroup a:hover, 
ul.jqTabGroup a {
  text-shadow:none;
}
.jqTabPaneDefault >.jqTabGroup a, 
.jqTabPanePlain >.jqTabGroup a, 
.jqTabPaneSimple >.jqTabGroup a {
  transition: box-shadow 500ms ease; 
  color: var(--tabpane-foreground);
}
.jqTab {
  border-color: var(--tabpane-border-color);
}
.jqTabPaneDefault .jqTabContents {
  padding:1em 0 0 0;
}

/*.jqTab,*/
.jqTabPaneDefault > .jqTabGroup li.current {
  background: var(--tabpane-current-background);
  color: var(--tabpane-current-foreground, var(--tabpane-foreground));
}
.jqTabPaneDefault .jqTab {
  border-left:0;
  border-right:0;
  border-bottom:0;
}
.jqTabPanePlain .jqTab {
  border-top-color: var(--tabpane-border-color);
}
.jqTabPaneDefault .jqTabGroup {
  font-size:var(--button-font-size);
}
.jqTabPaneDefault > .jqTabGroup li {
  background:none;
  height:auto;
  padding:0;
  margin-right:0.4em;
}
.jqTabPaneDefault > .jqTabGroup li a::before {
  font-family:FontAwesome;
  content:"\f0da";
  display:inline-block;
  position:absolute;
  top:50%;
  left:0.2em;
  margin-top:-0.7em;
  text-align:center;
  width:var(--margin);
}
.jqTabPaneDefault > .jqTabGroup li.current a::before {
  content:"\f0d7";
}
.jqTabPaneDefault > .jqTabGroup a,
.jqTabPaneDefault > .jqTabGroup a:hover {
  border: 1px solid var(--tabpane-border-color);
  background: var(--tabpane-background-gradient);
  color: var(--tabpane-foreground);
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  font-size:var(--button-font-size);
  font-weight: var(--font-weight-normal);
  height:auto;
  line-height:20px;
  padding:0.5em 1em 0.5em 1.8em;
  position:relative;
}
.jqTabPaneSimple > .jqTabGroup a,
.jqTabPanePlain > .jqTabGroup a {
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  border-color: var(--tabpane-border-color);
}
.jqTabPaneSimple > .jqTabGroup a,
.jqTabPanePlain > .jqTabGroup a, 
.jqTabPaneSimple > .jqTabGroup a:hover,
.jqTabPanePlain> .jqTabGroup a:hover {
  background: var(--tabpane-background);
  border-color: var(--tabpane-border-color);
  padding:0.4em 1em;
}
.jqTabPaneDefault >.jqTabGroup a:hover, 
.jqTabPanePlain >.jqTabGroup a:hover, 
.jqTabPaneSimple >.jqTabGroup a:hover {
  color: var(--tabpane-foreground);
  box-shadow: 0px -2px 15px -5px rgba(0, 0, 0, .3);
  border-top-color:  var(--tabpane-hover-border-color, #6fa4d8);
  border-left-color: var(--tabpane-hover-border-color, #6fa4d8);
  border-right-color: var(--tabpane-hover-border-color, #6fa4d8);
}
.jqTabPaneDefault > .jqTabGroup li.current a {
  background: var(--tabpane-current-background);
  color: var(--tabpane-current-foreground, var(--tabpane-foreground));
  border-bottom:1px solid var(--tabpane-current-background);
}
.jqTabPanePlain > .jqTabGroup li.current a, 
.jqTabPaneSimple > .jqTabGroup li.current a {
  background: var(--tabpane-current-background);
  color: var(--tabpane-current-foreground, var(--tabpane-foreground));
  border-bottom-color: var(--tabpane-current-background);
}
.jqTabPaneDefault > .jqTabGroup li.current a:hover, 
.jqTabPanePlain > .jqTabGroup li.current a:hover,
.jqTabPaneSimple > .jqTabGroup li.current a:hover {
  box-shadow:none;
  border-top-color: var(--tabpane-border-color);
  border-left-color: var(--tabpane-border-color);
  border-right-color: var(--tabpane-border-color);
}
.jqTabPaneDefault > .jqTabGroup li.current a:hover, 
.jqTabPaneDefault > .jqTabGroup li.current a {
  background:none;
  height:auto;
  color: var(--tabpane-foreground);
}
.ui-dialog .jqTabPaneDefault >.jqTabGroup li.current a, 
.ui-dialog .jqTabPanePlain >.jqTabGroup li.current a, 
.ui-dialog .jqTabPaneSimple>.jqTabGroup li.current a {
  background:var(--ui-dialog-background);
  border-bottom-color:var(--ui-dialog-background);
}

.jqListyItemTools {
  background: var(--color-background);
}

@media screen and (max-width:1260px) {
  .natUserActions .natAccountAction .natTopicActionShortLabel {
    display:none;
  }
  .natBody .natTopBarContents {
    width:auto;
  }
  .natBody .natTopBarContents,
  .natBody .natBannerContents,
  .natBody .natTopPanelContents,
  .natBody .natBottomBarContents,
  .natBody .natMiddle {
    padding-left:1em;
    padding-right:1em;
  }
  .natBody .natTopBarContents,
  .natBody .natTopPanelContents,
  .natBody .natBottomBarContents,
  .natBody .natBannerContents,
  .natBody .natMiddle {
    width:auto;
    margin-left:0;
    margin-right:0;
  }
}
@media screen and (max-width:1024px) {
  .natLangSwitcher {
    display:none;
  }
  .natTopBar .natLangs {
    right:25px;
  }
  .natBody .natBannerContents {
    padding-top:0;
  }
  .natTopBar .natUserActions {
    display:none;
  }
  .natMainHeaderContents .natNewAction,
  .natMainHeaderContents .natLoginAction {
    display:inline;
  }
  .natTopicActions .natTopicAction,
  .natTopicActions .natTopicAction:hover {
    margin-left:8px;
  }
}
@media screen and (max-width: 800px) {
  .natLoginHeading {
    padding:0 0 1em;
  }
  .natLogin,
  .natLoginBanner .natLogin {
    border-radius:0;
    border:0;
    box-shadow:none;
    width:auto;
    position:initial;
    margin:0;
    padding:1rem 2rem;
  }
  .natLogin .foswikiFormButtons {
    display:flex;
    flex-wrap:wrap;
  }
  .natLogin .foswikiFormButtons .jqButton {
    flex-grow:1;
    margin-bottom: 1em;
  } 
  .natEditBody .natEditBottomBar .jqButtonText {
    display:none;
  }
  .natEditBody .natEditBottomBar .jqButtonIcon {
    padding-left:20px;
  }
  .natLogin .foswikiFormStep {
    margin-left:0 !important;
    margin-right:0 !important;
  }
}
@media screen and (max-width: 600px) {
  .natBreadCrumbs,
  .DISnatUserActions .natUserAction {
    display:none;
  }
  .natMainContents {
    margin-top:0;
  }
  .natUserActions {
    margin-right:30px;
  }
  .natEditBody .natEditTitle,
  .natEditBody .ui-natedit-align-buttons,
  .natEditBody .ui-natedit-list-buttons,
  .natEditBody .ui-natedit-insert-object-buttons,
  .natEditBody .ui-natedit-more-insert-buttons,
  .natEditBody .ui-natedit-tools-buttons,
  .natEditBody .natEditForceNewRevision {
    display:none;
  }
  .natEditBody .jqTabPaneDefault>.jqTabGroup a, 
  .natEditBody .jqTabPaneDefault>.jqTabGroup a:hover {
    font-size:12px;
  }
  .foswikiGrid h2 {
    margin-top:2em;
  }
}

@media screen and (max-width: 500px) {
  .natWebTitle {
    margin-bottom:0.75em;
  }
}
@media print {
  .natBody .natBannerContents,
  .natBody .natTopPanelContents,
  .natBody .natTopBarContents,
  .natBody .natMiddle,
  .natBody .natBottomBarContents {
    width: 100%;
  }
}
