attic
*.gz
*.swp
*,v
*.jslint
genpdf_*
igp_*
*~
pub/System/NatSkin/build

pub/System/CustomatoTheme/build

pub/System/MatterTheme/build
pub/System/MatterTheme/*.git/

pub/System/JazzyNoteTheme/build
pub/System/JazzyNoteTheme/GreenVariation.css
pub/System/JazzyNoteTheme/JazzyNoteStyle.css
pub/System/JazzyNoteTheme/RedVariation.css

/NatSkin.md5
/NatSkin.sha1
/NatSkin.tgz
/NatSkin.txt
/NatSkin.zip
/NatSkin_installer
/NatSkin_installer.pl
locale/**/*.mo

