:root {
  /* Colors for data series and points.*/
  --highcharts-color-0: #7cb5ec;
  --highcharts-color-1: #434348;
  --highcharts-color-2: #90ed7d;
  --highcharts-color-3: #f7a35c;
  --highcharts-color-4: #8085e9;
  --highcharts-color-5: #f15c80;
  --highcharts-color-6: #e4d354;
  --highcharts-color-7: #2b908f;
  --highcharts-color-8: #f45b5b;
  --highcharts-color-9: #91e8e1; 

  /* Chart background, point stroke for markers and columns etc */
  --highcharts-background-color: var(--color-background);

  /* Neutral colors, grayscale by default. The default colors are defined by mixing the
     background-color with neutral, with a weight corresponding to the number in the name. */
  --highcharts-neutral-color-100: #000000; /* Strong text. */
  --highcharts-neutral-color-80: var(--color-foreground); /* Main text and some strokes. */
  --highcharts-neutral-color-60: var(--color-text); /* Axis labels, axis title, connector fallback. */
  --highcharts-neutral-color-40: #999999; /* Credits text, export menu stroke. */
  --highcharts-neutral-color-20: #cccccc; /* Disabled texts, button strokes, crosshair etc. */
  --highcharts-neutral-color-10: var(--color-border); /* Grid lines etc. */
  --highcharts-neutral-color-5: #f2f2f2; /* Minor grid lines etc. */
  --highcharts-neutral-color-3: #f7f7f7; /* Tooltip backgroud, button fills, map null points. */

  /* Colored, shades of blue by default */
  --highcharts-highlight-color-100: #003399; /* Drilldown clickable labels, color axis max color. */
  --highcharts-highlight-color-80: #335cad; /* Selection marker, menu hover, button hover, chart border, navigator series. */
  --highcharts-highlight-color-60: #6685c2; /* Navigator mask fill. */
  --highcharts-highlight-color-20: #ccd6eb; /* Ticks and axis line. */
  --highcharts-highlight-color-10: #e6ebf5; /* Pressed button, color axis min color. */

  /* Fonts */
  --highcharts-font-family: var(--font-family);
  --highcharts-title-font-size: 1.5em;
  --highcharts-subtitle-font-size: 1em;
  --highcharts-legend-font-size: 1em;
  --highcharts-axis-labels-font-size: 0.9em;

  /* Tooltip */
  --highcharts-tooltip-border: 1px;
  --highcharts-tooltip-background: var(--highcharts-neutral-color-3);
  --highcharts-tooltip-foreground: var(--color-foreground);

  /* Axes */
  --highcharts-xaxis-grid-line: 1px;

  /* Range-selector */
  --highcharts-range-selector-button-border: 0px;
  --highcharts-range-selector-input-text: var(--highcharts-neutral-color-80);
  --highcharts-range-selector-input-border: var(--highcharts-neutral-color-20);

  /* Data-labels */
  --highcharts-data-label-color: var(--highcharts-neutral-color-80);

  /* Buttons */
  --highcharts-context-button-background: var(--highcharts-background-color);

  --highcharts-button-background: var(--highcharts-neutral-color-3);
  --highcharts-button-border: var(--highcharts-neutral-color-20);
  --highcharts-button-text:  var(--highcharts-neutral-color-80);

  --highcharts-button-pressed-background: var(--highcharts-highlight-color-10);
  --highcharts-button-pressed-border: var(--highcharts-neutral-color-20);
  --highcharts-button-pressed-text:  var(--highcharts-neutral-color-80);

  --highcharts-button-hover-background: var(--highcharts-neutral-color-10);
  --highcharts-button-hover-border: var(--highcharts-neutral-color-20);
  --highcharts-button-hover-text:  var(--highcharts-neutral-color-80);

  /* Navigator */
  --highcharts-navigator-series-fill: var(--highcharts-highlight-color-80);
  --highcharts-navigator-series-border: var(--highcharts-highlight-color-80);

  /* Scrollbar */
  --highcharts-scrollbar-track-background: var(--highcharts-neutral-color-5);
  --highcharts-scrollbar-track-border: var(--highcharts-neutral-color-5);

  /* Indicators */
  --highcharts-positive-color: #06b535; /* Positive indicator color */
  --highcharts-negative-color: #f21313; /* Negative indicator color */
}
:root[data-theme='dark'] {
  --highcharts-neutral-color-100: #fff; /* Strong text. */
  --highcharts-tooltip-foreground: var(--color-background);
}
