/* reset *********************************************************************/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote,
body, button, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div,
dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2,
h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label,
legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q,
rp, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup,
table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, xmp {
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  outline: 0;
  background: transparent;
}

html {
  font: 13px/18px 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
  overflow-y: scroll; /* force a vertical scrollbar to prevent a jumpy page */
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section {
/*
  Override the default (display: inline) for
  browsers that do not recognize HTML5 tags.

  IE8 (and lower) requires a shiv:
  http://ejohn.org/blog/html5-shiv
*/
  display: block;
}

b,
strong {
/*
  Makes browsers agree.
  IE + Opera = font-weight: bold.
  Gecko + WebKit = font-weight: bolder.
*/
  font-weight: bold;
}

ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

table {
  border-collapse:collapse;
  border-spacing: 0;
}

img {
  color: transparent;
  vertical-align:text-bottom;
  border:0px;
  /* For IE.  http://css-tricks.com/ie-fix-bicubic-scaling-for-images */
  -ms-interpolation-mode: bicubic;
}

/* For IE6 + IE7.  */
li {
  display: list-item;
}

/* For IE9.  */
svg {
  overflow: hidden;
}

label, input, textarea, select, body, button { 
  vertical-align:middle;
  line-height:1.3846em;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a:active,
:focus {
  outline:0;
}

pre {
  overflow-x:auto;
  overflow-y:hidden;
  margin:0em 0em 1em 0em;
}

/* fix scrollbars in ie7 */
*:first-child+html 
pre {
  padding-bottom:1.5em;
  margin:0px;
}

.hr:before, hr:before {
  clear:both;
}
.hr, hr {
  border:0px;
  padding:0px;
  border-bottom:1px solid black;
  margin:1.3846em 0em 1.3077em;
}

/* typography ****************************************************************/
pre, code, textarea {
  line-height:1.3846em;
  font-family:"Bitstream Vera Sans Mono", "Andale Mono", monospace;
}

.natBody .natEdit {
  font-size:0.923em; /* 12px */
  line-height: 1.5em; /* 18px */ 
}
.natBody .natEdit textarea, .natEditTextArea {
  font-size:1em; /* 12px */
}

p { 
  font-size: 1em; /* 13px */ 
  line-height: 1.3846em; /* 18px */ 
  margin:1.3846em 0em 0em 0em; 
}

/* not supported by foswiki 
p + p {
  text-indent:1.5em;
  margin-top:0;
}
*/

blockquote {
  border-top:1px solid #ddd;
  border-left:4px solid #ddd;
  margin:1.3846em 0em 1.3846em 1.3846em; /* 18px 0px 18px 18px */
  padding:1.3076em 0 1.3846em 1.3846em; /* 17px 0 18px 18px */
}

.foswikiCite {
  font-style:italic;
}

.blogEntry blockquote,
.foswikiBlockCite {
  font-style:italic;
  border:0px;
  margin:1.3846em 0em; /* 18px 0px */
  padding:0px 0px 0px 30px;
  background:url(icons/quote.png) no-repeat;
}

.foswikiBlockCite .foswikiCiteChar {
  display:none;
}

.blogEntry h2,
h1 { 
  font-size: 1.6923em; /* 22px */ 
  line-height: 1.0909em; /* 24px */
  margin:0.5454em 0em 0.8181em; /* 12px 0 18px*/
}

h2 { 
  margin-top:1em; 
  font-size: 1.3846em; /* 18px */ 
  line-height: 1em; /* 18px */ 
  margin-bottom:1em; 
}
h3 { 
  font-size: 1.2308em; /* 16px */ 
  line-height: 1.125em; /* 18px */ 
  margin-top: 1.125em; 
  margin-bottom: 1.125em; 
}
h4 { 
  font-size: 1.1538em; /* 15px */ 
  line-height: 1.2em; /* 18px */ 
  margin-top: 1.2em; 
  margin-bottom: 0em; 
}
h5 { 
  font-size: 1em; /* 14px */ 
  line-height: 1.2857em; /* 18px */ 
  margin-top: 1.2857em; 
}
h6 { 
  font-size: 1em; /* 13px */ 
  line-height: 1.5em; /* 18px */ 
  margin-top: 1.5em; 
  margin-bottom: 0em; 
}


h1, h2, h3, h4, h5, h6 {
  font-weight:normal;
}


/* form **********************************************************************/
input[type=radio],
input[type=checkbox],
.foswikiCheckbox {
  margin:0px 3px 0px 0px;
}
label input[type=radio],
label input[type=checkbox],
label .foswikiCheckbox {
  -webkit-margin-after:4px !important; /* layout fix for chrome */
}
input:-webkit-autofill {
  background:inherit !important; /* SMELL: does not work */
}

.natTopicEditForm .natTopicFormTitle {
  text-align:center;
}
.natTopicEditForm {
  clear:both;
}

.natTopicEditForm table {
  width:100%;
  border-collapse:collapse;
}
.foswikiPageForm table table {
  border:0px;
}

.natTopicFormLabel {
  margin-top:3px;
  margin-bottom:3px;
}
.natTopicAttachments .natTopicAction:hover,
.natTopicAttachments .natTopicAction {
  float:right;
}
.natTopicAttachments .natTopicAction span {
  display:none;
}
.natTopicAttachments h2 {
  clear:none;
}

fieldset {
  padding:0em 0.5em 0.5em;
  border:1px #ccc solid;
}
legend {
  margin:0em 1.3em;
  font-size:100%;
  font-weight:bold;
}
.foswikiFormSteps .hr,
.foswikiFormSteps hr {
  margin:1em 0em;
}
.foswikiFormLast {
  margin-bottom:0em;
}
.foswikiFormSteps h2,
.foswikiFormSteps h3,
.foswikiFormSteps h4 {
  font-weight:bold;
}
.foswikiFormStep p {
  margin:0.35em 0em;
}
.foswikiFormOptions {
  margin:0.35em 0em;
  line-height:160%;
}
.foswikiFormSteps .foswikiFormButtons {
  margin-top:1.5384em; /* 20px */
}
.foswikiFormOptions .foswikiCheckbox {
  margin:4px 3px 3px 3px;
}
.foswikiFormButtons input {
  padding:3px 5px;
}
.foswikiFormLegend,
.foswikiFormDescription {
  margin:0.1em 0em;
}


.foswikiErrorSummary,
.error {
  color:red;
  line-height:normal;
}
label.error,
span.foswikiErrorSummary {
  padding:0em 0em 0em 1.0em;
}
div.error,
div.foswikiErrorSummary {
  padding:1em 0em;
}

/* grid **********************************************************************/
.showgrid-40x18 {
  background:transparent url(grid-40x18.png) repeat scroll 0 0 !important;
}

/* DEPRECATED grid: use new foswiki grid definitions below */
.natCols1, .natCols2, .natCols3, .natCols4, .natCols5, .natCols2v1, .natCols1v2 { 
  overflow: hidden; 
  height: 100%; 
  clear: both; 
}

/* border */
.natCols1 .border, 
.natCols2 .border, 
.natCols3 .border, 
.natCols4 .border, 
.natCols5 .border, 
.natCols2v1 .border, 
.natCols1v2 .border { 
  border-right:1px solid #ddd;
  padding-right:1.9%;
  margin-right:1.9%;
}

/* columns */
.natCol1, .natCol2, .natCol3, .natCol4, .natCol5 { 
  float:left; 
  height: 100%; 
  margin-right: 4%;
}

.natCols2 .natCol1, 
.natCols2 .natCol2 { width: 48%; }
.natCols2 .natCol2 { float: right; margin-right: 0 !important; }

.natCols3 .natCol1,
.natCols3 .natCol2,
.natCols3 .natCol3 { width: 30%; }
.natCols3 .natCol3 { margin-right: 0 !important; }

.natCols4 .natCol1,
.natCols4 .natCol2,
.natCols4 .natCol3,
.natCols4 .natCol4 { width: 21%; }
.natCols4 .natCol4 { margin-right: 0 !important; }

.natCols5 .natCol1,
.natCols5 .natCol2,
.natCols5 .natCol3,
.natCols5 .natCol4,
.natCols5 .natCol5 { width: 16%; }
.natCols5 .natCol5 { margin-right: 0; }

.natCols2v1 .natCol1 { width: 64%; }
.natCols2v1 .natCol2 { width: 30%; margin-right: 0 !important; }

.natCols1v2 .natCol1 { width: 30%; }
.natCols1v2 .natCol2 { width: 64%; margin-right: 0 !important; }

/* foswiki grid **************************************************************/
.foswikiGrid:before, 
.foswikiGrid:after,
.foswikiRow:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.foswikiCol1, .foswikiCol2, .foswikiCol3, .foswikiCol4, .foswikiCol5,
.foswikiCol6, .foswikiCol7, .foswikiCol8, .foswikiCol9, .foswikiCol10,
.foswikiCol11, .foswikiCol12 {
  float:left; 
  height: 100%; 
  margin-right: 4%;
}

.foswikiGrid .border {
  border-right:1px solid #ddd;
  padding-right:1.9%;
  margin-right:1.9%;
}

.foswikiCol1 { width:4.6667%; }
.foswikiCol2 { width:13.3333%; }
.foswikiCol3 { width:22%; }
.foswikiCol4 { width:30.6667%; }
.foswikiCol5 { width:39.3333%; }
.foswikiCol6 { width:48%; }
.foswikiCol7 { width:56.6667%; }
.foswikiCol8 { width:65.3333%; }
.foswikiCol9 { width:74%; }
.foswikiCol10 { width:82.6667%; }
.foswikiCol11 { width:91.3333%; }
.foswikiCol12 { width:100%; }

.foswikiRow {
  margin-bottom:1.3846em; /* 18px */
}
.foswikiRow.last {
  margin-bottom:0px;
}

.foswikiCol12:after,
.foswikiGrid .last:after {
  clear: both;
}

.foswikiGrid .last {
  margin-right:0;
  border-right:0px;
  padding-right:0px;
}

/* foswiki base **************************************************************/
a, .foswikiEmulatedLink,
a:hover, .foswikiEmulatedLink:hover,
h1 .foswikiEmulatedLink, h2 .foswikiEmulatedLink, h3 .foswikiEmulatedLink,
h4 .foswikiEmulatedLink, h5 .foswikiEmulatedLink, h3 .foswikiEmulatedLink,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:hover, h2 a:hover, h3 a:hover,
h4 a:hover, h5 a:hover, h6 a:hover {
  text-decoration:none;
}

.foswikiLeft {
  float:left;
  position:relative;
}
.foswikiRight {
  position:relative;
  float:right;
  display:inline;
  margin:0;
}

.foswikiImage a,
.foswikiImage a:hover {
  background-color:transparent;
}
.foswikiImage img {
  padding:3px;
  border-width:1px;
  border-style:solid;
  border-color:#eee;
  background-color:#fff;
}

/* http://sonspring.com/journal/clearing-floats */
.clear,
.foswikiClear {
  clear:both;
  display:block;
  height:0px;
  line-height:0px;
  margin:0;
  padding:0;
  visibility: hidden;
  /* DISABLED: 
     the div containing the floats does seem to lose its margins see WebCreateNewTopic
   */
  /*
  overflow: hidden;
  width: 0; 
  */
}
/* IE7 fix */
*:first-child+html .clear,
*:first-child+html .foswikiClear { 
  display:block !important;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */
.clearfix:after,
.foswikiClearFix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

* html .clearfix,
* html .foswikiClearFix {
  height: 1%;
}

.foswikiHidden {
  display:none;
}
.foswikiNormal {
  font-size:13px;
}
.foswikiSmall {
  font-size:0.7692em;  /* 10px */
}
.foswikiSmallish {
  font-size:0.923em; /* 12px */
}

.foswikiFormSteps .foswikiNullTable,
.foswikiFormSteps .foswikiNullTable td,
.foswikiFormSteps .foswikiNullTable th,
.foswikiPageForm .foswikiNullTable,
.foswikiPageForm .foswikiNullTable td,
.foswikiPageForm .foswikiNullTable th,
.foswikiNullTable,
.foswikiNullTable td,
.foswikiNullTable th {
  padding:0px;
  margin:0px;
  border:0px;
  border-collapse:separate;
}

.foswikiFormSteps .foswikiLayoutTable td,
.foswikiFormSteps .foswikiLayoutTable th,
.foswikiLayoutTable td,
.foswikiLayoutTable th {
  padding:0.1538em 0.5769em 0.1538em 0em;
}

.foswikiGrayText {
  color:#8E9195;
}
.foswikiGrayText a {
  color:#7B7E81;
}

.foswikiNewLink {
  color:blue;
  background:#eeeeee;
}

.foswikiAlert {
  color:red;
}
.foswikiBroadcastMessage {
  text-align:left;
  background:yellow;
  color:black;
  border-bottom:2px solid orange;
  padding:0.5em 1em;
}
.foswikiBroadcastMessage .foswikiLink,
.foswikiBroadcastMessage a {
  color:red;
}
.foswikiBroadcastMessage .foswikiLink:hover,
.foswikiBroadcastMessage a:hover {
  color:black;
  background:orange;
}


/* search */
.natSearchRenameContents {
  width:100%;
  padding:5px;
}
.natSearchRenameContents table {
  width:100%;
}
.natSearchRenameContents .foswikiTopRow {
  white-space:pre;
  text-align:left;
  vertical-align:top;
  padding:5px;
}
.natSearchRenameContents .foswikiSummary {
  padding:5px;
  text-align:left;
  vertical-align:top;
}
.natSearchHit {
  margin:1em 0em 2em;
}
.natSearchTarget {
  text-decoration:underline;
}
.natSearchSummary {
  line-height:normal;
}
.natSearchTotal {
  margin:1em 0em;
}
.natSearchTotal span {
  color:red;
}
.natSearchFormOptions td {
  padding:0px 5px 0px 0px;
}
.natSearchString {
  font-weight:bold;
  color:red;
}
.foswikiNew {
  text-transform:lowercase;
}
.foswikiNew,
.natSearchNewTopic {
  color:red; 
  font-style:italic;
}

/* diff */
.natDiffTable {
  width:100%;
}

/* oops styles */
.natErrorMsg {
  border:1px solid #aaaaaa;
  padding:5px;
  margin-top:2ex;
  margin-bottom:2ex;
  font-family:"Bitstream Vera Sans Mono", "Andale Mono", monospace;
  color:red;
}

.natMain .natOopsHeading {
  color:red;
}

.natLoginHeading,
.natNoteHeading {
  color:green;
  margin-top:0px;
}
.natOkButton {
  color:green;
}
.natAltButton {
  color:blue;
}
.natCancelButton {
  color:red;
}

.natButtonBox {
  margin:1em;
}

/* topic actions */
.natBreadCrumbs {
  font-size:0.923em; /* 12px */
  line-height:1.5em; /* 18px */
}
.natViewBody .natBreadCrumbs {
  margin-right:280px;
}
.natBodyNotAuthenticated .natBreadCrumbs {
  margin-right:100px;
}
.natBodyNotAuthenticated .natTopicAttachments .natTopicActions {
  display:none;
}
.natGreeter {
  white-space:nowrap;
}
.natUserGreeter {
  padding:2px 0px;
}
.natTopicActions {
  float:right;
  font-size: .923em;
}
.natTopicActions .natUserAction span,
.natTopicActions .natTopicAction span {
  padding:0em 0.1em 0em 0.5em;
}
.natTopicActions .natMoreActionsMenu ul li .natTopicAction span {
  padding:0px;
}
.natTopicActions .natSep {
  display:none;
}
.natTopicActions .natUserAction,
.natTopicActions .natUserAction:hover,
.natTopicActions .natTopicAction,
.natTopicActions .natTopicAction:hover {
  display:inline;
  border:1px solid #fff;
  padding:3px;
  margin:-4px -4px -4px 6px;
  float:left;
  white-space:nowrap;
  text-decoration:none;
}
.natTopicActions .natMoreActionsMenu ul li .natTopicAction,
.natTopicActions .natMoreActionsMenu ul li .natTopicAction:hover {
  float:none;
  border:0px;
}
.natMoreActionsMenu img,
.natTopicActions img {
  vertical-align:text-bottom;
  width:1.3333em; /* 16px */
  max-width:16px;
}

.natDisabledTopicAction ,
.natDisabledUserAction,
.natDisabledTopicAction {
  display:none !important;
}
.natHistoryTopicActions .natDisabledTopicAction {
  display:inline !important;
}

.natHistoryAction {
  margin-right:1em;
}
.natHistoryTable a {
  text-decoration:none;
}
.foswikiFormSteps .natHistoryTable td {
  padding:2px 0.5769em 2px 5px; /* 7px */
}
.foswikiFormSteps .natHistoryTable th {
  padding:2px 0.5769em 2px 5px; /* 7px */
  border-bottom:1px solid #ddd;
}

#simplemodal-container .natHistoryTable .selected,
.natHistoryTable .selected {
  background-color:#eee;
}
#simplemodal-container a.simplemodal-close {
  background:url(icons/x.png) no-repeat;
  width:16px;
  height:16px;
  top:1.3846em; /* 18px */
  right:1.3846em; /* 18px */
}
#simplemodal-container a:hover.simplemodal-close {
  background-position:-16px 0px;
}

.natBacklinks .fltMakeIndexWrapper {
  margin:0px;
}
.foswikiDialog .natChildTopicsContainer,
.foswikiDialog .natBacklinksContainer {
  height:25em;
  overflow-x:auto;
}

/* helpers */
.natUserAction {
  padding:1px 2px;
}

.natUserAction img {
  border:0;
  vertical-align:text-bottom;
  width:1.2308em; /* 16px */
  max-width:16px;
}
.natUserAction span {
  padding-left:0.1538em; /* 2px */
}

.natAction {
  color:red;
  text-transform:capitalize;
  font-weight:bold;
}
.natCurrentAction {
  font-weight:bold;
}
.natCurrentAction,
.natEditAction a,
.natPreviewAction a,
.natSaveAction a,
.natDoneAction a,
.natFormAction a,
.natUndoAction a,
.natCancelAction a {
  border:1px solid #cccccc;
  margin:2px 5px 2px 0;
  padding:2px 5px;
}

/* attachments */
.natTopicAttachments {
  clear:both;
}
.natTopicAttachments table {
  width:100%;
}
.natTopicAttachments td {
  vertical-align:top;
}
.natAttachmentIcon {
  width:20px;
}
.natAttachmentActions {
  width:100px; /* SMELL */
  text-align:right;
}

.natSkinStyleBrowser {
  width:220px; /* SMELL */
}

.natSideBar .natSkinStyleBrowser ul,
.natMain .natSkinStyleBrowser ul {
  padding-left:0px;
  margin:0px 0px 10px 0px;
  padding-left:0px;
  list-style: none;
}
.natSideBar .natSkinStyleBrowser ul li,
.natMain .natSkinStyleBrowser ul li {
  background-image:inherit;
  list-style:none;
  padding-left:0px;
  margin-left:0px;
}

.natSkinStyleBrowser table,
.natSkinStyleBrowser select {
  width:100%;
}
.natSkinStyleBrowser td {
  vertical-align:top;
}


.natSideBar a.natFeedIcon:hover,
a.natFeedIcon:hover {
  background:#eee url("icons/feed-icon-12x12.png") 0px -14px no-repeat !important;
  text-decoration:none !important;
  color:#444 !important;
  border:2px solid #eee;
}
a.natFeedIcon {
  background:url("icons/feed-icon-12x12.png") 0px 0px no-repeat !important;
  text-decoration:none !important;
  color:#444;
  padding:1px 0px 0px 15px;
  margin:0px;
  border:2px solid #fff;
}
.natFeedIcon {
  font-size:9px;
}
.natSideBar a.natFeedIcon {
  background:none;
  padding:1px 0px 0px 15px;
  color:#444;
}


.foswikiSuccessMessage,
.foswikiErrorMessage,
.foswikiWarningMessage,
.foswikiTipMessage {
  padding:0.6154em 1.3846em 0.6154em 3.0769em; /* 8px 18px 8px 40px */
  background-repeat:no-repeat;
  background-position:1.1111em 0.6154em;
  border:1px solid;
}
.foswikiSuccessMessage {
  background-image:url(../FamFamFamSilkIcons/tick.png);
  background-color:#EFFFD8;
  border-color:#D4F6A8;
  color:#599E00;
}
.foswikiSuccessMessage a {
  color:#477D00;
}
.foswikiErrorMessage {
  background-image:url(../FamFamFamSilkIcons/exclamation.png);
  background-color:#FBE3E4;
  border-color:#FBC7C9;
  color:#b22222;
}
.foswikiErrorMessage a {
  color:#9E1D1D;
}
.foswikiWarningMessage {
  background-image:url(../FamFamFamSilkIcons/error.png);
  background-color:#FFF6BF;
  border-color:#FDD845;
  color:#7B765C;
}
.foswikiWarningMessage a {
  color:#605C48;
}
.foswikiTipMessage {
  background-image:url(../FamFamFamSilkIcons/lightbulb.png);
  background-color:#DEEBFA;
  border-color:#A3D9FD;
  color:#005884;
}
.foswikiTipMessage a {
  color:#004568;
}

/* diff */
.foswikiDiffTable {
  border:1px solid #ccc;
  margin-bottom:2em;
  width:100%;
}
.foswikiDiffTable table {
  border:0px;
}

.foswikiDiffTable td {
  border:0px;
}

.foswikiDiffTable th {
  background:#dddddd;
}
.foswikiDiffLineNumberHeader th {
  background:#eeeeee;
}

td.foswikiDiffChangedHeader,
td.foswikiDiffAddedHeader {
  background:#D0FFD0;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
}
.foswikiDiffAddedMarker {
  background:#aaaadd;
}
.foswikiDiffAddedText {
  background:#ccccff;
}
.foswikiDiffChangedMarker,
.foswikiDiffChangedText {
}

.foswikiDiffDeletedHeader { }

.foswikiDiffDeletedMarker {
  background:#dd7777;
}
.foswikiDiffDeletedText {
 background:#ff9999;
}

td.foswikiDiffChangedText {
  color:red;
}
.foswikiWebIndent {
  margin:0 0 0 1em;
}

/* TOC */
.foswikiToc {
  margin-top:5px;
  margin-bottom:5px;
  padding-top:5px;
  padding-bottom:5px;
}

/* see also page.nat.tmpl */
.natMiddle .natExternalLink:after {
  margin-left:3px;
  margin-right:3px;
  content:url("external.png");
}


/* custom styles */
.alt {
  background: #f8f8f8;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin:1.3846em 0em; /* 18px 0px */
  padding:1.3076em 1.3846em; /* 17px 18px */;
}
.alt h2 {
  border:0px;
}
.overflow {
  overflow-x:auto;
  overflow-y:hidden;
  padding:1px;
  margin:-1px -1px -1px 0px;
}

/* fix scrollbars in ie7 */
*:first-child+html 
.overflow {
  padding:0px 0px 1.2em 0px;
  margin:0px;
}

.block {
  display:block;
}
.center {
  display: table;
  margin-left:auto;
  margin-right:auto;
}

img.center {
  margin-left:auto;
  margin-right:auto;
  display: block;
  margin-top:3px;
  margin-bottom:3px;
}

img.alignright {
  padding: 3px;
  margin-left:7px;
  float:right;
}

img.alignleft {
  padding: 3px;
  margin-right:7px;
  float:left;
}

/* twisty plugin */
.twistyTrigger img {
  padding:0px;
  margin:0px;
  vertical-align:bottom;
  position:relative;
}
.twistyTrigger a {
  text-decoration:none;
}

/* image plugin */
.imageFloat .natExternalLink:after,
.imageFrame .natExternalLink:after,
.imageFloat a:after,
.imageFrame a:after {
  content:"";
  margin:0px;
}
.imageFloat .natExternalLink:hover,
.imageFrame .natExternalLink:hover,
.imageFloat a:hover,
.imageFrame a:hover {
  text-decoration:none !important;
}

.natSideBar li .imagePlain_right {
  margin:2px 0px 7px 7px;
}
.natSideBar li .imagePlain_left {
  margin:2px 7px 7px 0px;
}

/* math mode plugin */
.mmpImage {
  vertical-align:middle;
}

/* WikiWorkbench basics */
.twbPageNavigation {
  margin:0.5em 0em;
}
.twbPageNavigation a {
  font-weight:bold;
}

/* jquery treeview */
.natSideBar .jqTreeview ul > li:before { 
  content:"";
}

.natSideBar .jqButtonSimple span,
.natSideBar .jqButton.simple span {
  text-decoration:none;
}

/* tooltips */
.imgTooltip {
  background:white;
  padding:5px;
  border:1px solid #ddd;
}

/* compare revisions addon */
.craCompareAdd {
  background-color:#cfc;
}
.craCompareChange2 {
  background-color:#cfc;
}
.craCompareDelete {
  background-color:#fcc;
  text-decoration:line-through;
}
.craCompareChange1 {
  background-color:#fcc;
  text-decoration:line-through;
}
table.craSideBySide {
  border:none;
  border-collapse:collapse;
}
table.craSideBySide .craCell {
  vertical-align:top;
  width:50%;
  padding:6px;
}
.craTableCellSeparator {
  width:1px;
  background-color:#666;
}

/* filter plugin */
.fltMakeIndexWrapper {
  margin:1em 0em;
}
.fltMakeIndexWrapper a {
  text-decoration:none;
}
.fltAnchors {
  margin:1.5em 0em 1.0em -0.2em;
}
.fltMakeIndexWrapper .fltAnchors a {
  padding:0.1em 0.2em;
  margin:0px;
}
.fltMakeIndexWrapper h2 {
  margin-top:0px;
}
.fltMakeIndexWrapper h3 {
  font-weight:bold;
  border:0px;
  margin:0em;
  padding:0px;
}
.fltMakeIndexWrapper table td ul {
  list-style-type:none;
  padding:0px;
  margin:0em 1em 1.125em 0em;
}
.fltMakeIndexWrapper li {
  padding:0;
  margin:0;
}
.fltLayoutTable {
  margin:0em;
  width:99%;
}
.fltMakeIndexWrapper table td {
  width:25em;
}
.fltMakeIndexWrapper .foswikiTopicInfo {
  margin:0px;
}
.fltMakeIndexWrapper .redDot a {
  display:inline !important;
}

.fltMakeIndexWrapper .clsSubCategories {
  display:inline;
  margin-top:0.2em;
  margin-bottom:0.2em;
}

/* classification plugin */
h1 .foswikiTopicSummary {
  display:block;
}

.clsMakeIndexWrapper ul li {
  border-bottom:1px solid #eee;
  padding:0em 0em 0.5em 0em;
  margin:0em 0em 1em 0em;
}

/* tinymce */
.mceContentBody {
  margin:0.5em;
}

.natBottomActions {
  margin-bottom:30px;
}
.natBottomActions h4 {
  margin:0px;
}
.natBottomBar ul {
  list-style-type:none;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
}
.natBottomActions li a img {
  display:none; /* switch off icons of topic actions */
}

.foswikiShowOnPrint,
.foswikiShowBlockOnPrint,
.foswikiShowInlineOnPrint {
  display:none;
}

/* metadata */
.natAttachBody .foswikiMetaData {
  margin-top:0px;
}
.natAttachBody .foswikiAttachments .foswikiMetaDataHelp {
  display:none; /* already linked in sidebar */
}

/* bookmarks */
.natSideBar .jqBookmarks li {
  background-image:none;
}

/* InfiniteScrollContrib */
.infscr-loading {
  text-align:center;
}

/* natskin layout ************************************************************/
.natPlainBody {
  background-color:white;
}

.natPrintBody .natRevision {
  float:right;
}

.natPrintBody {
  margin:0px !important;
  padding:0px !important;
}
.natPrintBody .natBodyContents {
  margin:0px;
  padding:2em;
  width:auto;
}
.natPrintBody,
.natPrintBody .natMain,
.natPrintBody .natMiddle {
  background-color:white !important;
  color:black !important;
}
th, /* opera */
.natBodyContents {
  text-align:left;
}

.natPrintBody .cmtComments .jqButton {
  display:none;
}

/* bordered layout */
.natBodyBordered {
  margin:30px 30px 30px 30px;
}

/* fixed layout */
.natBodyFixed .natBodyContents {
  width:75em;
  margin:0em auto 13em auto;
}

.natLayoutTable {
  table-layout:fixed;
  width:100%;
  border-collapse:separate;
}

.natTopBar,
.natMiddle {
  vertical-align:top;
}

.natTopLeft, .natTopRight {
  height:7.6923em; /* 100px */
}
.natTopRight {
  float:right;
}

.natBoxBorderRight
.natBoxBorderTopRight,
.natBoxBorderBottomRight {
  width:1px;
}
.natBottomBarContents {
  text-align:center;
}
.natLoadTime {
  position:absolute;
  top:0;
  right:0;
}
.natPreviewBody .natMainContents {
  background-image:url('previewbg.png');
}
.natCompareBody .natMainContents,
.natViewHistoryBody .natMainContents {
  background-image:url('oldrevisionbg.png');
}
.natSideBarHeader,
.natSideBar {
  width:16.1538em; 
}
.natBodyLeft .natWebMenu,
.natBodyBoth .natWebMenu {
  padding-left:16.1538em;
}

.natSideBar {
  padding-bottom:5px;
}
.natSideBarContents {
  overflow:hidden;
  min-height:40em;
}

*:first-child+html 
.natSideBarHeaderContents { /* IE7 fix to draw the borders */
  height:1em;
}

/* the main content topic is cropped using overflow:hidden
 * that's because wide content like images will leap out
 * of the layout. i.e. it will overlay the navigation bar
 * if the sidebar is on the right 
 *
 * you may restrict overflow protection to layouts with
 * the sidebar on the right using the following:
 *
 * .natMiddle .natMainContents { overflow:hidden }
 *
 * for now I prefer the content to be cropped instead of the
 * page layout fall appart ... sort of.
 */
.natMainContents {
  clear:both;
  min-height:40em;
}
.natBodyRight .natMainContents {
  overflow:hidden;
}

.foswikiTopicInfo,
.natRevision {
  margin-bottom:1.3846em; /* 18px */
}
.foswikiTopicInfo .natRevision {
  font-size:100%;
  margin-bottom:0px;
  padding-bottom:0px;
}

/* topbar */
.natWebTitle {
  font-size: 1.6923em; /* 22px */ 
  line-height:normal;
  font-weight:bold;
  margin:0px;
  padding:0px;
  float:left;
}

/* search box */
.natSearchBox input {
  margin:0px;
  padding:0px;
  outline:none;
  width:100%;
}
.natSearchBox .ui-autocomplete-wrapper {
  width:100%;
}

/* sidebar */
.natSideBar h2.natSideBarTitle {
  margin-top:0px;
}
.natSideBar h2 {
  margin:5px 0px;
}
.natSideBar h3 {
  margin:0px;
}

.natSideBar ul {
  margin:0px;
  padding:0px;
  list-style-type:none;
}
.natSideBar ol {
  margin:0px;
  padding:0px;
  padding-left:2.2em;
}
.natSideBar ol li {
  list-style-type:decimal;
  background-image:none;
  padding-left:0px;
}

.natNotes a:hover,
.natNotes a {
  font-weight:bold;
}
.natNotes p {
  margin-top:0px;
}
.natSideBar .foswikiCurrentTopicLink {
  color:red;
}
.natSideBar h1 .foswikiCurrentTopicLink,
.natSideBar h2 .foswikiCurrentTopicLink,
.natSideBar h3 .foswikiCurrentTopicLink {
  color:inherit;
}
.natSideBarWebs table {
  padding:0px;
  margin:0px;
}
.natSideBar .natMySideBarRedDot a,
body .natSideBar .natMySideBarRedDot a:hover {
  position:absolute;
  margin:0em 0em 0em 0.7em;
  padding:0px;
  display:inline;
  background-color:inherit;
}

/* login */
.natLoginBody .natBodyContents {
  margin:0px;
  padding:0px;
  width:auto !important;
  position:absolute;
  top:50%;
  left:50%;
}
.natLogin {
  margin:0px;
  width:38em; 
  position:relative;
  top:-19em;
  left:-19em;
}
.natLogin h2 {
  margin:0px;
}

/* edit */
.natEditBody {
  margin:0px;
}
.natEditBody .natBodyContents {
  margin-top:0px;
  margin-bottom:0px;
  padding-top:0px;
  padding-bottom:0px;
}
.natEditBody .natLayoutTable {
  table-layout:auto; /* firefox fix to preven collapsing tables */
}
*:first-child+html 
.natEditBody .natLayoutTable {
  table-layout:fixed; /* and IE7 as well */
}
.natEditBody .natMainFooterContents,
.natEditBody .natBottomBar,
.natEditBody .natWebMenu {
  display:none;
}
.natEditBody .natSideBarContents, 
.natEditBody .natMainContents {
  min-height:0em;
}
.natEditBody .natMain {
  padding-top:0px;
  padding-bottom:0px;
}
.natEditTopicInfo {
  margin:0.5em 0em 1em 0em;
}
.natEditTopicInfo table th,
.natEditTopicInfo table td {
  padding:0em 0.5em 0.5em 0em;
}
.natEditBody table th.foswikiFirstCol {
  width:10em;
}

.natBottomTopicActions {
  margin:10px 0px;
}
.natBottomTopicActions a:hover {
  text-decoration:none;
}
.natSignature {
  white-space:nowrap;
  float:right;
}

/* web menu ******************************************************************/
.natWebMenu,
.natWebMenuContents {
  margin:0;
  padding:0;
}
.natWebMenu li a,
.natWebMenu h2,
.natWebMenu h3,
.natWebMenu h4,
.natWebMenu h5,
.natWebMenu h6,
.natWebMenu .sf-js-enabled {
  margin:0;
  padding:0;
  font-size:100%;
  line-height:2.3076em; /* to be added to VARIABLE1 */
}
.natWebMenuHidden {
  visibility:hidden; 
  height:2.3076em;
  float:left;
}
.natWebMenu ul {
  margin:0;
  padding:0;
  list-style:none;
}
.natWebMenu .sf-js-enabled,
.natWebMenu ul li {
  float:left;
}
.natWebMenu .natWebMenuContents {
  float:left;
  margin-bottom:-1px;
}

.natWebMenu li {
  padding-left:1.0em;
  padding-right:1.0em;
}
.natWebMenu li a {
  margin:0em -1em;
  padding:0em 1em;
  display:block;
  width:100%;
  text-decoration:none;
  float:left;
}
.natWebMenu li img {
  margin-right:0.3em;
  margin-left:-0.2em;
}

.natWebMenu li .hasSubMenu > a:hover,
.natWebMenu li .hasSubMenu.sfHover > a,
.natWebMenu li .hasSubMenu {
  background-image:url(icons/simple-arrow.png);
  background-repeat:no-repeat;
  background-position:100% 50%;
}
.natWebMenu li .hasAjaxMenu > a:hover,
.natWebMenu li .hasAjaxMenu.sfHover > a {
  background-image:url(icons/facebook-loader.gif);
  background-position:95% 50%;
}

.natWebMenu ul ul {
  position:absolute; 
  top:-999em; 
}

.natWebMenu ul li li {
  height:auto;
}

.natWebMenu ul li {
  position:relative;
  z-index:99; 
}

.natWebMenu ul li.sfHover {
  z-index:999;
}

/* web menu, second tier */
.natWebMenu ul li:hover ul, 
.natWebMenu ul li.sfHover ul 
{
  left:-1px;
  top:2.3076em; /* VARIABLE1 */
}

.natWebMenu ul ul li {
  width:11.45em; /* to be added to VARIABLE2 */
}

/* web menu, third tier */

.natWebMenu ul li.sfHover li ul {
  top:-999em; 
}
.natWebMenu ul li li.sfHover ul {
  left:13.45em; /* VARIABLE2 */
  top:-1px; 
}

/* web menu, fourth tier */
.natWebMenu ul li li.sfHover li ul {
  top:-999em; 
}
.natWebMenu ul li li li.sfHover ul {
  left:13.45em; /* VARIABLE2 */ 
  top:-1px;
}

/* more actions menu */
.natMoreActionsMenu {
  position:relative; 
  float:left;
  margin:0px;
  padding:0px;
  float:left;
  font-size:100%;
}
.natMoreActionsMenu li {
  list-style:none;
}
.natMoreActionsMenu ul {
  margin:0px;
  line-height:2.3076em; 
  z-index:99; 
  position:absolute;
  background-color:#fff;
  width:16.45em; 
  right:-4px;
  top:21px;
  display:none;
}
.sfHover .natMoreActionsTopicAction {
  padding-bottom:5px;
}

.natHistoryTopicActions .natTopicActionShortLabel,
.natBottomActions .natTopicActionShortLabel,
.natMoreActionsMenu ul .natTopicActionShortLabel,
.natTopicActionLongLabel {
  display:none;
}
.natBottomActions .natTopicActionLongLabel,
.natMoreActionsMenu .natTopicActionLongLabel {
  display:inline;
}

.natTopicActions .natMoreActionsMenu ul li {
  padding-left:1.0em;
  padding-right:1.0em;
}
.natTopicActions .natMoreActionsMenu ul li a,
.natTopicActions .natMoreActionsMenu ul li .natTopicAction {
  display:block;
  text-decoration:none;
  margin:0em -1em;
  padding:0em 1em;*/
}
.natTopicActions .natMoreActionsMenu ul li img {
  margin-right:0.3em;
  margin-left:-0.2em;
}
.natTopicActions .natMoreActionsMenu h3 {
  margin:0em -1em;
  padding:0.5em 1em;
  font-size:100%;
}

