/* page layout */
@page {
/*  size: a4;*/
  margin:2.5cm 2cm 2cm 2cm;

  @top-left-corner {
    font-family:arial,Helvetica,sans-serif;
    font-size:12px;
  }
  @top-left {
    content: string(title);
    font-family:arial,Helvetica,sans-serif;
    font-size:12px;
    width:50%;
  }
  @top-center {
    font-family:arial,Helvetica,sans-serif;
    font-size:12px;
  }
  @top-right {
    font-family:arial,Helvetica,sans-serif;
    font-size:12px;
    width:50%;
  }
  @top-right-corner {
    font-family:arial,Helvetica,sans-serif;
    font-size:12px;
  }
  @bottom-left-corner {
    font-family:arial,Helvetica,sans-serif;
    font-size:12px;
  }
  @bottom-left {
    font-family:arial,Helvetica,sans-serif;
    font-size:12px;
  }
  @bottom-center {
    font-family:arial,Helvetica,sans-serif;
    font-size:12px;
  }
  @bottom-right {
    font-family:arial,Helvetica,sans-serif;
    font-size:12px;
  }
  @bottom-right-corner {
    font-family:arial,Helvetica,sans-serif;
    font-size:12px;
    content: counter(page);
    text-align:center;
  }
}
@page:first {
  @top-left {
    content: none;
  }
  @top-right {
    content: none;
  }
  @bottom-left {
    content: string(revision);
  }
}

h1:first-of-type { 
  string-set: title content(); 
  -weasy-string-set: title content(); 
}
h2 { 
  string-set: chapter content();
  -weasy-string-set: chapter content();
}
.foswikiRevision { 
  string-set: revision content();
  -weasy-string-set: revision content();
}
.foswikiRevisionID { 
  string-set: revisionID content(); 
  -weasy-string-set: revisionID content(); 
}
.foswikiRevisionDate { 
  string-set: date content();
  -weasy-string-set: date content();
}
.foswikiRevisionAuthor { 
  string-set: author content();
  -weasy-string-set: author content();
}

html {
  background:transparent !important;
}
body {
  margin:0 !important;
  padding:0 !important;
  width:auto !important;
  background:transparent !important;
  prince-linebreak-magic: auto;
  hyphens: auto;
  -weasy-hyphens: auto;
  color:#000;

/*
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: balance;
  -moz-column-gap: balance;
  column-gap: balance;
  -webkit-column-gap: 0.33in;
  -moz-column-gap: 0.33in;
  column-gap: 0.33in;
*/
}

/* color */
h1, h2, h3, h4, h5, h6, 
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, 
body {
  color:#000;
}

/* pagination */
h1, h2, h3, h4, h5, h6 {
  page-break-after:avoid;
  page-break-inside:avoid;
}
ul, ol, dl {
  page-break-before:avoid;
}
.natMainContents table {
  page-break-before:avoid;
}

pre {
  page-break-inside:avoid;
  white-space:pre-wrap;
  word-break:break-all;
  word-wrap:break-word;
  overflow-wrap:break-word;
}

.natPageBreakAfter {
  page-break-after:always;
}
.natPageBreakBefore {
  page-break-before:always;
}

/* hidden elements */
.foswikiBroadcastMessage,
.foswikiHideOnPrint,
.natBottomBar,
.natBreadCrumbs,
.natFeedIcon,
.natGreeter,
.natMainHeaderContents,
.natSideBar,
.natSideBarHeader,
.natTopicActions,
.natWebMenu,
.natTopBar {
  display:none;
}
.natBody .foswikiShowOnPrint,
.natBody .foswikiShowBlockOnPrint {
  display:block;
}
.natBody .foswikiShowInlineOnPrint {
  display:inline;
}

.jqButton {
  display:none !important;
}


/* spacings */
.natBodyContents {
  width:auto !important;
  padding:0px !important;
  margin:0px !important;
  border:0px !important;
}
.natMain,
.natMiddle {
  border:0px !important;
  padding:0px !important;
  background:transparent !important;
}
.natMainContents {
  background:transparent;
  min-height:auto;
  margin:0px !important;
  padding:0px !important;
}

p {
  margin:0.5em 0em;
  text-indent:1em;
  text-align:justify;
  orphans:4;
  widows:2;
}

p + p { text-indent: 1.5em }

img {
  page-break-inside: avoid;
  max-width:100%;
}


/* links */
.foswikiNewLink {
  color:inherit !important;
  background:inherit !important;
  text-decoration:none;
}
a[name] {
  display:none;
}

/* clear overflow properties */
.natMainContents,
.overflow,
pre {
  overflow:visible !important;
}

/* RedDotPlugin */
.redDot {
  display:none;
}

/* TwistyPlugin */
.twistyHidden,
.twistyTrigger {
  display:none;
}

/* CommentPlugin */
.commentPlugin {
  display:none;
}

/* EditTablePlugin */
.editTableEditImageButton {
  display:none;
}
