/* page layout */
@page {
  size: a4;
  margin:2.5cm 2cm 2cm 2cm;

  @top-left {
    content: string(title);
    font-family:arial,Helvetica,sans-serif;
  }
  @top-right {
    content: string(chapter);
    font-family:arial,Helvetica,sans-serif;
  }
  @bottom-right {
    content: counter(page);
    font-family:arial,Helvetica,sans-serif;
  }
}
@page:first {
  @top-left {
    content: none;
  }
  @top-right {
    content: none;
  }
}

h1:first-of-type { string-set: title content() }
h2 { string-set: chapter content() }

html {
  background:transparent !important;
}
.natBody,
body {
  margin:0 !important;
  padding:0 !important;
  width:auto !important;
  background:transparent !important;
  prince-linebreak-magic: auto;
  hyphens: auto;
  color:#000;
  font-size: 11px;
  line-height: 1.3em;
/*
  columns: 2;
  column-gap: 1em;
*/
}

/* color */
h1, h2, h3, h4, h5, h6, 
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, 
body, .natBody {
  color:#000;
}

/* pagination */
h1, h2, h3, h4, h5, h6 {
  page-break-after:avoid;
  page-break-inside:avoid;
}
ul, ol, dl {
  page-break-before:avoid;
}
.natMainContents table {
  page-break-before:avoid;
}
pre {
  page-break-inside:avoid;
  overflow:hidden;
}

/* hidden elements */
.foswikiBroadcastMessage,
.foswikiHideOnPrint,
.natBottomBar,
.natBreadCrumbs,
.natFeedIcon,
.natGreeter,
.natMainHeaderContents,
.natSideBar,
.natSideBarHeader,
.natTopicActions,
.natWebMenu,
.natTopBar {
  display:none;
}
.natBody .foswikiShowOnPrint,
.natBody .foswikiShowBlockOnPrint {
  display:block;
}
.natBody .foswikiShowInlineOnPrint {
  display:inline;
}

.jqButton {
  display:none !important;
}


/* spacings */
.natBodyContents {
  width:auto !important;
  padding:0px !important;
  margin:0px !important;
  border:0px !important;
}
.natLayoutTable {
  table-layout:auto;
  width:100%;
}
.natMain,
.natMiddle {
  border:0px !important;
  padding:0px !important;
  background:transparent !important;
}
.natMainContents {
  background:transparent;
  min-height:auto;
  margin:0px !important;
  padding:0px !important;
}

p {
  margin:0.5em 0em;
  text-indent:1em;
  text-align:justify;
  orphans:4;
  widows:2;
}

p + p { text-indent: 1.5em }

img {
  page-break-inside: avoid;
  prince-image-resolution: 150dpi;
}


/* links */
.foswikiNewLink {
  color:inherit !important;
  background:inherit !important;
  text-decoration:none;
}

/* clear overflow properties */
.natMainContents,
.overflow,
pre {
  overflow:visible !important;
}

/* RedDotPlugin */
.redDot {
  display:none;
}

/* TwistyPlugin */
.twistyHidden,
.twistyTrigger {
  display:none;
}

/* CommentPlugin */
.commentPlugin {
  display:none;
}

/* EditTablePlugin */
.editTableEditImageButton {
  display:none;
}
