.jqTopicCreator {
  position:relative;
}
.tcViewPort {
  width:790px;
  overflow:hidden;
}
.tcNaviContainer {
  border-top:1px solid #d1d1d1;
  padding-top:1em;
  position:absolute;
  bottom:0;
  width:100%;
}
.jqTopicCreator .foswikiPageForm {
  box-shadow:none;
  border:0;
  background:transparent;
  float:left;
  width:790px;
  margin:0 15px 0 0;
  padding:0;
  position:relative;
}
.jqTopicCreator .foswikiPageForm h2 {
  font-weight:normal;
  line-height:2;
  border-bottom:1px solid #ddd;
}
.tcContainer {
  width:39000px;
  position:relative;
  height:35em;
}
.tcPage {
  height:27em;
  overflow-y:auto;
  padding-right:5px;
  padding-bottom:5px;
  box-sizing:border-box;
  display:-webkit-flex;
  display:flex;
  flex-wrap:wrap;
  align-content:flex-start;
  align-items:flex-start;
}
.tcTopicTemplate,
.tcTopicType {
  box-sizing:border-box;
  padding:0.7em 0.7em 0.7em 45px;
  line-height:1.3;
  border:1px solid transparent;
  border-radius:0.5em;
  float:left;
  min-height:5.5em;
  width:31%;
  margin: 0 1em 1em 0;
  overflow:hidden;
}

.tcFilter .foswikiInputField {
  width:210px;
}

.tcLayoutToggle {
  font-size:120%;
  color:#ddd;
  margin:0.2em 0 0 0.5em;
}

.tcSelected,
.tcTopicTemplate:hover,
.tcTopicType:hover {
  background:#f6f6f6;
  border-color:#d5d6dd;
}
.tcTopicTemplate:hover .tcIcon,
.tcTopicType:hover .tcIcon {
  color:#555;
}
.tcIcon {
  margin:3px 0 0 -36px;
  float:left;
  max-height:50px;
  max-width:30px;
  overflow:hidden;
}
.tcIcon .jqIcon {
  font-size:24px;
  line-height:1;
}
.tcIcon img {
  width:30px;
  height:auto;
}
.tcPage form .foswikiLayoutTable th {
  width:8em;
}

.tcListLayout .tcTopicType,
.tcListLayout .tcTopicTemplate {
  width:100%;
  float:none;
  min-height:auto;
  margin:0 0.75em 0.25em 0;
  position:relative;
}
