/* JazzyNoteStyle */
@import url(../NatSkin/BaseStyle.css);

/* html elements */
/* see http://drewish.com/tools/vertical-rhythm */
.natHtml {
  background-color:#fff;
  background-image:url(GrayBlend.gif);
  background-repeat:repeat-x;
}

h1,
.blogEntry .foswikiTopicInfo h2 {
  border-bottom:1px #ddd solid;
  margin-bottom:0.7727em; /* 17px */
}
.blogCategoryTitle h1,
.blogCategoryTitle h1 a {
  border-bottom:0px;
  color:#808080;
}
.blogCategoryTitle h1 a:hover {
  color:#fff;
}

/* layout */
.natMiddle {
  background-color:#E9E9E9;
  background-image:url(button-bg.png);
  background-repeat:repeat-x;
  background-position:0% 100%;
  border:1px #aaa solid;
  border-top:0px;
}
.natMain {
  background-image:url(button-bg.png);
  background-repeat:repeat-x;
  background-position:0% 100%;
}
.natPrintBody .natBodyContents {
  margin:0px !important;
}
.natPrintBody .natMiddle,
.natPrintBody .natMain {
  background-image:none;
  border:0px;
}
.natMainHeaderContents {
  margin-bottom:1.3846em;
}

/* fluid layout */
.natBodyFluid .natMiddle,
.natBodyFluid .natMain {
  background-image:none;
  border:0;
}

/* topic actions */
.natMoreActionsMenu h3 {
  font-weight:bold;
  background-color:#eee;
  color:#444;
}

.natMoreActionsMenu ul {
  border:1px solid #c2c4c4;
  -moz-box-shadow:2px 2px 2px rgba(128,128,128,0.2);
  -webkit-box-shadow:2px 2px 2px rgba(128,128,128,0.2);
  box-shadow:2px 2px 2px rgba(128,128,128,0.2);
}
.natTopicActions .sfHover .natMoreActionsTopicAction {
  -webkit-border-radius:2px 2px 0px 2px;
     -moz-border-radius:2px 2px 0px 2px;
          border-radius:2px 2px 0px 2px;

  -webkit-box-shadow:2px 0px 2px rgba(128,128,128,0.2);
     -moz-box-shadow:2px 0px 2px rgba(128,128,128,0.2);
          box-shadow:2px 0px 2px rgba(128,128,128,0.2);
}
.natTopicActions .natMoreActionsMenu ul li a:hover,
.natTopicActions .natMoreActionsMenu ul li .natTopicAction:hover,
.natTopicActions .natMoreActionsMenu ul li .natTopicAction:hover span {
  background-color:#0055b5;
  color:#fff;
}

/* web menu */
.natSideBarHeader,
.natWebMenu {
  background-color:#9CBAEF;
  border-top:1px solid #E1EAFA;
  border-bottom:1px solid #8099C4;
}
.natWebMenu li {
  border-right:1px solid #E1EAFA;
}
.natWebMenu ul {
  border-left:1px solid #E1EAFA;
}
.natWebMenu ul ul {
  -moz-box-shadow:2px 2px 2px rgba(128,128,128,0.2);
  -webkit-box-shadow:2px 2px 2px rgba(128,128,128,0.2);
  box-shadow:2px 2px 2px rgba(128,128,128,0.2);
}

.natWebMenu li,
.natWebMenu li a {
  color:#00458F;
}


.natMoreActionsMenu li,
.natMoreActionsMenu li a,
.natWebMenu li li,
.natWebMenu li li a,
.natWebMenu li li a.foswikiNewLink {
  font-weight:normal;
  color:#444;
}

.natWebMenu li .foswikiCurrentWebHomeLink,
.natWebMenu li .foswikiCurrentWebHomeLink:hover,
.natWebMenu li a.current,
.natWebMenu li a.current:hover {
  text-decoration: none;
  background-color:#fff;
}

.natWebMenu li.sfHover,
.natWebMenu li.sfHover > a,
.natWebMenu li .foswikiCurrentWebHomeLink:hover,
.natWebMenu li a.current:hover,
.natWebMenu li a:hover {
  text-decoration: none;
  background-color:#0055b5;
  color:#fff;
}
/*
.natWebMenu li li.sfHover,
.natWebMenu li li.sfHover > a,
.natWebMenu li li .foswikiCurrentWebHomeLink:hover,
.natWebMenu li li a.current:hover,
.natWebMenu li li a:hover {
  background-color:#eee;
  color:#444;
}
*/

.natWebMenu .hasSubMenu {
  background-image:url(menucorner.gif);
  background-repeat:no-repeat;
  background-position:right bottom;
}


/* modal dialogs */
.natBody #simplemodal-container {
  -moz-box-shadow: 0px 3px 10px #888;
  -webkit-box-shadow: 0px 3px 10px #888;
  box-shadow: 0px 3px 10px #888;
}
.natBody #simplemodal-overlay {
  background:#fff;
}
.foswikiPreviewArea .jqButton,
.foswikiPreviewArea .jqButtonIcon {
  display:none;
}
#simplemodal-container .foswikiDialog,
#simplemodal-container .foswikiFormSteps {
  margin:0px;
  background-color:#fff;
  border:1px solid #BDBEC5;
}

.ui-dialog-content.foswikiFormSteps {
  margin:0px;
  background-color:#fff;
}

#simplemodal-container h2 {
  background:#eee;
  color:#9C3063;
  margin:-1.0625em -1.125em 1.125em -1.125em; /* 17px 18px */
  padding:1em 1.125em; /* 16px 18px */
}

#simplemodal-container .foswikiFormSteps .jqTabPane > .jqTabGroup li.current a {
  background-color:#fff;
  border-bottom-color:#fff;
}
#simplemodal-container .foswikiFormSteps .jqTabContents {
  background-color:#fff;
}
#simplemodal-container .hr,
#simplemodal-container hr {
  border-color:#ddd;
}


/* login */
.natLogin h1,
.natLogin h2 {
  border:0px;
  margin-top:0px;
}

.natLogin {
  border:1px solid #d6d6d6;
          border-radius:10px;
     -moz-border-radius:10px;
  -webkit-border-radius:10px;
  background:#fff;
          box-shadow: 0pt 2px 5px rgba(105, 105, 105,  0.7), 0px 0px 8px 5px rgba(247, 247, 247, 0.4) inset;
     -moz-box-shadow: 0pt 2px 5px rgba(105, 105, 105,  0.7), 0px 0px 8px 5px rgba(247, 247, 247, 0.4) inset;
  -webkit-box-shadow: 0pt 2px 5px rgba(105, 105, 105,  0.7), 0px 0px 8px 5px rgba(247, 247, 247, 0.4) inset;
/*
  -moz-box-shadow: 0px 3px 10px #bcbcbc;
  -webkit-box-shadow: 0px 3px 10px #bcbcbc;
  box-shadow: 0px 3px 10px #bcbcbc;
*/
}

.natContact {
  position:absolute;
  bottom:-45px;
  width:100%;
  text-align:center;
}

.natLoginHeading {
  position:absolute;
  top:-45px;
  width:100%;
  color:#C60206;
  margin-left:1em;
}

.natLogin .foswikiFormSteps {
  background-color:transparent;
  background-image:url(login_keys.png);
  background-repeat:no-repeat;
  background-position:1em 0em;
  margin:0px;
  border:0px;
}
.natLogin .foswikiFormStep {
  margin-left:10em;
}

.natLogin #username,
.natLogin #password {
  width:13em;
}

/* base styles */
.foswikiBroadcastMessage {
  margin:0em 0em 1em;
}

/* tables */
.natBody .atpDef, 
.natBody .atpSearch, 
.natBody .atpChanges, 
.mceContentBody table,
.foswikiTable {
  border:1px #ddd solid;
  font-size:0.923em;
  line-height:1.5em;
}
.natBody .atpDef, 
.natBody .atpSearch, 
.natBody .atpChanges, 
.mceContentBody table,
.foswikiTable {
  margin:1px 1px 1.3076em 1px;
}
.foswikiTableOverflow .foswikiTable {
  margin:0em;
}
.natBody .atpDef td, 
.natBody .atpSearch td, 
.natBody .atpChanges td, 
.mceContentBody td,
.foswikiTable td,
.foswikiTable tr.foswikiTableOdd td,
.foswikiTable tr.foswikiTableEven td,
.mceContentBody table tr.foswikiTableOdd td,
.mceContentBody table tr.foswikiTableEven td {
  background:#fcfcfc;
}
.natBody .atpDef th, 
.natBody .atpSearch th, 
.natBody .atpChanges th, 
.natBody .atpDef td, 
.natBody .atpSearch td, 
.natBody .atpChanges td, 
.mceContentBody th,
.mceContentBody td,
.foswikiTable th,
.foswikiTable td {
  padding:0.6666em 0.75em 0.75em 0.666em;
  border:1px #ddd solid;
}

.natBody .atpDef th, 
.natBody .atpSearch th, 
.natBody .atpChanges th, 
.mceContentBody th,
.foswikiTable th,
.foswikiTable th h2,
.foswikiTable th h3,
.foswikiTable th h4 {
  color:#444;
  font-weight:bold;
  text-decoration:none;
  background-color: #f0f0f0;
  background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0));
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #fff, #f0f0f0);
  background-image:    -moz-linear-gradient(top, #fff, #f0f0f0);
  background-image:     -ms-linear-gradient(top, #fff, #f0f0f0);
  background-image:      -o-linear-gradient(top, #fff, #f0f0f0);
  background-image:         linear-gradient(top, #fff, #f0f0f0);
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
  -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
  box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
  text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}
.natBody .atpDef th a, 
.natBody .atpSearch th a, 
.natBody .atpChanges th a, 
.foswikiTable th a,
.foswikiTable th a:hover,
.foswikiTable th span {
  text-decoration:none;
  font-weight:bold;
  color:#444;
}
.foswikiTable th a:hover {
  text-decoration:underline;
  color:#444;
  background-color:transparent;
}
.foswikiTable th h4 {
  margin:0px;
}

.foswikiTable tr.foswikiTableEven td.foswikiSortedCol,
.foswikiTable tr.foswikiTableOdd td.foswikiSortedCol,
.foswikiTable td.foswikiSortedCol,
.foswikiTable td.foswikiSortedDescendingCol,
.foswikiTable td.foswikiSortedAscendingCol {
  background:#f4f4f4;
}


/* diff */
.foswikiDiffTable {
  border:1px solid #ddd;
  background:#f6f6f6;
}
.foswikiDiffTable td,
.foswikiDiffTable th {
  border:0px;
}
.foswikiDiffTable th {
  border-bottom:1px solid #ddd;
}

.foswikiDiffDeletedText {
 background:#FFD7D7;
}

/* forms */
input[type=text],
input[type=password],
.foswikiInputField,
.foswikiSelect,
.foswikiTextarea, textarea {
  margin:0px;
  border:1px solid #bbb;
  background:#fefefe url(input-bg.png) no-repeat -1px -1px;
  padding:4px;
  font-size:0.923em;
          border-radius:2px;
     -moz-border-radius:2px;
  -webkit-border-radius:2px;
}
.foswikiTextarea:focus, textarea:focus,
.foswikiSelect:focus,
input[type=text]:focus,
input[type=password]:focus,
.foswikiInputField:focus {
  background-color:#f5f5f5;
  border-color:#aaa;
  border-color:#A2748A;
  border-color:#9C3063;
  background-position:0px 0px;
}

.foswikiSelect {
  padding-left:2px;
}
.foswikiSelect option {
  padding:0px 5px;
}
.foswikiSubmit,
.foswikiButton {
  padding:3px;
  margin:2px;
}

.foswikiDialog,
.foswikiFormSteps,
.foswikiPageForm {
  border-color:#DDD;
  background-color:#FAF8F7;
}

.foswikiDialog h2,
.foswikiDialog h2 a,
.foswikiPageForm h2,
.foswikiPageForm h2 a,
.foswikiFormSteps h2,
.foswikiFormSteps h2 a {
  color:#9C3063;
}

.natBody .jqTabContents {
  padding:0.6923em; /* 9px */
}

.foswikiFormStep {
  margin:0em 0em 1.3846em 0em;
}
.foswikiFormLast {
  margin-bottom:0px;
}
.foswikiFormFirst {
  margin-top:0px;
}

.foswikiFormButtons {
  margin:1.3846em 0em 0em 0em;
}

.jqButton {
  margin-right:0.7692em; /* 10px */
}
.foswikiFormSteps .jqButton.foswikiRight:hover,
.foswikiFormSteps .jqButton.foswikiRight {
  margin:0em 0em 0em 0.7692em; /* 0px 0px 0px 10px */
}

.foswikiFormSteps .jqTabContents,
.foswikiFormSteps .jqTabPane > .jqTabGroup li.current {
  background-color:#F6F3F2;
}
.foswikiFormSteps .jqTabPaneSimple > .jqTabGroup li.current a {
  border-bottom:1px solid #F6F3F2;
  background-color:#F6F3F2;
}
.foswikiFormSteps .jqTabPaneSimple > .jqTabGroup a {
  background-color:#EFECEB;
  background-color:#eee;
}
.foswikiFormSteps .jqTabPaneSimple > .jqTabGroup a:hover {
  background-color:#F6F3F2;
}

td .foswikiFormLegend,
td .foswikiFormDescription {
  margin:0px;
}
.foswikiFormLegend,
.foswikiFormDescription {
  margin:0em 0em 1.3846em;
  color:#828282;
}
.foswikiFormLast .foswikiFormLegend,
.foswikiFormLast .foswikiFormDescription {
  margin-bottom:0px;
}

.alt h2,
.jqTabContents h2 {
  font-size:1.2308em; /* 16px */
  line-height:1.125em; /* 18px */
  margin-bottom:0.5625em; /* 9px */
}
.alt > h2:first-child,
.jqTabContents > h2:first-child {
  margin-top:0px;
}
.alt h2,
.jqTabContents h2,
.jqTabContents h2 a {
  color:#9C3063;
  border:0px;
  padding:0px;
}

.foswikiFormSteps label,
.foswikiFormSteps .foswikiRadioButton,
.foswikiFormSteps .foswikiCheckbox {
  margin:0em 0.5em 0em 0em;
  vertical-align:middle;
}

/* helpers */
.natErrorMsg {
  background:#eee;
}

.alt h2 {
  margin:0em 0em 1.125em;
}

/* top */
.natTopLeft,
.natTopRight,
.natTopLeft a,
.natTopRight a  {
  color:#fff;
}
.natTopLeft.natTopRight {
  padding:0px;
  background:transparent;
}
.natTopBar {
  background:url(foswiki-header-tile-blue.png) repeat-x;
  margin-left:25px;
  height:7.6923em; /* 100px */
  max-height:100px;
}
.natTopLeft {
  background:url(foswiki-header-blue.png) no-repeat;
  margin-left:-25px;
}
.natTopLeftContents {
  padding:25px 0em 0em 2.3077em; /* 25px 0 0 30px */
}
.natTopRightContents {
  padding:40px 2.3077em 0em 0em; /* 40px 30px 0 0 */
}
.natEditBody .natMain {
  background:#fff;
}
.natEditBody .natMainContents,
.natEditBody .natMainFooterContents {
  margin:0px;
}
.natEditTitle {
  font-size: 1.3846em; /* 18px */ 
  line-height: 1em; /* 18px */ 
}

/* sidebar */
.natSideBar .hover,
.natSideBar a:hover {
  background-color:#fff;
}
.natSideBar h2 {
  font-size:1.1538em; /* 15px */
  line-height:1.3333em; /* 20px */
  border-top:1px solid #BDEB86;
  clear:both;
  display:block;
  font-weight:normal;
  margin:0em -1em 0em;
  padding:0.333em 1em;
  background-color:#62B000;
  color:#fff;
  font-size:100%;
  font-weight:bold;
}
.natSideBar h2 a {
  color:#fff;
  display:block;
  margin:-0.2666em -1em -0.3333em;
  margin:-0.3333em -1em;
  padding:0.333em 1em;
}
.natSideBar h2 a:hover {
  background:#5AA301;
  color:#fff;
}

.natSideBar h3 {
  font-size:100%; /* 13px */
  line-height:1.3846em; /* 18px */
  margin:0em -1em;
  padding:5px 1em 6px;
  border-top:1px solid #c2c4c4;
  font-weight:bold;
}
.natSideBar b,
.natSideBar strong,
.natSideBar h3,
.natSideBar h4,
.natSideBar h3 a,
.natSideBar h4 a {
  color:#222;
}

.natSideBar p {
  margin:0em -1em;
  padding:0em 1em;
}

.natSideBar .jqSerialPager {
  margin:0em -1em;
}

.natSideBar p {
  padding:5px 1em 6px;
}

.natSideBar ul {
  margin:0em -1em;
}
.natSideBar ul li {
  border-top:1px solid #c2c4c4;
  padding:5px 1em 6px;
}

.natSideBar ul li.jqBookmarksDummy {
  border-top:0px;
}
.natSideBar li a:hover,
.natSideBar li a {
  color:#434343;
  display:block;
  margin:-5px -1em -6px;
  padding:5px 1em 6px;
}
.natSideBar .foswikiCurrentTopicLink {
  color:#9C3063;
  background:#fff;
}

.natSideBar ol {
  margin:0em 0em -1px;
  padding:0em 0.25em 0.5em;
}
.natSideBar ol li {
  background-image:none;
  border-bottom:0px;
  line-height:normal;
  padding:0.25em 0em;
}
.natSideBar ol li a:hover {
  background:#0055b5;
  color:#ffffff;
}
.natSideBar ul ul {
  margin-left:0px;
  padding-left:0px;
  list-style-type:none;
}
.natSideBar ul ol li,
.natSideBar ul ul li {
  background-image:none;
  padding-left:0px;
}

.natSearchBox .foswikiInputField {
  color:#aaa; 
  background-position:0px 0px;
  padding:4px 0px 3px 5px;
  margin:-4px 0px -3px -5px;
  /*width:11.5em;*/
}

.natSearchBox input:focus { 
  color:#0055b5;
}

.natSearchHit {
  margin:1.3846em 0em;
}

/* main area */
.natBreadCrumbs,
.natBreadCrumbs .natSep {
  color:#808080;
}
.natBreadCrumbs a {
  color:#64B000;
  text-decoration:none;
}
.foswikiTopicInfo a:hover,
.natBreadCrumbs a:hover {
  color:#fff;
}

.natMainContents .foswikiNewLink {
  background-color:#eee;
  color:#9C3063;
}

.foswikiToc li {
  background-image:url(bullet-toc.gif);
  background-position:0 0.4em;
  background-repeat:no-repeat;
}

/* bottom */
.natMainFooterContents .natRevision {
  margin:2em 0em 0em;
}
.foswikiTopicSummary,
.foswikiTopicInfo, 
.foswikiTopicInfo a,
.natRevision a,
.natRevision {
  color:#808080;
}
.natRevision a:hover {
  color:#fff;
}
.foswikiTopicInfo h1 a,
.foswikiTopicInfo h2 a {
  color:inherit;
}
.natSyndicate {
  display:inline;
}
.natPageCacheBanner,
.natPageCacheBanner a,
.natBottomBarContents,
.natBottomBarContents a {
  color:#999;
}
.natBottomActions {
  margin-bottom:2.769em; /* 36 px*/
}
.natPageCacheBanner {
  text-align:center;
  margin-top:2.769em; /* 36 px*/
}
.natCopyRight {
  display:inline;
}

/* forms */
.foswikiAttachmentsOptions {
  border-bottom:1px solid;
  border-top:1px solid;
  border-color:#DDD;
  background-color:#FAF8F7;
}
.natTopicAttachments .natTopicAction:hover {
  background-color:#FEE7B5;
}

/* attachments */
.natTopicAttachments {
  margin-top:1.3846em;
}
.natTopicAttachments h2 {
  margin-bottom:0px;
}
.natTopicAttachments .foswikiFormStep {
  margin-top:1.3846em;
}
.jqTabContents .natTopicAttachments {
  margin:0px;
  padding:0px;
}
.natTopicAttachments a {
  text-decoration:none;
}

/* search tables */
.natSearchRevision a {
  color:#64B000;
  text-decoration:none;
}
.natSearchRevision a:hover {
  color:#fff;
}

/* ClassificationPlugin */
.clsBrowser a,
.tagCloud a,
.clsTagCloud a {
  text-decoration:none;
  display:inline;
  color:#0055b5;
}
.fltMakeIndexWrapper .clsSubCategories a,
.fltMakeIndexWrapper .clsSubCategories {
  color:#808080;
}
.fltMakeIndexWrapper .clsSubCategories a:hover {
  color:#ffffff;
  background:#0055b5;
}

.fltMakeIndexWrapper .foswikiTopicInfo {
  color:#808080;
}
.clsMakeIndexWrapper ul li {
  /*border-bottom:1px solid #ddd;*/
  border:0;
  margin:0 0 0.5em;
}

/* HistoryPlugin */
.natOopsHistoryBody form {
  margin:0em 1em 1em 0em;
  padding:0.5em 1em;
  border:1px #ddd solid;
  background-image:url(GrayBlend.png);
  background-repeat:repeat-x;
  background-position:0px 0px;
}

/* tinymce plugin */
.mceContentBody h1 {
  margin-top:0px;
}
.WYSIWYG_PROTECTED {
  background:#f6f6f6;
  color:#444;
  font-family:"Bitstream Vera Sans Mono", "Andale Mono", monospace;
}
.mceToolbar .mceToolbarStart span,
.mceToolbar .mceToolbarEnd span,
.mceButton,
.mceSeparator {
  background-image:none !important;
}

/* jqTreeview */
.natSideBar .jqTreeview {
  padding:0.3em 0em;
  margin:0em -0.5em 0em;
}
.natSideBar .treeview a:hover,
.treeview a:hover,
a:hover .foswikiAlert,
a:hover {
  color:#ffffff;
  background:#0055b5;
  text-decoration:none;
}
.natSideBar .treeview a:hover,
.natSideBar .treeview a {
  display:inline;
  padding:0px;
  margin:0px;
}
.natSideBar .treeview,
.natSideBar .treeview ul,
.natSideBar .treeview ol,
.natSideBar .treeview li {
  border:0px;
}

@media print {
  /* fonts */
  /* TOC */
  .foswikiToc::before {
    font-size:135%;
  }
  .foswikiToc {
    text-align:left;
    page-break-after:always;
  }
  .natTopicAttachments,
  .foswikiTocTitle {
    display:none;
  }
  .foswikiToc::before {
    font-size:160%;
    margin:2em 0em 1em;
    display:block;
    content: "Table of Contents";
  }
  .foswikiToc > ul {
    columns: 2;
    column-gap: 1em;
    border:0px;
    padding:0px;
    margin:0px;
  }
  .foswikiToc a::after {
    content:leader(".") target-counter(attr(href), page);
  }
  .foswikiToc li {
    background:transparent;
    padding-left:0px;
    margin-left:5px;
  }

  .natBody h1 a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
  .natBody h1, h1, h2, h3, h4, h5, h6 {
    color:#000;
    font-weight:bold;
  }
  /*
  h2 {
    margin-top:1.5cm;
  }
  h3 {
    margin-top:1cm;
  }
  */

  .foswikiTable th,
  .foswikiTable th font,
  .foswikiTable th h2,
  .foswikiTable th h3,
  .foswikiTable th h4 {
    color:#000;
    background:#aaa;
  }
  .foswikiTable,
  .foswikiTable th,
  .foswikiTable td {
    border:1px solid #000;
  }

}

/* solr plugin */
/*.clsAuthorDateInfo,*/
.natBody .solrRevision,
.natBody .solrRevision a {
  color:#64B000;
}
.natBody .solrRevision a:hover {
  color:#fff;
}
.natSideBar .solrFacetPager ul {
  border-right:1px solid #c2c4c4;
}
.natSideBar a.solrClearAll,
.natSideBar a.solrClearAll:hover,
.natSideBar a.solrClear,
.natSideBar a.solrClear:hover {
  color:inherit;
  margin:0.5em 0em;
}
.natSideBar .solrFacetPager {
  margin:0em -1em;
}
.natSideBar .solrYourSelection ul,
.natSideBar .solrFacetContainer ul {
  border-bottom:1px solid #c2c4c4;
  margin-bottom:-1px;
}
.natSideBar .solrFacetPagerButtons {
  margin:0 -1em;
  padding:0.5em 1em;
  border-bottom:1px solid #c2c4c4;
}
.natSideBar a.jqSerialPagerPrev:hover,
.natSideBar a.jqSerialPagerNext:hover {
  color:inherit;
}

/* action tracker plugin */
.natBody .atpDef td {
  vertical-align: top;
}
.natBody .atpClosed,
.natBody .atpOpen,
.natBody .atpError,
.natBody .atpWarn {
  display:block;
  margin:-0.6666em -0.75em -0.75em -0.666em;
  padding:0.6666em 0.75em 0.75em 0.666em;
}

.natBody .atpClosed { /* see .foswikiSuccessMessage */
  background-color:#EFFFD8;
  color:#599E00;
}
.natBody .atpOpen { }
.natBody .atpError { /* see .foswikiErrorMessage */
  background-color:#FBE3E4;
  color:#b22222;
}
.natBody .atpWarn { /* see .foswikiWarningMessage */
  background-color:#FFF6BF;
  color:#7B765C;
}
.natBody .atpStateopen { 
  background-color:#FFF6BF;
}
.natBody .atpStateclosed { 
  background-color:#EFFFD8;
}

.natBody table.atpEdit {
  width:100%;
  empty-cells:show;
  border-spacing:0px;
  border-collapse:collapse;
  border-top:1px solid;
  border-bottom:1px solid;
  background-color:#FAF8F7;
  border-color:#DDD;
  margin:0em 0em 0.6923em 0em; /* 9px */
}

.natBody table.atpEdit th,
.natBody table.atpEdit td {
  padding:0.6666em 0.75em 0.75em 0.666em;
}
.natBody table.atpEdit th {
  width:6em;
}

/* uploader */
.jqUploaderFilesContainer {
  border:1px solid;
  border-color:#DDD;
}

