/* JazzyNoteStyle */
@import url(../NatSkin/BaseStyle.css);

/* html elements */
/* see http://drewish.com/tools/vertical-rhythm */
.natHtml {
  background-color:#fff;
  background-image:url(GrayBlend.gif);
  background-repeat:repeat-x;
  border:0px;
}
.natBody {
  color:#444;
  font-family: Arial, 'Liberation Sans', FreeSans, sans-serif;
  font-size:13px;
  line-height:18px;
}
.natLoginBody {
  background:#fff;
}
.foswikiEmulatedLink,
a {
  color:#0055b5;
  text-decoration:underline;
}
.foswikiGrayText {
  color:#808080;
}
.treeview a:hover,
a:hover {
  color:#ffffff;
  background:#0055b5;
  text-decoration:none;
}

embed, object {
  position: relative;
  z-index: 0;
}

.hr,
hr {
  border-bottom:1px solid #ddd;
}

pre {
  background:#f6f6f6;
  padding:0.5em;
  border:1px solid #ddd;
}

h1, h2, h3, h4, h5 {
  color:#222;
}
h6 {
  color:#111;
}

h1 .foswikiEmulatedLink,
h1 a {
  color:#222;
  text-decoration:none;
}

h1,
.blogEntry .foswikiTopicInfo h2 {
  border-bottom:1px #ddd solid;
  margin-bottom:0.7727em; /* 17px */
}
.blogCategoryTitle h1,
.blogCategoryTitle h1 a {
  border-bottom:0px;
  color:#808080;
}
.blogCategoryTitle h1 a:hover {
  color:#fff;
}
.blogEntriesSticky {
  background-color:#f5f5f5;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  margin-bottom:2.7692em;
}
ul, ol {
  margin:1.3846em 0em 1.3846em 3.0769em; 
  padding:0em;
}
ol ol,
ul ol,
ol ul,
ul ul {
  margin-top:0em;
  margin-bottom:0em;
}
/*
li {
  margin:0em 0em 0em 2.623em;
  padding:0em 0em 0em 0.3846em;
}
li li {
  margin:0em 0em 0em 0.7em;
}
*/

dl dd {
  margin:0em 0em 1.3846em 3.0769em;
}

/* layout */
.natTopBar {
  padding:0px;
  border-bottom:0px;
}
.natMiddle {
  background:#fff;
}
.natMain {
  background-image:url(button-bg.png);
  background-repeat:repeat-x;
  background-position:0% 100%;
  padding:1.3846em 2.3076em 2.3076em;
}
.natPrintBody .natMiddle {
  background-image:none;
  border-bottom:1px;
}
.natMainHeaderContents {
  margin-bottom:1.3846em;
}

#natTopicActionTooltip {
  color:#808080;
  font-size:95%;
}
.natSideBarHeader,
.natSideBar {
  width:15.38em; /* 200px */
  width:16.1538em; /* 210px */
}

/* border layout */
.natBodyBordered {
  margin:0px;
}
.natBodyBordered .natBodyContents {
  margin:1em 2em;
}
.natEditBody.natBodyBordered .natBodyContents {
  margin:0px;
}

.natBodyBordered.natBodyLeft .natSideBarHeader,
.natBodyBordered.natBodyRight .natWebMenu {
  border-left:1px #aaaaaa solid;
}
.natBodyBordered.natBodyLeft .natWebMenu,
.natBodyBordered.natBodyRight .natSideBarHeader,
.natBodyBordered .natTopRight {
  border-right:1px #aaaaaa solid;
}
.natBodyBordered .natMiddleLeft {
  border-left:1px #aaaaaa solid;
}
.natBodyBordered .natMiddleRight {
  border-right:1px #aaaaaa solid;
}
.natBodyBordered .natMiddle,
.natBodyBordered .natSideBar {
  border-bottom:1px #aaaaaa solid;
}
.natBodyBordered .natEditBody .natTopBar,
.natBodyBordered .natEditBody .natWebMenu,
.natBodyBordered .natEditBody .natMiddle,
.natBodyBordered .natEditBody .natBottomBar {
  border:0px
}

/* fixed layout*/
.natBodyFixed .natBodyContents {
  padding-top:1.38em; /* times 13 = 18px */
}
.natBodyFixed .natSideBarHeaderRight,
.natBodyFixed .natWebMenuRight,
.natBodyFixed .natSideBarRight,
.natBodyFixed .natMiddleRight,
.natBodyFixed .natTopRight {
  border-right:1px #aaaaaa solid;
}
.natBodyFixed .natSideBarHeaderLeft,
.natBodyFixed .natWebMenuLeft,
.natBodyFixed .natSideBarLeft,
.natBodyFixed .natMiddleLeft
{
  border-left:1px #aaaaaa solid;
}
.natBodyFixed .natMain,
.natBodyFixed .natSideBar {
  border-bottom:1px #aaaaaa solid;
}
.natBodyFixed.natEditBody .natMiddle {
  border-top:1px #aaaaaa solid;
}
.natBodyFixed.natEditBody .natBodyContents {
  padding-top:0;
}

/* web menu */
.natSideBarHeader,
.natWebMenu {
  background-color:#9CBAEF;
  border-top:1px solid #E1EAFA;
  border-bottom:1px solid #8099C4;
}
.natWebMenu {
  padding-left:2.3076em; /* 30px */
}

/* ie7 fix */
*:first-child+html .natBodyOff .natWebMenu ul {
  height:32px;
}

.natMoreActionsMenu h3 {
  font-weight:bold;
  background-color:#eee;
  color:#444;
}

.natMoreActionsMenu ul {
  border:1px solid #c2c4c4;
  -moz-box-shadow:2px 2px 2px rgba(128,128,128,0.2);
  -webkit-box-shadow:2px 2px 2px rgba(128,128,128,0.2);
  box-shadow:2px 2px 2px rgba(128,128,128,0.2);
}
.natTopicActions .natMoreActionsMenu ul li a:hover,
.natTopicActions .natMoreActionsMenu ul li .natTopicAction:hover,
.natTopicActions .natMoreActionsMenu ul li .natTopicAction:hover span {
  background-color:#0055b5;
  color:#fff;
}
.natWebMenu li {
  border-right:1px solid #E1EAFA;
}
.natWebMenu ul {
  border-left:1px solid #E1EAFA;
}
.natWebMenu ul ul {
  border-color:#c2c4c4;
  border-width:1px 0px 1px 0px;
  border-style:solid;
  -moz-box-shadow:2px 2px 2px rgba(128,128,128,0.2);
  -webkit-box-shadow:2px 2px 2px rgba(128,128,128,0.2);
  box-shadow:2px 2px 2px rgba(128,128,128,0.2);
}
.natMoreActionsMenu li .hr,
.natMoreActionsMenu li hr,
.natWebMenu li .hr,
.natWebMenu li hr {
  border-bottom:1px solid #c2c4c4;
  margin:0.5em -1em;
}
.natWebMenu li li {
  border-left:1px solid #c2c4c4;
  border-right:1px solid #c2c4c4;
}

.natWebMenu li,
.natWebMenu li a {
  font-weight:bold;
  color:#00458F;
}


.natWebMenu li li {
  background-color:#E9E9E9;
  background-color:#fff;
}
.natMoreActionsMenu li,
.natMoreActionsMenu li a,
.natWebMenu li li,
.natWebMenu li li a,
.natWebMenu li li a.foswikiNewLink {
  font-weight:normal;
  color:#444;
}

.natWebMenu li .foswikiCurrentWebHomeLink,
.natWebMenu li .foswikiCurrentWebHomeLink:hover,
.natWebMenu li a.current,
.natWebMenu li a.current:hover {
  text-decoration: none;
  background-color:#fff;
}

.natWebMenu li.sfHover,
.natWebMenu li.sfHover > a,
.natWebMenu li .foswikiCurrentWebHomeLink:hover,
.natWebMenu li a.current:hover,
.natWebMenu li a:hover {
  text-decoration: none;
  background-color:#0055b5;
  color:#fff;
}
/*
.natWebMenu li li.sfHover,
.natWebMenu li li.sfHover > a,
.natWebMenu li li .foswikiCurrentWebHomeLink:hover,
.natWebMenu li li a.current:hover,
.natWebMenu li li a:hover {
  background-color:#eee;
  color:#444;
}
*/

.natWebMenu .hasSubMenu {
  background-image:url(menucorner.gif);
  background-repeat:no-repeat;
  background-position:right bottom;
}


/* modal dialogs */
.natBody #simplemodal-container {
  -moz-box-shadow: 0px 3px 10px #888;
  -webkit-box-shadow: 0px 3px 10px #888;
  box-shadow: 0px 3px 10px #888;
}
.natBody #simplemodal-overlay {
  background:#fff;
}
.foswikiPreviewArea .jqButton,
.foswikiPreviewArea .jqButtonIcon {
  display:none;
}
#simplemodal-container .foswikiDialog,
#simplemodal-container .foswikiFormSteps {
  margin:0px;
  background-color:#fff;
  border:1px solid #BDBEC5;
}

.ui-dialog-content.foswikiFormSteps {
  margin:0px;
  background-color:#fff;
}

#simplemodal-container h2.foswikiDialogTitle {
  background:#eee;
  color:#9C3063;
  margin:-1.0625em -1.125em 1.125em -1.125em; /* 17px 18px */
  padding:1em 1.125em; /* 16px 18px */
}

#simplemodal-container .foswikiFormSteps .jqTabPane > .jqTabGroup li.current a {
  background-color:#fff;
  border-bottom-color:#fff;
}
#simplemodal-container .foswikiFormSteps .jqTabContents {
  background-color:#fff;
}
#simplemodal-container .hr,
#simplemodal-container hr {
  border-color:#ddd;
}


/* login */
.natLogin h1,
.natLogin h2 {
  border:0px;
  margin-top:0px;
}

.natLogin .foswikiFormSteps {
  background-color:#f6f6f6;
  background-image:url(login_keys.png);
  background-repeat:no-repeat;
  background-position:1.3em 0em;
  margin:0px;
  border:0px;
  border-left:2px solid #d6d6d6;
  border-right:2px solid #d6d6d6;
  border-bottom:2px solid #d6d6d6;
}
#natLoginBanner {
  background:#e5e5e5;
  color:#9C3063;
  font-weight:bold;
  margin:0px;
  padding:13px 19px;
  border-top:2px solid #d6d6d6;
  border-left:2px solid #d6d6d6;
  border-right:2px solid #d6d6d6;
  border-bottom:1px solid #d6d6d6;
}
.natLogin .foswikiFormStep {
  margin-left:12em;
}

.natLogin #username,
.natLogin #password {
  width:13em;
}

/* base styles */
.foswikiBroadcastMessage {
  margin:0em 0em 1em;
}

/* tables */
.natBody .atpDef, 
.natBody .atpSearch, 
.natBody .atpChanges, 
.mceContentBody table,
.foswikiTable {
  border:1px #dedede solid;
  font-size:0.923em;
  line-height:1.5em;
}
.natBody .atpDef, 
.natBody .atpSearch, 
.natBody .atpChanges, 
.mceContentBody table,
.foswikiTable {
  margin:1px 1px 1.3076em 1px;
}
.foswikiTableOverflow .foswikiTable {
  margin:0em;
}
.natBody .atpDef td, 
.natBody .atpSearch td, 
.natBody .atpChanges td, 
.mceContentBody td,
.foswikiTable td,
.foswikiTable tr.foswikiTableOdd td,
.foswikiTable tr.foswikiTableEven td,
.mceContentBody table tr.foswikiTableOdd td,
.mceContentBody table tr.foswikiTableEven td {
  background:#f9f9f9;
}
.natBody .atpDef th, 
.natBody .atpSearch th, 
.natBody .atpChanges th, 
.natBody .atpDef td, 
.natBody .atpSearch td, 
.natBody .atpChanges td, 
.mceContentBody th,
.mceContentBody td,
.foswikiTable th,
.foswikiTable td {
  padding:0.6666em 0.75em 0.75em 0.666em;
  border:1px #dedede solid;
}

.natBody .atpDef th, 
.natBody .atpSearch th, 
.natBody .atpChanges th, 
.mceContentBody th,
.foswikiTable th,
.foswikiTable th font,
.foswikiTable th h2,
.foswikiTable th h3,
.foswikiTable th h4 {
  color:#444;
  font-weight:bold;
  text-decoration:none;
  background:#9CBAEF;
  color:#fff;
}
.natBody .atpDef th a, 
.natBody .atpSearch th a, 
.natBody .atpChanges th a, 
.foswikiTable th a,
.foswikiTable th a:hover,
.foswikiTable th span,
.foswikiTable th a font {
  text-decoration:none;
  font-weight:bold;
  color:inherit;
  background-color:inherit;
}
.foswikiTable th a:hover,
.foswikiTable th a:hover font {
  text-decoration:underline;
}
.foswikiTable th h4 {
  margin:0px;
}

.foswikiTable th.foswikiSortedCol,
.foswikiTable th.foswikiSortedDescendingCol,
.foswikiTable th.foswikiSortedAscendingCol{ 
  background:#8DA8D8;
}
.foswikiTable tr.foswikiTableEven td.foswikiSortedCol,
.foswikiTable tr.foswikiTableOdd td.foswikiSortedCol,
.foswikiTable td.foswikiSortedCol,
.foswikiTable td.foswikiSortedDescendingCol,
.foswikiTable td.foswikiSortedAscendingCol {
  background:#f4f4f4;
}


/* tables in forms */
.foswikiEditForm th a,
.foswikiEditForm th a:hover {
  color:inherit;
  text-decoration:inherit;
  background-color:inherit;
}
.foswikiPageForm th,
.foswikiPageForm td,
.foswikiFormSteps th,
.foswikiFormSteps td {
  padding:2px 7px 2px 3px;
}
.foswikiPageForm .foswikiTable td,
.foswikiFormSteps .foswikiTable td,
.foswikiPageForm .foswikiTable th,
.foswikiFormSteps .foswikiTable th {
  border:0px;
}
.foswikiPageForm .foswikiTable td,
.foswikiFormSteps .foswikiTable td {
  vertical-align:middle;
}
.foswikiFormSteps .foswikiTable td,
.foswikiPageForm .foswikiTable td {
  background:transparent;
}
.foswikiFormSteps .foswikiTable th,
.foswikiPageForm .foswikiTable th {
  border-bottom:0px;
  vertical-align:top;
}

/* diff */
.foswikiDiffTable {
  border:1px solid #ddd;
  background:#f6f6f6;
}
.foswikiDiffTable td,
.foswikiDiffTable th {
  border:0px;
}
.foswikiDiffTable th {
  border-bottom:1px solid #ddd;
}

.foswikiDiffDeletedText {
 background:#FFD7D7;
}

/* history */
.natHistoryTable .selected {
  background-color:#DDD;
}

/* forms */
input[type=text],
input[type=password],
.foswikiInputField,
.foswikiSelect,
.foswikiTextarea, textarea {
  margin:0px;
  border:1px solid #bbb;
  background:#fefefe url(input-bg.png) no-repeat -1px -1px;
  padding:4px;
  font-size:0.923em;
          border-radius:2px;
     -moz-border-radius:2px;
  -webkit-border-radius:2px;
}
.foswikiTextarea:focus, textarea:focus,
.foswikiSelect:focus,
input[type=text]:focus,
input[type=password]:focus,
.foswikiInputField:focus {
  background-color:#f5f5f5;
  border-color:#aaa;
  border-color:#A2748A;
  border-color:#9C3063;
  background-position:0px 0px;
}

.foswikiSelect {
  padding-left:2px;
}
.foswikiSelect option {
  padding:0px 5px;
}
.foswikiSubmit,
.foswikiButton {
  padding:3px;
  margin:2px;
}

.foswikiDialog,
.foswikiFormSteps,
.foswikiPageForm {
  padding:1.3076em 1.3846em; /* 17px 18px */
  margin:1.3846em 0em 0em; /* 18px */
  border-top:1px solid;
  border-bottom:1px solid;
  border-color:#DDD;
  background-color:#FAF8F7;
}

input,
textarea, .foswikiTextarea,
select {
  margin:0.1538em 0em 0.0769em;
}

fieldset {
  padding:0px 0px 0px 1px; /* firefox fix to allign legend and content */
  border:0px;
  border-color:#DDD;
  background-color:#FAF8F7;
}
legend {
  color:#0055b5;
}

fieldset .foswikiFormSteps {
  border:0px;
}

.foswikiDialog .hr,
.foswikiDialog hr,
.foswikiFormSteps .hr,
.foswikiFormSteps hr {
  margin:1em -1.3076em;
}

.foswikiDialog h2,
.foswikiDialogForm h2 a,
.foswikiPageForm h2,
.foswikiPageForm h3,
.foswikiPageForm h4,
.foswikiPageForm h2 a,
.foswikiPageForm h3 a,
.foswikiPageForm h4 a,
.foswikiFormSteps h2,
.foswikiFormSteps h3,
.foswikiFormSteps h4,
.foswikiFormSteps h2 a,
.foswikiFormSteps h3 a,
.foswikiFormSteps h4 a {
  margin-top:0em;
  margin-bottom:0em;
  font-weight:bold;
}
.foswikiDialog h2,
.foswikiDialog h2 a,
.foswikiPageForm h2,
.foswikiPageForm h2 a,
.foswikiFormSteps h2,
.foswikiFormSteps h2 a {
  color:#9C3063;
}
.foswikiDialog h2 a:hover,
.foswikiPageForm h2 a:hover,
.foswikiFormSteps h2 a:hover {
  color:#fff;
}
.foswikiDialog h2,
.foswikiFormSteps h2 { 
  font-size: 1.2308em; /* 16px */ 
  line-height: 1.125em; /* 18px */ 
  margin-bottom: 1.125em; /* 18px */ 
  border:0px;
  padding:0px;
}

.foswikiFormSteps h3,
.foswikiFormSteps h4,
.foswikiFormSteps h5,
.foswikiFormSteps h6,
.jqTabContents .foswikiFormSteps h3,
.jqTabContents .foswikiFormSteps h4,
.jqTabContents .foswikiFormSteps h5,
.jqTabContents .foswikiFormSteps h6 {
  font-size:100%;  /* 13px */
  line-height:1.3846em; /* 18px */
}

.jqTabContents .foswikiFormSteps {
  margin-top:0px;
}

.natBody .jqTabContents {
  padding:0.6923em; /* 9px */
}

.foswikiFormStep {
  margin:0em 0em 1.3846em 0em;
}
.foswikiFormLast {
  margin-bottom:0px;
}
.foswikiFormFirst {
  margin-top:0px;
}

.foswikiFormButtons {
  margin:1.3846em 0em 0em 0em;
}

.jqButton {
  margin-right:0.7692em; /* 10px */
}
.foswikiFormSteps .jqButton.foswikiRight:hover,
.foswikiFormSteps .jqButton.foswikiRight {
  margin:0em 0em 0em 0.7692em; /* 0px 0px 0px 10px */
}

.foswikiFormSteps .jqTabContents,
.foswikiFormSteps .jqTabPane > .jqTabGroup li.current {
  background-color:#F6F3F2;
}
.foswikiFormSteps .jqTabPaneSimple > .jqTabGroup li.current a {
  border-bottom:1px solid #F6F3F2;
  background-color:#F6F3F2;
}
.foswikiFormSteps .jqTabPaneSimple > .jqTabGroup a {
  background-color:#EFECEB;
  background-color:#eee;
}
.foswikiFormSteps .jqTabPaneSimple > .jqTabGroup a:hover {
  background-color:#F6F3F2;
}

td .foswikiFormLegend,
td .foswikiFormDescription {
  margin:0px;
}
.foswikiFormLegend,
.foswikiFormDescription {
  margin:0em 0em 1.3846em;
  color:#828282;
}
.foswikiFormLast .foswikiFormLegend,
.foswikiFormLast .foswikiFormDescription {
  margin-bottom:0px;
}

.alt h2,
.jqTabContents h2 {
  font-size:1.2308em; /* 16px */
  line-height:1.125em; /* 18px */
  margin-bottom:0.5625em; /* 9px */
}
.alt > h2:first-child,
.jqTabContents > h2:first-child {
  margin-top:0px;
}
.alt h2,
.jqTabContents h2,
.jqTabContents h2 a {
  color:#9C3063;
  border:0px;
  padding:0px;
}

.foswikiFormSteps label,
.foswikiFormSteps .foswikiRadioButton,
.foswikiFormSteps .foswikiCheckbox {
  margin:0em 0.5em 0em 0em;
  vertical-align:middle;
}

/* helpers */
.natErrorMsg {
  background:#eee;
}

.alt h2 {
  margin:0em 0em 1.125em;
}

/* top */
.natTopLeft,
.natTopRight,
.natTopLeft a,
.natTopRight a  {
  color:#fff;
}
.natTopLeft.natTopRight {
  padding:0px;
  background:transparent;
}
.natTopBar {
  background:url(foswiki-header-tile-blue.png) repeat-x;
  margin-left:25px;
  height:7.6923em; /* 100px */
  max-height:100px;
}
.natTopLeft {
  background:url(foswiki-header-blue.png) no-repeat;
  margin-left:-25px;
  width:100%;
}
.natTopLeftContents {
  padding:25px 0em 0em 2.3077em; /* 25px 0 0 30px */
}
.natTopRightContents {
  padding:25px 2.3077em 0em 0em; /* 25px 30px 0 0 */
}
.natWebTitle a span {
  display:none;
}
.natWebTitle a {
  float:left;
  margin:0px;
}
.natBodyFluid .natWebTitle a {
  margin-top:-5px;
}
.natBodyFluid.natBodyLeft .natWebTitle {
  padding-left:1em;
}
.natWebTitle a,
.natWebTitle a:hover {
  text-decoration:none;
  background-color:transparent;
  background-repeat:no-repeat;
}
.natEditBody .natMain {
  background:#fff;
}
.natEditBody .natMainContents,
.natEditBody .natMainFooterContents {
  margin:0px;
}
.natEditTitle {
  margin-top:1em; 
  font-size: 1.3846em; /* 18px */ 
  line-height: 1em; /* 18px */ 
  margin-bottom:1em; 
  border-bottom:0px;
}
.natWebSlogan {
  font-style:italic;
  display:inline;
  display:none;
}

/* topic actions */
.natGreeter {
  text-align:right;
  padding:0.2308em 1em; /* 3px 13px */
}
.natGreeter a {
  color:#444;
  text-decoration:none;
}

.natBodyFluid .natWebTitle {
  background-position:-24px 0px;
}

.natBodyFluid .natGreeter {
  position:absolute;
  top:103px;
  right:0px;
  text-align:left;
  width:15.7692em; /* 205px */
  padding-left:0px;
  padding-right:0px;
}
.natBodyFluid .natGreeter a {
  color:#00458F;
  font-weight:bold;
}
.natBodyFluid .natGreeter a:hover {
  color:#fff;
}

.natUserAction {
  font-size:0.923em; /* 12px */
  padding:3px;
  margin:0px -2px;
}
.natUserAction img {
  width:1.3333em; /* 16px */
}
.natUserAction span {
  padding-left:0.1619em; /* 2px */
}
.natDisabledUserAction span,
.natDisabledTopicAction span {
  color:#cfcfcf;
}
.natTopicActions span {
  color:#444;
}

.natDisabledTopicAction:hover,
.natDisabledTopicActions a:hover {
  background-color:transparent;
}

.natTopicActions .natUserAction:hover,
.natTopicActions .natTopicAction:hover {
  background-color:#eee;
  border:1px solid #c2c4c4;

  -webkit-border-radius:2px;
     -moz-border-radius:2px;
          border-radius:2px;

  /*
  -webkit-box-shadow:2px 2px 2px rgba(128,128,128,0.2);
     -moz-box-shadow:2px 2px 2px rgba(128,128,128,0.2);
          box-shadow:2px 2px 2px rgba(128,128,128,0.2);
  */
}
.natTopicActions .sfHover .natMoreActionsTopicAction {
  -webkit-border-radius:2px 2px 0px 2px;
     -moz-border-radius:2px 2px 0px 2px;
          border-radius:2px 2px 0px 2px;

  -webkit-box-shadow:2px 0px 2px rgba(128,128,128,0.2);
     -moz-box-shadow:2px 0px 2px rgba(128,128,128,0.2);
          box-shadow:2px 0px 2px rgba(128,128,128,0.2);

  border:1px solid #c2c4c4;
  border-bottom:0px;
  position:relative;
}

/* sidebar */
.natSideBar {
  background:#E9E9E9;
  background-image:url(button-bg.png);
  background-repeat:repeat-x;
  background-position:0% 100%;
}
.natSideBar a span,
.natSideBar a {
  text-decoration:none;
}
.natSideBarContents  {
  margin:0em;
  padding:0em 1em;
}
.natSideBar .hover,
.natSideBar a:hover {
  /*
  background:#9CBAEF;
  color:#0055b5;*/
  background-color:#fff;
}
.natSideBar h2 {
  font-size:1.1538em; /* 15px */
  line-height:1.3333em; /* 20px */
  border-top:1px solid #BDEB86;
  border-bottom:1px solid #5CA300;
  clear:both;
  display:block;
  font-weight:normal;
  margin:0em -1em 0em;
  padding:0.333em 1em;
  background-color:#62B000;
  color:#fff;
  font-size:100%;
  font-weight:bold;
  /* text-shadow:0px 1px #6CC200; */
}
.natSideBar h2 a {
  color:#fff;
  display:block;
  margin:-0.2666em -1em -0.3333em;
  margin:-0.3333em -1em;
  padding:0.333em 1em;
}
.natSideBar h2 a:hover {
  background:#5AA301;
  color:#fff;
}

.natSideBar h3 {
  font-size:100%; /* 13px */
  line-height:1.3846em; /* 18px */
  margin:0em -1em;
  padding:5px 1em 6px;
  border-top:1px solid #c2c4c4;
  font-weight:bold;
}
.natSideBar b,
.natSideBar strong,
.natSideBar h3,
.natSideBar h4,
.natSideBar h3 a,
.natSideBar h4 a {
  color:#222;
}

.natSideBar p {
  margin:0em -1em;
  padding:0em 1em;
}

.natSideBar .jqSerialPager {
  margin:0em -1em;
}

.natSideBar p {
  padding:5px 1em 6px;
}

.natSideBar ul {
  margin:0em -1em;
}

.natSideBar ul li {
  margin:0px;
  border-top:1px solid #c2c4c4;
  padding:5px 1em 6px;
}
.natSideBar ul li.jqBookmarksDummy {
  border-top:0px;
}
.natSideBar li a:hover,
.natSideBar li a {
  color:#434343;
}
.natSideBar ul li a:hover,
.natSideBar ul li a {
  font-weight:normal;
  display:block;
  margin:-5px -1em -6px;
  padding:5px 1em 6px;
}
.natSideBar .foswikiCurrentTopicLink {
  color:#9C3063;
  background:#fff;
}

.natSideBar ol {
  margin:0em 0em -1px;
  padding:0em 0.25em 0.5em;
}
.natSideBar ol li {
  background-image:none;
  border-bottom:0px;
  line-height:normal;
  padding:0.25em 0em;
}
.natSideBar ol li a:hover {
  background:#0055b5;
  color:#ffffff;
}
.natSideBar ul ul {
  margin-left:0px;
  padding-left:0px;
  list-style-type:none;
}
.natSideBar ul ol li,
.natSideBar ul ul li {
  background-image:none;
  padding-left:0px;
}

.natSearchBox {
  margin-top:1em;
}
.natSideBar .natSearchBox {
  margin:0px -1em;
  padding:0.3846em; /* 5px */
}
.natSearchBox form {
  position:relative;
  padding-right:10px;
}
.natSearchBox .foswikiInputField {
  color:#aaa; 
  background-position:0px 0px;
  padding:4px 0px 3px 5px;
  /*width:11.5em;*/
}

.natSearchBox input:focus { 
  color:#0055b5;
}

.natSearchBox .foswikiSubmit {
  width:24px;
  height:24px;
  top:50%;
  right:3px;
  margin:-12px 0px 0px 0px;
  border:0;
  padding:0;
  background:url(search_button.png) no-repeat 0 0 transparent;
  position:absolute;
  cursor:pointer;
}
.natSearchBox .foswikiSubmit:hover {
  background-position:0px -25px;
}

.natSearchHit {
  margin:1.3846em 0em;
}

/* main area */
.natBreadCrumbs,
.natBreadCrumbs .natSep {
  color:#808080;
}
.natBreadCrumbs a {
  color:#64B000;
  text-decoration:none;
}
.foswikiTopicInfo a:hover,
.natBreadCrumbs a:hover {
  color:#fff;
}

.natMainContents .foswikiNewLink {
  background-color:#eee;
  color:#9C3063;
}

/* bottom */
.natMainFooterContents .natRevision {
  margin:2em 0em 0em;
}
.foswikiTopicSummary,
.foswikiTopicInfo, 
.foswikiTopicInfo a,
.natRevision a,
.natRevision {
  color:#808080;
}
h1 .foswikiTopicSummary,
h2 .foswikiTopicSummary {
  font-size:0.5909em; /* 13px */
  line-height:1.3846em; /* 18px */
  color:#808080;
}
.natRevision a:hover {
  color:#fff;
}
.foswikiTopicInfo h1 a,
.foswikiTopicInfo h2 a {
  color:inherit;
}
.natSyndicate {
  display:inline;
}
.natBottomBar {
  padding:2.3076em;
}
.natBottomBarContents {
  width:100%;
  text-align:left;
}
.natPageCacheBanner,
.natPageCacheBanner a,
.natBottomBarContents,
.natBottomBarContents a {
  color:#999;
}
.natBottomActions {
  margin-bottom:2.769em; /* 36 px*/
}
.natPageCacheBanner {
  margin-top:2.769em; /* 36 px*/
}
.natCopyRight {
  display:inline;
}

/* forms */
.foswikiAttachmentsOptions {
  border-bottom:1px solid;
  border-top:1px solid;
  border-color:#DDD;
  background-color:#FAF8F7;
}
.natTopicAttachments .natTopicAction:hover {
  background-color:#FEE7B5;
}

/* attachments */
.natTopicAttachments {
  margin-top:1.3846em;
}
.natTopicAttachments h2 {
  margin-bottom:0px;
}
.natTopicAttachments .foswikiFormStep {
  margin-top:1.3846em;
}
.jqTabContents .natTopicAttachments {
  margin:0px;
  padding:0px;
}
.natTopicAttachments a {
  text-decoration:none;
}

/* search tables */
.natSearchRevision a {
  color:#64B000;
  text-decoration:none;
}
.natSearchRevision a:hover {
  color:#fff;
}

/* TOC */
.foswikiToc {
  margin:1.3846em 0em;
  padding:0em;
}
.foswikiTocTitle {
  font-size: 1.2308em; /* 16px */ 
  line-height: 1.125em; /* 18px */ 
  margin-top: 1.125em; 
  margin-bottom: 0em;
  display:block;
  color:#222;
}
.foswikiToc ul {
  list-style:none;
  margin:0.6923em 0em 1.3846em;
  padding:0.6153em 0em;
  border-top:1px solid #ddd;
  border-left:4px solid #ddd;
}
.foswikiToc ul ul {
  padding:0em 0em 0em .5em;
  margin-top:0px;
  margin-bottom:0px;
  border:0px;
}
.foswikiToc li {
  margin-left:1em;
  padding-left:1em;
  background-image:url(bullet-toc.gif);
  background-position:0 0.4em;
  background-repeat:no-repeat;
}
.foswikiToc a {
  background-image:none;
  text-decoration:none;
}

/* ClassificationPlugin */
.clsBrowser a,
.tagCloud a,
.clsTagCloud a {
  text-decoration:none;
  display:inline;
  color:#0055b5;
}
.fltMakeIndexWrapper .clsSubCategories a,
.fltMakeIndexWrapper .clsSubCategories {
  color:#808080;
}
.fltMakeIndexWrapper .clsSubCategories a:hover {
  color:#ffffff;
  background:#0055b5;
}

.fltMakeIndexWrapper .foswikiTopicInfo {
  color:#808080;
}
.clsMakeIndexWrapper ul li {
  /*border-bottom:1px solid #ddd;*/
  border:0;
  margin:0 0 0.5em;
}

/* HistoryPlugin */
.natOopsHistoryBody form {
  margin:0em 1em 1em 0em;
  padding:0.5em 1em;
  border:1px #ddd solid;
  background-image:url(GrayBlend.png);
  background-repeat:repeat-x;
  background-position:0px 0px;
}

/* tinymce plugin */
.mceContentBody {
  font-size:95%;
}
.mceContentBody h1 {
  margin-top:0px;
}
.mceEditor {
  background:transparent !important;
  border:0px !important;
}
.mceEditor td {
  padding:10px 5px 0px;
  border:2px inset #ddd;
}
td.mceToolbarTop,
td.mceStatusbarBottom {
  padding:2px 5px 2px 5px;
  background:transparent;
  border:0px;
}
td.mceToolbarTop {
  padding:5px 5px 15px 5px;
}
.WYSIWYG_PROTECTED {
  background:#f6f6f6;
  color:#444;
  font-family:"Bitstream Vera Sans Mono", "Andale Mono", monospace;
}


/* jqTreeview */
.natSideBar .jqTreeview {
  padding:0.3em 0em;
  margin:0em -0.5em 0em;
}
.natSideBar .treeview a:hover,
.treeview a:hover,
a:hover .foswikiAlert,
a:hover {
  color:#ffffff;
  background:#0055b5;
  text-decoration:none;
}
.natSideBar .treeview a:hover,
.natSideBar .treeview a {
  display:inline;
  padding:0px;
  margin:0px;
}
.natSideBar .treeview,
.natSideBar .treeview ul,
.natSideBar .treeview ol,
.natSideBar .treeview li {
  border:0px;
}

@media print {
  /* fonts */
  .natBody, body {
    font-size:10px;
    line-height:13px;
  }
  /* TOC */
  .foswikiToc::before {
    font-size:135%;
  }
  .foswikiToc {
    text-align:left;
    page-break-after:always;
  }
  .natTopicAttachments,
  .foswikiTocTitle {
    display:none;
  }
  .foswikiToc::before {
    font-size:160%;
    margin:2em 0em 1em;
    display:block;
    content: "Table of Contents";
  }
  .foswikiToc > ul {
    columns: 2;
    column-gap: 1em;
    border:0px;
    padding:0px;
    margin:0px;
  }
  .foswikiToc a::after {
    content:leader(".") target-counter(attr(href), page);
  }
  .foswikiToc li {
    background:transparent;
    padding-left:0px;
    margin-left:5px;
  }

  .natBody h1 a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
  .natBody h1, h1, h2, h3, h4, h5, h6 {
    color:#000;
    font-weight:bold;
  }
  /*
  h2 {
    margin-top:1.5cm;
  }
  h3 {
    margin-top:1cm;
  }
  */

  .foswikiTable th,
  .foswikiTable th font,
  .foswikiTable th h2,
  .foswikiTable th h3,
  .foswikiTable th h4 {
    color:#000;
    background:#aaa;
  }
  .foswikiTable,
  .foswikiTable th,
  .foswikiTable td {
    border:1px solid #000;
  }

}

/* solr plugin */
/*.clsAuthorDateInfo,*/
.natBody .solrRevision,
.natBody .solrRevision a {
  color:#64B000;
}
.natBody .solrRevision a:hover {
  color:#fff;
}
.natSideBar .solrFacetPager ul {
  border-right:1px solid #c2c4c4;
}
.natSideBar a.solrClearAll,
.natSideBar a.solrClearAll:hover,
.natSideBar a.solrClear,
.natSideBar a.solrClear:hover {
  color:inherit;
  margin:0.5em 0em;
}
.natSideBar .solrFacetPager {
  margin:0em -1em;
}
.natSideBar .solrYourSelection ul,
.natSideBar .solrFacetContainer ul {
  border-bottom:1px solid #c2c4c4;
  margin-bottom:-1px;
}
.natSideBar .solrFacetPagerButtons {
  margin:0 -1em;
  padding:0.5em 1em;
  border-bottom:1px solid #c2c4c4;
}
.natSideBar a.jqSerialPagerPrev:hover,
.natSideBar a.jqSerialPagerNext:hover {
  color:inherit;
}

/* action tracker plugin */
.natBody .atpDef td {
  vertical-align: top;
}
.natBody .atpClosed,
.natBody .atpOpen,
.natBody .atpError,
.natBody .atpWarn {
  display:block;
  margin:-0.6666em -0.75em -0.75em -0.666em;
  padding:0.6666em 0.75em 0.75em 0.666em;
}

.natBody .atpClosed { /* see .foswikiSuccessMessage */
  background-color:#EFFFD8;
  color:#599E00;
}
.natBody .atpOpen { }
.natBody .atpError { /* see .foswikiErrorMessage */
  background-color:#FBE3E4;
  color:#b22222;
}
.natBody .atpWarn { /* see .foswikiWarningMessage */
  background-color:#FFF6BF;
  color:#7B765C;
}
.natBody .atpStateopen { 
  background-color:#FFF6BF;
}
.natBody .atpStateclosed { 
  background-color:#EFFFD8;
}

.natBody table.atpEdit {
  width:100%;
  empty-cells:show;
  border-spacing:0px;
  border-collapse:collapse;
  border-top:1px solid;
  border-bottom:1px solid;
  background-color:#FAF8F7;
  border-color:#DDD;
  margin:0em 0em 0.6923em 0em; /* 9px */
}

.natBody table.atpEdit th,
.natBody table.atpEdit td {
  padding:0.6666em 0.75em 0.75em 0.666em;
}
.natBody table.atpEdit th {
  width:6em;
}

/* uploader */
.jqUploaderFilesContainer {
  border:1px solid;
  border-color:#DDD;
}

