/* JazzyNoteStyle */
@import url(../NatSkin/BaseStyle.css);

/* html elements */
/* see http://drewish.com/tools/vertical-rhythm */
.natHtml {
  background-color:#fff;
  background-image:url(GrayBlend.gif);
  background-repeat:repeat-x;
}

h1,
.blogEntry .foswikiTopicInfo h2 {
  border-bottom:1px #ddd solid;
  margin-bottom:0.7727em; /* 17px */
}
.blogCategoryTitle h1,
.blogCategoryTitle h1 a {
  border-bottom:0px;
  color:#808080;
}
.blogCategoryTitle h1 a:hover {
  color:#fff;
}

/* layout */
.natGreeter {
  margin-top:0.5em;
}
.natMiddle {
  border:1px #aaa solid;
  border-top:0px;
  background-color:#E9E9E9;
}
.natMiddleContents,
.natMiddle {
  background-image:url(../JazzyNoteTheme/button-bg.png);
  background-repeat:repeat-x;
  background-position:0% 100%;
}

.natBottomBarContents,
.natWebMenuContents,
.natMainHeaderContents,
.natMainContents {
  padding-left:1.5em;
  padding-right:1.5em;
}
.natMainContents {
  padding-bottom:1.5em;
}
.natBottomBarContents {
  padding-top:2em;
}

/* fluid layout */
.natBodyFluid .natMiddle,
.natBodyFluid .natMain {
  background-image:none;
  border:0;
}

/* topic actions */
.natMoreActionsMenu h3 {
  font-weight:bold;
  background-color:#eee;
  color:#444;
}

.natMoreActionsMenu ul {
  border:1px solid #c2c4c4;
  box-shadow:2px 2px 2px rgba(128,128,128,0.2);
}
.natTopicActions .sfHover .natMoreActionsTopicAction {
  border-radius:2px 2px 0px 2px;
  box-shadow:2px 0px 2px rgba(128,128,128,0.2);
}
.natTopicActions .natMoreActionsMenu ul li a:hover,
.natTopicActions .natMoreActionsMenu ul li .natTopicAction:hover,
.natTopicActions .natMoreActionsMenu ul li .natTopicAction:hover span {
  background-color:#0055b5;
  color:#fff;
}

/* web menu */
.natSideBarHeader,
.natWebMenu {
  background-color:#9CBAEF;
  border-top:1px solid #E1EAFA;
  border-bottom:1px solid #8099C4;
}
.natWebMenu {
  margin-bottom:-1px;
}
.natWebMenu li {
  border-right:1px solid #E1EAFA;
}
.natWebMenu ul {
  border-left:1px solid #E1EAFA;
}
.natWebMenu ul ul {
  box-shadow:2px 2px 2px rgba(128,128,128,0.2);
  margin-top:-2px;
}
.natWebMenu ul ul ul {
  margin-top:0;
}

.natWebMenu li,
.natWebMenu li a {
  color:#00458F;
}


.natMoreActionsMenu li,
.natMoreActionsMenu li a,
.natWebMenu li li,
.natWebMenu li li a,
.natWebMenu li li a.foswikiNewLink {
  font-weight:normal;
  color:#444;
}

.natWebMenu .hasSubMenu {
  background-image:url(menucorner.gif);
  background-repeat:no-repeat;
  background-position:right bottom;
}


/* modal dialogs */
.foswikiPreviewArea .jqButton,
.foswikiPreviewArea .jqButtonIcon {
  display:none;
}

.ui-dialog .foswikiFormSteps .jqTabPane > .jqTabGroup li.current a {
  background-color:#fff;
  border-bottom-color:#fff;
}
.ui-dialog .foswikiFormSteps .jqTabContents {
  background-color:transparent;
}

/* tables */
.natBody .atpDef th, 
.natBody .atpSearch th, 
.natBody .atpChanges th, 
.mceContentBody th,
.foswikiTable th,
.foswikiTable th h2,
.foswikiTable th h3,
.foswikiTable th h4 {
  color:#444;
  font-weight:bold;
  text-decoration:none;
  background-color: #f0f0f0;
  background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0));
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #fff, #f0f0f0);
  background-image:    -moz-linear-gradient(top, #fff, #f0f0f0);
  background-image:     -ms-linear-gradient(top, #fff, #f0f0f0);
  background-image:      -o-linear-gradient(top, #fff, #f0f0f0);
  background-image:         linear-gradient(top, #fff, #f0f0f0);
  box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
  text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}
.natBody .atpDef th a, 
.natBody .atpSearch th a, 
.natBody .atpChanges th a, 
.foswikiTable th a,
.foswikiTable th a:hover,
.foswikiTable th span {
  color:#444;
}
.foswikiTable th a:hover {
  color:#444;
  background-color:transparent;
}
.foswikiTable th h4 {
  margin:0px;
}

.foswikiTable tr.foswikiTableEven td.foswikiSortedCol,
.foswikiTable tr.foswikiTableOdd td.foswikiSortedCol,
.foswikiTable td.foswikiSortedCol,
.foswikiTable td.foswikiSortedDescendingCol,
.foswikiTable td.foswikiSortedAscendingCol {
  background:#f4f4f4;
}


/* diff */
.foswikiDiffTable {
  border:1px solid #ddd;
  background:#f6f6f6;
}
.foswikiDiffTable td,
.foswikiDiffTable th {
  border:0px;
}
.foswikiDiffTable th {
  border-bottom:1px solid #ddd;
}

.foswikiDiffDeletedText {
 background:#FFD7D7;
}

/* forms */
.foswikiDialog,
.foswikiFormSteps,
.foswikiPageForm {
  border-color:#DDD;
  background-color:#FAF8F7;
}

.foswikiDialog h2,
.foswikiDialog h2 a,
.foswikiPageForm h2,
.foswikiPageForm h2 a,
.foswikiFormSteps h2,
.foswikiFormSteps h2 a {
  color:#9C3063;
}

.foswikiFormSteps .jqTabContents,
.foswikiFormSteps .jqTabPane > .jqTabGroup li.current {
  background-color:#F6F3F2;
}
.foswikiFormSteps .jqTabPaneSimple > .jqTabGroup li.current a {
  border-bottom:1px solid #F6F3F2;
  background-color:#F6F3F2;
}
.foswikiFormSteps .jqTabPaneSimple > .jqTabGroup a {
  background-color:#EFECEB;
  background-color:#eee;
}
.foswikiFormSteps .jqTabPaneSimple > .jqTabGroup a:hover {
  background-color:#F6F3F2;
}

/* helpers */
.natErrorMsg {
  background:#eee;
}

/* top */
.natTopLeft,
.natTopRight,
.natTopLeft a,
.natTopRight a  {
  color:#fff;
}
.natTopLeft.natTopRight {
  padding:0px;
  background:transparent;
}
.natTopBar {
  background:url(foswiki-header-tile-blue.png) repeat-x;
  margin-left:25px;
  max-height:100px;
}
.natTopBar,
.natTopLeft,
.natTopRight {
  height:7.6923em; /* 100px */
}
.natTopLeft {
  background:url(foswiki-header-blue.png) no-repeat;
  margin-left:-25px;
}
.natTopLeftContents {
  padding:25px 0em 0em 2.3077em; /* 25px 0 0 30px */
}
.natTopRightContents {
  padding:40px 2.3077em 0em 0em; /* 40px 30px 0 0 */
}
.natEditBody .natMain {
  background:#fff;
}

/* sidebar */
.natSideBar .hover,
.natSideBar a:hover {
  background-color:#fff;
}
.natSideBar h2 {
  font-size:1.1538em; /* 15px */
  line-height:1.3333em; /* 20px */
  border-top:1px solid #BDEB86;
  clear:both;
  display:block;
  font-weight:normal;
  margin:0em -1em 0em;
  padding:0.333em 1em;
  background-color:#62B000;
  color:#fff;
  font-size:100%;
  font-weight:bold;
}
.natSideBar h2 a {
  color:#fff;
  display:block;
  margin:-0.2666em -1em -0.3333em;
  margin:-0.3333em -1em;
  padding:0.333em 1em;
}
.natSideBar h2 a:hover {
  background:#5AA301;
  color:#fff;
}

.natSideBar h3 {
  font-size:100%; /* 13px */
  line-height:1.3846em; /* 18px */
  margin:0em -1em;
  padding:5px 1em 6px;
  border-top:1px solid #c2c4c4;
  font-weight:bold;
}
.natSideBar b,
.natSideBar strong,
.natSideBar h3,
.natSideBar h4,
.natSideBar h3 a,
.natSideBar h4 a {
  color:#222;
}

.natSideBar p {
  margin:0em -1em;
  padding:5px 1em 6px;
}

.natSideBar .jqSerialPager,
.natSideBar ul {
  margin:0em -1em;
}
.natSideBar .jqSerialPager ul {
  margin:0;
}

.natSideBar ul li {
  border-top:1px solid #c2c4c4;
  padding:5px 1em 6px;
}

.natSideBar ul li.jqBookmarksDummy {
  border-top:0px;
}
.natSideBar li a:hover,
.natSideBar li a {
  color:#434343;
  display:block;
  margin:-5px -1em -6px;
  padding:5px 1em 6px;
}
.natSideBar .foswikiCurrentTopicLink {
  color:#9C3063;
  background:#fff;
}

.natSideBar ol {
  margin:0em 0em -1px;
  padding:0em 0.25em 0.5em;
}
.natSideBar ol li {
  background-image:none;
  border-bottom:0px;
  line-height:normal;
  padding:0.25em 0em;
}
.natSideBar ol li a:hover {
  background:#0055b5;
  color:#ffffff;
}
.natSideBar ul ul {
  margin-left:0px;
  padding-left:0px;
  list-style-type:none;
}
.natSideBar ul ol li,
.natSideBar ul ul li {
  background-image:none;
  padding-left:0px;
}

.natSearchHit {
  margin:1.3846em 0em;
}

/* main area */
.natBreadCrumbs,
.natBreadCrumbs .natSep {
  color:#808080;
}
.natBreadCrumbs a {
  color:#64B000;
}
.foswikiTopicSummary,
.foswikiTopicInfo, 
.foswikiTopicInfo a,
.natRevision a,
.natRevision {
  color:#808080;
}
.foswikiTopicInfo h1 a,
.foswikiTopicInfo h2 a {
  color:inherit;
}
.natRevision a:hover,
.foswikiTopicInfo a:hover,
.natBreadCrumbs a:hover {
  color:#fff;
}

.natMainContents .foswikiNewLink {
  background-color:#eee;
  color:#9C3063;
}

/* toc */
.foswikiToc li {
  background-image:url(../NatSkin/bullet-toc.gif);
  background-position:0 0.4em;
  background-repeat:no-repeat;
}

/* bottom */
.natMainFooterContents .natRevision {
  margin:2em 0em 0em;
}
.natSyndicate {
  display:inline;
}
.natPageCacheBanner,
.natPageCacheBanner a,
.natBottomBarContents,
.natBottomBarContents a {
  color:#999;
}
.natBottomActions {
  margin-bottom:2.769em; /* 36 px*/
}

/* forms */
.foswikiAttachmentsOptions {
  border-bottom:1px solid;
  border-top:1px solid;
  border-color:#DDD;
  background-color:#FAF8F7;
}
.natTopicAttachments .natTopicAction:hover {
  background-color:#FEE7B5;
}

/* attachments */
.natTopicAttachments {
  margin-top:1.3846em;
}
.natTopicAttachments h2 {
  margin-bottom:0px;
}
.natTopicAttachments .foswikiFormStep {
  margin-top:1.3846em;
}
.jqTabContents .natTopicAttachments {
  margin:0px;
  padding:0px;
}
.natTopicAttachments a {
  text-decoration:none;
}

/* search tables */
.natSearchRevision a {
  color:#64B000;
  text-decoration:none;
}
.natSearchRevision a:hover {
  color:#fff;
}

/* ClassificationPlugin */
.fltMakeIndexWrapper .clsSubCategories a,
.fltMakeIndexWrapper .clsSubCategories {
  color:#808080;
}
.fltMakeIndexWrapper .clsSubCategories a:hover {
  color:#ffffff;
  background:#0055b5;
}

.fltMakeIndexWrapper .foswikiTopicInfo {
  color:#808080;
}

/* HistoryPlugin */
.natOopsHistoryBody form {
  margin:0em 1em 1em 0em;
  padding:0.5em 1em;
  border:1px #ddd solid;
  background-image:url(GrayBlend.png);
  background-repeat:repeat-x;
  background-position:0px 0px;
}

/* tinymce plugin */
.mceContentBody h1 {
  margin-top:0px;
}
.WYSIWYG_PROTECTED {
  background:#f6f6f6;
  color:#444;
  font-family:"Bitstream Vera Sans Mono", "Andale Mono", monospace;
}
.mceToolbar .mceToolbarStart span,
.mceToolbar .mceToolbarEnd span,
.mceButton,
.mceSeparator {
  background-image:none !important;
}

/* jqTreeview */
.natSideBar .jqTreeview {
  padding:0.3em 0em;
  margin:0em -0.5em 0em;
}
.natSideBar .treeview a:hover,
.treeview a:hover,
a:hover .foswikiAlert,
a:hover {
  color:#ffffff;
  background:#0055b5;
  text-decoration:none;
}
.natSideBar .treeview a:hover,
.natSideBar .treeview a {
  display:inline;
  padding:0px;
  margin:0px;
}
.natSideBar .treeview,
.natSideBar .treeview ul,
.natSideBar .treeview ol,
.natSideBar .treeview li {
  border:0px;
}

/* action tracker plugin */
.natBody .atpDef td {
  vertical-align: top;
}
.natBody .atpClosed,
.natBody .atpOpen,
.natBody .atpError,
.natBody .atpWarn {
  display:block;
  margin:-0.6666em -0.75em -0.75em -0.666em;
  padding:0.6666em 0.75em 0.75em 0.666em;
}

.natBody .atpClosed { /* see .foswikiSuccessMessage */
  background-color:#EFFFD8;
  color:#599E00;
}
.natBody .atpOpen { }
.natBody .atpError { /* see .foswikiErrorMessage */
  background-color:#FBE3E4;
  color:#b22222;
}
.natBody .atpWarn { /* see .foswikiWarningMessage */
  background-color:#FFF6BF;
  color:#7B765C;
}
.natBody .atpStateopen { 
  background-color:#FFF6BF;
}
.natBody .atpStateclosed { 
  background-color:#EFFFD8;
}

.natBody table.atpEdit {
  width:100%;
  empty-cells:show;
  border-spacing:0px;
  border-collapse:collapse;
  border-top:1px solid;
  border-bottom:1px solid;
  background-color:#FAF8F7;
  border-color:#DDD;
  margin:0em 0em 0.6923em 0em; /* 9px */
}

.natBody table.atpEdit th,
.natBody table.atpEdit td {
  padding:0.6666em 0.75em 0.75em 0.666em;
}
.natBody table.atpEdit th {
  width:6em;
}

/* uploader */
.jqUploaderFilesContainer {
  border:1px solid;
  border-color:#DDD;
}

