/* Base Style */
/* base */
.foswikiMakeVisible,
.foswikiMakeVisibleInline,
.foswikiMakeVisibleBlock,
.twikiMakeVisible,
.twikiMakeVisibleInline,
.twikiMakeVisibleBlock {
  display:none;
}

.foswikiLeft,
.twikiLeft {
  float:left;
  position:relative;
}
.foswikiRight,
.twikiRight {
  position:relative;
  float:right;
  display:inline;
  margin:0;
}
.foswikiClear,
.twikiClear {
  margin:0;
  padding:0;
  height:0px;
  line-height:0px;
  clear:both;
  display:block;
  border:0px;
}
.foswikiHidden,
.twikiHidden {
  display:none;
}
.foswikiSmall,
.twikiSmall {
  font-size:90%; 
}
.foswikiSmallish,
.twikiSmallish {
  font-size:95%;
}

.twikiGrayText,
.foswikiGrayText {
  color:#8E9195;
}
.twikiGrayText a,
.foswikiGrayText a {
  color:#7B7E81;
}
.foswikiSmallish i,
.foswikiSmall i,
.twikiSmallish i,
.twikiSmall i {
  font-style:normal; /* no italics for fonts that are already small */
}

/* html elements */
.natHtml {
  background:white;
}
.twikiEmulatedLink,
.foswikiEmulatedLink,
a {
  text-decoration:none; 
  color:#0065CD;
}
.twikiEmulatedLink:hover,
.foswikiEmulatedLink:hover,
a:hover { 
  text-decoration:underline; 
  color:#777;
}

a:active,
a:focus { 
  outline:0px;
}

hr {
  border:0px;
  border-bottom:1px solid black;
  margin:0.7em 0px;
}

blockquote {
  margin:1.0em 0em 1.0em 2em;
}

button,
html {
  font-size:12px; 
}

input, textarea, select, body { 
  font-size:100%;
}
.foswikiCheckbox,
.twikiCheckbox {
  margin:0px 3px 0px 0px;
}
h1 { font-size:180%;}
h2 { font-size:160%;}
h3 { font-size:130%; margin-top:10px; margin-bottom:0px; }
h4 { font-size:120%; margin-top:10px; margin-bottom:0px; }
h5 { font-size:110%; margin-top:10px; margin-bottom:0px; }
h6 { font-size:110%; margin-top:10px; margin-bottom:0px; }

h1 .twikiEmulatedLink, h2 .twikiEmulatedLink, h3 .twikiEmulatedLink,
h4 .twikiEmulatedLink, h5 .twikiEmulatedLink, h3 .twikiEmulatedLink,
h1 .foswikiEmulatedLink, h2 .foswikiEmulatedLink, h3 .foswikiEmulatedLink,
h4 .foswikiEmulatedLink, h5 .foswikiEmulatedLink, h3 .foswikiEmulatedLink,
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:hover, h2 a:hover, h3 a:hover,
h4 a:hover, h5 a:hover, h6 a:hover {
  text-decoration:none;
}
.natMainContents > h1,
.natMainContents h1:first-child {
  margin-top:0px;
}

p {
  margin:1.0em 0em 0em 0em;
}

dt {
  font-weight:bold;
}

pre, code,
.twikiTextareaRawView,
.natEditTextArea {
  font-family:"Bitstream Vera Sans Mono", "Andale Mono", monospace;
}

pre {
  overflow:auto;
}
.DISnatBody > pre { /* hide from IE */
  /*\*/ overflow:auto !important; /* */ overflow:scroll; /* for Mac Safari */
}

form {
  padding:0px;
  margin:0px;
}

/* extra divs */
.natExtraDiv1,
.natExtraDiv2,
.natExtraDiv3,
.natExtraDiv4 {
  display:none;
}

/* debug
.natBody, .natBodyContents			{ border: 1px solid green }
.natWebTitle, .natSearchBox,
.natTopBar, .natTopBarContents, 
.natTopLeft, .natTopRight, 
.natTopLeftContents, .natTopRightContents, 
.natWebButtons, .natWebButtonsContents

						{ border: 1px solid blue }
.natMiddle, 
.natSideBar, natSideBarContents			{ border: 1px solid red }
.natMain, .natMainContents, .natMainHeaderContents
.natSideBar, .natSideBarContents,
.natMainFooterContents {
  border:1px solid red;
}
*/

.natIcon {
  border:0;
  vertical-align:baseline;
}

/* layout */
.natBody {
  text-align:center;
}
.natPrintBody {
  width:21cm; 
  margin:0px; 
}
.natMiddle {
  background-color:white;
}
.natPrintBody,
.natPrintBody .natMain,
.natPrintBody .natMiddle {
  background-color:white !important;
  color:black !important;
}
.natBodyContents {
  text-align:left;
}
.natOopsMoreBody .natSideBarContents,
.natOopsBody .natSideBarContents {
  display:none;
}
.natOopsBody .natWebButtons,
.natOopsBody .natMainHeaderContents,
.natOopsMoreBody .natWebButtons,
.natOopsMoreBody .natMainHeaderContents {
  display:none;
}
.natOopsMessage {
  width:58em;
  margin:0px auto;
}
.natOopsMessage .foswikiFormSteps,
.natOopsMessage .twikiFormSteps {
  margin-bottom:2em;
}
.natLayoutTable {
  table-layout:fixed;
  width:100%;
}
.natBoxBorderRight,
.natBoxBorderTopRight,
.natBoxBorderBottomRight {
  width:1px;
}
.natBottomBarContents {
  text-align:center;
  padding-top:5px;
}
.natPreviewBody .natMainContents {
  background-image:url('previewbg.png');
}
.natCompareBody .natMainContents,
.natViewHistoryBody .natMainContents {
  background-image:url('oldrevisionbg.png');
}
.natTopRight,
.natSideBarHeader,
.natSideBar {
  width:250px;
}
.natSideBar {
  padding-bottom:5px;
}
.natSideBarContents {
  overflow:hidden;
  min-height:40em;
}

*:first-child+html .natSideBarHeaderContents { /* IE7 fix to draw the borders */
  height:1em;
}
.natSideBarHeaderContents {
  _height:1em; /* IE6 fix to draw the borders */
}

/* the main content topic is cropped using overflow:hidden
 * that's because wide content like images will leap out
 * of the layout. i.e. it will overlay the navigation bar
 * if the sidebar is on the right 
 *
 * you may restrict overflow protection to layouts with
 * the sidebar on the right using the following:
 *
 * .natMiddle .natMainContents { overflow:hidden }
 *
 * for now I prefer the content to be cropped instead of the
 * page layout fall appart ... sort of.
 */
.natMainContents {
  overflow:hidden;
  clear:both;
  min-height:40em;
}

/* topbar */
.natHeaderArt {
  background-repeat:no-repeat;
}

.natTopRight form {
  padding:0px;
  margin:0px;
  margin-bottom:5px;
}

.natWebTitle {
  font-size:285%;
  line-height:normal;
  font-weight:bold;
  margin:0px;
  padding:0px;
}

/* search box */
.natSearchBox {
  font-weight:bold;
}
.natSearchBox a {
  margin:0px 0px 0px 2px;
  padding:0px 0px 0px 5px;
  text-decoration:none;
}
.natSearchBoxTop a {
  display:none;
}
.natSearchBox form {
  margin:0px;
  display:inline;
}

.natSearchBoxPos1 input,
.natSearchBoxPos2 input,
.natSearchBoxPos3 input {
  width:98%;
}

/* sidebar */
.natSideBar h2.natSideBarTitle {
  margin-top:0px;
}
.natSideBar h2 {
  margin:5px 0px;
}
.natSideBar h2 a,
.natSideBar h2 a:hover {
  background:inherit;
  color:inherit;
}
.natSideBar h3 {
  margin:0px;
}

.natSideBar ul {
  margin:0px;
  padding:0px;
  list-style-type:none;
}
.natSideBar ol {
  margin:0px;
  padding:0px;
  padding-left:2.2em;
}
.natSideBar ol li {
  list-style-type:decimal;
  background-image:none;
  padding-left:0px;
}

.natNotes a:hover,
.natNotes a {
  font-weight:bold;
}
.natNotes p {
  margin-top:0px;
}
.natSideBar .twikiCurrentTopicLink,
.natSideBar .foswikiCurrentTopicLink {
  color:red;
}
.natSideBar h1 .twikiCurrentTopicLink,
.natSideBar h2 .twikiCurrentTopicLink,
.natSideBar h3 .twikiCurrentTopicLink,
.natSideBar h1 .foswikiCurrentTopicLink,
.natSideBar h2 .foswikiCurrentTopicLink,
.natSideBar h3 .foswikiCurrentTopicLink {
  color:inherit;
}
.natSideBarWebs table {
  padding:0px;
  margin:0px;
}

/* login */
.natLoginBody .natMainHeaderContents {
  display:none;
}
.natLoginMessage h2 {
  margin:0px;
}
.natLoginMessage {
  margin:0px auto;
  width:500px;
}

/* edit */
.natEditBody .natLayoutTable {
  table-layout:auto; /* firefox fix to preven collapsing tables */
}
.natEditBody .natSideBarContents, 
.natEditBody .natMainContents {
  min-height:auto;
}
.natEditBody .natMainHeaderContents,
.natEditBody .natMainFooterContents,
.natEditBody .natWebButtons,
.natEditBody .natBottomBar,
.natEditBody .natHeaderArt {
  display:none;
}
.natEditBody h1 {
  margin-bottom:1em;
}
.natEditTopicInfo {
  margin:0.5em 0em 1em 0em;
}
.natEditTopicInfo table th,
.natEditTopicInfo table td {
  padding:0em 0.5em 0.5em 0em;
}
.natEditBody table th.twikiFirstCol,
.natEditBody table th.foswikiFirstCol {
  width:10em;
}

.natBottomTopicActions {
  margin:10px 0px;
}
.natBottomTopicActions a:hover {
  text-decoration:none;
}
.natSignature {
  white-space:nowrap;
  float:right;
}

/* search */
.natSearchRenameContents {
  width:100%;
  padding:5px;
}
.natSearchRenameContents table {
  width:100%;
}
.natSearchRenameContents .twikiTopRow,
.natSearchRenameContents .foswikiTopRow {
  white-space:pre;
  text-align:left;
  vertical-align:top;
  padding:5px;
}
.natSearchRenameContents .twikiSummary,
.natSearchRenameContents .foswikiSummary {
  padding:5px;
  text-align:left;
  vertical-align:top;
}
.natSearchHit {
  margin:1em 0em 2em;
}
.natSearchTarget {
  font-size:120%;
  text-decoration:underline;
}
.natSearchSummary {
  line-height:normal;
}
.natSearchTotal {
  margin:1em 0em;
}
.natSearchTotal span {
  color:red;
}
.natSearchForm {
  margin:1em 0em;
}
.natSearchFormOptions {
  margin:1.0em 0em;
}
.natSearchFormOptions td {
  padding:0px 5px 0px 0px;
}
.natSearchString {
  font-weight:bold;
  color:red;
}
.natSearch {
  font-weight:bold;
}
.twikiNew,
.foswikiNew {
  text-transform:lowercase;
}
.twikiNew,
.foswikiNew,
.natSearchNewTopic {
  color:red; 
  font-style:italic;
}

/* diff */
.natDiffTable {
  width:100%;
}

/* oops styles */
.natErrorMsg {
  border:1px solid #aaaaaa;
  padding:5px;
  margin-top:2ex;
  margin-bottom:2ex;
  font-family:"Bitstream Vera Sans Mono", "Andale Mono", monospace;
  color:red;
}

.natMain .natOopsHeading {
  color:red;
}

.natLoginHeading,
.natNoteHeading {
  color:green;
}
.foswikiSubmit,
.twikiSubmit,
.natOkButton {
  color:green;
}
.foswikiButton,
.twikiButton,
.foswikiButton,
.natAltButton {
  color:blue;
}
.foswikiButtonCancel,
.twikiButtonCancel,
.natCancelButton {
  color:red;
}

.natButtonBox {
  margin:1em;
}

/* topic actions */
.natGreeter {
  margin:0em 0em 0.1em 0em;
  white-space:nowrap;
}
.natUserGreeter {
  padding:2px 0px;
}
.natTopicActions .natSep {
  display:none;
}
#natTopicActionTooltip {
  display:none;
  text-align:right;
  float:left;
}
.natHomePageUserAction:hover,
.natHomePageUserAction {
  background-image:url(../FamFamFamSilkIcons/user.png);
  background-repeat:no-repeat;
  background-position:0% 0%;
  padding:1px 2px 1px 20px;
}
.natLoginUserAction,
.natRegisterUserAction,
.natLogoutUserAction {
  padding:1px 2px;
}

.natTopicAction,
.natTopicAction:hover {
  background-color:inherit;
  background-repeat:no-repeat;
  background-position:2px 2px;
  display:inline;
  height:16px;
  margin:0px 2px 0px 0px;
  padding:2px 5px 5px 22px;
  color:black;
}
.natDisabledTopicAction {
  display:none;
}

.natViewTopicAction:hover,
.natViewTopicAction {
  background-image:url(../FamFamFamSilkIcons/eye.png);
}
.natNewTopicAction:hover,
.natNewTopicAction {
  background-image:url(../FamFamFamSilkIcons/page_white_add.png);
}
.natEditTopicAction:hover,
.natEditTopicAction,
.natEditTextTopicAction:hover,
.natEditTextTopicAction {
  background-image:url(../FamFamFamSilkIcons/pencil.png);
}
.natEditFormTopicAction:hover,
.natEditFormTopicAction {
  background-image:url(../FamFamFamSilkIcons/application_form_edit.png);
}
.natAttachTopicAction:hover,
.natAttachTopicAction {
  background-image:url(../FamFamFamSilkIcons/attach.png);
}
.natPrintTopicAction:hover,
.natPrintTopicAction {
  background-image:url(../FamFamFamSilkIcons/printer.png);
}
.natPdfTopicAction:hover,
.natPdfTopicAction {
  background-image:url(../FamFamFamSilkIcons/page_white_acrobat.png);
}
.natHistoryTopicAction:hover,
.natHistoryTopicAction {
  background-image:url(../FamFamFamSilkIcons/page_white_stack.png);
}
.natRawTopicAction:hover,
.natRawTopicAction {
  background-image:url(../FamFamFamSilkIcons/text_align_left.png);
}
.natDeleteTopicAction:hover,
.natDeleteTopicAction {
  background-image:url(../FamFamFamSilkIcons/bin.png);
}
.natMoveTopicAction:hover,
.natMoveTopicAction {
  background-image:url(../FamFamFamSilkIcons/page_white_go.png);
}
.natMoreTopicAction:hover,
.natMoreTopicAction {
  background-image:url(../FamFamFamSilkIcons/wrench.png);
}
.natHelpTopicAction:hover,
.natHelpTopicAction {
  background-image:url(../FamFamFamSilkIcons/help.png);
}

.natFirstTopicAction:hover,
.natFirstTopicAction {
  background-image:url(control-start.png);
}

.natFirstTopicAction.natDisabledTopicAction:hover,
.natFirstTopicAction.natDisabledTopicAction {
  background-image:url(control-start-gray.png);
  display:inline;
}

.natLastTopicAction:hover,
.natLastTopicAction {
  background-image:url(control-end.png);
}

.natLastTopicAction.natDisabledTopicAction:hover,
.natLastTopicAction.natDisabledTopicAction {
  background-image:url(control-end-gray.png);
  display:inline;
}


.natPrevTopicAction:hover,
.natPrevTopicAction {
  background-image:url(control-left.png);
}

.natPrevTopicAction.natDisabledTopicAction:hover,
.natPrevTopicAction.natDisabledTopicAction {
  background-image:url(control-left-gray.png);
  display:inline;
}

.natNextTopicAction:hover,
.natNextTopicAction {
  background-image:url(control-right.png);
}

.natNextTopicAction.natDisabledTopicAction:hover,
.natNextTopicAction.natDisabledTopicAction {
  background-image:url(control-right-gray.png);
  display:inline;
}

.natDoneTopicAction:hover,
.natDoneTopicAction {
  background-image:url(control-eject.png);
}

.natDiffTopicAction:hover,
.natDiffTopicAction {
  background-image:url(../FamFamFamSilkIcons/page_white_stack.png);
}

.natDiffTopicAction.natDisabledTopicAction:hover,
.natDiffTopicAction.natDisabledTopicAction {
  background-image:url(../FamFamFamSilkIcons/page_white_stack.png);
}

.natHistoryAction, 
.natHistoryAction:hover, 
.natHistoryAction span {
  background:transparent;
  margin:0px;
}
.natHistoryAction {
  color:inherit;
}

/* helpers */
.natAction {
  color:red;
  text-transform:capitalize;
  font-weight:bold;
}
.natCurrentAction {
  font-weight:bold;
}
.natCurrentAction,
.natEditAction a,
.natPreviewAction a,
.natSaveAction a,
.natDoneAction a,
.natFormAction a,
.natUndoAction a,
.natCancelAction a {
  border:1px solid #cccccc;
  margin:2px 5px 2px 0;
  padding:2px 5px;
}

.natTopicAttachments table {
  width:100%;
}
.natTopicAttachments td {
  vertical-align:top;
}
.natAttachmentIcon {
  width:20px;
}
.natAttachmentActions {
  width:100px;
  text-align:right;
}

.natSideBar .natSkinStyleBrowser ul,
.natMain .natSkinStyleBrowser ul {
  padding-left:0px;
  margin:0px 0px 10px 0px;
  padding-left:0px;
  list-style: none;
}
.natSideBar .natSkinStyleBrowser ul li,
.natMain .natSkinStyleBrowser ul li {
  background-image:inherit;
  list-style:none;
  padding-left:0px;
  margin-left:0px;
}

.natSkinStyleBrowser select { 
  width:180px;
}
.natSkinStyleBrowser input[type=radio] {
  border:0px; /* only IE puts borders on radio boxes */
}

.natSideBar a.natFeedIcon:hover,
a.natFeedIcon:hover {
  background:#eee url("feed-icon-12x12.png") 3px center no-repeat !important;
  text-decoration:none !important;
  color:#444 !important;
}
a.natFeedIcon {
  background:url("feed-icon-12x12-gray.png") 3px center no-repeat !important;
  text-decoration:none !important;
  color:#444;
  font-size:10px;
  padding:1px 3px 0px 18px;
  margin:0px;
}
.natSideBar a.natFeedIcon {
  background:none;
  padding:1px 3px 0px 18px;
  color:#444;
}

/* base styles */
.twikiNewLink,
.foswikiNewLink {
  color:blue;
  background:#eeeeee;
}

.twikiAlert,
.foswikiAlert {
  color:red;
}
.foswikiBroadcastMessage,
.twikiBroadcastMessage {
  text-align:left;
  background:yellow;
  color:black;
  border-bottom:2px solid orange;
  padding:0.5em 1em;
}
.foswikiBroadcastMessage .foswikiLink,
.foswikiBroadcastMessage .foswikiLink,
.foswikiBroadcastMessage a,
.twikiBroadcastMessage .twikiLink,
.twikiBroadcastMessage .foswikiLink,
.twikiBroadcastMessage a {
  color:red;
}
.foswikiBroadcastMessage .foswikiLink:hover,
.foswikiBroadcastMessage .foswikiLink:hover,
.foswikiBroadcastMessage a:hover,
.twikiBroadcastMessage .twikiLink:hover,
.twikiBroadcastMessage .foswikiLink:hover,
.twikiBroadcastMessage a:hover {
  color:black;
  background:orange;
}

/* tables */
.foswikiTable,
.twikiTable {
  margin-top:1px;
  empty-cells:show;
  border:1px solid #d0d0d0;
  border-spacing:0px;
  border-collapse:collapse;
}

.foswikiTable th, 
.foswikiTable td,
.twikiTable th, 
.twikiTable td {
  padding:2px 5px;
  border:0px;
}

.foswikiTable th,
.twikiTable th {
  font-weight:bold;
  text-align:left;
  background:#1875D5;
}

.foswikiTable th img,
.twikiTable th img {
  vertical-align:middle;
  margin-left:2px;
  margin:0px 2px;
}

/* forms */
/* SMELL: 
 *
 * display:inline-block is implemented by Safari+Konqueror, but not by FF+IE.
 * display:table is implemented by FF+Konqureor, but not by Safari+IE.
 * display:compact is implemented by Konqueror only
 * So you can't auto-shrink DIV elements to the size needed by their content reliably
 * the same way as a TABLE element would do.
 *
 * See http://www.quirksmode.org/css/display.html
 */
.foswikiPageForm,
.twikiPageForm {
  /*
  display:inline-block; 
  display:table; 
  display:compact; 
  */
}
.foswikiPageForm th,
.twikiPageForm th,
.twikiPageForm .twikiFirstCol,
.twikiPageForm .foswikiFirstCol {
  font-weight:bold;
}
.natTopicEditForm .natTopicFormTitle,
.natTopicForm .natTopicFormTitle {
  text-align:center;
}
.natTopicEditForm {
  clear:both;
}
.natTopicEditForm table,
.twikiPageForm table,
.natTopicForm table {
  width:100%;
  border-collapse:collapse;
}
.foswikiPageForm form,
.twikiPageForm form {
  margin:0px;
}
.foswikiPageForm table table,
.twikiPageForm table table {
  border:0px;
}

.natTopicForm table table,
.natTopicForm table table td {
  border:0px;
}
.natTopicForm td,
.natTopicForm th {
  padding-left:3px;
  padding-right:3px;
}
.natTopicFormLabel {
  margin-top:3px;
  margin-bottom:3px;
}
.natTopicAttachments .natTopicAction:hover,
.natTopicAttachments .natTopicAction,
.natTopicForm .natTopicAction:hover,
.natTopicForm .natTopicAction {
  float:right;
}
.natTopicAttachments .natTopicAction span,
.natTopicForm .natTopicAction span {
  display:none;
}
.natTopicAttachments h2,
.natTopicForm h2 {
  clear:none;
}

fieldset {
  padding:0em 0.5em 0.5em;
  border:1px #ccc solid;
}
legend {
  margin:0em 1.3em;
  font-size:100%;
  font-weight:bold;
}
.foswikiFormSteps,
.twikiFormSteps {
  padding:1em;
}
.foswikiFormStep,
.twikiFormStep {
  margin:0em 0em 1em;
}
.foswikiFormStep hr,
.twikiFormStep hr {
  margin:1em 0em;
}
.foswikiFormLast,
.twikiFormLast {
  margin-bottom:0em;
}
.foswikiFormSteps h2,
.foswikiFormSteps h3,
.foswikiFormSteps h4,
.twikiFormSteps h2,
.twikiFormSteps h3,
.twikiFormSteps h4 {
  font-weight:bold;
}
.foswikiFormStep p,
.twikiFormStep p {
  margin:0.35em 0em;
}
.foswikiFormOptions,
.twikiFormOptions {
  margin:0.35em 0em;
  line-height:160%;
}
.foswikiFormStep.foswikiFormButtons,
.twikiFormStep.twikiFormButtons {
  margin-top:2em;
}
.foswikiFormButtons.foswikiFormLast,
.twikiFormButtons.twikiFormLast {
  margin-top:20px;
}
.foswikiFormOptions .foswikiCheckbox,
.twikiFormOptions .twikiCheckbox {
  margin:0px 8px 0px 0px;
}
.foswikiFormButtons input,
.twikiFormButtons input {
  padding:3px 5px;
}
.twikiFormDescription {
  margin:0.1em 0em;
}


span.foswikiErrorSummary,
span.twikiErrorSummary,
label.error {
  color:red;
  padding:0em 0em 0em 1.0em;
  line-height:normal;
}

/* diff */
.foswikiDiffTable,
.twikiDiffTable { 
  border:1px solid #ccc;
  margin-bottom:2em;
  width:100%;
}
.foswikiDiffTable table,
.twikiDiffTable table {
  border:0px;
}

.foswikiDiffTable td,
.twikiDiffTable td {
  border:0px;
}

.foswikiDiffTable th,
.twikiDiffTable th {
  background:#dddddd;
}
.foswikiDiffLineNumberHeader th,
.twikiDiffLineNumberHeader th { 
  background:#eeeeee;
}

td.foswikiDiffChangedHeader,
td.foswikiDiffAddedHeader,
td.twikiDiffChangedHeader,
td.twikiDiffAddedHeader { 
  background:#D0FFD0;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
}
.foswikiDiffAddedMarker,
.twikiDiffAddedMarker { 
  background:#aaaadd;
}
.foswikiDiffAddedText,
.twikiDiffAddedText { 
  background:#ccccff;
}
.foswikiDiffChangedMarker,
.foswikiDiffChangedText,
.twikiDiffChangedMarker,
.twikiDiffChangedText { 
}

.foswikiDiffDeletedHeader,
.twikiDiffDeletedHeader { }

.foswikiDiffDeletedMarker,
.twikiDiffDeletedMarker { 
  background:#dd7777;
}
.foswikiDiffDeletedText,
.twikiDiffDeletedText { 
 background:#ff9999;
}

td.foswikiDiffChangedText,
td.twikiDiffChangedText {
  color:red;
}
.twikiWebIndent,
.foswikiWebIndent {
  margin:0 0 0 1em;
}

/* TOC */
.foswikiToc,
.twikiToc {
  margin-top:5px;
  margin-bottom:5px;
  padding-top:5px;
  padding-bottom:5px;
}
.foswikiToc img,
.twikiToc img {
  display:none;
}

/* see also page.nat.tmpl */
.natMiddle .natExternalLink:after {
  margin-left:3px;
  margin-right:3px;
  content:url("external.png");
}


/* custom styles */
.alt {
  background: #f8f8f8;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding:10px;
}
.border {
  border:1px solid #ddd;
  padding:3px;
}
.overflow {
  overflow:auto;
  padding:1px;
}

.block {
  display:block;
}
.center {
  display: table;
  margin-left:auto;
  margin-right:auto;
}
img {
  vertical-align:text-bottom;
  border:0pt solid;
}
img.center {
  margin-left:auto;
  margin-right:auto;
  display: block;
  margin-top:3px;
  margin-bottom:3px;
}
	
img.alignright {
  padding: 3px;
  margin-left:7px;
  float:right;
}

img.alignleft {
  padding: 3px;
  margin-right:7px;
  float:left;
}

/* supported plugins and applications */

/* BlackListPlugin */
.blackList {
  border:0px;
  overflow:auto;
  padding:5px;
}
.blackListComments {
  padding-left:25px;
}
.comment {
  padding-top:5px;
  padding-bottom:5px;
}
.posted {
  margin-top:5px;
}
.text {
  padding-bottom:5px;
}
.banForm {
  margin:5px;
  margin-left:25px;
  margin-top:10px;
}
.currentScore {
  margin:10px;
  margin-left:25px;
}
.blackListTitle {
  padding:10px;
  padding-left:25px;
}
.blackListToggle {
  padding-left:25px;
  padding-right:5px;
  padding-bottom:5px;
  text-transform:capitalize;
}

/* RedDotPlugin */
.natBody .redDot a {
  color:red;
  font-weight:bold;
  margin-left:2px;
  margin-right:2px;
  text-decoration:none;
}

/* HeadlinesPlugin */

/* debug 
.headlinesRss, .headlinesChannel, .headlinesDate,
.headlinesRight, .headlinesDescription,
.headlinesLogo, .headlinesArticle, .headlinesTitle,
.headlinesCreator, .headlinesSubject, .headlinesTeaser {
  border:1px solid red;
}
*/

.headlinesRss {
  margin-right:10px;
}
.headlinesChannel {
  padding-bottom:5px;
  margin-bottom:5px;
}
.headlinesChannel input {
  display:none;
}
.headlinesChannel .headlinesDate {
  margin:5px 0px;
}
.headlinesRight {
  font-style:oblique;
}
.headlinesDescription {
  font-size:110%;
}
.headlinesLogo {
  float:right;
  text-align:center;
  overflow:hidden;
  margin-left:5px;
  margin-bottom:5px;
}
.headlinesLogo img {
  border:0px;
  margin:0px;
  padding:0px;
  margin-bottom:5px;
}
.headlinesArticle {
  padding-top:5px;
  padding-bottom:5px;
  overflow:hidden;
  margin-bottom:1.4em;
}
.headlinesArticle hr {
  margin-top:2px;
  margin-bottom:2px;
}
.headlinesArticle .headlinesTitle a {
  font-size:140%;
}
.headlinesArticle .headlinesDate {
  font-size:90%;
  margin-left:0px;
  white-space:nowrap;
}
.headlinesSubject,
.headlinesCreator {
  display:inline;
  font-size:90%;
}
.headlinesTeaser {
  margin-top:5px;
  margin-left:30px;
  text-align:justify;
  overflow:hidden;
}
.headlinesTeaser img {
  margin:5px;
}
.headlinesTeaser .natExternalLink:after {
  content:"";
  margin-left:0px;
}

/* twisty plugin */
.twistyTrigger img {
  padding:0px;
  margin:0px;
  vertical-align:middle;
  position:relative;
  bottom:2px;
}
.twistyTrigger a {
  text-decoration:none;
}

/* image plugin */
.imageFloat .natExternalLink:after,
.imageFrame .natExternalLink:after,
.imageFloat a:after,
.imageFrame a:after {
  content:"";
  margin:0px;
}
.imageFloat .natExternalLink:hover,
.imageFrame .natExternalLink:hover,
.imageFloat a:hover,
.imageFrame a:hover {
  text-decoration:none !important;
}

/* math mode plugin */
.mmpImage {
  vertical-align:middle;
}

/* TWikiWorkbench basics */
.twbPageNavigation {
  margin:0.5em 0em;
}
.twbPageNavigation a {
  font-weight:bold;
}

/* blogplugin support */
.blogCommentText {
  margin:0.5em 0px;
}
.blogEntryEditor td.current {
  background:#eee;
}

/* classification plugin */
.clsTopicInfo .twikiCurrentTopicLink,
.clsTopicInfo .foswikiCurrentTopicLink {
  color:inherit;
}

/* jquery treeview */
.natSideBar .jqTreeview ul > li:before { 
  content:"";
}

/* tooltips */
.imgTooltip {
  background:white;
  padding:5px;
  border:1px solid #ddd;
}

/* compare revisions addon */
.craCompareAdd {
  background-color:#cfc;
}
.craCompareChange2 {
  background-color:#cfc;
}
.craCompareDelete {
  background-color:#fcc;
  text-decoration:line-through;
}
.craCompareChange1 {
  background-color:#fcc;
  text-decoration:line-through;
}
table.craSideBySide {
  border:none;
  border-collapse:collapse;
}
table.craSideBySide .craCell {
  vertical-align:top;
  width:50%;
  padding:6px;
}
.craTableCellSeparator {
  width:1px;
  background-color:#666;
}
