/* BlueNote Style */
@import url("BaseStyle.css");

/* html elements */
html {
  line-height:140%;
  color:#444;
  font-size:13px;
  font-family:arial,Helvetica,sans-serif;
}
.natHtml {
  background-color:white;
  background-image:url(GrayBlend.gif);
  background-repeat:repeat-x;
  border:0px;
  _background:#ddd; /* IE6 */
}
.natBody {
  line-height:140%;
  margin:0;
  padding:0;
}
.twikiEmulatedLink,
.foswikiEmulatedLink,
a:active, 
a {
  color:#0055b5;
  font-weight:normal;
  text-decoration:none;
  text-decoration:underline;
}
a:hover {
  color:#ffffff;
  background:#b22222;
  background:#0055b5;
  text-decoration:none;
}

hr {
  border-bottom:1px solid #ddd;
}

pre {
  background:#f6f6f6;
  padding:0.5em;
  border:1px solid #ddd;
  font-size:98%;
}

p {
  margin:1.0em 0em 0em;
}

h1 { font-size:160%; margin-top:1em;margin-bottom:0.2em;padding-bottom:0.1em; }
h2 { font-size:135%; margin-top:1em;margin-bottom:0.5em;}
h3 { font-size:125%; margin-top:1em;margin-bottom:0.5em;}
h4 { font-size:120%; margin-top:1em;margin-bottom:0.0em;}
h5 { font-size:110%; margin-top:1em;margin-bottom:0.0em;}
h6 { font-size:105%; margin-top:1em;margin-bottom:0.0em;}
h1, h2, h3, h4, h5, h6 {
  line-height:normal;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:hover, h2 a:hover, h3 a:hover,
h4 a:hover, h5 a:hover, h6 a:hover {
  font-weight:normal;
  background:none;
  color:#222;
  text-decoration:none;
}

h1,
h1 a,
h1 a:hover {
  color:#444;
  color:#0055b5;
  color:#222;
}
.natViewBody h1,
.natCompareBody h1 {
  border-bottom:1px #ddd solid;
}
h2 {
  padding-bottom:1px;
  border-bottom:1px solid #ddd;
}
ul, ol {
  margin:0.25em 0em 1em;
  padding:0em 0em 0em 1em;
}
ol ol,
ul ol,
ol ul,
ul ul {
  margin-top:0em;
  margin-bottom:0em;
}
li {
  padding:0em;
  margin:0em 0em 0em 1.7em;
}
li li {
  margin:0em 0em 0em 0.7em;
}

blockquote {
  padding:0.3em 0em 0em 0.7em;
  margin:1.0em 3em 1.0em 2.6em;
  border-top:1px solid #ddd;
  border-left:4px solid #ddd;
}

dl {
  padding:0em 0em 0em 1.5em;
}
dl dt {
  padding:0em;
}
dl dd {
  margin:0em 0em 0.5em 1.5em;
  padding:0em;
}

/* layout */
.natTopBar {
  padding:0px;
  vertical-align:middle;
}
.natTopRight {
  padding:2.0em 1.5em 2.0em 1em;
}
.natMain {
  padding:2em;
  background-image:url(button-bg.png);
  background-repeat:repeat-x;
  background-position:0% 100%;
  /* ie 6 */
  _background-image:none;
}
.natTopicActions {
  float:right;
}
#natTopicActionTooltip {
  color:#808080;
  font-size:95%;
}
.natTopicAction:hover,
.natTopicAction {
  float:left;
  width:16px;
  height:16px;
  padding:2px;
  margin-left:5px;
}
.natTopicActions span span,
.natTopicActions a span {
  display:none;
}
.natMainHeaderContents {
  padding:0em 0em 1.5em;
}
.natEditBody .natMain {
  padding:1.0em;
}
.natTopRight,
.natSideBarHeader,
.natSideBar {
  width:15em;
}

/* login */
.natLoginBody .natLoginMessage {
  padding:20px;
}
.natLoginBody .foswikiFormSteps,
.natLoginBody .twikiFormSteps {
  margin:0em 0em 1em;
  padding:1em 0em;
  background-color:#f6f6f6;
  background-image:url(login_keys.png);
  background-repeat:no-repeat;
  background-position:1.3em 0em;
  border-top:0px;
  border-bottom:1px solid #d6d6d6;
}
#natLogonBanner {
  background:#e5e5e5;
  color:#9C3063;
  font-weight:bold;
  margin:0px;
  padding:13px 19px;
  border-bottom:2px solid #e0e0e0;
}
.natLoginBody .foswikiFormStep,
.natLoginBody .twikiFormStep {
  margin:0em 1em 1em 12em;
}
.natLoginBody .twikiFormLast {
  margin:2em 1em 1em 12em;
  _margin:2em 1em 0em 12em; /* IE 6 fix */
}

/* base styles */
.foswikiBroadcastMessage,
.twikiBroadcastMessage {
  margin:0em 0em 1em;
}

/* tables */
.foswikiTable,
.twikiTable {
  border:1px #dedede solid;
  line-height:140%;
  border-spacing:0px;
  margin:0.25em 0em;
}
.foswikiTable td,
.twikiTable td {
  background:#f9f9f9;
}
.foswikiTable th,
.foswikiTable td,
.twikiTable th,
.twikiTable td {
  padding:0.3em 0.7em;
  border:1px #dedede solid;
}

.foswikiTable th,
.foswikiTable th a,
.foswikiTable th a:hover,
.foswikiTable th font,
.foswikiTable th h2,
.foswikiTable th h3,
.foswikiTable th h4,
.foswikiTable th span,
.twikiTable th,
.twikiTable th a,
.twikiTable th a:hover,
.twikiTable th font,
.twikiTable th h2,
.twikiTable th h3,
.twikiTable th h4,
.twikiTable th span {
  color:#444;
  font-weight:bold;
  text-decoration:none;
  background:#9CBAEF;
  color:white;
}
.foswikiTable th a:hover,
.foswikiTable th a:hover font,
.twikiTable th a:hover,
.twikiTable th a:hover font {
  text-decoration:underline;
}
.foswikiTable th h4,
.twikiTable th h4 {
  margin:0px;
}

th.foswikiSortedDescendingCol,
th.foswikiSortedAscendingCol,
th.twikiSortedDescendingCol,
th.twikiSortedAscendingCol {
  background:#8DA8D8;
}
.foswikiTable td.foswikiSortedDescendingCol,
.foswikiTable td.foswikiSortedAscendingCol,
.twikiTable td.twikiSortedDescendingCol,
.twikiTable td.twikiSortedAscendingCol {
  background:#f4f4f4;
}


/* tables in forms */
.foswikiPageForm .foswikiTable td,
.foswikiFormSteps .foswikiTable td,
.foswikiPageForm .foswikiTable th,
.foswikiFormSteps .foswikiTable th,
.twikiPageForm .twikiTable td,
.twikiFormSteps .twikiTable td,
.twikiPageForm .twikiTable th,
.twikiFormSteps .twikiTable th {
  border:0px;
}
.foswikiPageForm .foswikiTable,
.foswikiFormSteps .foswikiTable,
.twikiPageForm .twikiTable,
.twikiFormSteps .twikiTable {
  border:1px solid #F2D9A3;
}
.foswikiPageForm .foswikiTable td,
.foswikiFormSteps .foswikiTable td,
.twikiPageForm .twikiTable td,
.twikiFormSteps .twikiTable td {
  border-bottom:1px solid #F2D9A3;
  vertical-align:middle;
}
.foswikiFormSteps .foswikiTable td,
.foswikiPageForm .foswikiTable td,
.twikiFormSteps .twikiTable td,
.twikiPageForm .twikiTable td {
  background:transparent;
}
.foswikiFormSteps .foswikiTable th,
.foswikiFormSteps .foswikiTable th a,
.foswikiPageForm .foswikiTable th,
.foswikiPageForm .foswikiTable th a,
.twikiFormSteps .twikiTable th,
.twikiFormSteps .twikiTable th a,
.twikiPageForm .twikiTable th,
.twikiPageForm .twikiTable th a {
  background:#FEEFCD;
  color:#444;
}
.foswikiFormSteps .foswikiTable th,
.foswikiPageForm .foswikiTable th,
.twikiFormSteps .twikiTable th,
.twikiPageForm .twikiTable th {
  border-bottom:0px;
  vertical-align:top;
}
/* diff */
.foswikiDiffTable,
.twikiDiffTable {
  border:1px solid #ddd;
  background:#f6f6f6;
}
.foswikiDiffTable td,
.foswikiDiffTable th,
.twikiDiffTable td,
.twikiDiffTable th {
  border:0px;
}
.foswikiDiffTable th,
.twikiDiffTable th {
  border-bottom:1px solid #ddd;
}

.foswikiDiffDeletedText,
.twikiDiffDeletedText {
 background:#FFD7D7;
}


/* forms */
.foswikiPageForm,
.twikiPageForm {
  margin:1em 0px;
  padding:1em;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  background:#FEF8EB;
}
.natSideBar .foswikiPageForm,
.natSideBar .twikiPageForm {
  margin:-1px -1em 0em;
  border:0px;
  /*background:#CECFCE;*/
}
.foswikiPageForm table,
.twikiPageForm table {
  margin:0px;
}

.foswikiPageForm th,
.twikiPageForm th {
  color:#444;
}
.foswikiPageForm th a,
.twikiPageForm th a {
  color:#444;
  text-decoration:none;
  font-weight:bold;
}
.natEditTextArea {
  background:#eee;
}

fieldset {
  padding:0px 0px 0px 1px; /* firefox fix to allign legend and content */
  border:0px;
  background:#FEF8EB;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
}
legend {
  color:#0055b5;
  font-size:110%;
}

fieldset .foswikiFormSteps,
fieldset .twikiFormSteps {
  border:0px;
}

.foswikiFormSteps,
.twikiFormSteps {
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  background:#FEF8EB;
  padding:1.0em;
}
.foswikiFormStep,
.twikiFormStep {
  margin:0em 0em 1em;
}
.foswikiFormLast,
.twikiFormLast {
  margin-bottom:0em;
}
.foswikiFormStep hr,
.twikiFormStep hr {
  margin:1.5em -1.5em;
}
.foswikiFormSteps h2,
.foswikiFormSteps h3,
.foswikiFormSteps h4,
.foswikiFormSteps h2 a,
.foswikiFormSteps h3 a,
.foswikiFormSteps h4 a,
.twikiFormSteps h2,
.twikiFormSteps h3,
.twikiFormSteps h4,
.twikiFormSteps h2 a,
.twikiFormSteps h3 a,
.twikiFormSteps h4 a {
  margin-top:0em;
  font-weight:bold;
  color:inherit;
}
.foswikiFormSteps h2,
.twikiFormSteps h2 { font-size:130%; }

.foswikiFormSteps h3,
.twikiFormSteps h3 { font-size:100%; }

.foswikiFormSteps h4,
.foswikiFormSteps h5,
.foswikiFormSteps h6,
.twikiFormSteps h4,
.twikiFormSteps h5,
.twikiFormSteps h6 { 
  font-size:100%; 
}

.foswikiFormSteps h2,
.twikiFormSteps h2 {
  border-bottom:0px;
  color:#b0321b;
  color:#9C3063;
}

.foswikiFormSteps h3,
.twikiFormSteps h3 {
  margin:0em 0em 0.2em;
}

.foswikiFormOptions .foswikiCheckbox,
.twikiFormOptions .twikiCheckbox {
  margin:0em 0.2em 0em;
}

.foswikiFormSteps .jqTabContents,
.foswikiFormSteps ul.jqTabGroup li.current,
.twikiFormSteps .jqTabContents,
.twikiFormSteps ul.jqTabGroup li.current {
  background:#FEF1D6;
}

.foswikiFormSteps .jqTabContents,
.twikiFormSteps .jqTabContents {
  padding:1.0em;
}

.foswikiFormDescription,
.twikiFormDescription {
  margin:0.2em 0em;
  color:#828282;
}

.jqTabContents .foswikiFormSteps,
.jqTabContents .twikiFormSteps {
  margin:-8px;
  padding:1em 1.5em;
  background:transparent;
  border:0px;
}

.jqTabContents .foswikiFormSteps .foswikiFormStep,
.jqTabContents .twikiFormSteps .twikiFormStep {
  background:#FEF8EB;
  /*background:#f6f6f6;*/
  border-top:1px solid #ddd;
  margin:0em;
  padding:1em 1.5em;
}
.jqTabContents .foswikiFormSteps .foswikiFormLast,
.jqTabContents .twikiFormSteps .twikiFormLast {
  border-bottom:1px solid #ddd;
}


/* helpers */
.natErrorMsg {
  background:#eee;
}

/* top */
.natTopLeft,
.natTopRight,
.natTopLeft a,
.natTopRight a  {
  color:white;
}
.natTopRight {
  background:url(nextwiki-header-tile.png) repeat-x;
}
.natTopLeft.natTopRight {
  padding:0px;
  background:inherit;
}
.natTopLeftContents {
  background:url(nextwiki-header-tile.png) repeat-x;
  height:100px;
  margin:0px 0px 0px 50px;
  padding:0em;
  /* ie6 */
  _margin:0px;
}
.natWebTitle {
  background:url(nextwiki-header.png) no-repeat;
  padding:0em;
  margin:0px 0px 0px -50px;
  height:100px;
  /* ie6 */
  _background:url(nextwiki-header-notrans.png) no-repeat;
  _margin:0px 0px 0px 0px;
}
.natWebTitle a {
  float:left;
  width:287px;
  height:74px;
  margin:13px;
  text-decoration:none;
  /* ie 6 */
  _margin-left:23px; /
}
.natWebTitle a,
.natWebTitle a:hover {
  background-color:transparent;
}
.natEditBody .natMainContents h1 {
  margin:0em 0em .5em;
}
.natWebSlogan {
  font-style:italic;
  display:inline;
  display:none;
}

/* topic actions */
.natGreeter {
  text-align:right;
  padding:0em 0.3em 0.3em 0em;
}
.natGreeter a {
  color:#444;
  text-decoration:none;
}
.natGreeter a:hover {
  color:#ffffff;
}

.natUserAction {
  font-size:95%;
}
.natUserAction:hover,
.natUserAction:active,
.natUserAction {
  font-weight:normal;
}
.natDisabledUserAction span,
.natDisabledTopicAction span {
  color:#cfcfcf;
}
.natTopicActions a:hover,
.natTopicAction,
.natTopicAction:hover {
  color:black;
  text-decoration:none;
}
.natTopicAction:hover,
.natTopicActions a:hover {
  background-color:#efefef;
}
.natDisabledTopicAction:hover,
.natDisabledTopicActions a:hover {
  background-color:inherit;
}

/* sidebar */
.natSideBar {
  background:#E9E9EB;
  background-image:url(button-bg.png);
  background-repeat:repeat-x;
  background-position:0% 100%;
  /* ie 6 */
  _background-image:none;
}
.natSideBar a {
  text-decoration:none;
}
.natSideBarContents  {
  margin:0em;
  padding:0em 1em;
}
.natSideBar .hover,
.natSideBar a:hover {
  /*
  background:#9CBAEF;
  color:#0055b5;*/
  background:#fff;
}
.natSideBar h2 {
  font-size:120%;
}
.natSideBar h2,
.natSideBar h2 a {
  background-color:#62B000;
  background-image:url(button-bg.png);
  background-repeat:repeat-x;
  background-position:left bottom;
  color:white;
  /* ie 6 */
  _background-image:none;
}
.natSideBar h2 a {
  display:block;
  margin:0em -1em;
  padding:0em 1em;
}
.natSideBar h2 a:hover {
  background:#5AA301;
}

.natSideBar h2 {
  font-weight:normal;
  letter-spacing:0.1em;
  display:block;
  margin:0em -1em 0em;
  padding:0px 1em;
  line-height:1.5em;
  border-top:1px solid #BDEB86;
}
.natSideBar h3 {
  margin:0.5em 0em 0.5em 0em;
  font-size:100%;
  font-weight:bold;
  display:inline;
}
.natSideBar h2 a,
.natSideBar h3 a,
.natSideBar h4 a {
  color:inherit;
  font-weight:inherit;
}

.natSideBar p,
.natSideBarSection {
  /*background:#CECFCE;*/
  margin:0em -1em;
  padding:0em 1em;
}
.natSideBar p {
  border-bottom:1px solid white;
}

.natSideBar p {
  padding:1em;
}

.natSideBar ol,
.natSideBar ul {
  margin:0em -1em -1px;
  /*background:#cecfce;*/
  border-bottom:1px solid #c2c4c4;
}

.natSideBar li {
  line-height:2.0em;
  margin:0px;
  padding:1px 1em;
  border-top:1px solid #c2c4c4;
}
.natSideBar ul li a:hover,
.natSideBar ul li a {
  font-weight:normal;
  display:block;
  color:#434343;
  margin:0px -1em;
  padding:0px 1em;
}
.natSideBar .twikiCurrentTopicLink,
.natSideBar .foswikiCurrentTopicLink {
  color:#9C3063;
  background:#fff;
}

.natSideBar ol {
  padding:1em 0em 1em 2.5em;
}
.natSideBar ol li {
  background-image:none;
  border-bottom:0px;
  line-height:normal;
}
.natSideBar ol li a {
  color:#9C3063;
}
.natSideBar ul ul {
  margin-left:0px;
  padding-left:0px;
  list-style-type:none;
}
.natSideBar ul ol li,
.natSideBar ul ul li {
  background-image:none;
  padding-left:0px;
}

.natSearchBox table {
  width:100%;
}
.natSearchBox input {
  color:#0055b5;
  margin:0px;
  border:thin inset;
  padding:1px;
}
.natSearchBoxPos1 a span {
  display:none;
}
.natSearchBoxPos1 a {
  margin:1px 5px;
  padding:0px;
  background-image:url(icons/magnifier.png);
  background-repeat:no-repeat;
  display:block;
  height:16px;
  width:16px;
}
.natSearchBoxPos1 a:hover {
  background-color:inherit;
  background-image:url(icons/magnifier.png);
  background-repeat:no-repeat;
}
.natSearchBoxPos2,
.natSearchBoxPos3 {
  padding:1em 0px;
}


/* main area */
.natBreadCrumbs {
  font-size:95%;
  line-height:135%;
}
.natBreadCrumbs,
.natBreadCrumbs .natSep {
  color:#808080;
}
.natBreadCrumbs a {
  color:#73AA31;
  text-decoration:none;
}
.natBreadCrumbs a:hover {
  color:white;
}

.natMainContents .twikiNewLink,
.natMainContents .foswikiNewLink {
  background-color:#eee;
  color:#9C3063;
}

/* bottom */
.natMainFooterContents {
  margin:0em;
}
.natMainFooterContents .natRevision {
  margin:2em 0em 0em;
}
.natRevision {
  margin:0em 0em 1.5em;
  font-size:95%;
}
.clsTopicInfo {
  margin:0em 0em 2em 0em;
  font-size:95%;
}
.clsTopicInfo .natRevision {
  margin:0px;
  font-size:100%;
}
.clsTopicSummary,
.clsTopicInfo {
  line-height:135%;
}
.clsTopicSummary,
.clsTopicInfo, 
.natRevision {
  color:#808080;
}
h1 .clsTopicSummary {
  font-size:12.35px;
  color:#808080;
}
.clsTopicInfo h1 {
  font-size:170%;
  line-height:135%;
}
.clsTopicInfo a,
.natRevision a,
.natMainContents .clsTopicInfo a {
  color:#808080;
}
.natMainContents .clsTopicInfo h1 a {
  color:#222;
  text-decoration:none;
}
.clsTopicInfo a:hover,
.natRevision a:hover {
  color:white;
  text-decoration:none;
}
.natSyndicate {
  display:inline;
}
.natBottomBar {
  padding:20px;
  background:white;
  /* ie 6 */
  _background:#ddd;
}
.natBottomBarContents {
  width:100%;
  text-align:left;
}
.natBottomBarContents,
.natBottomBarContents a {
  color:#999;
}
.natCopyRight {
  display:inline;
}

/* forms */
.natTopicForm {
  margin:1.5em 0em 0em;
}
.natTopicAttachments .natTopicAction:hover,
.natTopicForm .natTopicAction:hover {
  background-color:#FEE7B5;
}
.natTopicForm  .foswikiFormStep,
.natTopicForm  .twikiFormStep {
  margin:0.3em 0em;
  padding:0em;
}
.natTopicForm td,
.natTopicForm th {
  vertical-align:top;
}
.natTopicForm th {
  width:20%;
}

/* attachments */
.natTopicAttachments {
  margin:1.5em 0em 0em;
  padding:1em 1em 1.5em;
}
.jqTabContents .natTopicAttachments {
  margin:0px;
  padding:0px;
}
.natTopicAttachments a {
  text-decoration:none;
}
.natTopicAttachments .natDisabledTopicAction:hover,
.natTopicAttachments .natViewTopicAction:hover,
.natTopicAttachments .natNewTopicAction:hover,
.natTopicAttachments .natEditTopicInfo:hover,
.natTopicAttachments .natAttachTopicAction:hover,
.natTopicAttachments .natPrintTopicAction:hover,
.natTopicAttachments .natPdfTopicAction:hover,
.natTopicAttachments .natDiffTopicAction:hover,
.natTopicAttachments .natRawTopicAction:hover,
.natTopicAttachments .natDeleteTopicAction:hover,
.natTopicAttachments .natMoveTopicAction:hover,
.natTopicAttachments .natMoreTopicAction:hover,
.natTopicAttachments .natHelpTopicAction:hover,
.natTopicAttachments .natTopicActions a:hover {
  background-color:#FEE8B8;
}
.natTopicAttachments .twikiFormStep,
.natTopicAttachments .foswikiFormStep {
  margin:1.25em 0em 0em;
}

/* search tables */
.natSearchRevision,
.natSearchRevision a {
  color:#aaa;
}
.natSearchForm {
  border-bottom:1px #ddd solid;
  padding-bottom:2px;
}

/* TOC */
.foswikiToc,
.twikiToc {
  margin:1em 0em 0em 0.2em;
  padding:0em;
}
.foswikiTocTitle,
.twikiTocTitle {
  margin:0em 0em 0.25em 0em;
  padding:0em;
  font-size:125%;
  color:#222;
  display:block;
}
.foswikiToc ul,
.twikiToc ul {
  list-style:none;
  padding:0.5em 0em;
  margin:0;
  border-top:1px solid #eee;
  border-left:4px solid #eee;
}
.foswikiToc ul ul,
.twikiToc ul ul {
  padding:0em 0em 0em .5em;
  margin-top:0px;
  border:0px;
}
.foswikiToc li,
.twikiToc li {
  margin-left:1em;
  padding-left:1em;
  background-image:url(bullet-toc.gif);
  background-position:0 0.4em;
  background-repeat:no-repeat;
  background-repeat:no-repeat;
}
.foswikiToc a,
.twikiToc a {
  background-image:none;
  text-decoration:none;
}

/* supported plugins and applications */

/* Blogging */
.alt {
  margin:1em 0em;
  padding:1.0em;
  background:#f8f8f8;
  border-top:1px #ddd solid;
  border-bottom:1px #ddd solid;
}
.alt h1,
.alt h2,
.alt h3,
.alt h4,
.alt h5 {
  margin-top:0.1em;
}
.border {
  border:1px #ccc solid;
}

/* blogging */
.blogAbout {
  font-size:95%;
  line-height:1.3em;
}
.blogSideBarLatest h2,
.blogSideBarComments h2 {
  border-bottom:0px;
  margin-bottom:0px;
}
.blogSideBarHeader,
.blogSideBarHeader h2,
.blogSideBarHeader a {
  font-size:14px;
  color:#444;
  font-weight:normal !important;
}
.blogSideBarHeader {
  line-height:1.4em;
  border-bottom:1px solid #dedede;
  margin:0em 0em 1em 0em;
}
.blogSideBar {
  line-height:1.4em;
}
.blogSideBarSection {
  margin-bottom:1em;
}
.blogSideBarSection ol {
  margin-top:0px;
}
.blogSideBarSection ul {
  margin-top:0px;
  margin-left:0px;
}
.blogText {
  margin-top:5px;
  padding:1px; /* fix for konqueror */
}
.blogComment {
  margin:5px 0px;
  padding:1em;
  border:1px #ddd solid;
}
.blogCommentOdd {
  background:#f6f6f6;
  border:1px #ddd solid;
}
.blogComment .blogDate {
  font-size:0.8em;
  color:#777;
  font-weight:normal;
}
.blogCommentNr {
  color:#444;
  margin-right:1em;
}
.blogCommentCount {
  color:#777;
  text-align:right;
}
.blogHeadline .blogCommentCount {
  font-size:20px;
}
.blogSubComment {
  padding-left:5px;
  border-left:5px solid #ddd;
}
.blogCommentOdd .blogSubComment {
  border-color:#ddd;
}
.blogCommentEven .blogSubComment {
  border-color:#ddd;
}
.blogAddComment {
  margin:1em 0em;
}
.blogAddComment textarea,
.blogAddComment input {
  font-family: Arial, Sans-Serif;
}
.blogArchiveDescription {
  margin-bottom:20px;
  font-size:0.9em;
}
.blogAdminButtons,
.blogAuthorButtons {
  background:#f6f6f6;
  border:1px #ddd solid;
}
.blogSideBarSection ol {
  padding-left:2em;
}

/* EmployeePortalApp */
.empSkillSelector {
  border-top:1px #bbb solid;
  border-bottom:1px #bbb solid;
  margin:-2px -5px;
}

/* ClassificationPlugin */
.clsBrowser a,
.clsTagCloud a {
  text-decoration:none;
  display:inline;
}
.fltMakeIndexWrapper a:hover,
.natMainContents .fltMakeIndexWrapper a {
  line-height:100%;
}
.fltMakeIndexWrapper h3 {
  font-size:100%;
  font-weight:bold;
}
.fltMakeIndexWrapper .clsTopicInfo {
  color:#808080;
}
.fltMakeIndexWrapper .clsSubCategories a,
.fltMakeIndexWrapper .clsSubCategories {
  color:#808080;
}
.natMainContents .fltMakeIndexWrapper ul {
  list-style-type:none;
  margin:0px 7px 7px 0px;
  padding:0px;
}
.natMainContents .fltMakeIndexWrapper li {
  padding:7px 0px;
}

/* HistoryPlugin */
.natOopsHistoryBody form {
  margin:0em 1em 1em 0em;
  padding:0.5em 1em;
  border:1px #ddd solid;
  background-image:url(GrayBlend.png);
  background-repeat:repeat-x;
  background-position:0px 0px;
}

/* tinymce plugin */
.mceContentBody {
  font-size:95%;
}
.mceContentBody h1 {
  margin-top:0px;
}
.mceEditor {
  background:transparent !important;
  border:0px !important;
}
.mceEditor td {
  padding:10px 5px 0px;
  border:2px inset #ddd;
}
td.mceToolbarTop,
td.mceStatusbarBottom {
  padding:2px 5px 2px 5px;
  background:transparent;
  border:0px;
}
td.mceToolbarTop {
  padding:5px 5px 15px 5px;
}
.WYSIWYG_PROTECTED {
  background:#f6f6f6;
  color:#444;
  font-family:"Bitstream Vera Sans Mono", "Andale Mono", monospace;
}

/* jqTreeview */
.natSideBar .jqTreeview {
  padding:0.3em 0em;
  margin:0em -0.5em 0em;
}
.natSideBar .treeview a:hover,
.natSideBar .treeview a {
  display:inline;
  padding:0px;
  margin:0px;
}
.natSideBar .jqTreeview ul,
.natSideBar .jqTreeview ol,
.natSideBar .treeview li {
  border:0px;
}
