%TMPL:INCLUDE{"viewplain"}%

%TMPL:DEF{"bodyclass"}%nat404Body natCenteredBody%TMPL:END%
%TMPL:DEF{"titleaction"}%%MAKETEXT{"page not found"}%%TMPL:END%
%TMPL:DEF{"revinfo"}%%TMPL:END%

%TMPL:DEF{"content"}%
<div class="natOopsMessage clearfix">
%TMPL:P{"heading"}%%{}%
%TMPL:P{"message"}%%{}%
%TMPL:P{"similar"}%%{}%
%TMPL:P{"actions"}%%{}%
</div>
%ADDTOZONE{"body" id="poweredby" text="$percntTMPL:P{\"poweredby\"}$percnt"}%%{}%%TMPL:END%

%TMPL:DEF{"heading"}%<h1>%MAKETEXT{"404 - page not found"}%</h1>%TMPL:END%

%TMPL:DEF{"message"}%<p>
%MAKETEXT{"I am afraid this page slipped between the cracks."}%
%MAKETEXT{"Maybe you simply got here by accident. Then move back in your browser and try something else."}%
%MAKETEXT{"Or you'd like to proceed as follows:"}%
</p>%TMPL:END%

%TMPL:DEF{"actions"}%<table class='foswikiLayoutTable'>
%TMPL:P{"search::action"}%%{}%
%TMPL:P{"index::action"}%%{}%
%TMPL:P{context="authenticated" then="create::action"}%%{}%
%TMPL:P{"restart::action"}%%{}%
</table>%TMPL:END%

%TMPL:DEF{"search::action"}%<tr>
<th>%BUTTON{"%MAKETEXT{"Search"}%" class="simple" icon="fa-search" href="%TMPL:P{"searchurl"}%"}%</th>
<td>%MAKETEXT{"The page might be here under a different name."}%</td>
</tr>%TMPL:END%

%TMPL:DEF{"index::action"}%<tr>
<th>%BUTTON{"%MAKETEXT{"Index"}%" class="simple" icon="fa-list-ol" target="%BASEWEB%.WebTopicList"}%</th>
<td>%MAKETEXT{"Have a look at the list of all pages in this web."}%</td>
</tr>%TMPL:END%

%TMPL:DEF{"create::action"}%<tr>
<th>%BUTTON{"%MAKETEXT{"Create"}%" class="simple" icon="fa-plus" href="%SCRIPTURLPATH{"edit"}%/%WEB%/%TOPIC%?t=%GMTIME{"$epoch"}%&%QUERYSTRING%"}%</th>
<td>%MAKETEXT{"The page might be missing but it shouldn't."}%</td>
</tr>%TMPL:END%

%TMPL:DEF{"restart::action"}%<tr>
<th>%BUTTON{"%MAKETEXT{"Restart"}%" class="simple" icon="fa-home" target="%IF{
    "'%BASEWEB%.%HOMETOPIC%' allows 'view'" 
    then="%BASEWEB%.%HOMETOPIC%" 
    else="%WIKILOGOURL%"
  }%"
}%</th>
<td>%MAKETEXT{"Or just start from the beginning."}%</td>
</tr>%TMPL:END%

%TMPL:DEF{"searchurl"}%%TMPL:P{context="SolrPluginEnabled" then="searchurl::solr" else="searchurl::default"}%%TMPL:END%
%TMPL:DEF{"searchurl::default"}%%SCRIPTURL{"view"}%/%BASEWEB%/WebSearch?search=%BASETOPIC%%TMPL:END%
%TMPL:DEF{"searchurl::solr"}%%SOLRSCRIPTURL{"topic_search:%BASETOPIC%~ OR topic_search:*%BASETOPIC%*"}%%TMPL:END%

%TMPL:DEF{"similar"}%%TMPL:P{context="SolrPluginEnabled" then="similar::solr" else="similar::default"}%%TMPL:END%
%TMPL:DEF{"similar::solr"}%%SOLRSEARCH{
  "topic_search:%BASETOPIC%~ OR topic_search:*%BASETOPIC%*"
  filter="type:topic web:%ENCODE{"%BASEWEB%" old="/" new="."}%"
  rows="1"
  type="edismax"
  format="$percntIF{\"'$web.$topic' allows 'view'\"
      then=\"<p>%MAKETEXT{"There's a similar page called [_1]." args="[[$web.$topic][$title]]"}%</p>\"
    }$percnt"
  fields="web,topic,title"
}%%TMPL:END%

%TMPL:DEF{"similar::default"}%%SEARCH{
  "%BASETOPIC%" 
  format="<p>%MAKETEXT{"There's a similar page called [_1]." args="[[$web.$topic]]"}%</p>"
  limit="1"
  scope="topic" 
  web="%BASEWEB%" 
  nonoise="on" 
}%%TMPL:END%
