%TMPL:INCLUDE{"attach"}%<!-- template: attachnew.nat.tmpl -->
%TMPL:DEF{"heading"}%<h2><noautolink>%MAKETEXT{"Upload a file to [_1]" args="%TMPL:P{"topictitle"}%"}%</noautolink></h2>%TMPL:END%
%TMPL:DEF{"attachaction"}%<!-- attachaction -->
%BUTTON{"%MAKETEXT{"Submit"}%" icon="tick" title="Upload selected file" type="save"}%
%CLEAR%
<!-- //attachaction -->%TMPL:END%
%TMPL:DEF{"notes"}% <!-- notes -->
<p> 
  %MAKETEXT{"*Link checkbox*: In case the attached file is a JPG, GIF or PNG image and you check the box, it will create an inline image (e.g. show the image) at the end of the topic.  For other file types a simple link will be created."}%
</p>
<!-- //notes -->%TMPL:END%
%TMPL:DEF{"moreoptions"}%<!-- moreoptions -->
<tr style="%IF{ "context BatchUploadPluginEnabled" else='display:none'}%">
  <td>
    <input type="checkbox" class="foswikiCheckbox" id="batchupload" name="batchupload" id="batchupload" />
  </td>
  <td>
    <label for="batchupload">
      <strong>%MAKETEXT{"Batch upload"}%:</strong>
      %MAKETEXT{"Extracts individual files in a zip archive."}%
    </label>
  </td>
</tr>
<tr>
  <td>
    <input type="checkbox" class="foswikiCheckbox" name="redirectto" id="redirectto" value="%SCRIPTURL{"attach"}%/%WEB%/%TOPIC%?message=%ENCODE{"%MAKETEXT{"Upload successful"}%."}%" %IF{"defined 'message'" then="checked"}% />
  </td>
  <td>
    <label for="redirectto">
      %MAKETEXT{"<strong>Continue</strong> uploading more files"}%
    </label>
  </td>
</tr>
<!-- //moreoptions -->%TMPL:END%
%TMPL:DEF{"existingattachments"}%<!-- existingattachments -->
%TAB{"%MAKETEXT{"Existing files"}%"}%
<h2><noautolink>%MAKETEXT{"Attachments at [_1]" args="%TMPL:P{"topictitle"}%"}%:</noautolink></h2>
<div id="natTopicAttachments" class="natTopicAttachments">
%META{"attachments" all="on"}%
</div>
%ENDTAB%
%FIDEFINED%
<!-- //existingattachments -->%TMPL:END%
