<!-- template: attachsidebar.nat.tmpl -->
%TMPL:DEF{"sidebar"}% <!-- sidebar -->
<nop><h2><a name="Help">%MAKETEXT{"Help"}%</a></h2>
   * <a href="%SCRIPTURLPATH{"view"}%/%SYSTEMWEB%/FileAttachment" target="_blank">%MAKETEXT{"File attachments"}%</a>
   * <a href="%SCRIPTURLPATH{"view"}%/%SYSTEMWEB%/FileAttachment#Moving_Attachment_Files" target="_blank">%MAKETEXT{"Moving attachments"}%</a>
   * <a href="%SCRIPTURLPATH{"view"}%/%SYSTEMWEB%/FileAttachment#Deleting_Attachments" target="_blank">%MAKETEXT{"Deleting attachments"}%</a>
   * <a href="%SCRIPTURLPATH{"view"}%/%SYSTEMWEB%/FileAttachment#Linking_to_Attached_Files" target="_blank">%MAKETEXT{"Linking to attachments"}%</a>
   * <a href="%SCRIPTURLPATH{"view"}%/%SYSTEMWEB%/HiddenAttachment" target="_blank">%MAKETEXT{"Hiding attachments"}%</a>
<nop><h2><a name="Notes">%MAKETEXT{"Notes"}%</a></h2>
<div class="natNotes">
%TMPL:P{"notes"}% </div>
<!-- //sidebar -->%TMPL:END%
