<!-- template: attachjavascript.nat.tmpl -->
%TMPL:DEF{"attachjavascript"}%%JQREQUIRE{"validate"}%
%ADDTOHEAD{
  "NATSKIN::ATTACH"
  text="
<script type='text/javascript' src='%PUBURLPATH%/%SYSTEMWEB%/NatSkin/attach.js'></script>
"
  requires="JQUERYPLUGIN, NATSKIN"
}%%TMPL:END%
%TMPL:DEF{"javascript"}%%TMPL:P{"defaultjavascript"}%%TMPL:P{"attachjavascript"}%%TMPL:END%
