%TMPL:INCLUDE{"search"}%<!-- template: backlinksallwebs.nat.tmpl -->
%TMPL:DEF{"title"}%%TOPIC% %MAKETEXT{"(backlinks)"}% - %WIKITOOLNAME%%TMPL:END%
%TMPL:DEF{"contenttitle"}%<h1>%MAKETEXT{"Backlinks to [_1] in all Webs" args="<nop>%TOPIC%"}%</h1>%TMPL:END%
%TMPL:DEF{"content"}%<!-- content -->
%TMPL:P{"beforetext"}%<!-- beforetext// -->
%TMPL:P{"contenttitle"}%<!-- contenttitle// -->
<div class="foswikiFormSteps">
<div class="foswikiFormStep foswikiFormLast">
%BUTTON{"%MAKETEXT{"OK"}%" icon="tick" target="%WEB%.%TOPIC%" title="Return to <nop>%TOPIC%"}%
%BUTTON{"%MAKETEXT{"Local Search"}%" icon="find" target="%SCRIPTURLPATH{"oops"}%/%WEB%/%TOPIC%?template=backlinksweb" title="%MAKETEXT{"Search for backlinks in the [_1] web only" args="<nop>%WEB%"}%"}%
%CLEAR%
</div>
</div>
%SEARCH{web="all" search="%WEB%.%TOPIC%([^A-Za-z0-9]|$)|%WEB%.%SPACEOUT{"%TOPIC%" separator=" *"}%([^A-Za-z0-9]|$)" type="regex" scope="text" nosearch="on" excludetopic="%TOPIC%"}%
%TMPL:P{"aftertext"}%<!-- aftertext// -->
<!-- //content -->%TMPL:END%
