%TMPL:INCLUDE{"backlinksweb"}%<!-- template: backlinksallwebs.nat.tmpl -->

%{ ################################################################################ }%
%TMPL:DEF{"titleaction"}%%MAKETEXT{"backlinks"}%%TMPL:END%
%TMPL:DEF{"contenttitle"}%<h1>%MAKETEXT{"Backlinks to [_1] in all Webs" args="<nop>%TOPIC%"}%</h1>%TMPL:END%
%TMPL:DEF{"breadcrumbs::tail"}%%TMPL:P{"sep"}%<a href="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%?template=backlinksallwebs">%MAKETEXT{"Backlinks"}%</a>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"content"}%<!-- content -->
%TMPL:P{"beforetext"}%<!-- beforetext// -->
%TMPL:P{"contenttitle"}%<!-- contenttitle// -->
%TMPL:P{"aftertext"}%<!-- aftertext// -->
<!-- //content -->%TMPL:END%

%TMPL:DEF{"content"}%<!-- -->
%TMPL:P{"beforetext"}%<!-- // -->
<div class="foswikiRight">
  %BUTTON{"%MAKETEXT{"Close"}%" icon="cross" target="%WEB%.%TOPIC%" class="simple foswikiRight"}%
  %CLEAR%
</div>
%TMPL:P{"contenttitle"}%<!-- // -->
%BUTTON{"%MAKETEXT{"Search [_1] web only" args="<nop>%WEB%"}%" 
  icon="find" 
  href="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%?template=backlinksallwebs" 
  title="%MAKETEXT{"Search [_1] web only for topics that link to here" args="<nop>%WEB%"}%"
  class="simple"
}%%CLEAR%
%SEARCH{
  web="all" 
  search="%TOPIC%([^A-Za-z0-9]|$)|%SPACEOUT{"%TOPIC%" separator=" *"}%([^A-Za-z0-9]|$)|%WEB%.%TOPIC%([^A-Za-z0-9]|$)" 
  type="regex" 
  scope="text" 
  nosearch="on" 
  excludetopic="%TOPIC%"
}%
%TMPL:P{"aftertext"}%<!-- -->
<!-- -->%TMPL:END%
