%TMPL:INCLUDE{"foswiki"}%<!-- template: backlinks.nat.tmpl -->
%TMPL:DEF{"dialog"}%<div class="foswikiDialog">
%TMPL:P{"content"}%<!-- -->
%TMPL:P{"backlinksjavascript"}%<!-- -->
</div>%TMPL:END%

%TMPL:DEF{"backlinks::limit"}%500%TMPL:END%
%TMPL:DEF{"backlinks::loadurl"}%%SCRIPTURL{"rest"}%/RenderPlugin/template?name=backlinks;render=on;topic=%BASEWEB%.%BASETOPIC%%TMPL:END%

%TMPL:DEF{"backlinksjavascript"}%<!-- -->
<literal>
<script>
jQuery(function($) {
  var url = "%TMPL:P{"backlinks::loadurl"}%",
      $container = $(".natBacklinksContainer");

  $(".natBacklinksSearchAll").change(function() {
    $container.html('%ICON{"processing"}%');
    if($(this).is(":checked")) {
      $container.load(url+";expand=searchallwebs");
    } else {
      $container.load(url+";expand=searchweb");
    }
  });

  $container.html('%ICON{"processing"}%').load(url+";expand=searchweb");
});
</script>
</literal>
<!-- -->%TMPL:END%

%TMPL:DEF{"content"}%<!-- -->
<div class="natBacklinks">
  <h2 class="foswikiDialogTitle jqSimpleModalDraggable">%MAKETEXT{"Backlinks to [_1]" args="%BASEWEB%.%BASETOPIC%"}%</h2>
  <div class="natBacklinksContainer">
  </div>
  <hr />
  <div class="foswikiFormButtons">
    %BUTTON{"%MAKETEXT{"Close"}%" class="jqSimpleModalCancel" icon="cross"}%
    %TMPL:P{"checkbox"}%<!-- -->
    %CLEAR%
  </div>
</div>
<!-- -->%TMPL:END%

%TMPL:DEF{"checkbox"}%<label style="float:left"><input type="checkbox" name="searchallwebs" class="foswikiCheckbox natBacklinksSearchAll"> %MAKETEXT{"Search in all webs"}%</label>%TMPL:END%

%TMPL:DEF{"DISsearchweb"}%%TMPL:P{context="DBCachePluginEnabled" then="searchweb::dbcache" else="searchweb::default"}%%TMPL:END%
%TMPL:DEF{"searchweb"}%%TMPL:P{context="SolrPluginEnabled" then="searchweb::solr" else="searchweb::default"}%%TMPL:END%
%TMPL:DEF{"searchallwebs"}%%TMPL:P{context="SolrPluginEnabled" then="searchallwebs::solr" else="searchallwebs::default"}%%TMPL:END%

%TMPL:DEF{"searchweb::default"}%%MAKEINDEX{
  "%SEARCH{
    web="%BASEWEB%"
    search="%BASETOPIC%([^A-Za-z0-9]|$)|%SPACEOUT{"%BASETOPIC%" separator=" *"}%([^A-Za-z0-9]|$)|%BASEWEB%.%BASETOPIC%([^A-Za-z0-9]|$)" 
    type="regex" 
    scope="text" 
    excludetopic="%BASETOPIC%"
    nonoise="on" 
    separator="$n"
    format="($percntGETTOPICTITLE{\"$web.$topic\" encode=\"encode\"}$percnt);$web.$topic"
  }%"
  pattern="\((.*)\);(.*)"
  split="\n"
  cols="3"
  header="%MAKETEXT{"[_1] backlink(s) found" args="<span class='foswikiAlert'>$count</span>"}%$n$n $percntCALC{\"$SET(found,1)\"}$percnt"
  format="[[$2][$1]]"
  sort="nocase"
}%<!-- -->
%IF{"'%CALC{"$GET(found)"}%'=''"
  then="<span class='foswikiAlert'>%MAKETEXT{"nothing found"}%</span>"
}%<!-- -->%TMPL:END%

%TMPL:DEF{"searchallwebs::default"}%%MAKEINDEX{
  "%SEARCH{
      web="all, -%TRASHWEB%, -%BASEWEB%"
      search="%BASEWEB%.%BASETOPIC%([^A-Za-z0-9]|$)|%BASEWEB%.%SPACEOUT{"%BASETOPIC%" separator=" *"}%([^A-Za-z0-9]|$)" 
      type="regex" 
      scope="text" 
      excludetopic="%BASEWEB%.%BASETOPIC%"
      nonoise="on" 
      separator="$n"
      format="($percntGETTOPICTITLE{\"$web.$topic\" encode=\"encode\"}$percnt);$web.$topic"
    }%"
  pattern="\((.*)\);(.*)"
  split="\n"
  cols="3"
  header="%MAKETEXT{"[_1] backlink(s) found in all webs" args="<span class='foswikiAlert'>$count</span>"}%$n$n $percntCALC{\"$SET(found,1)\"}$percnt"
  format="[[$2][$1]]"
  sort="nocase"
}%<!-- -->
%IF{"'%CALC{"$GET(found)"}%'=''"
  then="<span class='foswikiAlert'>%MAKETEXT{"nothing found"}%</span>"
}%<!-- -->%TMPL:END%

%TMPL:DEF{"searchweb::solr"}%<noautolink>%MAKEINDEX{
  "%SOLRSEARCH{
    "web:%BASEWEB% outgoing:%BASEWEB%.%BASETOPIC%"
    header="$percntCALC{\"$SET(total,$count)\"}$percnt"
    format="($title);$web.$topic"
    sort="title"
    separator="$n"
    rows="%TMPL:P{"backlinks::limit"}%"
  }%"
  pattern="\((.*)\);(.*)"
  split="\n"
  cols="3"
  sort="nocase"
  DISheader="%MAKETEXT{"[_1] backlink(s) found" args="<span class='foswikiAlert'>%CALC{"$GET(total)"}%</span>"}%$n$n"
  header="%MAKETEXT{"[_1] backlink(s) found" args="<span class='foswikiAlert'>%CALC{"$GET(total)"}%</span>"}%
    $percntIF{\"%CALC{"$GET(total)"}%>%TMPL:P{"backlinks::limit"}%\"
      then=\"%MAKETEXT{"(showing only [_1])" args="%TMPL:P{"backlinks::limit"}%"}%\"
    }$percnt<!-- -->$n$n
  "
  format="[[$2][$1]]"
}%<!-- --></noautolink>
%IF{"'%CALC{"$GET(total)"}%'=''"
  then="<span class='foswikiAlert'>%MAKETEXT{"nothing found"}%</span>"
}%<!-- -->%TMPL:END%

%TMPL:DEF{"searchallwebs::solr"}%<noautolink>%MAKEINDEX{
  "%SOLRSEARCH{
    "outgoing:%BASEWEB%.%BASETOPIC%"
    header="$percntCALC{\"$SET(total,$count)\"}$percnt"
    format="($title);$web.$topic"
    sort="title"
    separator="$n"
    rows="%TMPL:P{"backlinks::limit"}%"
  }%"
  pattern="\((.*)\);(.*)"
  split="\n"
  cols="3"
  sort="nocase"
  header="%MAKETEXT{"[_1] backlink(s) found in all webs" args="<span class='foswikiAlert'>%CALC{"$GET(total)"}%</span>"}%
    $percntIF{\"%CALC{"$GET(total)"}%>%TMPL:P{"backlinks::limit"}%\"
      then=\"%MAKETEXT{"(showing only [_1])" args="%TMPL:P{"backlinks::limit"}%"}%\"
    }$percnt<!-- -->$n$n
  "
  format="[[$2][$1]]"
}%<!-- --></noautolink>
%IF{"'%CALC{"$GET(total)"}%'=''"
  then="<span class='foswikiAlert'>%MAKETEXT{"nothing found"}%</span>"
}%<!-- -->%TMPL:END%

%TMPL:DEF{"searchweb::dbcache"}%%MAKEINDEX{
  "%DBQUERY{
    "parent='%BASETOPIC%'"
    web="%BASEWEB%"
    excludetopic="%BASETOPIC%"
    separator="$n"
    format="($expand(topictitle));$web.$topic"
  }%"
  pattern="\((.*)\);(.*)"
  split="\n"
  cols="3"
  header="%MAKETEXT{"[_1] backlink(s) found" args="<span class='foswikiAlert'>$count</span>"}%$n$n $percntCALC{\"$SET(found,1)\"}$percnt"
  format="[[$2][$1]]"
  sort="nocase"
}%<!-- -->
%IF{"'%CALC{"$GET(found)"}%'=''"
  then="<span class='foswikiAlert'>%MAKETEXT{"nothing found"}%</span>"
}%<!-- -->%TMPL:END%

