%TMPL:INCLUDE{"body"}%
%TMPL:DEF{"webmenu"}%<div class="natWebMenu clearfix">
  %TMPL:P{"searchbox"}%<!-- -->
  <div class="natWebMenuContents"> 
  %WEBCOMPONENT{"Menu"}% <!-- -->
  </div>
</div>%TMPL:END%

%TMPL:DEF{"beforebodycontents"}%%TMPL:P{"browsersupport"}%%TMPL:P{"broadcast"}%%TMPL:P{"toppanel"}%%TMPL:END%
