%TMPL:INCLUDE{"body"}%

%TMPL:DEF{"bodyclass"}%natPlainBody%TMPL:END%
%TMPL:DEF{"topbar"}%%TMPL:END%
%TMPL:DEF{"webmenu"}%%TMPL:END%

%TMPL:DEF{"bodycontents"}%<div class="natBodyContents" id="PageTop">
%TMPL:P{"content_container"}%<span id="PageBottom"></span>
</div>%TMPL:END%
