%TMPL:INCLUDE{"body"}%
%TMPL:DEF{"webmenu"}%<div class="natWebMenu" id="natWebMenu">
  <div class="natWebMenuContents natWebMenuHidden"> 
  %TMPL:P{"searchbox"}%<!-- -->
  %WEBCOMPONENT{"Menu"}% <!-- -->
  </div>
  %CLEAR%
</div>%TMPL:END%
