%TMPL:INCLUDE{"body"}%<!-- template: body.plain.nat.tmpl -->

%TMPL:DEF{"defaultbodyclass"}%natBody natPlainBody%TMPL:END%

%TMPL:DEF{"bodycontents"}%<div class="natBodyContents" id="PageTop">
%TMPL:P{"content_container"}%<!-- -->
<span id="PageBottom"></span>
</div>%TMPL:END%
