%TMPL:INCLUDE{"body"}%<!-- template: body.plain.nat.tmpl -->

%TMPL:DEF{"defaultbodyclass"}%natBody natPlainBody%TMPL:END%

%TMPL:DEF{"defaultbody"}%<div class="natBodyContents">
<a name="PageTop"></a>
%TMPL:P{"content_container"}%<!-- -->
<a name="PageBottom"></a>
</div>%TMPL:END%

