%TMPL:INCLUDE{"body"}%
%TMPL:DEF{"webmenu"}%<div class="natWebMenu natWebMenuHidden">
  %TMPL:P{"searchbox"}%<!-- -->
  <div class="natWebMenuContents"> 
  %WEBCOMPONENT{"Menu"}% <!-- -->
  </div>
  %CLEAR%
</div>%TMPL:END%

%TMPL:DEF{"beforebodycontents"}%%TMPL:P{"browsersupport"}%%TMPL:P{"broadcast"}%%TMPL:P{"toppanel"}%%TMPL:END%
