<!-- template: body.nat.tmpl -->
%TMPL:DEF{"defaultbodyclass"}%natBody%TMPL:END%
%TMPL:DEF{"body"}%<body id="body" class="foswikiNoJs %TMPL:P{"defaultbodyclass"}% %IF{"'%USERINFO{format="$isadmin"}%'='true'" then="natIsAdminBody"}%%IF{"defined 'NATSKIN_FLUIDFONT' and '%SCRIPTNAME%'!='edit'" then="jqFluidFont {%NATSKIN_FLUIDFONT%} "}%%IF{"context authenticated" then="natBodyAuthenticated " else="natBodyNotAuthenticated "}%%IF{"context 'natskin_sidebar_left'" then="natBodyLeft "}%%IF{"context 'natskin_sidebar_right'" then="natBodyRight "}%%IF{"context 'natskin_sidebar_both'" then="natBodyBoth "}%%IF{"context 'natskin_sidebar_off'" then="natBodyOff "}%%IF{"context 'natskin_layout_fluid'" then="natBodyFluid "}%%IF{"context 'natskin_layout_fixed'" then="natBodyFixed "}%%IF{"context 'natskin_layout_bordered'" then="natBodyBordered "}%%TMPL:P{"bodyclass"}% natBodyWeb_%WEB% natBodyTopic_%TOPIC%">%TMPL:P{"defaultbody"}%</body>%TMPL:END%

%{ container definitions --------------------------------------------------- }%
%TMPL:DEF{"contentheader"}%<div class="natMainHeaderContents clearfix">%TMPL:P{"contentheader::contents"}%</div>%TMPL:END%
%TMPL:DEF{"content_container"}%<div class="natMainContents" id="natMainContents">%TMPL:P{"content"}%<span id="ContentBottom"></span></div>%TMPL:END%
%TMPL:DEF{"contentfooter"}%<div class="natMainFooterContents">%TMPL:P{"contentfooter::contents"}%</div>%TMPL:END%
%TMPL:DEF{"breadcrumbs"}%<div class='natBreadCrumbs'> %TMPL:P{"breadcrumbs::title"}% %TMPL:P{"breadcrumbs::contents"}%</div>
%TMPL:DEF{"contentheader::contents"}%%TMPL:P{"breadcrumbs"}%%TMPL:END%
%TMPL:DEF{"webmenu"}%<div class="natWebMenu clearfix foswikiContents" name="webmenu::contents" reload="web">
%TMPL:P{"webmenu::contents"}%<!-- -->
</div>%TMPL:END%

%TMPL:DEF{"webmenu::contents"}%<div class="natWebMenuContents"> 
  %TMPL:P{"searchbox"}%<!-- -->
  %WEBCOMPONENT{"Menu"}% <!-- -->
</div>%TMPL:END%

%TMPL:DEF{"bottombar"}%<div class="natBottomBar"><div class="natBottomBarContents">
%TMPL:P{"bottombar::contents"}%<!-- -->
%TMPL:P{"cacheinfo"}%<!-- -->
</div></div>%TMPL:END%

%TMPL:DEF{"cacheinfo"}%%IF{"{Cache}{Enabled} and context view and $CACHEABLE != 'off'" 
  then="<div class='natPageCacheBanner foswikiGrayText'>
          %MAKETEXT{"This page was cached on [_1]." args="%SERVERTIME%"}%
          %IF{"context authenticated" 
            then="%MAKETEXT{"Get a fresh version <a href='[_1]' rel='nofollow'>here</a>." args="%SCRIPTURLPATH{view}%/%BASEWEB%/%BASETOPIC%?refresh=cache"}%"
          }%</div>"
}%%TMPL:END%

%TMPL:DEF{"sidebar_container"}%<div class="natSideBar"><div class="natSideBarContents">
%TMPL:P{"sidebar"}%
</div></div>%TMPL:END%

%TMPL:DEF{"rightsidebar_container"}%<div class="natSideBar natSideBarRight"><div class="natSideBarContents">
%TMPL:P{"rightsidebar"}%
</div></div>%TMPL:END%

%TMPL:DEF{"sidebars"}%%TMPL:P{"sidebar_container"}%%TMPL:P{context="natskin_sidebar_both" then="rightsidebar_container"}%%TMPL:END%

%{ columns ----------------------------------------------------------------- }%
%TMPL:DEF{"main"}%<div class="natMiddle foswikiContents" name="main::contents" page-in-effect="%TMPL:P{"pageineffect"}%" page-out-effect="%TMPL:P{"pageouteffect"}%">
%TMPL:P{"main::contents"}%<!-- -->
</div>%TMPL:END%

%TMPL:DEF{"main::contents"}%<div class="natMiddleContents clearfix">
%TMPL:P{context="natskin_sidebar_off" else="sidebars"}%<!-- -->
<div itemscope itemtype="http://schema.org/Article" class="natMain clearfix">
%TMPL:P{"contentheader"}%<!-- -->
%TMPL:P{"content_container"}%<!-- -->
%TMPL:P{"contentfooter"}%<!-- -->
</div>
</div>%TMPL:END%

%{ body contents ----------------------------------------------------------- }%
%TMPL:DEF{"beforebodycontents"}%%TMPL:P{"browsersupport"}%%TMPL:P{"broadcast"}%%TMPL:P{"toppanel"}%%TMPL:END%

%TMPL:DEF{"bodycontents"}%<div class="natBodyContents" id="PageTop">
%TMPL:P{"topbar"}%<!-- -->
%TMPL:P{context="natskin_menu_on" then="webmenu"}%<!-- -->
%TMPL:P{"main"}%
%TMPL:P{"bottombar"}%<!-- -->
%TMPL:P{"scrolltop"}%<!-- -->
<span id="PageBottom"></span>
</div>%TMPL:END%

%TMPL:DEF{"afterbodycontents"}%%WEBCOMPONENT{"HtmlBottom"}%%TMPL:END%

%{ assembly stage ---------------------------------------------------------- }%
%TMPL:DEF{"defaultbody"}%%TMPL:P{"beforebodycontents"}%%TMPL:P{"bodycontents"}%%TMPL:P{"afterbodycontents"}%%TMPL:END%
