%TMPL:INCLUDE{"body"}%

%TMPL:DEF{"bodycontents"}%<div class="natBodyContents" id="PageTop">
%TMPL:P{"topbar"}%%{}%
%TMPL:P{"banner"}%%{}%
%TMPL:P{"main"}%%{}%
%TMPL:P{"bottombar"}%%{}%
%TMPL:P{"scrolltop"}%%{}%
<span id="PageBottom"></span>
</div>%TMPL:END%
