<!-- template: body.nat.tmpl -->
%TMPL:DEF{"defaultbodyclass"}%natBody%TMPL:END%
%TMPL:DEF{"body"}%<body class="foswikiNoJs %TMPL:P{"defaultbodyclass"}% %IF{"'%USERINFO{format="$isadmin"}%'='true'" then="natIsAdminBody"}%%IF{"defined 'NATSKIN_FLUIDFONT' and '%SCRIPTNAME%'!='edit'" then="jqFluidFont {%NATSKIN_FLUIDFONT%} "}%%IF{"context authenticated" then="natBodyAuthenticated " else="natBodyNotAuthenticated "}%%IF{"context 'natskin_sidebar_left'" then="natBodyLeft "}%%IF{"context 'natskin_sidebar_right'" then="natBodyRight "}%%IF{"context 'natskin_sidebar_both'" then="natBodyBoth "}%%IF{"context 'natskin_sidebar_off'" then="natBodyOff "}%%IF{"context 'natskin_layout_fluid'" then="natBodyFluid "}%%IF{"context 'natskin_layout_fixed'" then="natBodyFixed "}%%IF{"context 'natskin_layout_bordered'" then="natBodyBordered "}%%TMPL:P{"bodyclass"}% natBodyWeb_%WEB% natBodyTopic_%TOPIC%">%TMPL:P{"defaultbody"}%</body>%TMPL:END%

%{ container definitions --------------------------------------------------- }%
%TMPL:DEF{"contentheader_container"}%<div class="natMainHeaderContents">%TMPL:P{"contentheader"}%</div>%TMPL:END%
%TMPL:DEF{"content_container"}%<div class="natMainContents" id="natMainContents">%TMPL:P{"content"}%<span id="ContentBottom"></span></div>%TMPL:END%
%TMPL:DEF{"contentfooter_container"}%%CLEAR%<div class="natMainFooterContents">%TMPL:P{"contentfooter"}%</div>%TMPL:END%
%TMPL:DEF{"breadcrumbs_container"}%<div class='natBreadCrumbs'> %TMPL:P{"breadcrumbs::title"}% %TMPL:P{"breadcrumbs"}%</div>
%TMPL:DEF{"contentheader"}%%TMPL:P{"breadcrumbs_container"}%%CLEAR%%TMPL:END%
%TMPL:DEF{"webmenu"}%<div class="natWebMenu" id="natWebMenu">
  <div class="natWebMenuContents natWebMenuHidden"> 
  %WEBCOMPONENT{"Menu"}% <!-- -->
  </div>
  %CLEAR%
</div>%TMPL:END%

%TMPL:DEF{"bottombar_container"}%<div class="natBottomBar"><div class="natBottomBarContents">
%TMPL:P{"bottombar"}%<!-- -->
%TMPL:P{"cacheinfo"}%<!-- -->
</div></div>%TMPL:END%

%TMPL:DEF{"cacheinfo"}%%IF{"{Cache}{Enabled} and context view and $CACHEABLE != 'off'" 
  then="<div class='natPageCacheBanner foswikiGrayText'>
          %MAKETEXT{"This page was cached on [_1]." args="%SERVERTIME%"}%
          %MAKETEXT{"Get a fresh version <a href='[_1]' rel='nofollow'>here</a>." args="%SCRIPTURLPATH{view}%/%BASEWEB%/%BASETOPIC%?refresh=cache"}%
        </div>"
}%%TMPL:END%

%TMPL:DEF{"sidebar_container"}%<div class="natSideBar"><div class="natSideBarContents">
%TMPL:P{"sidebar"}%
</div></div>%TMPL:END%

%TMPL:DEF{"rightsidebar_container"}%<div class="natSideBar natSideBarRight"><div class="natSideBarContents">
%TMPL:P{"rightsidebar"}%
</div></div>%TMPL:END%

%TMPL:DEF{"sidebars"}%%TMPL:P{"sidebar_container"}%%TMPL:P{context="natskin_sidebar_both" then="rightsidebar_container"}%%TMPL:END%

%{ columns ----------------------------------------------------------------- }%
%TMPL:DEF{"main"}%<div class="natMiddle">
<div class="natMiddleContents">
%TMPL:P{context="natskin_sidebar_off" else="sidebars"}%<!-- -->
<div itemscope itemtype="http://schema.org/Article" class="natMain">
%TMPL:P{"contentheader_container"}%<!-- -->
%TMPL:P{"content_container"}%<!-- -->
%TMPL:P{"contentfooter_container"}%<!-- -->
</div>
%CLEAR%
</div>
</div>%TMPL:END%

%{ body contents ----------------------------------------------------------- }%
%TMPL:DEF{"beforebodycontents"}%%TMPL:P{"browsersupport"}%%TMPL:P{"broadcast"}%%TMPL:END%

%TMPL:DEF{"bodycontents"}%<div class="natBodyContents" id="PageTop">
%TMPL:P{"topbar"}%<!-- -->
%TMPL:P{context="natskin_menu_on" then="webmenu"}%<!-- -->
%TMPL:P{"main"}%
%TMPL:P{"bottombar_container"}%<!-- -->
%TMPL:P{"scrolltop"}%<!-- -->
<span id="PageBottom"></span>
</div>%TMPL:END%

%TMPL:DEF{"afterbodycontents"}%%WEBCOMPONENT{"HtmlBottom"}%%TMPL:END%

%{ assembly stage ---------------------------------------------------------- }%
%TMPL:DEF{"defaultbody"}%%TMPL:P{"beforebodycontents"}%%TMPL:P{"bodycontents"}%%TMPL:P{"aftercontents"}%%TMPL:END%
