%TMPL:INCLUDE{"page"}%<!-- template: changeform.nat.tmpl -->
%TMPL:INCLUDE{"changeformbody"}%<!-- changeformbody// -->
%TMPL:INCLUDE{"changeformtopicactions"}%<!-- changeformtopicactions// -->
%TMPL:INCLUDE{"changeformsidebar"}%<!-- changeformsidebar// -->
%TMPL:DEF{"bodyclass"}%natChangeFormBody%TMPL:END%
%TMPL:DEF{"meta"}% <meta name="robots" content="noindex, nofollow" /> %TMPL:END%
%TMPL:DEF{"title"}%%TOPIC% (%MAKETEXT{"edit"}%) - %WIKITOOLNAME%%TMPL:END%
%TMPL:DEF{"contenttitle"}%<h1>%MAKETEXT{"Choose a new form for [_1]" args="[[%TOPIC%]]"}%</h1>%TMPL:END%
%TMPL:DEF{"content"}%<!-- content -->
%TMPL:P{"contenttitle"}%<!-- contenttitle// -->
<noautolink>
<form name="EditForm" method="post" action="%SCRIPTURLPATH{"edit"}%/%WEB%/%TOPIC%?t=%GMTIME{"$year$mo$day$hours$minutes$seconds"}%">
<input type="hidden" name="action" value="%URLPARAM{"action"}%" />
<input type="hidden" name="topicparent" value="%URLPARAM{"topicparent"}%" />
<input type="hidden" name="redirectto" value="%URLPARAM{"redirectto"}%" />
<input type="hidden" name="skin" value="%URLPARAM{"skin"}%" />
<input type="hidden" name="cover" value="%URLPARAM{"cover"}%" />
<input type="hidden" name="nowysiwyg" value="%URLPARAM{"nowysiwyg"}%" />%EDITACTION%
%TEXT%
<div class="foswikiFormSteps">
<div class="foswikiFormStep">
<table cellspacing="5" class="natChangeForm">
%NATFORMLIST{
  separator=" "
  format="<tr><td><input type='radio' name='formtemplate' id='formtemplateelem$index' $checked value='$name' /></td><td style='padding-right:10px'><label for='formtemplateelem$index'><nop>$formTopic</label></td><td>$percntIF{\"'$name'='none'\" then=\"%MAKETEXT{"remove the current form (caution: possible data loss)"}%\" else=\"$percntFORMFIELD{\"Summary\" topic=\"$formWeb.$formTopic\"}$percnt (<a href='%SCRIPTURLPATH{"view"}%/$formWeb/$formTopic' target='_blank'>?</a>)\"}$percnt</td></tr>"
}%
</table>
</div>
<div class="foswikiFormStep foswikiFormLast foswikiFormButtons">
  %BUTTON{"%MAKETEXT{"OK"}%" accesskey="o" type="save" icon="tick"}%
  %BUTTON{"%MAKETEXT{"Cancel"}%" accesskey="c" onclick="history.back()" icon="cross"}%
  %CLEAR%
</div>
</div>
</form>
</noautolink>
<!-- //content -->%TMPL:END%
