%TMPL:DEF{"sidebar"}%%{}%
<nop><h2>%MAKETEXT{"Help"}%</h2>
   * <a href="%SCRIPTURLPATH{"view"}%/%SYSTEMWEB%/DataForms" target="_blank">%MAKETEXT{"Form-based input"}%</a>
   * <a href="%SCRIPTURLPATH{"view"}%/%SYSTEMWEB%/MetaData" target="_blank">%MAKETEXT{"Topic meta data"}%</a>
   * <a href="%SCRIPTURLPATH{"view"}%/%SYSTEMWEB%/Macros" target="_blank">%MAKETEXT{"Variables"}%</a>
   * <a href="%SCRIPTURLPATH{"view"}%/%BASEWEB%/WebPreferences" target="_blank">WebPreferences</a>
<nop><h2>%MAKETEXT{"Notes"}%</h2>
<div class="natNotes">
%MAKETEXT{"Any change you made to topic before coming to this page are preserved."}%

%MAKETEXT{"Changing the form bares the danger of losing data not storable in the newly selected form."}%
</div>%TMPL:END%
