%TMPL:INCLUDE{"page"}%%{ template: changeform.nat.tmpl }%

%TMPL:DEF{"sidebar"}%%{}%
<nop><h2>%MAKETEXT{"Help"}%</h2>
   * <a href="%SCRIPTURLPATH{"view" topic="%SYSTEMWEB%.DataForms"}%" target="_blank">%MAKETEXT{"Form-based input"}%</a>
   * <a href="%SCRIPTURLPATH{"view" topic="%SYSTEMWEB%.MetaData"}%" target="_blank">%MAKETEXT{"Topic meta data"}%</a>
   * <a href="%SCRIPTURLPATH{"view" topic="%SYSTEMWEB%.Macros"}%" target="_blank">%MAKETEXT{"Variables"}%</a>
   * <a href="%SCRIPTURLPATH{"view" topic="%BASEWEB%.WebPreferences"}%" target="_blank">WebPreferences</a>
<nop><h2>%MAKETEXT{"Notes"}%</h2>
<div class="natNotes">
%MAKETEXT{"Any change you made to topic before coming to this page are preserved."}%

%MAKETEXT{"Changing the form bares the danger of losing data not storable in the newly selected form."}%
</div>%TMPL:END%

%TMPL:DEF{"bodyclass"}%natChangeFormBody%TMPL:END%
%TMPL:DEF{"meta"}%<meta name="robots" content="noindex, nofollow" />%TMPL:END%
%TMPL:DEF{"title"}%%TOPIC% (%MAKETEXT{"edit"}%) %TMPL:P{"titlesep"}% %WIKITOOLNAME%%TMPL:END%
%TMPL:DEF{"contenttitle"}%<h1>%MAKETEXT{"Choose a new form for [_1]" args="[[%TOPIC%]]"}%</h1>%TMPL:END%
%TMPL:DEF{"content"}%%{}%
%TMPL:P{"contenttitle"}%%{}%
<noautolink>
<form name="EditForm" method="post" action="%SCRIPTURLPATH{"edit"}%/%WEB%/%TOPIC%?t=%GMTIME{"$year$mo$day$hours$minutes$seconds"}%">
<input type="hidden" name="action" value="%URLPARAM{"action"}%" />
<input type="hidden" name="topicparent" value="%URLPARAM{"topicparent"}%" />
<input type="hidden" name="redirectto" value="%URLPARAM{"redirectto"}%" />
<input type="hidden" name="skin" value="%URLPARAM{"skin"}%" />
<input type="hidden" name="cover" value="%URLPARAM{"cover"}%" />
<input type="hidden" name="TopicTitle" value="%URLPARAM{"TopicTitle"}%" />
<input type="hidden" name="nowysiwyg" value="%URLPARAM{"nowysiwyg"}%" />%EDITACTION%
%TEXT%
<div class="foswikiFormSteps">
<div class="foswikiFormStep">
%TMPL:P{"formlist"}%
</div>
---
<div class="foswikiFormStep foswikiFormButtons">
  %BUTTON{"%MAKETEXT{"OK"}%" accesskey="o" type="save" icon="%TMPL:P{"icon::ok::name"}%"}%
  %BUTTON{"%MAKETEXT{"Cancel"}%" accesskey="c" onclick="history.back()" icon="%TMPL:P{"icon::cancel::name"}%"}%
</div>
</div>
</form>
</noautolink>%TMPL:END%

%TMPL:DEF{"formlist"}%%FORMATLIST{
  "%DBQUERY{
    "TopicType=~'\bTopicType\b' OR @Target.TopicType=~'\bTopicType\b'"
    header="%FORMATLIST{"%WEBFORMS{default=""}%" 
              format="$percntDBQUERY{
                        topic=\"$1\" 
                        format=\"$expand(topictitle)=$web.$topic=$expand(@Target.Icon or Icon or 'fa-file-o')\"
                      }$percnt" 
              separator=", "
           }%"
    format=", $expand(topictitle)=$percntDBQUERY{
                        topic=\"$expand(Target or topic or 'does not exist')\" 
                        format=\"$dollarweb.$dollartopic\"
                      }$percnt=$expand(@Target.Icon or Icon or 'fa-file-o')"
    separator=""
  }%"
  sort="on"
  unique="on"
  split="\s*,\s*"
  replace="/=."
  pattern="(.*)=(.*)=(.*)"
  header="<div id='formlist'>"
  marker="checked"
  selection="%IF{"'%URLPARAM{"formtemplate"}%'=''"
    then="%IF{"'%QUERY{"form.name"}%'=''"
            then="none"
            else="%QUERY{"form.name"}%"
          }%"
    else="%URLPARAM{"formtemplate"}%"
  }%"
  format="<div class='row'><label>
    <input type='radio' name='formtemplate' $marker value='$2' />
    $percntJQICON{\"$3\"}$percnt
    <b class='title'>$percntTRANSLATE{\"$1\"}$percnt</b> ... 
    <span class='foswikiGrayText desc'>$percntTRANSLATE{\"$percntFORMFIELD{\"Summary\" topic=\"$2\"}$percnt\"}$percnt (<a href='$percntSCRIPTURLPATH{\"view\" topic=\"$2\"}$percnt' target='_blank'>?</a>)</span>
    </label></div>"
  separator="$n"
  footer="<div class='row'><label>
      <input type='radio' name='formtemplate' value='none' />
      %TMPL:P{"icon::cancel"}%
      <i class='title'>%MAKETEXT{"remove current form"}%</i> ... 
      <span class='foswikiGrayText desc'>%MAKETEXT{"remove the current form (caution: possible data loss)"}%</span>
      </label></div></div>"
}%
<literal>
%ADDTOZONE{"script" text="<script src='%PUBURLPATH%/%SYSTEMWEB%/NatSkin/build/changeform.js'></script>" id="NATSKIN::CHANGEFORM::JS"}%
<style>
#formlist label {
  display:block;
}
#formlist input {
  display:none;
}
#formlist .checked {
  background: #efffd8;
  color:#599E00;
}
#formlist .row {
  margin-bottom:0.5em;
  padding:0.5em 1em;
}
#formlist .title {
  margin-right:2em;
}
#formlist .desc {
}
#formlist .jqIcon {
  text-align:center;
  font-size:1.5em;
  width:1em;
  margin-right:10px;
}
</style>
</literal>%TMPL:END%

%TMPL:DEF{"formlist_old"}%<table cellspacing="5" class="natChangeForm">
%NATFORMLIST{
  separator="$n"
  format="<tr>
      <td>
        <input type='radio' name='formtemplate' id='formtemplateelem$index' $checked value='$name' />
      </td>
      <td style='padding-right:10px'>
        <label for='formtemplateelem$index'><nop>$formTopic</label>
      </td>
      <td>$percntIF{\"'$name'='none'\" 
          then=\"%MAKETEXT{"remove the current form (caution: possible data loss)"}%\" 
          else=\"$percntFORMFIELD{\"Summary\" topic=\"$formWeb.$formTopic\"}$percnt (<a href='$percntSCRIPTURLPATH{\"view\" topic=\"$formWeb.$formTopic\"}$percnt' target='_blank'>?</a>)\"
        }$percnt
      </td>
    </tr>"
}%
</table>%TMPL:END%
