%TMPL:INCLUDE{"page"}%<!-- template: changeform.nat.tmpl -->
%TMPL:INCLUDE{"changeformbody"}%<!-- changeformbody// -->
%TMPL:INCLUDE{"changeformtopicactions"}%<!-- changeformtopicactions// -->
%TMPL:INCLUDE{"changeformsidebar"}%<!-- changeformsidebar// -->
%TMPL:DEF{"bodyclass"}%natChangeFormBody%TMPL:END%
%TMPL:DEF{"meta"}% <meta name="robots" content="noindex, nofollow" /> %TMPL:END%
%TMPL:DEF{"title"}%%TOPIC% (%MAKETEXT{"edit"}%) - %WIKITOOLNAME%%TMPL:END%
%TMPL:DEF{"contenttitle"}%<h1>%MAKETEXT{"Choose a new form for [_1]" args="[[%TOPIC%]]"}%</h1>%TMPL:END%
%TMPL:DEF{"content"}%<!-- content -->
%TMPL:P{"contenttitle"}%<!-- contenttitle// -->
<noautolink>
<form name="EditForm" method="post" action="%SCRIPTURLPATH{"edit"}%/%WEB%/%TOPIC%?t=%GMTIME{"$year$mo$day$hours$minutes$seconds"}%">
<input type="hidden" name="action" value="%URLPARAM{"action"}%" />
<input type="hidden" name="topicparent" value="%URLPARAM{"topicparent"}%" />
<input type="hidden" name="redirectto" value="%URLPARAM{"redirectto"}%" />
<input type="hidden" name="skin" value="%URLPARAM{"skin"}%" />
<input type="hidden" name="cover" value="%URLPARAM{"cover"}%" />
<input type="hidden" name="nowysiwyg" value="%URLPARAM{"nowysiwyg"}%" />%EDITACTION%
%TEXT%
<div class="foswikiFormSteps">
<div class="foswikiFormStep">
%TMPL:P{"formlist"}%
</div>
<div class="foswikiFormStep foswikiFormButtons">
  %BUTTON{"%MAKETEXT{"OK"}%" accesskey="o" type="save" icon="tick"}%
  %BUTTON{"%MAKETEXT{"Cancel"}%" accesskey="c" onclick="history.back()" icon="cross"}%
</div>
</div>
</form>
</noautolink>
<!-- //content -->%TMPL:END%

%TMPL:DEF{"formlist"}%%FORMATLIST{
  "%DBQUERY{
    "TopicType=~'\bTopicType\b' OR @Target.TopicType=~'\bTopicType\b'"
    header="%FORMATLIST{"%WEBFORMS{default=""}%" 
              format="$percntGETTOPICTITLE{\"$1\"}$percnt=$percntDBQUERY{topic=\"$1\" format=\"$web.$topic\"}$percnt=fa-file-o" 
              separator=", "
           }%"
    format=", $expand(topictitle)=$expand(Target or topic)=$expand(@Target.Icon or Icon or 'fa-file-o')"
    separator=""
  }%"
  sort="on"
  unique="on"
  split="\s*,\s*"
  replace="/=."
  pattern="(.*)=(.*)=(.*)"
  header="<div id='formlist'>"
  marker="checked"
  selection="%IF{"'%URLPARAM{"formtemplate"}%'=''"
    then="%IF{"'%QUERY{"form.name"}%'=''"
            then="none"
            else="%QUERY{"form.name"}%"
          }%"
    else="%URLPARAM{"formtemplate"}%"
  }%"
  format="<div class='row'><label>
    <input type='radio' name='formtemplate' $marker value='$2' />
    $percntJQICON{\"$3\"}$percnt
    <b class='title'>$1</b> ... 
    <span class='foswikiGrayText desc'>$percntFORMFIELD{\"Summary\" topic=\"$2\"}$percnt (<a href='%SCRIPTURLPATH{"view"}%/$2' target='_blank'>?</a>)</span>
    </label></div>"
  separator="$n"
  footer="<div class='row'><label>
      <input type='radio' name='formtemplate' value='none' />
      %JQICON{"fa-remove"}%
      <i class='title'>%MAKETEXT{"none "}%</i> ... 
      <span class='foswikiGrayText desc'>%MAKETEXT{"remove the current form (caution: possible data loss)"}%</div>
      </label></div></div>"
}%
<literal>
<script>
jQuery(function($) {
  var $formlist = $("#formlist"), 
      selectClass = "checked";
  function update() {
    $formlist.find(".row").removeClass(selectClass);
    $formlist.find("input:checked").parents(".row:first").addClass(selectClass);
  }
  $formlist.find(".row").on("click", function() {
    update($(this));
  }).mouseenter(function() {
    $(this).addClass("hover");
  }).mouseleave(function() {
    $(this).removeClass("hover");
  });
  update();
});
</script>
<style>
#formlist label {
  display:block;
}
#formlist input {
  display:none;
}
#formlist .checked {
  background: #efffd8;
  color:#599E00;
}
#formlist .row {
  margin-bottom:0.5em;
  padding:0.5em 1em;
}
#formlist .title {
  margin-right:2em;
}
#formlist .desc {
}
#formlist .fa {
  text-align:center;
  font-size:1.5em;
  width:1em;
  margin-right:10px;
}
</style>
</literal>%TMPL:END%

%TMPL:DEF{"formlist_old"}%<table cellspacing="5" class="natChangeForm">
%NATFORMLIST{
  separator="$n"
  format="<tr>
      <td>
        <input type='radio' name='formtemplate' id='formtemplateelem$index' $checked value='$name' />
      </td>
      <td style='padding-right:10px'>
        <label for='formtemplateelem$index'><nop>$formTopic</label>
      </td>
      <td>$percntIF{\"'$name'='none'\" 
          then=\"%MAKETEXT{"remove the current form (caution: possible data loss)"}%\" 
          else=\"$percntFORMFIELD{\"Summary\" topic=\"$formWeb.$formTopic\"}$percnt (<a href='%SCRIPTURLPATH{"view"}%/$formWeb/$formTopic' target='_blank'>?</a>)\"
        }$percnt
      </td>
    </tr>"
}%
</table>%TMPL:END%
