%TMPL:INCLUDE{"view"}%

%{ ################################################################################ }%
%TMPL:DEF{"title"}%%TOPIC% (%MAKETEXT{"Child topics"}%) %TMPL:P{"titlesep"}% %WIKITOOLNAME%%TMPL:END%
%TMPL:DEF{"breadcrumbs::tail"}%%TMPL:P{"sep"}%<a href="%SCRIPTURLPATH{"view" topic="%BASEWEB%.%BASETOPIC%" template="childtopics"}%&%QUERYSTRING%">%MAKETEXT{"Child topics"}%</a>%TMPL:END%
%TMPL:DEF{"topicactions"}%%TMPL:END%
%TMPL:DEF{"bottombar"}%%TMPL:END%
%TMPL:DEF{"sidebar"}%%TMPL:END%
%TMPL:DEF{"revinfo"}%%TMPL:END%
%TMPL:DEF{"heading"}%%MAKETEXT{"Child topics of [_1]" args="%GETTOPICTITLE{"%BASEWEB%.%BASETOPIC%" encode="entity"}%"}%%TMPL:END%
%TMPL:DEF{"childtopics::limit"}%500%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"content"}%%{}%
%BUTTON{
  "%MAKETEXT{"Close"}%" 
  class="foswikiRight simple"
  target="%BASEWEB%.%BASETOPIC%" 
  icon="%TMPL:P{"icon::cancel::name"}%"
}%
<h1>%TMPL:P{"heading"}%</h1>
%TMPL:P{"childtopicsjavascript"}%%{}%
<div class="natChildTopicsContainer"></div>
%{}%%TMPL:END%


%{ ################################################################################ }%
%TMPL:DEF{"dialog"}%<noautolink>
<div class="jqUIDialog" data-modal="true" data-height="600" data-width="930" data-draggable="true" data-resizable="true" data-destroy-on-close="true" title="%TMPL:P{"heading"}%">
  <div class="natChildTopicsContainer"></div>
  %TMPL:P{"childtopicsjavascript"}%%{}%
  <a class="jqUIDialogButton jqUIDialogClose" data-icon="ui-icon-cancel">%MAKETEXT{"Close"}%</a>
</div>
</noautolink>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"childtopicsearch"}%%TMPL:P{context="SolrPluginEnabled" then="childtopicsearch::solr" else="childtopicsearch::else"}%%TMPL:END%
%TMPL:DEF{"childtopicsearch::else"}%%TMPL:P{context="DBCachePluginEnabled" then="childtopicsearch::dbcache" else="childtopicsearch::default"}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"childtopicsearch::default"}%%{}%
%MAKEINDEX{
  "%METASEARCH{
    type="parent" 
    web="%BASEWEB%" 
    topic="%BASETOPIC%" 
    format="($percntSUBST{text=\"$percntGETTOPICTITLE{\"$web.$topic\" encode=\"entity\"}$percnt\" pattern=\"(&#\d+;)|[$]\" format=\"\"}$percnt);$percntGETTOPICTITLE{\"$web.$topic\" encode=\"entity\"}$percnt;$web.$topic"
  }%"
  pattern="\((.*)\);(.*);(.*)"
  split="\n"
  header="%MAKETEXT{"[_1] topic(s) found" args="<span class='foswikiAlert'>$count</span>"}%$n$n $percntCALC{\"$SET(found,1)\"}$percnt"
  format="[[$3][$2]]"
  sort="nocase"
  transliterate="%CHILDTOPICS_TRANSLITERATE{default="%MAKEINDEX_TRANSLITERATE{default=""}%"}%"
}%%IF{"'%CALC{"$GET(found)"}%'=''"
  then="<span class='foswikiAlert'>%MAKETEXT{"No child topics"}%</span>"
}%%{}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"childtopicsearch::dbcache"}%%{}%
%MAKEINDEX{
  "%DBQUERY{
    "parent='%BASETOPIC%'"
    web="%BASEWEB%" 
    format="($percntSUBST{text=\"$percntGETTOPICTITLE{\"$web.$topic\" encode=\"entity\"}$percnt\" pattern=\"(&#\d+;)|[$]\" format=\"\"}$percnt);$percntGETTOPICTITLE{\"$web.$topic\" encode=\"entity\"}$percnt;$web.$topic"
  }%"
  pattern="\((.*)\);(.*);(.*)"
  split="\n"
  header="%MAKETEXT{"[_1] topic(s) found" args="<span class='foswikiAlert'>$count</span>"}%$n$n $percntCALC{\"$SET(found,1)\"}$percnt"
  format="[[$3][$2]]"
  sort="nocase"
  limit="%TMPL:P{"childtopics::limit"}%"
  transliterate="%CHILDTOPICS_TRANSLITERATE{default="%MAKEINDEX_TRANSLITERATE{default=""}%"}%"
}%
%IF{"'%CALC{"$GET(found)"}%'=''"
  then="<span class='foswikiAlert'>%MAKETEXT{"No child topics"}%</span>"
}%%{}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"childtopicsearch::solr"}%<noautolink>
%MAKEINDEX{
  "%SOLRSEARCH{
    "parent:%ENCODE{"%BASEWEB%" old="/" new="."}%.%BASETOPIC%"
    header="$percntCALC{\"$SET(total,$count)\"}$percnt"
    format="($percntSUBST{text=\"$percntENCODE{\"$title\" type=\"entity\"}$percnt\" pattern=\"(&#\d+;)|[$]\" format=\"\"}$percnt);$title;$web.$topic"
    sort="title"
    checktopics="on"
    separator="$n"
    rows="%TMPL:P{"childtopics::limit"}%"
  }%"
  pattern="\((.*)\);(.*);(.*)"
  split="\n"
  header="%MAKETEXT{"[_1] topic(s) found" args="<span class='foswikiAlert'>%CALC{"$GET(total)"}%</span>"}%
    $percntIF{\"%CALC{"$GET(total)"}%>%TMPL:P{"childtopics::limit"}%\"
      then=\"(%MAKETEXT{"showing only [_1]" args="%TMPL:P{"childtopics::limit"}%"}%)\"
    }$percnt%{}%$n
  "
  format="[[$3][$2]]"
  sort="nocase"
  transliterate="%CHILDTOPICS_TRANSLITERATE{default="%MAKEINDEX_TRANSLITERATE{default=""}%"}%"
}%</noautolink>
%IF{"'%CALC{"$GET(total)"}%'=''"
  then="<span class='foswikiAlert'>%MAKETEXT{"No child topics"}%</span>"
}%%{}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"childtopicsjavascript"}%%ADDTOZONE{"script"
  text="<script src='%PUBURLPATH%/%SYSTEMWEB%/NatSkin/build/childtopics.js'></script>"
  id="NATSKIN::CHILDTOPICS"
}%%TMPL:END%
