%TMPL:INCLUDE{"view"}%<!-- template: compare.nat.tmpl -->
%TMPL:DEF{"bodyclass"}%natCompareBody%TMPL:END%
%TMPL:DEF{"title"}%%TOPIC% %MAKETEXT{"([_1] vs. [_2])" args="%REVTITLE1%, %REVTITLE2%"}% - %WIKITOOLNAME%%TMPL:END%
%TMPL:DEF{"meta"}% <meta name="robots" content="noindex, nofollow" /> %TMPL:END%
%TMPL:DEF{"content"}%<!-- content -->
%TMPL:P{"beforetext"}%<!-- beforetext// -->
%TMPL:P{"rendercontent"}%<!-- rendercontent// -->
%TMPL:P{"rawbutton"}%<!-- rawbutton // -->
%TMPL:P{"aftertext"}%<!-- aftertext// -->
%TMPL:P{"form"}%<!-- form // -->
<!-- //content -->%TMPL:END%
