%TMPL:INCLUDE{"view"}%
%TMPL:INCLUDE{"diff"}%
%TMPL:DEF{"content"}%%TMPL:P{"diff"}%%TMPL:END%

%TMPL:DEF{"attachments"}%%TMPL:END%
%TMPL:DEF{"metadata"}%%TMPL:END%
%TMPL:DEF{"bodyclass"}%natDiffBody%TMPL:END%
%TMPL:DEF{"sidebar"}%%TMPL:END%
%TMPL:DEF{"banner"}%%TMPL:END%
%TMPL:DEF{"form"}%%TMPL:END%
%TMPL:DEF{"bottombar"}%%TMPL:END%
%TMPL:DEF{"paneltoggle"}%%TMPL:END%
%TMPL:DEF{"revinfo"}%%TMPL:END%
%TMPL:DEF{"titleaction"}%%TRANSLATE{"Diff"}%%TMPL:END%

%TMPL:DEF{"topicactions"}%%DIFFCONTROL{
  template="topicactions::diff"
  newrev="%TMPL:P{"diff::newrev"}%"
  oldrev="%TMPL:P{"diff::oldrev"}%"
  context="%TMPL:P{"diff::context"}%"
  offset="%TMPL:P{"diff::offset"}%"
  exclude="%TMPL:P{"diff::exclude"}%"
}%%TMPL:END%

%TMPL:DEF{"topicactions::diff"}%<div class='natTopicActions natHistoryTopicActions'>
%TMPL:P{"diff::control::start"}%
%TMPL:P{"diff::control::prev"}%
%TMPL:P{"diff::control::next"}%
%TMPL:P{"diff::control::end"}%
%TMPL:P{"diff::control::quit"}%
</div>%TMPL:END%

%TMPL:DEF{"diff::control"}%%TMPL:END%
%TMPL:DEF{"diff::control::quit"}%%USERACTIONS{format="$action(close)"}%%TMPL:END%

%TMPL:DEF{"breadcrumbs::tail"}%%TMPL:P{"sep"}%<a href="%SCRIPTURLPATH{"diff"}%/%WEB%/%TOPIC%">%MAKETEXT{"Differences"}%</a>%TMPL:END%
