%TMPL:INCLUDE{"page"}%<!-- template: edit.nat.tmpl -->
%TMPL:INCLUDE{"editbody"}%<!-- -->
%TMPL:INCLUDE{"edittopicactions"}%<!-- -->
%TMPL:INCLUDE{"edithelp"}%<!-- -->
%TMPL:INCLUDE{"edittoolbar"}%<!-- -->
%TMPL:INCLUDE{"metacomments"}%<!-- -->

%{ ################################################################################ }%
%TMPL:DEF{"useractions"}%%TMPL:END%
%TMPL:DEF{"topbar"}%%TMPL:END%
%TMPL:DEF{"webbuttons"}%%TMPL:END%
%TMPL:DEF{"sidebar"}%%TMPL:END%
%TMPL:DEF{"bodyclass"}%natEditBody%TMPL:END%
%TMPL:DEF{"meta"}% %HTTP_EQUIV_ON_EDIT% %TMPL:END%
%TMPL:DEF{"title"}%%TOPIC% - %WEBLINK{format="$web"}% - (%IF{"defined 'rev'" then="%MAKETEXT{"restore"}%" else="%MAKETEXT{"edit"}%"}%) - %WIKITOOLNAME%%TMPL:END%
%TMPL:DEF{"moresettings"}%%TMPL:P{"showonscreen"}%%TMPL:P{context="MetaCommentPluginEnabled" then="commentpreferences"}%%TMPL:END%
%TMPL:DEF{"moretabs"}%%TMPL:P{"permissionstab"}%%TMPL:END%
%TMPL:DEF{"contentheader"}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"showonscreen"}%<!-- -->
<h2>%MAKETEXT{"Show on screen"}%</h2>
<div class="foswikiFormSteps">
  <div class="foswikiFormStep">
    <table class="foswikiLayoutTable">
%TMPL:P{"showonscreen::sidebar"}%<!-- -->
%TMPL:P{"showonscreen::topicactions"}%<!-- -->
%TMPL:P{"showonscreen::breadcrumbs"}%<!-- -->
%TMPL:P{"showonscreen::revinfo"}%<!-- -->
%TMPL:P{"showonscreen::dataform"}%<!-- -->
%TMPL:P{"showonscreen::attachments"}%<!-- -->
%TMPL:P{context="MetaCommentPluginEnabled" then="showonscreen::comments"}%<!-- -->
    </table>
  </div>
</div>
<!-- -->%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"showonscreen::sidebar"}%<tr>
  <th>%MAKETEXT{"Sidebar"}%<input type='hidden' name='Default+NATSKIN_SIDEBAR' value="%GETVAR{"NATSKIN_SIDEBAR" scope="web" default="on"}%" /></th>
  <td><input type='radio' class='foswikiRadioButton' id="displayform_on" name='Local+NATSKIN_SIDEBAR' value="on" %IF{"$'NATSKIN_SIDEBAR'=~'on|left|right|both' OR isempty 'NATSKIN_SIDEBAR'" then="checked='checked'"}% /></td>
  <td><label for="displayform_on">%MAKETEXT{"on"}%</label></td>
  <td><input type='radio' class='foswikiRadioButton' id="displayform_off" name='Local+NATSKIN_SIDEBAR' value="off" %IF{"$'NATSKIN_SIDEBAR'='off'" then="checked='checked'"}% /></td>
  <td><label for="displayform_off">%MAKETEXT{"off"}%</label></td>
</tr>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"showonscreen::dataform"}%<tr>
  <th>%MAKETEXT{"Data form"}%<input type='hidden' name='Default+DISPLAYFORM' value="%GETVAR{"DISPLAYFORM" scope="web" default="on"}%" /></th>
  <td><input type='radio' class='foswikiRadioButton' id="displayform_on" name='Local+DISPLAYFORM' value="on" %IF{"$'DISPLAYFORM'='on' OR isempty 'DISPLAYFORM'" then="checked='checked'"}% /></td>
  <td><label for="displayform_on">%MAKETEXT{"on"}%</label></td>
  <td><input type='radio' class='foswikiRadioButton' id="displayform_off" name='Local+DISPLAYFORM' value="off" %IF{"$'DISPLAYFORM'='off'" then="checked='checked'"}% /></td>
  <td><label for="displayform_off">%MAKETEXT{"off"}%</label></td>
</tr>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"showonscreen::attachments"}%<tr>
  <th>%MAKETEXT{"Attachments"}%<input type='hidden' name='Default+DISPLAYATTACHMENTS' value="%GETVAR{"DISPLAYATTACHMENTS" scope="web" default="on"}%" /></th>
  <td><input type="radio" class="foswikiRadioButton" id="displayattachments_on" name="Local+DISPLAYATTACHMENTS" value="on" %IF{"$'DISPLAYATTACHMENTS'='on' OR isempty 'DISPLAYATTACHMENTS'" then="checked='checked'"}% /></td>
  <td><label for="displayattachments_on">%MAKETEXT{"on"}%</label></td>
  <td><input type='radio' class="foswikiRadioButton" id="displayattachments_off" name='Local+DISPLAYATTACHMENTS' value="off" %IF{"$'DISPLAYATTACHMENTS'='off'" then="checked='checked'"}% /></td>
  <td><label for="displayattachments_off">%MAKETEXT{"off"}%</label></td>
</tr>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"showonscreen::comments"}%<tr>
  <th>%MAKETEXT{"Comments"}%<input type='hidden' name='Default+DISPLAYCOMMENTS' value="%GETVAR{"DISPLAYCOMMENTS" scope="web" default="off"}%" /></th>
  <td><input type="radio" class="foswikiRadioButton" id="displaycomments_on" name="Local+DISPLAYCOMMENTS" value="on" %IF{"$'DISPLAYCOMMENTS'='on'" then="checked='checked'"}% /></td>
  <td><label for="displaycomments_on">%MAKETEXT{"on"}%</label></td>
  <td><input type='radio' class="foswikiRadioButton" id="displaycomments_off" name='Local+DISPLAYCOMMENTS' value="off" %IF{"$'DISPLAYCOMMENTS'='off' OR isempty 'DISPLAYCOMMENTS'" then="checked='checked'"}% /></td>
  <td><label for="displaycomments_off">%MAKETEXT{"off"}%</label></td>
</tr>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"showonscreen::topicactions"}%<tr>
  <th>%MAKETEXT{"Topic actions"}%<input type='hidden' name='Default+DISPLAYTOPICACTIONS' value="%GETVAR{"DISPLAYTOPICACTIONS" scope="web" default="on"}%" /></th>
  <td><input type="radio" class="foswikiRadioButton" id="displaytopicactions_on" name="Local+DISPLAYTOPICACTIONS" value="on" %IF{"$'DISPLAYTOPICACTIONS'='on' OR isempty 'DISPLAYTOPICACTIONS'" then="checked='checked'"}% /></td>
  <td><label for="displaytopicactions_on">%MAKETEXT{"on"}%</label></td>
  <td><input type='radio' class="foswikiRadioButton" id="displaytopicactions_off" name='Local+DISPLAYTOPICACTIONS' value="off" %IF{"$'DISPLAYTOPICACTIONS'='off'" then="checked='checked'"}% /></td>
  <td><label for="displaytopicactions_off">%MAKETEXT{"off"}%</label></td>
</tr>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"showonscreen::revinfo"}%<tr>
  <th>%MAKETEXT{"Revision information"}%<input type='hidden' name='Default+DISPLAYREVISIONINFO' value="%GETVAR{"DISPLAYREVISIONINFO" scope="web" default="on"}%" /></th>
  <td><input type="radio" class="foswikiRadioButton" id="displayrevisioninfo_on" name="Local+DISPLAYREVISIONINFO" value="on" %IF{"$'DISPLAYREVISIONINFO'='on' OR isempty 'DISPLAYREVISIONINFO'" then="checked='checked'"}% /></td>
  <td><label for="displayrevisioninfo_on">%MAKETEXT{"on"}%</label></td>
  <td><input type='radio' class="foswikiRadioButton" id="displayrevisioninfo_off" name='Local+DISPLAYREVISIONINFO' value="off" %IF{"$'DISPLAYREVISIONINFO'='off'" then="checked='checked'"}% /></td>
  <td><label for="displayrevisioninfo_off">%MAKETEXT{"off"}%</label></td>
</tr>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"showonscreen::breadcrumbs"}%<tr>
  <th>%MAKETEXT{"Breadcrumbs navigation"}%<input type='hidden' name='Default+DISPLAYBREADCRUMBS' value="%GETVAR{"DISPLAYBREADCRUMBS" scope="web" default="on"}%" /></th>
  <td><input type="radio" class="foswikiRadioButton" id="displaybreadcrumbs_on" name="Local+DISPLAYBREADCRUMBS" value="on" %IF{"$'DISPLAYBREADCRUMBS'='on' OR isempty 'DISPLAYBREADCRUMBS'" then="checked='checked'"}% /></td>
  <td><label for="displaybreadcrumbs_on">%MAKETEXT{"on"}%</label></td>
  <td><input type='radio' class="foswikiRadioButton" id="displaybreadcrumbs_off" name='Local+DISPLAYBREADCRUMBS' value="off" %IF{"$'DISPLAYBREADCRUMBS'='off'" then="checked='checked'"}% /></td>
  <td><label for="displaybreadcrumbs_off">%MAKETEXT{"off"}%</label></td>
</tr>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"commentpreferences"}%<!-- -->
<div id="cmtPreferences" %IF{"isempty 'DISPLAYCOMMENTS' or $'DISPLAYCOMMENTS'='off'" then="style='display:none'"}%>
<h2>%MAKETEXT{"Comment preferences"}%</h2>
<div class="foswikiFormSteps">
  <div class="foswikiFormStep">
    <input type='hidden' name='Default+COMMENTFORMAT' value="%GETVAR{"COMMENTFORMAT" scope="web" default="%TMPL:P{"comments::format::default"}%"}%" />
    <input type='hidden' name='Default+COMMENTSTATE' value="%GETVAR{"COMMENTSTATE" scope="web" default="open"}%" />
    <input type='hidden' name='Default+COMMENTMODERATION' value="%GETVAR{"COMMENTMODERATION" scope="web" default="off"}%" />
    <table class="foswikiLayoutTable">
      <tr>
        <th>%MAKETEXT{"Format"}%</th>
        <td colspan="4">
          <select name="Local+COMMENTFORMAT" class="foswikiSelect">
            <option value="%TMPL:P{"comments::format::default"}%">%MAKETEXT{"default"}%</option>
            %FORMATLIST{"%TMPL:P{"comments::formats"}%"
              sort="on"
              unique="on"
              split="\s*,\s*"
              separator=""
              format="<option $percntIF{\"$'COMMENTFORMAT'='$1'\" then=\"selected\"}$percnt>$percntMAKETEXT{\"$1\"}$percnt</option>"
            }%
          </select>
        </td>
      </tr>
      <tr>
        <th>%MAKETEXT{"State"}%</th>
        <td><input type="radio" class="foswikiRadioButton" id="commentstate_open" name="Local+COMMENTSTATE" value="open" %IF{"$'COMMENTSTATE'='open' or isempty 'COMMENTSTATE'" then="checked"}% /></td>
        <td><label for="commentstate_open">%MAKETEXT{"open"}%</td>
        <td><input type="radio" class="foswikiRadioButton" id="commentstate_closed" name="Local+COMMENTSTATE" value="closed" %IF{"$'COMMENTSTATE'='closed'" then="checked"}% /></td>
        <td><label for="commentstate_closed">%MAKETEXT{"closed"}%</td>
      </tr>
      <tr>
        <th>%MAKETEXT{"Moderation"}%</th>
        <td><input type="radio" class="foswikiRadioButton" id="commentmoderation_on" name="Local+COMMENTMODERATION" value="on" %IF{"$'COMMENTMODERATION'='on'" then="checked"}% /></td>
        <td><label for="commentmoderation_on">%MAKETEXT{"on"}%</td>
        <td><input type="radio" class="foswikiRadioButton" id="commentmoderation_off" name="Local+COMMENTMODERATION" value="off" %IF{"$'COMMENTMODERATION'='off' or isempty 'COMMENTMODERATION'" then="checked"}% /></td>
        <td><label for="commentmoderation_off">%MAKETEXT{"off"}%</td>
      </tr>
    </table>
  </div>
</div>
%ADDTOZONE{"script"
  tag="METACOMMENTPLUGIN::PREFS"
  text="<literal><script>
    jQuery(function($) {
      $('#displaycomments_on, #displaycomments_off').change(function() {
        $('#cmtPreferences').animate({opacity:'toggle'});
      });
    });
    </script></literal>"
  requires="JQUERYPLUGIN"
}%<!-- -->
</div>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"permissionstab"}%<!-- -->
%TAB{"%MAKETEXT{"Permissions"}%"}%
<noautolink>
<h2>%MAKETEXT{"Permissions"}%</h2>
<div class="foswikiFormSteps" id="permissionsForm">
  <input type="hidden" name="Set+ALLOWTOPICVIEW" value="%GETVAR{"ALLOWTOPICVIEW" default="undefined"}%" class="permset_view" id="allow_view" />
  <input type="hidden" name="Set+DENYTOPICVIEW" value="%GETVAR{"DENYTOPICVIEW" default="undefined"}%" class="permset_view" id="deny_view" />
  <input type="hidden" name="Set+ALLOWTOPICCHANGE" value="%GETVAR{"ALLOWTOPICCHANGE" default="undefined"}%" class="permset_change" id="allow_change" />
  <input type="hidden" name="Set+DENYTOPICCHANGE" value="%GETVAR{"DENYTOPICCHANGE" default="undefined"}%" class="permset_change" id="deny_change" />
  <input type="hidden" name="Default+ALLOWTOPICVIEW" value="undefined" />
  <input type="hidden" name="Default+ALLOWTOPICCHANGE" value="undefined" />
  <input type="hidden" name="Default+DENYTOPICVIEW" value="undefined" />
  <input type="hidden" name="Default+DENYTOPICCHANGE" value="undefined" />
  <input type="hidden" name="Default+PERMSET_VIEW" value="default" />
  <input type="hidden" name="Default+PERMSET_CHANGE" value="default" />
  <div class="foswikiFormStep">
    <h3>%MAKETEXT{"Users who may view"}%:</h3>
      <input type="radio" class="foswikiRadioButton" id="default_view" name="Local+PERMSET_VIEW" value="default" %IF{"$'PERMSET_VIEW'='default' OR isempty 'PERMSET_VIEW'" then="checked='checked'"}% /> 
      <label for="default_view" title='%MAKETEXT{"default as defined in the [_1]" args="<nop>%WEBPREFSTOPIC%"}%'>%MAKETEXT{"Default"}%</label>

      <input type="radio" class="foswikiRadioButton" id="everybody_view" name="Local+PERMSET_VIEW" value="everybody" %IF{"$'PERMSET_VIEW'='everybody'" then="checked='checked'"}% /> 
      <label for="everybody_view" title="%MAKETEXT{"public view access"}%">%MAKETEXT{"Everybody"}%</label>

      <input type="radio" class="foswikiRadioButton" id="registered_users_view" name="Local+PERMSET_VIEW" value="registeredusers" %IF{"$'PERMSET_VIEW'='registeredusers'" then="checked='checked'"}% /> 
      <label for="registered_users_view" title='%MAKETEXT{"restrict read access to users that have an account on this site"}%'>%MAKETEXT{"Registered users"}%</label>

      <input type="radio" class="foswikiRadioButton" id="just_author_view" name="Local+PERMSET_VIEW" value="justauthor" %IF{"$'PERMSET_VIEW'='justauthor'" then="checked='checked'"}% />
      <label for="just_author_view" title='%MAKETEXT{"restrict access to [_1]" args="%SPACEOUT{"%WIKINAME%"}%"}%'>%MAKETEXT{"Just me"}%</label>

      <input type="radio" class="foswikiRadioButton" id="nobody_view" name="Local+PERMSET_VIEW" value="nobody" %IF{"$'PERMSET_VIEW'='nobody'" then="checked='checked'"}% /> 
      <label for="nobody_view" title='%MAKETEXT{"strictly deny any access to this topic"}%'>%MAKETEXT{"Nobody"}%</label>

      <table class="foswikiNullTable">
        <tr>
          <td>
            <input type="radio" class="foswikiRadioButton" id="details_view_toggle" name="Local+PERMSET_VIEW" value="details" %IF{"$'PERMSET_VIEW'='details'" then="checked='checked'"}% />
          </td>
          <td>
            <label for="details_view_toggle" title='%MAKETEXT{"specify a list of users and/or groups"}%'>&nbsp;%MAKETEXT{"Specific users/groups"}%</label>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <div id="details_view_container" %IF{"$'PERMSET_VIEW'!='details'" then="style='display:none'"}%>
              <input type="text" size="40" id="details_view" autocomplete="off" name="Local+PERMSET_VIEW_DETAILS" value="%GETVAR{"PERMSET_VIEW_DETAILS"}%" />
              <input type="hidden" name="Default+PERMSET_VIEW_DETAILS" value="" />
            </div>
          </td>
        </tr>
      </table>
  </div>

  <div class="foswikiFormStep">
    <h3>%MAKETEXT{"Users who may edit"}%:</h3>
    <input type="radio" class="foswikiRadioButton" id="default_change" name="Local+PERMSET_CHANGE" value="default" %IF{"$'PERMSET_CHANGE'='default' OR isempty 'PERMSET_CHANGE'" then="checked='checked'"}% /> 
    <label for="default_change" title='%MAKETEXT{"default as defined in the [_1]" args="<nop>%WEBPREFSTOPIC%"}%'>%MAKETEXT{"Default"}%</label>

    <input type="radio" class="foswikiRadioButton" id="registered_users_change" name="Local+PERMSET_CHANGE"  value="registeredusers" %IF{"$'PERMSET_CHANGE'='registeredusers'" then="checked='checked'"}% /> 
    <label for="registered_users_change" title='%MAKETEXT{"restrict write access to users that have an account on this site"}%'>%MAKETEXT{"Registered users"}%</label>

    <input type="radio" class="foswikiRadioButton" id="just_author_change" name="Local+PERMSET_CHANGE" value="justauthor" %IF{"$'PERMSET_CHANGE'='justauthor'" then="checked='checked'"}% />
    <label for="just_author_change" title='%MAKETEXT{"restrict access to [_1]" args="%SPACEOUT{"%WIKINAME%"}%"}%'>%MAKETEXT{"Just me"}%</label>

    <input type="radio" class="foswikiRadioButton" id="nobody_change" name="Local+PERMSET_CHANGE" value="nobody" %IF{"$'PERMSET_CHANGE'='nobody'" then="checked='checked'"}% /> 
    <label for="nobody_change" title='%MAKETEXT{"strictly deny write access to this topic"}%'>%MAKETEXT{"Nobody"}%</label>

    <table class="foswikiNullTable">
      <tr>
        <td>
          <input type="radio" class="foswikiRadioButton" id="details_change_toggle" name="Local+PERMSET_CHANGE" value="details" %IF{"$'PERMSET_CHANGE'='details'" then="checked='checked'"}% />
        </td>
        <td>
          <label for="details_change_toggle" title='%MAKETEXT{"specify a list of users and/or groups"}%'>&nbsp;%MAKETEXT{"Specific users/groups"}%</label>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div id="details_change_container" %IF{"$'PERMSET_CHANGE'!='details'" then="style='display:none'"}%>
            <input type="text" size="40" id="details_change" autocomplete="off" name="Local+PERMSET_CHANGE_DETAILS" value="%GETVAR{"PERMSET_CHANGE_DETAILS"}%" />
            <input type="hidden" name="Default+PERMSET_CHANGE_DETAILS" value="" />
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
%ADDTOZONE{
  "script"
  tag="NATSKIN:EDIT" 
  text="<script src='%PUBURLPATH%/%SYSTEMWEB%/NatSkin/edit.js'></script>"
  requires="NATSKIN::OPTS"
}%<!-- -->
</noautolink>
%ENDTAB%
<!-- -->%TMPL:END%

