%TMPL:INCLUDE{"page"}%<!-- template: edit.nat.tmpl -->
%TMPL:INCLUDE{"editbody"}%<!-- -->
%TMPL:INCLUDE{"edittopicactions"}%<!-- -->
%TMPL:INCLUDE{"edithelp"}%<!-- -->
%TMPL:INCLUDE{"edittoolbar"}%<!-- -->
%TMPL:INCLUDE{"metacomments"}%<!-- -->

%{ ################################################################################ }%
%TMPL:DEF{"useractions"}%%TMPL:END%
%TMPL:DEF{"topbar"}%%TMPL:END%
%TMPL:DEF{"webbuttons"}%%TMPL:END%
%TMPL:DEF{"sidebar"}%%TMPL:END%
%TMPL:DEF{"bodyclass"}%natEditBody%TMPL:END%
%TMPL:DEF{"meta"}% %HTTP_EQUIV_ON_EDIT% %TMPL:END%
%TMPL:DEF{"titleaction"}%%IF{"defined 'rev'" then="%MAKETEXT{"restore"}%" else="%MAKETEXT{"edit"}%"}%%TMPL:END%
%TMPL:DEF{"contentheader"}%%TMPL:END%
%TMPL:DEF{"tabs"}%%TMPL:P{"firsttab"}%%TMPL:P{"formfields"}%%TMPL:P{"settingstab"}%%TMPL:P{"permissionstab"}%%TMPL:P{"helptab"}%%TMPL:END%

%TMPL:DEF{"formparameters"}%<input type="hidden" name="action" value="%URLPARAM{"action"}%" />
<input type="hidden" name="cmd" value="%CMD%" />
<input type="hidden" name="cover" value="%URLPARAM{"cover"}%" />
<input type="hidden" name="formtemplate" value="%FORMTEMPLATE%" />
<input type="hidden" name="newtopic" value="%NEWTOPIC%" />
<input type="hidden" name="nowysiwyg" value="%URLPARAM{"nowysiwyg"}%" />
<input type="hidden" name="originalrev" value="%ORIGINALREV%" />
<input type="hidden" name="redirectto" value="%REDIRECTTO%" />
<input type="hidden" name="rev" value="%URLPARAM{"rev"}%" />
<input type="hidden" name="skin" value="%URLPARAM{"skin"}%" />
<input type="hidden" name="templatetopic" value="%TEMPLATETOPIC%" />
<input type="hidden" name="template" value="%URLPARAM{"template"}%" />%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"supportedlanguages::default"}%
  %MAKETEXT{"Chinese"}%=cjk;
  %MAKETEXT{"Danish"}%=da;
  %MAKETEXT{"Dutch"}%=nl;
  %MAKETEXT{"English"}%=en;
  %MAKETEXT{"Finnish"}%=fi;
  %MAKETEXT{"French"}%=fr;
  %MAKETEXT{"German"}%=de;
  %MAKETEXT{"Italian"}%=it;
  %MAKETEXT{"Japanese"}%=cjk;
  %MAKETEXT{"Korean"}%=cjk;
  %MAKETEXT{"Portuguese"}%=pt;
  %MAKETEXT{"Russian"}%=ru;
  %MAKETEXT{"Spanish"}%=es;
  %MAKETEXT{"Swedish"}%=sv;
  %MAKETEXT{"Turkish"}%=tr
%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"supportedlanguages::multiling"}%
%LANGUAGES{format="$label$percntIF{\"'$label'!='$name'\" then=\" - $name\"}$percnt=$code" separator=";" sort="label"}%
%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"settingstab"}%%TAB{"%MAKETEXT{"Settings"}%" id="settings"}%<noautolink>%TMPL:P{"settings"}%</noautolink>%ENDTAB%%TMPL:END%
%TMPL:DEF{"settings"}%%TMPL:P{"topicsettings"}%%TMPL:P{"editsettings"}%%TMPL:P{"skinsettings"}%%TMPL:P{"displaysettings"}%%TMPL:P{"commentsettings"}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"topicsettings"}%<h2>%MAKETEXT{"Topic settings"}%</h2>
<div class="foswikiFormSteps">
  <div class="foswikiFormStep">
    <table class="foswikiLayoutTable">
      <tr>
        <th>%MAKETEXT{"Parent topic"}%</th>
        <td>
          <input class="foswikiInputField jqUIAutocomplete" autocomplete="%SCRIPTURL{"view"}%/%SYSTEMWEB%/JQueryAjaxHelper?section=topic&contenttype=application/json&skin=text&baseweb=%BASEWEB%" type="text" name="topicparent" id="topicparent" size="40" value="%TOPICPARENT%"  />
        </td>
      </tr>
      <tr>
        <th>%MAKETEXT{"Content language"}%</th>
        <td>
          <input type='hidden' name='Default+CONTENT_LANGUAGE' value='undefined' />
          <select name="Local+CONTENT_LANGUAGE" class="foswikiSelect">
            <option value="undefined">%MAKETEXT{"default"}%</option>
            %FORMATLIST{
              "%TMPL:P{context="MultiLingualPluginEnabled" then="supportedlanguages::multiling" else="supportedlanguages::default"}%"
              split="\s*;\s*"
              pattern="(.*)=(.*)"
              separator="$n"
              format="<option value='$2' $percntIF{\"preferences[name='CONTENT_LANGUAGE'].value='$2'\" then=\"selected\"}$percnt>$1</option>"
            }%
          </select>
        </td>
      </tr>
    </table>
  </div>
</div>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"editsettings"}%<!-- -->
<h2>%MAKETEXT{"Edit settings"}%</h2>
<div class="foswikiFormSteps">
  <div class="foswikiFormStep">
    <table class="foswikiLayoutTable">
%TMPL:P{"editsettings::wysiwyg"}%
    </table>
  </div>
</div>
<!-- -->%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"editsettings::wysiwyg"}%<tr>
  <th>%MAKETEXT{"Wysiwyg"}%<input type='hidden' name='Default+NOWYSIWYG' value='undefined' /></th>
  <td>
    <label><input type='radio' class='foswikiRadioButton' name='%TMPL:P{"editsettings::wysiwyg::var"}%' value='undefined' %IF{"preferences[name='NOWYSIWYG'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
  </td>
  <td>
    <label><input type='radio' class='foswikiRadioButton' name='%TMPL:P{"editsettings::wysiwyg::var"}%' value='off' %IF{"preferences[name='NOWYSIWYG'].value='off'" then="checked"}% />%MAKETEXT{"on"}%</label>
  </td>
  <td>
    <label><input type='radio' class='foswikiRadioButton' name='%TMPL:P{"editsettings::wysiwyg::var"}%' value='on' %IF{"preferences[name='NOWYSIWYG'].value='on'" then="checked"}% />%MAKETEXT{"off"}%</label>
  </td>
</tr>%TMPL:END%
%TMPL:DEF{"editsettings::wysiwyg::var"}%%IF{
  "preferences[name='NOWYSIWYG']" 
  then="%QUERY{"preferences[name='NOWYSIWYG'].type"}%" 
  else="%IF{
    "'%WEB%.%TOPIC%'='%USERSWEB%.%WIKINAME%'" 
    then="Set" 
    else="Local" 
  }%"
}%+NOWYSIWYG%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"displaysettings"}%<!-- -->
<h2>%MAKETEXT{"Display settings"}%</h2>
<div class="foswikiFormSteps">
  <div class="foswikiFormStep">
    <table class="foswikiLayoutTable">
%TMPL:P{"showonscreen::sidebar"}%<!-- -->
%TMPL:P{"showonscreen::menu"}%<!-- -->
%TMPL:P{"showonscreen::topicactions"}%<!-- -->
%TMPL:P{"showonscreen::breadcrumbs"}%<!-- -->
%TMPL:P{"showonscreen::revinfo"}%<!-- -->
%TMPL:P{"showonscreen::dataform"}%<!-- -->
%TMPL:P{"showonscreen::attachments"}%<!-- -->
%TMPL:P{context="MetaCommentPluginEnabled" then="showonscreen::comments"}%<!-- -->
    </table>
  </div>
</div>
<!-- -->%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"skinsettings"}%<!-- -->
<h2 class="natSkinSettingsTitle">%MAKETEXT{"Skin settings"}%</h2>
<div class="foswikiFormSteps natSkinSettings">
  <div class="foswikiFormStep">
    <table class="foswikiLayoutTable">
      <tr>
        <th>%MAKETEXT{"Style"}%</th>
        <td>
          <input type='hidden' name='Default+NATSKIN_STYLE' value='undefined' />
          <select class="foswikiSelect" id="style" name="Local+NATSKIN_STYLE">
            <option value="undefined">%MAKETEXT{"default"}%</option>
            %FORMATLIST{"%KNOWNSTYLES%" 
              pattern="\s*(.*)\s*" 
              format="<option $percntIF{\"preferences[name='NATSKIN_STYLE'].value = '$1'\" then=\"selected\"}$percnt>$1</option>" 
              separator="$n"
            }%
          </select>
        </td>
      </tr>
      <tr>
        <th>%MAKETEXT{"Variation"}%</th>
        <td>
          <input type='hidden' name='Default+NATSKIN_VARIATION' value='undefined' />
          <select class="foswikiSelect" id="variation" name="Local+NATSKIN_VARIATION"></select>
        </td>
      </tr>
      <tr>
        <th>%MAKETEXT{"Layout"}%</th>
        <td>
          <input type='hidden' name='Default+NATSKIN_LAYOUT' value='undefined' />
          <label><input type="radio" class="foswikiRadiobox" name="Local+NATSKIN_LAYOUT" value="undefined" %IF{"preferences[name='NATSKIN_LAYOUT'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
          <label><input type="radio" class="foswikiRadiobox" name="Local+NATSKIN_LAYOUT" value="fixed" %IF{"preferences[name='NATSKIN_LAYOUT'].value='fixed'" then="checked"}% />%MAKETEXT{"fixed"}%</label>
          <label><input type="radio" class="foswikiRadiobox" name="Local+NATSKIN_LAYOUT" value="fluid" %IF{"preferences[name='NATSKIN_LAYOUT'].value='fluid'" then="checked"}% />%MAKETEXT{"fluid"}%</label>
          <label><input type="radio" class="foswikiRadiobox" name="Local+NATSKIN_LAYOUT" value="bordered" %IF{"preferences[name='NATSKIN_LAYOUT'].value='bordered'" then="checked"}% />%MAKETEXT{"bordered"}%</label>
        </td>
      </tr>
    </table>
  </div>
%ADDTOZONE{"script" id="NATSKIN::VARIATIONS" requires="JQUERYPLUGIN" text="<script class='$zone $id foswikiPreferences' type='text/json'>{
  \"NatSkinEdit\": {
    \"knownVariations\": {%KNOWNVARIATIONS{ 
        format="\\"$style\\": [\\"$variations\\"]" 
        separator=", " 
        varseparator="\\", \\"" 
    }%},
    \"selectedVariation\": \"%QUERY{"preferences[name='NATSKIN_VARIATION'].value"}%\"
  }
}</script>"}%<!-- -->
</div>
<!-- -->%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"showonscreen::menu"}%<tr>
  <th>%MAKETEXT{"Menu"}%<input type='hidden' name='Default+NATSKIN_MENU' value='undefined' /></th>
  <td>
    <label><input type='radio' class='foswikiRadioButton' name='Local+NATSKIN_MENU' value='undefined' %IF{"preferences[name='NATSKIN_MENU'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
  </td>
  <td>
    <label><input type='radio' class='foswikiRadioButton' name='Local+NATSKIN_MENU' value='on' %IF{"preferences[name='NATSKIN_MENU'].value='on'" then="checked"}% />%MAKETEXT{"on"}%</label>
  </td>
  <td>
    <label><input type='radio' class='foswikiRadioButton' name='Local+NATSKIN_MENU' value='off' %IF{"preferences[name='NATSKIN_MENU'].value='off'" then="checked"}% />%MAKETEXT{"off"}%</label>
  </td>
</tr>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"showonscreen::sidebar"}%<tr>
  <th>%MAKETEXT{"Sidebar"}%<input type='hidden' name='Default+NATSKIN_SIDEBAR' value='undefined' /></th>
  <td>
    <label><input type='radio' class='foswikiRadioButton' name='Local+NATSKIN_SIDEBAR' value='undefined' %IF{"preferences[name='NATSKIN_SIDEBAR'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
  </td>
  <td>
    <label><input type='radio' class='foswikiRadioButton' name='Local+NATSKIN_SIDEBAR' value='on' %IF{"preferences[name='NATSKIN_SIDEBAR'].value='on'" then="checked"}% />%MAKETEXT{"on"}%</label>
  </td>
  <td>
    <label><input type='radio' class='foswikiRadioButton' name='Local+NATSKIN_SIDEBAR' value='left' %IF{"preferences[name='NATSKIN_SIDEBAR'].value='left'" then="checked"}% />%MAKETEXT{"left"}%</label>
  </td>
  <td>
    <label><input type='radio' class='foswikiRadioButton' name='Local+NATSKIN_SIDEBAR' value='right' %IF{"preferences[name='NATSKIN_SIDEBAR'].value='right'" then="checked"}% />%MAKETEXT{"right"}%</label>
  </td>
  <td>
    <label><input type='radio' class='foswikiRadioButton' name='Local+NATSKIN_SIDEBAR' value='both' %IF{"preferences[name='NATSKIN_SIDEBAR'].value='both'" then="checked"}% />%MAKETEXT{"both"}%</label>
  </td>
  <td>
    <label><input type='radio' class='foswikiRadioButton' name='Local+NATSKIN_SIDEBAR' value='off' %IF{"preferences[name='NATSKIN_SIDEBAR'].value='off'" then="checked"}% />%MAKETEXT{"off"}%</label>
  </td>
</tr>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"showonscreen::dataform"}%<tr>
  <th>%MAKETEXT{"Data form"}%<input type='hidden' name='Default+DISPLAYFORM' value='undefined' /></th>
  <td>
    <label><input type='radio' class='foswikiRadioButton' name='Local+DISPLAYFORM' value='undefined' %IF{"preferences[name='DISPLAYFORM'].value=''" then="checked"}%  />%MAKETEXT{"default"}%</label>
  </td>
  <td>
    <label><input type='radio' class='foswikiRadioButton' name='Local+DISPLAYFORM' value='on' %IF{"preferences[name='DISPLAYFORM'].value='on'" then="checked"}% />%MAKETEXT{"on"}%</label>
  </td>
  <td>
    <label><input type='radio' class='foswikiRadioButton' name='Local+DISPLAYFORM' value='off' %IF{"preferences[name='DISPLAYFORM'].value='off'" then="checked"}% />%MAKETEXT{"off"}%</label>
  </td>
</tr>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"showonscreen::attachments"}%<tr>
  <th>%MAKETEXT{"Attachments"}%<input type='hidden' name='Default+DISPLAYATTACHMENTS' value='undefined' /></th>
  <td>
    <label><input type="radio" class="foswikiRadioButton" name="Local+DISPLAYATTACHMENTS" value='undefined' %IF{"preferences[name='DISPLAYATTACHMENTS'].value=''" then="checked"}%/>%MAKETEXT{"default"}%</label>
  </td>
  <td>
    <label><input type="radio" class="foswikiRadioButton" name="Local+DISPLAYATTACHMENTS" value='on' %IF{"preferences[name='DISPLAYATTACHMENTS'].value='on'" then="checked"}% />%MAKETEXT{"on"}%</label>
  </td>
  <td>
    <label><input type='radio' class="foswikiRadioButton" name='Local+DISPLAYATTACHMENTS' value='off' %IF{"preferences[name='DISPLAYATTACHMENTS'].value='off'" then="checked"}% />%MAKETEXT{"off"}%</label>
  </td>
</tr>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"showonscreen::comments"}%<tr>
  <th>%MAKETEXT{"Comments"}%<input type='hidden' name='Default+DISPLAYCOMMENTS' value='undefined' /></th>
  <td>
    <label><input type="radio" class="foswikiRadioButton natDisplayComments" name="Local+DISPLAYCOMMENTS" value='undefined' %IF{"preferences[name='DISPLAYCOMMENTS'].value=''" then="checked"}%/>%MAKETEXT{"default"}%</label>
  </td>
  <td>
    <label><input type="radio" class="foswikiRadioButton natDisplayComments" name="Local+DISPLAYCOMMENTS" value='on' %IF{"preferences[name='DISPLAYCOMMENTS'].value='on'" then="checked"}% />%MAKETEXT{"on"}%</label>
  </td>
  <td>
    <label><input type='radio' class="foswikiRadioButton natDisplayComments" name='Local+DISPLAYCOMMENTS' value='off' %IF{"preferences[name='DISPLAYCOMMENTS'].value='off'" then="checked"}% />%MAKETEXT{"off"}%</label>
  </td>
</tr>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"showonscreen::topicactions"}%<tr>
  <th>%MAKETEXT{"Topic actions"}%<input type='hidden' name='Default+DISPLAYTOPICACTIONS' value='undefined' /></th>
  <td>
    <label><input type="radio" class="foswikiRadioButton" name="Local+DISPLAYTOPICACTIONS" value='undefined' %IF{"preferences[name='DISPLAYTOPICACTIONS'].value=''" then="checked"}%/>%MAKETEXT{"default"}%</label>
  </td>
  <td>
    <label><input type="radio" class="foswikiRadioButton" name="Local+DISPLAYTOPICACTIONS" value='on' %IF{"preferences[name='DISPLAYTOPICACTIONS'].value='on'" then="checked"}% />%MAKETEXT{"on"}%</label>
  </td>
  <td>
    <label><input type='radio' class="foswikiRadioButton" name='Local+DISPLAYTOPICACTIONS' value='off' %IF{"preferences[name='DISPLAYTOPICACTIONS'].value='off'" then="checked"}% />%MAKETEXT{"off"}%</label>
  </td>
</tr>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"showonscreen::revinfo"}%<tr>
  <th>%MAKETEXT{"Revision information"}%<input type='hidden' name='Default+DISPLAYREVISIONINFO' value="undefined" /></th>
  <td>
    <label><input type="radio" class="foswikiRadioButton" name="Local+DISPLAYREVISIONINFO" value="undefined" %IF{"preferences[name='DISPLAYREVISIONINFO'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
  </td>
  <td>
    <label><input type="radio" class="foswikiRadioButton" name="Local+DISPLAYREVISIONINFO" value="on" %IF{"preferences[name='DISPLAYREVISIONINFO'].value='on'" then="checked"}% />%MAKETEXT{"on"}%</label>
  </td>
  <td>
    <label><input type='radio' class="foswikiRadioButton" name='Local+DISPLAYREVISIONINFO' value="off" %IF{"preferences[name='DISPLAYREVISIONINFO'].value='off'" then="checked"}% />%MAKETEXT{"off"}%</label>
  </td>
</tr>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"showonscreen::breadcrumbs"}%<tr>
  <th>%MAKETEXT{"Breadcrumbs navigation"}%<input type='hidden' name='Default+DISPLAYBREADCRUMBS' value="undefined" /></th>
  <td>
    <label><input type="radio" class="foswikiRadioButton" name="Local+DISPLAYBREADCRUMBS" value="undefined" %IF{"preferences[name='DISPLAYBREADCRUMBS'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
  </td>
  <td>
    <label><input type="radio" class="foswikiRadioButton" name="Local+DISPLAYBREADCRUMBS" value="on" %IF{"preferences[name='DISPLAYBREADCRUMBS'].value='on'" then="checked"}% />%MAKETEXT{"on"}%</label>
  </td>
  <td>
    <label><input type='radio' class="foswikiRadioButton" name='Local+DISPLAYBREADCRUMBS' value="off" %IF{"preferences[name='DISPLAYBREADCRUMBS'].value='off'" then="checked"}% />%MAKETEXT{"off"}%</label>
  </td>
</tr>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"commentsettings"}%%TMPL:P{
  "comment::system::%COMMENTSYSTEM{default="metacomment"}%::settings"
}%%ADDTOZONE{"script" requires="JQUERYPLUGIN::FOSWIKI" id="NATSKIN::EDIT" text="<script type='text/javascript' src='%PUBURLPATH%/%SYSTEMWEB%/NatSkin/edit.js'></script>"}%
<!-- -->%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"comment::system::metacomment::settings"}%
<div id="cmtPreferences" %IF{"isempty 'DISPLAYCOMMENTS' or $'DISPLAYCOMMENTS'='off'" then="style='display:none'"}%>
<h2>%MAKETEXT{"Comment settings"}%</h2>
<div class="foswikiFormSteps">
  <div class="foswikiFormStep">
    <input type='hidden' name='Default+COMMENTFORMAT' value="undefined" />
    <input type='hidden' name='Default+COMMENTSTATE' value="undefined" />
    <input type='hidden' name='Default+COMMENTMODERATION' value="undefined" />
    <input type='hidden' name='Default+COMMENTVOTING' value="undefined" />
    <table class="foswikiLayoutTable">
      <tr>
        <th>%MAKETEXT{"Format"}%</th>
        <td colspan="4">
          <select name="Local+COMMENTFORMAT" class="foswikiSelect">
            <option value="undefined">%MAKETEXT{"default"}%</option>
            %FORMATLIST{"%TMPL:P{"comments::formats"}%"
              sort="on"
              unique="on"
              pattern="(.*)=(.*)"
              split="\s*,\s*"
              separator="$n"
              format="<option value='$1' $percntIF{\"preferences[name='COMMENTFORMAT'].value='$1'\" then=\"selected\"}$percnt>$2</option>"
            }%
          </select>
        </td>
      </tr>
      <tr>
        <th>%MAKETEXT{"State"}%</th>
        <td>
          <label><input type="radio" class="foswikiRadioButton" name="Local+COMMENTSTATE" value="undefined" %IF{"preferences[name='COMMENTSTATE'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
        </td>
        <td>
          <label><input type="radio" class="foswikiRadioButton" name="Local+COMMENTSTATE" value="open" %IF{"preferences[name='COMMENTSTATE'].value='open'" then="checked"}% />%MAKETEXT{"open"}%</label>
        </td>
        <td>
          <label><input type="radio" class="foswikiRadioButton" name="Local+COMMENTSTATE" value="closed" %IF{"preferences[name='COMMENTSTATE'].value='closed'" then="checked"}% />%MAKETEXT{"closed"}%</label>
        </td>
      </tr>
      <tr>
        <th>%MAKETEXT{"Moderation"}%</th>
        <td>
          <label><input type="radio" class="foswikiRadioButton" name="Local+COMMENTMODERATION" value="undefined" %IF{"preferences[name='COMMENTMODERATION'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
        </td>
        <td>
          <label><input type="radio" class="foswikiRadioButton" name="Local+COMMENTMODERATION" value="on" %IF{"preferences[name='COMMENTMODERATION'].value='on'" then="checked"}% />%MAKETEXT{"on"}%</label>
        </td>
        <td>
          <label><input type="radio" class="foswikiRadioButton" name="Local+COMMENTMODERATION" value="off" %IF{"preferences[name='COMMENTMODERATION'].value='off'" then="checked"}% />%MAKETEXT{"off"}%</label>
        </td>
      </tr>
      <tr %IF{"not context LikePluginEnabled" then="style='display:none'"}%>
        <th>%MAKETEXT{"Voting"}%</th>
        <td>
          <label><input type="radio" class="foswikiRadioButton" name="Local+COMMENTVOTING" value="undefined" %IF{"preferences[name='COMMENTVOTING'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
        </td>
        <td>
          <label><input type="radio" class="foswikiRadioButton" name="Local+COMMENTVOTING" value="on" %IF{"preferences[name='COMMENTVOTING'].value='on'" then="checked"}% />%MAKETEXT{"on"}%</label>
        </td>
        <td>
          <label><input type="radio" class="foswikiRadioButton" name="Local+COMMENTVOTING" value="off" %IF{"preferences[name='COMMENTVOTING'].value='off'" then="checked"}% />%MAKETEXT{"off"}%</label>
        </td>
      </tr>
    </table>
  </div>
</div>
</div>%TMPL:END%
