%TMPL:INCLUDE{"edit"}% <!-- edittext.nat.tmpl -->
%TMPL:DEF{"titleaction"}%%MAKETEXT{"edit text"}%%TMPL:END%
%TMPL:DEF{"contenttitle"}%<h1 class='natEditTitle'>[[%WEB%.%TOPIC%]] (%MAKETEXT{"edit text"}%)</h1>%TMPL:END%
%TMPL:DEF{"formfields"}%%TMPL:END%
