%TMPL:INCLUDE{"page"}%%{}%
%TMPL:INCLUDE{"edittoolbar.natedit"}%%{}%
%TMPL:INCLUDE{"metacomments"}%%{}%

%TMPL:DEF{"defaultbody"}%<div class="natBodyContents" id="PageTop">%TMPL:P{"content"}%</div>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"useractions"}%%TMPL:END%
%TMPL:DEF{"topbar"}%%TMPL:END%
%TMPL:DEF{"webbuttons"}%%TMPL:END%
%TMPL:DEF{"sidebar"}%%TMPL:END%
%TMPL:DEF{"bodyclass"}%natEditBody%TMPL:END%
%TMPL:DEF{"titleaction"}%%IF{"defined 'rev'" then="%MAKETEXT{"Restore"}%" else="%MAKETEXT{"Edit"}%"}%%TMPL:END%
%TMPL:DEF{"contentheader"}%%TMPL:END%

%TMPL:DEF{"formparameters"}%<input type="hidden" name="action" value="%URLPARAM{"action"}%" />
<input type="hidden" name="cmd" value="%CMD%" />
<input type="hidden" name="cover" value="%URLPARAM{"cover"}%" />
<input type="hidden" name="formtemplate" value="%FORMTEMPLATE%" />
<input type="hidden" name="newtopic" value="%NEWTOPIC%" />
<input type="hidden" name="nowysiwyg" value="%URLPARAM{"nowysiwyg"}%" />
<input type="hidden" name="originalrev" value="%ORIGINALREV%" />
<input type="hidden" name="redirectto" value="%REDIRECTTO%" />
<input type="hidden" name="rev" value="%URLPARAM{"rev"}%" />
<input type="hidden" name="skin" value="%URLPARAM{"skin"}%" />
<input type="hidden" name="templatetopic" value="%TEMPLATETOPIC%" />
<input type="hidden" name="template" value="%URLPARAM{"template"}%" />
%IF{"not istopic '%WEB%.%TOPIC%' and $'URLPARAM{templatetopic}'!=''"
  then="<input type='hidden' name='Local+CREATED_WITH_TEMPLATETOPIC' value='%URLPARAM{"templatetopic"}%' />"
}%%FORMATLIST{
  "%URLPARAM{"Unset" multiple="on" separator=", "}%"
  format="<input type='hidden' name='Unset+$1' value='undefined' />"
  separator="$n"
}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"supportedlanguages::default"}%
  %MAKETEXT{"Bulgarian"}%=bg;
  %MAKETEXT{"Chinese"}%=cjk;
  %MAKETEXT{"Czech"}%=cs;
  %MAKETEXT{"Danish"}%=da;
  %MAKETEXT{"Dutch"}%=nl;
  %MAKETEXT{"English"}%=en;
  %MAKETEXT{"Finnish"}%=fi;
  %MAKETEXT{"French"}%=fr;
  %MAKETEXT{"German"}%=de;
  %MAKETEXT{"Italian"}%=it;
  %MAKETEXT{"Japanese"}%=cjk;
  %MAKETEXT{"Korean"}%=cjk;
  %MAKETEXT{"Modern Greek"}%=el;
  %MAKETEXT{"Norwegian"}%=no
  %MAKETEXT{"Polish"}%=pl;
  %MAKETEXT{"Portuguese"}%=pt;
  %MAKETEXT{"Russian"}%=ru;
  %MAKETEXT{"Spanish"}%=es;
  %MAKETEXT{"Swedish"}%=sv;
  %MAKETEXT{"Turkish"}%=tr;
  %MAKETEXT{"Ukrainian"}%=uk;
%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"supportedlanguages::multiling"}%
%LANGUAGES{format="$label$percntIF{\"'$label'!='$name'\" then=\" - $name\"}$percnt=$code" separator=";" sort="label"}%
%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"settingstab"}%%TAB{"%MAKETEXT{"Settings"}%" id="settings"}%<noautolink>%TMPL:P{"settings"}%</noautolink>%ENDTAB%%TMPL:END%
%TMPL:DEF{"settings"}%%TMPL:P{"topicsettings"}%%TMPL:P{"editsettings"}%%TMPL:P{"skinsettings"}%%TMPL:P{"displaysettings"}%%TMPL:P{"commentsettings"}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"topicsettings"}%%TMPL:P{"topicsettings::title"}%
<div class="foswikiFormSteps">
  <div class="foswikiFormStep">
    <table class="foswikiLayoutTable">
      %TMPL:P{"topicsettings::parenttopic" topicparent="%TOPICPARENT%"}%
      %TMPL:P{"topicsettings::contentlanguage"}%
      %TMPL:P{"topicsettings::caching"}%
    </table>
  </div>
</div>%TMPL:END%

%TMPL:DEF{"topicsettings::title"}%<h2 >%MAKETEXT{"Topic settings"}%</h2>%TMPL:END%

%TMPL:DEF{"topicsettings::parenttopic"}%<tr>
  <th>%MAKETEXT{"Parent topic"}%</th>
  <td>
    <input class="foswikiInputField jqUIAutocomplete" autocomplete="%SCRIPTURL{"view" topic="%SYSTEMWEB%.JQueryAjaxHelper" section="topic" contenttype="application/json" skin="text" baseweb="%BASEWEB%"}%" type="text" name="topicparent" id="topicparent" size="40" value="%topicparent%"  />
  </td>
</tr>%TMPL:END%

%TMPL:DEF{"topicsettings::contentlanguage"}%<tr>
  <th>%MAKETEXT{"Content language"}%</th>
  <td>
    <input type='hidden' name='Default+CONTENT_LANGUAGE' value='undefined' />
    <select name="Local+CONTENT_LANGUAGE" class="jqSelect2" data-width="23em">
      <option value="undefined">%MAKETEXT{"default"}%</option>
      %FORMATLIST{
        "%TMPL:P{context="MultiLingualPluginEnabled" then="supportedlanguages::multiling" else="supportedlanguages::default"}%"
        split="\s*;\s*"
        pattern="(.*)=(.*)"
        separator="$n"
        format="<option value='$2' $percntIF{\"preferences[name='CONTENT_LANGUAGE'].value='$2'\" then=\"selected\"}$percnt>$1</option>"
      }%
    </select>
  </td>
</tr>%TMPL:END%

%TMPL:DEF{"topicsettings::caching"}%<tr>
  <th>%MAKETEXT{"Page Caching"}%<input type='hidden' name='Default+CACHEABLE' value='undefined' /></th>
  <td>
    <label><input type='radio' class='foswikiRadioButton' name='Local+CACHEABLE' value='undefined' %IF{"preferences[name='CACHEABLE'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
    <label><input type='radio' class='foswikiRadioButton' name='Local+CACHEABLE' value='on' %IF{"preferences[name='CACHEABLE'].value='on'" then="checked"}% />%MAKETEXT{"on"}%</label>
    <label><input type='radio' class='foswikiRadioButton' name='Local+CACHEABLE' value='off' %IF{"preferences[name='CACHEABLE'].value='off'" then="checked"}% />%MAKETEXT{"off"}%</label>
  </td>
</tr>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"editsettings"}%<h2 >%MAKETEXT{"Editor settings"}%</h2>
<div class="foswikiFormSteps">
  <div class="foswikiFormStep">
    <table class="foswikiLayoutTable">
%TMPL:P{"editsettings::wysiwyg"}%
    </table>
  </div>
</div>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"editsettings::wysiwyg"}%<tr>
  <th>%MAKETEXT{"Wysiwyg"}%<input type='hidden' name='Default+NOWYSIWYG' value='undefined' /></th>
  <td>
    <label><input type='radio' class='foswikiRadioButton' name='%TMPL:P{"editsettings::wysiwyg::var"}%' value='undefined' %IF{"preferences[name='NOWYSIWYG'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
    <label><input type='radio' class='foswikiRadioButton' name='%TMPL:P{"editsettings::wysiwyg::var"}%' value='off' %IF{"preferences[name='NOWYSIWYG'].value='off'" then="checked"}% />%MAKETEXT{"on"}%</label>
    <label><input type='radio' class='foswikiRadioButton' name='%TMPL:P{"editsettings::wysiwyg::var"}%' value='on' %IF{"preferences[name='NOWYSIWYG'].value='on'" then="checked"}% />%MAKETEXT{"off"}%</label>
  </td>
</tr>%TMPL:END%
%TMPL:DEF{"editsettings::wysiwyg::var"}%%IF{
  "preferences[name='NOWYSIWYG']" 
  then="%QUERY{"preferences[name='NOWYSIWYG'].type"}%" 
  else="%IF{
    "'%WEB%.%TOPIC%'='%USERSWEB%.%WIKINAME%'" 
    then="Set" 
    else="Local" 
  }%"
}%+NOWYSIWYG%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"displaysettings"}%<h2 >%MAKETEXT{"Display settings"}%</h2>
<div class="foswikiFormSteps">
  <div class="foswikiFormStep">
    <table class="foswikiLayoutTable">
%TMPL:P{"showonscreen::sidebar"}%%{}%
%TMPL:P{context="TableOfContentsPluginEnabled" then="showonscreen::toc"}%%{}%
%TMPL:P{"showonscreen::menu"}%%{}%
%TMPL:P{"showonscreen::topbar"}%%{}%
%TMPL:P{"showonscreen::topicactions"}%%{}%
%TMPL:P{"showonscreen::breadcrumbs"}%%{}%
%TMPL:P{"showonscreen::topictitle"}%%{}%
%TMPL:P{"showonscreen::revinfo"}%%{}%
%TMPL:P{"showonscreen::dataform"}%%{}%
%TMPL:P{"showonscreen::attachments"}%%{}%
%TMPL:P{context="ClassificationPluginEnabled" then="showonscreen::pagination"}%%{}%
%TMPL:P{context="MetaCommentPluginEnabled" then="showonscreen::comments"}%%{}%
    </table>
  </div>
</div>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"skinsettings"}%<h2 class="natSkinSettingsTitle">%MAKETEXT{"Skin settings"}%</h2>
<div class="foswikiFormSteps natSkinSettings">
  <div class="foswikiFormStep">
    <table class="foswikiLayoutTable">
      <tr>
        <th>%MAKETEXT{"Style"}%</th>
        <td>
          <input type='hidden' name='Default+NATSKIN_STYLE' value='undefined' />
          <select class="foswikiSelect" id="style" name="Local+NATSKIN_STYLE">
            <option value="undefined">%MAKETEXT{"default"}%</option>
            %FORMATLIST{"%KNOWNSTYLES%" 
              pattern="\s*(.*)\s*" 
              format="<option $percntIF{\"preferences[name='NATSKIN_STYLE'].value = '$1'\" then=\"selected\"}$percnt>$1</option>" 
              separator="$n"
            }%
          </select>
        </td>
      </tr>
      <tr>
        <th>%MAKETEXT{"Variation"}%</th>
        <td>
          <input type='hidden' name='Default+NATSKIN_VARIATION' value='undefined' />
          <select class="foswikiSelect" id="variation" name="Local+NATSKIN_VARIATION"></select>
        </td>
      </tr>
      <tr>
        <th>%MAKETEXT{"Layout"}%</th>
        <td>
          <input type='hidden' name='Default+NATSKIN_LAYOUT' value='undefined' />
          <label><input type="radio" class="foswikiRadioButton" name="Local+NATSKIN_LAYOUT" value="undefined" %IF{"preferences[name='NATSKIN_LAYOUT'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
          <label><input type="radio" class="foswikiRadioButton" name="Local+NATSKIN_LAYOUT" value="fixed" %IF{"preferences[name='NATSKIN_LAYOUT'].value='fixed'" then="checked"}% />%MAKETEXT{"fixed"}%</label>
          <label><input type="radio" class="foswikiRadioButton" name="Local+NATSKIN_LAYOUT" value="fluid" %IF{"preferences[name='NATSKIN_LAYOUT'].value='fluid'" then="checked"}% />%MAKETEXT{"fluid"}%</label>
          <label><input type="radio" class="foswikiRadioButton" name="Local+NATSKIN_LAYOUT" value="bordered" %IF{"preferences[name='NATSKIN_LAYOUT'].value='bordered'" then="checked"}% />%MAKETEXT{"bordered"}%</label>
          <label><input type="radio" class="foswikiRadioButton" name="Local+NATSKIN_LAYOUT" value="fullscreen" %IF{"preferences[name='NATSKIN_LAYOUT'].value='fullscreen'" then="checked"}% />%MAKETEXT{"fullscreen"}%</label>
          <label><input type="radio" class="foswikiRadioButton" name="Local+NATSKIN_LAYOUT" value="sticky" %IF{"preferences[name='NATSKIN_LAYOUT'].value='sticky'" then="checked"}% />%MAKETEXT{"sticky"}%</label>
        </td>
      </tr>
    </table>
  </div>
%ADDTOZONE{"script" id="NATSKIN::VARIATIONS" requires="JQUERYPLUGIN" text="<script class='$zone $id foswikiPreferences' type='text/json'>{
  \"NatSkinEdit\": {
    \"knownVariations\": {%KNOWNVARIATIONS{ 
        format="\\"$style\\": [\\"$variations\\"]" 
        separator=", " 
        varseparator="\\", \\"" 
    }%},
    \"selectedVariation\": \"%QUERY{"preferences[name='NATSKIN_VARIATION'].value"}%\"
  }
}</script>"}%</div>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"showonscreen::menu"}%<tr>
  <th>%MAKETEXT{"Menu"}%<input type='hidden' name='Default+NATSKIN_MENU' value='undefined' /></th>
  <td>
    <label><input type='radio' class='foswikiRadioButton' name='Local+NATSKIN_MENU' value='undefined' %IF{"preferences[name='NATSKIN_MENU'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
  </td>
  <td>
    <label><input type='radio' class='foswikiRadioButton' name='Local+NATSKIN_MENU' value='on' %IF{"preferences[name='NATSKIN_MENU'].value='on'" then="checked"}% />%MAKETEXT{"on"}%</label>
  </td>
  <td>
    <label><input type='radio' class='foswikiRadioButton' name='Local+NATSKIN_MENU' value='off' %IF{"preferences[name='NATSKIN_MENU'].value='off'" then="checked"}% />%MAKETEXT{"off"}%</label>
  </td>
</tr>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"showonscreen::topbar"}%<tr>
  <th>%MAKETEXT{"Top bar"}%<input type='hidden' name='Default+NATSKIN_TOPBAR' value='undefined' /></th>
  <td>
    <label><input type='radio' class='foswikiRadioButton' name='Local+NATSKIN_TOPBAR' value='undefined' %IF{"preferences[name='NATSKIN_TOPBAR'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
  </td>
  <td>
    <label><input type='radio' class='foswikiRadioButton' name='Local+NATSKIN_TOPBAR' value='on' %IF{"preferences[name='NATSKIN_TOPBAR'].value='on'" then="checked"}% />%MAKETEXT{"on"}%</label>
  </td>
  <td>
    <label><input type='radio' class='foswikiRadioButton' name='Local+NATSKIN_TOPBAR' value='off' %IF{"preferences[name='NATSKIN_TOPBAR'].value='off'" then="checked"}% />%MAKETEXT{"off"}%</label>
  </td>
</tr>%TMPL:END%


%{ ################################################################################ }%
%TMPL:DEF{"showonscreen::sidebar"}%<tr>
  <th>%MAKETEXT{"Sidebar"}%<input type='hidden' name='Default+NATSKIN_SIDEBAR' value='undefined' /></th>
  <td>
    <label><input type='radio' class='foswikiRadioButton' name='Local+NATSKIN_SIDEBAR' value='undefined' %IF{"preferences[name='NATSKIN_SIDEBAR'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
  </td>
  <td>
    <label><input type='radio' class='foswikiRadioButton' name='Local+NATSKIN_SIDEBAR' value='on' %IF{"preferences[name='NATSKIN_SIDEBAR'].value='on'" then="checked"}% />%MAKETEXT{"on"}%</label>
  </td>
  <td>
    <label><input type='radio' class='foswikiRadioButton' name='Local+NATSKIN_SIDEBAR' value='left' %IF{"preferences[name='NATSKIN_SIDEBAR'].value='left'" then="checked"}% />%MAKETEXT{"left"}%</label>
  </td>
  <td>
    <label><input type='radio' class='foswikiRadioButton' name='Local+NATSKIN_SIDEBAR' value='right' %IF{"preferences[name='NATSKIN_SIDEBAR'].value='right'" then="checked"}% />%MAKETEXT{"right"}%</label>
  </td>
  <td>
    <label><input type='radio' class='foswikiRadioButton' name='Local+NATSKIN_SIDEBAR' value='both' %IF{"preferences[name='NATSKIN_SIDEBAR'].value='both'" then="checked"}% />%MAKETEXT{"both"}%</label>
  </td>
  <td>
    <label><input type='radio' class='foswikiRadioButton' name='Local+NATSKIN_SIDEBAR' value='off' %IF{"preferences[name='NATSKIN_SIDEBAR'].value='off'" then="checked"}% />%MAKETEXT{"off"}%</label>
  </td>
</tr>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"showonscreen::toc"}%<tr>
  <th>%MAKETEXT{"Table of Contents"}%<input type='hidden' name='Default+DISPLAYTOCINSIDEBAR' value='undefined' /></th>
  <td>
    <label><input type='radio' class='foswikiRadioButton' name='Local+DISPLAYTOCINSIDEBAR' value='undefined' %IF{"preferences[name='DISPLAYTOCINSIDEBAR'].value=''" then="checked"}%  />%MAKETEXT{"default"}%</label>
  </td>
  <td>
    <label><input type='radio' class='foswikiRadioButton' name='Local+DISPLAYTOCINSIDEBAR' value='on' %IF{"preferences[name='DISPLAYTOCINSIDEBAR'].value='on'" then="checked"}% />%MAKETEXT{"on"}%</label>
  </td>
  <td>
    <label><input type='radio' class='foswikiRadioButton' name='Local+DISPLAYTOCINSIDEBAR' value='off' %IF{"preferences[name='DISPLAYTOCINSIDEBAR'].value='off'" then="checked"}% />%MAKETEXT{"off"}%</label>
  </td>
</tr>%TMPL:END%


%{ ################################################################################ }%
%TMPL:DEF{"showonscreen::dataform"}%<tr>
  <th>%MAKETEXT{"Data form"}%<input type='hidden' name='Default+DISPLAYFORM' value='undefined' /></th>
  <td>
    <label><input type='radio' class='foswikiRadioButton' name='Local+DISPLAYFORM' value='undefined' %IF{"preferences[name='DISPLAYFORM'].value=''" then="checked"}%  />%MAKETEXT{"default"}%</label>
  </td>
  <td>
    <label><input type='radio' class='foswikiRadioButton' name='Local+DISPLAYFORM' value='on' %IF{"preferences[name='DISPLAYFORM'].value='on'" then="checked"}% />%MAKETEXT{"on"}%</label>
  </td>
  <td>
    <label><input type='radio' class='foswikiRadioButton' name='Local+DISPLAYFORM' value='off' %IF{"preferences[name='DISPLAYFORM'].value='off'" then="checked"}% />%MAKETEXT{"off"}%</label>
  </td>
</tr>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"showonscreen::attachments"}%<tr>
  <th>%MAKETEXT{"Attachments"}%<input type='hidden' name='Default+DISPLAYATTACHMENTS' value='undefined' /></th>
  <td>
    <label><input type="radio" class="foswikiRadioButton" name="Local+DISPLAYATTACHMENTS" value='undefined' %IF{"preferences[name='DISPLAYATTACHMENTS'].value=''" then="checked"}%/>%MAKETEXT{"default"}%</label>
  </td>
  <td>
    <label><input type="radio" class="foswikiRadioButton" name="Local+DISPLAYATTACHMENTS" value='on' %IF{"preferences[name='DISPLAYATTACHMENTS'].value='on'" then="checked"}% />%MAKETEXT{"on"}%</label>
  </td>
  <td>
    <label><input type='radio' class="foswikiRadioButton" name='Local+DISPLAYATTACHMENTS' value='off' %IF{"preferences[name='DISPLAYATTACHMENTS'].value='off'" then="checked"}% />%MAKETEXT{"off"}%</label>
  </td>
</tr>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"showonscreen::pagination"}%<tr>
  <th>%MAKETEXT{"Pagination"}%<input type='hidden' name='Default+DISPLAYPAGINATION' value='undefined' /></th>
  <td>
    <label><input type="radio" class="foswikiRadioButton" name="Local+DISPLAYPAGINATION" value='undefined' %IF{"preferences[name='DISPLAYPAGINATION'].value=''" then="checked"}%/>%MAKETEXT{"default"}%</label>
  </td>
  <td>
    <label><input type="radio" class="foswikiRadioButton" name="Local+DISPLAYPAGINATION" value='on' %IF{"preferences[name='DISPLAYPAGINATION'].value='on'" then="checked"}% />%MAKETEXT{"on"}%</label>
  </td>
  <td>
    <label><input type='radio' class="foswikiRadioButton" name='Local+DISPLAYPAGINATION' value='off' %IF{"preferences[name='DISPLAYPAGINATION'].value='off'" then="checked"}% />%MAKETEXT{"off"}%</label>
  </td>
</tr>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"showonscreen::comments"}%<tr>
  <th>%MAKETEXT{"Comments"}%<input type='hidden' name='Default+DISPLAYCOMMENTS' value='undefined' /></th>
  <td>
    <label><input type="radio" class="foswikiRadioButton natDisplayComments" name="Local+DISPLAYCOMMENTS" value='undefined' %IF{"preferences[name='DISPLAYCOMMENTS'].value=''" then="checked"}%/>%MAKETEXT{"default"}%</label>
  </td>
  <td>
    <label><input type="radio" class="foswikiRadioButton natDisplayComments" name="Local+DISPLAYCOMMENTS" value='on' %IF{"preferences[name='DISPLAYCOMMENTS'].value='on'" then="checked"}% />%MAKETEXT{"on"}%</label>
  </td>
  <td>
    <label><input type='radio' class="foswikiRadioButton natDisplayComments" name='Local+DISPLAYCOMMENTS' value='off' %IF{"preferences[name='DISPLAYCOMMENTS'].value='off'" then="checked"}% />%MAKETEXT{"off"}%</label>
  </td>
</tr>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"showonscreen::topicactions"}%<tr>
  <th>%MAKETEXT{"Topic actions"}%<input type='hidden' name='Default+DISPLAYTOPICACTIONS' value='undefined' /></th>
  <td>
    <label><input type="radio" class="foswikiRadioButton" name="Local+DISPLAYTOPICACTIONS" value='undefined' %IF{"preferences[name='DISPLAYTOPICACTIONS'].value=''" then="checked"}%/>%MAKETEXT{"default"}%</label>
  </td>
  <td>
    <label><input type="radio" class="foswikiRadioButton" name="Local+DISPLAYTOPICACTIONS" value='on' %IF{"preferences[name='DISPLAYTOPICACTIONS'].value='on'" then="checked"}% />%MAKETEXT{"on"}%</label>
  </td>
  <td>
    <label><input type='radio' class="foswikiRadioButton" name='Local+DISPLAYTOPICACTIONS' value='off' %IF{"preferences[name='DISPLAYTOPICACTIONS'].value='off'" then="checked"}% />%MAKETEXT{"off"}%</label>
  </td>
</tr>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"showonscreen::revinfo"}%<tr>
  <th>%MAKETEXT{"Revision information"}%<input type='hidden' name='Default+DISPLAYREVISIONINFO' value="undefined" /></th>
  <td>
    <label><input type="radio" class="foswikiRadioButton" name="Local+DISPLAYREVISIONINFO" value="undefined" %IF{"preferences[name='DISPLAYREVISIONINFO'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
  </td>
  <td>
    <label><input type="radio" class="foswikiRadioButton" name="Local+DISPLAYREVISIONINFO" value="on" %IF{"preferences[name='DISPLAYREVISIONINFO'].value='on'" then="checked"}% />%MAKETEXT{"on"}%</label>
  </td>
  <td>
    <label><input type='radio' class="foswikiRadioButton" name='Local+DISPLAYREVISIONINFO' value="off" %IF{"preferences[name='DISPLAYREVISIONINFO'].value='off'" then="checked"}% />%MAKETEXT{"off"}%</label>
  </td>
</tr>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"showonscreen::breadcrumbs"}%<tr>
  <th>%MAKETEXT{"Breadcrumbs navigation"}%<input type='hidden' name='Default+DISPLAYBREADCRUMBS' value="undefined" /></th>
  <td>
    <label><input type="radio" class="foswikiRadioButton" name="Local+DISPLAYBREADCRUMBS" value="undefined" %IF{"preferences[name='DISPLAYBREADCRUMBS'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
  </td>
  <td>
    <label><input type="radio" class="foswikiRadioButton" name="Local+DISPLAYBREADCRUMBS" value="on" %IF{"preferences[name='DISPLAYBREADCRUMBS'].value='on'" then="checked"}% />%MAKETEXT{"on"}%</label>
  </td>
  <td>
    <label><input type='radio' class="foswikiRadioButton" name='Local+DISPLAYBREADCRUMBS' value="off" %IF{"preferences[name='DISPLAYBREADCRUMBS'].value='off'" then="checked"}% />%MAKETEXT{"off"}%</label>
  </td>
</tr>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"showonscreen::topictitle"}%<tr>
  <th>%MAKETEXT{"Topic Title"}%<input type='hidden' name='Default+DISPLAYTOPICTITLE' value="undefined" /></th>
  <td>
    <label><input type="radio" class="foswikiRadioButton" name="Local+DISPLAYTOPICTITLE" value="undefined" %IF{"preferences[name='DISPLAYTOPICTITLE'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
  </td>
  <td>
    <label><input type="radio" class="foswikiRadioButton" name="Local+DISPLAYTOPICTITLE" value="on" %IF{"preferences[name='DISPLAYTOPICTITLE'].value='on'" then="checked"}% />%MAKETEXT{"on"}%</label>
  </td>
  <td>
    <label><input type='radio' class="foswikiRadioButton" name='Local+DISPLAYTOPICTITLE' value="off" %IF{"preferences[name='DISPLAYTOPICTITLE'].value='off'" then="checked"}% />%MAKETEXT{"off"}%</label>
  </td>
</tr>%TMPL:END%


%{ ################################################################################ }%
%TMPL:DEF{"commentsettings"}%%TMPL:P{
  "comment::system::%COMMENTSYSTEM{default="metacomment"}%::settings"
}%%ADDTOZONE{"script" requires="JQUERYPLUGIN::FOSWIKI" id="NATSKIN::EDIT" text="<script src='%PUBURLPATH%/%SYSTEMWEB%/NatSkin/build/edit.js'></script>"}%
%{}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"comment::system::metacomment::settings"}%
<div id="cmtPreferences" %IF{"isempty 'DISPLAYCOMMENTS' or $'DISPLAYCOMMENTS'='off'" then="style='display:none'"}%>
<h2 >%MAKETEXT{"Comment settings"}%</h2>
<div class="foswikiFormSteps">
  <div class="foswikiFormStep">
    <input type='hidden' name='Default+COMMENTFORMAT' value="undefined" />
    <input type='hidden' name='Default+COMMENTSTATE' value="undefined" />
    <input type='hidden' name='Default+COMMENTMODERATION' value="undefined" />
    <input type='hidden' name='Default+COMMENTVOTING' value="undefined" />
    <table class="foswikiLayoutTable">
      <tr>
        <th>%MAKETEXT{"State"}%</th>
        <td>
          <label><input type="radio" class="foswikiRadioButton" name="Local+COMMENTSTATE" value="undefined" %IF{"preferences[name='COMMENTSTATE'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
        </td>
        <td>
          <label><input type="radio" class="foswikiRadioButton" name="Local+COMMENTSTATE" value="open" %IF{"preferences[name='COMMENTSTATE'].value='open'" then="checked"}% />%MAKETEXT{"open"}%</label>
        </td>
        <td>
          <label><input type="radio" class="foswikiRadioButton" name="Local+COMMENTSTATE" value="closed" %IF{"preferences[name='COMMENTSTATE'].value='closed'" then="checked"}% />%MAKETEXT{"closed"}%</label>
        </td>
      </tr>
      <tr>
        <th>%MAKETEXT{"Moderation"}%</th>
        <td>
          <label><input type="radio" class="foswikiRadioButton" name="Local+COMMENTMODERATION" value="undefined" %IF{"preferences[name='COMMENTMODERATION'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
        </td>
        <td>
          <label><input type="radio" class="foswikiRadioButton" name="Local+COMMENTMODERATION" value="on" %IF{"preferences[name='COMMENTMODERATION'].value='on'" then="checked"}% />%MAKETEXT{"on"}%</label>
        </td>
        <td>
          <label><input type="radio" class="foswikiRadioButton" name="Local+COMMENTMODERATION" value="off" %IF{"preferences[name='COMMENTMODERATION'].value='off'" then="checked"}% />%MAKETEXT{"off"}%</label>
        </td>
      </tr>
      <tr %IF{"not context LikePluginEnabled" then="style='display:none'"}%>
        <th>%MAKETEXT{"Voting"}%</th>
        <td>
          <label><input type="radio" class="foswikiRadioButton" name="Local+COMMENTVOTING" value="undefined" %IF{"preferences[name='COMMENTVOTING'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
        </td>
        <td>
          <label><input type="radio" class="foswikiRadioButton" name="Local+COMMENTVOTING" value="on" %IF{"preferences[name='COMMENTVOTING'].value='on'" then="checked"}% />%MAKETEXT{"on"}%</label>
        </td>
        <td>
          <label><input type="radio" class="foswikiRadioButton" name="Local+COMMENTVOTING" value="off" %IF{"preferences[name='COMMENTVOTING'].value='off'" then="checked"}% />%MAKETEXT{"off"}%</label>
        </td>
      </tr>
    </table>
  </div>
</div>
</div>%TMPL:END%
