%TMPL:INCLUDE{"edit"}%%{}%
%TMPL:DEF{"title"}%%TOPIC% (%MAKETEXT{"edit form"}%) %TMPL:P{"titlesep"}% %WIKITOOLNAME%%TMPL:END%
%TMPL:DEF{"textarea"}%<div style="display:none"><textarea name="text" rows="10" cols="80">%TEXT%</textarea></div>%TMPL:END%
%TMPL:DEF{"pagetitle"}%[[%WEB%.%TOPIC%][%WEBLINK{format="$web"}%.%TOPIC%]] (%MAKETEXT{"edit form"}%)%TMPL:END%
