%TMPL:INCLUDE{"edit"}%

%TMPL:DEF{"tabs"}%%TMPL:P{"firsttab"}%%TMPL:P{"formfields"}%%TMPL:P{"bannertab"}%%TMPL:P{"settingstab"}%%TMPL:P{"permissionstab"}%%TMPL:P{"helptab"}%%TMPL:END%

%TMPL:DEF{"banner"}%%TMPL:END%
%TMPL:DEF{"bannertab"}%%TAB{"%MAKETEXT{"Banner"}%"}%
%TMPL:P{"bannersettings::start"}%%{}%
%TMPL:P{"bannersettings::mode"}%%{}%
%TMPL:P{"bannersettings::end"}%%{}%
%TMPL:P{"bannersettings::javascript"}%%{}%
%ENDTAB%%TMPL:END%

%TMPL:DEF{"bannersettings::start"}%<div class="foswikiFormSteps natBannerSettingsContainer">
<input type='hidden' name='Default+NATSKIN_BANNERMODE' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERHEIGHT' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERTEXT' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERTOPIC' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERATTACHMENTS' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERATTACHMENTSEXCLUDE' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERSECTION' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERIMAGE' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERVIDEO' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERVIDEOLOOP' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERFOREGROUND' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERAUTOCOLORLIGHTNESS' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERAUTOCOLORSATURATION' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERAUTOCOLORSEED' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERAUTOCOLORHUEFROM' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERAUTOCOLORHUETO' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERCOLOR' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERCOLOR2' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERCSS' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERCSSENABLED' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERGRADIENT' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERGRADIENTDEGREE' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERGRADIENTPOSITION' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERCONTENT' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERTEXTALIGN' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERTEXTEFFECT' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERPALETTE' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERSEED' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERCELLSIZE' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERANIMATIONENABLED' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERPARTICLESENABLED' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERPARALLAXENABLED' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERCONNECTPARTICLES' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERSPEED' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERMAXPARTICLES' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERSIZEVARIATION' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERPARTICLESCOLOR' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERPIXABAYIMAGETYPE' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERPIXABAYVIDEOTYPE' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERPIXABAYCATEGORY' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERPIXABAYEDITORSCHOICE' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERPIXABAYQUERY' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERPIXABAYRANDOM' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERPEXELSQUERY' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERPEXELSRANDOM' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERSLIDESHOWEFFECT' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERSLIDESHOWDELAY' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERSLIDESHOWSPEED' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERSLIDESHOWNAVIGATIONENABLED' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERSLIDESHOWPAGINATION' value='' />
<input type='hidden' name='Default+NATSKIN_BANNERSLIDESHOWDIRECTION' value='' />
%{}%%TMPL:END%

%TMPL:DEF{"bannersettings::javascript"}%%JQREQUIRE{"farbtastic, select2, animate"}%%ADDTOZONE{"script"
  id="TRIANGLIFY"
  requires="JQUERYPLUGIN"
  text="<script src='%PUBURLPATH%/%SYSTEMWEB%/MatterTheme/build/trianglify.js'></script>"
}%%ADDTOZONE{"script"
  id="EDIT::BANNERSETTINGS"
  requires="JQUERYPLUGIN"
  text="<script src='%PUBURLPATH%/%SYSTEMWEB%/MatterTheme/build/bannerSettings.js'></script>"
}%%TMPL:END%
%TMPL:DEF{"bannersettings::end"}%</div>

%TMPL:DEF{"bannersettings::mode"}%<div class="foswikiFormStep">
<table class="foswikiLayoutTable">
%TMPL:P{"bannersettings::mode::list"}%
%TMPL:P{"bannersettings::mode::height"}%
%TMPL:P{"bannersettings::mode::content"}%
%TMPL:P{"bannersettings::mode::color"}%
%TMPL:P{"bannersettings::mode::seed"}%
%TMPL:P{"bannersettings::mode::gradient"}%
%TMPL:P{"bannersettings::mode::gradient::degree"}%
%TMPL:P{"bannersettings::mode::gradient::position"}%
%TMPL:P{"bannersettings::mode::image"}%
%TMPL:P{"bannersettings::mode::cellsize"}%
%TMPL:P{"bannersettings::mode::palette"}%
%TMPL:P{"bannersettings::mode::video"}%
%TMPL:P{"bannersettings::mode::particles"}%
%TMPL:P{context="PixabayPluginEnabled" then="bannersettings::mode::pixabay"}%%{}%
%TMPL:P{context="PexelsPluginEnabled" then="bannersettings::mode::pexels"}%%{}%
%TMPL:P{"bannersettings::mode::slideshow"}%
%TMPL:P{"bannersettings::mode::rawcss"}%
</table>
</div>%TMPL:END%

%TMPL:DEF{"bannersettings::mode::list"}%%{}%
  <tr class="natBannerModeSettings">
    <th>%MAKETEXT{"Banner Mode"}%</th>
    <td>
      <select class="foswikiSelect natSortOptions" name="Local+NATSKIN_BANNERMODE">
        <option value="" %IF{"preferences[name='NATSKIN_BANNERMODE'].value=''" then="selected"}%>%MAKETEXT{"default"}%</option>
        <option value="off" %IF{"preferences[name='NATSKIN_BANNERMODE'].value='off'" then="selected"}%>%MAKETEXT{"off"}%</option>
        <option value="section" %IF{"preferences[name='NATSKIN_BANNERMODE'].value='section'" then="selected"}%>%MAKETEXT{"section"}%</option>
%JQREQUIRE{"autocolor" warn="off"}%%IF{"context AutoColorEnabled"
  then="<option value='autocolor' %IF{"preferences[name='NATSKIN_BANNERMODE'].value='autocolor'" then="selected"}%>%MAKETEXT{"autocolor"}%</option>"
}%<!-- -->
        <option value="monochrome" %IF{"preferences[name='NATSKIN_BANNERMODE'].value='monochrome'" then="selected"}%>%MAKETEXT{"monochrome"}%</option>
        <option value="gradient" %IF{"preferences[name='NATSKIN_BANNERMODE'].value='gradient'" then="selected"}%>%MAKETEXT{"gradient"}%</option>
        <option value="image" %IF{"preferences[name='NATSKIN_BANNERMODE'].value='image'" then="selected"}%>%MAKETEXT{"image"}%</option>
        <option value="video" %IF{"preferences[name='NATSKIN_BANNERMODE'].value='video'" then="selected"}%>%MAKETEXT{"video"}%</option>
        <option value="geopattern" %IF{"preferences[name='NATSKIN_BANNERMODE'].value='geopattern'" then="selected"}%>%MAKETEXT{"geo pattern"}%</option>
        <option value="trianglify" %IF{"preferences[name='NATSKIN_BANNERMODE'].value='trianglify'" then="selected"}%>%MAKETEXT{"trianglify"}%</option>
%JQREQUIRE{"swiper" warn="off"}%%IF{"context SwiperEnabled"
  then="<option value='slideshow' %IF{"preferences[name='NATSKIN_BANNERMODE'].value='slideshow'" then='selected'}%>%MAKETEXT{"slideshow"}%</option>"
}%<!-- -->
%IF{"context PixabayPluginEnabled"
  then="<option value='pixabay_image' %IF{"preferences[name='NATSKIN_BANNERMODE'].value='pixabay_image'" then="selected"}%>%MAKETEXT{"Pixabay Image"}%</option>
        <option value='pixabay_video' %IF{"preferences[name='NATSKIN_BANNERMODE'].value='pixabay_video'" then="selected"}%>%MAKETEXT{"Pixabay Video"}%</option>"
}%%IF{"context PexelsPluginEnabled"
  then="<option value='pexels_image' %IF{"preferences[name='NATSKIN_BANNERMODE'].value='pexels_image'" then="selected"}%>%MAKETEXT{"Pexels Image"}%</option>
        <option value='pexels_video' %IF{"preferences[name='NATSKIN_BANNERMODE'].value='pexels_video'" then="selected"}%>%MAKETEXT{"Pexels Video"}%</option>"
}%    </select>
    </td>
  </tr>
%{}%%TMPL:END%

%TMPL:DEF{"bannersettings::mode::height"}%%{}%
  <tr class="natBannerSettings natBannerHeightSettings show_on_all" style="display:none">
    <th>%MAKETEXT{"Height"}%</th>
    <td>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERHEIGHT' value="" %IF{"preferences[name='NATSKIN_BANNERHEIGHT'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERHEIGHT' value="small" %IF{"preferences[name='NATSKIN_BANNERHEIGHT'].value='small'" then="checked"}% />%MAKETEXT{"Small"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERHEIGHT' value="medium" %IF{"preferences[name='NATSKIN_BANNERHEIGHT'].value='medium'" then="checked"}% />%MAKETEXT{"Medium"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERHEIGHT' value="third" %IF{"preferences[name='NATSKIN_BANNERHEIGHT'].value='third'" then="checked"}% />%MAKETEXT{"Third"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERHEIGHT' value="half" %IF{"preferences[name='NATSKIN_BANNERHEIGHT'].value='half'" then="checked"}% />%MAKETEXT{"Half"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERHEIGHT' value="twothird" %IF{"preferences[name='NATSKIN_BANNERHEIGHT'].value='twothird'" then="checked"}% />%MAKETEXT{"Two Third"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERHEIGHT' value="full" %IF{"preferences[name='NATSKIN_BANNERHEIGHT'].value='full'" then="checked"}% />%MAKETEXT{"Full"}%</label>
    </td>
  </tr>
%{}%%TMPL:END%

%TMPL:DEF{"bannersettings::mode::content"}%%{}%
  <tr class="natBannerSettings natBannerContentToggle show_on_all hide_on_section" style="display:none">
    <th>%MAKETEXT{"Content"}%</th>
    <td>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERCONTENT' value="" %IF{"preferences[name='NATSKIN_BANNERCONTENT'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
      <label class='natBannerSettings show_on_all hide_on_slideshow'><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERCONTENT' value="off" %IF{"preferences[name='NATSKIN_BANNERCONTENT'].value='off'" then="checked"}% />%MAKETEXT{"off"}%</label>
      <label class='natBannerSettings show_on_all hide_on_slideshow'><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERCONTENT' value="title" %IF{"preferences[name='NATSKIN_BANNERCONTENT'].value='title'" then="checked"}% />%MAKETEXT{"Title"}%</label>
      <label class='natBannerSettings show_on_all hide_on_slideshow'><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERCONTENT' value="text" %IF{"preferences[name='NATSKIN_BANNERCONTENT'].value='text'" then="checked"}% />%MAKETEXT{"Text"}%</label>
      <label class='natBannerSettings show_on_all'><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERCONTENT' value="topic" %IF{"preferences[name='NATSKIN_BANNERCONTENT'].value='topic'" then="checked"}% />%MAKETEXT{"Topic"}%</label>
      <label class='natBannerSettings show_on_slideshow'><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERCONTENT' value="attachments" %IF{"preferences[name='NATSKIN_BANNERCONTENT'].value='attachments'" then="checked"}% />%MAKETEXT{"Attachments"}%</label>
    </td>
  </tr>
  <tr class="natBannerSettings natBannerContentSettings show_on_text hide_on_slideshow hide_on_section" style="display:none">
    <th>%MAKETEXT{"Text"}%</th>
    <td>
      <input type="text" class="foswikiInputField" placeholder="%MAKETEXT{"default"}%" name="Local+NATSKIN_BANNERTEXT" size="80" value="%IF{
      "preferences[name='NATSKIN_BANNERTEXT']"
      then="$percntENCODE{\"$percntNATSKIN_BANNERTEXT$percnt\" type=\"html\"}$percnt"
    }%" />
    </td>
  </tr>
  <tr class="natBannerSettings natBannerContentSettings show_on_topic show_on_section" style="display:none">
    <th>%MAKETEXT{"Topic"}%</th>
    <td>
      %RENDERFOREDIT{
	form="%SYSTEMWEB%.MoreFormfieldsPlugin"
	field="Topic"
	Topic_name="Local+NATSKIN_BANNERTOPIC"
	Topic_value="%QUERY{"preferences[name='NATSKIN_BANNERTOPIC'].value"}%"
	Topic_size="35"
        Topic_values="placeholder=\"%MAKETEXT{"default"}%\""
	format="$edit"
      }%
    </td>
  </tr>
  <tr class="natBannerSettings natBannerContentSettings show_on_topic show_on_section" style="display:none">
    <th>%MAKETEXT{"Section"}%</th>
    <td>
      <input type="text" class="foswikiInputField" placeholder="%MAKETEXT{"default"}%" name="Local+NATSKIN_BANNERSECTION" size="80" value="%QUERY{"preferences[name='NATSKIN_BANNERSECTION'].value"}%" />
    </td>
  </tr>
  <tr class="natBannerSettings natBannerContentSettings show_on_title show_on_text show_on_topic hide_on_slideshow hide_on_section" style="display:none">
    <th>%MAKETEXT{"Text Alignment"}%</th>
    <td>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERTEXTALIGN' value="" %IF{"preferences[name='NATSKIN_BANNERTEXTALIGN'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERTEXTALIGN' value="left" %IF{"preferences[name='NATSKIN_BANNERTEXTALIGN'].value='left'" then="checked"}% />%MAKETEXT{"left"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERTEXTALIGN' value="center" %IF{"preferences[name='NATSKIN_BANNERTEXTALIGN'].value='center'" then="checked"}% />%MAKETEXT{"center"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERTEXTALIGN' value="right" %IF{"preferences[name='NATSKIN_BANNERTEXTALIGN'].value='right'" then="checked"}% />%MAKETEXT{"right"}%</label>
    </td>
  </tr>
  <tr class="natBannerSettings natBannerContentSettings natBannerTextEffects show_on_title show_on_text show_on_topic hide_on_slideshow hide_on_section" style="display:none">
    <th>%MAKETEXT{"Text Effect"}%</th>
    <td>
      <select class="foswikiSelect" name="Local+NATSKIN_BANNERTEXTEFFECT" data-selected="%QUERY{"preferences[name='NATSKIN_BANNERTEXTEFFECT'].value"}%">
        <option value="" %IF{"preferences[name='NATSKIN_BANNERTEXTEFFECT'].value=''" then="selected"}%>%MAKETEXT{"default"}%</option>
        <option value="off" %IF{"preferences[name='NATSKIN_BANNERTEXTEFFECT'].value='off'" then="selected"}%>%MAKETEXT{"off"}%</option>
      </select>
    <td>
  </tr>
  <tr class="natBannerSettings natBannerContentSettings show_on_attachments hide_on_autocolor hide_on_image hide_on_geopattern hide_on_gradient hide_on_monochhrome hide_on_pexels_image hide_on_pexels_video hide_on_pixabay_image hide_on_pixabay_video hide_on_trianglify hide_on_video hide_on_section" style="display:none">
    <th>%MAKETEXT{"Attachments"}%</th>
    <td>
      %RENDERFOREDIT{
        form="%SYSTEMWEB%.MoreFormfieldsPlugin"
        field="Attachment"
        Attachment_name="Local+NATSKIN_BANNERATTACHMENTS"
        Attachment_value="%QUERY{"preferences[name='NATSKIN_BANNERATTACHMENTS'].value"}%"
        Attachment_values="filter=\"%TMPL:P{"image::exts"}%\" placeholder=\"%MAKETEXT{"default"}%\" sortable=\"true\""
        Attachment_size="30"
        Attachment_type="attachment+multi"
	format="$edit"
      }%
    </td>
  </tr>
  <tr class="natBannerSettings natBannerContentSettings show_on_title show_on_text show_on_topic hide_on_section" style="display:none">
    <th>%MAKETEXT{"Parallax Effect"}%</th>
    <td>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERPARALLAXENABLED' value="" %IF{"preferences[name='NATSKIN_BANNERPARALLAXENABLED'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERPARALLAXENABLED' value="on" %IF{"preferences[name='NATSKIN_BANNERPARALLAXENABLED'].value='on'" then="checked"}% />%MAKETEXT{"on"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERPARALLAXENABLED' value="off" %IF{"preferences[name='NATSKIN_BANNERPARALLAXENABLED'].value='off'" then="checked"}% />%MAKETEXT{"off"}%</label>
    </td>
  </tr>
%{}%%TMPL:END%

%TMPL:DEF{"bannersettings::mode::seed"}%%{}%
  <tr class="natBannerSettings natBannerSeed show_on_trianglify show_on_geopattern" style="display:none">
    <th>%MAKETEXT{"Seed"}%</th>
    <td>
      <input type="text" class="foswikiInputField" placeholder="%MAKETEXT{"default"}%" name="Local+NATSKIN_BANNERSEED" size="20" value="%QUERY{"preferences[name='NATSKIN_BANNERSEED'].value"}%" />
    </td>
  </tr>
%{}%%TMPL:END%

%TMPL:DEF{"bannersettings::mode::rawcss"}%%{}%
  <tr class="natBannerSettings show_on_all natBannerCssToggle" style="display:none">
    <th>%MAKETEXT{"Raw CSS"}%</th>
    <td>
      <label><input type="radio" class="foswikiRadioButton" name="Local+NATSKIN_BANNERCSSENABLED" value="" %IF{"preferences[name='NATSKIN_BANNERCSSENABLED'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name="Local+NATSKIN_BANNERCSSENABLED" value="on" %IF{"preferences[name='NATSKIN_BANNERCSSENABLED'].value='on'" then="checked"}% />%MAKETEXT{"on"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name="Local+NATSKIN_BANNERCSSENABLED" value="off" %IF{"preferences[name='NATSKIN_BANNERCSSENABLED'].value='off'" then="checked"}% />%MAKETEXT{"off"}%</label>
<textarea class="foswikiTextArea foswikiFullWidth natBannerCssSettings" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="%TMPL:P{"textarea::spellcheck"}%" placeholder="%MAKETEXT{"default"}%" name="Local+NATSKIN_BANNERCSS" rows="15" cols="80">%ENCODE{"%QUERY{"preferences[name='NATSKIN_BANNERCSS'].value"}%" type="safe"}%</textarea>
      %TMPL:P{"bannersettings::help"}%
    </td>
  </tr>
%{}%%TMPL:END%

%TMPL:DEF{"bannersettings::help"}%%{}%
      <div class='foswikiFormDescription natBannerCssSettings'>
	  %TRANSLATE{"usefull resources to generate nice looking backgrounds:"}%
          %FORMATLIST{"%TMPL:P{"bannersettings::help::sites"}%" separator="&#44; "}%
      </div>
%{}%%TMPL:END%

%TMPL:DEF{"bannersettings::help::sites"}%
[[https://www.gradientmagic.com][GradientMagic]],
[[https://cssgradient.io/][CSS Gradient IO]],
[[https://webkul.github.io/coolhue/][ColorHue]],
[[https://www.grabient.com/][Grabient]],
[[https://uigradients.com][UI Gradients]],
[[https://www.vanschneider.com/colors][Color Claim]]
%TMPL:END%

%TMPL:DEF{"bannersettings::mode::color"}%%{}%
  <tr class="natBannerSettings show_on_all hide_on_autocolor hide_on_rawcss" style="display:none">
    <th>%MAKETEXT{"Foreground Color"}%</th>
    <td>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERFOREGROUND' value="" %IF{"preferences[name='NATSKIN_BANNERFOREGROUND'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERFOREGROUND' value="light" %IF{"preferences[name='NATSKIN_BANNERFOREGROUND'].value='light'" then="checked"}% />%MAKETEXT{"light"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERFOREGROUND' value="dark" %IF{"preferences[name='NATSKIN_BANNERFOREGROUND'].value='dark'" then="checked"}% />%MAKETEXT{"dark"}%</label>
    </td>
  </tr>
  <tr class="natBannerSettings show_on_all hide_on_autocolor hide_on_rawcss" style="display:none">
    <th>%MAKETEXT{"Background Color"}%</th>
    <td>
      <input type="text" class="foswikiInputField jqFarbtastic" placeholder="%MAKETEXT{"default"}%" name="Local+NATSKIN_BANNERCOLOR" size="20" value="%QUERY{"preferences[name='NATSKIN_BANNERCOLOR'].value"}%" />
    </td>
  </tr>
  <tr class="natBannerSettings show_on_gradient" style="display:none">
    <th>%MAKETEXT{"Background Color"}% 2</th>
    <td>
      <input type="text" class="foswikiInputField jqFarbtastic" placeholder="%MAKETEXT{"default"}%" name="Local+NATSKIN_BANNERCOLOR2" size="20" value="%QUERY{"preferences[name='NATSKIN_BANNERCOLOR2'].value"}%" />
    </td>
  </tr>
  <tr class="natBannerSettings show_on_autocolor" style="display:none">
    <th>%MAKETEXT{"Autocolor Hue"}%</th>
    <td>
      <input type="text" class="foswikiInputField" placeholder="%MAKETEXT{"default"}%" name="Local+NATSKIN_BANNERAUTOCOLORHUEFROM" size="3" value="%QUERY{"preferences[name='NATSKIN_BANNERAUTOCOLORHUEFROM'].value"}%" />
      -
      <input type="text" class="foswikiInputField" placeholder="%MAKETEXT{"default"}%" name="Local+NATSKIN_BANNERAUTOCOLORHUETO" size="3" value="%QUERY{"preferences[name='NATSKIN_BANNERAUTOCOLORHUETO'].value"}%" />
    </td>
  </tr>
  <tr class="natBannerSettings show_on_autocolor" style="display:none">
    <th>%MAKETEXT{"Autocolor Saturation"}%</th>
    <td>
      <input type="text" class="foswikiInputField" placeholder="%MAKETEXT{"default"}%" name="Local+NATSKIN_BANNERAUTOCOLORSATURATION" size="20" value="%QUERY{"preferences[name='NATSKIN_BANNERAUTOCOLORSATURATION'].value"}%" />
    </td>
  </tr>
  <tr class="natBannerSettings show_on_autocolor" style="display:none">
    <th>%MAKETEXT{"Autocolor Lightness"}%</th>
    <td>
      <input type="text" class="foswikiInputField" placeholder="%MAKETEXT{"default"}%" name="Local+NATSKIN_BANNERAUTOCOLORLIGHTNESS" size="20" value="%QUERY{"preferences[name='NATSKIN_BANNERAUTOCOLORLIGHTNESS'].value"}%" />
    </td>
  </tr>
  <tr class="natBannerSettings show_on_autocolor" style="display:none">
    <th>%MAKETEXT{"Autocolor Seed"}%</th>
    <td>
      <input type="text" class="foswikiInputField" placeholder="%MAKETEXT{"default"}%" name="Local+NATSKIN_BANNERAUTOCOLORSEED" size="20" value="%QUERY{"preferences[name='NATSKIN_BANNERAUTOCOLORSEED'].value"}%" />
    </td>
  </tr>
%{}%%TMPL:END%

%TMPL:DEF{"bannersettings::mode::gradient"}%%{}%
  <tr class="natBannerSettings natBannerGradientTypeToggle show_on_gradient" style="display:none">
    <th>%MAKETEXT{"Gradient Style"}%</th>
    <td>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERGRADIENT' value="" %IF{"preferences[name='NATSKIN_BANNERGRADIENT'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERGRADIENT' value="radial" %IF{"preferences[name='NATSKIN_BANNERGRADIENT'].value='radial'" then="checked"}% />%MAKETEXT{"radial"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERGRADIENT' value="linear" %IF{"preferences[name='NATSKIN_BANNERGRADIENT'].value='linear'" then="checked"}% />%MAKETEXT{"linear"}%</label>
    </td>
  </tr>
%{}%%TMPL:END%

%TMPL:DEF{"bannersettings::mode::gradient::degree"}%%{}%
  <tr class="natBannerSettings natBannerGradientDegree show_on_gradient" style="display:none">
    <th>%MAKETEXT{"Gradient Degree"}%</th>
    <td>
      <input type="text" class="foswikiInputField" placeholder="%MAKETEXT{"default"}%" name="Local+NATSKIN_BANNERGRADIENTDEGREE" size="5" value="%ENCODE{"%QUERY{"preferences[name='NATSKIN_BANNERGRADIENTDEGREE'].value"}%" type="safe"}%" />
    </td>
  </tr>
%{}%%TMPL:END%

%TMPL:DEF{"bannersettings::mode::gradient::position"}%%{}%
  <tr class="natBannerSettings natBannerGradientPosition show_on_gradient" style="display:none">
    <th>%MAKETEXT{"Gradient Position"}%</th>
    <td>
      <input type="text" class="foswikiInputField" placeholder="%MAKETEXT{"default"}%" name="Local+NATSKIN_BANNERGRADIENTPOSITION" size="5" value="%ENCODE{"%QUERY{"preferences[name='NATSKIN_BANNERGRADIENTPOSITION'].value"}%" type="safe"}%" />
    </td>
  </tr>
%{}%%TMPL:END%

%TMPL:DEF{"bannersettings::mode::cellsize"}%%{}%
  <tr class="natBannerSettings show_on_trianglify" style="display:none">
    <th>%MAKETEXT{"Cell Size"}%</th>
    <td>
      <input type="text" class="foswikiInputField" placeholder="%MAKETEXT{"default"}%" name="Local+NATSKIN_BANNERCELLSIZE" size="20" value="%QUERY{"preferences[name='NATSKIN_BANNERCELLSIZE'].value"}%" />
    </td>
  </tr>
%{}%%TMPL:END%

%TMPL:DEF{"bannersettings::mode::palette"}%%{}%
  <tr class="natBannerSettings natBannerPaletteToggle show_on_trianglify" style="display:none">
    <th>%MAKETEXT{"Colors"}%</th>
    <td>
      <input type="hidden" name="Local+NATSKIN_BANNERPALETTE" value="" />
      <label><input type="radio" class="foswikiRadioButton" name="paletteToggle" value="" %IF{"preferences[name='NATSKIN_BANNERPALETTE'].value=''" then="checked"}% />%MAKETEXT{"automatic"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name="paletteToggle" value="on" %IF{"preferences[name='NATSKIN_BANNERPALETTE'].value!=''" then="checked"}% />%MAKETEXT{"palette"}%</label>
      <div class='jqTrianglifyPaletteSelector clearfix' data-selected="%QUERY{"preferences[name='NATSKIN_BANNERPALETTE'].value"}%" style="display:none">
        <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERPALETTE' value="" /><span class='swatch clearfix'></span></label>
      </div>
    </td>
  </tr>
%{}%%TMPL:END%

%TMPL:DEF{"bannersettings::mode::image"}%%{}%
  <tr class="natBannerSettings show_on_image" style="display:none">
    <th>%MAKETEXT{"Image"}%</th>
    <td>
      %RENDERFOREDIT{
        form="%SYSTEMWEB%.MoreFormfieldsPlugin"
        field="Attachment"
        topic="%QUERY{"preferences[name='NATSKIN_BANNERTOPIC'].value"}%"
        Attachment_name="Local+NATSKIN_BANNERIMAGE"
        Attachment_value="%QUERY{"preferences[name='NATSKIN_BANNERIMAGE'].value"}%"
        Attachment_values="filter=\"%TMPL:P{"image::exts"}%\" placeholder=\"%MAKETEXT{"default"}%\" sortable=\"true\""
        Attachment_size="30"
	format="$edit"
      }%
    </td>
  </tr>
  <tr class="natBannerSettings show_on_image show_on_pixabay_image show_on_pexels_image show_on_slideshow" style="display:none">
    <th>%MAKETEXT{"Kenburns Effect"}%</th>
    <td>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERANIMATIONENABLED' value="" %IF{"preferences[name='NATSKIN_BANNERANIMATIONENABLED'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERANIMATIONENABLED' value="on" %IF{"preferences[name='NATSKIN_BANNERANIMATIONENABLED'].value='on'" then="checked"}% />%MAKETEXT{"on"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERANIMATIONENABLED' value="off" %IF{"preferences[name='NATSKIN_BANNERANIMATIONENABLED'].value='off'" then="checked"}% />%MAKETEXT{"off"}%</label>
    </td>
  </tr>
%{}%%TMPL:END%

%TMPL:DEF{"bannersettings::mode::particles"}%%{}%
  <tr class="natBannerSettings natBannerParticlesToggle show_on_monochrome show_on_rawcss show_on_autocolor show_on_gradient show_on_image" style="display:none">
    <th>%MAKETEXT{"Particles"}%</th>
    <td>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERPARTICLESENABLED' value="" %IF{"preferences[name='NATSKIN_BANNERPARTICLESENABLED'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERPARTICLESENABLED' value="on" %IF{"preferences[name='NATSKIN_BANNERPARTICLESENABLED'].value='on'" then="checked"}% />%MAKETEXT{"on"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERPARTICLESENABLED' value="off" %IF{"preferences[name='NATSKIN_BANNERPARTICLESENABLED'].value='off'" then="checked"}% />%MAKETEXT{"off"}%</label>
    </td>
  </tr>
  <tr class="natBannerSettings natBannerParticlesSettings show_on_monochrome show_on_rawcss show_on_autocolor show_on_gradient show_on_image" style="display:none">
    <th>%MAKETEXT{"Particle Color"}%</th>
    <td>
      <input type="text" class="foswikiInputField jqFarbtastic" placeholder="%MAKETEXT{"default"}%" name="Local+NATSKIN_BANNERPARTICLESCOLOR" size="20" value="%ENCODE{"%QUERY{"preferences[name='NATSKIN_BANNERPARTICLESCOLOR'].value"}%" type="safe"}%" />
    </td>
  </tr>
  <tr class="natBannerSettings natBannerParticlesSettings show_on_monochrome show_on_rawcss show_on_autocolor show_on_gradient show_on_image" style="display:none">
    <th>%MAKETEXT{"Connect Particles"}%</th>
    <td>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERCONNECTPARTICLES' value="" %IF{"preferences[name='NATSKIN_BANNERCONNECTPARTICLES'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERCONNECTPARTICLES' value="true" %IF{"preferences[name='NATSKIN_BANNERCONNECTPARTICLES'].value='true'" then="checked"}% />%MAKETEXT{"on"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERCONNECTPARTICLES' value="false" %IF{"preferences[name='NATSKIN_BANNERCONNECTPARTICLES'].value='false'" then="checked"}% />%MAKETEXT{"off"}%</label>
    </td>
  </tr>
  <tr class="natBannerSettings natBannerParticlesSettings show_on_monochrome show_on_rawcss show_on_autocolor show_on_gradient show_on_image" style="display:none">
    <th>%MAKETEXT{"Animation Speed"}%</th>
    <td>
      <input type="text" class="foswikiInputField" placeholder="%MAKETEXT{"default"}%" name="Local+NATSKIN_BANNERSPEED" size="20" value="%QUERY{"preferences[name='NATSKIN_BANNERSPEED'].value"}%" />
    </td>
  </tr>
  <tr class="natBannerSettings natBannerParticlesSettings show_on_monochrome show_on_rawcss show_on_autocolor show_on_gradient show_on_image" style="display:none">
    <th>%MAKETEXT{"Maximum Particles"}%</th>
    <td>
      <input type="text" class="foswikiInputField" placeholder="%MAKETEXT{"default"}%" name="Local+NATSKIN_BANNERMAXPARTICLES" size="20" value="%QUERY{"preferences[name='NATSKIN_BANNERMAXPARTICLES'].value"}%" />
    </td>
  </tr>
  <tr class="natBannerSettings natBannerParticlesSettings show_on_monochrome show_on_rawcss show_on_autocolor show_on_gradient show_on_image" style="display:none">
    <th>%MAKETEXT{"Size Variation"}%</th>
    <td>
      <input type="text" class="foswikiInputField" placeholder="%MAKETEXT{"default"}%" name="Local+NATSKIN_BANNERSIZEVARIATION" size="20" value="%QUERY{"preferences[name='NATSKIN_BANNERSIZEVARIATION'].value"}%" />
    </td>
  </tr>
%{}%%TMPL:END%

%TMPL:DEF{"bannersettings::mode::video"}%%{}%
  <tr class="natBannerSettings show_on_video" style="display:none">
    <th>%MAKETEXT{"Video"}%</th>
    <td>
      %RENDERFOREDIT{
        form="%SYSTEMWEB%.MoreFormfieldsPlugin"
        field="Attachment"
        Attachment_name="Local+NATSKIN_BANNERVIDEO"
        Attachment_value="%QUERY{"preferences[name='NATSKIN_BANNERVIDEO'].value"}%"
        Attachment_values="filter=\"%TMPL:P{"video::exts"}%\""
        Attachment_size="30"
	format="$edit"
      }%
    </td>
  </tr>
  <tr class="natBannerSettings show_on_video show_on_pixabay_video show_on_pexels_video" style="display:none">
    <th>%MAKETEXT{"Video Loop"}%</th>
    <td>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERVIDEOLOOP' value="" %IF{"preferences[name='NATSKIN_BANNERVIDEOLOOP'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERVIDEOLOOP' value="on" %IF{"preferences[name='NATSKIN_BANNERVIDEOLOOP'].value='on'" then="checked"}% />%MAKETEXT{"on"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERVIDEOLOOP' value="off" %IF{"preferences[name='NATSKIN_BANNERVIDEOLOOP'].value='off'" then="checked"}% />%MAKETEXT{"off"}%</label>
    </td>
  </tr>
%{}%%TMPL:END%

%TMPL:DEF{"bannersettings::mode::pexels"}%%{}%
  <tr class="natBannerSettings show_on_pexels_image show_on_pexels_video" style="display:none">
    <th>%MAKETEXT{"Pexels Search"}%</th>
    <td>
      <input type="text" class="foswikiInputField" placeholder="%MAKETEXT{"default"}%" name="Local+NATSKIN_BANNERPEXELSQUERY" size="20" value="%QUERY{"preferences[name='NATSKIN_BANNERPEXELSQUERY'].value"}%" />
    </td>
  </tr>
  <tr class="natBannerSettings show_on_pexels_image show_on_pexels_video" style="display:none">
    <th>%MAKETEXT{"Pexels Random"}%</th>
    <td>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERPEXELSRANDOM' value="" %IF{"preferences[name='NATSKIN_BANNERPEXELSRANDOM'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERPEXELSRANDOM' value="on" %IF{"preferences[name='NATSKIN_BANNERPEXELSRANDOM'].value='on'" then="checked"}% />%MAKETEXT{"on"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERPEXELSRANDOM' value="off" %IF{"preferences[name='NATSKIN_BANNERPEXELSRANDOM'].value='off'" then="checked"}% />%MAKETEXT{"off"}%</label>
    </td>
  </tr>
%{}%%TMPL:END%

%TMPL:DEF{"bannersettings::mode::pixabay"}%%{}%
  <tr class="natBannerSettings show_on_pixabay_image" style="display:none">
    <th>%MAKETEXT{"Pixabay Type"}%</th>
    <td>
      <select class="foswikiSelect natSortOptions" name="Local+NATSKIN_BANNERPIXABAYIMAGETYPE">
        <option value="" %IF{"preferences[name='NATSKIN_BANNERPIXABAYIMAGETYPE'].value=''" then="selected"}%>%MAKETEXT{"default"}%</option>
        <option value="illustration" %IF{"preferences[name='NATSKIN_BANNERPIXABAYIMAGETYPE'].value='illustration'" then="selected"}%>%MAKETEXT{"illustration"}%</option>
        <option value="photo" %IF{"preferences[name='NATSKIN_BANNERPIXABAYIMAGETYPE'].value='photo'" then="selected"}%>%MAKETEXT{"photo"}%</option>
        <option value="vector" %IF{"preferences[name='NATSKIN_BANNERPIXABAYIMAGETYPE'].value='vector'" then="selected"}%>%MAKETEXT{"vector"}%</option>
      </select>
    </td>
  </tr>
  <tr class="natBannerSettings show_on_pixabay_video" style="display:none">
    <th>%MAKETEXT{"Pixabay Type"}%</th>
    <td>
      <select class="foswikiSelect natSortOptions" name="Local+NATSKIN_BANNERPIXABAYVIDEOTYPE">
        <option value="" %IF{"preferences[name='NATSKIN_BANNERPIXABAYVIDEOTYPE'].value=''" then="selected"}%>%MAKETEXT{"default"}%</option>
        <option value="film" %IF{"preferences[name='NATSKIN_BANNERPIXABAYVIDEOTYPE'].value='film'" then="selected"}%>%MAKETEXT{"film"}%</option>
        <option value="animation" %IF{"preferences[name='NATSKIN_BANNERPIXABAYVIDEOTYPE'].value='animation'" then="selected"}%>%MAKETEXT{"animation"}%</option>
      </select>
    </td>
  </tr>
  <tr class="natBannerSettings show_on_pixabay_image show_on_pixabay_video" style="display:none">
    <th>%MAKETEXT{"Pixabay Category"}%</th>
    <td>
      <select class="foswikiSelect natSortOptions" name="Local+NATSKIN_BANNERPIXABAYCATEGORY">
        <option value="" %IF{"preferences[name='NATSKIN_BANNERPIXABAYCATEGORY'].value=''" then="selected"}%>%MAKETEXT{"default"}%</option>
        <option value="animals" %IF{"preferences[name='NATSKIN_BANNERPIXABAYCATEGORY'].value='animals'" then="selected"}%>%MAKETEXT{"animals"}%</option>
        <option value="backgrounds" %IF{"preferences[name='NATSKIN_BANNERPIXABAYCATEGORY'].value='backgrounds'" then="selected"}%>%MAKETEXT{"backgrounds"}%</option>
        <option value="buildings" %IF{"preferences[name='NATSKIN_BANNERPIXABAYCATEGORY'].value='buildings'" then="selected"}%>%MAKETEXT{"buildings"}%</option>
        <option value="business" %IF{"preferences[name='NATSKIN_BANNERPIXABAYCATEGORY'].value='business'" then="selected"}%>%MAKETEXT{"business"}%</option>
        <option value="computer" %IF{"preferences[name='NATSKIN_BANNERPIXABAYCATEGORY'].value='computer'" then="selected"}%>%MAKETEXT{"computer"}%</option>
        <option value="education" %IF{"preferences[name='NATSKIN_BANNERPIXABAYCATEGORY'].value='education'" then="selected"}%>%MAKETEXT{"education"}%</option>
        <option value="fashion" %IF{"preferences[name='NATSKIN_BANNERPIXABAYCATEGORY'].value='fashion'" then="selected"}%>%MAKETEXT{"fashion"}%</option>
        <option value="feelings" %IF{"preferences[name='NATSKIN_BANNERPIXABAYCATEGORY'].value='feelings'" then="selected"}%>%MAKETEXT{"feelings"}%</option>
        <option value="food" %IF{"preferences[name='NATSKIN_BANNERPIXABAYCATEGORY'].value='food'" then="selected"}%>%MAKETEXT{"food"}%</option>
        <option value="health" %IF{"preferences[name='NATSKIN_BANNERPIXABAYCATEGORY'].value='health'" then="selected"}%>%MAKETEXT{"health"}%</option>
        <option value="industry" %IF{"preferences[name='NATSKIN_BANNERPIXABAYCATEGORY'].value='industry'" then="selected"}%>%MAKETEXT{"industry"}%</option>
        <option value="music" %IF{"preferences[name='NATSKIN_BANNERPIXABAYCATEGORY'].value='music'" then="selected"}%>%MAKETEXT{"music"}%</option>
        <option value="nature" %IF{"preferences[name='NATSKIN_BANNERPIXABAYCATEGORY'].value='nature'" then="selected"}%>%MAKETEXT{"nature"}%</option>
        <option value="people" %IF{"preferences[name='NATSKIN_BANNERPIXABAYCATEGORY'].value='people'" then="selected"}%>%MAKETEXT{"people"}%</option>
        <option value="places" %IF{"preferences[name='NATSKIN_BANNERPIXABAYCATEGORY'].value='places'" then="selected"}%>%MAKETEXT{"places"}%</option>
        <option value="religion" %IF{"preferences[name='NATSKIN_BANNERPIXABAYCATEGORY'].value='religion'" then="selected"}%>%MAKETEXT{"religion"}%</option>
        <option value="science" %IF{"preferences[name='NATSKIN_BANNERPIXABAYCATEGORY'].value='science'" then="selected"}%>%MAKETEXT{"science"}%</option>
        <option value="sports" %IF{"preferences[name='NATSKIN_BANNERPIXABAYCATEGORY'].value='sports'" then="selected"}%>%MAKETEXT{"sports"}%</option>
        <option value="transportation" %IF{"preferences[name='NATSKIN_BANNERPIXABAYCATEGORY'].value='transportation'" then="selected"}%>%MAKETEXT{"transportation"}%</option>
        <option value="travel" %IF{"preferences[name='NATSKIN_BANNERPIXABAYCATEGORY'].value='travel'" then="selected"}%>%MAKETEXT{"travel"}%</option>
      </select>
    </td>
  </tr>
  <tr class="natBannerSettings show_on_pixabay_image show_on_pixabay_video" style="display:none">
    <th>%MAKETEXT{"Pixabay Editor's Choice"}%</th>
    <td>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERPIXABAYEDITORSCHOICE' value="" %IF{"preferences[name='NATSKIN_BANNERPIXABAYEDITORSCHOICE'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERPIXABAYEDITORSCHOICE' value="on" %IF{"preferences[name='NATSKIN_BANNERPIXABAYEDITORSCHOICE'].value='on'" then="checked"}% />%MAKETEXT{"on"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERPIXABAYEDITORSCHOICE' value="off" %IF{"preferences[name='NATSKIN_BANNERPIXABAYEDITORSCHOICE'].value='off'" then="checked"}% />%MAKETEXT{"off"}%</label>
    </td>
  </tr>
  <tr class="natBannerSettings show_on_pixabay_image show_on_pixabay_video" style="display:none">
    <th>%MAKETEXT{"Pixabay Search"}%</th>
    <td>
      <input type="text" class="foswikiInputField" placeholder="%MAKETEXT{"default"}%" name="Local+NATSKIN_BANNERPIXABAYQUERY" size="20" value="%QUERY{"preferences[name='NATSKIN_BANNERPIXABAYQUERY'].value"}%" />
    </td>
  </tr>
  <tr class="natBannerSettings show_on_pixabay_image show_on_pixabay_video" style="display:none">
    <th>%MAKETEXT{"Pixabay Random"}%</th>
    <td>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERPIXABAYRANDOM' value="" %IF{"preferences[name='NATSKIN_BANNERPIXABAYRANDOM'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERPIXABAYRANDOM' value="20" %IF{"preferences[name='NATSKIN_BANNERPIXABAYRANDOM'].value='20'" then="checked"}% />%MAKETEXT{"on"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERPIXABAYRANDOM' value="0" %IF{"preferences[name='NATSKIN_BANNERPIXABAYRANDOM'].value='0'" then="checked"}% />%MAKETEXT{"off"}%</label>
    </td>
  </tr>
%{}%%TMPL:END%

%TMPL:DEF{"bannersettings::mode::slideshow"}%%{}%
  <tr class="natBannerSettings show_on_slideshow" style="display:none">
    <th>%MAKETEXT{"Slideshow Transition"}%</th>
    <td>
      <select class="foswikiSelect" name="Local+NATSKIN_BANNERSLIDESHOWEFFECT">
        <option value="" %IF{"preferences[name='NATSKIN_BANNERSLIDESHOWEFFECT'].value=''" then="selected"}%>%MAKETEXT{"default"}%</option>
        <option value="coverflow" %IF{"preferences[name='NATSKIN_BANNERSLIDESHOWEFFECT'].value='coverflow'" then="selected"}%>%MAKETEXT{"coverflow"}%</option>
        <option value="cube" %IF{"preferences[name='NATSKIN_BANNERSLIDESHOWEFFECT'].value='cube'" then="selected"}%>%MAKETEXT{"cube"}%</option>
        <option value="fade" %IF{"preferences[name='NATSKIN_BANNERSLIDESHOWEFFECT'].value='fade'" then="selected"}%>%MAKETEXT{"fade"}%</option>
        <option value="flip" %IF{"preferences[name='NATSKIN_BANNERSLIDESHOWEFFECT'].value='flip'" then="selected"}%>%MAKETEXT{"flip"}%</option>
        <option value="slide" %IF{"preferences[name='NATSKIN_BANNERSLIDESHOWEFFECT'].value='slide'" then="selected"}%>%MAKETEXT{"slide"}%</option>
      </select>
    </td>
  </tr>
  <tr class="natBannerSettings show_on_slideshow" style="display:none">
    <th>%MAKETEXT{"Slideshow Delay"}%</th>
    <td>
      <input type="text" class="foswikiInputField" placeholder="%MAKETEXT{"default"}%" name="Local+NATSKIN_BANNERSLIDESHOWDELAY" size="20" value="%QUERY{"preferences[name='NATSKIN_BANNERSLIDESHOWDELAY'].value"}%" />
    </td>
  </tr>
  <tr class="natBannerSettings show_on_slideshow" style="display:none">
    <th>%MAKETEXT{"Slideshow Speed"}%</th>
    <td>
      <input type="text" class="foswikiInputField" placeholder="%MAKETEXT{"default"}%" name="Local+NATSKIN_BANNERSLIDESHOWSPEED" size="20" value="%QUERY{"preferences[name='NATSKIN_BANNERSLIDESHOWSPEED'].value"}%" />
    </td>
  </tr>
  <tr class="natBannerSettings show_on_slideshow" style="display:none">
    <th>%MAKETEXT{"Slideshow Navigation"}%</th>
    <td>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERSLIDESHOWNAVIGATIONENABLED' value="" %IF{"preferences[name='NATSKIN_BANNERSLIDESHOWNAVIGATIONENABLED'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERSLIDESHOWNAVIGATIONENABLED' value="on" %IF{"preferences[name='NATSKIN_BANNERSLIDESHOWNAVIGATIONENABLED'].value='on'" then="checked"}% />%MAKETEXT{"on"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERSLIDESHOWNAVIGATIONENABLED' value="off" %IF{"preferences[name='NATSKIN_BANNERSLIDESHOWNAVIGATIONENABLED'].value='off'" then="checked"}% />%MAKETEXT{"off"}%</label>
    </td>
  </tr>
  <tr class="natBannerSettings show_on_slideshow" style="display:none">
    <th>%MAKETEXT{"Slideshow Pagination"}%</th>
    <td>
      <select class="foswikiSelect natSortOptions" name="Local+NATSKIN_BANNERSLIDESHOWPAGINATION">
        <option value="" %IF{"preferences[name='NATSKIN_BANNERSLIDESHOWPAGINATION'].value=''" then="selected"}%>%MAKETEXT{"default"}%</option>
        <option value="bullets" %IF{"preferences[name='NATSKIN_BANNERSLIDESHOWPAGINATION'].value='bullets'" then="selected"}%>%MAKETEXT{"Bullets"}%</option>
        <option value="progressbar" %IF{"preferences[name='NATSKIN_BANNERSLIDESHOWPAGINATION'].value='progressbar'" then="selected"}%>%MAKETEXT{"Progress Bar"}%</option>
        <option value="fraction" %IF{"preferences[name='NATSKIN_BANNERSLIDESHOWPAGINATION'].value='fraction'" then="selected"}%>%MAKETEXT{"Fraction"}%</option>
      </select>
    </td>
  </tr>
  <tr class="natBannerSettings show_on_slideshow" style="display:none">
    <th>%MAKETEXT{"Slideshow Direction"}%</th>
    <td>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERSLIDESHOWDIRECTION' value="" %IF{"preferences[name='NATSKIN_BANNERSLIDESHOWDIRECTION'].value=''" then="checked"}% />%MAKETEXT{"default"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERSLIDESHOWDIRECTION' value="horizontal" %IF{"preferences[name='NATSKIN_BANNERSLIDESHOWDIRECTION'].value='horizontal'" then="checked"}% />%MAKETEXT{"horizontal"}%</label>
      <label><input type="radio" class="foswikiRadioButton" name='Local+NATSKIN_BANNERSLIDESHOWDIRECTION' value="vertical" %IF{"preferences[name='NATSKIN_BANNERSLIDESHOWDIRECTION'].value='vertical'" then="checked"}% />%MAKETEXT{"vertical"}%</label>
    </td>
  </tr>
%{}%%TMPL:END%
