%TMPL:DEF{FORM:display:header}%%IF{"$'DISPLAYFORM'!='off'" then="$percntTMPL:P{\"dataform::tab\"}$percnt" }%%TMPL:END%
%TMPL:DEF{FORM:display:row}%%TMPL:END%
%TMPL:DEF{FORM:display:footer}%%TMPL:END%
