<!-- template: foswiki.nat.tmpl -->
%TMPL:DEF{"LOG_IN"}%%MAKETEXT{"Log In"}%%TMPL:END%
%TMPL:DEF{"LOG_IN_HELP"}%%MAKETEXT{"Log in to [_1]." args="<nop>%WIKITOOLNAME%"}%%TMPL:END%
%TMPL:DEF{"LOG_IN_ACTION"}%<a class="natUserAction natLoginUserAction" rel="nofollow" href="%url%" accesskey="l" title="%TMPL:P{"LOG_IN_HELP"}%"><span>%TMPL:P{"LOG_IN"}%</span></a>%TMPL:END%
%TMPL:DEF{"LOG_IN_ACTION_RESTRICTED"}%<span class="natUserAction natLoginUserAction natDisabledUserAction"><span>%TMPL:P{"LOG_IN"}%</span></span>%TMPL:END%

%TMPL:DEF{"LOG_OUT"}%%MAKETEXT{"Log Out"}%%TMPL:END%
%TMPL:DEF{"LOG_OUT_HELP"}%%MAKETEXT{"Log out [_1]" args="<nop>%WIKINAME%"}%%TMPL:END%
%TMPL:DEF{"LOG_OUT_ACTION"}%<a class="natUserAction natLogoutUserAction" rel="nofollow" href="%url%" accesskey="l" title="%TMPL:P{"LOG_OUT_HELP"}%"><span>%TMPL:P{"LOG_OUT"}%</span></a>%TMPL:END%
%TMPL:DEF{"LOG_OUT_ACTION_RESTRICTED"}%<span class="natUserAction natLogoutUserAction natDisabledUserAction"><span>%TMPL:P{"LOG_OUT"}%</span></span>%TMPL:END%

%TMPL:DEF{"VIEW"}%%MAKETEXT{"View"}%%TMPL:END%
%TMPL:DEF{"VIEW_HELP"}%%MAKETEXT{"View formatted topic"}%%TMPL:END%
%TMPL:DEF{"VIEW_ACTION"}%<a class="natTopicAction natViewTopicAction" rel="nofollow" href="%url%" accesskey="r" title="%TMPL:P{"VIEW_HELP"}%">%JQICON{"eye"}%<span>%TMPL:P{"VIEW"}%</span></a>%TMPL:END%
%TMPL:DEF{"VIEW_ACTION_RESTRICTED"}%<span class="natTopicAction natViewTopicActionDisabled natDisabledTopicAction">%JQICON{"eye"}%<span>%TMPL:P{"VIEW"}%</span></span>%TMPL:END%

%TMPL:DEF{"RAW"}%%MAKETEXT{"Raw"}%%TMPL:END%
%TMPL:DEF{"RAW_HELP"}%%MAKETEXT{"View raw topic text"}%%TMPL:END%
%TMPL:DEF{"RAW_ACTION"}%<a class="natTopicAction natRawTopicAction" rel="nofollow" href="%url%" accesskey="r" title="%TMPL:P{"RAW_HELP"}%">%JQICON{"text_align_left"}%<span>%TMPL:P{"RAW"}%</span></a>%TMPL:END%
%TMPL:DEF{"RAW_ACTION_RESTRICTED"}%<span class="natTopicAction natRawTopicActionDisabled natDisabledTopicAction">%JQICON{"text_align_left"}%<span>%TMPL:P{"RAW"}%</span></span>%TMPL:END%

%TMPL:DEF{"EDIT"}%%MAKETEXT{"Edit"}%%TMPL:END%
%TMPL:DEF{"EDIT_HELP"}%%MAKETEXT{"Edit this topic"}%%TMPL:END%
%TMPL:DEF{"EDIT_ACTION"}%<a class="natTopicAction natEditTopicAction" rel="nofollow" href="%url%" accesskey="e" title="%TMPL:P{"EDIT_HELP"}%">%JQICON{"pencil"}%<span>%TMPL:P{"EDIT"}%</span></a>%TMPL:END%
%TMPL:DEF{"EDIT_ACTION_RESTRICTED"}%<span class="natTopicAction natEditTopicActionDisabled natDisabledTopicAction">%JQICON{"pencil"}%<span>%TMPL:P{"EDIT"}%</span></span>%TMPL:END%

%TMPL:DEF{"EDITFORM"}%%MAKETEXT{"Edit form"}%%TMPL:END%
%TMPL:DEF{"EDITFORM_HELP"}%%MAKETEXT{"Edit data form of this topic"}%%TMPL:END%
%TMPL:DEF{"EDITFORM_ACTION"}%<a class="natTopicAction natEditFormTopicAction" rel="nofollow" href="%url%" accesskey="e" title="%TMPL:P{"EDITFORM_HELP"}%">%JQICON{"application_form_edit"}%<span>%TMPL:P{"EDITFORM"}%</span></a>%TMPL:END%
%TMPL:DEF{"EDITFORM_ACTION_RESTRICTED"}%<span class="natTopicAction natEditFormTopicActionDisabled natDisabledTopicAction">%JQICON{"application_form_edit"}%<span>%TMPL:P{"EDITFORM"}%</span></span>%TMPL:END%

%TMPL:DEF{"EDITTEXT"}%%MAKETEXT{"Edit text"}%%TMPL:END%
%TMPL:DEF{"EDITTEXT_HELP"}%%MAKETEXT{"Edit text data of this topic"}%%TMPL:END%
%TMPL:DEF{"EDITTEXT_ACTION"}%
%TMPL:DEF{"EDITTEXT_ACTION_RESTRICTED"}%<span class="natTopicAction natEditTextTopicActionDisabled natDisabledTopicAction"><span>%TMPL:P{"EDITTEXT"}%</span></span>%TMPL:END%
%TMPL:END%

%TMPL:DEF{"RESTORE"}%%MAKETEXT{"Restore"}%%TMPL:END%
%TMPL:DEF{"RESTORE_HELP"}%%MAKETEXT{"Edit this version of the topic"}%%TMPL:END%
%TMPL:DEF{"RESTORE_ACTION"}%<a class="natTopicAction natRestoreTopicAction" rel="nofollow" href="%url%" accesskey="e" title="%TMPL:P{"RESTORE_HELP"}%">%JQICON{"pencil_go"}%<span>%TMPL:P{"RESTORE"}%</span></a>%TMPL:END%
%TMPL:DEF{"RESTORE_ACTION_RESTRICTED"}%<span class="natTopicAction natRestoreTopicActionDisabled natDisabledTopicAction">%JQICON{"pencil_go"}%<span>%TMPL:P{"RESTORE"}%</span></span>%TMPL:END%

%TMPL:DEF{"ATTACH"}%%MAKETEXT{"Attach"}%%TMPL:END%
%TMPL:DEF{"ATTACH_HELP"}%%MAKETEXT{"Attach files and manage existing attachments"}%%TMPL:END%
%TMPL:DEF{"ATTACH_ACTION"}%%TMPL:P{"ATTACH_ACTION::DEFAULT"}%%TMPL:END%
%TMPL:DEF{"ATTACH_ACTION_RESTRICTED"}%<span class="natTopicAction natAttachTopicActionDisabled natDisabledTopicAction">%JQICON{"attach"}%<span>%TMPL:P{"ATTACH"}%</span></span>%TMPL:END%
%TMPL:DEF{"ATTACH_ACTION::DEFAULT"}%<a class="natTopicAction natAttachTopicAction" rel="nofollow" href="%url%" accesskey="a" title="%TMPL:P{"ATTACH_HELP"}%">%JQICON{"attach"}%<span>%TMPL:P{"ATTACH"}%</span></a>%TMPL:END%
%TMPL:DEF{"ATTACH_ACTION::UPLOADERPLUGN"}%%JQREQUIRE{"simplemodal, uploader"}%<a class="natTopicAction natAttachTopicAction jqSimpleModal {url:'%SCRIPTURL{"rest"}%/RenderPlugin/template?name=uploadplugin;expand=uploaderdialog;topic=%BASEWEB%.%BASETOPIC%'}" rel="nofollow" href="#" accesskey="a" title="%TMPL:P{"ATTACH_HELP"}%">%JQICON{"attach"}%<span>%TMPL:P{"ATTACH"}%</span></a>%TMPL:END%

%TMPL:DEF{"DELETE"}%%MAKETEXT{"Delete"}%%TMPL:END%
%TMPL:DEF{"DELETE_HELP"}%%MAKETEXT{"Delete this topic"}%%TMPL:END%
%TMPL:DEF{"DELETE_ACTION"}%<a class="natTopicAction natDeleteTopicAction" rel="nofollow" href="%url%" accesskey="t" title="%TMPL:P{"DELETE_HELP"}%">%JQICON{"bin"}%<span>%TMPL:P{"DELETE"}%</span></a>%TMPL:END%
%TMPL:DEF{"DELETE_ACTION_RESTRICTED"}%<span class="natTopicAction natDeleteTopicActionDisabled natDisabledTopicAction">%JQICON{"bin"}%<span>%TMPL:P{"DELETE"}%</span></span>%TMPL:END%

%TMPL:DEF{"MOVE"}%%MAKETEXT{"Move"}%%TMPL:END%
%TMPL:DEF{"MOVE_HELP"}%%MAKETEXT{"Move or rename this topic"}%%TMPL:END%
%TMPL:DEF{"MOVE_ACTION"}%<a class="natTopicAction natMoveTopicAction" rel="nofollow" href="%url%" accesskey="m" title="%TMPL:P{"MOVE_HELP"}%">%JQICON{"page_white_go"}%<span>%TMPL:P{"MOVE"}%</span></a>%TMPL:END%
%TMPL:DEF{"MOVE_ACTION_RESTRICTED"}%<span class="natTopicAction natMoveTopicActionDisabled natDisabledTopicAction">%JQICON{"page_white_go"}%<span>%TMPL:P{"MOVE"}%</span></span>%TMPL:END%

%TMPL:DEF{"HISTORY"}%%MAKETEXT{"History"}%%TMPL:END%
%TMPL:DEF{"HISTORY_HELP"}%%MAKETEXT{"View topic history"}%%TMPL:END%
%TMPL:DEF{"HISTORY_ACTION"}%<a class="natTopicAction natHistoryTopicAction" rel="nofollow" href="%url%" accesskey="d" title="%TMPL:P{"HISTORY_HELP"}%">%JQICON{"time"}%<span>%TMPL:P{"HISTORY"}%</span></a>%TMPL:END%
%TMPL:DEF{"HISTORY_ACTION_RESTRICTED"}%<span class="natTopicAction natHistoryTopicActionDisabled natDisabledTopicAction">%JQICON{"time"}%<span>%TMPL:P{"HISTORY"}%</span></span>%TMPL:END%

%TMPL:DEF{"MORE"}%%MAKETEXT{"Tools"}%%TMPL:END%
%TMPL:DEF{"MORE_HELP"}%%MAKETEXT{"More actions"}%%TMPL:END%
%TMPL:DEF{"MORE_ACTION"}%<a class="natTopicAction natMoreTopicAction" rel="nofollow" href="%url%" accesskey="x" title="%TMPL:P{"MORE_HELP"}%">%JQICON{"wrench"}%<span>%TMPL:P{"MORE"}%</span></a>%TMPL:END%
%TMPL:DEF{"MORE_ACTION_RESTRICTED"}%<span class="natTopicAction natMoreTopicActionDisabled natDisabledTopicAction">%JQICON{"wrench"}%<span>%TMPL:P{"MORE"}%</span></span>%TMPL:END%

%TMPL:DEF{"NEW"}%%MAKETEXT{"New"}%%TMPL:END%
%TMPL:DEF{"NEW_HELP"}%%MAKETEXT{"Create New Topic"}%%TMPL:END%
%TMPL:DEF{"NEW_ACTION"}%<a class="natTopicAction natNewTopicAction jqSimpleModal {url: '%SCRIPTURL{"rest"}%/RenderPlugin/template?name=topicnew;expand=dialog;topic=%BASEWEB%.%BASETOPIC%;render=on', persist:true, containerCss: {width:'37.5em'}}" rel="nofollow" href="%url%" accesskey="n" title="%TMPL:P{"NEW_HELP"}%">%JQICON{"page_white_add"}%<span>%TMPL:P{"NEW"}%</span></a>%TMPL:END%
%TMPL:DEF{"NEW_ACTION_RESTRICTED"}%<span class="natTopicAction natNewTopicActionDisabled natDisabledTopicAction">%JQICON{"page_white_add"}%<span>%TMPL:P{"NEW"}%</span></span>%TMPL:END%

%TMPL:DEF{"PRINT"}%%MAKETEXT{"Print"}%%TMPL:END%
%TMPL:DEF{"PRINT_HELP"}%%MAKETEXT{"Print this topic"}%%TMPL:END%
%TMPL:DEF{"PRINT_ACTION"}%<a class="natTopicAction natPrintTopicAction" rel="nofollow" href="%url%" accesskey="p" title="%TMPL:P{"PRINT_HELP"}%">%JQICON{"printer"}%<span>%TMPL:P{"PRINT"}%</span></a>%TMPL:END%
%TMPL:DEF{"PRINT_ACTION_RESTRICTED"}%<span class="natTopicAction natPrintTopicActionDisabled natDisabledTopicAction">%JQICON{"printer"}%<span>%TMPL:P{"PRINT"}%</span></span>%TMPL:END%

%TMPL:DEF{"REGISTER"}%%MAKETEXT{"Register"}%%TMPL:END%
%TMPL:DEF{"REGISTER_HELP"}%%MAKETEXT{"Create a user account on [_1]." args="<nop>%WIKITOOLNAME%"}%%TMPL:END%
%TMPL:DEF{"REGISTER_ACTION"}%<a class="natUserAction natRegisterUserAction" rel="nofollow" href="%url%" accesskey="r" title="%TMPL:P{"REGISTER_HELP"}%"><span>%TMPL:P{"REGISTER"}%</span></a>%TMPL:END%
%TMPL:DEF{"REGISTER_ACTION_RESTRICTED"}%<span class="natUserAction natRegisterUserAction natDisabledUserAction"><span>%TMPL:P{"REGISTER"}%</span></span>%TMPL:END%

%TMPL:DEF{"HELP"}%%MAKETEXT{"Help"}%%TMPL:END%
%TMPL:DEF{"HELP_HELP"}%%MAKETEXT{"Get help"}%"%TMPL:END%
%TMPL:DEF{"HELP_ACTION"}%<a class="natTopicAction natHelpTopicAction" rel="nofollow" href="%url%" title="%TMPL:P{"HELP_HELP"}%">%JQICON{"help"}%<span>%TMPL:P{"HELP"}%</span></a>%TMPL:END%
%TMPL:DEF{"HELP_ACTION_RESTRICTED"}%<span class="natTopicAction natHelpTopicActionDisabled natDisabledTopicAction">%JQICON{"help"}%<span>%TMPL:P{"HELP"}%</span></span>%TMPL:END%

%TMPL:DEF{"PDF"}%%MAKETEXT{"Pdf"}%%TMPL:END%
%TMPL:DEF{"PDF_HELP"}%%MAKETEXT{"Export this topic as PDF"}%%TMPL:END%
%TMPL:DEF{"PDF_ACTION"}%<a class="natTopicAction natPdfTopicAction" rel="nofollow" href="%url%" accesskey="p" title="%TMPL:P{"PDF_HELP"}%">%JQICON{"page_white_acrobat"}%<span>%TMPL:P{"PDF"}%</span></a>%TMPL:END%
%TMPL:DEF{"PDF_ACTION_RESTRICTED"}%<span class="natTopicAction natPdfTopicActionDisabled natDisabledTopicAction">%JQICON{"page_white_acrobat"}%<span>%TMPL:P{"PDF"}%</span></span>%TMPL:END%

%TMPL:DEF{"SUBSCRIBE_HELP"}%%MAKETEXT{"Get notified if this topic changes"}%%TMPL:END%
%TMPL:DEF{"SUBSCRIBE_ACTION"}%%SUBSCRIBE{
  topic="%BASEWEB%.%BASETOPIC%"
  format="<a class='natTopicAction nat$actionTopicAction' rel='nofollow' href='$url' accesskey='s' title='%TMPL:P{"SUBSCRIBE_HELP"}%'>$percntIF{\"'$action'='Subscribe'\" then=\"%JQICON{"emain_add"}%\" else=\"%JQICON{"email_delete"}%\"}$percnt<span>$action</span></a>"
}%%TMPL:END%
%TMPL:DEF{"SUBSCRIBE_ACTION_RESTRICTED"}%<span class="natTopicAction natSubscribeTopicActionDisabled natDisabledTopicAction">%JQICON{"emain_add"}%<span>Subscribe</span></span>%TMPL:END%

%TMPL:DEF{"USERS"}%%MAKETEXT{"Users"}%%TMPL:END%
%TMPL:DEF{"USERS_HELP"}%%MAKETEXT{"See the directory of all registered users"}%%TMPL:END%
%TMPL:DEF{"USERS_ACTION"}%<a class='natUserAction natUsersAction' href='%SCRIPTURLPATH{"view"}%/%USERSWEB%/%WIKIUSERSTOPIC%' title='%TMPL:P{"USERS_HELP"}%'>%TMPL:P{"USERS"}%</a>%TMPL:END%
%TMPL:DEF{"USERS_ACTION_RESTRICTED"}%%TMPL:END%

%TMPL:DEF{"ACCOUNT"}%%SPACEOUT{"%WIKINAME%"}%%TMPL:END%
%TMPL:DEF{"ACCOUNT_HELP"}%%MAKETEXT{"Go to your homepage"}%%TMPL:END%
%TMPL:DEF{"ACCOUNT_ACTION"}%<a class="natUserAction natAccountAction" rel="nofollow" href="%url%" title="%TMPL:P{"ACCOUNT_HELP"}%">%JQICON{"user"}%<span>%TMPL:P{"ACCOUNT"}%</span></a>%TMPL:END%
%TMPL:DEF{"ACCOUNT_ACTION_RESTRICTED"}%<span class="natUserAction natAccountAction natDisabledTopicAction">%JQICON{"user"}%<span>%TMPL:P{"ACCOUNT"}%</span></span>%TMPL:END%

%TMPL:DEF{"FIRST"}%%MAKETEXT{"First"}%%TMPL:END%
%TMPL:DEF{"FIRST_HELP"}%%MAKETEXT{"View first revision of this topic"}%%TMPL:END%
%TMPL:DEF{"FIRST_ACTION"}%<a class="natTopicAction natFirstTopicAction" rel="nofollow" href="%url%" accesskey="f" title="%TMPL:P{"FIRST_HELP"}%"><img alt="start" src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/icons/control-start.png" /><span>%TMPL:P{"FIRST"}%</span></a>%TMPL:END%
%TMPL:DEF{"FIRST_ACTION_RESTRICTION"}%<span class="natTopicAction natFirstTopicActionDisabled natDisabledTopicAction"><img alt="start" src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/icons/control-start-gray.png" /><span>%TMPL:P{"FIRST"}%</span></span>%TMPL:END%

%TMPL:DEF{"NEXT"}%%MAKETEXT{"Next"}%%TMPL:END%
%TMPL:DEF{"NEXT_HELP"}%%MAKETEXT{"View next revision of this topic"}%%TMPL:END%
%TMPL:DEF{"NEXT_ACTION"}%<a class="natTopicAction natNextTopicAction" rel="nofollow" href="%url%" accesskey="n" title="%TMPL:P{"NEXT_HELP"}%"><img alt="next" src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/icons/control-right.png" /><span>%TMPL:P{"NEXT"}%</span></a>%TMPL:END%
%TMPL:DEF{"NEXT_ACTION_RESTRICTED"}%<span class="natTopicAction natNextTopicActionDisabled natDisabledTopicAction"><img alt="next" src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/icons/control-right-gray.png" /><span>%TMPL:P{"NEXT"}%</span></span>%TMPL:END%

%TMPL:DEF{"PREV"}%%MAKETEXT{"Previous"}%%TMPL:END%
%TMPL:DEF{"PREV_HELP"}%%MAKETEXT{"View previous revision of this topic"}%%TMPL:END%
%TMPL:DEF{"PREV_ACTION"}%<a class="natTopicAction natPrevTopicAction" rel="nofollow" href="%url%" accesskey="p" title="%TMPL:P{"PREV_HELP"}%"><img alt="prev" src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/icons/control-left.png" /><span>%TMPL:P{"PREV"}%</span></a>%TMPL:END%
%TMPL:DEF{"PREV_ACTION_RESTRICTED"}%<span class="natTopicAction natPrevTopicActionDisabled natDisabledTopicAction"><img alt="prev" src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/icons/control-left-gray.png" /><span>%TMPL:P{"PREV"}%</span></span>%TMPL:END%

%TMPL:DEF{"LAST"}%%MAKETEXT{"Last"}%%TMPL:END%
%TMPL:DEF{"LAST_HELP"}%%MAKETEXT{"View last revision of this topic"}%%TMPL:END%
%TMPL:DEF{"LAST_ACTION"}%<a class="natTopicAction natLastTopicAction" rel="nofollow" href="%url%" accesskey="l" title="%TMPL:P{"LAST_HELP"}%"><img alt="end" src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/icons/control-end.png" /><span>%TMPL:P{"LAST"}%</span></a>%TMPL:END%
%TMPL:DEF{"LAST_ACTION_RESTRICTED"}%<span class="natTopicAction natLastTopicActionDisabled natDisabledTopicAction"><img alt="end" src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/icons/control-end-gray.png" /><span>%TMPL:P{"LAST"}%</span></span>%TMPL:END%

%TMPL:DEF{"DIFF"}%%MAKETEXT{"Diff"}%%TMPL:END%
%TMPL:DEF{"DIFF_HELP"}%%MAKETEXT{"Show last change"}%%TMPL:END%
%TMPL:DEF{"DIFF_ACTION"}%<a class="natTopicAction natDiffTopicAction" rel="nofollow" href="%url%" accesskey="d" title="%TMPL:P{"DIFF_HELP"}%">%JQICON{"page_white_stack"}%<span>%TMPL:P{"DIFF"}%</span></a>%TMPL:END%
%TMPL:DEF{"DIFF_ACTION_RESTRICTED"}%<span class="natTopicAction natDiffTopicActionDisabled natDisabledTopicAction">%JQICON{"page_white_stack"}%<span>%TMPL:P{"DIFF"}%</span></span>%TMPL:END%

%TMPL:DEF{"CLOSE"}%%MAKETEXT{"Close"}%%TMPL:END%
%TMPL:DEF{"CLOSE_HELP"}%%MAKETEXT{"Close this dialog"}%%TMPL:END%
%TMPL:DEF{"CLOSE_ACTION"}%<a class="natTopicAction natCloseTopicAction" rel="nofollow" href="%url%" accesskey="x" title="%TMPL:P{"CLOSE_HELP"}%">%JQICON{"cross"}%<span>%TMPL:P{"CLOSE"}%</span></a>%TMPL:END%
%TMPL:DEF{"CLOSE_ACTION_RESTRICTED"}%<span class="natTopicAction natCloseTopicActionDisabled natDisabledTopicAction">%JQICON{"cross"}%<span>%TMPL:P{"CLOSE"}%</span></span>%TMPL:END%

%TMPL:DEF{"NOTHING_FOUND"}%%MAKETEXT{"Nothing found. Try again!"}%%TMPL:END%

%TMPL:DEF{"sep"}%<span class='natSep'>&nbsp;&#187; </span>%TMPL:END%

%TMPL:DEF{"breadcrumbs"}%%BREADCRUMBS{separator="%TMPL:P{"sep"}%"}%%TMPL:P{"breadcrumbstail"}%%TMPL:END%

%TMPL:DEF{"useractions"}%<!-- useractions -->
%USERACTIONS{
  guest="<div class='natGreeter natGuestGreeter'>$login$sep$users$sep$register</div>"
  format="<div class='natGreeter natUserGreeter'>$account$sep$users$sep$logout</div>"
}%
<!-- //useractions -->%TMPL:END%

%TMPL:DEF{"hiddenform"}%<!-- hiddenform -->
<form id="EditForm" name="EditForm" action="%SCRIPTURLPATH{"save"}%/%WEB%/%TOPIC%" method="post">
  <input type="hidden" name="action_addform" value="" />
  <input type="hidden" name="action_cancel" value="" />
  <input type="hidden" name="action_checkpoint" value="" />
  <input type="hidden" name="action_preview" value="" />
  <input type="hidden" name="action_replaceform" value="" />
  <input type="hidden" name="action_save" value="" />
  <input type="hidden" name="submitChangeForm" value="" />
  %FORMFIELDS% 
  <input type="hidden" name="formtemplate" value="%FORMTEMPLATE%" />
  <input type="hidden" name="originalrev" value="%URLPARAM{"originalrev"}%" />
  <input type="hidden" name="redirectto" value="%REDIRECTTO%" />
  <input type="hidden" name="topicparent" value="%TOPICPARENT%" />
  <input type="hidden" name="templatetopic" value="%URLPARAM{"templatetopic" default="%TEMPLATETOPIC%"}%" />
  <input type="hidden" name="cover" value="%URLPARAM{"cover"}%" />
  <input type="hidden" name="cmd" value="%CMD%" />
  <input type="hidden" name="nowysiwyg" value="%URLPARAM{"nowysiwyg"}%" />
  <input type="hidden" name="rev" value="%URLPARAM{"rev"}%" />
  <input type="hidden" name="text" value="%HIDDENTEXT%" />
</form>
<!-- //hiddenform-->%TMPL:END%

%TMPL:DEF{"spacer"}%<img src='%PUBURLPATH%/%SYSTEMWEB%/NatSkin/blank.gif' class='natSpacer' alt="spacer" />%TMPL:END%

%TMPL:DEF{"topictitle"}%%TMPL:P{context="DBCachePluginEnabled" then="topictitle_dbcache" else="topictitle_default"}%%TMPL:END%
%TMPL:DEF{"topictitle_default"}%%IF{"defined 'TOPICTITLE'" then="%TOPICTITLE%" else="%BASETOPIC%"}%%TMPL:END%
%TMPL:DEF{"topictitle_dbcache"}%%GETTOPICTITLE{encode="entity"}%%TMPL:END%

%TMPL:DEF{"iconpath:toggle"}%%PUBURLPATH%/%SYSTEMWEB%/NatSkin/icons/toggle.png%TMPL:END%
%TMPL:DEF{"iconpath:toggleopen"}%%PUBURLPATH%/%SYSTEMWEB%/NatSkin/icons/toggle-collapse.png%TMPL:END%
%TMPL:DEF{"icon:toggle"}%<img alt='toggle' src='%TMPL:P{"iconpath::toggle"}%' border='0' />%TMPL:END%
%TMPL:DEF{"icon:toggleopen"}%<img alt='toggle' src='%TMPL:P{"iconpath::toggleopen"}%' border='0' />%TMPL:END%

%TMPL:DEF{"iconpath:togglesmall"}%%PUBURLPATH%/%SYSTEMWEB%/NatSkin/icons/toggle-small.png%TMPL:END%
%TMPL:DEF{"iconpath:toggleopensmall"}%%PUBURLPATH%/%SYSTEMWEB%/NatSkin/icons/toggle-small-collapse.png%TMPL:END%
%TMPL:DEF{"icon:togglesmall"}%<img alt='toggle' src='%TMPL:P{"iconpath::togglesmall"}%' border='0' />%TMPL:END%
%TMPL:DEF{"icon:toggleopensmall"}%<img alt='toggle' src='%TMPL:P{"iconpath::toggleopensmall"}%' border='0' />%TMPL:END%

%{
  inflect{count="int" none="string" one="string" plural="string"} -
  returns none, one, or plural depending of the value of int
}%
%TMPL:DEF{"inflect"}%%IF{
  "%count% = 0" then="%none%"
}%%IF{
  "%count% = 1" then="%one%"
}%%IF{
  "%count% > 1" then="%plural%"
}%%TMPL:END%


%TMPL:DEF{"LIBJS"}%%ADDTOZONE{
 "script"
 tag="%id%"
 text="<script src='%PUBURLPATH%/%SYSTEMWEB%/%id%.js'></script>"
 requires="%requires%"
}%%TMPL:END%

%TMPL:DEF{"JavascriptFiles/foswikiArray"}%%TMPL:P{"LIBJS" id="JavascriptFiles/foswikiArray" requires="JQUERYPLUGIN::FOSWIKI"}%%TMPL:END%
%TMPL:DEF{"JavascriptFiles/foswikiCSS"}%%TMPL:P{"LIBJS" id="JavascriptFiles/foswikiCSS" requires="JQUERYPLUGIN::FOSWIKI"}%%TMPL:END%
%TMPL:DEF{"JavascriptFiles/foswiki_edit"}%%TMPL:P{"JavascriptFiles/foswikiPref"}%%TMPL:P{"JavascriptFiles/foswikiCSS"}%%TMPL:P{"LIBJS" id="JavascriptFiles/foswiki_edit" requires="JQUERYPLUGIN::FOSWIKI,JavascriptFiles/foswikiPref,JavascriptFiles/foswikiCSS"}%%TMPL:END%
%TMPL:DEF{"JavascriptFiles/foswikiForm"}%%TMPL:P{"LIBJS" id="JavascriptFiles/foswikiForm" requires="JQUERYPLUGIN::FOSWIKI,JavascriptFiles/foswikiString"}%%TMPL:END%
%TMPL:DEF{"JavascriptFiles/foswikiHTML"}%%TMPL:P{"LIBJS" id="JavascriptFiles/foswikiHTML" requires="JQUERYPLUGIN::FOSWIKI"}%%TMPL:END%
%TMPL:DEF{"JavascriptFiles/foswikilib"}%<!-- ERROR: foswikilib is deprecated -->%TMPL:END%
%TMPL:DEF{"JavascriptFiles/foswikiPref"}%%TMPL:P{"LIBJS" id="JavascriptFiles/foswikiPref" requires="JQUERYPLUGIN::FOSWIKI"}%%TMPL:END%
%TMPL:DEF{"JavascriptFiles/foswikiString"}%%TMPL:P{"LIBJS" id="JavascriptFiles/foswikiString" requires="JQUERYPLUGIN::FOSWIKI"}%%TMPL:END%
%TMPL:DEF{"JavascriptFiles/foswikiStringUnicodeChars"}%%TMPL:P{"LIBJS" id="JavascriptFiles/foswikiStringUnicodeChars" requires="JQUERYPLUGIN::FOSWIKI,JavascriptFiles/foswikiString"}%%TMPL:END%
