%TMPL:INCLUDE{"icons"}%%{}%

%TMPL:DEF{"listy::autosubscribe"}%%LISTY_AUTOSUBSCRIBE{default="off"}%%TMPL:END%

%TMPL:DEF{"BOOKMARKS_ACTION"}%<noautolink><ul class='foswikiHoverMenu natBookmarksMenu'>
<li>
  <a class='natUserAction natBookmarksAction'>%TMPL:P{"icon::bookmarks"}%</a>
  $percntTMPL:P{"BOOKMARKS::LIST"}$percnt
</li>
</ul></noautolink>%TMPL:END%

%TMPL:DEF{"BOOKMARKS::LIST"}%<noautolink><ul>
<li>%FAVBUTTON{
      topic="%BASEWEB%.%BASETOPIC%"
      favtext="%TRANSLATE{"Bookmark this topic"}%"
      favicon="%TMPL:P{"icon::favorite"}%"
      favtitle=""
      unfavtext="%TRANSLATE{"Remove this topic from bookmarks"}%"
      unfavicon="%TMPL:P{"icon::unfavorite"}%"
      unfavtitle=""
      class="natTopicAction natFavAction"
      autosubscribe="%TMPL:P{"listy::autosubscribe"}%"
}%</li>
<li>[[%WIKIUSERNAME%?template=bookmarks&origin=%WEB%.%TOPIC%][%TMPL:P{"icon::edit"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Manage bookmarks"}%</span>]]</li>
<li><hr /></li>
%RENDERMETADATA{"listy"
   topic="%WIKIUSERNAME%"
   sort="index"
   filter="collection='mylinks'"
   header=""
   format="$percntTMPL:P{\"BOOKMARKS::format::$type\"
                  web=\"$origweb\"
                  topic=\"$origtopic\"
                  url=\"$url\"
                  title=\"$percntIF{\"'$title'!=''\" then=\"[$title]\" else=\"\"}$percnt\"
            }$percnt<!-- -->"
   footer=""
  separator="$n"
}%
</ul></noautolink>%TMPL:END%
%TMPL:DEF{"BOOKMARKS::format::topic"}%<li class='natActionNoIcon'>[[%web%.%topic%]%title%]</li>%TMPL:END%
%TMPL:DEF{"BOOKMARKS::format::external"}%<li class='natActionNoIcon'>[[%url%]%title%]</li>%TMPL:END%

%TMPL:DEF{"INBOX_SHORT"}%%TMPL:END%
%TMPL:DEF{"INBOX_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Inbox"}%</span>%TMPL:END%
%TMPL:DEF{"INBOX_ACTION"}%<a href='#' class='natUserAction natInboxAction' rel='nofollow'>%TMPL:P{"icon::inbox"}%$label</a>%TMPL:END%
%TMPL:DEF{"INBOX_ACTION_RESTRICTED"}%<span class='natUserAction natDisabledUserAction natInboxAction'>%TMPL:P{"icon::log_in"}%$label</span>%TMPL:END%

%TMPL:DEF{"LOG_IN_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Log in"}%</span>%TMPL:END%
%TMPL:DEF{"LOG_IN_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Log in to [_1]." args="<nop>%WIKITOOLNAME%"}%</span>%TMPL:END%
%TMPL:DEF{"LOG_IN_ACTION"}%<a href='$loginurl' class='natUserAction natLoginAction' rel='nofollow'>%TMPL:P{"icon::log_in"}%$label</a>%TMPL:END%
%TMPL:DEF{"LOG_IN_ACTION_RESTRICTED"}%<span class='natUserAction natDisabledUserAction natLoginAction'>%TMPL:P{"icon::log_in"}%$label</span>%TMPL:END%

%TMPL:DEF{"LOG_OUT_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Log out"}%</span>%TMPL:END%
%TMPL:DEF{"LOG_OUT_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Log out"}%</span>%TMPL:END%
%TMPL:DEF{"LOG_OUT_ACTION"}%<a href='$logouturl' class='natUserAction natLogoutAction' rel='nofollow'>%TMPL:P{"icon::log_out"}%$label</a>%TMPL:END%
%TMPL:DEF{"LOG_OUT_ACTION_RESTRICTED"}%<span class='natUserAction natDisabledUserAction natLogoutAction'>%TMPL:P{"icon::log_out"}%$label</span>%TMPL:END%

%TMPL:DEF{"REGISTER_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Register"}%</span>%TMPL:END%
%TMPL:DEF{"REGISTER_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Sign on to [_1]." args="<nop>%WIKITOOLNAME%"}%</span>%TMPL:END%
%TMPL:DEF{"REGISTER_ACTION"}%<a href='$registerurl' class='natUserAction natRegisterAction' rel='nofollow'>%TMPL:P{"icon::register"}%$label</a>%TMPL:END%
%TMPL:DEF{"REGISTER_ACTION_RESTRICTED"}%<span class='natUserAction natDisabledUserAction natRegisterAction'>%TMPL:P{"icon::register"}%$label</span>%TMPL:END%

%TMPL:DEF{"CHANGEADMIN_LONG"}%<span class='natTopicActionLongLabel'>%IF{"context isadmin" then="%TRANSLATE{"Disable admin rights"}%" else="%TRANSLATE{"Gain admin rights"}%"}%</span>%TMPL:END%
%TMPL:DEF{"CHANGEADMIN_SHORT"}%<span class='natTopicActionShortLabel'>%IF{"context isadmin" then="%TRANSLATE{"Disable admin rights"}%" else="%TRANSLATE{"Gain admin rights"}%"}%</span>%TMPL:END%
%TMPL:DEF{"CHANGEADMIN_ACTION"}%<form action='%SCRIPTURLPATH{"manage"}%/%USERSWEB%/AdminGroup' method='post'> 
   <input type='hidden' name='action' value='%IF{"context isadmin" then="removeUserFromGroup" else="addUserToGroup"}%' /> 
   <input type='hidden' name='create' value='1'/> 
   <input type='hidden' name='redirectto' value='%BASEWEB%.%BASETOPIC%?refresh=cache' /> 
   <input type='hidden' name='groupname' value='AdminGroup' />  
   <input type='hidden' name='username' value='%WIKINAME%' /> 
   <a href="#" onclick="jQuery(this).parent().submit();return false;" class='natUserAction natChangeAdminAction' rel='nofollow'>%TMPL:P{"icon::changeadmin"}%$label</a>
</form>%TMPL:END%

%TMPL:DEF{"USERS_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Users"}%</span>%TMPL:END%
%TMPL:DEF{"USERS_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Users directory"}%</span>%TMPL:END%
%TMPL:DEF{"USERS_ACTION"}%<a href='%SCRIPTURLPATH{"view" topic="%USERSWEB%.%WIKIUSERSTOPIC%"}%' class='natUserAction natUsersAction'>$label</a>%TMPL:END%
%TMPL:DEF{"USERS_ACTION_RESTRICTED"}%<span class='natUserAction natDisabledUserAction natUsersAction'>$label</span>%TMPL:END%

%TMPL:DEF{"ACCOUNT"}%<span class='natTopicActionShortLabel'>%GETTOPICTITLE{"%WIKIUSERNAME%"}%</span>%TMPL:END%
%TMPL:DEF{"ACCOUNT_ACTION"}%<a href='%SCRIPTURLPATH{"view" topic="%USERSWEB%.%WIKINAME%"}%' class='natUserAction natAccountAction'>%TMPL:P{"icon::account"}%$label</a>%TMPL:END%
%TMPL:DEF{"ACCOUNT_ACTION_RESTRICTED"}%<span class='natUserAction natDisabledUserAction natAccountAction'>%TMPL:P{"icon::account"}%$label</span>%TMPL:END%

%TMPL:DEF{"MYACCOUNT_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"My Account"}%</span>%TMPL:END%
%TMPL:DEF{"MYACCOUNT_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"My Account"}%</span>%TMPL:END%
%TMPL:DEF{"MYACCOUNT_ACTION"}%<a href='%SCRIPTURLPATH{"view" topic="%USERSWEB%/%WIKINAME%"}%' class='natTopicAction natMyAccountAction'>%TMPL:P{"icon::account"}%$label</a>%TMPL:END%
%TMPL:DEF{"MYACCOUNT_ACTION_RESTRICTED"}%<span class='natUserAction natDisabledUserAction natAccountAction'>%TMPL:P{"icon::account"}%$label</span>%TMPL:END%

%TMPL:DEF{"PROFILE_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"View profile"}%</span>%TMPL:END%
%TMPL:DEF{"PROFILE_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"View profile"}%</span>%TMPL:END%
%TMPL:DEF{"PROFILE_ACTION"}%<a href='%SCRIPTURLPATH{"view" topic="%USERSWEB%.%WIKINAME%"}%' class='natUserAction natProfileAction'>%TMPL:P{"icon::account"}%$label</a>%TMPL:END%
%TMPL:DEF{"PROFILE_ACTION_RESTRICTED"}%<span class='natUserAction natDisabledUserAction natProfileAction'>%TMPL:P{"icon::account"}%$label</span>%TMPL:END%

%TMPL:DEF{"ATTACH_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Upload"}%</span>%TMPL:END%
%TMPL:DEF{"ATTACH_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Upload files"}%</span>%TMPL:END%
%TMPL:DEF{"ATTACH_ACTION"}%%IF{"'%TOPICINTERACTION_UPLOADERENABLED{default="on"}%'='on'" 
  then="<span class='jqUploadButton natTopicAction natAttachAction' data-topic='%BASEWEB%.%BASETOPIC%' data-multi-file-upload='%IF{"context SUPPORTS_MULTIUPLOAD" then="true" else="false"}%'>%TMPL:P{"icon::attach"}%$label<input type='file' name='files[]' multiple /></span>"
}%%TMPL:END%
%TMPL:DEF{"ATTACH_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natAttachAction'>%TMPL:P{"icon::attach"}%$label</span>%TMPL:END%

%TMPL:DEF{"BACKLINKS_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Backlinks"}%</span>%TMPL:END%
%TMPL:DEF{"BACKLINKS_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Find backlinks"}%</span>%TMPL:END%
%TMPL:DEF{"BACKLINKS_ACTION"}%<a href='#backlinks' class='natTopicAction foswikiDialogLink natBacklinksAction' title='%TRANSLATE{"List other topics linking to this topic"}%' rel='nofollow'>%TMPL:P{"icon::backlinks"}%$label</a>%TMPL:END%
%TMPL:DEF{"BACKLINKS_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natBacklinksAction'>%TMPL:P{"icon::backlinks"}%$label</span>%TMPL:END%

%TMPL:DEF{"SECTIONS_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Sections"}%</span>%TMPL:END%
%TMPL:DEF{"SECTIONS_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"View sections"}%</span>%TMPL:END%
%TMPL:DEF{"SECTIONS_ACTION"}%%SECTIONLIST{
  topic="%BASEWEB%.%BASETOPIC%"
  rev="%URLPARAM{"rev"}%"
  header="<a class='natTopicAction natSectionAction jqTwisty'>%TMPL:P{"icon::sections"}%$label</a><ul class='natSectionList'>"
  format="<li><a href='$dollarpercntSCRIPTURLPATH{\"view\" topic=\"%BASEWEB%.%BASETOPIC%\" rev=\"%URLPARAM{"rev"}%\" section=\"$name\"}$dollarpercnt' class='natTopicAction'>$name</a></li>"
  separator=""
  footer="</ul>"
}%%JQREQUIRE{"jqtwisty"}%%TMPL:END%
%TMPL:DEF{"SECTIONS_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natSectionAction'>%TMPL:P{"icon::sections"}%$label</span>%TMPL:END%

%TMPL:DEF{"VIEW_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"View"}%</span>%TMPL:END%
%TMPL:DEF{"VIEW_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"View formatted topic"}%</span>%TMPL:END%
%TMPL:DEF{"VIEW_ACTION"}%<a href='%SCRIPTURLPATH{"view" topic="%BASEWEB%.%BASETOPIC%"}%?rev=$rev' class='natTopicAction natViewAction' title='%TRANSLATE{"Display this version of the topic"}%' rel='nofollow'>%TMPL:P{"icon::view"}%$label</a>%TMPL:END%
%TMPL:DEF{"VIEW_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natViewAction'>%TMPL:P{"icon::view"}%$label</span>%TMPL:END%

%TMPL:DEF{"DARKMODE_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Dark Mode"}%</span>%TMPL:END%
%TMPL:DEF{"DARKMODE_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Toggle Dark Mode"}%%TMPL:END%
%TMPL:DEF{"DARKMODE_ACTION"}%<a href='#' class='natTopicAction natDarkModeButton' title='%TRANSLATE{"Toggle Dark Mode"}%' accesskey='l'>%TMPL:P{"icon::darkmode"}%$label</a>%TMPL:END%
%TMPL:DEF{"DARKMODE_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction'>%TMPL:P{"icon::darkmode"}%$label</span>%TMPL:END%

%TMPL:DEF{"ATTACHMENTS_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Attachments"}%</span>%TMPL:END%
%TMPL:DEF{"ATTACHMENTS_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Attachments"}%</span>%TMPL:END%
%TMPL:DEF{"ATTACHMENTS_ACTION"}%%IF{"'%TOPICINTERACTION_UPLOADERENABLED{default="on"}%'='on'" 
  then="<a href='%SCRIPTURLPATH{"view" topic="%BASEWEB%.%BASETOPIC%" template="attach"}%' class='natTopicAction natViewAttachAction' title='%TRANSLATE{"View files uploaded to this topic"}%' rel='nofollow'>%TMPL:P{"icon::attachments"}%$label</a>"
}%%TMPL:END%
%TMPL:DEF{"ATTACHMENTS_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natViewAttachAction'>%TMPL:P{"icon::attachments"}%$label</span>%TMPL:END%

%TMPL:DEF{"CHILDTOPICS_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Children"}%</span>%TMPL:END%
%TMPL:DEF{"CHILDTOPICS_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Find child topics"}%</span>%TMPL:END%
%TMPL:DEF{"CHILDTOPICS_ACTION"}%<a href='#childtopics' class='natTopicAction foswikiDialogLink natChildtopicsAction' title='%TRANSLATE{"List topics that branch off this topic"}%' rel='nofollow'>%TMPL:P{"icon::childtopics"}%$label</a>%TMPL:END%
%TMPL:DEF{"CHILDTOPICS_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natChildtopicsAction'>%TMPL:P{"icon::childtopics"}%$label</span>%TMPL:END%

%TMPL:DEF{"PRINT_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Print"}%</span>%TMPL:END%
%TMPL:DEF{"PRINT_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"View printable version"}%</span>%TMPL:END%
%TMPL:DEF{"PRINT_ACTION"}%<a href='%SCRIPTURLPATH{"view" topic="%BASEWEB%.%BASETOPIC%" cover="%TMPL:P{"PRINT_COVER"}%" rev="$rev" section="%URLPARAM{"section"}%"}%;%QUERYSTRING%' class='natTopicAction natPrintAction' title='%TRANSLATE{"Display this topic in a printer-friendly manner"}%' rel='nofollow'>%TMPL:P{"icon::print"}%$label</a>%TMPL:END%
%TMPL:DEF{"PRINT_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natPrintAction'>%TMPL:P{"icon::print"}%$label</span>%TMPL:END%
%TMPL:DEF{"PRINT_COVER"}%%NATSKIN_PRINTCOVER{default="print"}%%TMPL:END%

%TMPL:DEF{"PLAIN_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Plain"}%</span>%TMPL:END%
%TMPL:DEF{"PLAIN_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"View plain version"}%</span>%TMPL:END%
%TMPL:DEF{"PLAIN_ACTION"}%<a href='%SCRIPTURLPATH{"view" topic="%BASEWEB%.%BASETOPIC%" cover="%TMPL:P{"PLAIN_COVER"}%" rev="$rev" section="%URLPARAM{"section"}%"}%;%QUERYSTRING%' class='natTopicAction natPlainAction' title='%TRANSLATE{"Display this topic in a reduced manner"}%' rel='nofollow'>%TMPL:P{"icon::plain"}%$label</a>%TMPL:END%
%TMPL:DEF{"PLAIN_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natPlainAction'>%TMPL:P{"icon::plain"}%$label</span>%TMPL:END%
%TMPL:DEF{"PLAIN_COVER"}%%NATSKIN_PLAINCOVER{default="plain.nat"}%%TMPL:END%

%TMPL:DEF{"SHARE_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Share"}%</span>%TMPL:END%
%TMPL:DEF{"SHARE_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Share this topic"}%</span>%TMPL:END%
%TMPL:DEF{"SHARE_ACTION"}%<a href='#' class='natTopicAction natShareAction socialShareButton' title='%TRANSLATE{"Share this topic with others"}%'>%TMPL:P{"icon::share"}%$label</a>%JQREQUIRE{"SocialShare" warn="off"}%%TMPL:END%
%TMPL:DEF{"SHARE_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natShareAction'>%TMPL:P{"icon::share"}%$label</span>%TMPL:END%

%TMPL:DEF{"LIKE_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Like"}%</span>%TMPL:END%
%TMPL:DEF{"LIKE_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Like this topic"}%</span>%TMPL:END%
%TMPL:DEF{"LIKED_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Liked"}%</span>%TMPL:END%
%TMPL:DEF{"LIKED_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Liked this topic"}%</span>%TMPL:END%
%TMPL:DEF{"LIKE_ACTION"}%%LIKE{
  theme="simple" 
  topic="%BASEWEB%.%BASETOPIC%"
  class="natTopicAction natLikeAction" 
  likelabel="%TMPL:P{"LIKE_SHORT"}%" 
  likedlabel="%TMPL:P{"LIKED_SHORT"}%" 
  showdislike="off" 
  likeformat="<a href='#' class='jqLikeButton %likeSelected%' title='%TRANSLATE{"Click to like/unlike this topic"}%'>%TMPL:P{"icon::like"}%%thisLikeLabel%</a>"
}%%TMPL:END%
%TMPL:DEF{"LIKE_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natLikeAction'>%TMPL:P{"icon::like"}%$label</span>%TMPL:END%

%TMPL:DEF{"CHAT_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Chat"}%</span>%TMPL:END%
%TMPL:DEF{"CHAT_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Chat about this topic"}%</span>%TMPL:END%
%TMPL:DEF{"CHAT_ACTION"}%%IF{"'%WEB%.%TOPIC%' allows 'CHAT'" 
  then="<a class='natTopicAction natChatAction ui-chat-loader' data-channel='%BASEWEB%.%BASETOPIC%' data-minimized='false' data-docked='true' title='%TRANSLATE{"Open a channel to talk about this topic"}%' rel='nofollow'>%TMPL:P{"icon::chat"}%$label</a>"
}%%TMPL:END%
%TMPL:DEF{"CHAT_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natChatAction'>%TMPL:P{"icon::chat"}%$label</span>%TMPL:END%

%TMPL:DEF{"RAW_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Raw"}%</span>%TMPL:END%
%TMPL:DEF{"RAW_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"View wiki markup"}%</span>%TMPL:END%
%TMPL:DEF{"RAW_ACTION"}%<a href='%SCRIPTURLPATH{"view" topic="%BASEWEB%.%BASETOPIC%" raw="text" rev="$rev"}%' class='natTopicAction natRawAction' title='%TRANSLATE{"View the raw text of this topic"}%' rel='nofollow' accesskey='v' data-rev='$rev'>%TMPL:P{"icon::raw"}%$label</a>%TMPL:END%
%TMPL:DEF{"RAW_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natRawAction'>%TMPL:P{"icon::raw"}%$label</span>%TMPL:END%

%TMPL:DEF{"RAW_DATA_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Raw data"}%</span>%TMPL:END%
%TMPL:DEF{"RAW_DATA_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Raw data"}%</span>%TMPL:END%
%TMPL:DEF{"RAW_DATA_ACTION"}%<a href='%SCRIPTURLPATH{"view" topic="%BASEWEB%.%BASETOPIC%" raw="all" skin="text"}%' class='natTopicAction natRawDataAction' title='%TRANSLATE{"View the data of this topic"}%' rel='nofollow' accesskey='r'>%TMPL:P{"icon::raw_data"}%$label</a>%TMPL:END%
%TMPL:DEF{"RAW_DATA_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natRawDataAction'>%TMPL:P{"icon::raw_data"}%$label</span>%TMPL:END%

%TMPL:DEF{"EDIT_RAW_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Edit Raw"}%</span>%TMPL:END%
%TMPL:DEF{"EDIT_RAW_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Edit wiki markup"}%</span>%TMPL:END%
%TMPL:DEF{"EDIT_RAW_ACTION"}%<a href='$editurl&nowysiwyg=on' class='natTopicAction natEditRawAction' title='%TRANSLATE{"Edit the raw text of this topic"}%' rel='nofollow'>%TMPL:P{"icon::edit_raw"}%$label</a>%TMPL:END%
%TMPL:DEF{"EDIT_RAW_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natEditRawAction'>%TMPL:P{"icon::edit_raw"}%$label</span>%TMPL:END%

%TMPL:DEF{"EDIT_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Edit"}%</span>%TMPL:END%
%TMPL:DEF{"EDIT_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Edit this topic"}%</span>%TMPL:END%
%TMPL:DEF{"EDIT_ACTION"}%<a href='$editurl' class='natTopicAction natEditAction' title='%TRANSLATE{"Edit this topic"}%' rel='nofollow' accesskey='e'>%TMPL:P{"icon::edit"}%$label</a>%TMPL:END%
%TMPL:DEF{"EDIT_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natEditAction'>%TMPL:P{"icon::edit"}%$label</span>%TMPL:END%

%TMPL:DEF{"EDIT_FORM_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Edit form"}%</span>%TMPL:END%
%TMPL:DEF{"EDIT_FORM_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Edit form data"}%</span>%TMPL:END%
%TMPL:DEF{"EDIT_FORM_ACTION"}%<a href='%SCRIPTURLPATH{"edit"}%/%BASEWEB%/%BASETOPIC%?t=%GMTIME{"$epoch"}%&action=form' class='natTopicAction natEditFormAction' title='%TRANSLATE{"Edit the form data of this topic"}%' rel='nofollow'>%TMPL:P{"icon::edit_form"}%$label</a>%TMPL:END%
%TMPL:DEF{"EDIT_FORM_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natEditFormAction'>%TMPL:P{"icon::edit_form"}%$label</span>%TMPL:END%

%TMPL:DEF{"EDIT_TEXT_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Edit text"}%</span>%TMPL:END%
%TMPL:DEF{"EDIT_TEXT_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Edit text data"}%</span>%TMPL:END%
%TMPL:DEF{"EDIT_TEXT_ACTION"}%<a href='%SCRIPTURLPATH{"edit"}%/%BASEWEB%/%BASETOPIC%?t=%GMTIME{"$epoch"}%&action=text' class='natTopicAction natEditTextAction' title='%TRANSLATE{"Edit the text data of this topic"}%' rel='nofollow'>%TMPL:P{"icon::edit_text"}%$label</a>%TMPL:END%
%TMPL:DEF{"EDIT_TEXT_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natEditTextAction'>%TMPL:P{"icon::edit_text"}%$label</span>%TMPL:END%

%TMPL:DEF{"EDIT_SETTINGS_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Preferences"}%</span>%TMPL:END%
%TMPL:DEF{"EDIT_SETTINGS_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Edit preferences"}%</span>%TMPL:END%
%TMPL:DEF{"EDIT_SETTINGS_ACTION"}%<a href='#' class='natTopicAction natEditSettingsAction' title='%TRANSLATE{"Edit hidden preference settings of this topic"}%' rel='nofollow='>%TMPL:P{"icon::edit_settings"}%$label</a>%TMPL:END%
%TMPL:DEF{"EDIT_SETTINGS_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natEditSettingsAction'>%TMPL:P{"icon::edit_settings"}%$label</span>%TMPL:END%

%TMPL:DEF{"RESTORE_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Restore"}%</span>%TMPL:END%
%TMPL:DEF{"RESTORE_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Restore version"}%</span>%TMPL:END%
%TMPL:DEF{"RESTORE_ACTION"}%<a href='#restoretopic' class='natTopicAction natRestoreAction foswikiDialogLink' data-rev='%URLPARAM{"rev" default="$prevrev"}%' title='%TRANSLATE{"Undo changes to this topic"}%' rel='nofollow'>%TMPL:P{"icon::restore"}%$label</a>%TMPL:END%
%TMPL:DEF{"RESTORE_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natRestoreAction'>%TMPL:P{"icon::restore"}%$label</span>%TMPL:END%

%TMPL:DEF{"DELETE_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Delete"}%</span>%TMPL:END%
%TMPL:DEF{"DELETE_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Delete"}%</span>%TMPL:END%
%TMPL:DEF{"DELETE_ACTION"}%<a href='#renametopicdelete' class='natTopicAction natDeleteAction foswikiDialogLink' title='%TRANSLATE{"Move this topic to the trash"}%' rel='nofollow'>%TMPL:P{"icon::delete"}%$label</a>%TMPL:END%
%TMPL:DEF{"DELETE_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natDeleteAction'>%TMPL:P{"icon::delete"}%$label</span>%TMPL:END%

%TMPL:DEF{"ARCHIVE_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Archive"}%</span>%TMPL:END%
%TMPL:DEF{"ARCHIVE_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Archive"}%</span>%TMPL:END%
%TMPL:DEF{"ARCHIVE_ACTION"}%<a href='#renametopicarchive' class='natTopicAction natArchiveAction foswikiDialogLink' title='%TRANSLATE{"Move this topic to the archive"}%' rel='nofollow'>%TMPL:P{"icon::archive"}%$label</a>%TMPL:END%
%TMPL:DEF{"ARCHIVE_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natArchiveAction'>%TMPL:P{"icon::archive"}%$label</span>%TMPL:END%

%TMPL:DEF{"MOVE_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Move"}%</span>%TMPL:END%
%TMPL:DEF{"MOVE_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Rename or move"}%</span>%TMPL:END%
%TMPL:DEF{"MOVE_ACTION"}%<a href='%SCRIPTURLPATH{"rename"}%/%BASEWEB%/%BASETOPIC%%IF{"not context SolrPluginEnabled" then="?currentwebonly=on"}%' class='natTopicAction natMoveAction' rel='nofollow' title='%TRANSLATE{"Change the name and/or the location of this topic"}%'>%TMPL:P{"icon::move"}%$label</a>%TMPL:END%
%TMPL:DEF{"MOVE_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natMoveAction'>%TMPL:P{"icon::move"}%$label</span>%TMPL:END%

%TMPL:DEF{"HISTORY_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"History"}%</span>%TMPL:END%
%TMPL:DEF{"HISTORY_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Revision History"}%</span>%TMPL:END%
%TMPL:DEF{"HISTORY_ACTION"}%<a href='#history' class='natTopicAction foswikiDialogLink natHistoryAction' accesskey='h' data-rev='$rev' rel='nofollow' title='%TRANSLATE{"View the revision history of all changes to this topic"}%'>%TMPL:P{"icon::history"}%$label</a>%TMPL:END%
%TMPL:DEF{"HISTORY_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natHistoryAction'>%TMPL:P{"icon::history"}%$label</span>%TMPL:END%

%TMPL:DEF{"CONTRIBUTORS_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Contributors"}%</span>%TMPL:END%
%TMPL:DEF{"CONTRIBUTORS_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Contributors"}%</span>%TMPL:END%
%TMPL:DEF{"CONTRIBUTORS_ACTION"}%<a href='contributors' class='natTopicAction foswikiDialogLink natContributorsAction' accesskey='c' rel='nofollow' title='%TRANSLATE{"View the list of people that contributed to this topic"}%'>%TMPL:P{"icon::contributors"}%$label</a>%TMPL:END%
%TMPL:DEF{"CONTRIBUTORS_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natContributorsAction'>%TMPL:P{"icon::history"}%$label</span>%TMPL:END%

%TMPL:DEF{"WORKFLOW_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Workflow History"}%</span>%TMPL:END%
%TMPL:DEF{"WORKFLOW_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Workflow History"}%</span>%TMPL:END%
%TMPL:DEF{"WORKFLOW_ACTION"}%%IF{
  "'%QUERY{"'%BASEWEB%.%BASETOPIC%'/qmstate.id"}%'!=''" 
  then="<a href='%SCRIPTURLPATH{"view" topic="%BASEWEB%.%BASETOPIC%" template="qmhistory"}%' class='natTopicAction natWorkflowAction' rel='nofollow' title='%TRANSLATE{"View the workflow history of this topic"}%'>%TMPL:P{"icon::workflow"}%$label</a>"
}%%TMPL:END%
%TMPL:DEF{"WORKFLOW_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natHistoryAction'>%TMPL:P{"icon::history"}%$label</span>%TMPL:END%

%TMPL:DEF{"CLOSE_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Close"}%</span>%TMPL:END%
%TMPL:DEF{"CLOSE_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Close this dialog"}%</span>%TMPL:END%
%TMPL:DEF{"CLOSE_URL"}%%SCRIPTURLPATH{"view" topic="%URLPARAM{"origin" default="%BASEWEB%.%BASETOPIC%"}%"}%%TMPL:END%
%TMPL:DEF{"CLOSE_ACTION"}%<a href='%TMPL:P{"CLOSE_URL"}%' class='natTopicAction natCloseAction' rel='nofollow' title='%TRANSLATE{"Close this dialog"}%'>%TMPL:P{"icon::close"}%$label</a>%TMPL:END%
%TMPL:DEF{"CLOSE_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natCloseAction'>%TMPL:P{"icon::close"}%$label</span>%TMPL:END%

%TMPL:DEF{"REMOVEUSER_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Remove user"}%%TMPL:END%
%TMPL:DEF{"REMOVEUSER_LONG"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Remove user account"}%%TMPL:END%
%TMPL:DEF{"REMOVEUSER_ACTION"}%<a href='#user' class='natTopicAction foswikiDialogLink natRemoveUserAction' data-expand='user::remove::dialog'>%TMPL:P{"icon::removeuser"}%$label</a>%TMPL:END%
%TMPL:DEF{"REMOVEUSER_ACTION_RESTRICTED"}%%TMPL:END%

%TMPL:DEF{"CHANGEPASSWORD_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Password"}%</span>%TMPL:END%
%TMPL:DEF{"CHANGEPASSWORD_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Change password"}%</span>%TMPL:END%
%TMPL:DEF{"CHANGEPASSWORD_ACTION"}%<a href='%SCRIPTURLPATH{"view" topic="%SYSTEMWEB%.ChangePassword"}%' class='natTopicAction natPasswordAction'>%TMPL:P{"icon::password"}%$label</a>%TMPL:END%
%TMPL:DEF{"CHANGEPASSWORD_ACTION_RESTRICTED"}%<span class='natUserAction natDisabledUserAction natPasswordAction'>%TMPL:P{"icon::password"}%$label</span>%TMPL:END%

%TMPL:DEF{"CHANGEEMAIL_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Change email"}%</span>%TMPL:END%
%TMPL:DEF{"CHANGEEMAIL_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Change email address"}%</span>%TMPL:END%
%TMPL:DEF{"CHANGEEMAIL_ACTION"}%<a href='%SCRIPTURLPATH{"view" topic="%SYSTEMWEB%.ChangeEmailAddress"}%' class='natUserAction natChangeEmailAction'>%TMPL:P{"icon::email"}%$label</a>%TMPL:END%
%TMPL:DEF{"CHANGEEMAIL_ACTION_RESTRICTED"}%<span class='natUserAction natDisabledUserAction natChangeEmailAction'>%TMPL:P{"icon::email"}%$label</span>%TMPL:END%

%TMPL:DEF{"EMAIL_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Email topic"}%</span>%TMPL:END%
%TMPL:DEF{"EMAIL_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Email this topic"}%</span>%TMPL:END%
%TMPL:DEF{"EMAIL_ACTION"}%<a href='#email' class='natTopicAction natEmailAction foswikiDialogLink'>%TMPL:P{"icon::email"}%$label</a>%TMPL:END%
%TMPL:DEF{"EMAIL_ACTION_RESTRICTED"}%<span class='natUserAction natDisabledUserAction natEmailAction'>%TMPL:P{"icon::email"}%$label</span>%TMPL:END%

%TMPL:DEF{"CHANGELANGUAGE_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Language"}%</span>%TMPL:END%
%TMPL:DEF{"CHANGELANGUAGE_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Interface language"}%</span>%TMPL:END%
%TMPL:DEF{"CHANGELANGUAGE_ACTION"}%<a href='#languageselector' class='natTopicAction foswikiDialogLink natChangeLanguageAction' title='%TRANSLATE{"Select a different language for the wiki interface"}%' rel='nofollow' >%TMPL:P{"icon::changelanguage"}%$label</a>%TMPL:END%
%TMPL:DEF{"CHANGELANGUAGE_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natChangeLanguageAction'>%TMPL:P{"icon::changelanguage"}%$label</span>%TMPL:END%

%TMPL:DEF{"TRANSLATETOPIC_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Translate"}%</span>%TMPL:END%
%TMPL:DEF{"TRANSLATETOPIC_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Translate this topic"}%</span>%TMPL:END%
%TMPL:DEF{"TRANSLATETOPIC_ACTION"}%<a href='%SCRIPTURLPATH{"view" topic="%BASEWEB%.%BASETOPIC%" template="translatetopic"}%' class='natTopicAction natTranslateTopicAction' title='%TRANSLATE{"Create a new topic serving as a translation for this topic"}%' rel='nofollow'>%TMPL:P{"icon::translatetopic"}%$label</a>%TMPL:END%
%TMPL:DEF{"TRANSLATETOPIC_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natTranslateTopicAction'>%TMPL:P{"icon::translatetopic"}%$label</span>%TMPL:END%

%TMPL:DEF{"MENU"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"More"}%</span>%TMPL:END%
%TMPL:DEF{"MENU_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natMenuAction'>%TMPL:P{"icon::menu"}%%TMPL:P{"MENU"}%</span>%TMPL:END%
%TMPL:DEF{"MENU_HEADER"}%<ul class='foswikiHoverMenu natMoreActionsMenu'><li><span class='natTopicAction natMoreActionsTopicAction'>%TMPL:P{"icon::menu"}%$label</span>%TMPL:END%
%TMPL:DEF{"MENU_FOOTER"}%</li></ul>%TMPL:END%

%TMPL:DEF{"USERMENU"}%$account%TMPL:END%
%TMPL:DEF{"USERMENU_RESTRICTED"}%<span class='natDisabledTopicAction'>$account</span>%TMPL:END%
%TMPL:DEF{"USERMENU_FORMAT"}%<ul class='foswikiHoverMenu natUserActionsMenu'><li>$label
</li></ul>%TMPL:END%

%TMPL:DEF{"NEW_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"New"}%</span>%TMPL:END%
%TMPL:DEF{"NEW_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"New topic"}%</span>%TMPL:END%
%TMPL:DEF{"NEW_ACTION"}%<a href='#newtopic' class='natTopicAction foswikiDialogLink natNewAction' data-category='%URLPARAM{"catname" default="%IF{"TopicType=~'\bCategory\b'" then="%TOPIC%"}%"}%' title='%TRANSLATE{"New topic"}%' rel='nofollow' accesskey='n'>%TMPL:P{"icon::new"}%$label</a>%TMPL:END%
%TMPL:DEF{"NEW_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natNewAction'>%TMPL:P{"icon::new"}%$label</span>%TMPL:END%

%TMPL:DEF{"HELP"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Help"}%</span>%TMPL:END%
%TMPL:DEF{"HELP_ACTION"}%<a href='$helpurl' class='natTopicAction natHelpAction' rel='nofollow'>%TMPL:P{"icon::help"}%%TMPL:P{"HELP"}%</a>%TMPL:END%
%TMPL:DEF{"HELP_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natHelpAction'>%TMPL:P{"icon::help"}%$label</span>%TMPL:END%

%TMPL:DEF{"PDF_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"PDF"}%</span>%TMPL:END%
%TMPL:DEF{"PDF_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Export topic to PDF"}%</span>%TMPL:END%
%TMPL:DEF{"PDF_ACTION"}%<a href='#print' class='natTopicAction natPdfAction foswikiDialogLink' accesskey='p' title='%TRANSLATE{"Display this topic in PDF format"}%' rel='nofollow' data-section='%URLPARAM{"section"}%' data-rev='$rev' %QUERYPARAMS{format="data-$name='$value'" separator=" "}%>%TMPL:P{"icon::pdf"}%$label</a>%TMPL:END%
%TMPL:DEF{"PDF_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natPdfAction'>%TMPL:P{"icon::pdf"}%$label</span>%TMPL:END%

%TMPL:DEF{"FAVORITE_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Favorite"}%</span>%TMPL:END%
%TMPL:DEF{"FAVORITE_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Add to favorites"}%</span>%TMPL:END%
%TMPL:DEF{"FAVORITE_ACTION"}%%FAVBUTTON{
  topic="%BASEWEB%.%BASETOPIC%"
  favtext="$percntTMPL:P{FAVORITE_$mode}$percnt"
  favicon="%TMPL:P{"icon::favorite"}%"
  favtitle="%TRANSLATE{"Add to favorites"}%"
  unfavtext="$percntTMPL:P{UNFAVORITE_$mode}$percnt"
  unfavicon="%TMPL:P{"icon::unfavorite"}%"
  unfavtitle="%TRANSLATE{"Remove from favorites"}%"
  class="natTopicAction natFavAction"
  autosubscribe="%TMPL:P{"listy::autosubscribe"}%"
}%%TMPL:END%
%TMPL:DEF{"FAVORITE_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natFavAction'>%TMPL:P{"icon::favorite"}%$label</span>%TMPL:END%

%TMPL:DEF{"UNFAVORITE_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Unfavorite"}%</span>%TMPL:END%
%TMPL:DEF{"UNFAVORITE_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Remove from favorites"}%</span>%TMPL:END%
%TMPL:DEF{"UNFAVORITE_ACTION"}%<a class='natTopicAction natUnfavAction' title='' rel='nofollow'>%TMPL:P{"icon::unfavorite"}%$label</a>%TMPL:END%
%TMPL:DEF{"UNFAVORITE_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natFavAction'>%TMPL:P{"icon::unfavorite"}%$label</span>%TMPL:END%

%TMPL:DEF{"SUBSCRIBE_ACTION"}%%TMPL:P{context="ClassificationPluginEnabled" then="SUBSCRIBE_ACTION_CLASSIFICATIONPLUGIN" else="SUBSCRIBE_ACTION_DEFAULT"}%%TMPL:END%
%TMPL:DEF{"SUBSCRIBE_ACTION_CLASSIFICATIONPLUGIN"}%<a href='#' class='natTopicAction natSubscribeAction' title='%TRANSLATE{"Configure e-mail notifications for this topic"}%' data-subscribed='%IFSUBSCRIBED{
  topic="%IF{"'%BASETOPIC%'='TopCategory' and '%URLPARAM{catname}%' != ''" 
            then="%URLPARAM{"catname"}%" 
            else="%BASEWEB%.%BASETOPIC%"
          }%"
  then="true" 
  else="false"
}%' data-subscription='%IF{
  "'%BASETOPIC%'='TopCategory' and '%URLPARAM{catname}%' != ''" 
  then="%URLPARAM{"catname"}%"
  else="%BASETOPIC%"
}%'> %TMPL:P{"SUBSCRIBE_LABEL"}%%TMPL:P{"UNSUBSCRIBE_LABEL"}%</a>%TMPL:END%

%TMPL:DEF{"SUBSCRIBE_ACTION_DEFAULT"}%<a href='#' class='natTopicAction natSubscribeAction' title='%TRANSLATE{"Configure e-mail notifications for this topic"}%' data-subscribed='%IFSUBSCRIBED{
  then="true" 
  else="false"}%' data-topic='%BASEWEB%.%BASETOPIC%' data-subscription='%BASETOPIC%'>
%TMPL:P{"SUBSCRIBE_LABEL"}% %TMPL:P{"UNSUBSCRIBE_LABEL"}%</a>%TMPL:END%

%TMPL:DEF{"SUBSCRIBE_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natSubscribeAction'>%TMPL:P{"SUBSCRIBE_LABEL"}%</span>%TMPL:END%

%TMPL:DEF{"SUBSCRIBE_LABEL"}%<span class='natSubscribeLabel' style='display:none'">%TMPL:P{"icon::subscribe"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Subscribe"}%</span></span>%TMPL:END%
%TMPL:DEF{"UNSUBSCRIBE_LABEL"}%<span class='natUnsubscribeLabel' style='display:none'>%TMPL:P{"icon::unsubscribe"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Unsubscribe"}%</span></span>%TMPL:END%

%TMPL:DEF{"TWOFACTORAUTH_SHORT"}%<span class='natTopicActionShortLabel'>%IF{"context two_factor_auth"
  then="%TRANSLATE{"Disable 2FA"}%"
  else="%TRANSLATE{"Enable 2FA"}%"
}%</span>%TMPL:END%
%TMPL:DEF{"TWOFACTORAUTH_LONG"}%<span class='natTopicActionLongLabel'>%IF{"context two_factor_auth_enabled"
  then="%TRANSLATE{"Disable two-factor authentication"}%"
  else="%TRANSLATE{"Enable two-factor authentication"}%"
}%</span>%TMPL:END%
%TMPL:DEF{"TWOFACTORAUTH_ENABLE_ACTION"}%<a href='%SCRIPTURLPATH{"view" topic="%WIKIUSERNAME%"}%?template=twofactorauth' class='natTopicAction natTwoFactorAuthAction' rel='nofollow'>%TMPL:P{"icon::twofactorauth"}%%label%</a>%TMPL:END%
%TMPL:DEF{"TWOFACTORAUTH_DISABLE_ACTION"}%<a href='#twofactorauth' class='natTopicAction foswikiDialogLink natTwoFactorAuthAction' rel='nofollow' data-expand='twofactorauth::disable::dialog'>%TMPL:P{"icon::twofactorauth"}%%label%</a>%TMPL:END%
%TMPL:DEF{"TWOFACTORAUTH_ACTION"}%%IF{"context two_factor_auth_enabled"
  then="$dollarpercntTMPL:P{\"TWOFACTORAUTH_DISABLE_ACTION\" label=\"$label\"}$dollarpercnt"
  else="$dollarpercntTMPL:P{\"TWOFACTORAUTH_ENABLE_ACTION\" label=\"$label\"}$dollarpercnt"
}%%TMPL:END%
%TMPL:DEF{"TWOFACTORAUTH_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natTwoFactorAuthAction'>%TMPL:P{"icon::twofactorauth"}%$label</span>%TMPL:END%

%TMPL:DEF{"HARVEST_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Download"}%</span>%TMPL:END%
%TMPL:DEF{"HARVEST_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Download external resource"}%</span>%TMPL:END%
%TMPL:DEF{"HARVEST_ACTION"}%<a href='%SCRIPTURLPATH{"view" topic="%WEB%.%TOPIC%" template="harvestplugin"}%' class='natTopicAction natHarvestAction' title='%TRANSLATE{"Download assets from an external url and upload them to this topic"}%' rel='nofollow'>%TMPL:P{"icon::harvest"}%$label</a>%TMPL:END%
%TMPL:DEF{"HARVEST_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natHarvestAction'>%TMPL:P{"icon::harvest"}%$label</span>%TMPL:END%


%TMPL:DEF{"MANAGETAGS_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Tags"}%</span>%TMPL:END%
%TMPL:DEF{"MANAGETAGS_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Manage tags in this web"}%</span>%TMPL:END%
%TMPL:DEF{"MANAGETAGS_ACTION"}%<a href='#managetags' class='natTopicAction foswikiDialogLink natManageTagsAction' title='%TRANSLATE{"Rename, merge or delete tags being used in this web"}%' rel='nofollow'>%TMPL:P{"icon::managetags"}%$label</a>%TMPL:END%
%TMPL:DEF{"MANAGETAGS_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natManageTagsAction'>%TMPL:P{"icon::managetags"}%$label</span>%TMPL:END%

%TMPL:DEF{"FIRST_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"First"}%</span>%TMPL:END%
%TMPL:DEF{"FIRST_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"View first revision"}%</span>%TMPL:END%
%TMPL:DEF{"FIRST_ACTION"}%<a href='$firsturl' class='natTopicAction natFirstAction' rel='nofollow' title='%TRANSLATE{"Jump to the first version of this topic"}%'>%TMPL:P{"icon::first"}%$label</a>%TMPL:END%
%TMPL:DEF{"FIRST_ACTION_RESTRICTION"}%<span class='natTopicAction natDisabledTopicAction natFirstAction'>%TMPL:P{"icon::first"}%$label</span>%TMPL:END%

%TMPL:DEF{"NEXT_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Next"}%</span>%TMPL:END%
%TMPL:DEF{"NEXT_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"View next revision"}%</span>%TMPL:END%
%TMPL:DEF{"NEXT_ACTION"}%<a href='$nexturl' class='natTopicAction natNextAction' rel='nofollow' title='%TRANSLATE{"Go to the following version of this topic"}%'>%TMPL:P{"icon::next"}%$label</a>%TMPL:END%
%TMPL:DEF{"NEXT_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natNextAction'>%TMPL:P{"icon::next"}%$label</span>%TMPL:END%

%TMPL:DEF{"PREV_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Previous"}%</span>%TMPL:END%
%TMPL:DEF{"PREV_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"View previous revision"}%</span>%TMPL:END%
%TMPL:DEF{"PREV_ACTION"}%<a href='$prevurl' class='natTopicAction natPrevAction' rel='nofollow' title='%TRANSLATE{"Go to the previous version of this topic"}%'>%TMPL:P{"icon::prev"}%$label</a>%TMPL:END%
%TMPL:DEF{"PREV_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natPrevAction'>%TMPL:P{"icon::prev"}%$label</span>%TMPL:END%

%TMPL:DEF{"LAST_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Last"}%</span>%TMPL:END%
%TMPL:DEF{"LAST_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"View last revision"}%</span>%TMPL:END%
%TMPL:DEF{"LAST_ACTION"}%<a href='$lasturl' class='natTopicAction natLastAction' rel='nofollow' title='%TRANSLATE{"Jump to the most recent version of this topic"}%'>%TMPL:P{"icon::last"}%$label</a>%TMPL:END%
%TMPL:DEF{"LAST_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natLastAction'>%TMPL:P{"icon::last"}%$label</span>%TMPL:END%

%TMPL:DEF{"DIFF_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Diff"}%</span>%TMPL:END%
%TMPL:DEF{"DIFF_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"View last change"}%</span>%TMPL:END%
%TMPL:DEF{"DIFF_ACTION"}%<a href='$diffurl' class='natTopicAction natDiffAction' rel='nofollow' accesskey='d' title='%TRANSLATE{"Display the most recent change of this topic"}%'>%TMPL:P{"icon::diff"}%$label</a>%TMPL:END%
%TMPL:DEF{"DIFF_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natDiffAction'>%TMPL:P{"icon::diff"}%$label</span>%TMPL:END%

%TMPL:DEF{"COPY_TOPIC_SHORT"}%<span class='natTopicActionShortLabel'>%TRANSLATE{"Copy"}%</span>%TMPL:END%
%TMPL:DEF{"COPY_TOPIC_LONG"}%<span class='natTopicActionLongLabel'>%TRANSLATE{"Copy"}%</span>%TMPL:END%
%TMPL:DEF{"COPY_TOPIC_ACTION"}%<a href='#copytopic' class='natTopicAction foswikiDialogLink natCopyTopicAction' title='%TRANSLATE{"Create a copy of this topic under a new name"}%' rel='nofollow'>%TMPL:P{"icon::copy_topic"}%$label</a>%TMPL:END%
%TMPL:DEF{"COPY_TOPIC_ACTION_RESTRICTED"}%<span class='natTopicAction natDisabledTopicAction natCopyTopicAction'>%TMPL:P{"icon::copy_topic"}%$label</span>%TMPL:END%

%TMPL:DEF{"NOTHING_FOUND"}%%TRANSLATE{"Nothing found. Try again!"}%%TMPL:END%

%TMPL:DEF{"sep"}%<span class='natSep'> &#187;&nbsp;</span>%TMPL:END%

%TMPL:DEF{"breadcrumbs::title"}%<span class='natBreadCrumbsYouAreHere'>%TRANSLATE{"You are here"}%:</span>%TMPL:END%
%TMPL:DEF{"breadcrumbs::contents"}%<noautolink>%BREADCRUMBS{
  relation="%TMPL:P{"breadcrumbs::relation"}%"
  separator="%TMPL:P{"sep"}%"
  translate="%TMPL:P{"title::translate"}%"
  format="<a href='$percntSCRIPTURLPATH{\"view\" topic=\"$web.$topic\"}$percnt'>$name</a>"
}%%TMPL:P{"breadcrumbs::tail"}%</noautolink>%TMPL:END%

%TMPL:DEF{"breadcrumbs::relation"}%parent%TMPL:END%

%TMPL:DEF{"pagetitle"}%<title>%TMPL:P{"title"}%</title>%TMPL:END%
%TMPL:DEF{"title"}%<noautolink>%HTMLTITLE{
  "$percntIF{
    \"'$topic'!='%HOMETOPIC%' or '%TMPL:P{"titleaction"}%'!=''\" 
      then=\"$percntENCODE{\"$title\" type=\"safe\"}$percnt$dollarpercntIF{\\"'%TMPL:P{"titleaction"}%'!=''\\" then=\\" %TMPL:P{"titlesep"}% %TMPL:P{"titleaction"}%\\"}$dollarpercnt$sep\"
  }$percnt$webtitle$wikitoolname"
  separator=" %TMPL:P{"titlesep"}% "
  translate="%TMPL:P{"title::translate"}%"
}%</noautolink>%TMPL:END%
%TMPL:DEF{"title::translate"}%on%TMPL:END%

%TMPL:DEF{"titlesep"}%%HTMLTITLESEP{default="-"}%%TMPL:END%

%TMPL:DEF{"favicon"}%%TMPL:P{context="msie" then="favicon::msie" else="favicon::default"}%%TMPL:END%
%TMPL:DEF{"favicon::msie"}%<link rel="shortcut icon" href="%TMPL:P{"favicon::msie::url"}%">%TMPL:END%
%TMPL:DEF{"favicon::msie::url"}%%TMPL:P{"favicon::url"}%%TMPL:END%
%TMPL:DEF{"favicon::default"}%<link rel="icon" href="%TMPL:P{"favicon::default::url"}%">%TMPL:END%
%TMPL:DEF{"favicon::default::url"}%%TMPL:P{"favicon::url"}%%TMPL:END%
%TMPL:DEF{"favicon::url"}%%FAVICON%%TMPL:END%

%TMPL:DEF{"logo"}%%NATWEBLOGO{height="%WIKILOGOHEIGHT{default="60"}%"}%%TMPL:END%
%TMPL:DEF{"poweredby"}%<a href='https://foswiki.org' class='natPoweredBy nop' target="_blank" title='foswiki.org'><span><img src='%PUBURLPATH%/%SYSTEMWEB%/NatSkin/images/foswiki-logo.png' height='40' alt='foswiki'/></span>%TRANSLATE{"Powered by Foswiki"}%</a>%TMPL:END%

%TMPL:DEF{"manifest"}%<link rel="manifest" href="%SCRIPTURLPATH{"view" topic="%SYSTEMWEB%.NatSkinManifest"}%?contenttype=application/manifest+json" crossorigin="use-credentials">%TMPL:END%

%TMPL:DEF{"useractions"}%%USERACTIONS{
  guest="<div class='natUserActions natGuestGreeter'>$login$register</div>"
  format="<div class='natUserActions natUserGreeter'>$new$sep$action(bookmarks)$sep$usermenu</div>"
  separator=""
  usermenu="<ul class='foswikiHoverMenu natUserActionsMenu'><li>$account%TMPL:P{"usermenu"}%</li></ul>"
}%%TMPL:END%

%TMPL:DEF{"usermenu"}%%WEBCOMPONENT{"UserMenu"}%%TMPL:END%

%TMPL:DEF{"hiddenform"}%<form id='EditForm' name='EditForm' action='%SCRIPTURLPATH{"save"}%/%BASEWEB%/%BASETOPIC%' method='post'>
  <input type='hidden' name='action_addform' value='' />
  <input type='hidden' name='action_cancel' value='' />
  <input type='hidden' name='action_checkpoint' value='' />
  <input type='hidden' name='action_preview' value='' />
  <input type='hidden' name='action_replaceform' value='' />
  <input type='hidden' name='action_save' value='' />
  <input type='hidden' name='submitChangeForm' value='' />
  %FORMFIELDS% 
  <input type='hidden' name='formtemplate' value='%FORMTEMPLATE%' />
  <input type='hidden' name='originalrev' value='%URLPARAM{"originalrev"}%' />
  <input type='hidden' name='redirectto' value='%REDIRECTTO%' />
  <input type='hidden' name='topicparent' value='%TOPICPARENT%' />
  <input type='hidden' name='templatetopic' value='%TEMPLATETOPIC%' />
  <input type='hidden' name='cover' value='%URLPARAM{"cover"}%' />
  <input type='hidden' name='cmd' value='%CMD%' />
  <input type='hidden' name='nowysiwyg' value='%URLPARAM{"nowysiwyg"}%' />
  <input type='hidden' name='rev' value='%URLPARAM{"rev"}%' />
  <input type='hidden' name='text' value='%HIDDENTEXT%' />
</form>%TMPL:END%

%TMPL:DEF{"iconpath:toggle"}%%PUBURLPATH%/%SYSTEMWEB%/NatSkin/images/toggle.png%TMPL:END%
%TMPL:DEF{"iconpath:toggleopen"}%%PUBURLPATH%/%SYSTEMWEB%/NatSkin/images/toggle-collapse.png%TMPL:END%
%TMPL:DEF{"icon:toggle"}%<img alt='toggle' src='%TMPL:P{"iconpath::toggle"}%' />%TMPL:END%
%TMPL:DEF{"icon:toggleopen"}%<img alt='toggle' src='%TMPL:P{"iconpath::toggleopen"}%' />%TMPL:END%

%TMPL:DEF{"iconpath:togglesmall"}%%PUBURLPATH%/%SYSTEMWEB%/NatSkin/images/toggle-small.png%TMPL:END%
%TMPL:DEF{"iconpath:toggleopensmall"}%%PUBURLPATH%/%SYSTEMWEB%/NatSkin/images/toggle-small-collapse.png%TMPL:END%
%TMPL:DEF{"icon:togglesmall"}%<img alt='toggle' src='%TMPL:P{"iconpath::togglesmall"}%' />%TMPL:END%
%TMPL:DEF{"icon:toggleopensmall"}%<img alt='toggle' src='%TMPL:P{"iconpath::toggleopensmall"}%' />%TMPL:END%

%{
  inflect{count="int" none="string" one="string" plural="string"} -
  returns none, one, or plural depending of the value of int
}%
%TMPL:DEF{"inflect"}%%IF{
  "%count% = 0" then="%none%"
}%%IF{
  "%count% = 1" then="%one%"
}%%IF{
  "%count% > 1" then="%plural%"
}%%TMPL:END%

%TMPL:DEF{"LIBJS"}%%ADDTOZONE{
  "script"
  id="%id%"
  text="<script src='%PUBURLPATH%/%SYSTEMWEB%/%id%.js'></script>"
  requires="%requires%"
}%%TMPL:END%

%TMPL:DEF{"currev"}%%IF{"%NATMAXREV%!=%CURREV%" then="%CURREV%"}%%TMPL:END%

%TMPL:DEF{"JavascriptFiles/foswikiArray"}%%TMPL:P{"LIBJS" id="JavascriptFiles/foswikiArray" requires="JQUERYPLUGIN::FOSWIKI"}%%TMPL:END%
%TMPL:DEF{"JavascriptFiles/foswikiCSS"}%%TMPL:P{"LIBJS" id="JavascriptFiles/foswikiCSS" requires="JQUERYPLUGIN::FOSWIKI"}%%TMPL:END%
%TMPL:DEF{"JavascriptFiles/foswiki_edit"}%%TMPL:P{"JavascriptFiles/foswikiPref"}%%TMPL:P{"JavascriptFiles/foswikiCSS"}%%TMPL:P{"LIBJS" id="JavascriptFiles/foswiki_edit" requires="JQUERYPLUGIN::FOSWIKI,JavascriptFiles/foswikiPref,JavascriptFiles/foswikiCSS"}%%TMPL:END%
%TMPL:DEF{"JavascriptFiles/foswikiForm"}%%TMPL:P{"LIBJS" id="JavascriptFiles/foswikiForm" requires="JQUERYPLUGIN::FOSWIKI,JavascriptFiles/foswikiString"}%%TMPL:END%
%TMPL:DEF{"JavascriptFiles/foswikiHTML"}%%TMPL:P{"LIBJS" id="JavascriptFiles/foswikiHTML" requires="JQUERYPLUGIN::FOSWIKI"}%%TMPL:END%
%TMPL:DEF{"JavascriptFiles/foswikilib"}%<!-- ERROR: foswikilib is deprecated -->%TMPL:END%
%TMPL:DEF{"JavascriptFiles/foswikiPref"}%%TMPL:P{"LIBJS" id="JavascriptFiles/foswikiPref" requires="JQUERYPLUGIN::FOSWIKI"}%%TMPL:END%
%TMPL:DEF{"JavascriptFiles/foswikiString"}%%TMPL:P{"LIBJS" id="JavascriptFiles/foswikiString" requires="JQUERYPLUGIN::FOSWIKI"}%%TMPL:END%
%TMPL:DEF{"JavascriptFiles/foswikiStringUnicodeChars"}%%TMPL:P{"LIBJS" id="JavascriptFiles/foswikiStringUnicodeChars" requires="JQUERYPLUGIN::FOSWIKI,JavascriptFiles/foswikiString"}%%TMPL:END%

%TMPL:DEF{"webListIndent"}%<span class='foswikiWebIndent'></span>%TMPL:END%

%TMPL:DEF{"image::exts"}%avif|jpe?g|gif|png|bmp|webp|svg|ico|tiff?|xcf|psd|heic|heif|AVIF|JPE?G|GIF|PNG|BMP|WEBP|SVG|ICO|TIFF|XCF|PSD?|HEIC|HEIF%TMPL:END%
%TMPL:DEF{"video::exts"}%mp4|MP4|ogv|OGV|mkv|MKV|avi|AVI|webm|WEBM|mpe?g|MPE?G|ogv|OGV%TMPL:END%

%TMPL:DEF{"getMimeTypeOfVideo"}%%IF{
  "'%video%'=~'\.(mp4|MP4)$'" then="video/mp4"
}%%IF{
  "'%video%'=~'\.(ogv|OGV)$'" then="video/ogg
"}%%IF{
  "'%video%'=~'\.(mpe?g|MPE?G)$'" then="video/mpeg"
"}%%IF{
  "'%video%'=~'\.(webm|WEBM)$'" then="video/webm"
"}%%IF{
  "'%video%'=~'\.(mkv|MKV)$'" then="video/mp4"
"}%%IF{
  "'%video%'=~'\.(avi|avi)$'" then="video/x-msvideo"
}%%TMPL:END%
