%TMPL:INCLUDE{"foswiki"}%
%TMPL:DEF{"logo"}%%NATWEBLOGO{format="<a href='$url'><img class='natWebLogo' src='$path/$style$variation-logo.png' style='width:9.5454em; max-width:210px' /></a>"}%%TMPL:END%
