%TMPL:INCLUDE{"foswiki"}%

%TMPL:DEF{"ACCOUNT"}%%TMPL:END%
%TMPL:DEF{"ACCOUNT_ACTION"}%<span class='natUserAction natAccountAction'>%TMPL:P{"user::photo" 
  web="%USERSWEB%" 
  topic="%WIKINAME%"
  size="32x32>^"
}%$label</span>%TMPL:END%
