%TMPL:INCLUDE{"foswiki"}%
%TMPL:DEF{"pagetitle"}%<title class="foswikiContents" name="title" type="plain"></title>%TMPL:END%
%TMPL:DEF{"logo"}%%NATWEBLOGO{
  format="<a href='%WIKILOGOURL%' title='$alt'>$logo</a>"
  height="60"
}%%TMPL:END%
