%TMPL:INCLUDE{"foswiki"}%

%{ bounceOut, bounceOutDown, bounceOutLeft, bounceOutRight, fadeOut, fadeOutDown, fadeOutLeft, fadeOutRight, hinge, hinge, zoomOut, zoomOutLeft, zoomOutRight, zoomOutDown }%
%TMPL:DEF{"pageouteffect"}%%ANGULAR_PAGEOUT_EFFECT{default=""}%%TMPL:END%

%{ pulse, bounceIn, bounceInLeft, bounceInRight, bounceInUp, fadeIn, fadeInUp, fadeInLeft, fadeInRight, lightSpeedIn, zoomIn, zoomInLeft, zoomInRight, zoomInUp }%
%TMPL:DEF{"pageineffect"}%%ANGULAR_PAGEIN_EFFECT{default=""}%%TMPL:END%

