%TMPL:INCLUDE{"foswiki"}%
%TMPL:DEF{"logo"}%%NATWEBLOGO{height="60"}%%TMPL:END%
%TMPL:DEF{"poweredby"}%<a class='natPoweredBy nop' href='http://foswiki.org' title='foswiki.org'><span><img src='%PUBURLPATH%/%SYSTEMWEB%/CustomatoTheme/foswiki-logo.png' height='40' /></span>%MAKETEXT{"Powered by Foswiki"}%</a>%TMPL:END%
