%TMPL:INCLUDE{"oops"}%%{}%
%TMPL:INCLUDE{"diff"}%%{}%

%{ ################################################################################ }%
%TMPL:DEF{"dialog"}%<noautolink>
<div class="jqUIDialog foswikiFormSteps" data-modal="true" data-draggable="true" data-width="auto" title="%TMPL:P{"heading"}%">
%TMPL:P{"formstart"}%%{}%
%TMPL:P{"revtable"}%%{}%
%TMPL:P{"formend"}%%{}%
%TMPL:P{"historyscript"}%%{}%
</div>
</noautolink>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"heading"}%%MAKETEXT{"Revision history of [_1]" args="%GETTOPICTITLE{"%BASEWEB%.%BASETOPIC%" encode="entity"}%"}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"formstart"}%%TMPL:P{context="DiffPluginEnabled" then="formstart_diff" else="formstart_else"}%%TMPL:END%
%TMPL:DEF{"formstart_else"}%%TMPL:P{context="CompareRevisionsAddonPluginEnabled" then="formstart_compare" else="formstart_rdiff"}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"formstart_diff"}%%{}%
<form name="main" action="%SCRIPTURLPATH{"diff"}%/%BASEWEB%/%BASETOPIC%">
<input type="hidden" name="context" value="2" />
%{}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"formstart_compare"}%%{}%
<form name="main" action="%SCRIPTURLPATH{"compare"}%/%BASEWEB%/%BASETOPIC%">
<input type="hidden" name="context" value="1" />
%{}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"formstart_rdiff"}%%{}%
<form name="main" action="%SCRIPTURLPATH{"rdiff"}%/%BASEWEB%/%BASETOPIC%">
<input type="hidden" name="render" value="%DIFFRENDERSTYLE{default="sequential"}%" />
%{}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"options"}%%TMPL:P{context="DiffPluginEnabled" else="options_else"}%%TMPL:END%
%TMPL:DEF{"options_else"}%<div class="foswikiRight">
<label><input type="radio" name="render" value="interweave" checked class="foswikiRadioButton"> %MAKETEXT{"interweave"}%</label>
<label><input type="radio" name="render" value="sidebyside" class="foswikiRadioButton"> %MAKETEXT{"side by side"}%</label>
<label><input type="radio" name="render" value="debug" class="foswikiRadioButton"> %MAKETEXT{"debug"}%</label>
</div>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"formend"}%%{}%
<!-- input type="hidden" name="render" value="interweave" -->
  <a class="jqUIDialogButton jqUIDialogSubmit jqUIDialogClose" data-icon="ui-icon-clock">%MAKETEXT{"Compare"}%</a>
  <a class="jqUIDialogButton jqUIDialogDestroy" data-icon="ui-icon-cancel">%MAKETEXT{"Close"}%</a>
</form>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"historyjavascript"}%%{}%
%ADDTOZONE{
  "script"
  id="NATSKIN::HISTORY"
  text="%TMPL:P{"historyscript"}%"
  requires="JQUERYPLUGIN::BLOCKUI"
}%%TMPL:END%
%TMPL:DEF{"historyscript"}%<script src='%PUBURLPATH%/%SYSTEMWEB%/NatSkin/build/history.js'></script>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"revtable"}%<div class="natHistoryTable">
%HISTORY{
  rev2="%URLPARAM{"rev"}%" 
  header="<div class='foswikiFormStep'>
    <table class='foswikiLayoutTable' width='99%'>
    <tr>
      <th style='width:6em'>%MAKETEXT{"Revision"}%</th>
      <th>%MAKETEXT{"Date"}%</th>
      <th>%MAKETEXT{"Author"}%</th>
      %IF{"context 'RevCommentPluginEnabled'" then="<th>%MAKETEXT{"Comment"}%</th>"}%%{}%
      <th><span class='natHistoryAction'>%MAKETEXT{"Action"}%</span></th>
    </tr>"
  format="<tr>
    <td><span style='width:2em;display:inline-block;text-align:right'>$rev</span>
      <input $checked1 type='radio' name='rev2' value='$rev' class='natHistoryRadio foswikiRadioButton' />
      <input $checked2 type='radio' name='rev1' value='$rev' class='natHistoryRadio foswikiRadioButton' />
    </td>
    <td style='width:10em'>$date</td>
    <td>
      $percntIF{\"istopic '$wikiusername'\" 
        then=\"[[$wikiusername]]\" else=\"<nop>$wikiname\"
      }$percnt
    </td>
    %IF{"context 'RevCommentPluginEnabled'" 
      then="<td>$dollarpercntREVCOMMENT{rev=\\"$rev\\"}$dollarpercnt</td>"
    }%<td>
      <a href='$percntSCRIPTURLPATH{\"view\" topic=\"%BASEWEB%.%BASETOPIC%\" rev=\"$rev\"}$percnt' title='%MAKETEXT{"View revision [_1]" args="$rev"}%' class='natHistoryAction'>
        %TMPL:P{"icon::view"}% %MAKETEXT{"View"}%
      </a>
      <a href='#restoretopic' title='%MAKETEXT{"Restore revision [_1]" args="$rev"}%' class='natHistoryAction natRestoreAction foswikiDialogLink' data-rev='$rev'>
        %TMPL:P{"icon::restore"}% %MAKETEXT{"Restore"}%
      </a>
     </td>
    </tr>" 
  footer="</table></div>
    <div class='foswikiFormStep'>
      $percntTMPL:P{\"options\"}$percnt%{}%
      $percntIF{\"'$next{'test'}'='test'\" 
        then=\"<a href='%SCRIPTURLPATH{oops}%/%BASEWEB%/%BASETOPIC%?template=oopshistory' class='natHistoryNavi'>
            $percntTMPL:P{\"diff::control::start::icon\"}$percnt
          </a>
          <a href='%SCRIPTURLPATH{oops}%/%BASEWEB%/%BASETOPIC%?template=oopshistory;rev=$next{$rev2}' class='natHistoryNavi' data-rev='$next{$rev2}}'>
            $percntTMPL:P{\"diff::control::prev::icon\"}$percnt
          </a>\"
        else=\"<a class='natHistoryNavi natDisabledTopicAction'>$percntTMPL:P{\"diff::control::start::disabled::icon\"}$percnt</a>
               <a class='natHistoryNavi natDisabledTopicAction'>$percntTMPL:P{\"diff::control::prev::disabled::icon\"}$percnt</a>\"
      }$percnt
      $percntIF{\"'$previous{'test'}'='test'\"
        then=\"<a href='%SCRIPTURLPATH{oops}%/%BASEWEB%/%BASETOPIC%?template=oopshistory;rev=$previous{$rev2}' class='natHistoryNavi' data-rev='$previous{$rev2}}'>
            $percntTMPL:P{\"diff::control::next::icon\"}$percnt
          </a>
          <a href='%SCRIPTURLPATH{oops}%/%BASEWEB%/%BASETOPIC%?template=oopshistory;rev=$previous{$nrev}' class='natHistoryNavi' data-rev='$previous{$nrev}}'>
            $percntTMPL:P{\"diff::control::end::icon\"}$percnt
          </a>\"
        else=\"<a class='natHistoryNavi natDisabledTopicAction'>$percntTMPL:P{\"diff::control::next::disabled::icon\"}$percnt</a>
               <a class='natHistoryNavi natDisabledTopicAction'>$percntTMPL:P{\"diff::control::end::disabled::icon\"}$percnt</a>\"
      }$percnt
    </div>"
}%
</div>%TMPL:END%
