%{ fontawesome }%
%TMPL:DEF{"icon::account::name"}%fa-user%TMPL:END%
%TMPL:DEF{"icon::attach::name"}%fa-upload%TMPL:END%
%TMPL:DEF{"icon::attachments::name"}%fa-paperclip%TMPL:END%
%TMPL:DEF{"icon::backlinks::name"}%fa-arrows-alt%TMPL:END%
%TMPL:DEF{"icon::bookmarks::name"}%fa-bookmark%TMPL:END%
%TMPL:DEF{"icon::bug::name"}%fa-bug%TMPL:END%
%TMPL:DEF{"icon::cancel::name"}%fa-times%TMPL:END%
%TMPL:DEF{"icon::changelanguage::name"}%fa-globe%TMPL:END%
%TMPL:DEF{"icon::changeadmin::name"}%fa-graduation-cap%TMPL:END%
%TMPL:DEF{"icon::comment::name"}%fa-comment-o%TMPL:END%
%TMPL:DEF{"icon::chat::name"}%fa-comment-o%TMPL:END%
%TMPL:DEF{"icon::childtopics::name"}%fa-child%TMPL:END%
%TMPL:DEF{"icon::close::name"}%fa-times%TMPL:END%
%TMPL:DEF{"icon::configure::name"}%fa-cog%TMPL:END%
%TMPL:DEF{"icon::contributors::name"}%fa-users%TMPL:END%
%TMPL:DEF{"icon::copy_topic::name"}%fa-clone%TMPL:END%
%TMPL:DEF{"icon::darkmode::name"}%fa-lightbulb-o%TMPL:END%
%TMPL:DEF{"icon::delete::name"}%fa-trash-o%TMPL:END%
%TMPL:DEF{"icon::archive::name"}%fa-archive%TMPL:END%
%TMPL:DEF{"icon::diff::name"}%fa-exchange%TMPL:END%
%TMPL:DEF{"icon::docu::name"}%fa-book%TMPL:END%
%TMPL:DEF{"icon::edit_form::name"}%fa-list-alt%TMPL:END%
%TMPL:DEF{"icon::edit::name"}%fa-pencil%TMPL:END%
%TMPL:DEF{"icon::edit_raw::name"}%fa-pencil-square-o%TMPL:END%
%TMPL:DEF{"icon::edit_settings::name"}%fa-wrench%TMPL:END%
%TMPL:DEF{"icon::edit_text::name"}%%TMPL:P{"icon::edit::name"}%%TMPL:END%
%TMPL:DEF{"icon::email::name"}%fa-envelope%TMPL:END%
%TMPL:DEF{"icon::favorite::name"}%fa-star-o%TMPL:END%
%TMPL:DEF{"icon::first::name"}%fa-step-backward%TMPL:END%
%TMPL:DEF{"icon::folder::name"}%fa-folder-o%TMPL:END%
%TMPL:DEF{"icon::folder_open::name"}%fa-folder-open-o%TMPL:END%
%TMPL:DEF{"icon::harvest::name"}%fa-download%TMPL:END%
%TMPL:DEF{"icon::help::name"}%fa-life-ring%TMPL:END%
%TMPL:DEF{"icon::history::name"}%fa-clock-o%TMPL:END%
%TMPL:DEF{"icon::home::name"}%fa-home%TMPL:END%
%TMPL:DEF{"icon::inbox::name"}%fa-inbox%TMPL:END%
%TMPL:DEF{"icon::last::name"}%fa-step-forward%TMPL:END%
%TMPL:DEF{"icon::like::name"}%fa-thumbs-o-up" class="fa-flip-horizontal%TMPL:END%
%TMPL:DEF{"icon::log_in::name"}%fa-sign-in%TMPL:END%
%TMPL:DEF{"icon::log_out::name"}%fa-sign-out%TMPL:END%
%TMPL:DEF{"icon::managetags::name"}%fa-tags%TMPL:END%
%TMPL:DEF{"icon::manual::name"}%fa-list%TMPL:END%
%TMPL:DEF{"icon::menu::name"}%fa-reorder%TMPL:END%
%TMPL:DEF{"icon::move::name"}%fa-arrows%TMPL:END%
%TMPL:DEF{"icon::new::name"}%fa-plus%TMPL:END%
%TMPL:DEF{"icon::next::name"}%fa-forward%TMPL:END%
%TMPL:DEF{"icon::ok::name"}%fa-check%TMPL:END%
%TMPL:DEF{"icon::online_help::name"}%fa-medkit%TMPL:END%
%TMPL:DEF{"icon::password::name"}%fa-key%TMPL:END%
%TMPL:DEF{"icon::permissions::name"}%fa-shield%TMPL:END%
%TMPL:DEF{"icon::pdf::name"}%fa-file-pdf-o%TMPL:END%
%TMPL:DEF{"icon::plain::name"}%fa-eye%TMPL:END%
%TMPL:DEF{"icon::plugin::name"}%fa-puzzle-piece%TMPL:END%
%TMPL:DEF{"icon::prev::name"}%fa-backward%TMPL:END%
%TMPL:DEF{"icon::print::name"}%fa-print%TMPL:END%
%TMPL:DEF{"icon::question::name"}%fa-question-circle%TMPL:END%
%TMPL:DEF{"icon::raw_data::name"}%fa-database%TMPL:END%
%TMPL:DEF{"icon::raw::name"}%fa-file-text-o%TMPL:END%
%TMPL:DEF{"icon::redirect::name"}%fa-undo%TMPL:END%
%TMPL:DEF{"icon::register::name"}%fa-users%TMPL:END%
%TMPL:DEF{"icon::removeuser::name"}%fa-user-times%TMPL:END%
%TMPL:DEF{"icon::restore::name"}%fa-pencil%TMPL:END%
%TMPL:DEF{"icon::sandbox::name"}%fa-archive%TMPL:END%
%TMPL:DEF{"icon::sections::name"}%fa-files-o%TMPL:END%
%TMPL:DEF{"icon::settings::name"}%fa-wrench%TMPL:END%
%TMPL:DEF{"icon::share::name"}%fa-share-alt%TMPL:END%
%TMPL:DEF{"icon::subscribe::name"}%fa-bell-o%TMPL:END%
%TMPL:DEF{"icon::translatetopic::name"}%fa-language%TMPL:END%
%TMPL:DEF{"icon::trash::name"}%fa-trash-o%TMPL:END%
%TMPL:DEF{"icon::twofactorauth::name"}%fa-mobile%TMPL:END%
%TMPL:DEF{"icon::unfavorite::name"}%fa-star%TMPL:END%
%TMPL:DEF{"icon::unsubscribe::name"}%fa-bell-slash-o%TMPL:END%
%TMPL:DEF{"icon::users::name"}%fa-users%TMPL:END%
%TMPL:DEF{"icon::view::name"}%fa-eye%TMPL:END%
%TMPL:DEF{"icon::workflow::name"}%fa-certificate%TMPL:END%
