%{ famfamfam }%
%TMPL:DEF{"icon::account::name"}%user%TMPL:END%
%TMPL:DEF{"icon::attach::name"}%attach%TMPL:END%
%TMPL:DEF{"icon::attachments::name"}%attach%TMPL:END%
%TMPL:DEF{"icon::backlinks::name"}%arrow_in%TMPL:END%
%TMPL:DEF{"icon::bug::name"}%bug%TMPL:END%
%TMPL:DEF{"icon::changelanguage::name"}%world%TMPL:END%
%TMPL:DEF{"icon::chat::name"}%comment%TMPL:END%
%TMPL:DEF{"icon::childtopics::name"}%sitemap%TMPL:END%
%TMPL:DEF{"icon::close::name"}%cross%TMPL:END%
%TMPL:DEF{"icon::configure::name"}%wand%TMPL:END%
%TMPL:DEF{"icon::copy_topic::name"}%page_white_copy%TMPL:END%
%TMPL:DEF{"icon::darkmode::name"}%lightbulb%TMPL:END%
%TMPL:DEF{"icon::delete::name"}%bin%TMPL:END%
%TMPL:DEF{"icon::archive::name"}%bin%TMPL:END%
%TMPL:DEF{"icon::diff::name"}%page_white_stack%TMPL:END%
%TMPL:DEF{"icon::docu::name"}%book%TMPL:END%
%TMPL:DEF{"icon::edit_form::name"}%application_form_edit%TMPL:END%
%TMPL:DEF{"icon::edit::name"}%pencil%TMPL:END%
%TMPL:DEF{"icon::edit_raw::name"}%page_white_edit%TMPL:END%
%TMPL:DEF{"icon::edit_settings::name"}%wrench%TMPL:END%
%TMPL:DEF{"icon::edit_text::name"}%pencil%TMPL:END%
%TMPL:DEF{"icon::email::name"}%email%TMPL:END%
%TMPL:DEF{"icon::favorite::name"}%star%TMPL:END%
%TMPL:DEF{"icon::first"}%<img alt='start' src='%PUBURLPATH%/%SYSTEMWEB%/NatSkin/images/control-start.png' />%TMPL:END%
%TMPL:DEF{"icon::folder::name"}%folder%TMPL:END%
%TMPL:DEF{"icon::folder_open::name"}%folder%TMPL:END%
%TMPL:DEF{"icon::harvest::name"}%photos%TMPL:END%
%TMPL:DEF{"icon::help::name"}%help%TMPL:END%
%TMPL:DEF{"icon::history::name"}%time%TMPL:END%
%TMPL:DEF{"icon::home::name"}%house%TMPL:END%
%TMPL:DEF{"icon::last"}%<img alt='end' src='%PUBURLPATH%/%SYSTEMWEB%/NatSkin/images/control-end.png' />%TMPL:END%
%TMPL:DEF{"icon::like::name"}%thumb_up%TMPL:END%
%TMPL:DEF{"icon::log_in::name"}%key%TMPL:END%
%TMPL:DEF{"icon::log_out::name"}%door_in%TMPL:END%
%TMPL:DEF{"icon::managetags::name"}%tag_blue_edit%TMPL:END%
%TMPL:DEF{"icon::manual::name"}%book%TMPL:END%
%TMPL:DEF{"icon::menu::name"}%cog%TMPL:END%
%TMPL:DEF{"icon::move::name"}%page_white_go%TMPL:END%
%TMPL:DEF{"icon::new::name"}%add%TMPL:END%
%TMPL:DEF{"icon::next"}%<img alt='next' src='%PUBURLPATH%/%SYSTEMWEB%/NatSkin/images/control-right.png' />%TMPL:END%
%TMPL:DEF{"icon::online_help::name"}%help%TMPL:END%
%TMPL:DEF{"icon::password::name"}%key%TMPL:END%
%TMPL:DEF{"icon::pdf::name"}%page_white_acrobat%TMPL:END%
%TMPL:DEF{"icon::plain::name"}%eye%TMPL:END%
%TMPL:DEF{"icon::plugin::name"}%plugin%TMPL:END%
%TMPL:DEF{"icon::prev"}%<img alt='prev' src='%PUBURLPATH%/%SYSTEMWEB%/NatSkin/images/control-left.png' />%TMPL:END%
%TMPL:DEF{"icon::print::name"}%printer%TMPL:END%
%TMPL:DEF{"icon::question::name"}%help%TMPL:END%
%TMPL:DEF{"icon::raw_data::name"}%database%TMPL:END%
%TMPL:DEF{"icon::raw::name"}%text_align_left%TMPL:END%
%TMPL:DEF{"icon::redirect::name"}%arrow_undo%TMPL:END%
%TMPL:DEF{"icon::register::name"}%user_add%TMPL:END%
%TMPL:DEF{"icon::removeuser::name"}user_delete%TMPL:END%
%TMPL:DEF{"icon::restore::name"}%pencil%TMPL:END%
%TMPL:DEF{"icon::sandbox::name"}%box%TMPL:END%
%TMPL:DEF{"icon::sections::name"}%application_split%TMPL:END%
%TMPL:DEF{"icon::settings::name"}%wrench%TMPL:END%
%TMPL:DEF{"icon::share::name"}%lightning%TMPL:END%
%TMPL:DEF{"icon::subscribe::name"}%email_star%TMPL:END%
%TMPL:DEF{"icon::translatetopic::name"}%layers%TMPL:END%
%TMPL:DEF{"icon::trash::name"}%bin%TMPL:END%
%TMPL:DEF{"icon::twofactorauth::name"}%shield%TMPL:END%
%TMPL:DEF{"icon::unfavorite::name"}%delete%TMPL:END%
%TMPL:DEF{"icon::unsubscribe::name"}%email_stop%TMPL:END%
%TMPL:DEF{"icon::view::name"}%eye%TMPL:END%
%TMPL:DEF{"icon::workflow::name"}%time%TMPL:END%
