%{ material icons }%
%TMPL:DEF{"icon::account::name"}%ma-account-circle%TMPL:END%
%TMPL:DEF{"icon::attach::name"}%ma-file-upload%TMPL:END%
%TMPL:DEF{"icon::attachments::name"}%ma-attach-file%TMPL:END%
%TMPL:DEF{"icon::backlinks::name"}%ma-games%TMPL:END%
%TMPL:DEF{"icon::bookmarks::name"}%ma-bookmark%TMPL:END%
%TMPL:DEF{"icon::bug::name"}%ma-bug-report%TMPL:END%
%TMPL:DEF{"icon::calendar::name"}%ma-calendar-month%TMPL:END%
%TMPL:DEF{"icon::cancel::name"}%fa-times%TMPL:END%
%TMPL:DEF{"icon::changelanguage::name"}%ma-language%TMPL:END%
%TMPL:DEF{"icon::changeadmin::name"}%fa-graduation-cap%TMPL:END%
%TMPL:DEF{"icon::comment::name"}%ma-chat-bubble-outline%TMPL:END%
%TMPL:DEF{"icon::chat::name"}%ma-chat-bubble-outline%TMPL:END%
%TMPL:DEF{"icon::childtopics::name"}%ma-child-care%TMPL:END%
%TMPL:DEF{"icon::close::name"}%ma-close%TMPL:END%
%TMPL:DEF{"icon::configure::name"}%ma-settings%TMPL:END%
%TMPL:DEF{"icon::contributors::name"}%ma-people%TMPL:END%
%TMPL:DEF{"icon::copy_topic::name"}%ma-content-copy%TMPL:END%
%TMPL:DEF{"icon::darkmode::name"}%ma-lightbulb-outline%TMPL:END%
%TMPL:DEF{"icon::delete::name"}%ma-delete%TMPL:END%
%TMPL:DEF{"icon::archive::name"}%ma-archive%TMPL:END%
%TMPL:DEF{"icon::diff::name"}%ma-change-history%TMPL:END%
%TMPL:DEF{"icon::docu::name"}%ma-book%TMPL:END%
%TMPL:DEF{"icon::edit_form::name"}%fa-pencil-square-o%TMPL:END%
%TMPL:DEF{"icon::edit::name"}%ma-edit%TMPL:END%
%TMPL:DEF{"icon::edit_raw::name"}%ma-keyboard%TMPL:END%
%TMPL:DEF{"icon::edit_settings::name"}%ma-build%TMPL:END%
%TMPL:DEF{"icon::edit_text::name"}%%TMPL:P{"icon::edit::name"}%%TMPL:END%
%TMPL:DEF{"icon::email::name"}%ma-email%TMPL:END%
%TMPL:DEF{"icon::favorite::name"}%ma-star-border%TMPL:END%
%TMPL:DEF{"icon::file::name"}%ma-file-open%TMPL:END%
%TMPL:DEF{"icon::first::name"}%ma-first-page%TMPL:END%
%TMPL:DEF{"icon::folder::name"}%ma-folder%TMPL:END%
%TMPL:DEF{"icon::folder_open::name"}%ma-folder-open%TMPL:END%
%TMPL:DEF{"icon::harvest::name"}%ma-file-download%TMPL:END%
%TMPL:DEF{"icon::help::name"}%ma-help%TMPL:END%
%TMPL:DEF{"icon::history::name"}%ma-history%TMPL:END%
%TMPL:DEF{"icon::home::name"}%ma-home%TMPL:END%
%TMPL:DEF{"icon::inbox::name"}%ma-inbox%TMPL:END%
%TMPL:DEF{"icon::last::name"}%ma-last-page%TMPL:END%
%TMPL:DEF{"icon::layoutgrid::name"}%ma-grid-view%TMPL:END%
%TMPL:DEF{"icon::layoutlist::name"}%ma-view-list%TMPL:END%
%TMPL:DEF{"icon::like::name"}%ma-thumb-up%TMPL:END%
%TMPL:DEF{"icon::log_in::name"}%ma-vpn-key%TMPL:END%
%TMPL:DEF{"icon::log_out::name"}%ma-power-settings-new%TMPL:END%
%TMPL:DEF{"icon::managetags::name"}%ma-label-outline%TMPL:END%
%TMPL:DEF{"icon::manual::name"}%ma-library-books%TMPL:END%
%TMPL:DEF{"icon::menu::name"}%ma-menu%TMPL:END%
%TMPL:DEF{"icon::move::name"}%fa-arrows%TMPL:END%
%TMPL:DEF{"icon::new::name"}%fa-plus%TMPL:END%
%TMPL:DEF{"icon::next::name"}%ma-chevron-right%TMPL:END%
%TMPL:DEF{"icon::ok::name"}%fa-check%TMPL:END%
%TMPL:DEF{"icon::online_help::name"}%ma-live-help%TMPL:END%
%TMPL:DEF{"icon::password::name"}%ma-vpn-key%TMPL:END%
%TMPL:DEF{"icon::permissions::name"}%ma-shield%TMPL:END%
%TMPL:DEF{"icon::pdf::name"}%ma-picture-as-pdf%TMPL:END%
%TMPL:DEF{"icon::plain::name"}%ma-remove-red-eye%TMPL:END%
%TMPL:DEF{"icon::plugin::name"}%ma-extension%TMPL:END%
%TMPL:DEF{"icon::prev::name"}%ma-chevron-left%TMPL:END%
%TMPL:DEF{"icon::print::name"}%ma-print%TMPL:END%
%TMPL:DEF{"icon::question::name"}%ma-help-outline%TMPL:END%
%TMPL:DEF{"icon::raw_data::name"}%ma-storage%TMPL:END%
%TMPL:DEF{"icon::raw::name"}%ma-code%TMPL:END%
%TMPL:DEF{"icon::refresh::name"}%ma-refresh%TMPL:END%
%TMPL:DEF{"icon::redirect::name"}%ma-undo%TMPL:END%
%TMPL:DEF{"icon::register::name"}%ma-group%TMPL:END%
%TMPL:DEF{"icon::removeuser::name"}%ma-person-outline%TMPL:END%
%TMPL:DEF{"icon::restore::name"}%ma-restore%TMPL:END%
%TMPL:DEF{"icon::sandbox::name"}%fa-archive%TMPL:END%
%TMPL:DEF{"icon::scrolltop::name"}%ma-keyboard-double-arrow-up%TMPL:END%
%TMPL:DEF{"icon::search::name"}%ma-search%TMPL:END%
%TMPL:DEF{"icon::sections::name"}%ma-collections%TMPL:END%
%TMPL:DEF{"icon::settings::name"}%ma-build%TMPL:END%
%TMPL:DEF{"icon::share::name"}%ma-share%TMPL:END%
%TMPL:DEF{"icon::subscribe::name"}%ma-notifications%TMPL:END%
%TMPL:DEF{"icon::translatetopic::name"}%ma-translate%TMPL:END%
%TMPL:DEF{"icon::trash::name"}%ma-delete%TMPL:END%
%TMPL:DEF{"icon::twofactorauth::name"}%ma-phone-android%TMPL:END%
%TMPL:DEF{"icon::unfavorite::name"}%ma-star%TMPL:END%
%TMPL:DEF{"icon::unsubscribe::name"}%ma-notifications-off%TMPL:END%
%TMPL:DEF{"icon::users::name"}%ma-manage-accounts%TMPL:END%
%TMPL:DEF{"icon::view::name"}%ma-remove-red-eye%TMPL:END%
%TMPL:DEF{"icon::workflow::name"}%ma-star-border%TMPL:END%
