%TMPL:INCLUDE{"icons"}%%{ icons from base skin }%

%{ default icon names }%
%TMPL:DEF{"icon::account::name"}%ma-person%TMPL:END%
%TMPL:DEF{"icon::attachments::name"}%ma-attach-file%TMPL:END%
%TMPL:DEF{"icon::attach::name"}%ma-file-upload%TMPL:END%
%TMPL:DEF{"icon::backlinks::name"}%ma-games%TMPL:END%
%TMPL:DEF{"icon::bookmarks::name"}%ma-bookmarks%TMPL:END%
%TMPL:DEF{"icon::bug::name"}%ma-bug-report%TMPL:END%
%TMPL:DEF{"icon::calendar::name"}%ma-calendar-month%TMPL:END%
%TMPL:DEF{"icon::cancel::name"}%fa-times%TMPL:END%
%TMPL:DEF{"icon::changeadmin::name"}%fa-graduation-cap%TMPL:END%
%TMPL:DEF{"icon::changelanguage::name"}%ma-language%TMPL:END%
%TMPL:DEF{"icon::chat::name"}%fa-commenting-o%TMPL:END%
%TMPL:DEF{"icon::childtopics::name"}%ma-child-care%TMPL:END%
%TMPL:DEF{"icon::close::name"}%ma-close%TMPL:END%
%TMPL:DEF{"icon::comment::name"}%fa-comment%TMPL:END%
%TMPL:DEF{"icon::configure::name"}%ma-settings%TMPL:END%
%TMPL:DEF{"icon::contributors::name"}%ma-people%TMPL:END%
%TMPL:DEF{"icon::copy_topic::name"}%ma-content-copy%TMPL:END%
%TMPL:DEF{"icon::darkmode::name"}%ma-lightbulb-outline%TMPL:END%
%TMPL:DEF{"icon::delete::name"}%ma-delete%TMPL:END%
%TMPL:DEF{"icon::archive::name"}%ma-archive%TMPL:END%
%TMPL:DEF{"icon::diff::name"}%ma-change-history%TMPL:END%
%TMPL:DEF{"icon::docu::name"}%ma-book%TMPL:END%
%TMPL:DEF{"icon::edit_form::name"}%fa-pencil-square-o%TMPL:END%
%TMPL:DEF{"icon::edit::name"}%fa-pencil%TMPL:END%
%TMPL:DEF{"icon::edit_raw::name"}%ma-keyboard%TMPL:END%
%TMPL:DEF{"icon::edit_settings::name"}%ma-build%TMPL:END%
%TMPL:DEF{"icon::edit_text::name"}%%TMPL:P{"icon::edit::name"}%%TMPL:END%
%TMPL:DEF{"icon::email::name"}%ma-email%TMPL:END%
%TMPL:DEF{"icon::favorite::name"}%ma-bookmark-add%TMPL:END%
%TMPL:DEF{"icon::file::name"}%ma-file-open%TMPL:END%
%TMPL:DEF{"icon::first::name"}%ma-first-page%TMPL:END%
%TMPL:DEF{"icon::folder::name"}%fa-folder-o%TMPL:END%
%TMPL:DEF{"icon::folder_open::name"}%fa-folder-open-o%TMPL:END%
%TMPL:DEF{"icon::harvest::name"}%ma-file-download%TMPL:END%
%TMPL:DEF{"icon::help::name"}%ma-help%TMPL:END%
%TMPL:DEF{"icon::history::name"}%ma-history%TMPL:END%
%TMPL:DEF{"icon::home::name"}%ma-home%TMPL:END%
%TMPL:DEF{"icon::inbox::name"}%ma-inbox%TMPL:END%
%TMPL:DEF{"icon::last::name"}%ma-last-page%TMPL:END%
%TMPL:DEF{"icon::layoutgrid::name"}%ma-grid-view%TMPL:END%
%TMPL:DEF{"icon::layoutlist::name"}%ma-view-list%TMPL:END%
%TMPL:DEF{"icon::like::name"}%ma-thumb-up%TMPL:END%
%TMPL:DEF{"icon::link::name"}%ma-link%TMPL:END%
%TMPL:DEF{"icon::unlike::name"}%ma-thumb-down%TMPL:END%
%TMPL:DEF{"icon::log_in::name"}%ma-vpn-key%TMPL:END%
%TMPL:DEF{"icon::log_out::name"}%ma-power-settings-new%TMPL:END%
%TMPL:DEF{"icon::managetags::name"}%ma-label-outline%TMPL:END%
%TMPL:DEF{"icon::manual::name"}%ma-library-books%TMPL:END%
%TMPL:DEF{"icon::menu::name"}%fa-bars%TMPL:END%
%TMPL:DEF{"icon::move::name"}%ma-open-with%TMPL:END%
%TMPL:DEF{"icon::new::name"}%fa-plus%TMPL:END%
%TMPL:DEF{"icon::next::name"}%ma-chevron-right%TMPL:END%
%TMPL:DEF{"icon::ok::name"}%fa-check%TMPL:END%
%TMPL:DEF{"icon::online_help::name"}%ma-live-help%TMPL:END%
%TMPL:DEF{"icon::password::name"}%ma-vpn-key%TMPL:END%
%TMPL:DEF{"icon::pdf::name"}%ma-picture-as-pdf%TMPL:END%
%TMPL:DEF{"icon::permissions::name"}%ma-shield%TMPL:END%
%TMPL:DEF{"icon::plain::name"}%ma-remove-red-eye%TMPL:END%
%TMPL:DEF{"icon::plugin::name"}%ma-extension%TMPL:END%
%TMPL:DEF{"icon::prev::name"}%ma-chevron-left%TMPL:END%
%TMPL:DEF{"icon::print::name"}%ma-print%TMPL:END%
%TMPL:DEF{"icon::question::name"}%ma-help-outline%TMPL:END%
%TMPL:DEF{"icon::raw_data::name"}%ma-storage%TMPL:END%
%TMPL:DEF{"icon::raw::name"}%ma-code%TMPL:END%
%TMPL:DEF{"icon::redirect::name"}%ma-undo%TMPL:END%
%TMPL:DEF{"icon::refresh::name"}%ma-refresh%TMPL:END%
%TMPL:DEF{"icon::register::name"}%ma-group%TMPL:END%
%TMPL:DEF{"icon::removeuser::name"}%ma-person-outline%TMPL:END%
%TMPL:DEF{"icon::restore::name"}%ma-restore%TMPL:END%
%TMPL:DEF{"icon::revision::name"}%ma-flag%TMPL:END%
%TMPL:DEF{"icon::rss::name"}%ma-rss-feed%TMPL:END%
%TMPL:DEF{"icon::sandbox::name"}%fa-archive%TMPL:END%
%TMPL:DEF{"icon::scrolltop::name"}%ma-keyboard-double-arrow-up%TMPL:END%
%TMPL:DEF{"icon::search::name"}%ma-search%TMPL:END%
%TMPL:DEF{"icon::sections::name"}%ma-collections%TMPL:END%
%TMPL:DEF{"icon::settings::name"}%ma-build%TMPL:END%
%TMPL:DEF{"icon::share::name"}%ma-share%TMPL:END%
%TMPL:DEF{"icon::subscribe::name"}%ma-notifications%TMPL:END%
%TMPL:DEF{"icon::translatetopic::name"}%ma-translate%TMPL:END%
%TMPL:DEF{"icon::trash::name"}%ma-delete%TMPL:END%
%TMPL:DEF{"icon::twofactorauth::name"}%ma-phone-android%TMPL:END%
%TMPL:DEF{"icon::unfavorite::name"}%ma-bookmark-remove%TMPL:END%
%TMPL:DEF{"icon::unsubscribe::name"}%ma-notifications-off%TMPL:END%
%TMPL:DEF{"icon::users::name"}%ma-manage-accounts%TMPL:END%
%TMPL:DEF{"icon::view::name"}%ma-remove-red-eye%TMPL:END%
%TMPL:DEF{"icon::workflow::name"}%ma-star-border%TMPL:END%

%{ map icon names to icons }%
%TMPL:DEF{"icon::account"}%%JQICON{"%TMPL:P{"icon::account::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::attach"}%%JQICON{"%TMPL:P{"icon::attach::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::attachments"}%%JQICON{"%TMPL:P{"icon::attachments::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::backlinks"}%%JQICON{"%TMPL:P{"icon::backlinks::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::bookmarks"}%%JQICON{"%TMPL:P{"icon::bookmarks::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::bug"}%%JQICON{"%TMPL:P{"icon::bug::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::calendar"}%%JQICON{"%TMPL:P{"icon::calendar::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::cancel"}%%JQICON{"%TMPL:P{"icon::cancel::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::changeadmin"}%%JQICON{"%TMPL:P{"icon::changeadmin::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::changelanguage"}%%JQICON{"%TMPL:P{"icon::changelanguage::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::chat"}%%JQICON{"%TMPL:P{"icon::chat::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::childtopics"}%%JQICON{"%TMPL:P{"icon::childtopics::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::close"}%%JQICON{"%TMPL:P{"icon::close::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::comment"}%%JQICON{"%TMPL:P{"icon::comment::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::configure"}%%JQICON{"%TMPL:P{"icon::configure::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::contributors"}%%JQICON{"%TMPL:P{"icon::contributors::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::copy_topic"}%%JQICON{"%TMPL:P{"icon::copy_topic::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::darkmode"}%%JQICON{"%TMPL:P{"icon::darkmode::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::delete"}%%JQICON{"%TMPL:P{"icon::delete::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::archive"}%%JQICON{"%TMPL:P{"icon::archive::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::diff"}%%JQICON{"%TMPL:P{"icon::diff::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::docu"}%%JQICON{"%TMPL:P{"icon::docu::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::edit_form"}%%JQICON{"%TMPL:P{"icon::edit_form::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::edit"}%%JQICON{"%TMPL:P{"icon::edit::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::edit_raw"}%%JQICON{"%TMPL:P{"icon::edit_raw::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::edit_settings"}%%JQICON{"%TMPL:P{"icon::edit_settings::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::edit_text"}%%JQICON{"%TMPL:P{"icon::edit_text::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::email"}%%JQICON{"%TMPL:P{"icon::email::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::favorite"}%%JQICON{"%TMPL:P{"icon::favorite::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::file"}%%JQICON{"%TMPL:P{"icon::file::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::first"}%%JQICON{"%TMPL:P{"icon::first::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::folder"}%%JQICON{"%TMPL:P{"icon::folder::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::folder_open"}%%JQICON{"%TMPL:P{"icon::folder_open::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::harvest"}%%JQICON{"%TMPL:P{"icon::harvest::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::help"}%%JQICON{"%TMPL:P{"icon::help::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::history"}%%JQICON{"%TMPL:P{"icon::history::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::home"}%%JQICON{"%TMPL:P{"icon::home::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::inbox"}%%JQICON{"%TMPL:P{"icon::inbox::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::last"}%%JQICON{"%TMPL:P{"icon::last::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::layoutgrid"}%%JQICON{"%TMPL:P{"icon::layoutgrid::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::layoutlist"}%%JQICON{"%TMPL:P{"icon::layoutlist::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::like"}%%JQICON{"%TMPL:P{"icon::like::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::link"}%%JQICON{"%TMPL:P{"icon::link::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::unlike"}%%JQICON{"%TMPL:P{"icon::unlike::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::log_in"}%%JQICON{"%TMPL:P{"icon::log_in::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::log_out"}%%JQICON{"%TMPL:P{"icon::log_out::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::managetags"}%%JQICON{"%TMPL:P{"icon::managetags::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::manual"}%%JQICON{"%TMPL:P{"icon::manual::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::menu"}%%JQICON{"%TMPL:P{"icon::menu::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::move"}%%JQICON{"%TMPL:P{"icon::move::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::new"}%%JQICON{"%TMPL:P{"icon::new::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::next"}%%JQICON{"%TMPL:P{"icon::next::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::ok"}%%JQICON{"%TMPL:P{"icon::ok::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::online_help"}%%JQICON{"%TMPL:P{"icon::online_help::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::password"}%%JQICON{"%TMPL:P{"icon::password::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::pdf"}%%JQICON{"%TMPL:P{"icon::pdf::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::permissions"}%%JQICON{"%TMPL:P{"icon::permissions::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::plain"}%%JQICON{"%TMPL:P{"icon::plain::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::plugin"}%%JQICON{"%TMPL:P{"icon::plugin::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::prev"}%%JQICON{"%TMPL:P{"icon::prev::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::print"}%%JQICON{"%TMPL:P{"icon::print::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::question"}%%JQICON{"%TMPL:P{"icon::question::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::raw_data"}%%JQICON{"%TMPL:P{"icon::raw_data::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::raw"}%%JQICON{"%TMPL:P{"icon::raw::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::redirect"}%%JQICON{"%TMPL:P{"icon::redirect::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::register"}%%JQICON{"%TMPL:P{"icon::register::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::refresh"}%%JQICON{"%TMPL:P{"icon::refresh::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::removeuser"}%%JQICON{"%TMPL:P{"icon::removeuser::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::restore"}%%JQICON{"%TMPL:P{"icon::restore::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::revision"}%%JQICON{"%TMPL:P{"icon::revision::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::rss"}%%JQICON{"%TMPL:P{"icon::rss::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::sandbox"}%%JQICON{"%TMPL:P{"icon::sandbox::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::scrolltop"}%%JQICON{"%TMPL:P{"icon::scrolltop::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::search"}%%JQICON{"%TMPL:P{"icon::search::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::sections"}%%JQICON{"%TMPL:P{"icon::sections::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::settings"}%%JQICON{"%TMPL:P{"icon::settings::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::share"}%%JQICON{"%TMPL:P{"icon::share::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::subscribe"}%%JQICON{"%TMPL:P{"icon::subscribe::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::translatetopic"}%%JQICON{"%TMPL:P{"icon::translatetopic::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::trash"}%%JQICON{"%TMPL:P{"icon::trash::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::twofactorauth"}%%JQICON{"%TMPL:P{"icon::twofactorauth::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::unfavorite"}%%JQICON{"%TMPL:P{"icon::unfavorite::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::unsubscribe"}%%JQICON{"%TMPL:P{"icon::unsubscribe::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::users"}%%JQICON{"%TMPL:P{"icon::users::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::view"}%%JQICON{"%TMPL:P{"icon::view::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::workflow"}%%JQICON{"%TMPL:P{"icon::workflow::name"}%"}%%TMPL:END%

%{ TopicInteractionPlugin }%
%TMPL:DEF{"metadata::spinner::icon"}%fa-spinner%TMPL:END%
%TMPL:DEF{"metadata::uploadbutton::icon"}%ma ma-upload%TMPL:END%
%TMPL:DEF{"metadata::optionsbutton::icon"}%ma-settings%TMPL:END%
%TMPL:DEF{"metadata::selectall::icon"}%ma-done-all%TMPL:END%
%TMPL:DEF{"metadata::clearall::icon"}%ma-clear-all%TMPL:END%
%TMPL:DEF{"metadata::select::icon"}%fa-check%TMPL:END%
%TMPL:DEF{"metadata::edit::icon"}%fa-pencil%TMPL:END%
%TMPL:DEF{"metadata::properties::icon"}%fa-wrench%TMPL:END%
%TMPL:DEF{"metadata::preview::icon"}%ma-remove-red-eye%TMPL:END%
%TMPL:DEF{"metadata::prehear::icon"}%ma-headphones%TMPL:END%
%TMPL:DEF{"metadata::move::icon"}%ma-open-with%TMPL:END%
%TMPL:DEF{"metadata::delete::icon"}%ma-delete%TMPL:END%
%TMPL:DEF{"metadata::like::icon"}%ma-thumb-up-alt%TMPL:END%

%{ pluggable auth - TODO }%
%TMPL:DEF{"twofactorauth::icon::logout"}%%TMPL:P{"icon::log_out"}%%TMPL:END%
%TMPL:DEF{"twofactorauth::icon::abort"}%%JQICON{"ma-block"}%%TMPL:END%
%TMPL:DEF{"twofactorauth::icon::left"}%%JQICON{"ma-arrow-back"}%%TMPL:END%
%TMPL:DEF{"twofactorauth::icon::right"}%%JQICON{"ma-arrow-forward"}%%TMPL:END%
%TMPL:DEF{"twofactorauth::icon::submit"}%%JQICON{"fa-check"}%%TMPL:END%
