%{ material icons }%
%TMPL:DEF{"ACCOUNT_ICON"}%%JQICON{"fa-user"}%%TMPL:END%
%TMPL:DEF{"ATTACH_ICON"}%%JQICON{"ma-file-upload"}%%TMPL:END%
%TMPL:DEF{"ATTACHMENTS_ICON"}%%JQICON{"ma-attach-file"}%%TMPL:END%
%TMPL:DEF{"BACKLINKS_ICON"}%%JQICON{"ma-games"}%%TMPL:END%
%TMPL:DEF{"BUG_ICON"}%%JQICON{"ma-bug-report"}%%TMPL:END%
%TMPL:DEF{"CHANGELANGUAGE_ICON"}%%JQICON{"ma-language"}%%TMPL:END%
%TMPL:DEF{"CHAT_ICON"}%%JQICON{"ma-chat-bubble-outline"}%%TMPL:END%
%TMPL:DEF{"CHILDTOPICS_ICON"}%%JQICON{"ma-child-care"}%%TMPL:END%
%TMPL:DEF{"CLOSE_ICON"}%%JQICON{"ma-close"}%%TMPL:END%
%TMPL:DEF{"CONFIGURE_ICON"}%%JQICON{"ma-widgets"}%%TMPL:END%
%TMPL:DEF{"COPY_TOPIC_ICON"}%%JQICON{"ma-content-copy"}%%TMPL:END%
%TMPL:DEF{"DELETE_ICON"}%%JQICON{"ma-delete"}%%TMPL:END%
%TMPL:DEF{"DIFF_ICON"}%%JQICON{"ma-change-history"}%%TMPL:END%
%TMPL:DEF{"DOCU_ICON"}%%JQICON{"ma-book"}%%TMPL:END%
%TMPL:DEF{"EDIT_FORM_ICON"}%%JQICON{"fa-pencil-square-o"}%%TMPL:END%
%TMPL:DEF{"EDIT_ICON"}%%JQICON{"ma-edit"}%%TMPL:END%
%TMPL:DEF{"EDIT_RAW_ICON"}%%JQICON{"ma-keyboard"}%%TMPL:END%
%TMPL:DEF{"EDIT_SETTINGS_ICON"}%%JQICON{"ma-build"}%%TMPL:END%
%TMPL:DEF{"EDIT_TEXT_ICON"}%%TMPL:P{"EDIT_ICON"}%%TMPL:END%
%TMPL:DEF{"EMAIL_ICON"}%%JQICON{"ma-email"}%%TMPL:END%
%TMPL:DEF{"FAVORITE_ICON"}%%JQICON{"ma-star-border"}%%TMPL:END%
%TMPL:DEF{"FIRST_ICON"}%%JQICON{"ma-first-page"}%%TMPL:END%
%TMPL:DEF{"FIRST_ICON_RESTRICTED"}%%TMPL:P{"FIRST_ICON"}%%TMPL:END%
%TMPL:DEF{"FOLDER_OPEN_ICON"}%%JQICON{"ma-folder-open"}%%TMPL:END%
%TMPL:DEF{"HARVEST_ICON"}%%JQICON{"ma-file-download"}%%TMPL:END%
%TMPL:DEF{"HELP_ICON"}%%JQICON{"ma-help"}%%TMPL:END%
%TMPL:DEF{"HISTORY_ICON"}%%JQICON{"ma-history"}%%TMPL:END%
%TMPL:DEF{"HOME_ICON"}%%JQICON{"ma-home"}%%TMPL:END%
%TMPL:DEF{"LAST_ICON"}%%JQICON{"ma-last-page"}%%TMPL:END%
%TMPL:DEF{"LAST_ICON_RESTRICTED"}%%TMPL:P{"LAST_ICON"}%%TMPL:END%
%TMPL:DEF{"LIKE_ICON"}%%JQICON{"ma-thumb-up"}%%TMPL:END%
%TMPL:DEF{"LOG_IN_ICON"}%%JQICON{"ma-vpn-key"}%%TMPL:END%
%TMPL:DEF{"LOG_OUT_ICON"}%%JQICON{"ma-power-settings-new"}%%TMPL:END%
%TMPL:DEF{"MANAGETAGS_ICON"}%%JQICON{"ma-label-outline"}%%TMPL:END%
%TMPL:DEF{"MANUAL_ICON"}%%JQICON{"ma-library-books"}%%TMPL:END%
%TMPL:DEF{"MENU_ICON"}%%JQICON{"ma-settings"}%%TMPL:END%
%TMPL:DEF{"MOVE_ICON"}%%JQICON{"fa-arrows"}%%TMPL:END%
%TMPL:DEF{"NEW_ICON"}%%JQICON{"fa-plus"}%%TMPL:END%
%TMPL:DEF{"NEXT_ICON"}%%JQICON{"ma-chevron-right"}%%TMPL:END%
%TMPL:DEF{"NEXT_ICON_RESTRICTED"}%%TMPL:P{"NEXT_ICON"}%%TMPL:END%
%TMPL:DEF{"ONLINE_HELP_ICON"}%%JQICON{"ma-live-help"}%%TMPL:END%
%TMPL:DEF{"PASSWORD_ICON"}%%JQICON{"ma-vpn-key"}%%TMPL:END%
%TMPL:DEF{"TWOFACTORAUTH_ICON"}%%JQICON{"ma-phone-android"}%%TMPL:END%
%TMPL:DEF{"PDF_ICON"}%%JQICON{"ma-picture-as-pdf"}%%TMPL:END%
%TMPL:DEF{"PLUGIN_ICON"}%%JQICON{"ma-extension"}%%TMPL:END%
%TMPL:DEF{"PREV_ICON"}%%JQICON{"ma-chevron-left"}%%TMPL:END%
%TMPL:DEF{"PREV_ICON_RESTRICTED"}%%TMPL:P{"PREV_ICON"}%%TMPL:END%
%TMPL:DEF{"PRINT_ICON"}%%JQICON{"ma-print"}%%TMPL:END%
%TMPL:DEF{"QUESTION_ICON"}%%JQICON{"ma-help-outline"}%%TMPL:END%
%TMPL:DEF{"RAW_DATA_ICON"}%%JQICON{"ma-storage"}%%TMPL:END%
%TMPL:DEF{"RAW_ICON"}%%JQICON{"ma-code"}%%TMPL:END%
%TMPL:DEF{"REDIRECT_ICON"}%%JQICON{"ma-undo"}%%TMPL:END%
%TMPL:DEF{"REGISTER_ICON"}%%JQICON{"ma-group"}%%TMPL:END%
%TMPL:DEF{"RESTORE_ICON"}%%JQICON{"ma-undo"}%%TMPL:END%
%TMPL:DEF{"SANDBOX_ICON"}%%JQICON{"fa-archive"}%%TMPL:END%
%TMPL:DEF{"SECTIONS_ICON"}%%JQICON{"ma-collections"}%%TMPL:END%
%TMPL:DEF{"SETTINGS_ICON"}%%JQICON{"ma-build"}%%TMPL:END%
%TMPL:DEF{"SHARE_ICON"}%%JQICON{"ma-share"}%%TMPL:END%
%TMPL:DEF{"SUBSCRIBE_ICON"}%%JQICON{"ma-notifications"}%%TMPL:END%
%TMPL:DEF{"TRANSLATETOPIC_ICON"}%%JQICON{"ma-translate"}%%TMPL:END%
%TMPL:DEF{"TRASH_ICON"}%%JQICON{"ma-delete"}%%TMPL:END%
%TMPL:DEF{"UNFAVORITE_ICON"}%%JQICON{"ma-star"}%%TMPL:END%
%TMPL:DEF{"UNSUBSCRIBE_ICON"}%%JQICON{"ma-notifications-off"}%%TMPL:END%
%TMPL:DEF{"VIEW_ICON"}%%JQICON{"ma-remove-red-eye"}%%TMPL:END%
%TMPL:DEF{"WEBDAVDIR_ICON"}%%JQICON{"ma-folder-open"}%%TMPL:END%
