%{ all icons }%
%TMPL:DEF{"ACCOUNT_ICON"}%%TMPL:END%
%TMPL:DEF{"ATTACH_ICON"}%%TMPL:END%
%TMPL:DEF{"BACKLINKS_ICON"}%%TMPL:END%
%TMPL:DEF{"BUG_ICON"}%%TMPL:END%
%TMPL:DEF{"CHANGELANGUAGE_ICON"}%%TMPL:END%
%TMPL:DEF{"CHAT_ICON"}%%TMPL:END%
%TMPL:DEF{"CHILDTOPICS_ICON"}%%TMPL:END%
%TMPL:DEF{"CLOSE_ICON"}%%TMPL:END%
%TMPL:DEF{"CONFIGURE_ICON"}%%TMPL:END%
%TMPL:DEF{"COPY_TOPIC_ICON"}%%TMPL:END%
%TMPL:DEF{"DELETE_ICON"}%%TMPL:END%
%TMPL:DEF{"DIFF_ICON"}%%TMPL:END%
%TMPL:DEF{"DOCU_ICON"}%%TMPL:END%
%TMPL:DEF{"EDIT_FORM_ICON"}%%TMPL:END%
%TMPL:DEF{"EDIT_ICON"}%%TMPL:END%
%TMPL:DEF{"EDIT_RAW_ICON"}%%TMPL:END%
%TMPL:DEF{"EDIT_SETTINGS_ICON"}%%TMPL:END%
%TMPL:DEF{"EDIT_TEXT_ICON"}%%TMPL:END%
%TMPL:DEF{"FIRST_ICON_RESTRICTED"}%%TMPL:END%
%TMPL:DEF{"FIRST_ICON"}%%TMPL:END%
%TMPL:DEF{"FOLDER_OPEN_ICON"}%%TMPL:END%
%TMPL:DEF{"HARVEST_ICON"}%%TMPL:END%
%TMPL:DEF{"HELP_ICON"}%%TMPL:END%
%TMPL:DEF{"HISTORY_ICON"}%%TMPL:END%
%TMPL:DEF{"HOME_ICON"}%%TMPL:END%
%TMPL:DEF{"LAST_ICON_RESTRICTED"}%%TMPL:END%
%TMPL:DEF{"LAST_ICON"}%%TMPL:END%
%TMPL:DEF{"LIKE_ICON"}%%TMPL:END%
%TMPL:DEF{"LOG_IN_ICON"}%%TMPL:END%
%TMPL:DEF{"LOG_OUT_ICON"}%%TMPL:END%
%TMPL:DEF{"MANAGETAGS_ICON"}%%TMPL:END%
%TMPL:DEF{"MANUAL_ICON"}%%TMPL:END%
%TMPL:DEF{"MENU_ICON"}%%TMPL:END%
%TMPL:DEF{"MOVE_ICON"}%%TMPL:END%
%TMPL:DEF{"NEW_ICON"}%%TMPL:END%
%TMPL:DEF{"NEXT_ICON_RESTRICTED"}%%TMPL:END%
%TMPL:DEF{"NEXT_ICON"}%%TMPL:END%
%TMPL:DEF{"ONLINE_HELP_ICON"}%%TMPL:END%
%TMPL:DEF{"PASSWORD_ICON"}%%TMPL:END%
%TMPL:DEF{"PDF_ICON"}%%TMPL:END%
%TMPL:DEF{"PLUGIN_ICON"}%%TMPL:END%
%TMPL:DEF{"PREV_ICON_RESTRICTED"}%%TMPL:END%
%TMPL:DEF{"PREV_ICON"}%%TMPL:END%
%TMPL:DEF{"PRINT_ICON"}%%TMPL:END%
%TMPL:DEF{"RAW_ICON"}%%TMPL:END%
%TMPL:DEF{"REGISTER_ICON"}%%TMPL:END%
%TMPL:DEF{"RESTORE_ICON"}%%TMPL:END%
%TMPL:DEF{"SANDBOX_ICON"}%%TMPL:END%
%TMPL:DEF{"SECTIONS_ICON"}%%TMPL:END%
%TMPL:DEF{"SETTINGS_ICON"}%%TMPL:END%
%TMPL:DEF{"SHARE_ICON"}%%TMPL:END%
%TMPL:DEF{"SUBSCRIBE_ICON"}%%TMPL:END%
%TMPL:DEF{"TRANSLATETOPIC_ICON"}%%TMPL:END%
%TMPL:DEF{"TRASH_ICON"}%%TMPL:END%
%TMPL:DEF{"UNSUBSCRIBE_ICON"}%%TMPL:END%
%TMPL:DEF{"VIEW_ICON"}%%TMPL:END%
%TMPL:DEF{"WEBDAVDIR_ICON"}%%TMPL:END%
