%{ fontawesome }%
%TMPL:DEF{"ACCOUNT_ICON"}%%JQICON{"fa-user"}%%TMPL:END%
%TMPL:DEF{"ATTACH_ICON"}%%JQICON{"fa-upload"}%%TMPL:END%
%TMPL:DEF{"ATTACHMENTS_ICON"}%%JQICON{"fa-paperclip"}%%TMPL:END%
%TMPL:DEF{"BACKLINKS_ICON"}%%JQICON{"fa-arrows-alt"}%%TMPL:END%
%TMPL:DEF{"BUG_ICON"}%%JQICON{"fa-bug"}%%TMPL:END%
%TMPL:DEF{"CHANGELANGUAGE_ICON"}%%JQICON{"fa-globe"}%%TMPL:END%
%TMPL:DEF{"CHAT_ICON"}%%JQICON{"fa-comment-o"}%%TMPL:END%
%TMPL:DEF{"CHILDTOPICS_ICON"}%%JQICON{"fa-child"}%%TMPL:END%
%TMPL:DEF{"CLOSE_ICON"}%%JQICON{"fa-times"}%%TMPL:END%
%TMPL:DEF{"CONFIGURE_ICON"}%%JQICON{"fa-magic"}%%TMPL:END%
%TMPL:DEF{"COPY_TOPIC_ICON"}%%JQICON{"fa-clone"}%%TMPL:END%
%TMPL:DEF{"DELETE_ICON"}%%JQICON{"fa-trash-o"}%%TMPL:END%
%TMPL:DEF{"DIFF_ICON"}%%JQICON{"fa-exchange"}%%TMPL:END%
%TMPL:DEF{"DOCU_ICON"}%%JQICON{"fa-book"}%%TMPL:END%
%TMPL:DEF{"EDIT_FORM_ICON"}%%JQICON{"fa-list-alt"}%%TMPL:END%
%TMPL:DEF{"EDIT_ICON"}%%JQICON{"fa-pencil"}%%TMPL:END%
%TMPL:DEF{"EDIT_RAW_ICON"}%%JQICON{"fa-pencil-square-o"}%%TMPL:END%
%TMPL:DEF{"EDIT_SETTINGS_ICON"}%%JQICON{"fa-wrench"}%%TMPL:END%
%TMPL:DEF{"EDIT_TEXT_ICON"}%%TMPL:P{"EDIT_ICON"}%%TMPL:END%
%TMPL:DEF{"EMAIL_ICON"}%%JQICON{"fa-envelope"}%%TMPL:END%
%TMPL:DEF{"FAVORITE_ICON"}%%JQICON{"fa-star-o"}%%TMPL:END%
%TMPL:DEF{"FIRST_ICON"}%%JQICON{"fa-step-backward"}%%TMPL:END%
%TMPL:DEF{"FIRST_ICON_RESTRICTED"}%%TMPL:P{"FIRST_ICON"}%%TMPL:END%
%TMPL:DEF{"FOLDER_OPEN_ICON"}%%JQICON{"fa-folder-open-o"}%%TMPL:END%
%TMPL:DEF{"HARVEST_ICON"}%%JQICON{"fa-download"}%%TMPL:END%
%TMPL:DEF{"HELP_ICON"}%%JQICON{"fa-life-ring"}%%TMPL:END%
%TMPL:DEF{"HISTORY_ICON"}%%JQICON{"fa-clock-o"}%%TMPL:END%
%TMPL:DEF{"HOME_ICON"}%%JQICON{"fa-home"}%%TMPL:END%
%TMPL:DEF{"LAST_ICON"}%%JQICON{"fa-step-forward"}%%TMPL:END%
%TMPL:DEF{"LAST_ICON_RESTRICTED"}%%TMPL:P{"LAST_ICON"}%%TMPL:END%
%TMPL:DEF{"LIKE_ICON"}%%JQICON{"fa-thumbs-o-up" class="fa-flip-horizontal"}%%TMPL:END%
%TMPL:DEF{"LOG_IN_ICON"}%%JQICON{"fa-sign-in"}%%TMPL:END%
%TMPL:DEF{"LOG_OUT_ICON"}%%JQICON{"fa-sign-out"}%%TMPL:END%
%TMPL:DEF{"MANAGETAGS_ICON"}%%JQICON{"fa-tags"}%%TMPL:END%
%TMPL:DEF{"MANUAL_ICON"}%%JQICON{"fa-list"}%%TMPL:END%
%TMPL:DEF{"MENU_ICON"}%%JQICON{"fa-cog"}%%TMPL:END%
%TMPL:DEF{"MOVE_ICON"}%%JQICON{"fa-arrows"}%%TMPL:END%
%TMPL:DEF{"NEW_ICON"}%%JQICON{"fa-plus"}%%TMPL:END%
%TMPL:DEF{"NEXT_ICON"}%%JQICON{"fa-forward"}%%TMPL:END%
%TMPL:DEF{"NEXT_ICON_RESTRICTED"}%%TMPL:P{"NEXT_ICON"}%%TMPL:END%
%TMPL:DEF{"ONLINE_HELP_ICON"}%%JQICON{"fa-medkit"}%%TMPL:END%
%TMPL:DEF{"PASSWORD_ICON"}%%JQICON{"fa-key"}%%TMPL:END%
%TMPL:DEF{"TWOFACTORAUTH_ICON"}%%JQICON{"fa-mobile"}%%TMPL:END%
%TMPL:DEF{"PDF_ICON"}%%JQICON{"fa-file-pdf-o"}%%TMPL:END%
%TMPL:DEF{"PLUGIN_ICON"}%%JQICON{"fa-puzzle-piece"}%%TMPL:END%
%TMPL:DEF{"PREV_ICON"}%%JQICON{"fa-backward"}%%TMPL:END%
%TMPL:DEF{"PREV_ICON_RESTRICTED"}%%TMPL:P{"PREV_ICON"}%%TMPL:END%
%TMPL:DEF{"PRINT_ICON"}%%JQICON{"fa-print"}%%TMPL:END%
%TMPL:DEF{"QUESTION_ICON"}%%JQICON{"fa-question-circle"}%%TMPL:END%
%TMPL:DEF{"RAW_DATA_ICON"}%%JQICON{"fa-database"}%%TMPL:END%
%TMPL:DEF{"RAW_ICON"}%%JQICON{"fa-file-text-o"}%%TMPL:END%
%TMPL:DEF{"REDIRECT_ICON"}%%JQICON{"fa-undo"}%%TMPL:END%
%TMPL:DEF{"REGISTER_ICON"}%%JQICON{"fa-users"}%%TMPL:END%
%TMPL:DEF{"RESTORE_ICON"}%%JQICON{"fa-history"}%%TMPL:END%
%TMPL:DEF{"SANDBOX_ICON"}%%JQICON{"fa-archive"}%%TMPL:END%
%TMPL:DEF{"SECTIONS_ICON"}%%JQICON{"fa-files-o"}%%TMPL:END%
%TMPL:DEF{"SETTINGS_ICON"}%%JQICON{"fa-wrench"}%%TMPL:END%
%TMPL:DEF{"SHARE_ICON"}%%JQICON{"fa-share-alt"}%%TMPL:END%
%TMPL:DEF{"SUBSCRIBE_ICON"}%%JQICON{"fa-bell-o"}%%TMPL:END%
%TMPL:DEF{"TRANSLATETOPIC_ICON"}%%JQICON{"fa-language"}%%TMPL:END%
%TMPL:DEF{"TRASH_ICON"}%%JQICON{"fa-trash-o"}%%TMPL:END%
%TMPL:DEF{"UNFAVORITE_ICON"}%%JQICON{"fa-star"}%%TMPL:END%
%TMPL:DEF{"UNSUBSCRIBE_ICON"}%%JQICON{"fa-bell-slash-o"}%%TMPL:END%
%TMPL:DEF{"VIEW_ICON"}%%JQICON{"fa-eye"}%%TMPL:END%
%TMPL:DEF{"WEBDAVDIR_ICON"}%%JQICON{"fa-folder-o"}%%TMPL:END%
