%TMPL:INCLUDE{"icons"}%%{ icons from base skin }%

%{ default icon names: tabler icons }%
%TMPL:DEF{"icon::account::name"}%ti-user%TMPL:END%
%TMPL:DEF{"icon::attachments::name"}%ti-files%TMPL:END%
%TMPL:DEF{"icon::attach::name"}%ti-paperclip%TMPL:END%
%TMPL:DEF{"icon::backlinks::name"}%ti-arrows-minimize%TMPL:END%
%TMPL:DEF{"icon::bookmarks::name"}%ti-bookmarks%TMPL:END%
%TMPL:DEF{"icon::bug::name"}%ti-bug%TMPL:END%
%TMPL:DEF{"icon::calendar::name"}%ti-calendar%TMPL:END%
%TMPL:DEF{"icon::cancel::name"}%ti-x%TMPL:END%
%TMPL:DEF{"icon::changeadmin::name"}%ti-chef-hat%TMPL:END%
%TMPL:DEF{"icon::changelanguage::name"}%ti-language%TMPL:END%
%TMPL:DEF{"icon::chat::name"}%ti-message-chatbot%TMPL:END%
%TMPL:DEF{"icon::childtopics::name"}%ti-binary-tree-2%TMPL:END%
%TMPL:DEF{"icon::close::name"}%ti-x%TMPL:END%
%TMPL:DEF{"icon::comment::name"}%ti-message%TMPL:END%
%TMPL:DEF{"icon::configure::name"}%ti-settings%TMPL:END%
%TMPL:DEF{"icon::contributors::name"}%ti-friends%TMPL:END%
%TMPL:DEF{"icon::copy_topic::name"}%ti-copy%TMPL:END%
%TMPL:DEF{"icon::darkmode::name"}%ti-bulb%TMPL:END%
%TMPL:DEF{"icon::delete::name"}%ti-trash%TMPL:END%
%TMPL:DEF{"icon::diff::name"}%ti-file-diff%TMPL:END%
%TMPL:DEF{"icon::docu::name"}%ti-books%TMPL:END%
%TMPL:DEF{"icon::edit_form::name"}%ti-edit%TMPL:END%
%TMPL:DEF{"icon::edit::name"}%ti-pencil%TMPL:END%
%TMPL:DEF{"icon::edit_raw::name"}%ti-keyboard%TMPL:END%
%TMPL:DEF{"icon::edit_settings::name"}%ti-tool%TMPL:END%
%TMPL:DEF{"icon::edit_text::name"}%%TMPL:P{"icon::edit::name"}%%TMPL:END%
%TMPL:DEF{"icon::email::name"}%ti-mail%TMPL:END%
%TMPL:DEF{"icon::favorite::name"}%ti-bookmark-plus%TMPL:END%
%TMPL:DEF{"icon::file::name"}%ti-file%TMPL:END%
%TMPL:DEF{"icon::first::name"}%ti-player-skip-back%TMPL:END%
%TMPL:DEF{"icon::folder::name"}%ti-folder%TMPL:END%
%TMPL:DEF{"icon::folder_open::name"}%ti-folder-open%TMPL:END%
%TMPL:DEF{"icon::harvest::name"}%ti-cloud-download%TMPL:END%
%TMPL:DEF{"icon::help::name"}%ti-help%TMPL:END%
%TMPL:DEF{"icon::history::name"}%ti-history%TMPL:END%
%TMPL:DEF{"icon::home::name"}%ti-home%TMPL:END%
%TMPL:DEF{"icon::inbox::name"}%ti-inbox%TMPL:END%
%TMPL:DEF{"icon::last::name"}%ti-player-skip-forward%TMPL:END%
%TMPL:DEF{"icon::layoutgrid::name"}%ti-layout-grid%TMPL:END%
%TMPL:DEF{"icon::layoutlist::name"}%ti-layout-list%TMPL:END%
%TMPL:DEF{"icon::like::name"}%ti-thumb-up%TMPL:END%
%TMPL:DEF{"icon::log_in::name"}%ti-login-2%TMPL:END%
%TMPL:DEF{"icon::log_out::name"}%ti-logout%TMPL:END%
%TMPL:DEF{"icon::managetags::name"}%ti-tags%TMPL:END%
%TMPL:DEF{"icon::manual::name"}%ti-books%TMPL:END%
%TMPL:DEF{"icon::menu::name"}%ti-menu-2%TMPL:END%
%TMPL:DEF{"icon::move::name"}%ti-arrows-move%TMPL:END%
%TMPL:DEF{"icon::new::name"}%ti-plus%TMPL:END%
%TMPL:DEF{"icon::next::name"}%ti-chevron-right%TMPL:END%
%TMPL:DEF{"icon::ok::name"}%ti-check%TMPL:END%
%TMPL:DEF{"icon::online_help::name"}%ti-help-circle-filled%TMPL:END%
%TMPL:DEF{"icon::password::name"}%ti-password%TMPL:END%
%TMPL:DEF{"icon::pdf::name"}%ti-file-type-pdf%TMPL:END%
%TMPL:DEF{"icon::permissions::name"}%ti-shield%TMPL:END%
%TMPL:DEF{"icon::plain::name"}%ti-eye%TMPL:END%
%TMPL:DEF{"icon::plugin::name"}%ti-plug%TMPL:END%
%TMPL:DEF{"icon::prev::name"}%ti-chevron-left%TMPL:END%
%TMPL:DEF{"icon::print::name"}%ti-printer%TMPL:END%
%TMPL:DEF{"icon::question::name"}%ti-question-mark%TMPL:END%
%TMPL:DEF{"icon::raw_data::name"}%ti-database%TMPL:END%
%TMPL:DEF{"icon::raw::name"}%ti-code%TMPL:END%
%TMPL:DEF{"icon::redirect::name"}%ti-arrow-back-up%TMPL:END%
%TMPL:DEF{"icon::register::name"}%ti-users-group%TMPL:END%
%TMPL:DEF{"icon::refresh::name"}%ti-refresh%TMPL:END%
%TMPL:DEF{"icon::removeuser::name"}%ti-user-minus%TMPL:END%
%TMPL:DEF{"icon::restore::name"}%ti-restore%TMPL:END%
%TMPL:DEF{"icon::revision::name"}%ti-flag%TMPL:END%
%TMPL:DEF{"icon::sandbox::name"}%ti-archive%TMPL:END%
%TMPL:DEF{"icon::scrolltop::name"}%ti-chevrons-up%TMPL:END%
%TMPL:DEF{"icon::search::name"}%ti-search%TMPL:END%
%TMPL:DEF{"icon::sections::name"}%ti-section%TMPL:END%
%TMPL:DEF{"icon::settings::name"}%ti-tool%TMPL:END%
%TMPL:DEF{"icon::share::name"}%ti-share%TMPL:END%
%TMPL:DEF{"icon::subscribe::name"}%ti-bell%TMPL:END%
%TMPL:DEF{"icon::translatetopic::name"}%ti-language%TMPL:END%
%TMPL:DEF{"icon::trash::name"}%ti-trash%TMPL:END%
%TMPL:DEF{"icon::twofactorauth::name"}%ti-brand-android%TMPL:END%
%TMPL:DEF{"icon::unfavorite::name"}%ti-bookmark-minus%TMPL:END%
%TMPL:DEF{"icon::unsubscribe::name"}%ti-bell-off%TMPL:END%
%TMPL:DEF{"icon::users::name"}%ti-users%TMPL:END%
%TMPL:DEF{"icon::view::name"}%ti-eye%TMPL:END%
%TMPL:DEF{"icon::workflow::name"}%ti-run%TMPL:END%

%{ map icon names to icons }%
%TMPL:DEF{"icon::account"}%%JQICON{"%TMPL:P{"icon::account::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::attach"}%%JQICON{"%TMPL:P{"icon::attach::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::attachments"}%%JQICON{"%TMPL:P{"icon::attachments::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::backlinks"}%%JQICON{"%TMPL:P{"icon::backlinks::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::bookmarks"}%%JQICON{"%TMPL:P{"icon::bookmarks::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::bug"}%%JQICON{"%TMPL:P{"icon::bug::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::calendar"}%%JQICON{"%TMPL:P{"icon::calendar::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::cancel"}%%JQICON{"%TMPL:P{"icon::cancel::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::changeadmin"}%%JQICON{"%TMPL:P{"icon::changeadmin::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::changelanguage"}%%JQICON{"%TMPL:P{"icon::changelanguage::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::chat"}%%JQICON{"%TMPL:P{"icon::chat::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::childtopics"}%%JQICON{"%TMPL:P{"icon::childtopics::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::close"}%%JQICON{"%TMPL:P{"icon::close::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::comment"}%%JQICON{"%TMPL:P{"icon::comment::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::configure"}%%JQICON{"%TMPL:P{"icon::configure::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::contributors"}%%JQICON{"%TMPL:P{"icon::contributors::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::copy_topic"}%%JQICON{"%TMPL:P{"icon::copy_topic::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::darkmode"}%%JQICON{"%TMPL:P{"icon::darkmode::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::delete"}%%JQICON{"%TMPL:P{"icon::delete::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::diff"}%%JQICON{"%TMPL:P{"icon::diff::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::docu"}%%JQICON{"%TMPL:P{"icon::docu::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::edit_form"}%%JQICON{"%TMPL:P{"icon::edit_form::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::edit"}%%JQICON{"%TMPL:P{"icon::edit::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::edit_raw"}%%JQICON{"%TMPL:P{"icon::edit_raw::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::edit_settings"}%%JQICON{"%TMPL:P{"icon::edit_settings::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::edit_text"}%%JQICON{"%TMPL:P{"icon::edit_text::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::email"}%%JQICON{"%TMPL:P{"icon::email::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::favorite"}%%JQICON{"%TMPL:P{"icon::favorite::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::file"}%%JQICON{"%TMPL:P{"icon::file::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::first"}%%JQICON{"%TMPL:P{"icon::first::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::folder"}%%JQICON{"%TMPL:P{"icon::folder::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::folder_open"}%%JQICON{"%TMPL:P{"icon::folder_open::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::harvest"}%%JQICON{"%TMPL:P{"icon::harvest::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::help"}%%JQICON{"%TMPL:P{"icon::help::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::history"}%%JQICON{"%TMPL:P{"icon::history::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::home"}%%JQICON{"%TMPL:P{"icon::home::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::inbox"}%%JQICON{"%TMPL:P{"icon::inbox::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::last"}%%JQICON{"%TMPL:P{"icon::last::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::layoutgrid"}%%JQICON{"%TMPL:P{"icon::layoutgrid::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::layoutlist"}%%JQICON{"%TMPL:P{"icon::layoutlist::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::like"}%%JQICON{"%TMPL:P{"icon::like::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::log_in"}%%JQICON{"%TMPL:P{"icon::log_in::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::log_out"}%%JQICON{"%TMPL:P{"icon::log_out::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::managetags"}%%JQICON{"%TMPL:P{"icon::managetags::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::manual"}%%JQICON{"%TMPL:P{"icon::manual::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::menu"}%%JQICON{"%TMPL:P{"icon::menu::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::move"}%%JQICON{"%TMPL:P{"icon::move::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::new"}%%JQICON{"%TMPL:P{"icon::new::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::next"}%%JQICON{"%TMPL:P{"icon::next::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::ok"}%%JQICON{"%TMPL:P{"icon::ok::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::online_help"}%%JQICON{"%TMPL:P{"icon::online_help::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::password"}%%JQICON{"%TMPL:P{"icon::password::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::pdf"}%%JQICON{"%TMPL:P{"icon::pdf::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::permissions"}%%JQICON{"%TMPL:P{"icon::permissions::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::plain"}%%JQICON{"%TMPL:P{"icon::plain::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::plugin"}%%JQICON{"%TMPL:P{"icon::plugin::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::prev"}%%JQICON{"%TMPL:P{"icon::prev::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::print"}%%JQICON{"%TMPL:P{"icon::print::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::question"}%%JQICON{"%TMPL:P{"icon::question::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::raw_data"}%%JQICON{"%TMPL:P{"icon::raw_data::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::raw"}%%JQICON{"%TMPL:P{"icon::raw::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::redirect"}%%JQICON{"%TMPL:P{"icon::redirect::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::register"}%%JQICON{"%TMPL:P{"icon::register::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::refresh"}%%JQICON{"%TMPL:P{"icon::refresh::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::removeuser"}%%JQICON{"%TMPL:P{"icon::removeuser::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::restore"}%%JQICON{"%TMPL:P{"icon::restore::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::revision"}%%JQICON{"%TMPL:P{"icon::revision::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::sandbox"}%%JQICON{"%TMPL:P{"icon::sandbox::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::scrolltop"}%%JQICON{"%TMPL:P{"icon::scrolltop::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::search"}%%JQICON{"%TMPL:P{"icon::search::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::sections"}%%JQICON{"%TMPL:P{"icon::sections::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::settings"}%%JQICON{"%TMPL:P{"icon::settings::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::share"}%%JQICON{"%TMPL:P{"icon::share::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::subscribe"}%%JQICON{"%TMPL:P{"icon::subscribe::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::translatetopic"}%%JQICON{"%TMPL:P{"icon::translatetopic::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::trash"}%%JQICON{"%TMPL:P{"icon::trash::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::twofactorauth"}%%JQICON{"%TMPL:P{"icon::twofactorauth::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::unfavorite"}%%JQICON{"%TMPL:P{"icon::unfavorite::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::unsubscribe"}%%JQICON{"%TMPL:P{"icon::unsubscribe::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::users"}%%JQICON{"%TMPL:P{"icon::users::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::view"}%%JQICON{"%TMPL:P{"icon::view::name"}%"}%%TMPL:END%
%TMPL:DEF{"icon::workflow"}%%JQICON{"%TMPL:P{"icon::workflow::name"}%"}%%TMPL:END%

%{ diff template }%
%TMPL:DEF{"diff::control::start::icon"}%%TMPL:P{"icon::first"}%%TMPL:END%
%TMPL:DEF{"diff::control::start::disabled::icon"}%%TMPL:P{"icon::first"}%%TMPL:END%
%TMPL:DEF{"diff::control::prev::icon"}%%TMPL:P{"icon::prev"}%%TMPL:END%
%TMPL:DEF{"diff::control::prev::disabled::icon"}%%TMPL:P{"icon::prev"}%%TMPL:END%
%TMPL:DEF{"diff::control::next::icon"}%%TMPL:P{"icon::next"}%%TMPL:END%
%TMPL:DEF{"diff::control::next::disabled::icon"}%%TMPL:P{"icon::next"}%%TMPL:END%
%TMPL:DEF{"diff::control::end::icon"}%%TMPL:P{"icon::last"}%%TMPL:END%
%TMPL:DEF{"diff::control::end::disabled::icon"}%%TMPL:P{"icon::last"}%%TMPL:END%
%TMPL:DEF{"diff::control::quit::icon"}%%TMPL:P{"icon::close"}%%TMPL:END%

%{ TopicInteractionPlugin }%
%TMPL:DEF{"metadata::spinner::icon"}%ti-loader-2%TMPL:END%
%TMPL:DEF{"metadata::uploadbutton::icon"}%ti ti-upload%TMPL:END%
%TMPL:DEF{"metadata::optionsbutton::icon"}%ti-settings%TMPL:END%
%TMPL:DEF{"metadata::selectall::icon"}%ti-circle-plus%TMPL:END%
%TMPL:DEF{"metadata::clearall::icon"}%ti-circle-minus%TMPL:END%
%TMPL:DEF{"metadata::select::icon"}%ti-check%TMPL:END%
%TMPL:DEF{"metadata::edit::icon"}%ti-pencil%TMPL:END%
%TMPL:DEF{"metadata::properties::icon"}%ti-tool%TMPL:END%
%TMPL:DEF{"metadata::preview::icon"}%ti-eye%TMPL:END%
%TMPL:DEF{"metadata::prehear::icon"}%ti-headphones%TMPL:END%
%TMPL:DEF{"metadata::move::icon"}%ti-arrows-move%TMPL:END%
%TMPL:DEF{"metadata::delete::icon"}%ti-trash%TMPL:END%
%TMPL:DEF{"metadata::like::icon"}%ti-thumb-up%TMPL:END%

%{ pluggable auth - TODO }%
%TMPL:DEF{"twofactorauth::icon::abort"}%%JQICON{"ma-block"}%%TMPL:END%
%TMPL:DEF{"twofactorauth::icon::left"}%%JQICON{"ma-arrow-back"}%%TMPL:END%
%TMPL:DEF{"twofactorauth::icon::right"}%%JQICON{"ma-arrow-forward"}%%TMPL:END%
%TMPL:DEF{"twofactorauth::icon::submit"}%%JQICON{"ma-check"}%%TMPL:END%
