%{ famfamfam }%
%TMPL:DEF{"ACCOUNT_ICON"}%%JQICON{"user"}%%TMPL:END%
%TMPL:DEF{"ATTACH_ICON"}%%JQICON{"attach"}%%TMPL:END%
%TMPL:DEF{"ATTACHMENTS_ICON"}%%JQICON{"attach"}%%TMPL:END%
%TMPL:DEF{"BACKLINKS_ICON"}%%JQICON{"arrow_in"}%%TMPL:END%
%TMPL:DEF{"BUG_ICON"}%%JQICON{"bug"}%%TMPL:END%
%TMPL:DEF{"CHANGELANGUAGE_ICON"}%%JQICON{"world"}%%TMPL:END%
%TMPL:DEF{"CHAT_ICON"}%%JQICON{"comment"}%%TMPL:END%
%TMPL:DEF{"CHILDTOPICS_ICON"}%%JQICON{"sitemap"}%%TMPL:END%
%TMPL:DEF{"CLOSE_ICON"}%%JQICON{"cross"}%%TMPL:END%
%TMPL:DEF{"CONFIGURE_ICON"}%%JQICON{"wand"}%%TMPL:END%
%TMPL:DEF{"COPY_TOPIC_ICON"}%%JQICON{"page_white_copy"}%%TMPL:END%
%TMPL:DEF{"DELETE_ICON"}%%JQICON{"bin"}%%TMPL:END%
%TMPL:DEF{"DIFF_ICON"}%%JQICON{"page_white_stack"}%%TMPL:END%
%TMPL:DEF{"DOCU_ICON"}%%JQICON{"book"}%%TMPL:END%
%TMPL:DEF{"EDIT_FORM_ICON"}%%JQICON{"application_form_edit"}%%TMPL:END%
%TMPL:DEF{"EDIT_ICON"}%%JQICON{"pencil"}%%TMPL:END%
%TMPL:DEF{"EDIT_RAW_ICON"}%%JQICON{"page_white_edit"}%%TMPL:END%
%TMPL:DEF{"EDIT_SETTINGS_ICON"}%%JQICON{"wrench"}%%TMPL:END%
%TMPL:DEF{"EDIT_TEXT_ICON"}%%JQICON{"pencil"}%%TMPL:END%
%TMPL:DEF{"EMAIL_ICON"}%%JQICON{"email"}%%TMPL:END%
%TMPL:DEF{"FAVORITE_ICON"}%%JQICON{"star"}%%TMPL:END%
%TMPL:DEF{"FIRST_ICON"}%<img alt='start' src='%PUBURLPATH%/%SYSTEMWEB%/NatSkin/icons/control-start.png' />%TMPL:END%
%TMPL:DEF{"FIRST_ICON_RESTRICTED"}%<img alt='start' src='%PUBURLPATH%/%SYSTEMWEB%/NatSkin/icons/control-start-gray.png' />%TMPL:END%
%TMPL:DEF{"FOLDER_OPEN_ICON"}%%JQICON{"folder"}%%TMPL:END%
%TMPL:DEF{"HARVEST_ICON"}%%JQICON{"photos"}%%TMPL:END%
%TMPL:DEF{"HELP_ICON"}%%JQICON{"help"}%%TMPL:END%
%TMPL:DEF{"HISTORY_ICON"}%%JQICON{"time"}%%TMPL:END%
%TMPL:DEF{"HOME_ICON"}%%JQICON{"house"}%%TMPL:END%
%TMPL:DEF{"LAST_ICON"}%<img alt='end' src='%PUBURLPATH%/%SYSTEMWEB%/NatSkin/icons/control-end.png' />%TMPL:END%
%TMPL:DEF{"LAST_ICON_RESTRICTED"}%<img alt='end' src='%PUBURLPATH%/%SYSTEMWEB%/NatSkin/icons/control-end-gray.png' />%TMPL:END%
%TMPL:DEF{"LIKE_ICON"}%%JQICON{"thumb_up"}%%TMPL:END%
%TMPL:DEF{"LOG_IN_ICON"}%%JQICON{"key"}%%TMPL:END%
%TMPL:DEF{"LOG_OUT_ICON"}%%JQICON{"door_in"}%%TMPL:END%
%TMPL:DEF{"MANAGETAGS_ICON"}%%JQICON{"tag_blue_edit"}%%TMPL:END%
%TMPL:DEF{"MANUAL_ICON"}%%JQICON{"book"}%%TMPL:END%
%TMPL:DEF{"MENU_ICON"}%%JQICON{"cog"}%%TMPL:END%
%TMPL:DEF{"MOVE_ICON"}%%JQICON{"page_white_go"}%%TMPL:END%
%TMPL:DEF{"NEW_ICON"}%%JQICON{"add"}%%TMPL:END%
%TMPL:DEF{"NEXT_ICON"}%<img alt='next' src='%PUBURLPATH%/%SYSTEMWEB%/NatSkin/icons/control-right.png' />%TMPL:END%
%TMPL:DEF{"NEXT_ICON_RESTRICTED"}%<img alt='next' src='%PUBURLPATH%/%SYSTEMWEB%/NatSkin/icons/control-right-gray.png' />%TMPL:END%
%TMPL:DEF{"ONLINE_HELP_ICON"}%%JQICON{"help"}%%TMPL:END%
%TMPL:DEF{"PASSWORD_ICON"}%%JQICON{"key"}%%TMPL:END%
%TMPL:DEF{"TWOFACTORAUTH_ICON"}%%JQICON{"shield"}%%TMPL:END%
%TMPL:DEF{"PDF_ICON"}%%JQICON{"page_white_acrobat"}%%TMPL:END%
%TMPL:DEF{"PLUGIN_ICON"}%%JQICON{"plugin"}%%TMPL:END%
%TMPL:DEF{"PREV_ICON"}%<img alt='prev' src='%PUBURLPATH%/%SYSTEMWEB%/NatSkin/icons/control-left.png' />%TMPL:END%
%TMPL:DEF{"PREV_ICON_RESTRICTED"}%<img alt='prev' src='%PUBURLPATH%/%SYSTEMWEB%/NatSkin/icons/control-left-gray.png' />%TMPL:END%
%TMPL:DEF{"PRINT_ICON"}%%JQICON{"printer"}%%TMPL:END%
%TMPL:DEF{"QUESTION_ICON"}%%JQICON{"help"}%%TMPL:END%
%TMPL:DEF{"RAW_DATA_ICON"}%%JQICON{"database"}%%TMPL:END%
%TMPL:DEF{"RAW_ICON"}%%JQICON{"text_align_left"}%%TMPL:END%
%TMPL:DEF{"REDIRECT_ICON"}%%JQICON{"arrow_undo"}%%TMPL:END%
%TMPL:DEF{"REGISTER_ICON"}%%JQICON{"user_add"}%%TMPL:END%
%TMPL:DEF{"RESTORE_ICON"}%%JQICON{"pencil_go"}%%TMPL:END%
%TMPL:DEF{"SANDBOX_ICON"}%%JQICON{"box"}%%TMPL:END%
%TMPL:DEF{"SECTIONS_ICON"}%%JQICON{"application_split"}%%TMPL:END%
%TMPL:DEF{"SETTINGS_ICON"}%%JQICON{"wrench"}%%TMPL:END%
%TMPL:DEF{"SHARE_ICON"}%%JQICON{"lightning"}%%TMPL:END%
%TMPL:DEF{"SUBSCRIBE_ICON"}%%JQICON{"email_star"}%%TMPL:END%
%TMPL:DEF{"TRANSLATETOPIC_ICON"}%%JQICON{"layers"}%%TMPL:END%
%TMPL:DEF{"TRASH_ICON"}%%JQICON{"bin"}%%TMPL:END%
%TMPL:DEF{"UNFAVORITE_ICON"}%%JQICON{"delete"}%%TMPL:END%
%TMPL:DEF{"UNSUBSCRIBE_ICON"}%%JQICON{"email_stop"}%%TMPL:END%
%TMPL:DEF{"VIEW_ICON"}%%JQICON{"eye"}%%TMPL:END%
%TMPL:DEF{"WEBDAVDIR_ICON"}%%JQICON{"folder"}%%TMPL:END%
