%{ material icons }%
%TMPL:DEF{"ACCOUNT_ICON"}%%JQICON{"fa-user"}%%TMPL:END%
%TMPL:DEF{"_ACCOUNT_ICON"}%<i class='ma ma-face'></i>%TMPL:END%
%TMPL:DEF{"ATTACH_ICON"}%<i class='ma ma-attach-file'></i>%TMPL:END%
%TMPL:DEF{"BACKLINKS_ICON"}%<i class='ma ma-games'></i>%TMPL:END%
%TMPL:DEF{"CHANGELANGUAGE_ICON"}%<i class='ma ma-language'></i>%TMPL:END%
%TMPL:DEF{"CHAT_ICON"}%<i class='ma ma-chat-bubble-outline'></i>%TMPL:END%
%TMPL:DEF{"CHILDTOPICS_ICON"}%<i class='ma ma-child-care'></i>%TMPL:END%
%TMPL:DEF{"CLOSE_ICON"}%<i class='ma ma-close'></i>%TMPL:END%
%TMPL:DEF{"COPY_TOPIC_ICON"}%<i class='ma ma-content-copy'></i>%TMPL:END%
%TMPL:DEF{"DELETE_ICON"}%<i class='ma ma-delete'></i>%TMPL:END%
%TMPL:DEF{"DIFF_ICON"}%<i class='ma ma-backspace'></i>%TMPL:END%
%TMPL:DEF{"EDIT_FORM_ICON"}%<i class='ma ma-grid-on'></i>%TMPL:END%
%TMPL:DEF{"EDIT_ICON"}%<i class='ma ma-edit'></i>%TMPL:END%
%TMPL:DEF{"EDIT_RAW_ICON"}%<i class='ma ma-keyboard'></i>%TMPL:END%
%TMPL:DEF{"EDIT_SETTINGS_ICON"}%<i class='ma ma-build'></i>%TMPL:END%
%TMPL:DEF{"FIRST_ICON"}%<i class='ma ma-first-page'></i>%TMPL:END%
%TMPL:DEF{"FIRST_ICON_RESTRICTED"}%<i class='ma ma-first-page'></i>%TMPL:END%
%TMPL:DEF{"HARVEST_ICON"}%<i class='ma ma-file-download'></i>%TMPL:END%
%TMPL:DEF{"HISTORY_ICON"}%<i class='ma ma-change-history'></i>%TMPL:END%
%TMPL:DEF{"LAST_ICON"}%<i class='ma ma-last'></i>%TMPL:END%
%TMPL:DEF{"LAST_ICON_RESTRICTED"}%<i class='ma ma-last-page'></i>%TMPL:END%
%TMPL:DEF{"LIKE_ICON"}%<i class='ma ma-thumb-up'></i>%TMPL:END%
%TMPL:DEF{"LOG_IN_ICON"}%<i class='ma ma-vpn-key'></i>%TMPL:END%
%TMPL:DEF{"LOG_OUT_ICON"}%<i class='ma ma-power-settings-new'></i>%TMPL:END%
%TMPL:DEF{"MANAGETAGS_ICON"}%<i class='ma ma-label-outline'></i>%TMPL:END%
%TMPL:DEF{"MENU_ICON"}%<i class='ma ma-settings'></i>%TMPL:END%
%TMPL:DEF{"MOVE_ICON"}%%JQICON{"fa-arrows"}%%TMPL:END%
%TMPL:DEF{"_NEW_ICON"}%<i class='ma ma-add'></i>%TMPL:END%
%TMPL:DEF{"NEW_ICON"}%%JQICON{"fa-plus"}%%TMPL:END%
%TMPL:DEF{"PDF_ICON"}%<i class='ma ma-picture-as-pdf'></i>%TMPL:END%
%TMPL:DEF{"PREV_ICON"}%<i class='ma ma-chevron-left'></i>%TMPL:END%
%TMPL:DEF{"PREV_ICON_RESTRICTED"}%<i class='ma ma-chevron-left'></i>%TMPL:END%
%TMPL:DEF{"PRINT_ICON"}%<i class='ma ma-print'></i>%TMPL:END%
%TMPL:DEF{"RAW_ICON"}%<i class='ma ma-code'></i>%TMPL:END%
%TMPL:DEF{"REGISTER_ICON"}%<i class='ma ma-group'></i>%TMPL:END%
%TMPL:DEF{"RESTORE_ICON"}%<i class='ma ma-restore'></i>%TMPL:END%
%TMPL:DEF{"SHARE_ICON"}%<i class='ma ma-share'></i>%TMPL:END%
%TMPL:DEF{"SUBSCRIBE_ICON"}%<i class='ma ma-notifications'></i>%TMPL:END%
%TMPL:DEF{"TRANSLATETOPIC_ICON"}%<i class='ma ma-translate'></i>%TMPL:END%
%TMPL:DEF{"UNSUBSCRIBE_ICON"}%<i class='ma ma-notifications-off'></i>%TMPL:END%
%TMPL:DEF{"VIEW_ICON"}%<i class='ma ma-remove-red-eye'></i>%TMPL:END%
%TMPL:DEF{"WEBDAVDIR_ICON"}%<i class='ma ma-folder-open'></i>%TMPL:END%
%TMPL:DEF{"HOME_ICON"}%<i class='ma ma-home'></i>%TMPL:END%
%TMPL:DEF{"DOCU_ICON"}%<i class='ma ma-book'></i>%TMPL:END%
%TMPL:DEF{"MANUAL_ICON"}%<i class='ma ma-library-books'></i>%TMPL:END%
%TMPL:DEF{"PLUGIN_ICON"}%<i class='ma ma-extension'></i>%TMPL:END%
%TMPL:DEF{"_SANDBOX_ICON"}%<i class='ma ma-toys'></i>%TMPL:END%
%TMPL:DEF{"SANDBOX_ICON"}%%JQICON{"fa-archive"}%%TMPL:END%
%TMPL:DEF{"PASSWORD_ICON"}%<i class='ma ma-vpn-key'></i>%TMPL:END%
%TMPL:DEF{"HELP_ICON"}%<i class='ma ma-help'></i>%TMPL:END%
%TMPL:DEF{"QUESTION_ICON"}%<i class='ma ma-help-outline'></i>%TMPL:END%
%TMPL:DEF{"ONLINE_HELP_ICON"}%<i class='ma ma-live-help'></i>%TMPL:END%
%TMPL:DEF{"BUG_ICON"}%<i class='ma ma-bug-report'></i>%TMPL:END%
%TMPL:DEF{"FOLDER_OPEN_ICON"}%<i class='ma ma-folder-open'></i>%TMPL:END%
%TMPL:DEF{"TRASH_ICON"}%<i class='ma ma-delete'></i>%TMPL:END%
%TMPL:DEF{"SETTINGS_ICON"}%<i class='ma ma-build'></i>%TMPL:END%
%TMPL:DEF{"CONFIGURE_ICON"}%<i class='ma ma-widgets'></i>%TMPL:END%
%ADDTOZONE{"head" id="MATERIAL::CSS" text="<link rel='stylesheet' href='%PUBURLPATH%/%SYSTEMWEB%/WebFontsContrib/material-icons/font-face.css' media='all'>"}%
