%TMPL:INCLUDE{"imageplugin.editor"}%

%TMPL:DEF{"body::layout"}%fullscreen%TMPL:END%
%TMPL:DEF{"bodyclass"}%natEditImageBody%TMPL:END%
%TMPL:DEF{"sidebar"}%%TMPL:END%
%TMPL:DEF{"topbar"}%%TMPL:END%
%TMPL:DEF{"bottombar"}%%TMPL:END%
%TMPL:DEF{"contentfooter"}%%TMPL:END%
%TMPL:DEF{"banner"}%%TMPL:END%
%TMPL:DEF{"toppanel"}%%TMPL:END%
%TMPL:DEF{"topicactions"}%%TMPL:END%
