<!-- template: javascript.nat.tmpl -->
%TMPL:DEF{"defaultjavascript"}%<!-- defaultjavascript -->
%TMPL:P{"jqueryjavascript"}%
<script type="text/javascript" src="%PUBURLPATH%/%SYSTEMWEB%/JavascriptFiles/foswiki.js"></script>
<script type="text/javascript" src="%PUBURL%/%SYSTEMWEB%/JQueryPlugin/jquery.superfish.js" ></script>
<script type="text/javascript" src="%PUBURL%/%SYSTEMWEB%/NatSkin/natskin.js" ></script>
<script type="text/javascript"> 
$(function() { 
  %TMPL:P{"onloadscript"}% 
}); 
</script>
<!-- //defaultjavascript -->%TMPL:END%
%TMPL:DEF{"javascript"}%<!-- javascript -->
%TMPL:P{"defaultjavascript"}%
<!-- //javascript -->%TMPL:END%
