<!-- template: javascript.nat.tmpl -->
%TMPL:DEF{"defaultjavascript"}%<!-- -->
%JQREQUIRE{"superfish, ui, ui::autocomplete, placeholder, farscroll, fluidfont, blockui, imagetooltip, scrollto" warn="off"}%<!--  -->
<!-- -->%TMPL:END%

%TMPL:DEF{"fixRevisionPosition"}%'NatSkin.fixRevisionPosition': true%TMPL:END%
%TMPL:DEF{"initWebMenu"}%'NatSkin.initWebMenu': true%TMPL:END%
%TMPL:DEF{"initOverflows"}%'NatSkin.initOverflows': false%TMPL:END%
%TMPL:DEF{"initTopicActions"}%'NatSkin.initTopicActions': true%TMPL:END%
%TMPL:DEF{"initSideBar"}%'NatSkin.initSideBar': true%TMPL:END%
%TMPL:DEF{"initAutoComplete"}%'NatSkin.initAutocomplete': false%TMPL:END%
%TMPL:DEF{"initRedDot"}%'NatSkin.initRedDot': true%TMPL:END%

%TMPL:DEF{"metaflags"}%<literal>
%ADDTOZONE{"script" 
  requires="JQUERYPLUGIN::FOSWIKI::PREFERENCES"
  id="NATSKIN::PREFERENCES"
  text="<script>
jQuery.extend(foswiki.preferences, {
  %TMPL:P{"fixRevisionPosition"}%,
  %TMPL:P{"initWebMenu"}%,
  %TMPL:P{"initOverflows"}%,
  %TMPL:P{"initTopicActions"}%,
  %TMPL:P{"initSideBar"}%,
  %TMPL:P{"initAutoComplete"}%,
  %TMPL:P{"initRedDot"}%
});
</script>"
}%</literal>%TMPL:END%

</literal>%TMPL:END%
<!-- -->%TMPL:END%

%TMPL:DEF{"javascript"}%%TMPL:P{"defaultjavascript"}%%TMPL:END%
