%TMPL:INCLUDE{"javascript"}%

%TMPL:DEF{"javascript"}%%TMPL:PREV%
%ADDTOZONE{
  "script"
  id="NATSKIN::ANGULAR"
  requires="ANGULARSKIN"
  text="<script type='text/javascript' src='%PUBURLPATH%/%SYSTEMWEB%/NatSkin/angular.js'></script>"
}%
%TMPL:P{"javascript::angular"}%%RENDERZONE{"script"}%%RENDERZONE{"skinjs"}%%TMPL:END%
