%TMPL:INCLUDE{"foswiki"}%<!-- template: languageselector.nat.tmpl -->

%{ ################################################################################ }%
%TMPL:DEF{"heading"}%%MAKETEXT{"Interface language"}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"dialog"}%<noautolink>
<div class="jqUIDialog foswikiFormSteps" data-width="480" data-modal="true" data-draggable="true" title="%TMPL:P{"heading"}%">
  <form name="changelanguage" action="%SCRIPTURLPATH{"oops"}%/%BASEWEB%/%BASETOPIC%" method="post">
    <input type="hidden" name="template" value="oopslanguagechanged" />
    <div class="foswikiFormStep">
      <table class='foswikiLayoutTable'>
        <tr>
          <th>%MAKETEXT{"Language"}%:</th>
          <td>
            <select name="language" class="foswikiSelect">
              <option value="default">%MAKETEXT{"Default"}%</option>
              %TMPL:P{context="MultiLingualPluginEnabled" then="languages::multilingual" else="languages::default"}%
            </select>
          </td>
        </tr>
      </table>

      <div class="foswikiFormDescription">
        %MAKETEXT{"Select 'Default' to switch to the default language configured in your browser."}%
      </div>
    </div>
    <a class="jqUIDialogButton jqUIDialogSubmit {icon:'ui-icon-circle-check'}">%MAKETEXT{"Submit"}%</a>
    <a class="jqUIDialogButton jqUIDialogClose {icon:'ui-icon-cancel'}">%MAKETEXT{"Cancel"}%</a>
  </form>
</div>
%JQREQUIRE{"form"}%<!-- -->
<literal>
<script type="text/javascript">
jQuery(function($) {
  $("form[name='changelanguage']").ajaxForm({
    success: function() {
      window.location.href = '%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%';
    }
  });  
});
</script>
</literal>
</noautolink>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"languages::multilingual"}%%LANGUAGES{
  format="<option $marker value='$code'>$label_name</option>" 
  selection="%LANGUAGE%" 
  marker="selected='selected'"
  separator="$n"
}%%TMPL:END%

%TMPL:DEF{"languages::default"}%%LANGUAGES{
  format="<option $marker value=\"$langtag\">$langtag - $langname</option>"
  selection="%LANGUAGE%"
  separator=" "
  marker="selected=\"selected\""
}%%TMPL:END%
