%TMPL:INCLUDE{"login"}%%{}%

%TMPL:DEF{"LOG_IN_BANNER"}%<h1 class='natLoginHeading'>%MAKETEXT{"Admin Foswiki user authentication"}%</h1>%TMPL:END%
%TMPL:DEF{"LOGGED_IN_BANNER"}%<h1 class='natLoginHeading'>%MAKETEXT{"[_1] is currently logged in" args="%USERSWEB%.%WIKINAME%"}%</h1>%TMPL:END%
%TMPL:DEF{"UNRECOGNISED_USER"}%%MAKETEXT{"Unrecognised user and/or password"}%%TMPL:END%

%TMPL:DEF{"title"}%%MAKETEXT{"Sudo login"}% %TMPL:P{"titlesep"}% %WIKITOOLNAME%%TMPL:END%

%TMPL:DEF{"usernamefield"}%<input type="text" class="foswikiInputField required" size="20" id="username" name="username" value='%WIKIADMINLOGIN%' />%TMPL:END%

%TMPL:DEF{"passwordfield"}%<input type="password" class="foswikiInputField jqFocus required" size="20" id="password" name="password" />%TMPL:END%

%TMPL:DEF{"usernamenote"}%%TMPL:P{"authrealm"}%%TMPL:END%

%TMPL:DEF{"passwordnote"}%%TMPL:END%

%TMPL:DEF{"loginasadministratorform"}%%TMPL:END%

%TMPL:DEF{"authrealm"}%<span class="foswikiUnvisited">%MAKETEXT{"Enter the %WIKITOOLNAME% administrator user or login as set in [_1]" args="[[%SCRIPTURL{configure}%][configure]]"}%</span>%TMPL:END%
