%TMPL:DEF{"useractions"}%<div class='natUserActions'>&nbsp;</div>%TMPL:END%

%TMPL:DEF{"metadescription"}%%TMPL:END%
%TMPL:DEF{"metakeywords"}%%TMPL:END%
%TMPL:DEF{"metasubject"}%%TMPL:END%
%TMPL:DEF{"metaopengraph"}%%TMPL:END%

%{################################################################################ }%
%TMPL:DEF{"login"}%%{}%
%TMPL:P{"login::start"}%
%TMPL:P{"login::usernamestep"}%
%TMPL:P{"login::passwordstep"}%
%TMPL:P{context="can_remember_login" then="rememberstep"}%%{}%
%TMPL:P{"login::buttonstep"}%
%TMPL:P{"seealso"}%%{}%
%TMPL:P{"login::end"}%
%{}%%TMPL:END%

%{################################################################################ }%
%TMPL:DEF{"login::start"}%<form class="natLoginForm" name="LoginForm" action="%SCRIPTURLPATH{"login"}%/%WEB%/%TOPIC%" method="post">
  <literal>%QUERYPARAMS{encoding="entity" format="<input type='hidden' name='$name' value='$value' />"}%</literal>
  <input type="submit" style="display:none" />
%{}%%TMPL:END%

%{################################################################################ }%
%TMPL:DEF{"login::end"}%</form>%JQREQUIRE{"focus"}%%ADDTOZONE{"script" 
  id="NATSKIN::LOGIN"
  text="<script src='%PUBURLPATH%/%SYSTEMWEB%/NatSkin/build/login.js'></script>"
  requires="JQUERYPLUGIN, JQUERYPLUGIN::VALIDATE"
}%%TMPL:END%

%{################################################################################ }%
%TMPL:DEF{"login::usernamestep"}%<div class="foswikiFormStep">
  <h3>%MAKETEXT{"Username"}%:</h3>
  %TMPL:P{"usernamefield"}%
</div>%TMPL:END%

%{################################################################################ }%
%TMPL:DEF{"usernamefield"}%<input type="text" class="foswikiInputField jqFocus" size="20" id="username" name="username" value='%URLPARAM{"usernamestep"}%' />%TMPL:END%

%{################################################################################ }%
%TMPL:DEF{"login::passwordstep"}%<div class="foswikiFormStep">
  <h3>%MAKETEXT{"Password"}%:</h3>
  %TMPL:P{"passwordfield"}%
</div>%TMPL:END%

%{################################################################################ }%
%TMPL:DEF{"passwordfield"}%<input type="password" class="foswikiInputField" size="20" id="password" name="password" />%TMPL:END%

%{################################################################################ }%
%TMPL:DEF{"rememberstep"}%<div class="foswikiFormStep">
  <label>
    <input name="remember" class="foswikiCheckbox" type="checkbox" value="1" />
    %MAKETEXT{"Remember me on this computer"}%
  </label>
</div>%TMPL:END%

%{################################################################################ }%
%TMPL:DEF{"login::buttonstep"}%<div class="foswikiFormStep foswikiFormButtons">
  %BUTTON{"%MAKETEXT{"Log in"}%" icon="%TMPL:P{"icon::ok::name"}%" type="save" class="natLoginButton"}% 
  %BUTTON{"%MAKETEXT{"Cancel"}%" icon="%TMPL:P{"icon::cancel::name"}%" target="%WIKILOGOURL%" class="natLoginAbortButton"}%
</div>%TMPL:END%

%{################################################################################ }%
%TMPL:DEF{"seealso"}%<div class="foswikiFormStep">
%IF{"context passwords_modifyable"
  then="[[%SYSTEMWEB%.ResetPassword][%MAKETEXT{"Did you forget your password?"}%]] %BR%"
  else="<!-- passwords not modifiable -->"
}%
%IF{"context registration_enabled" 
  then="[[%SYSTEMWEB%.UserRegistration][%MAKETEXT{"Do you want to become a registered user?"}%]]"
  else="<!-- registration disabled -->"
}%</div>%TMPL:END%
