%TMPL:INCLUDE{"page"}%<!-- template: login.nat.tmpl -->
%TMPL:INCLUDE{"loginbase"}%<!-- -->
%TMPL:INCLUDE{"loginbody"}%<!-- -->
%TMPL:INCLUDE{"logintopicactions"}%<!-- -->
%TMPL:INCLUDE{"loginsidebar"}%<!-- -->

%{################################################################################ }%
%TMPL:DEF{"title"}%Login - %WIKITOOLNAME%%TMPL:END%
%TMPL:DEF{"contenttitle"}%<h1 class="natLoginHeading">%TMPL:P{"heading"}%</h1>%TMPL:END%
%TMPL:DEF{"bodyclass"}%natLoginBody%TMPL:END%
%TMPL:DEF{"meta"}% <meta name="robots" content="noindex, nofollow" /> %TMPL:END%
%TMPL:DEF{"LOG_IN_BANNER"}%%MAKETEXT{"Welcome, please login:"}%%TMPL:END%
%TMPL:DEF{"LOGGED_IN_BANNER"}%%MAKETEXT{"[_1] is currently logged in" args="%USERSWEB%.%WIKINAME%"}%.%TMPL:END%
%TMPL:DEF{"NEW_USER_NOTE"}%%MAKETEXT{"Enter a new username and password to change identity"}%.%TMPL:END%

%{################################################################################ }%
%TMPL:DEF{"UNRECOGNISED_USER"}%%MAKETEXT{"Unrecognised user and/or password."}%
%ADDTOZONE{
  "head"
  tag="NATSKIN::LOGIN::OPTS"
  text="<meta name='foswiki.NatSkin.loginFailed' content='true' />"
}%%TMPL:END%

%{################################################################################ }%
%TMPL:DEF{"message"}%<!-- -->
<h2 id="natLoginBanner">%BANNER%</h2>
<div class="foswikiFormSteps">
%NOTE%<!-- -->
%TMPL:P{"login"}%<!-- -->
%TMPL:P{"seealso"}%<!-- -->
</div>
<!-- -->%TMPL:END%

%{################################################################################ }%
%TMPL:DEF{"content"}%<!-- -->
<div class="natLogin">
%TMPL:P{"contenttitle"}%<!-- -->
%TMPL:P{"message"}%<!-- -->
%TMPL:P{"contact"}%<!-- -->
</div>
<!-- -->%TMPL:END%

%{################################################################################ }%
%TMPL:DEF{"contact"}%<!-- -->
<p class="foswikiGrayText natContact"> 
%MAKETEXT{"Contact [_1] if you have any questions." args="<a href='mailto:%WIKIWEBMASTER%?subject=%ENCODE{\"%WIKITOOLNAME%: Request for support\"}%&&body=%ENCODE{\"Hello, I have got a question ...\"}%'>%WIKIWEBMASTER%</a>"}%
</p> 
<!-- -->%TMPL:END%

%{################################################################################ }%
%TMPL:DEF{"seealso"}%<!-- -->

<div class="foswikiFormStep foswikiFormLast">
[[%SYSTEMWEB%.ResetPassword][%MAKETEXT{"Did you forget your password?"}%]] %BR%
%IF{"context registration_enabled" 
  then="[[%SYSTEMWEB%.UserRegistration][%MAKETEXT{"Do you want to become a registered user?"}%]]"
  else="<!-- registration disabled -->"
}%
</div>
<!-- -->%TMPL:END%
