<!-- template: loginbase.tmpl -->
%TMPL:DEF{"useractions"}%<div class='natGreeter'>&nbsp;</div>%TMPL:END%
%TMPL:DEF{"rememberbox"}%<!-- rememberbox -->
<div class="foswikiFormStep">
  <table cellspacing="0" cellpadding="0"><tr><td>
  <input id="remember" name="remember" class="foswikiCheckbox" type="checkbox" value="1" />
  </td><td style="padding-left:0.3em">
  <label for="remember">%MAKETEXT{"Remember me on this computer"}%</label>
  </td></tr></table>
</div>
<!-- //rememberbox -->%TMPL:END%
%TMPL:DEF{"logon"}%<!-- logon -->
%JQREQUIRE{"validate"}%%JQREQUIRE{"shake"}%%JQREQUIRE{"focus"}%%ADDTOHEAD{"NATSKIN::LOGIN"
  text="<script type='text/javascript' src='%PUBURLPATH%/%SYSTEMWEB%/NatSkin/login.js'></script>"
  requires="JQUERYPLUGIN"
}%<!-- require -->
<form id="LogonForm" name="LogonForm" action="%IF{"$'HTTPSLOGON'='on'" then="https" else="http"}%://%HTTP_HOST%%SCRIPTURLPATH{"login"}%/%WEB%/%TOPIC%" method="post">
<literal>%QUERYPARAMS{encoding="entity" format="<input type='hidden' name='$name' value='$value' />"}%</literal><!-- queryparams// -->
%IF{"defined 'ORIGURL'" then="<input type='hidden' name='origurl' value='$percntORIGURL$percnt' />"}%
<input type="submit" style="display:none" />
<div class="foswikiFormStep">
---+++ %MAKETEXT{"Username"}%:
<input type="text" class="foswikiFormField jqFocus required" size="20" id="username" name="username" value='%URLPARAM{"usernamestep"}%' /> 
</div>
<div class="foswikiFormStep">
---+++ %MAKETEXT{"Password"}%:
<input type="password" class="foswikiFormField required" size="20" id="password" name="password" />
</div>
%TMPL:P{context="can_remember_login" then="rememberbox"}%<!-- rememberbox // -->
<div class="foswikiFormStep foswikiFormButtons">
  %BUTTON{"%MAKETEXT{"Log In"}%" icon="tick" type="save"}% 
  %BUTTON{"%MAKETEXT{"Cancel"}%" icon="cross" target="%WIKILOGOURL%"}%
  %CLEAR%
</div>
</form>
<!-- //logon -->%TMPL:END%
