%TMPL:INCLUDE{"newtopic"}%

%TMPL:DEF{"formtitle"}%%MAKETEXT{"Create a Topic in [_1]" args="%WEBLINK{"%BASEWEB%" format="$percntENCODE{\"$title\" type=\"html\"}$percnt"}%"}%%TMPL:END%

%TMPL:DEF{"dialog"}%<noautolink>
<div class="jqUIDialog foswikiFormSteps {width:'auto', modal:true, draggable:true, closeOnEscape:true}" title="%TMPL:P{"formtitle"}%">
%TMPL:P{"createform"}%
</div>
</noautolink>%TMPL:END%

%TMPL:DEF{"createform"}%<!-- -->
<div class="jqTopicCreator">
  <input type="hidden" name="topicTitle" value="%URLPARAM{"topictitle"}%" />
  <div class="tcViewPort">
    <div class="tcContainer">
      %TMPL:P{"topiccreator::topictypes"}%<!-- -->
    </div>
  </div>
  <div class="tcNaviContainer clearfix">
    <div class="foswikiLeft" style="display:none"><i class="ma ma-arrow-back"></i> <a href="#prev" class="tcNavi tcNaviPrev">%MAKETEXT{"Back one step"}%</a></div>
    <div class="foswikiRight"><a href="#next" class="tcNavi tcNaviNext">%MAKETEXT{"Next step"}%</a> <i class="ma ma-arrow-forward"></i></div>
    %BUTTON{"%MAKETEXT{"Abort"}%" class="tcAbort foswikiRight" icon="fa-ban" style="display:none"}%
    %BUTTON{"%MAKETEXT{"Create"}%" class="tcSubmit foswikiRight" icon="fa-plus" style="display:none"}%
  </div>
</div>
<!-- -->%TMPL:END%

%TMPL:DEF{"topiccreator::topictypes"}%%TMPL:P{"topiccreator::topictypes::impl"}%%TMPL:END%

%TMPL:DEF{"topiccreator::topictypes::impl"}%<div class="foswikiPageForm tcTopicTypes"><noautolink>
  <h2>
    <div class="foswikiRight foswikiNormal">
      <input type="text" class="tcFilter foswikiInputText" size="20"  placeholder="%MAKETEXT{"search"}%" />
    </div>
    %MAKETEXT{"Please select a Topic Type"}%
  </h2>
  <div class="tcPage clearfix">
    %IF{"$'TOPICCREATOR_SHOW_DEFAULT_TYPE'='off'" 
      then="<!-- -->"
      else="<div class='tcTopicType clearfix %IF{"'%TOPICCREATOR_SELECT_TYPE{default="default"}%'='default'" then="tcSelected' autofocus" else="'"}% %DBQUERY{
	        webs="%WEB%,%SYSTEMWEB%"
                topic="WebTopicEditTemplate" 
		limit="1"
                format="data-topic-type='$percntFORMATLIST{\"$expand(TopicType)\" limit=\"1\"}$percnt' \
                        data-topic-template='$web.WebTopicEditTemplate' \
                        data-form='$percntQUERY{\"'$web.$topic'/form.name\"}$percnt'"
              }%>
              <div class='tcIcon'>%JQICON{"fa-file-o"}%</div>
              <h3>%MAKETEXT{"Default"}%</h3>
              <div class='foswikiGrayText'>
                %MAKETEXT{"Default wiki content"}%
              </div>
            </div>"
    }%
    %DBQUERY{"TopicType=~'\bTopicType\b' OR @Target.TopicType=~'\bTopicType\b'"
      format="<div class='tcTopicType clearfix $percntIF{\"$'TOPICCREATOR_SELECT_TYPE'='$topic'\" then=\"tcSelected' autofocus\" else=\"'\"}$percnt \
                   data-topic-type='$percntFORMATLIST{\"$expand(Target or topic)\" split=\"[\./]\" reverse=\"on\" limit=\"1\"}$percnt' \
                   data-form='$expand(Target or topic)' \
                   data-topic-editor='$expand(@Target.Editor or Editor)' \
                   data-topic-template='$expand(@Target.Template or Template)' \
                   data-topic-naming='$expand(@Target.TopicNaming or TopicNaming)' \
                   data-title='$expand(@Target.topictitle or topictitle)'>
          <div class='tcIcon'>
            $percntJQICON{\"$expand(@Target.Icon or Icon or 'fa-file')\"}$percnt
          </div>
          <h3>$expand(@Target.topictitle or topictitle)</h3>
          <div class='foswikiGrayText'>$expand(@Target.Summary or Summary)</div>
        </div>"
      separator="$n"
      web="%URLPARAM{"web" default="%BASEWEB%"}%"
      include="%TOPICCREATOR_INCLUDE_TYPE{default=""}%"
      exclude="%TOPICCREATOR_EXCLUDE_TYPE{default=""}%"
    }%
  </div>
</noautolink></div>%TMPL:END%

%TMPL:DEF{"img::exts"}%jpe?g|gif|png|bmp|svg|ico|tiff?|xcf|psd|JE?PG|GIF|PNG|BMP|SVG|ICO|TIFF|XCF|PSD?%TMPL:END%

%TMPL:DEF{"topiccreator::topictemplates"}%%IF{"'%URLPARAM{"topicTemplate"}%'=''"
  then="$percntTMPL:P{\"topiccreator::topictemplates::impl\"}$percnt"
}%%IF{"'%URLPARAM{"topicType"}%'!=''"
  then="$percntTMPL:P{\"topiccreator::inputform\"}$percnt"
}%%TMPL:END%

%TMPL:DEF{"topiccreator::topictemplates::impl"}%%DBQUERY{
  "TopicType=~'\bTopicTemplate\b' AND ForTopicType='%URLPARAM{"topicType"}%'"
  include="%TOPICCREATOR_INCLUDE_TEMPLATE{default=""}%"
  exclude="%TOPICCREATOR_EXCLUDE_TEMPLATE{default="^(TopicTemplate|WebTopicEditTemplate|.*ViewTemplate|.*EditTemplate)$"}%"
  header="<div class='foswikiPageForm tcTopicTemplates'>
          <h2>
            <div class='foswikiRight foswikiNormal'>
              <input type='text' class='tcFilter foswikiInputText' size='20'  placeholder='%MAKETEXT{"search"}%' />
            </div>
            %MAKETEXT{"Please select a Template"}%
          </h2>
          <div class='tcPage clearfix'>
            %IF{"$'TOPICCREATOR_SHOW_DEFAULT_TEMPLATE'='off'"
            then="<!-- -->"
            else="<div class='tcTopicTemplate tcSelected clearfix'>
                    <div class='tcIcon'>%JQICON{"fa-file-o"}%</div>
                      <h3>%MAKETEXT{"Default"}%</h3>
                      <div class='foswikiGrayText'>
                        %MAKETEXT{"default template for the selected topic type"}%
                      </div>
                    </div>"
            }%"
  format="<div class='tcTopicTemplate clearfix' data-topic-template='$web.$topic'>
      <div class='tcIcon'>%JQICON{"fa-file"}%</div>
      <h3>$expand(topictitle)</h3>
      <div class='foswikiGrayText'>$expand(Summary)</div>
    </div>"
  footer="</div></div>"
  hidenull="on"
  separator="$n"
  web="%URLPARAM{"web" default="%BASEWEB%"}%"
}%%TMPL:END%

%TMPL:DEF{"topiccreator::inputform"}%<div class="foswikiPageForm tcInputForm"><noautolink>
  <div class="foswikiRight tcIcon">%JQICON{
    "%FORMFIELD{"Icon" topic="%IF{"$'URLPARAM{form}'" then="%URLPARAM{"form"}%" else="%IF{"istopic 'Applications.WikiTopic'" then="Applications.WikiTopic" else="%SYSTEMWEB%.WikiTopic"}%"}%"}%"
  }%</div>
  <h2>%URLPARAM{"title" default="%MAKETEXT{"Default wiki content"}%"}%</h2>
  <div class="tcPage clearfix">
    <form class='jqValidate' action="%SCRIPTURLPATH{"%ACTION{default="edit"}%"}%/%BASEWEB%/">
      <input type="hidden" name="onlynewtopic" value="on" />
      <input type="hidden" name="onlywikiname" value="off" />
      <input type="hidden" name="topicparent" value="%URLPARAM{"topicparent" default="%BASETOPIC%"}%" />
      <input type='hidden' name='templatetopic' value='%URLPARAM{"topicTemplate"}%' />
      %IF{"$'URLPARAM{form}'"
        then="<input type='hidden' name='formtemplate' value='%URLPARAM{"form"}%' />"
      }%%IF{"$'URLPARAM{topicEditor}'"
        then="<input type='hidden' name='template' value='%URLPARAM{"topicEditor"}%' />"
      }%%IF{"$'URLPARAM{topicNaming}'=~'AUTOINC'"
        then="<input type='hidden' name='topic' value='%URLPARAM{"topicNaming"}%' />"
        else="<input type='hidden' name='topic' class='jqWikiWord' data-source='.tcInputForm input[name=TopicTitle]' data-transliterate='true' />"
      }%<!-- -->
      <table class="foswikiLayoutTable foswikiFullWidth">
        %RENDERFOREDIT{
          form="%IF{"$'URLPARAM{form}'" 
            then="%URLPARAM{"form"}%" 
            else="%IF{"istopic 'Applications.WikiTopic'" 
                    then="Applications.WikiTopic" 
                    else="%SYSTEMWEB%.WikiTopic"}%"
                  }%"
          topic="%IF{"$'URLPARAM{topicTemplate}'" 
            then="%URLPARAM{"topicTemplate"}%" 
            else="%IF{"istopic '%DBQUERY{webs="%BASEWEB%,%SYSTEMWEB%" topic="WebTopicEditTemplate" limit="1" format="$web.$topic"}%'" 
                    then="WebTopicEditTemplate" 
                    else="nosuchtopic"
                  }%"
          }%"
          field="TopicTitle"
          TopicTitle_value="%URLPARAM{"topicTitle"}%"
          format="<tr><th>%MAKETEXT{"Title"}%:</th>
                 <td>$edit
                    <div class='foswikiFormDescription'>$description</div>
                 </td></tr>$n"
        }%%RENDERFOREDIT{
          form="%IF{"$'URLPARAM{form}'" then="%URLPARAM{"form"}%"}%"
          topic="%IF{"$'URLPARAM{topicTemplate}'" 
            then="%URLPARAM{"topicTemplate"}%" 
            else="%IF{"istopic '%DBQUERY{webs="%BASEWEB%,%SYSTEMWEB%" topic="WebTopicEditTemplate" limit="1" format="$web.$topic"}%'" 
                    then="WebTopicEditTemplate" 
                    else="nosuchtopic"
                  }%"
          }%"
          exclude="TopicTitle"
          includeattr="c"
          mandatory="<span class='foswikiAlert'>**</span>"
          Summary_value=""
          format="<tr><th>$title:$mandatory</th>
                 <td>$edit
                    <div class='foswikiFormDescription'>$description</div>
                 </td></tr>$n"
        }%</table>
    </div>
  </form>
</noautolink></div>%TMPL:END%
