%TMPL:INCLUDE{"newtopic"}%
%TMPL:INCLUDE{"icons"}%

%TMPL:DEF{"formtitle"}%%TRANSLATE{"New topic"}%%TMPL:END%

%TMPL:DEF{"dialog"}%<noautolink>
<div class="jqUIDialog foswikiFormSteps" data-width="auto" data-max-width="790" data-modal="true" data-draggable="true" data-close-on-escape="true" title="%TMPL:P{"formtitle"}%">
%TMPL:P{"createform"}%
</div>%JQREQUIRE{"validate, ui::dialog, wikiword"}%
</noautolink>%TMPL:END%

%TMPL:DEF{"createform"}%<div class="jqTopicCreator %IF{"$'TOPICCREATOR_LAYOUT'='list'" then="tcListLayout"}%">
  <input type="hidden" name="topicTitle" value="%URLPARAM{"topictitle"}%" />
  <div class="tcViewPort">
    <div class="tcContainer">
      %TMPL:P{"topiccreator::topictypes"}%%{}%
    </div>
  </div>
  <div class="tcNaviContainer clearfix">
    <div class="foswikiLeft" style="display:none"><a href="#prev" class="jqButton tcNavi tcNaviPrev">%TMPL:P{"icon::prev"}% %TRANSLATE{"Back one step"}%</a></div>
    <div class="foswikiRight"><a href="#next" class="jqButton tcNavi tcNaviNext">%TRANSLATE{"Next step"}% %TMPL:P{"icon::next"}%</a> </div>
    %BUTTON{"%TRANSLATE{"Abort"}%" class="tcAbort foswikiRight" icon="%TMPL:P{"icon::cancel::name"}%" style="display:none"}%
    %BUTTON{"%TRANSLATE{"Create"}%" class="tcSubmit foswikiRight jqButtonDisabled" icon="%TMPL:P{"icon::ok::name"}%" style="display:none"}%
  </div>
</div>%TMPL:END%

%TMPL:DEF{"topiccreator::layouttoggle"}%<a class='tcLayoutToggle foswikiRight' title='%TRANSLATE{"Toggle layout"}%'>
  <span class='tcLayoutToggleGrid'>%TMPL:P{"icon::layoutlist"}%</span>
  <span class='tcLayoutToggleList' style='display:none'>%TMPL:P{"icon::layoutgrid"}%</span>
</a>%TMPL:END%

%TMPL:DEF{"topiccreator::filter"}%<div class="foswikiRight foswikiNormal tcFilter">
  <input type="search" class="foswikiInputField" size="30"  placeholder="%TRANSLATE{"search"}%" />
</div> %TMPL:END%

%TMPL:DEF{"topiccreator::topictypes"}%%TMPL:P{"topiccreator::topictypes::impl"}%%TMPL:END%
%TMPL:DEF{"topiccreator::topictypes::impl"}%<div class="foswikiPageForm tcTopicTypes"><noautolink>
  %TMPL:P{"topiccreator::layouttoggle"}%
  %TMPL:P{"topiccreator::filter"}%
  <h2>%TMPL:P{"topiccreator::topictypes::title"}%</h2>
  <div class="tcPage clearfix">
    %IF{"$'TOPICCREATOR_SHOW_DEFAULT_TYPE'!='off'" 
      then="<div class='tcTopicType clearfix %IF{"'%TOPICCREATOR_SELECT_TYPE{default="default"}%'='default'" then="tcSelected' autofocus" else="'"}% %DBQUERY{
                topic="WebTopicEditTemplate" 
                webs="%BASEWEB%,%SYSTEMWEB%"
                sort="off"
		limit="1"
                format="data-topic-type='$percntFORMATLIST{\"$expand(TopicType)\" limit=\"1\"}$percnt' \
                        data-topic-template='$web.$topic' \
                        data-create-action='edit' \
                        data-category='%URLPARAM{"category"}%' \
                        data-topicparent='%URLPARAM{"topicparent" default="%IF{"$'URLPARAM{category}'='' or $'URLPARAM{category}'='%TOPIC%'" then="%TOPIC%" }%"}%' \
                        data-form='$percntQUERY{\"'$web.$topic'/form.name\"}$percnt'"
              }%>
              <div class='tcIcon'>%TMPL:P{"icon::file"}%</div>
              <h3>%TRANSLATE{"Default"}%</h3>
              <div class='foswikiGrayText'>
                %TRANSLATE{"Default wiki content"}%
              </div>
            </div>"
    }%%DBQUERY{"(TopicType=~'\bTopicType\b' OR @Target.TopicType=~'\bTopicType\b') AND topic ALLOWS 'create'"
      format="<div class='tcTopicType clearfix $percntIF{\"$'TOPICCREATOR_SELECT_TYPE'='$topic'\" then=\"tcSelected' autofocus\" else=\"'\"}$percnt \
                   data-topic-type='$percntFORMATLIST{\"$expand(Target or topic)\" split=\"[\./]\" reverse=\"on\" limit=\"1\"}$percnt' \
                   data-form='$expand(Target or topic)' \
                   data-topic-editor='$expand(@Target.Editor or Editor)' \
                   data-create-action='$expand(@Target.CreateAction or CreateAction or 'edit')' \
                   data-topic-template='$expand(@Target.Template or Template)' \
                   data-topic-naming-mode='$expand(@Target.TopicNamingMode or TopicNamingMode)' \
                   data-category='%URLPARAM{"category"}%' \
                   data-topicparent='%URLPARAM{"topicparent" default="%IF{"$'URLPARAM{category}'='' or $'URLPARAM{category}'='%TOPIC%'" then="%TOPIC%" }%"}%' \
                   data-title='$percntTRANSLATE{\"$expand(topictitle or @Target.topictitle)\"}$percnt'>
          <div class='tcIcon'>
            $percntJQICON{\"$expand(@Target.Icon or Icon or '%TMPL:P{"icon::file::name"}%')\"}$percnt
          </div>
          <h3>$percntTRANSLATE{\"$expand(topictitle or @Target.topictitle)\"}$percnt</h3>
          <div class='foswikiGrayText'>$percntTRANSLATE{\"$expand(Summary or @Target.Summary)\"}$percnt</div>
        </div>"
      separator="$n"
      web="%URLPARAM{"web" default="%BASEWEB%"}%"
      include="%TMPL:P{"topiccreator::topictypes::include"}%"
      exclude="%TMPL:P{"topiccreator::topictypes::exclude"}%"
    }%
  </div>
</noautolink></div>%TMPL:END%
%TMPL:DEF{"topiccreator::topictypes::title"}%%TRANSLATE{"Please select the type of content you'd like to create"}%%TMPL:END%
%TMPL:DEF{"topiccreator::topictypes::include"}%%TOPICCREATOR_INCLUDE_TYPE{default=""}%%TMPL:END%
%TMPL:DEF{"topiccreator::topictypes::exclude"}%%TOPICCREATOR_EXCLUDE_TYPE{default=""}%%TMPL:END%

%TMPL:DEF{"topiccreator::topictemplates"}%%TMPL:P{"topiccreator::topictemplates::impl"}%%TMPL:END%
%TMPL:DEF{"topiccreator::topictemplates::impl"}%%DBQUERY{
  "TopicType=~'\bTopicTemplate\b' AND ('%URLPARAM{"topicType"}%'='' OR ForTopicType=~'\b%URLPARAM{"topicType"}%$') AND topic!~'^(TopicTemplate|WebTopicEditTemplate|WebCreateNewTopicTemplate|.*ViewTemplate|.*EditTemplate)$'"
  header="<div class='foswikiPageForm tcTopicTemplates'>
          $percntTMPL:P{\"topiccreator::layouttoggle\"}$percnt
          $percntTMPL:P{\"topiccreator::filter\"}$percnt
          <h2>%TMPL:P{"topiccreator::topictemplates::title"}%</h2>
          <div class='tcPage clearfix'>
            %IF{"$'TOPICCREATOR_SHOW_DEFAULT_TEMPLATE'!='off'"
              then="<div class='tcTopicTemplate clearfix %IF{"'%TOPICCREATOR_SELECT_TEMPLATE{default="default"}%'='default'" then="tcSelected' autofocus" else="'"}%>
                    <div class='tcIcon'>%TMPL:P{"icon::file"}%</div>
                      <h3>%TRANSLATE{"Default"}%</h3>
                      <div class='foswikiGrayText'>
                        %TRANSLATE{"default template for the selected topic type"}%
                      </div>
                    </div>"
            }%"
  format="<div class='tcTopicTemplate clearfix $percntIF{\"$'TOPICCREATOR_SELECT_TEMPLATE'='$topic'\" then=\"tcSelected' autofocus\" else=\"'\"}$percnt data-topic-template='$web.$topic'>
      <div class='tcIcon'>%TMPL:P{"icon::file"}%</div>
      <h3>$percntTRANSLATE{\"$expand(topictitle)\"}$percnt</h3>
      <div class='foswikiGrayText'>$percntTRANSLATE{\"$expand(Summary)\"}$percnt</div>
    </div>"
  footer="</div></div>"
  hidenull="on"
  separator="$n"
  web="%URLPARAM{"web" default="%BASEWEB%"}%"
  include="%TMPL:P{"topiccreator::topictemplates::include"}%"
  exclude="%TMPL:P{"topiccreator::topictemplates::exclude"}%"
}%%TMPL:END%
%TMPL:DEF{"topiccreator::topictemplates::title"}%%TRANSLATE{"Please select a Template"}%%TMPL:END%
%TMPL:DEF{"topiccreator::topictemplates::include"}%%TOPICCREATOR_INCLUDE_TEMPLATE{default=""}%%TMPL:END%
%TMPL:DEF{"topiccreator::topictemplates::exclude"}%%TOPICCREATOR_EXCLUDE_TEMPLATE{default=""}%%TMPL:END%

%TMPL:DEF{"topiccreator::inputform"}%<div class="foswikiPageForm tcInputForm"><noautolink>
  <div class="foswikiRight tcIcon">%JQICON{
    "%FORMFIELD{"Icon" 
      topic="%IF{"$'URLPARAM{form}'" 
		then="%URLPARAM{"form"}%" 
		else="%IF{"istopic 'Applications.WikiTopic'" 
			then="Applications.WikiTopic" 
			else="%SYSTEMWEB%.WikiTopic"
		      }%"
	    }%"
    }%"
  }%</div>
  <h2>%TMPL:P{"topiccreator::inputform::title"}% 
    %IF{"istopic $'URLPARAM{topicType}'"
      then="<span class='foswikiNormal foswikiGrayText'>(<a href='%SCRIPTURLPATH{"view" topic="%BASEWEB%.%URLPARAM{"topicType"}%"}%' target='_blank'>%MAKETEXT{"see all"}%</a>)</span>"
      else="<!-- -->"
    }%
  </h2>
  <div class="tcPage clearfix">
    <form class='jqValidate' action="%SCRIPTURLPATH{"%URLPARAM{"createAction"}%"}%/%BASEWEB%/" %IF{"$'URLPARAM{createAction}'='save'" then="method='post'"}%>
      <input type='hidden' name='t' value='%GMTIME{"$epoch"}%' />
      <input type='hidden' name='onlynewtopic' value='on' />
      <input type='hidden' name='onlywikiname' value='off' />
      <input type='hidden' name='topicparent' value='%URLPARAM{"topicparent"}%' />
      %TMPL:P{"topiccreator::inputform::clear" 
        topictemplate="%TMPL:P{"topiccreator::inputform::topictemplate"}%"
      }%<!-- -->
      %IF{"$'URLPARAM{topicEditor}'"
        then="<input type='hidden' name='template' value='%URLPARAM{"topicEditor"}%' />$n"
      }%%IF{"$'URLPARAM{form}'"
        then="<input type='hidden' name='formtemplate' value='%URLPARAM{"form"}%' />
              <input type='hidden' name='TopicType' value='%RENDERFORMDEF{"%URLPARAM{"form"}%" field="TopicType" format="$value"}%' />$n"
      }%%IF{"$'URLPARAM{topicNamingMode}'=~'^(default)?$'"
	then="<input type='hidden' name='topic' class='jqWikiWord' data-source='.tcInputForm input[name=TopicTitle]' data-transliterate='true' />$n"
      }%%IF{"$'URLPARAM{topicNamingMode}'='template'"
	then="<input type='hidden' name='topic' value='%FORMFIELD{"TopicNameTemplate" topic="%URLPARAM{"form"}%"}%' />$n"
      }%%IF{"$'URLPARAM{topicNamingMode}'='derived'"
	then="<input type='hidden' name='topic' class='jqWikiWord' $percntDBQUERY{
		topic=\"%URLPARAM{"form" default="NoSuchTopic"}%\"
		format=\"data-source='$formfield(TopicNameSource)' \
			 data-prefix='$formfield(TopicNamePrefix)' \
			 data-suffix='$formfield(TopicNameSuffix)' \
			 data-transliterate='$formfield(TopicNameTransliterate)'\"
	      }$percnt/>"
      }%%IF{"$'URLPARAM{topicNamingMode}'='uuid'"
        then="<input type='hidden' name='topic' class='jqUUID' value='' />$percntTMPL:P{\"topiccreator::uuid\"}$percnt"
      }%<table class="foswikiLayoutTable foswikiFullWidth">
        %RENDERFOREDIT{
          form="%IF{"$'URLPARAM{form}'" 
            then="%URLPARAM{"form"}%" 
            else="%IF{"istopic 'Applications.WikiTopic'" 
                    then="Applications.WikiTopic" 
                    else="%SYSTEMWEB%.WikiTopic"}%"
                  }%"
          web="%URLPARAM{"web" default="%BASEWEB%"}%"
          topic="%TMPL:P{"topiccreator::inputform::topictemplate"}%"
          field="TopicTitle"
          TopicTitle_value="%URLPARAM{"topicTitle"}%"
          format="<tr><th>%TRANSLATE{"Title"}%:$mandatory</th>
                 <td>$edit
                    <div class='foswikiFormDescription'>$description</div>
                 </td></tr>$n"
        }%%RENDERFOREDIT{
          form="%URLPARAM{"form"}%"
          web="%URLPARAM{"web" default="%BASEWEB%"}%"
          topic="%TMPL:P{"topiccreator::inputform::topictemplate"}%"
          exclude="^TopicTitle$"
          hidden="^(%RENDERFORMDEF{
                      "%URLPARAM{"form"}%"
                      excludeattr="\bc\b"
                      format="$name"
                      separator="|"
                    }%)$"
          Summary_value=""
          %TMPL:P{"topiccreator::inputform::defaults"
            topictemplate="%TMPL:P{"topiccreator::inputform::topictemplate"}%"
          }%
          format="<tr><th>$title:$mandatory</th>
                 <td>$edit
                    <div class='foswikiFormDescription'>$description</div>
                 </td></tr>$n"
          %RENDERFORMDEF{"%URLPARAM{"form"}%"
            includetype="cat"
            format="$name_default=\"%URLPARAM{"category"}%\""
            limit="1"
          }%
        }%
        %IF{"$'URLPARAM{topicTemplate}'~'*WebTopicEditTemplate'" 
          then="$percntTMPL:P{\"topiccreator::inputform::templates\"}$percnt"
          else="<input type='hidden' name='templatetopic' value='%URLPARAM{"topicTemplate"}%' />"
        }%
      </table>
    </form>
  </div>
</noautolink></div>%TMPL:END%
%TMPL:DEF{"topiccreator::inputform::title"}%%URLPARAM{"title" default="%TRANSLATE{"Default wiki content"}%"}%%TMPL:END%
%TMPL:DEF{"topiccreator::inputform::topictemplate"}%%IF{"$'URLPARAM{topicTemplate}'" 
            then="%URLPARAM{"topicTemplate"}%" 
            else="$percntDBQUERY{
              topic=\"WebTopicEditTemplate\"
              limit=\"1\" 
              sort=\"off\" 
              format=\"$web.$topic\"
              nullformat=\"nosuchtopic\"
            }$percnt" 
}%%TMPL:END%
%TMPL:DEF{"topiccreator::inputform::defaults"}%%FORMATLIST{
  "%QUERY{"'%topictemplate%'/preferences[name=~'^FORMFIELD'].name"}%"
  pattern="^FORMFIELD_(.*)$"
  format="$1_value=\"$percntENCODE{\"$percntQUERY{\"'%topictemplate%'/preferences[name='FORMFIELD_$1'].value\"}$percnt\" type=\"quotes\"}$percnt\""
  separator=" "
}%%TMPL:END%
%TMPL:DEF{"topiccreator::inputform::clear"}%%FORMATLIST{
  "%QUERY{"'%topictemplate%'/preferences[name=~'^FORMFIELD'].name"}%"
  pattern="^FORMFIELD_(.*)$"
  format="<input type='hidden' name='Unset' value='FORMFIELD_$1' />"
  separator="$n"
}%%TMPL:END%


%TMPL:DEF{"topiccreator::inputform::templates"}%<tr>
  <th>%TMPL:P{"topiccreator::inputform::templates::title"}%:</th>
  <td>%DBQUERY{
    "topic=~'Template$' AND topic!~'(View|Edit)Template\b' AND TopicType!~'\bTopicTemplate\b' AND topic!~'^(TopicTemplate|WebTopicEditTemplate|WebCreateNewTopicTemplate|.*ViewTemplate|.*EditTemplate)$'"
    header="<select name='templatetopic' class='foswikiSelect'>
          <option value='%URLPARAM{"topicTemplate"}%' class='foswikiRadioButton'>%TRANSLATE{"Default"}%</option>$n"
    format="<option value='$topic' class='foswikiOption'><nop>$topic</option>"
    separator="$n"
    footer="$n</select>
        <div class='foswikiFormDescription'>
          %TRANSLATE{"Select which template to use while creating this topic."}%
        </div>"
    include="%TMPL:P{"topiccreator::inputform::templates::include"}%"
    exclude="%TMPL:P{"topiccreator::inputform::templates::exclude"}%"
  }%</td>
<tr>%TMPL:END%
%TMPL:DEF{"topiccreator::inputform::templates::title"}%%TRANSLATE{"Template"}%%TMPL:END%
%TMPL:DEF{"topiccreator::inputform::templates::include"}%%TOPICCREATOR_DEFAULT_INCLUDE_TEMPLATE{default=""}%%TMPL:END%
%TMPL:DEF{"topiccreator::inputform::templates::exclude"}%%TOPICCREATOR_DEFAULT_EXCLUDE_TEMPLATE{default=""}%%TMPL:END%

%TMPL:DEF{"topiccreator::uuid"}%%ADDTOZONE{"script" id="uuid" requires="JQUERYPLUGIN::LIVEQUERY, NATSKIN::TOPICCREATOR" text="
<script>
jQuery(function($) {
   $('.jqUUID').livequery(function() {
      $(this).val(crypto.randomUUID().toUpperCase()).trigger('change');
   });
});
</script>"
}%%TMPL:END%
