%TMPL:INCLUDE{"oops"}%
%TMPL:DEF{"bodyclass"}%natOopsMoreBody%TMPL:END%
%TMPL:DEF{"sidebar"}%%TMPL:END%

%TMPL:DEF{"message"}% <div class='foswikiErrorMessage'>%MAKETEXT{"Deprecated use of template [_1]" args="'%URLPARAM{"template" default="more"}%"}%'</div>%TMPL:END%

%TMPL:DEF{"content"}%%TMPL:P{"message"}%
%BUTTON{
  "%MAKETEXT{"Close"}%"
  target="%BASEWEB%.%BASETOPIC%"
  icon="%TMPL:P{"icon::cancel::name"}%"
}%%TMPL:END%
