%TMPL:INCLUDE{"oops"}%%{}%
%TMPL:DEF{"title"}%%PARAM1% %TMPL:P{"titlesep"}% %WIKITOOLNAME%%TMPL:END%
%TMPL:DEF{"heading"}% %PARAM1% %TMPL:END%
%TMPL:DEF{"message"}%%{}%
%MAKETEXT{ "[_1]" args="%PARAM2%" }%

%MAKETEXT{ "[_1]" args="%PARAM3%" }%

%MAKETEXT{ "[_1]" args="%PARAM4%" }%
%{}%%TMPL:END%
