%TMPL:INCLUDE{"oops"}%<!-- template: oopsmore.nat.tmpl -->
%TMPL:DEF{"bodyclass"}%natOopsMoreBody%TMPL:END%
%TMPL:DEF{"titleaction"}%%MAKETEXT{"tools"}%%TMPL:END%
%TMPL:DEF{"heading"}%[[%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%?template=more"}%][%MAKETEXT{"Tools"}%]]%TMPL:END%
%TMPL:DEF{"headingstyle"}%natNoteHeading%TMPL:END%
%TMPL:DEF{"breadcrumbs::tail"}%%TMPL:P{"sep"}%<a href="%SCRIPTURLPATH{"view"}%/%BASEWEB%/%BASETOPIC%?%QUERYSTRING%">%MAKETEXT{"Tools"}%</a>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"message"}% <span class='foswikiAlert'>deprecated use of template '%URLPARAM{"template" default="more"}%'</span>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"content"}%<!-- -->
%BUTTON{
  "%MAKETEXT{"Close"}%" 
  class="foswikiRight simple"
  target="%BASEWEB%.%BASETOPIC%" 
  icon="cross"
}%
%TMPL:P{"contenttitle"}%<!-- -->
%TMPL:P{"message"}%<!-- -->
<!-- -->%TMPL:END%

