%TMPL:INCLUDE{"oops"}%%{}%
%TMPL:INCLUDE{"messages"}%
%TMPL:INCLUDE{"passwordmessages"}%
%TMPL:DEF{"heading"}%%MAKETEXT{"Password Management"}%%TMPL:END%
%TMPL:DEF{"message"}%%INSTANTIATE%%TMPL:END%

