%TMPL:INCLUDE{"history"}%

%{ ################################################################################ }%
%TMPL:DEF{"titleaction"}%%MAKETEXT{"history"}%%TMPL:END%
%TMPL:DEF{"headingstyle"}%natNoteHeading%TMPL:END%
%TMPL:DEF{"breadcrumbs::tail"}%%TMPL:P{"sep"}%<a href="%SCRIPTURLPATH{"oops"}%/%BASEWEB%/%BASETOPIC%?template=oopshistory;%QUERYSTRING%">%MAKETEXT{"History"}%</a>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"message"}%<!-- -->
%TMPL:P{"formstart"}%<!-- -->
%TMPL:P{"revtable"}%<!-- -->
%TMPL:P{"formend"}%<!-- -->
%TMPL:P{"historyjavascript"}%
<!-- -->%TMPL:END%

