%TMPL:INCLUDE{"oops"}%<!-- template: oopsmore.nat.tmpl -->
%TMPL:DEF{"bodyclass"}%natOopsMoreBody%TMPL:END%
%TMPL:DEF{"title"}%%TOPIC% (%MAKETEXT{"tools"}%) - %WIKITOOLNAME%%TMPL:END%
%TMPL:DEF{"heading"}%%MAKETEXT{"Tools"}%%TMPL:END%
%TMPL:DEF{"headingstyle"}%natNoteHeading%TMPL:END%
%TMPL:DEF{"message"}% <!-- message -->
<div class="foswikiFormSteps">
  <div class="foswikiFormStep">
    <h2>%MAKETEXT{"Rename, move or delete this topic"}%</h2>
    %MAKETEXT{"Rename topic *[_1]*" args="%BASETOPIC%"}%

    %MAKETEXT{"See also:"}% %SYSTEMWEB%.ManagingTopics.
  </div>
  <div class="foswikiFormStep foswikiFormButtons foswikiFormLast">
    %BUTTON{"%MAKETEXT{"Rename"}%" target="%SCRIPTURLPATH{"rename"}%/%BASEWEB%/%BASETOPIC%?currentwebonly=on" icon="page_white_delete"}%
    %CLEAR%
  </div>
</div>

<div class="foswikiFormSteps">
  <form name="editsettings" action="%SCRIPTURLPATH{"manage"}%/%BASEWEB%/%BASETOPIC%" method="post">
    <input type="hidden" name="action" value="editSettings" />
    <div class="foswikiFormStep">
        <h2>%MAKETEXT{"Edit topic preferences"}%</h2>
        %MAKETEXT{"Edit preference settings for '[_1]'" args="[[%BASEWEB%.%BASETOPIC%]]"}%
    </div>
    <div class="foswikiFormStep foswikiFormButtons foswikiFormLast">
        %BUTTON{value="%MAKETEXT{"Edit"}%" type="save" icon="page_white_edit"}%
        %CLEAR%
    </div>
  </form>
</div>

<div class="foswikiFormSteps">
  <form name="searchbacklinks" action="%SCRIPTURLPATH{"oops"}%/%BASEWEB%/%BASETOPIC%">
  <div class="foswikiFormStep">
    <h2>%MAKETEXT{"Search for backlinks"}%</h2>
  </div>
  <div class="foswikiFormStep">
    %MAKETEXT{"Find topics that link back to '[_1]'" args="[[%BASEWEB%.%BASETOPIC%]]"}%

    <input type="radio" id="searchthis" name="template" value="backlinksweb" checked />
    <label for="searchthis">%MAKETEXT{"Search in current web"}%</label>

    <input type="radio" id="searchall" name="template" value="backlinksallwebs" />
    <label for="searchall">%MAKETEXT{"Search in all public webs"}%</label>
  </div>
  <div class="foswikiFormStep foswikiFormButtons foswikiFormLast">
    %BUTTON{"%MAKETEXT{"Search"}%" type="save" icon="find"}%
    %CLEAR%
  </div>
  </form>
</div>     

<div class="foswikiFormSteps">
  <form name="restoretopic" action="%SCRIPTURLPATH{"manage"}%/%BASEWEB%/%BASETOPIC%" method="post">
    <input type="hidden" name="action" value="restoreRevision" />
    <input type="hidden" name="nowysiwyg" value="1" />
    <div class="foswikiFormStep">
      <h2>%MAKETEXT{"Restore topic"}%</h2>
      %MAKETEXT{"Restore topic to revision:"}% 
      <input class="foswikiInputField" type="text" name="rev" size="6" value="%NATMAXREV%" />
      <div class="foswikiFormDescription">
        %MAKETEXT{"You will be able to review the topic before saving it to a new revision."}%
      </div>
    </div>
    <div clasS="foswikiFormStep foswikiFormButtons foswikiFormLast">
      %BUTTON{"%MAKETEXT{"Restore"}%" icon="arrow_undo" type="save" }%
      %CLEAR%
    </div>
  </form>
</div>

<div class="foswikiFormSteps" style="%IF{"not {Cache}{Enabled}" then="display:none"}%">
  <div class="foswikiFormStep">
    <h2>%MAKETEXT{"Refresh topic caching"}%</h2>
    %MAKETEXT{"Get a fresh page of the topic [_1]" args="[[%BASEWEB%.%BASETOPIC%]]"}%&nbsp;
  </div>
  <div class="foswikiFormStep foswikiFormButtons foswikiFormLast">
    %BUTTON{"%MAKETEXT{"Refresh"}%" icon="arrow_refresh" target="%SCRIPTURLPATH{"view"}%/%BASEWEB%/%BASETOPIC%?refresh=on" }%
    %CLEAR%
  </div>
</div>

<div class="foswikiFormSteps" style="%IF{"not {Cache}{Enabled}" then="display:none"}%">
  <div class="foswikiFormStep">
    <h2>Dependencies</h2>
    %MAKETEXT{"List of topics the current depends on."}%
  </div>
  <div id="dependencies" class="foswikiFormStep foswikiFormButtons foswikiFormLast">
    %BUTTON{"Show Dependencies" 
      onclick="jQuery(this).find('.jqButtonIcon').css('background-image','url(%PUBURLPATH%/%SYSTEMWEB%/JQueryPlugin/plugins/spinner/spinner.gif)');jQuery('#dependencies').load('%SCRIPTURLPATH{"rest"}%/RenderPlugin/tag?name=DISPLAYDEPENDENCIES;topic=%BASEWEB%.%BASETOPIC%;render=on');return false;"
      icon="page_white_stack"
    }%
    %CLEAR%
  </div>
</div>

<div class="foswikiFormSteps" style='%IF{"context i18n_enabled" then="" else="display:none"}%'>
  <form name="changelanguage" action="%SCRIPTURLPATH{"oops"}%/%BASEWEB%/%BASETOPIC%" method="post">
    <input type="hidden" name="template" value="oopslanguagechanged" />
    <input type="hidden" name="refresh" value="on" />
    <div class="foswikiFormStep">
      <h2>%MAKETEXT{"Change interface language"}%</h2>
      <select name="language">
      <option value="default">Default</option>
      %LANGUAGES{format="<option $marker value=\"$langtag\">$langname</option>" selection="%LANGUAGE%" separator=" "}%
      </select>

      <input type="checkbox" class="foswikiCheckbox" name="todefault" id="todefault" onclick="document.changelanguage.language.value = (this.checked)?'default':'%LANGUAGE%';this.blur();">
      <label for="todefault">%MAKETEXT{"Default language"}%</label>
    </div>
    <div class="foswikiFormStep foswikiFormButtons foswikiFormLast">
      %BUTTON{"%MAKETEXT{"Submit"}%" type="save" icon="world"}%
      %CLEAR%
    </div>
  </form>
</div>

<!-- //message -->%TMPL:END%
%TMPL:DEF{"content"}%<!-- content -->
<div class="natOopsMore">
  <div class="natOopsMessage">
%BUTTON{"%MAKETEXT{"Close"}%" 
  title="%MAKETEXT{"Close this dialog"}%"
  style="float:right;margin:0px;" 
  target="%BASEWEB%.%BASETOPIC%" 
  icon="cross"
}%
%TMPL:P{"contenttitle"}%<!-- contenttitle// -->
%TMPL:P{"message"}%<!-- message// -->
    <div class="natContact"> 
      %TMPL:P{"contact"}% 
    </div>
  </div>
</div>

<!-- // content -->%TMPL:END%
