%TMPL:DEF{"metaopensearch"}%
%TMPL:P{"opensearch::content::link"}%
%TMPL:P{"DIS_opensearch::person::link"}%
%TMPL:END%

%TMPL:DEF{"opensearch::header"}%<?xml version="1.0" encoding="UTF-8"?><OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/" xmlns:moz="http://www.mozilla.org/2006/browser/search/">%TMPL:END%
%TMPL:DEF{"opensearch::footer"}%</OpenSearchDescription>%TMPL:END% 
%TMPL:DEF{"opensearch::encoding"}%<InputEncoding>%CHARSET%</InputEncoding><OutputEncoding>%CHARSET%</OutputEncoding>%TMPL:END%
%TMPL:DEF{"opensearch::tags"}%<Tags>Foswiki Search</Tags>%TMPL:END%
%TMPL:DEF{"opensearch::contact"}%<Contact>%WIKIWEBMASTER%</Contact>%TMPL:END%
%TMPL:DEF{"opensearch::image"}%<Image height="16" width="16" type="image/x-icon">%PUBURL%%SUBST{text="%FAVICON%" pattern="%PUBURLPATH%"}%</Image>%TMPL:END%
%{ Image height="64" width="64" type="image/png">http://example.com/websearch.png</Image --> }%

%{ content search }%
%TMPL:DEF{"opensearch::content::topic"}%%USERSWEB%.WebSearch%TMPL:END%
%TMPL:DEF{"opensearch::content::link"}%<link rel="search" type="application/opensearchdescription+xml" title="%WIKITOOLNAME%" href="%TMPL:P{"opensearch::content::link::href"}%">%TMPL:END%
%TMPL:DEF{"opensearch::content::link::href"}%%SCRIPTURLPATH{"rest"}%/RenderPlugin/template?topic=%TMPL:P{"opensearch::content::topic"}%&amp;name=opensearch&amp;expand=opensearch::content&amp;contenttype=%ENCODE{"application/opensearchdescription+xml"}%%TMPL:END%

%TMPL:DEF{"opensearch::content"}%%TMPL:P{"opensearch::content::header"}%
%TMPL:P{"opensearch::content::shortname"}%
%TMPL:P{"opensearch::content::longname"}%
%TMPL:P{"opensearch::content::description"}%
%TMPL:P{"opensearch::content::image"}%
%TMPL:P{"opensearch::content::url"}%
%TMPL:P{"opensearch::content::self"}%
%TMPL:P{"opensearch::content::tags"}%
%TMPL:P{"opensearch::content::contact"}%
%TMPL:P{"opensearch::content::encoding"}%
%TMPL:P{"opensearch::content::searchform"}%
%TMPL:P{"opensearch::content::footer"}%%TMPL:END%

%TMPL:DEF{"opensearch::content::header"}%%TMPL:P{"opensearch::header"}%%TMPL:END%
%TMPL:DEF{"opensearch::content::shortname"}%<ShortName>%WIKITOOLNAME%</ShortName>%TMPL:END%
%TMPL:DEF{"opensearch::content::longname"}%<LongName>%MAKETEXT{"[_1] Content Search" args="%WIKITOOLNAME%"}%</LongName>%TMPL:END%
%TMPL:DEF{"opensearch::content::description"}%<Description>%MAKETEXT{"Search for content on [_1]" args="%WIKITOOLNAME%"}%</Description>%TMPL:END%
%TMPL:DEF{"opensearch::content::url"}%<Url type="text/html" template="%SCRIPTURL{"view" topic="%TMPL:P{"opensearch::content::topic"}%"}%#q={searchTerms}" />%TMPL:END%
%TMPL:DEF{"opensearch::content::searchform"}%<moz:SearchForm>%SCRIPTURL{"view" topic="%TMPL:P{"opensearch::content::topic"}%"}%</moz:SearchForm>%TMPL:END%
%TMPL:DEF{"opensearch::content::self"}%<Url type="application/opensearchdescription+xml" rel="self" template="%TMPL:P{"opensearch::content::link::href"}%" />%TMPL:END%
%TMPL:DEF{"opensearch::content::tags"}%%TMPL:P{"opensearch::tags"}%%TMPL:END%
%TMPL:DEF{"opensearch::content::contact"}%%TMPL:P{"opensearch::contact"}%%TMPL:END%
%TMPL:DEF{"opensearch::content::image"}%%TMPL:P{"opensearch::image"}%%TMPL:END%
%TMPL:DEF{"opensearch::content::encoding"}%%TMPL:P{"opensearch::encoding"}%%TMPL:END%
%TMPL:DEF{"opensearch::content::footer"}%%TMPL:P{"opensearch::footer"}%%TMPL:END%



%{ person search }%
%TMPL:DEF{"opensearch::person::topic"}%%USERSWEB%.WikiUsers%TMPL:END%
%TMPL:DEF{"opensearch::person::link"}%<link rel="search" type="application/opensearchdescription+xml" title="%WIKITOOLNAME%-People" href="%TMPL:P{"opensearch::person::link::href"}%">%TMPL:END%
%TMPL:DEF{"opensearch::person::link::href"}%%SCRIPTURLPATH{"rest"}%/RenderPlugin/template?topic=%TMPL:P{"opensearch::person::topic"}%&amp;name=opensearch&amp;expand=opensearch::person&amp;contenttype=%ENCODE{"application/opensearchdescription+xml"}%%TMPL:END%

%TMPL:DEF{"opensearch::person"}%%TMPL:P{"opensearch::person::header"}%
%TMPL:P{"opensearch::person::shortname"}%
%TMPL:P{"opensearch::person::longname"}%
%TMPL:P{"opensearch::person::description"}%
%TMPL:P{"opensearch::person::url"}%
%TMPL:P{"opensearch::person::self"}%
%TMPL:P{"opensearch::person::searchform"}%
%TMPL:P{"opensearch::person::tags"}%
%TMPL:P{"opensearch::person::contact"}%
%TMPL:P{"opensearch::person::image"}%
%TMPL:P{"opensearch::person::encoding"}%
%TMPL:P{"opensearch::person::footer"}%%TMPL:END%

%TMPL:DEF{"opensearch::person::header"}%%TMPL:P{"opensearch::header"}%%TMPL:END%
%TMPL:DEF{"opensearch::person::shortname"}%<ShortName>%WIKITOOLNAME%-People</ShortName>%TMPL:END%
%TMPL:DEF{"opensearch::person::longname"}%<LongName>%MAKETEXT{"[_1] Person Search" args="%WIKITOOLNAME%"}%</LongName>%TMPL:END%
%TMPL:DEF{"opensearch::person::description"}%<Description>%MAKETEXT{"Search for persons on [_1]" args="%WIKITOOLNAME%"}%</Description>%TMPL:END%
%TMPL:DEF{"opensearch::person::url"}%<Url type="text/html" template="%SCRIPTURL{"view topic="%TMPL:P{"opensearch::person::topic"}%"}%#q={searchTerms}" method="get" />%TMPL:END%
%TMPL:DEF{"opensearch::person::searchform"}%<moz:SearchForm>%SCRIPTURL{"view" topic="%TMPL:P{"opensearch::person::topic"}%"}%</moz:SearchForm>%TMPL:END%
%TMPL:DEF{"opensearch::person::self"}%<Url type="application/opensearchdescription+xml" rel="self" method="get" template="%TMPL:P{"opensearch::person::link}%" />%TMPL:END%
%TMPL:DEF{"opensearch::person::tags"}%%TMPL:P{"opensearch::tags"}%%TMPL:END%
%TMPL:DEF{"opensearch::person::contact"}%%TMPL:P{"opensearch::contact"}%%TMPL:END%
%TMPL:DEF{"opensearch::person::image"}%%TMPL:P{"opensearch::image"}%%TMPL:END%
%TMPL:DEF{"opensearch::person::encoding"}%%TMPL:P{"opensearch::encoding"}%%TMPL:END%
%TMPL:DEF{"opensearch::person::footer"}%%TMPL:P{"opensearch::footer"}%%TMPL:END%

