%TMPL:P{"page"}%<!-- template: page.nat.tmpl -->
%TMPL:DEF{"page"}%<!DOCTYPE html>
<html class="natHtml" xmlns="http://www.w3.org/1999/xhtml" xml:lang="%FORMATLIST{"%LANG%" split="_" limit="1"}%" lang="%FORMATLIST{"%LANG%" split="_" limit="1"}%">
%TMPL:P{"head"}%
%TMPL:P{"body"}%
</html>
%TMPL:END%

%TMPL:DEF{"msie8::compatibility"}%%IF{"context 'msie8'"
  then="%IF{"context 'edit' and $'EDIT_FORCE_IE8_COMPATIBILITYMODE'='on'" 
    then="$n<meta http-equiv='X-UA-Compatible' content='ie=emulateie7,chrome=1' />"
    else="$n<meta http-equiv='X-UA-Compatible' content='ie=edge,chrome=1' />"
  }%"
}%%TMPL:END%

%TMPL:DEF{"head"}%<head>%TMPL:P{"msie8::compatibility"}%
<title>%TMPL:P{"title"}%</title>
<meta charset="%CHARSET%" />
<meta name="date" content="%REVINFO{"$http"}%" /> 
<link rel="icon" href="%TMPL:P{"favicon"}%" type="image/x-icon" />
<link rel="shortcut icon" href="%TMPL:P{"favicon"}%" type="image/x-icon" />
%TMPL:P{"meta"}%%TMPL:P{"metaflags"}%%TMPL:P{"styles"}%%TMPL:P{"javascript"}%%WEBCOMPONENT{"HtmlHead"}%
</head>%TMPL:END%
%TMPL:INCLUDE{"foswiki"}%
%TMPL:INCLUDE{"head"}%
%TMPL:INCLUDE{"body"}%
%TMPL:INCLUDE{"sidebar"}%
%TMPL:INCLUDE{"topbar"}%
%TMPL:INCLUDE{"styles"}%
%TMPL:INCLUDE{"javascript"}%
