%TMPL:P{"page"}%<!-- template: page.nat.tmpl -->
%TMPL:DEF{"page"}%<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="natHtml" xmlns="http://www.w3.org/1999/xhtml" xml:lang="%LANG%" lang="%LANG%">
%TMPL:P{"head"}%
%TMPL:P{"body"}%
</html>
%TMPL:END%
%TMPL:DEF{"head"}%<head>
<base href="%SCRIPTURL{%SCRIPTNAME%}%/%WEB%/%TOPIC%"></base>
<meta http-equiv="Content-Type" content="%CONTENTTYPE%; charset=%CHARSET%" />
<title>%TMPL:P{"title"}%</title>
<meta name="date" content="%REVINFO{"$http"}%" /> 
%TMPL:P{"meta"}%
<link rel="icon" href="%FAVICON%" type="image/x-icon" />
<link rel="shortcut icon" href="%FAVICON%" type="image/x-icon" />
%TMPL:P{"styles"}%
%TMPL:P{"javascript"}%
%WEBCOMPONENT{"HtmlHead"}%
</head>%TMPL:END%
%TMPL:INCLUDE{"foswiki"}%
%TMPL:INCLUDE{"head"}%
%TMPL:INCLUDE{"body"}%
%TMPL:INCLUDE{"sidebar"}%
%TMPL:INCLUDE{"topbar"}%
%TMPL:INCLUDE{"styles"}%
%TMPL:INCLUDE{"javascript"}%
