%TMPL:INCLUDE{"edit"}%<!-- template: preview.nat.tmpl -->
%TMPL:INCLUDE{"topbar"}%<!-- -->
%TMPL:INCLUDE{"previewbody"}%<!-- -->
%TMPL:INCLUDE{"previewtopicactions"}%<!-- -->
%TMPL:INCLUDE{"previewsidebar"}%<!-- -->
%TMPL:INCLUDE{"previewtoolbar"}%<!-- -->
%TMPL:DEF{"bodyclass"}%natPreviewBody%TMPL:END%
%TMPL:DEF{"meta"}% %HTTP_EQUIV_ON_PREVIEW% %TMPL:END%
%TMPL:DEF{"titleaction"}%%MAKETEXT{"preview"}%%TMPL:END%
%TMPL:DEF{"content"}%<!-- -->
%TMPL:P{"previewtoolbar"}%<!-- -->
%TEXT%
%META{"form"}%
%TMPL:P{"hiddenform"}%<!-- -->
<!-- -->%TMPL:END%
%TMPL:DEF{"webbuttons"}%<div class="natWebMenuContents natWebMenuHidden"> 
%WEBCOMPONENT{"Buttons"}%<!-- -->
</div>%TMPL:END%
