%TMPL:DEF{"sidebar"}%<h2 >%MAKETEXT{"Help"}%</h2>
   * <a href="%SCRIPTURLPATH{"view" topic="%SYSTEMWEB%.TopicsAndWebs"}%" target="_blank">%MAKETEXT{"About topics and webs"}%</a> </li>
   * <a href="%SCRIPTURLPATH{"view" topic="%SYSTEMWEB%.ManagingTopics"}%" target="_blank">%MAKETEXT{"Managing topics"}%</a> </li>
   * <a href="%SCRIPTURLPATH{"view" topic="%SYSTEMWEB%.FAQDeleteOrRenameATopic"}%" target="_blank">%MAKETEXT{"Deleting topics"}%</a> </li>
   * <a href="%SCRIPTURLPATH{"view" topic="%SYSTEMWEB%.WikiWord"}%" target="_blank">%MAKETEXT{"WikiWord"}%</a> </li>
<h2 >%MAKETEXT{"Notes"}%</h2>
<div class="natNotes">
<p> %MAKETEXT{"Get help on <a href='[_1]' target='_blank'>Renaming and moving topics</a>." args="%SCRIPTURLPATH{"view" topic="%SYSTEMWEB%.ManagingTopics"}%"}%</p>
<p> %MAKETEXT{"It's usually best to chose a <a href='[_1]' target='_blank'>WikiWord</a>
     for the new topic name, otherwise automatic linking may not work.  Characters not 
     allowed in topic names, such as spaces will automatically be removed." args="%SCRIPTURLPATH{"view" topic="%SYSTEMWEB%.WikiWord"}%"}% </p>
<p> %MAKETEXT{"Select the [[[_1].WebHome][[_1]]] web to delete the topic." args="%TRASHWEB%"}% </p>
<p> %MAKETEXT{"The checkmarked topics will be updated (another form will appear which
     will _eventually_ allow you to rename any topics that were locked)"}% </p>
</div>%TMPL:END%
