%TMPL:DEF{"sidebar"}%<h2 >%MAKETEXT{"Help"}%</h2>
	* <a href="%SCRIPTURLPATH{"view"}%/%SYSTEMWEB%/ManagingWebs" target="_blank">%MAKETEXT{"Managing webs"}%</a> 
	* <a href="%SCRIPTURLPATH{"view"}%/%SYSTEMWEB%/WikiWord" target="_blank">%MAKETEXT{"WikiWord"}%</a> 
<h2 >%MAKETEXT{"Notes"}%</h2>
<div class="natNotes">
%TMPL:P{"notes"}%%{}%
</div>%TMPL:END%
