%TMPL:INCLUDE{"rename"}%<!-- template: renamedelete.nat.tmpl -->

%{ ################################################################################ }%
%TMPL:DEF{"titleaction"}%%MAKETEXT{"delete"}%%TMPL:END%
%TMPL:DEF{"contenttitle"}%<h1>%MAKETEXT{"Delete [_1]"  args="<nop>%TOPIC%"}%</h1>%TMPL:END%
%TMPL:DEF{"breadcrumbs::tail"}%%TMPL:P{"sep"}%<a href="%SCRIPTURLPATH{"rename"}%/%BASEWEB%/%BASETOPIC%?%QUERYSTRING%">%MAKETEXT{"Delete"}%</a>%TMPL:END%
%TMPL:DEF{"changetostep"}%%TMPL:END%
%TMPL:DEF{"titlestep"}%%TMPL:END%
%TMPL:DEF{"backlinks::checked"}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"buttons"}%<!-- -->
%BUTTON{type="save" "%MAKETEXT{"Delete"}%" icon="bin"}%
%BUTTON{"%MAKETEXT{"Cancel"}%" icon="cross" target="%WEB%.%TOPIC%"}%
%IF{"$'URLPARAM{currentwebonly}'='on' and not context SolrPluginEnabled"
  then="$percntBUTTON{\"%MAKETEXT{"Search in all webs"}%\" icon=\"find\" target=\"%SCRIPTURLPATH{"rename"}%/%WEB%/%TOPIC%?newweb=%URLPARAM{"newweb"}%\" title=\"%MAKETEXT{"Search for backlinks in all webs"}%\"}$percnt"
}%
<!-- -->%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"formstart"}%<!-- -->
<form name="rename" action="%SCRIPTURLPATH{"rename"}%/%WEB%/%TOPIC%" method="post">
<input type="hidden" name="nonwikiword" value="on" />
<input type="hidden" name="newweb" value="%TRASHWEB%" />
<input type="hidden" name="newtopic" value="%NEW_TOPIC%" />
<!--input type="hidden" name="confirm" value="on"-->
<div class="foswikiFormSteps">
<!-- -->%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"changefromstep"}%<!-- -->
<div class="foswikiFormStep">
  <h3>%MAKETEXT{"Move this topic into the [_1] web" args="[[%TRASHWEB%.%HOMETOPIC%][<span class='foswikiAlert'>%TRASHWEB%</span>]]"}%</h3>

  <div class="foswikiFormDescription">
    %MAKETEXT{"The topic will be renamed to [_1]." args="_%TRASHWEB%.%NEW_TOPIC%_"}%
  </div>
</div>
---
<!-- -->%TMPL:END%

