%TMPL:INCLUDE{"page"}%<!-- template: renamebase.nat.tmpl-->
%TMPL:INCLUDE{"renamebody"}%<!-- renamebody// -->
%TMPL:INCLUDE{"renamesidebar"}%<!-- renamesidebar// -->
%TMPL:INCLUDE{"renametopicactions"}%<!-- renametopicactions// -->

%{ ################################################################################ }%
%TMPL:DEF{"bodyclass"}%natRenameBody%TMPL:END%
%TMPL:DEF{"meta"}% <meta name="robots" content="noindex, nofollow" /> %TMPL:END%
%TMPL:DEF{"titleaction"}%%MAKETEXT{"rename"}%%TMPL:END%
%TMPL:DEF{"contenttitle"}%<h1>%MAKETEXT{"Rename or move [_1]"  args="<nop>%TOPIC%"}%</h1>%TMPL:END%
%TMPL:DEF{"trashcheckbox"}%
    <input type="checkbox" class="foswikiCheckbox" name="totrash" id="totrash" onclick="document.rename.newweb.value = (this.checked)?'%TRASHWEB%':'%WEB%';this.blur()">
    <label for="totrash">%MAKETEXT{"Move to [_1]" args="%TRASHWEB%"}%</label>
%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"buttons"}%<!-- buttons -->
%BUTTON{type="save" "%MAKETEXT{"Rename"}%" icon="tick"}%
%BUTTON{"%MAKETEXT{"Cancel"}%" icon="cross" target="%WEB%.%TOPIC%"}%
%IF{"$'URLPARAM{currentwebonly}'='on'"
  then="$percntBUTTON{\"%MAKETEXT{"Search in all webs"}%\" icon=\"find\" target=\"%SCRIPTURLPATH{"rename"}%/%WEB%/%TOPIC%\" title=\"%MAKETEXT{"Search for backlinks in all webs"}%\"}$percnt"
}%
<!-- //buttons -->%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"content"}%<!-- content -->
%TMPL:P{"contenttitle"}%<!-- contenttitle// -->
<form method="POST" name="rename" action="%SCRIPTURLPATH{"rename"}%/%WEB%/%TOPIC%" method="post">
<!--input type="hidden" name="confirm" value="on"-->
<div class="foswikiFormSteps">
  <div class="foswikiFormStep">
    <h3>%MAKETEXT{"Change from"}%</h3>
    <nop>%WEB%.%TOPIC%
  </div>
---
  <div class="foswikiFormStep">
    <h3>%MAKETEXT{"To web"}%:</h3>
    %TMPL:P{"newweb"}%
    %IF{"$'URLPARAM{newweb}'!='%TRASHWEB%'" then="$percntTMPL:P{\"trashcheckbox\"}$percnt"}%
  </div>
  <div class="foswikiFormStep">
    <h3>%MAKETEXT{"To topic"}%:</h3>
    %TMPL:P{"newtopic"}%

    <input type="checkbox" class="foswikiCheckbox" name="nonwikiword" id="nonwikiword" %IF{"$ 'URLPARAM{nonwikiword}'='on'" then="checked='checked'"}% />
    <label for="nonwikiword">%MAKETEXT{"Allow non-<nop>WikiWord for the new topic name"}%</label>
  </div>
---
  <div class="natSearchBacklinks" %IF{"'%SEARCH_COUNT%'='0'" then="style='display:none'"}%>
    <div class="foswikiFormStep">
      <h3>%MAKETEXT{"Update links in the '[_1]' web" args="<nop>%WEB%"}%:</h3>
      <div class="natSearchRenameContents">
        %LOCAL_SEARCH%
      </div>
    </div>
    <div class='foswikiFormStep'>
      <h3>%MAKETEXT{"Update links in all webs"}%:</h3>
      <div class='natSearchRenameContents'>
        %GLOBAL_SEARCH%
      </div>
    </div>
    <div class="foswikiFormStep foswikiFormButtons">
      %BUTTON{"%MAKETEXT{"Set all"}%" icon="add" class="natRenameSetAll" title="%MAKETEXT{"Select all topics"}%"}%
      %BUTTON{"%MAKETEXT{"Clear all"}%" icon="delete" class="natRenameClearAll" title="%MAKETEXT{"Clear selection"}%"}%
      %CLEAR%
    </div>
---
  </div>
  <div class="foswikiFormStep foswikiFormButtons">
    %TMPL:P{"buttons"}%
    %CLEAR%
  </div>
</div>
</form>
%TMPL:P{"rename::javascript"}%
<!-- //content -->%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"rename::javascript"}%<!-- -->
%ADDTOZONE{
  "script"
  tag="NATSKIN::RENAME"
  text="<script src='%PUBURLPATH%/%SYSTEMWEB%/NatSkin/rename.js'></script>"
  requires="JQUERYPLUGIN"
}%<!-- -->%TMPL:END%
