%TMPL:INCLUDE{"page"}%%{}%

%{ ################################################################################ }%
%TMPL:DEF{"sidebar"}%<h2 >%MAKETEXT{"Help"}%</h2>
	* <a href="%SCRIPTURLPATH{"view" topic="%SYSTEMWEB%.ManagingWebs"}%" target="_blank">%MAKETEXT{"Managing webs"}%</a> 
	* <a href="%SCRIPTURLPATH{"view" topic="%SYSTEMWEB%.WikiWord"}%" target="_blank">%MAKETEXT{"WikiWord"}%</a> 
<h2 >%MAKETEXT{"Notes"}%</h2>
<div class="natNotes">
%TMPL:P{"notes"}%%{}%
</div>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"bodyclass"}%natRenameWebBody%TMPL:END%
%TMPL:DEF{"meta"}%<meta name="robots" content="noindex, nofollow">%TMPL:END%
%TMPL:DEF{"title"}%%WEB% (%MAKETEXT{"rename web"}%) %TMPL:P{"titlesep"}% %WIKITOOLNAME%%TMPL:END%
%TMPL:DEF{"contenttitle"}%%MAKETEXT{"Rename the [_1] web" args="<nop>%WEB%"}%%TMPL:END%
%TMPL:DEF{"buttons"}%%{}%
%BUTTON{type="save" value="%MAKETEXT{"Rename"}%" icon="%TMPL:P{"icon::ok::name"}%"}%
%BUTTON{type="button" value="%MAKETEXT{"Cancel"}%" icon="%TMPL:P{"icon::cancel::name"}%" target="%WEB%.%TOPIC%"}%
%{}%%TMPL:END%
%TMPL:DEF{"bottombar"}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"content"}%%{}%
%TMPL:P{"renameform::title"}%%{}%
%TMPL:P{"renameform::start"}%%{}%
%TMPL:P{"renameform::newweb"}%%{}%
%TMPL:P{"renameform::parentweb"}%%{}%
%TMPL:P{"renameform::backlinks"}%%{}%
%TMPL:P{"renameform::lockedtopics"}%%{}%
%TMPL:P{"renameform::end"}%%{}%
%TMPL:END%

%TMPL:DEF{"renameform::title"}%<h1>%TMPL:P{"contenttitle"}%</h1>%TMPL:END%

%TMPL:DEF{"renameform::start"}%<form name="renameweb" action="%SCRIPTURLPATH{"rename"}%/%WEB%/%TOPIC%" method="post">
<input type="hidden" name="action" value="renameweb" />
<input type="hidden" name="confirm" value="getlock" />
<input type="hidden" name="currentwebonly" value="on">
<div class="foswikiFormSteps">%TMPL:END%

%TMPL:DEF{"renameform::newweb"}%<div class="foswikiFormStep">
  <h3>%MAKETEXT{"New web name"}%:</h3>
  %TMPL:P{"newsubweb"}%
</div>%TMPL:END%

%TMPL:DEF{"renameform::parentweb"}%<div class="foswikiFormStep">
  <h3>%MAKETEXT{"New parent web"}%:</h3>
  %TMPL:P{"newparentweb"}%
</div>%TMPL:END%

%TMPL:DEF{"renameform::backlinks"}%<!-- -->
---
  <div class="natSearchBacklinks">
    <div class="foswikiFormStep">
      <h3>%MAKETEXT{"Update links in the '[_1]' web" args="<nop>%WEB%"}%:</h3>
      <div class="natSearchRenameContents">
        %LOCAL_SEARCH%
      </div>
    </div>
    <div class="foswikiFormStep">
      <h3>%MAKETEXT{"Update links in all webs"}%:</h3>
      <div class="natSearchRenameContents">
        %GLOBAL_SEARCH%
      </div>
    </div>
    <div class="foswikiFormStep">
      %BUTTON{"%MAKETEXT{"Set all"}%" icon="ma-done-all" class="natRenameSetAll" title="%MAKETEXT{"Select all topics"}%"}%
      %BUTTON{"%MAKETEXT{"Clear all"}%" icon="ma-clear-all" class="natRenameClearAll" title="%MAKETEXT{"Clear selection"}%"}%
    </div>
  </div>
%{}%%TMPL:END%

%TMPL:DEF{"renameform::lockedtopics"}%<!-- -->
---
    <div class="foswikiFormStep">
      <h3>%MAKETEXT{"Locked topics"}%:</h3>
      *%MAKETEXT{"No permission"}%:* 
      <div class="natSearchRenameContents">
%REF_DENIED%
      </div>
      *%MAKETEXT{"Currently being edited"}%:* 
      <div class="natSearchRenameContents">
%MOVE_LOCKED%
      </div>
      *%MAKETEXT{"Referring topics currently being edited:}%:* 
      <div class="natSearchRenameContents">
%REF_LOCKED%
      </div>
    </div>
%TMPL:END%

%TMPL:DEF{"renameform::end"}%<!-- -->
---
  <div class="foswikiFormStep foswikiFormButtons">
    %TMPL:P{"buttons"}%%{}%
    %IF{"$'URLPARAM{currentwebonly}'='on'"
      then="$percntBUTTON{\"%MAKETEXT{"Search in all webs"}%\" icon=\"fa-search\" target=\"%SCRIPTURLPATH{"rename"}%/%WEB%/%TOPIC%?action=renameweb\" title=\"%MAKETEXT{"Search for backlinks in all webs"}%\"}$percnt"
    }%
  </div>
</div>
</form>%TMPL:P{"rename::javascript"}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"notes"}%
%MAKETEXT{"Get help on <a target='_blank' href='[_1]' rel='nofollow'>Renaming and moving webs</a>." args="%SCRIPTURLPATH{"view" topic="%SYSTEMWEB%.ManagingWebs"}%"}% 

%MAKETEXT{"Characters not allowed in topic names, such as spaces will automatically be removed."}%

%MAKETEXT{"Select the <a target='_blank' href='[_1]'>[_2]</a>
    web to *delete* this web, that is
    rename it to [_2]/[_3]. " args="%SCRIPTURLPATH{"view" topic="%TRASHWEB%.%HOMETOPIC%"}%,%TRASHWEB%,%WEB%"}%

%MAKETEXT{"The checkmarked topics will be updated."}%
%{}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"rename::javascript"}%%ADDTOZONE{
  "script"
  id="NATSKIN::RENAME"
  text="<script class='$id' src='%PUBURLPATH%/%SYSTEMWEB%/NatSkin/build/rename.js'></script>"
  requires="JQUERYPLUGIN"
}%%TMPL:END%
