%TMPL:INCLUDE{"renamewebbase"}%<!-- template: renameweb.nat.tmpl -->

%{ ################################################################################ }%
%TMPL:DEF{"newsubweb"}%<input type="text" class="foswikiInputField" name="newsubweb" value="%NEW_SUBWEB%" size="36" />%TMPL:END%
%TMPL:DEF{"breadcrumbs::tail"}%%TMPL:P{"sep"}%<a href="%SCRIPTURLPATH{"rename"}%/%BASEWEB%/%BASETOPIC%?%QUERYSTRING%">%MAKETEXT{"Rename"}%</a>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"newparentweb"}%<!-- newparentweb -->
<select class="foswikiSelect" name="newparentweb" onchange="if (document.renameweb.newparentweb.value == 'Trash') { document.renameweb.totrash.checked = true; } else {document.renameweb.totrash.checked = false; } ">
<option class="foswikiOption" value=""></option>
%FLEXWEBLIST{webs="%TRASHWEB%,public" exclude="%WEB%" format="<option$marker class='foswikiOption' value=\"$web\">$web</option>" selection="%NEW_PARENTWEB%" marker=" selected=\"selected\"" separator="$n"}%
</select>
<!-- //newparentweb -->%TMPL:END%
