%TMPL:INCLUDE{"renamebase"}%%{}%
%TMPL:DEF{"newtopic"}%<input type="hidden" name="newtopic" value="%NEW_TOPIC%" />%NEW_TOPIC%%TMPL:END%
%TMPL:DEF{"newweb"}%<input type="hidden" name="newweb" value="%NEW_WEB%" />%NEW_WEB%%TMPL:END%
%TMPL:DEF{"webaction"}% %MAKETEXT{"Confirm rename or move"}% %TMPL:END%
%TMPL:DEF{"buttons"}%
%BUTTON{"%MAKETEXT{"OK"}%" type="submit" icon="%TMPL:P{"OK_ICON"}%"}%
%BUTTON{"%MAKETEXT{"Cancel"}%" icon="%TMPL:P{"CANCEL_ICON"}%" target="%WEB%.%TOPIC%"}%
%TMPL:END%
