%TMPL:INCLUDE{"page"}%<!-- template: renamewebbase.nat.tmpl-->
%TMPL:INCLUDE{"renamewebbody"}%<!-- renamewebbody// -->
%TMPL:INCLUDE{"renamewebsidebar"}%<!-- renamewebsidebar// -->
%TMPL:INCLUDE{"renamewebtopicactions"}%<!-- renamewebtopicactions// -->

%{ ################################################################################ }%
%TMPL:DEF{"bodyclass"}%natRenameWebBody%TMPL:END%
%TMPL:DEF{"meta"}% <meta name="robots" content="noindex, nofollow" /> %TMPL:END%
%TMPL:DEF{"title"}%%WEB% (%MAKETEXT{"rename web"}%) - %WIKITOOLNAME%%TMPL:END%
%TMPL:DEF{"contenttitle"}%%MAKETEXT{"Rename the [_1] web" args="<nop>%WEB%"}%%TMPL:END%
%TMPL:DEF{"buttons"}%<!-- buttons -->
  %BUTTON{type="save" value="%MAKETEXT{"Rename"}%" icon="tick"}%
  %BUTTON{type="button" value="%MAKETEXT{"Cancel"}%" icon="cross" target="%WEB%.%TOPIC%"}%
<!-- //buttons -->%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"content"}%<!-- content -->
<h1>%TMPL:P{"contenttitle"}%</h1>
<form name="renameweb" action="%SCRIPTURLPATH{"rename"}%/%WEB%/%TOPIC%" method="post">
<input type="hidden" name="action" value="renameweb" />
<input type="hidden" name="confirm" value="getlock" />
<div class="foswikiFormSteps">
  <div class="foswikiFormStep">
    <h3>%MAKETEXT{"New web name"}%:</h3>
    %TMPL:P{"newsubweb"}%
  </div>
  <div class="foswikiFormStep">
    <h3>%MAKETEXT{"New parent web"}%:</h3>
    %TMPL:P{"newparentweb"}%

    <input type="checkbox" class="foswikiCheckbox" name="totrash" id="totrash" onclick="document.renameweb.newparentweb.value = (this.checked)?'Trash':'';this.blur();">&nbsp;
    <label for="totrash">
      %MAKETEXT{"Move to [_1]" args="%TRASHWEB%"}%
    </label>
  </div>
---
  <div class="natSearchBacklinks" %IF{"'%SEARCH_COUNT%'='0'" then="style='display:none'"}%>
    <div class="foswikiFormStep">
      <h3>%MAKETEXT{"Update links in the '[_1]' web" args="<nop>%WEB%"}%:</h3>
      <div class="natSearchRenameContents">
        %LOCAL_SEARCH%
      </div>
    </div>
    <div class="foswikiFormStep">
      <h3>%MAKETEXT{"Update links in all webs"}%:</h3>
      <div class="natSearchRenameContents">
        %GLOBAL_SEARCH%
      </div>
    </div>
    <div class="foswikiFormStep">
      %BUTTON{"%MAKETEXT{"Set all"}%" icon="add" class="natRenameSetAll" title="%MAKETEXT{"Select all topics"}%"}%
      %BUTTON{"%MAKETEXT{"Clear all"}%" icon="delete" class="natRenameClearAll" title="%MAKETEXT{"Clear selection"}%"}%
      %CLEAR%
    </div>
---
    <div class="foswikiFormStep">
      <h3>%MAKETEXT{"Locked topics"}%:</h3>
      *%MAKETEXT{"No permission"}%:* 
      <div class="natSearchRenameContents">
%REF_DENIED%
      </div>
      *%MAKETEXT{"Currently being edited"}%:* 
      <div class="natSearchRenameContents">
%MOVE_LOCKED%
      </div>
      *%MAKETEXT{"Referring topics currently being edited:}%:* 
      <div class="natSearchRenameContents">
%REF_LOCKED%
      </div>
    </div>
---
  </div>
  <div class="foswikiFormStep foswikiFormButtons">
    %TMPL:P{"buttons"}%<!-- buttons// -->
    %IF{"$'URLPARAM{currentwebonly}'='on'"
      then="$percntBUTTON{\"%MAKETEXT{"Search in all webs"}%\" icon=\"find\" target=\"%SCRIPTURLPATH{"rename"}%/%WEB%/%TOPIC%?action=renameweb\" title=\"%MAKETEXT{"Search for backlinks in all webs"}%\"}$percnt"
    }%
    %CLEAR%
  </div>
</div>
</form>
%TMPL:P{"rename::javascript"}%
<!-- //content -->%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"notes"}%<!-- notes -->

%MAKETEXT{"Get help on <a target='_blank' href='[_1]' rel='nofollow'>Renaming and moving webs</a>." args="%SCRIPTURLPATH{"view"}%/%SYSTEMWEB%/ManagingWebs"}% 

%MAKETEXT{"Characters not allowed in topic names, such as spaces will automatically be removed."}%

%MAKETEXT{"Select the <a target='_blank' href='[_1]/[_2]/WebHome'>[_2]</a>
    web to *delete* this web, that is
    rename it to [_2]/[_3]. " args="%SCRIPTURLPATH{"view"}%,%TRASHWEB%,%WEB%"}%

%MAKETEXT{"The checkmarked topics will be updated."}%
<!-- //notes -->%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"rename::javascript"}%<!-- -->
%ADDTOZONE{
  "script"
  tag="NATSKIN::RENAME"
  text="<script src='%PUBURLPATH%/%SYSTEMWEB%/NatSkin/rename.js'></script>"
  requires="JQUERYPLUGIN"
}%<!-- -->%TMPL:END%
