%TMPL:INCLUDE{"page"}%%{}%
%TMPL:INCLUDE{"searchbox"}%%{}%

%TMPL:DEF{"bodyclass"}%natSearchBody%TMPL:END%
%TMPL:DEF{"title"}%HTMLTITLE{"%GETTOPICTITLE% (%MAKETEXT{"search"}%)" separator=" %TMPL:P{"titlesep"}% "}%%TMPL:END%
%TMPL:DEF{"meta"}%<meta name="robots" content="noindex, nofollow">%TMPL:END%
