%TMPL:INCLUDE{"searchbox"}%%{}%
%TMPL:DEF{"searchbox"}%<div class="natSearchBox foswikiHideOnPrint solrSearchBox" %TMPL:P{"searchbox::params"}%>
  <form name="searchbox" id="searchbox" class="natSearchForm" action="%SCRIPTURLPATH{"view" topic="%BASEWEB%.WebSearch"}%">
    <input type="search" class="foswikiInputField" placeholder="%TMPL:P{"searchbox::placeholder"}%" size="20" name="search" value="%TMPL:P{"searchbox::value"}%" title="%MAKETEXT{"Search"}%" accesskey="f" autocomplete="off" spellcheck="false" /> 
    <input type="hidden" name="origin" value="%WEB%.%TOPIC%" />
  </form>
</div>%TMPL:END%
%TMPL:DEF{"searchbox::params"}%data-position-my="left top" data-position-at="left bottom" data-limit="3" data-limit-persons="3" data-limit-topics="3" data-limit-other="3" data-groups="persons, topics, other" data-solr-query-fields="%TMPL:P{"searchbox::params::solrqueryfields"}%"%TMPL:END%
%TMPL:DEF{"searchbox::tooltip::params"}%%TMPL:END%
