%TMPL:INCLUDE{"page"}%<!-- template: searchbase.nat.tmpl -->
%TMPL:INCLUDE{"searchbody"}%<!-- searchbody// -->
%TMPL:INCLUDE{"searchsidebar"}%<!-- searchsidebar// -->
%TMPL:INCLUDE{"searchtopicactions"}%<!-- searchtopicactions// -->
%TMPL:INCLUDE{"searchjavascript"}%<!-- searchjavascript// -->
%TMPL:INCLUDE{"searchstyles"}%<!-- searchstyles// -->
%TMPL:INCLUDE{"searchbox"}%<!-- searchbox// -->
%TMPL:DEF{"bodyclass"}%natSearchBody%TMPL:END%
%TMPL:DEF{"title"}%%TOPIC% (%MAKETEXT{"search"}%) - %WIKITOOLNAME%%TMPL:END%
%TMPL:DEF{"meta"}% <meta name="robots" content="noindex, nofollow" /> %TMPL:END%
