%TMPL:INCLUDE{"searchbase"}%<!-- template: searchformat.nat.tmpl -->
%TMPL:DEF{"content"}%<!-- content -->
%SPLIT%<b>%MAKETEXT{"Search"}%</b>: <span class="natSearchString">%SEARCHSTRING%</span>
%SPLIT%%REPEAT%%REPEAT%
%SPLIT%<div class="natSearchTotal">%MAKETEXT{"[_1] topic(s) found" args="%NTOPICS%"}%</div>
%SPLIT% 
<!-- //content -->%TMPL:END%
