%TMPL:INCLUDE{"page"}%%{}%
%TMPL:INCLUDE{"edit"}%%{}%

%TMPL:DEF{"titleaction"}%%MAKETEXT{"Prefs"}%%TMPL:END%
%TMPL:DEF{"contenttitle"}%<h1 class="natEditTitle">[[%WEB%.%TOPIC%]] (%MAKETEXT{"Prefs"}%)</h1>%TMPL:END%
%TMPL:DEF{"contentfooter"}%%TMPL:END%
%TMPL:DEF{"revinfo"}%%TMPL:END%
