%TMPL:INCLUDE{"page"}% 
%TMPL:INCLUDE{"edit"}%<!-- template: settings.nat.tmpl -->
%TMPL:INCLUDE{"settingsbody"}%<!-- settingsbody// -->
%TMPL:INCLUDE{"settingstopicactions"}%<!-- settingstopicactions// -->
%TMPL:INCLUDE{"settingssidebar"}%<!-- settingssidebar// -->
%TMPL:INCLUDE{"settingstoolbar"}%<!-- settingstoolbar// -->
%TMPL:DEF{"titleaction"}%%MAKETEXT{"prefs"}%%TMPL:END%
%TMPL:DEF{"contenttitle"}%<h1>[[%WEB%.%TOPIC%][%WEBLINK{format="$web"}%.%TOPIC%]] (%MAKETEXT{"prefs"}%)</h1>%TMPL:END%
%TMPL:DEF{"contentfooter_container"}%%TMPL:END%
