%TMPL:INCLUDE{"page"}% 
%TMPL:INCLUDE{"edit"}%<!-- template: settings.nat.tmpl -->
%TMPL:INCLUDE{"settingsbody"}%<!-- settingsbody// -->
%TMPL:INCLUDE{"settingstopicactions"}%<!-- settingstopicactions// -->
%TMPL:INCLUDE{"settingssidebar"}%<!-- settingssidebar// -->
%TMPL:INCLUDE{"settingsjavascript"}%<!-- settingsjavascript// -->
%TMPL:INCLUDE{"settingsstyles"}%<!-- settingsstyles// -->
%TMPL:INCLUDE{"settingstoolbar"}%<!-- settingstoolbar// -->
%TMPL:DEF{"title"}%%TOPICTITLE% (%MAKETEXT{"prefs"}%) - %WIKITOOLNAME%%TMPL:END%
%TMPL:DEF{"contenttitle"}%<h1>[[%WEB%.%TOPIC%][%WEBLINK{format="$web"}%.%TOPIC%]] (%MAKETEXT{"prefs"}%)</h1>%TMPL:END%
