%TMPL:INCLUDE{"bookmarksplugin"}%<!-- template: sidebar.nat.tmpl -->
%TMPL:DEF{"webrightbar"}%%WEBCOMPONENT{"RightBar"}%%TMPL:END%
%TMPL:DEF{"websidebar"}%%WEBCOMPONENT{"SideBar"}%%TMPL:END%
%TMPL:DEF{"defaultsidebar"}%%TMPL:P{"websidebar"}%%TMPL:END%
%TMPL:DEF{"sidebar"}%%TMPL:P{"defaultsidebar"}%%TMPL:END%
%TMPL:DEF{"rightsidebar"}%%TMPL:P{context="natskin_sidebar_both" then="webrightbar" else="sidebar"}%%TMPL:END%
%TMPL:DEF{"mysidebarreddot"}%%REDDOT{"%topic%" icon="pencil" title="%MAKETEXT{"Edit my sidebar"}%"}%%TMPL:END%
%TMPL:DEF{"thesidebar"}%%USERSWEB%.%WIKINAME%%IF{"defined 'MYSIDEBAR'" then="%MYSIDEBAR%" else="SideBar"}%%TMPL:END%
%TMPL:DEF{"mysidebar"}%%TMPL:P{context="BookmarksPluginEnabled" then="mysidebar::bookmarks" else="mysidebar::default"}%%TMPL:END%
%TMPL:DEF{"mysidebar::default"}%%IF{"istopic '%TMPL:P{"thesidebar"}%'" 
  then="<h2 class='jqInited'>%MAKETEXT{"My sidebar"}%%TMPL:P{
      context="RedDotPluginEnabled" 
      then="mysidebarreddot" 
      topic="%TMPL:P{"thesidebar"}%"
    }%</h2>
$percntINCLUDE{\"%TMPL:P{"thesidebar"}%\"}$percnt<!-- -->
$percntTMPL:P{\"mysidebarbookmark\"}$percnt"
  else="<h2 class='jqInited'>%MAKETEXT{"My sidebar"}%</h2>
    <ul>
      <li>[[%SYSTEMWEB%.MySideBar][%JQICON{"layout_sidebar"}% %MAKETEXT{"Create a personal sidebar"}%]]</li>
    </ul>"
}%%TMPL:END%
%TMPL:DEF{"mysidebarbookmark"}%<ul>
  <li>
    %COMMENT{type="mysidebarbookmark" templatetopic="%SYSTEMWEB%.MySideBar" location="\n$" target="%TMPL:P{"thesidebar"}%"}%
  </li>
</ul>%TMPL:END%

%TMPL:DEF{"mysidebar::bookmarks"}%<!-- -->
<h2 >%MAKETEXT{"My links"}%</h2>
%BOOKMARKS{
  "mylinks"
  hidenull="off"
  topic="%WIKIUSERNAME%"
  format="<li id='$id'>
    <a href='$url' class='jqBookmarksLink'><span class='jqBookmarksLinkText'>$title</span>
      <div class='foswikiGrayText'>$summary</div>
    </a>
    %TMPL:P{"bookmarks::link::tools"}%
  </li>"
}%<!-- -->
<!-- -->%TMPL:END%

%TMPL:DEF{"sidebar::header"}%<!-- -->
<noautolink>
%WEBLINK{
  format="<h2 class='webLink'><a class='$marker' href='$url'>$title</a></h2>
    <div class='webSummary foswikiGrayText'>$summary</div>"
}%
</noautolink>
<!-- -->%TMPL:END%

%TMPL:DEF{"sidebar::links"}%%WEBCOMPONENT{"Links"}%%TMPL:END%

%TMPL:DEF{"sidebar::tools"}%%TMPL:P{context="authenticated" then="sidebar::tools::content"}%%TMPL:END%
%TMPL:DEF{"sidebar::tools::content"}%<!-- -->
<h2 >%MAKETEXT{"Tools"}%</h2>
   * [[WebTopicList][%MAKETEXT{"Index"}%]]
   * [[WebChanges][%MAKETEXT{"Changes"}%]]
   * [[WebNotify][%MAKETEXT{"Notifications"}%]]%IF{"istopic '%BASEWEB%.WebStatistics'" then="
   * [[WebStatistics][%MAKETEXT{"Statistics"}%]]"}%
   * [[WebPreferences][%MAKETEXT{"Preferences"}%]]
<!-- -->%TMPL:END%

%TMPL:DEF{"sidebar::mysidebar"}%%IF{
  "$'MYSIDEBAR'!='off' and context authenticated" 
   then="$percntTMPL:P{\"mysidebar\"}$percnt" 
}%<!-- -->%TMPL:END%

%TMPL:DEF{"sidebar::usertools"}%<!-- -->
<h2 class='webLink'>[[%SYSTEMWEB%.UserToolsCategory][%MAKETEXT{"User Tools"}%]]</h2>
<div class='webSummary foswikiGrayText'>
  %MAKETEXT{"Collection of tools to manage your user account"}%
</div>
   * [[%SYSTEMWEB%.UserRegistration][Register on %WIKITOOLNAME%]]
   * [[%SYSTEMWEB%.ResetPassword][Reset Password]] 
   * [[%SYSTEMWEB%.ChangeEmailAddress][Change Email Address]]
   * [[%SYSTEMWEB%.ChangePassword][Change Password]] 
<!-- -->%TMPL:END%
