%TMPL:INCLUDE{"oops"}%

%TMPL:DEF{"heading"}%%MAKETEXT{"Installation Error"}%%TMPL:END%

%TMPL:DEF{"message"}%<div class='foswikiErrorMessage'>
%MAKETEXT{"Unfortunately you do not show sufficient credentials to log in to this site. You need to specify a mobile number and a mobile carrier in your user profile topic. Once done you will get an SMS (text message) on your mobile phone with a one-time-use access code you can use to log in as the second step."}%
</div>%TMPL:END%
