<!-- template: styles.ma.nat.tmpl -->
%TMPL:INCLUDE{"styles"}%
%TMPL:DEF{"defaultstyles"}%%ADDTOZONE{
  "head" 
  id="MATERIAL::CSS" 
  text="<link rel='stylesheet' href='%PUBURLPATH%/%SYSTEMWEB%/WebFontsContrib/material-icons/font-face.css' media='all'>"
}%%TMPL:PREV%%TMPL:END%
