<!-- template: styles.nat.tmpl -->
%TMPL:DEF{"defaultstyles"}%
<!--[if IE 6]>
<style type="text/css">
/* ie6 png transperency fix for css backgrounds */
.natLogin .foswikiFormSteps, 
.jqButtonIcon,
.natUserAction,
.natTopicAction {
  behavior:url(%PUBURLPATH%/%SYSTEMWEB%/NatSkin/iepngfix.htc);
}
.jqButton .jqButtonIcon {
  margin-top:3px;
  line-height:1.2em;
}
</style>
<![endif]-->
%TMPL:END%
%TMPL:DEF{"styles"}%%TMPL:P{"defaultstyles"}%%TMPL:END%
