%TMPL:DEF{"defaulttopbar"}%%TMPL:P{"useractions"}%%TMPL:P{"langswitcher"}%%TMPL:P{"navtoggle"}%%{}%
<div class="natTopBar clearfix">%TMPL:P{"topbar::contents"}%</div>%TMPL:END%

%TMPL:DEF{"navtoggle"}%<a href="#" class="natNavToggle" title="%TRANSLATE{"Toggle sidebar navigation"}%"></a>%TMPL:END%

%TMPL:DEF{"topbar::contents"}%<div class="natTopRight">
  <div class="natTopRightContents">%TMPL:P{"searchbox"}%</div>
</div>
<div class="natTopLeft">
  <div class="natTopLeftContents clearfix">
    <div class="natWebTitle">%TMPL:P{"logo"}%</div>
  </div>
</div>%TMPL:END%

%TMPL:DEF{"topbar"}%%TMPL:P{"defaulttopbar"}%%TMPL:END%
