%TMPL:DEF{"defaulttopbar"}%<!-- -->
%TMPL:P{"useractions"}%<!-- -->
%TMPL:P{"langswitcher"}%<!-- -->
<a href="#" class="natNavToggle fa fa-bars"></a>
<div class="natTopBar">
  <div class="natTopRight">
    <div class="natTopRightContents">%TMPL:P{"searchbox"}%</div>
  </div>
  <div class="natTopLeft">
    <div class="natTopLeftContents">
      <div class="natWebTitle">%TMPL:P{"logo"}%</div>
    </div>
  </div>
  %CLEAR%
</div>
<!-- -->%TMPL:END%
%TMPL:DEF{"topbar"}%%TMPL:P{"defaulttopbar"}%%TMPL:END%
