%TMPL:INCLUDE{"topbar"}%<!-- template: topbar.foswiki.nat.tmpl -->
%TMPL:DEF{"defaulttopbar"}%<!-- -->
%TMPL:P{"useractions"}%<!-- -->
<div class="natTopBar">
  <div class="natTopRight">
    <div class="natTopRightContents">%TMPL:P{"searchbox"}%</div>
  </div>
  <div class="natTopLeft">
    <div class="natTopLeftContents">
      <div class="natWebTitle">%NATWEBLOGO{format="<a href='$url'><img class='natWebLogo' src='$path/$style$variation-logo.png' alt='$alt' /></a>"}%</div>
    </div>
  </div>
</div>
<!-- -->%TMPL:END%
%TMPL:DEF{"topbar"}%%TMPL:P{"defaulttopbar"}%%TMPL:END%
