%TMPL:INCLUDE{"view"}%
%TMPL:DEF{"bodyclass"}%natTranslateBody%TMPL:END%
%TMPL:DEF{"form"}%%TMPL:END%
%TMPL:DEF{"revinfo"}%%TMPL:END%
%TMPL:DEF{"langswitcher"}%%TMPL:END%
%TMPL:DEF{"bottombar"}%%TMPL:END%
%TMPL:DEF{"metadata"}%%TMPL:END%
%TMPL:DEF{"breadcrumbs::tail"}%%TMPL:P{"sep"}%<a href="%SCRIPTURLPATH{"view" topic="%BASEWEB%.%BASETOPIC%" template="translatetopic"}%">%MAKETEXT{"Translate"}%</a>%TMPL:END%

%TMPL:DEF{"topicactions::contents"}%%USERACTIONS{"$action(close)"}%%TMPL:END%

%{#################################################################}%
%TMPL:DEF{"content"}%%{}%
%TMPL:P{"translate::title"}%
%TMPL:P{"translate::form"}%
%TMPL:P{"translate::javascript"}%
%{}%%TMPL:END%

%{#################################################################}%
%TMPL:DEF{"translate::title"}%<h1 ><noautolink>%MAKETEXT{"Translate [_1]" args="%GETTOPICTITLE{encode="entity"}%"}%</noautolink></h1>
%TMPL:END%

%{#################################################################}%
%TMPL:DEF{"translate::form::list_existing"}%%DBQUERY{
  "(preferences.BASETRANSLATION = '%BASETRANSLATION{default="%TOPIC%"}%' OR topic = '%BASETRANSLATION{default="%TOPIC%"}%') AND topic != '%TOPIC%'"
  header="<hr /><h3>%MAKETEXT{"Already existing translations"}%:</h3>
<ul class='foswikiNoBullets'>$n"
  format="<li>
    $percntLANGUAGES{\"$expand(preferences.CONTENT_LANGUAGE or '%DEFAULTLANGUAGE%')\" format=\"$icon\"}$percnt
    <a href='$percntSCRIPTURLPATH{\"view\" topic=\"$web.$topic\" template=\"translatetopic\"}$percnt'>$expand(topictitle)</a>$percntIF{
      \"'$topic'='%BASETRANSLATION{default="%TOPIC%"}%'\" then=\", (%MAKETEXT{"base language"}%)\"
    }$percnt%{}%
    </li>"
  separator="$n"
  footer="</ul><hr />"
  hidenull="on"
}%%TMPL:END%

%{#################################################################}%
%TMPL:DEF{"translate::form"}%%{}%
%TMPL:P{"translate::form::start"}%%{}%
%TMPL:P{context="DeeplPluginEnabled" then="translate::form::languagestep::deepl" else="translate::form::languagestep"}%%{}%
%TMPL:P{"translate::form::checkboxstep"}%
%TMPL:P{"translate::form::titlestep"}%%{}%
%TMPL:P{context="DeeplPluginEnabled" then="translate::form::fields"}%%{}%
%TMPL:P{"translate::form::topicstep"}%%{}%
%TMPL:P{"translate::form::list_existing"}%%{}%
%TMPL:P{"translate::form::end"}%%{}%
%{}%%TMPL:END%

%{#################################################################}%
%TMPL:DEF{"translate::form::start"}%<form method='post' action='%SCRIPTURLPATH{"save"}%/%WEB%' name='translate'>
<input type='hidden' name='defaultweb' value='%WEB%' />
<input type='hidden' name='templatetopic' value='%WEB%.%TOPIC%' />
<input type='hidden' name='Set+BASETRANSLATION' value='%BASETRANSLATION{default="%TOPIC%"}%' />
<div class='foswikiFormSteps'>%TMPL:END%

%{#################################################################}%
%TMPL:DEF{"translate::form::languagestep"}%<div class='foswikiFormStep'>
  <h4 >%MAKETEXT{"Select language"}%:</h4>
  <select class='jqSelect2' name='Set+CONTENT_LANGUAGE' data-width="23em">
  <option value=''>&nbsp;</option>
  %TMPL:P{"translate::form::languages"}%
  </select>
</div>%TMPL:END%

%TMPL:DEF{"translate::form::languages"}%%LANGUAGES{
  format="<option value='$code' $marker>$label_name</option>" 
  separator="$n  "
  sort="label"
}%%TMPL:END%

%{#################################################################}%
%TMPL:DEF{"translate::form::languagestep::deepl"}%%{}%
<div class='foswikiFormStep'>
%BEGINGRID%
%BEGINCOL{"6"}%
  <h4 >%MAKETEXT{"Source language"}%:</h4>
  <select class='jqSelect2' id="source_lang" name='source_lang' data-width="23em">
  <option value=''>&nbsp;</option>
  %TMPL:P{"translate::form::languages::deepl" 
    select="%CONTENT_LANGUAGE{default="%DEFAULTLANGUAGE%"}%"
  }%
  </select>
%BEGINCOL{"6"}%
  <h4 >%MAKETEXT{"Target language"}%:</h4>
  <select class='jqSelect2' id="target_lang" name='Set+CONTENT_LANGUAGE' data-width="23em">
  <option value=''>&nbsp;</option>
  %TMPL:P{"translate::form::languages::deepl" select=""}%
  </select>
%ENDGRID%
</div>%TMPL:END%

%TMPL:DEF{"translate::form::languages::deepl"}%%DEEPL_LANGUAGES{
  format="<option value='$code' $percntIF{\"'$code'='%select%'\" then=\"selected\"}$percnt>$name</option>" 
  separator="$n  "
  sort="name"
}%%TMPL:END%

%{#################################################################}%
%TMPL:DEF{"translate::form::checkboxstep"}%<div class="foswikiFormStep">
<p>
  <label>
    <input class='foswikiRadioButton' type='radio' value='on' name='onlynewtopic' checked='checked' />%MAKETEXT{"Create a new translation"}%
  </label>
</p>
<p>
  <label>
    <input class='foswikiRadioButton' type='radio' value='off' name='onlynewtopic' />%MAKETEXT{"Select existing translation"}%
  </label>
</p>
</div>%TMPL:END%

%{#################################################################}%
%TMPL:DEF{"translate::form::topicstep"}%<div class='foswikiFormStep reuse_topic' style='display:none'>
  <h4 >%MAKETEXT{"Topic"}%:</h4>
  %RENDERFOREDIT{
    form="%SYSTEMWEB%.MoreFormfieldsPlugin"
    field="Topic"
    header=""
    footer=""
    Topic_name="topic"
    Topic_value="%TOPIC%"
    Topic_size="23"
  }%
  <div class="foswikiFormDescription">
    %MAKETEXT{"Select an existing topic to be added to the translation set."}%
  </div>
</div>%TMPL:END%

%{#################################################################}%
%TMPL:DEF{"translate::form::titlestep"}%<div class='foswikiFormStep new_topic'>
%BEGINGRID%
%BEGINCOL{"6"}%
  <h4 >%MAKETEXT{"Title"}%:</h4>
  <input type='text' class='foswikiInputField topictitle' size='50' name='TopicTitle' value='%ENCODE{"%GETTOPICTITLE{"%WEB%.%TOPIC%"}%" type="safe"}%' />
%TMPL:P{context="DeeplPluginEnabled" then="translate::form::titlestep::translatebutton"}%%{}%
%BEGINCOL{"6"}%
  <h4 >%MAKETEXT{"New topic"}%</h4>
  <input type='text' class='foswikiInputField topic' size='50' name='topic' value='%TOPIC%' />
  <p><label><input class='foswikiCheckbox wikify' type="checkbox" name="wikify" checked="checked" />%MAKETEXT{"Derive from title"}%</label></p>
%ENDGRID%
</div>%TMPL:END%

%TMPL:DEF{"translate::form::titlestep::translatebutton"}%<p>
    %BUTTON{"%MAKETEXT{"Translate"}%" 
      class="simple jqDeepl" 
      data_source_lang="#source_lang" 
      data_target_lang="#target_lang" 
      data_source=".topictitle"
      icon="fa-language"
    }%
    %JQREQUIRE{"deepl"}%
</p>%TMPL:END%

%{#################################################################}%
%TMPL:DEF{"translate::form::fields"}%<hr />
<div class="foswikiFormStep">
<h4>%MAKETEXT{"Translate formfields"}%:</h4>
<input type='hidden' name='deepl_translate' value='on' />
<input type='hidden' name='translate_fields' value='text, attachments' />
<label><input type='checkbox' class='foswikiCheckbox' id='selectAllFormfields'><i>%TRANSLATE{"select all"}%</i></label>

%RENDERFORMDEF{
  topic="%BASEWEB%.%BASETOPIC%"
  separator="$n"
  exclude="^(TopicTitle)$"
  excludeattr="h"
  includetype="text|natedit"
  format="<label style='display:block'>
      <input class='foswikiCheckbox' type='checkbox' value='$name' name='translate_fields' $percntIF{
          \"'%TMPL:P{"translate::form::fields::default"}%'=~'\b$name\b'\"
          then=\"checked='checked'\"
      }$percnt />$name
    </label>"
}%
<script>
jQuery(function($) {
  $("#selectAllFormfields").on("change", function() {
    var $this = $(this);
    $(this.form).find("input[name='translate_fields']").prop("checked", $this.is(":checked"));
  });
});
</script>
</div>
%TMPL:END%

%TMPL:DEF{"translate::form::fields::default"}%TopicTitle, Summary%TMPL:END%

%{#################################################################}%
%TMPL:DEF{"translate::form::end"}%<div class='foswikiFormStep'>
    %BUTTON{"%MAKETEXT{"Submit"}%" icon="%TMPL:P{"icon::ok::name"}%" type="submit"}%
    %BUTTON{"%MAKETEXT{"Cancel"}%" icon="%TMPL:P{"icon::cancel::name"}%" target="%WEB%.%TOPIC%"}%
  </div>
</div>
</form>%TMPL:END%

%{#################################################################}%
%TMPL:DEF{"translate::javascript"}%%JQREQUIRE{"wikiword, select2"}%%ADDTOZONE{
  "script" 
  requires="JQUERYPLUGIN::WIKIWORD" 
  id="translate" 
  text="<literal>
<script class='$id'>
'use strict';
jQuery(function($) {
  var $form = $('form[name=translate]'),
      $target = $form.find('.new_topic .topic'),
      $source = $form.find('.new_topic .topictitle'),
      $wikify = $form.find('.wikify'),
      $onlyNew = $form.find(\"input[name='onlynewtopic']\");

  function updateWikify() {
    if ($wikify.is(':checked')) {
      $target.prop('disabled', true);
      $target.wikiword({
        transliterate: true,
        source: $source
      });
    } else {
      $target.prop('disabled', false);
      $source.unbind();
    }
  }

  function updateForm() {
    var val = $onlyNew.filter(':checked').val();
    if (val === 'on') {
      $form.find('.new_topic').show().find('input').prop('disabled', false);
      $form.find('.reuse_topic').hide().find('input').prop('disabled', true);
    } else {
      $form.find('.reuse_topic').show().find('input').prop('disabled', false);
      $form.find('.new_topic').hide().find('input').prop('disabled', true);
    }
  }

  $onlyNew.on('change', updateForm);
  $wikify.on('change', updateWikify);

  $form.submit(function() {
    if ($target.parent().is(':visible')) {
      $target.removeAttr('disabled');
    }
    return true;
  });

  updateForm();
  updateWikify();
});
</script>
</literal>"}%%TMPL:END%

