%TMPL:DEF{twisty:header}%
%ADDTOZONE{"head"
  tag="TWISTYPLUGIN"
  text="<link rel='stylesheet' href='%PUBURLPATH%/%SYSTEMWEB%/TwistyPlugin/twisty.jquery.css' type='text/css' media='all' />"
}%
%ADDTOZONE{"body"
  tag="TWISTYPLUGIN"
  requires="JQUERYPLUGIN"
  text="<script type='text/javascript' src='%PUBURLPATH%/%SYSTEMWEB%/TwistyPlugin/twisty.jquery.js'></script>
<script type='text/javascript' src='%PUBURLPATH%/%SYSTEMWEB%/JavascriptFiles/foswikiPref.js'></script>"
}%%TMPL:END%
