%TMPL:INCLUDE{"twistyplugin"}%
%{ backwards compatibility }%
%TMPL:DEF{twisty:header}%
%ADDTOZONE{"head"
  id="TWISTYPLUGIN"
  text="<link class='$id' rel='stylesheet' href='%PUBURLPATH%/%SYSTEMWEB%/TwistyPlugin/twisty.jquery.css' type='text/css' media='all'>"
}%
%ADDTOZONE{"script"
  id="JavascriptFiles/foswikiPref"
  text="<script class='$id' src='%PUBURLPATH%/%SYSTEMWEB%/JavascriptFiles/foswikiPref.js'></script>"
}%
%ADDTOZONE{"script"
  id="TWISTYPLUGIN"
  requires="JavascriptFiles/foswikiPref,JQUERYPLUGIN::FOSWIKI"
  text="<script class='$id' src='%PUBURLPATH%/%SYSTEMWEB%/TwistyPlugin/twisty.jquery.js'></script>"
}%
%TMPL:END%
