%TMPL:INCLUDE{"updatesplugin"}%

%TMPL:DEF{"messagetmpl::icon"}%%TMPL:END%

%TMPL:DEF{"messagetmpl"}%<script id="foswikiUpdatesTmpl" type="text/x-jsrender"> 
<div class="foswikiWarningMessage foswikiUpdatesMessage">
%TMPL:P{"messagetmpl::text"}%
%TMPL:P{"messagetmpl::buttons"}%
%CLEAR%
</div>
</script>%TMPL:END%

