%TMPL:DEF{"user::photo::size"}%32x32>%TMPL:END%
%TMPL:DEF{"user::photo::filter"}%none%TMPL:END%
%TMPL:DEF{"user::photo::formfield"}%Photo%TMPL:END%

%TMPL:DEF{"user::tooltip::photo::size"}%%NATSKIN_USERTOOLTIP_SIZE{default="60x90>"}%%TMPL:END%
%TMPL:DEF{"user::tooltip"}%%TMPL:P{"user::tooltip::default"}%%TMPL:END%
%TMPL:DEF{"user::tooltip::formfields"}%%NATSKIN_USERTOOLTIP_FORMFIELDS{default="Profession,Address,Telephone,Email"}%%TMPL:END%

%{url}%
%TMPL:DEF{"user::photo::url"}%%TMPL:P{context="PluggableAuthEnabled" 
  then="user::photo::url::pauth" 
  else="user::photo::url::formfield"
  web="%web%"
  topic="%topic%"
}%%TMPL:END%

%TMPL:DEF{"user::photo::url::pauth"}%%IF{
  "'%USERINFO{"%topic%" format="$picture"}%'=''"
  then="$percntTMPL:P{\"user::photo::url::formfield\" 
          web=\"%web%\"
          topic=\"%topic%\" 
        }$percnt"
  else="%USERINFO{"%topic%" format="$picture"}%"
}%%TMPL:END%

%TMPL:DEF{"user::photo::url::formfield"}%%IF{
  "'%web%.%topic%'/%TMPL:P{"user::photo::formfield"}%"
  then="%PUBURLPATH%/%web%/%topic%/$percntFORMFIELD{\"%TMPL:P{"user::photo::formfield"}%\" topic=\"%web%.%topic%\"}$percnt"
  else="$percntTMPL:P{\"user::photo::url::attachment\"
            web=\"%web%\"
            topic=\"%topic%\"
        }$percnt"
}%%TMPL:END%

%TMPL:DEF{"user::photo::url::attachment"}%%ATTACHMENTS{
  "%web%.%topic%"
  name=".*%TMPL:P{"image::exts"}%" 
  limit="1"
  attr=".*t.*"
  format="%PUBURLPATH%/%web%/%topic%/$name"
  nullformat="$percntTMPL:P{\"user::photo::url::default\"}$percnt"
}%%TMPL:END%

%{img}%
%TMPL:DEF{"user::photo"}%%TMPL:P{context="ImagePluginEnabled" 
  then="user::photo::image" 
  else="user::photo::genimage"
  web="%web%"
  topic="%topic%"
  crop="%crop%"
  filter="%filter%"
  align="%align%"
  size="%IF{"'%size%'=~'^%size'" then="%TMPL:P{"user::photo::size"}%" else="%size%"}%"
}%%TMPL:END%

%TMPL:DEF{"user::photo::image"}%%IMAGE{
  "%TMPL:P{"user::photo::url" 
    web="%web%" 
    topic="%topic%" 
  }%"
  type="plain"
  class="natUserPhoto"
  align="%IF{"'%align%'=~'^(left|right)$'" then="%align%"}%"
  size="%size%"
  filter="%IF{"'%filter%'=~'^%filter'" then="%TMPL:P{"user::photo::filter"}%" else="%filter%"}%"
  crop="%IF{"'%crop%'=~'^%crop'" then="on" else="%crop%"}%"
  title=""
}%%TMPL:END%

%TMPL:DEF{"user::photo::genimage"}%%TMPL:P{context="ImageGeneratorPluginEnabled"
  then="user::photo::genimage"
  else="user::photo::default"
  web="%web%"
  topic="%topic%"
  crop="%crop%"
  filter="%filter%"
  align="%align%"
  size="%size%"
}%%TMPL:END%

%TMPL:DEF{"user::photo::genimage"}%%GENIMAGE{
  text="%IF{"istopic '%web%.%topic%'"
          then="$percntGETTOPICTITLE{\"%web%.%topic%\"}$percnt"
          else="%FORMATLIST{"%topic%" split="_"}%"
       }%"
  from="initials"
  class="natUserPhoto imagePlain"
  size="%IF{"'%size%'=~'^%size'" then="%TMPL:P{"user::photo::size"}%" else="%size%"}%"
}%%TMPL:END%

%TMPL:DEF{"user::photo::url::default"}%%PUBURLPATH%/%SYSTEMWEB%/JQueryPlugin/images/nobody.png%TMPL:END%
%TMPL:DEF{"user::photo::default"}%<img class='imagePlain' src='%TMPL:P{"user::photo::url::default' style='float:%align%' %FORMATLIST{"%size%" pattern="(.*)x(.*)" format="width='$1px' height='$2px'"}% />%TMPL:END%


%{ used by user formfield of MoreFormfieldsPlugin }%
%TMPL:DEF{"user::photo::thumbnail::url"}%%SCRIPTURLPATH{"rest"}%/ImagePlugin/process?topic=%web%.%topic%;file=%TMPL:P{"user::photo::url" 
    web="%web%" 
    topic="%topic%" 
  }%;size=%size%;crop=on;filter=%TMPL:P{"user::photo::filter"}%%TMPL:END%

%TMPL:DEF{"user::tooltip::default"}%<div class='natUserTooltip'>
<div class='natUserTooltipContent'>
<h3>%IF{"istopic '%WEB%.%TOPIC%'" then="[[%WEB%.%TOPIC%]]" else="<nop>%TOPIC%"}%</h3>
%TMPL:P{"user::tooltip::default::format"}%
</div>
%TMPL:P{"user::tooltip::photo"
  web="%WEB%"
  topic="%TOPIC%"
}%
</div>%TMPL:END%

%TMPL:DEF{"user::tooltip::default::format"}%%RENDERFORDISPLAY{
  fields="%TMPL:P{"user::tooltip::formfields"}%"
  format=" $value "
  separator="<br />"
  Email_value="%USERINFO{"%TOPIC%" format="$emails"}%"
  hideempty="on"
}%%TMPL:END%

%TMPL:DEF{"user::tooltip::photo"}%%IMAGE{
  "%TMPL:P{"user::photo::url" 
    web="%web%" 
    topic="%topic%" 
  }%"
  type="plain"
  size="%TMPL:P{"user::tooltip::photo::size"}%"
  crop="on"
  title=""
}%%TMPL:END%

%TMPL:DEF{"user::tooltip::ldap"}%<div class='natUserTooltip'>
<div class='natUserTooltipContent'>
<h3>[[%WEB%.%TOPIC%]]</h3>
%TMPL:P{"user::tooltip::ldap::format"}%
</div>
%TMPL:P{"user::tooltip::photo"
  web="%WEB%"
  topic="%TOPIC%"
}%
</div>%TMPL:END%

%TMPL:DEF{"ifdefined"}%$percntIF{\"'%attr%'!=''\" then=\"%format% <br />\" else=\"<!-- -->\"}$percnt%TMPL:END%

%TMPL:DEF{"user::tooltip::ldap::format"}%%LDAP{
    "(sAMAccountName=%USERINFO{"%BASETOPIC%" format="$username"}%)" 
   limit="1"
   clear="$department,$telephoneNumber,$title,$mail"
   format="<!-- -->
%TMPL:P{"ifdefined" attr="$title" format="$title"}%
%TMPL:P{"ifdefined" attr="$department" format="$department"}%
%TMPL:P{"ifdefined" attr="$mail" format="$mail"}%
%TMPL:P{"ifdefined" attr="$telephoneNumber" format="<a href='tel:$telephoneNumber'>$telephoneNumber</a>"}%
<!-- -->"
}%%TMPL:END%

%TMPL:DEF{"user::remove::title"}%%MAKETEXT{"Remove user account"}%%TMPL:END%

%TMPL:DEF{"user::remove::dialog"}%<noautolink>
<div class="jqUIDialog" data-width="500" data-modal="true" data-draggable="true" data-destroy-on-close="true" title="%TMPL:P{"user::remove::title"}%">
  <form class='jqAjaxForm' id="removeUserForm" action="%SCRIPTURLPATH{"manage" topic="%WEB%.%TOPIC%"}%" method="post" data-message="%MAKETEXT{"Removing ..."}%">
    <input type="hidden" name="topicPrefix" value="DeletedUser" />
    <input type="hidden" name="action" value="deleteUserAccount" />
    <input type="hidden" name="user" value="%TOPIC%" />
    <input type="hidden" name="removeTopic" value="on" />
    <input type="hidden" name="redirect" value="%WEBLOGOURL%" />
    %MAKETEXT{"Are you sure that you want to remove this user account:"}%
    %TMPL:P{"user::photo"
      web="%WEB%"
      topic="%TOPIC%"
      align="right"
    }%%{}%
    <p class="foswikiBold foswikiCenter">
      %USERINFO{"%WEB%.%TOPIC%" format="$wikiname <nobr>($username)</nobr>"}%
    </p>
    <a class="jqUIDialogButton jqUIDialogSubmit" data-icon="ui-icon-trash">%MAKETEXT{"Yes, remove"}%</a> 
    <a class="jqUIDialogButton jqUIDialogClose" data-icon="ui-icon-cancel">%MAKETEXT{"No, thanks"}%</a> 
  </form>
</div>%JQREQUIRE{"ajaxform"}%
<script>
jQuery(function($) {
  $("#removeUserForm").on("beforeSubmit", function() {
    $(this).parent().dialog("destroy");
  }).on("success", function() {
    $.pnotify({
      type: "success",
      title: "%MAKETEXT{"Success"}%",
      text: "%MAKETEXT{"Account has been removed"}%"
    });
  });
});
</script>
</noautolink>%TMPL:END%

