%TMPL:INCLUDE{"viewplain"}%%{}%

%TMPL:DEF{"bodyclass"}%natValidateBody natErrorBody natCenteredBody%TMPL:END%
%TMPL:DEF{"titleaction"}%%MAKETEXT{"Bad request"}%%TMPL:END%
%TMPL:DEF{"metadata"}%%TMPL:END%
%TMPL:DEF{"banner"}%%TMPL:END%
%TMPL:DEF{"sidebar"}%%TMPL:END%
%TMPL:DEF{"revinfo"}%%TMPL:END%

%TMPL:DEF{"content"}%<div class="natOopsMessage" id="foswikiLogin">
  <h1>400</h1>
  <h2>%MAKETEXT{"Request validation"}%</h2>
  <form action='%SCRIPTURLPATH{"login"}%/%WEB%/%TOPIC%' name='loginform' method='post'>
    <input type="hidden" name="origurl" value="%ORIGURL%" />
    <input type="hidden" name="foswikiloginaction" value="validate" />
    <input type="hidden" name="response" value="Cancel" />
    <literal>
      %QUERYPARAMS{encoding="entity" format="<input type='hidden' name='$name' value='$value' />"}%
    </literal>
    <div class="natErrorMessage">
      %MAKETEXT{"[_1] has received a suspicious change request from your browser." args="<nop>%WIKITOOLNAME%"}%
      %MAKETEXT{"There is a risk that someone may be trying to use your identity to change content on [_1] without your knowledge." args="<nop>%WIKITOOLNAME%"}%
    </div>
    <ul>
      <li>%MAKETEXT{"Press OK to confirm that this change was intentional."}%</li>
      <li>%MAKETEXT{"Press Cancel otherwise."}%</li>
    </ul>
    %MAKETEXT{"If you are unsure what this means, read <a href='[_1]' class='foswikiPopUp'>why you are being asked to confirm</a>" args="http://foswiki.org/Support/WhyYouAreAskedToConfirm"}%:
    <p class='foswikiFlex foswikiFlexJustifyCenter'>
    %BUTTON{"%MAKETEXT{"OK"}%" icon="%TMPL:P{"icon::ok::name"}%" id="validateChange"}%
    %BUTTON{"%MAKETEXT{"Cancel"}%" icon="%TMPL:P{"icon::cancel::name"}%" type="submit"}%
    </p>
  </form>
</div>
%ADDTOZONE{"script" requires="JQUERYPLUGIN" id="VALIDATION::JS" text="
<script>
jQuery(function($) {
  var $loginForm = $('form[name=loginform]'), 
      $responseField = $loginForm.find('input[name=response]');

  $('#validateChange').click(function() {
    $responseField.val('OK');
    $loginForm.submit();
    return false;
  });

});
</script>"
}%%{}%%TMPL:END%
