%TMPL:INCLUDE{"view"}%

%TMPL:DEF{"body"}%<body id="body" class="%TMPL:P{"body::class"}%">%TMPL:P{"defaultbody"}%%RENDERZONE{"body"}%%TMPL:P{"ng::loadtime"}%%TMPL:P{"javascript"}%</body>%TMPL:END%

%TMPL:DEF{"meta"}%<meta name="fragment" content="!" />
%TMPL:P{"metabase"}%
%TMPL:PREV%%TMPL:END%

%TMPL:DEF{"metabase"}%<base href="%SCRIPTURLPATH{"view"}%/"/><!--[if IE]></base><![endif]-->%TMPL:END%

%TMPL:DEF{"styles"}%%TMPL:PREV%%TMPL:P{"css::angular"}%%TMPL:END%

%TMPL:DEF{"javascript"}%%TMPL:PREV%%ADDTOZONE{
  "script"
  id="NATSKIN::ANGULAR"
  requires="ANGULARSKIN"
  text="<script type='text/javascript' src='%PUBURLPATH%/%SYSTEMWEB%/NatSkin/angular.js'></script>"
}%%TMPL:P{"javascript::angular"}%%RENDERZONE{"script"}%%RENDERZONE{"skinjs"}%%TMPL:END%
