%TMPL:INCLUDE{"foswiki"}%<!-- template: viewraw.nat.tmpl -->

%{ ################################################################################ }%
%TMPL:DEF{"dialog"}%<noautolink>
<div class="jqUIDialog foswikiFormSteps {width:800, height:600, modal:true, resizable:true, draggable:true, alsoResize:'textarea'}" title="%TMPL:P{"heading"}%">
  %TMPL:P{"viewrawjavascript"}%<!-- -->
  <div id="natPreviewRaw" class="foswikiFormStep">
    <textarea class="foswikiTextarea" rows="20" cols="80" style="width:99%; height:460px; resize:none;" readonly></textarea>
  </div>
 <a class="jqUIDialogButton {icon:'ui-icon-newwin', click: function() { window.location.href='%SCRIPTURL{"view"}%/%BASEWEB%/%BASETOPIC%?raw=text&skin=text&contenttype=text/plain&rev=%URLPARAM{"rev"}%'; }}">%MAKETEXT{"Open in separate window"}%</a>
 <a class="jqUIDialogButton {icon:'ui-icon-cancel', click: function() { $(this).dialog('close'); }}">%MAKETEXT{"Close"}%</a>
</div>
</noautolink>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"heading"}%%MAKETEXT{"Wiki markup of [_1]" args="%GETTOPICTITLE{"%BASEWEB%.%BASETOPIC%"}%"}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"viewrawjavascript"}%<!-- -->
<literal><script>
jQuery(function($) {
  $.ajax({
    url: '%SCRIPTURL{"view"}%/%BASEWEB%/%BASETOPIC%',
    data: {
      raw:"text",
      skin:"text",
      rev:%URLPARAM{"rev"}%
    },
    dataType:"text",
    success: function(data, status, xhr) {
      var $textarea = $("#natPreviewRaw .foswikiTextarea");
      $textarea.text(data);
      setTimeout(function() { $textarea.focus(); }, 100);
    }
  });
});
</script></literal>
<!-- -->%TMPL:END%
