%TMPL:INCLUDE{"view"}%<!-- template:view.print.nat.tmpl -->
%TMPL:DEF{"bodyclass"}%natPrintBody%TMPL:END%
%TMPL:DEF{"defaultbody"}%<div class="natBodyContents">%TMPL:P{"content_container"}%</div>%TMPL:END%
%TMPL:DEF{"head"}%<!-- head -->
<head>
<meta http-equiv="Content-Type" content="%CONTENTTYPE%; charset=%CHARSET%">
<title>%TMPL:P{"title"}% - (%MAKETEXT{"printable"}%)</title>
%TMPL:P{"meta"}%
<link rel="icon" href="%FAVICON%" type="image/x-icon"> 
<link rel="shortcut icon" href="%FAVICON%" type="image/x-icon">
%TMPL:P{"styles"}%
<style type="text/css">
object#player,
.natFeedIcon,
.blogEntryFeed,
.blogNavigation,
.blogAddComment {
  display:none;
}
</style>
%TMPL:P{"javascript"}%
%WEBCOMPONENT{"HtmlHead"}%
<!-- //head --></head>%TMPL:END%
