<!-- template: viewtopicaction.nat.tmpl -->
%TMPL:DEF{"topicactions"}%<div class="natTopicActions jqUITooltip clearfix" id="natTopicActions" data-theme="info" data-arrow="on" data-position="top">
%WEBCOMPONENT{"TopicActions"}%<!-- -->
</div>%TMPL:END%
