%TMPL:INCLUDE{"foswiki"}%<!-- template: viewraw.nat.tmpl -->

%{ ################################################################################ }%
%TMPL:DEF{"dialog"}%<noautolink>
<div class="jqUIDialog" data-width="800" data-modal="true" data-resizable="true" data-draggable="true" title="%TMPL:P{"heading"}%">
  <input type="hidden" autofocus />
  %TMPL:P{"viewrawjavascript"}%<!-- -->
  <div class="natPreviewRaw">
    <textarea class="foswikiTextarea" rows="20" cols="80" readonly></textarea>
  </div>
 <a class="jqUIDialogButton {icon:'ui-icon-newwin', click: function() { window.location.href='%SCRIPTURL{"view"}%/%BASEWEB%/%BASETOPIC%?raw=text&skin=text&contenttype=text/plain&rev=%URLPARAM{"rev"}%'; }}">%MAKETEXT{"Open in separate window"}%</a>
 <a class="jqUIDialogButton jqUIDialogClose {icon:'ui-icon-cancel'}">%MAKETEXT{"Close"}%</a>
</div>
</noautolink>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"heading"}%%MAKETEXT{"Wiki markup of [_1]" args="%GETTOPICTITLE{"%BASEWEB%.%BASETOPIC%" encode="entity"}%"}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"viewrawjavascript"}%<literal>
<script type='text/javascript'>
jQuery(function($) {
  var $textarea = $(".natPreviewRaw .foswikiTextarea");
  $.ajax({
    url: '%SCRIPTURL{"view"}%/%BASEWEB%/%BASETOPIC%',
    data: {
      raw:"text",
      skin:"text",
      rev:"%URLPARAM{"rev"}%"
    },
    dataType:"text",
    success: function(data, status, xhr) {
      $textarea.val(data);
    }
  });
});
</script>
</literal>%TMPL:END%
