%TMPL:INCLUDE{"page"}%<!-- template: view.nat.tmpl -->
%TMPL:INCLUDE{"viewbody"}%<!-- -->
%TMPL:INCLUDE{"viewtopicactions"}%<!-- -->
%TMPL:INCLUDE{"viewsidebar"}%<!-- -->
%TMPL:INCLUDE{"searchbox"}%<!-- -->
%TMPL:INCLUDE{"metadata"}%<!-- -->
%TMPL:INCLUDE{"metacomments"}%<!-- -->

%{ ################################################################################ }%
%TMPL:DEF{"bodyclass"}%natViewBody %IF{"context 'natskin_history_1'" then="natViewHistoryBody"}%%TMPL:END%
%TMPL:DEF{"bottombar"}%%WEBCOMPONENT{"BottomBar"}%%TMPL:END%
%TMPL:DEF{"scrolltop"}%<a href="#" class="natScrollTop jqScrollToLink {'target':'0', 'duration':500}" title="%MAKETEXT{"back to the top"}%">^</a>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"meta"}%%TMPL:P{"metagenerator"}%
%TMPL:P{"metadescription"}%<!-- -->
%TMPL:P{"metakeywords"}%<!-- -->
%TMPL:P{"metaauthor"}%<!-- -->
%TMPL:P{"metaedit"}%<!-- -->
%TMPL:P{"metaatom"}%<!-- -->
%TMPL:P{"metarss"}% %TMPL:END%

%TMPL:DEF{"metagenerator"}%<meta name='generator' content='Foswiki %WIKIVERSION%' />%TMPL:END%

%TMPL:DEF{"metadescription"}%%IF{"defined 'METADESCRIPTION'" 
  then="<meta name='description' content='$percntENCODE{\"$percntMETADESCRIPTION$percnt\" type=\"html\"}$percnt' />"
  else="$percntFORMFIELD{\"Summary\" format=\"<meta name='description' content='$dollarpercntENCODE{\\"$value\\" type=\\"html\\"}$dollarpercnt' />\"}$percnt"
}%%TMPL:END%

%TMPL:DEF{"metakeywords"}%%IF{"defined 'METAKEYWORDS'" 
  then="<meta name='keywords' content='$percntENCODE{\"$percntMETAKEYWORDS$percnt\" type=\"html\"}$percnt' />" 
  else="$percntFORMFIELD{\"Tag\" format=\"<meta name='keywords' content='$dollarpercntENCODE{\\"$value\\" type=\\"html\\"}$dollarpercnt' />\"}$percnt"
}%%TMPL:END%

%TMPL:DEF{"metaauthor"}%%IF{
  "defined 'METAAUTHOR'" 
  then="<meta name='author' content='$percntENCODE{\"$percntMETAAUTHOR$percnt\" type=\"html\"}$percnt' />"
  else="<meta name='author' content='$percntTMPL:P{context=\"DBCachePluginEnabled\" then=\"metaauthor::dbcache\" else=\"metaauthor::default\"}$percnt' />"
}%%TMPL:END%

%TMPL:DEF{"metaauthor::default"}%%SPACEOUT{"%USERINFO{"%QUERY{"'%WEB%.%TOPIC%'/versions[1].info.author"}%" format="$wikiname"}%"}%%TMPL:END%
%TMPL:DEF{"metaauthor::dbcache"}%%SPACEOUT{"%DBQUERY{topic="%WEB%.%TOPIC%" format="$expand(createauthor)"}%"}%%TMPL:END%

%TMPL:DEF{"metaedit"}%%IF{
  "'%WEB%.%TOPIC%' allows 'change'" 
  then="<link rel='alternate' type='application/x-wiki' title='Edit this page!' href='%SCRIPTURLPATH{"edit"}%/%WEB%/%TOPIC%?t=%GMTIME{"$epoch"}%' />"
}%%TMPL:END%

%TMPL:DEF{"metarss"}%<link rel='alternate' type='application/rss+xml' title='RSS Feed' href='%SCRIPTURLPATH{"view"}%/%WEB%/WebRss?contenttype=text/xml' />%TMPL:END%
%TMPL:DEF{"metaatom"}%<link rel='alternate' type='application/atom+xml' title='Atom Feed' href='%SCRIPTURLPATH{"view"}%/%WEB%/WebAtom?contenttype=text/xml' />%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"content"}%<!-- -->
%TMPL:P{"beforetext"}%<!-- -->
%TMPL:P{"text"}%<!-- -->
%TMPL:P{"rawbutton"}%<!-- -->
%TMPL:P{"aftertext"}%<!-- -->
%TMPL:P{"comments"}%<!-- -->
<!-- -->%TMPL:END%

%TMPL:DEF{"rawbutton"}%%IF{"$'URLPARAM{raw}'='on'" then="<p>$percntBUTTON{\"%MAKETEXT{"View"}%\" title=\"%MAKETEXT{"Back to view mode"}%\" style=\"float:right\" icon=\"eye\" target=\"%WEB%.%TOPIC%\"}$percnt$percntCLEAR$percnt</p>" else="<!-- -->" }%%TMPL:END%
%TMPL:DEF{"text"}%%TEXT%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"contentheader_container"}%<div class="natMainHeaderContents" %IF{"$'DISPLAYTOPICACTIONS'='off' and $'DISPLAYBREADCRUMBS'='off'" then="style='display:none'"}%>%TMPL:P{"contentheader"}%</div>%TMPL:END%
%TMPL:DEF{"contentheader"}%%IF{
  "$'DISPLAYTOPICACTIONS'='off'" 
  else="$percntTMPL:P{\"topicactions\"}$percnt"
}%%IF{
  "$'DISPLAYBREADCRUMBS'='off'" 
  else="$percntTMPL:P{\"breadcrumbs_container\"}$percnt"
}%%CLEAR%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"contentfooter"}%<!-- -->
%TMPL:P{context="save" else="metadata"}%<!-- -->
%IF{"$'DISPLAYREVISIONINFO'='off'" else="$percntTMPL:P{\"revinfo\"}$percnt"}%<!-- -->
%TMPL:P{"editsettingsform"}%<!-- -->
<!-- -->%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"revinfo"}%<div class="natRevision">%MAKETEXT{"Last modified by [_1] on [_2]" args="<span class='natRevisionAuthor'> %REVINFO{"[[$wikiusername]]" rev="%CURREV%"}% </span>, <a class='natRevisionDate' rel='nofollow' href='%TMPL:P{context="CompareRevisionsAddonPluginEnabled" then="compare" else="rdiff"}%' title='%MAKETEXT{"show last change"}%'>%REVINFO{"$date - $hour:$min - r$rev" rev="%CURREV%"}%</a>"}%</div>%TMPL:END%
%TMPL:DEF{"rdiff"}%%SCRIPTURLPATH{"rdiff"}%/%WEB%/%TOPIC%?type=last;render=sequential%TMPL:END%
%TMPL:DEF{"compare"}%%SCRIPTURLPATH{"compare"}%/%WEB%/%TOPIC%?type=last;render=interweave%TMPL:END%
%TMPL:DEF{"broadcast"}%%IF{"not isempty 'BROADCASTMESSAGE'" then="<div class='foswikiBroadcastMessage'> $percntBROADCASTMESSAGE$percnt </div>"}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"comments"}%%IF{
  "$DISPLAYCOMMENTS='on' and $COMMENTFORMAT!='insidetab' and not context save and not context preview and not context edit"
  then="$percntTMPL:P{\"comments::system::%COMMENTSYSTEM{default="metacomment"}%\"}$percnt"
}%<!-- -->
%TMPL:P{"metacomments::init"}%<!-- -->
<!-- -->%TMPL:END%

%TMPL:DEF{"comments::system::disqus"}%%DISQUS%%TMPL:END%
%TMPL:DEF{"comments::system::metacomment"}%%JQREQUIRE{"loader"}%<div class="jqLoader {url:'%SCRIPTURLPATH{"rest"}%/RenderPlugin/template?name=metacomments;expand=metacomments;render=on;topic=%WEB%.%TOPIC%'}"></div>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"editsettingsform"}%<!-- -->
<form id="editSettingsForm" name="editSettingsForm" class="foswikiHidden" action="%SCRIPTURLPATH{"manage"}%/%BASEWEB%/%BASETOPIC%" method="post"> 
  <input type="hidden" name="action" value="editSettings" /> 
</form><!-- -->%TMPL:END%
