%TMPL:DEF{"topicactions"}%<div class="natTopicActions clearfix" id="natTopicActions"><noautolink>%TMPL:P{context="static" else="topicactions::contents"}%</noautolink></div>%TMPL:END%
%TMPL:DEF{"topicactions::contents"}%%WEBCOMPONENT{"TopicActions"}%%TMPL:END%
