%TMPL:INCLUDE{"view"}%
%TMPL:DEF{"defaultbodyclass"}%natBody natSlideShowBody%TMPL:END%

%TMPL:DEF{"defaultbody"}%<!-- -->
<div class="natBodyContents" id="PageTop">
%TMPL:P{"content_container"}%<!-- content_container// -->
<span id="PageBottom"></span>
</div>
<!-- -->%TMPL:END%

