%TMPL:INCLUDE{"view"}%<!-- template:view.print.nat.tmpl -->
%TMPL:DEF{"bodyclass"}%natPrintBody%TMPL:END%
%TMPL:DEF{"defaultbody"}%<div class="natBodyContents"> 
<div class="natMainContents" id="natMainContents">
%TMPL:P{"content"}%
<div class="natRevision"><span class='natRevisionDate'>%REVINFO{"$date - $hour:$min"}%</span></div>
</div>
</div>%TMPL:END%
%TMPL:DEF{"head"}%<!-- -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%" />
<title>%TMPL:P{"title"}% - (%MAKETEXT{"printable"}%)</title>
<meta name="date" content="%REVINFO{"$http"}%" /> 
<link rel="icon" href="%FAVICON%" type="image/x-icon" />
<link rel="shortcut icon" href="%FAVICON%" type="image/x-icon" />
%TMPL:P{"meta"}%
<link rel="icon" href="%FAVICON%" type="image/x-icon"> 
<link rel="shortcut icon" href="%FAVICON%" type="image/x-icon">
%TMPL:P{"styles"}% %TMPL:P{"javascript"}% %WEBCOMPONENT{"HtmlHead"}%
<!-- --></head>%TMPL:END%
