%TMPL:INCLUDE{"page"}%<!-- template: view.nat.tmpl -->
%TMPL:INCLUDE{"viewbody"}%<!-- -->
%TMPL:INCLUDE{"viewtopicactions"}%<!-- -->
%TMPL:INCLUDE{"viewsidebar"}%<!-- -->
%TMPL:INCLUDE{"searchbox"}%<!-- -->
%TMPL:INCLUDE{"metadata"}%<!-- -->
%TMPL:INCLUDE{"metacomments"}%<!-- -->
%TMPL:INCLUDE{"opensearch"}%<!-- -->

%{ ################################################################################ }%
%TMPL:DEF{"bodyclass"}%natViewBody %IF{"context 'natskin_history_1'" then="natViewHistoryBody"}%%TMPL:END%
%TMPL:DEF{"bottombar::contents"}%%WEBCOMPONENT{"BottomBar"}%%TMPL:END%
%TMPL:DEF{"scrolltop"}%<a class="natScrollTop jqScrollToLink {'target':'0', 'duration':500}" title="%MAKETEXT{"back to the top"}%">%JQICON{"fa-angle-double-up"}%</a>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"meta"}%%TMPL:P{"metagenerator"}%<!-- -->
%TMPL:P{"metadescription"}%<!-- -->
%TMPL:P{"metakeywords"}%<!-- -->
%TMPL:P{"metaauthor"}%<!-- -->
%TMPL:P{"metaopengraph"}%<!-- -->
%TMPL:P{"metacanonical"}%<!-- -->
%TMPL:P{"metarelations"}%<!-- -->
%TMPL:P{"metaedit"}%<!-- -->
%TMPL:P{"metaatom"}%<!-- -->
%TMPL:P{"metarss"}%<!-- -->
%TMPL:P{"metaopensearch"}%%TMPL:END%

%TMPL:DEF{"metaopengraph"}%<!-- -->
%TMPL:P{"metaopengraph::title"}%<!-- -->
%TMPL:P{"metaopengraph::sitename"}%<!-- -->
%TMPL:P{"metaopengraph::url"}%<!-- -->
%TMPL:P{"metaopengraph::description"}%<!-- -->
%TMPL:P{"metaopengraph::image"}%
<!-- -->%TMPL:END%

%TMPL:DEF{"metaopengraph::title"}%<meta property="og:title" content="%TMPL:P{"metaopengraph::title::content"}%" />%TMPL:END%
%TMPL:DEF{"metaopengraph::title::content"}%%TOPICTITLE%%TMPL:END%

%TMPL:DEF{"metaopengraph::url"}%<meta property="og:url" content="%TMPL:P{"metaopengraph::url::content"}%" />%TMPL:END%
%TMPL:DEF{"metaopengraph::url::content"}%%SCRIPTURL{"view"}%/%WEB%/%TOPIC%%TMPL:END%

%TMPL:DEF{"metaopengraph::sitename"}%<meta property="og:site_name" content="%TMPL:P{"metaopengraph::sitename::content"}%" />%TMPL:END%
%TMPL:DEF{"metaopengraph::sitename::content"}%%WIKITOOLNAME{default="Foswiki"}%%TMPL:END%

%TMPL:DEF{"metaopengraph::description"}%<meta property="og:description" content="%ENCODE{"%TMPL:P{"metaopengraph::description::content"}%" type="html"}%" />%TMPL:END%
%TMPL:DEF{"metaopengraph::description::content"}%%TMPL:P{"metadescription::content"}%%TMPL:END%

%TMPL:DEF{"metadescription"}%<meta name="description" content="%ENCODE{"%TMPL:P{"metadescription::content"}%" type="html"}%" />%TMPL:END%
%TMPL:DEF{"metadescription::content"}%%METADESCRIPTION{default="%FORMFIELD{"Summary" default="%TOPICTITLE%" alttext="%TOPICTITLE%"}%"}%%TMPL:END%

%TMPL:DEF{"metaopengraph::image"}%<meta property="og:image" content="%TMPL:P{"metaopengraph::image::content"}%" />%TMPL:END%
%TMPL:DEF{"metaopengraph::image::content"}%%METAIMAGE{default="%WIKILOGOIMG%"}%%TMPL:END%

%TMPL:DEF{"metakeywords"}%<meta name="keywords" content="%ENCODE{"%TMPL:P{"metakeywords::content"}%" type="html"}%" />%TMPL:END%
%TMPL:DEF{"metakeywords::content"}%%METAKEYWORDS{default="%FORMFIELD{"Tag" default="Foswiki, %WEB%, %TOPIC%" alttext="Foswiki, %WEB%, %TOPIC%"}%"}%%TMPL:END%

%TMPL:DEF{"metagenerator"}%<meta name="generator" content="%TMPL:P{"metagenerator::content"}%" />%TMPL:END%
%TMPL:DEF{"metagenerator::content"}%Foswiki %WIKIVERSION%%TMPL:END%

%TMPL:DEF{"metaauthor"}%<meta name="author" content="%ENCODE{"%TMPL:P{"metaauthor::content"}%" type="html"}%" />%TMPL:END%
%TMPL:DEF{"metaauthor::content"}%%METAAUTHOR{default="%SPACEOUT{"%USERINFO{"%TMPL:P{context="DBCachePluginEnabled" then="metaauthor::content::dbcache" else="metaauthor::content::default"}%" format="$wikiname"}%"}%"}%%TMPL:END%
%TMPL:DEF{"metaauthor::content::default"}%%QUERY{"'%WEB%.%TOPIC%'/versions[1].info.author"}%%TMPL:END%
%TMPL:DEF{"metaauthor::content::dbcache"}%%DBQUERY{topic="%WEB%.%TOPIC%" format="$expand(createauthor)"}%%TMPL:END%

%TMPL:DEF{"metaedit"}%%IF{
  "'%WEB%.%TOPIC%' allows 'change'" 
  then="<link rel=\"alternate\" type=\"application/x-wiki\" title=\"Edit this page!\" href=\"%SCRIPTURLPATH{"edit"}%/%WEB%/%TOPIC%?t=%GMTIME{"$epoch"}%\" />"
}%%TMPL:END%

%TMPL:DEF{"metarss"}%<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="%SCRIPTURLPATH{"view"}%/%WEB%/WebRss?contenttype=text/xml" />%TMPL:END%
%TMPL:DEF{"metaatom"}%<link rel="alternate" type="application/atom+xml" title="Atom Feed" href="%SCRIPTURLPATH{"view"}%/%WEB%/WebAtom?contenttype=text/xml" />%TMPL:END%

%TMPL:DEF{"metarelations"}%%IF{"context i18n_enabled and $MULTILINGUAL = 'on'" 
  then="$percntTMPL:P{\"metarelations::langs\"}$percnt"
}%%TMPL:END%

%TMPL:DEF{"metacanonical"}%<link rel="canonical" href="%SCRIPTURL{"view"}%/%WEB%/%TOPIC%" />%TMPL:END%

%TMPL:DEF{"metarelations::langs"}%%DBQUERY{
  "(preferences.BASETRANSLATION = '%BASETRANSLATION{default="%TOPIC%"}%' OR topic = '%BASETRANSLATION{default="%TOPIC%"}%')"
  format="<link rel=\"alternate\" hreflang=\"$expand(preferences.CONTENT_LANGUAGE or '%DEFAULTLANGUAGE{default="en"}%')\" href=\"%SCRIPTURL{"view"}%/$web/$topic\" />" 
  separator="$n"
}%%TMPL:END%

%{ ########################################################################## }%
%TMPL:DEF{"langswitcher"}%%IF{"context i18n_enabled and $MULTILINGUAL = 'on'" then="$percntTMPL:P{\"langswitcher::impl\"}$percnt"}%%TMPL:END%

%{ ########################################################################## }%
%TMPL:DEF{"langswitcher::impl"}%<div class="natLangs foswikiContents" name="langswitcher::contents">%TMPL:P{"langswitcher::contents"}%</div>%TMPL:END%
%TMPL:DEF{"langswitcher::contents"}%<literal>%DBQUERY{
  "(preferences.BASETRANSLATION = '%BASETRANSLATION{default="%TOPIC%"}%' OR topic = '%BASETRANSLATION{default="%TOPIC%"}%') AND topic != '%TOPIC%'"
  format="$percntLANGUAGES{\"$expand(preferences.CONTENT_LANGUAGE or '%DEFAULTLANGUAGE{default="en"}%')\"
      format=\"<a href='%SCRIPTURLPATH{"view"}%/$web/$topic' class='jqUITooltip' data-theme='info' data-delay='0' title='$percntMAKETEXT{\"Select translation in [_1]\" args=\"$dollarlabel_name\"}$percnt'>$icon(24)</a>\"
    }$percnt"
  separator="$n"
}%</literal>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"content"}%<!-- -->
%TMPL:P{"beforetext"}%<!-- -->
%TMPL:P{"text"}%<!-- -->
%TMPL:P{"rawbutton"}%<!-- -->
%TMPL:P{"aftertext"}%<!-- -->
%TMPL:P{"comments"}%<!-- -->
<!-- -->%TMPL:END%

%TMPL:DEF{"rawbutton"}%%IF{"$'URLPARAM{raw}'='on'" then="<p class='clearfix'>$percntBUTTON{\"%MAKETEXT{"View"}%\" title=\"%MAKETEXT{"Back to view mode"}%\" style=\"float:right\" icon=\"eye\" target=\"%WEB%.%TOPIC%\"}$percnt</p>" else="<!-- -->" }%%TMPL:END%
%TMPL:DEF{"redirectbutton"}%%IF{"$'URLPARAM{redirectedfrom}'!=''" then="<p class='natRedirectFrom'>%JQICON{"arrow_undo"}% %MAKETEXT{"Redirect from [_1]" args="[[%URLPARAM{"redirectedfrom"}%?noredirect=on"}%]]</p>" else="<!-- -->" }%%TMPL:END%
%TMPL:DEF{"text"}%%TEXT%%TMPL:END%
%TMPL:DEF{"rawtext"}%<textarea rows="22" cols="70" class="foswikiTextarea foswikiTextareaRawView" readonly="readonly" style="width:99%">%TEXT%</textarea>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"contentheader"}%<div class="natMainHeaderContents clearfix" %IF{"$'DISPLAYTOPICACTIONS'='off' and $'DISPLAYBREADCRUMBS'='off'" then="style='display:none'"}%>%TMPL:P{"contentheader::contents"}%</div>%TMPL:END%
%TMPL:DEF{"contentheader::contents"}%<!-- -->
%IF{
  "$'DISPLAYTOPICACTIONS'='off'" 
  else="$percntTMPL:P{\"topicactions\"}$percnt"
}%<!-- -->
%IF{
  "$'DISPLAYBREADCRUMBS'='off'" 
  else="$percntTMPL:P{\"breadcrumbs\"}$percnt"
}%<!-- -->
<!-- -->%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"contentfooter::contents"}%<!-- -->
%TMPL:P{"redirectbutton"}%<!-- -->
%TMPL:P{context="save" else="metadata"}%<!-- -->
%TMPL:P{"editsettingsform"}%<!-- -->
<!-- -->%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"revinfo"}%<div class="foswikiRevision">
  %JQICON{"fa-calendar"}%
  %REVINFO{"<span itemprop='dateModified' content='$iso'>$date - $hour:$min</span>" rev="%CURREV%"}%
  <span class='foswikiRevisionSep'>&#124;</span>
  %JQICON{"fa-flag"}%
  %MAKETEXT{"Version [_1]" args="%REVINFO{"<span itemprop='version'>$rev</span>" rev="%CURREV%"}%"}%
  <span class='foswikiRevisionSep'>&#124;</span>
  %JQICON{"fa-user"}%
  <span class='foswikiRevisionAuthor' itemprop='author'>%REVINFO{"[[$wikiusername]]" rev="%CURREV%"}%</span> 
</div>%TMPL:END%
%TMPL:DEF{"rdiff"}%%SCRIPTURLPATH{"rdiff"}%/%WEB%/%TOPIC%?type=last;render=sequential%TMPL:END%
%TMPL:DEF{"compare"}%%SCRIPTURLPATH{"compare"}%/%WEB%/%TOPIC%?type=last;render=interweave;context=1%TMPL:END%
%TMPL:DEF{"broadcast"}%%IF{"not isempty 'BROADCASTMESSAGE'" then="<div class='foswikiWarningMessage foswikiBroadcastMessage'><a title='%MAKETEXT{"Close broadcast message"}%' class='foswikiBroadcastMessageClose ui-icon ui-icon-closethick'></a> $percntBROADCASTMESSAGE$percnt </div>"}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"comments"}%%IF{
  "$DISPLAYCOMMENTS='on' and $COMMENTFORMAT!='insidetab' and not context save and not context preview and not context edit"
  then="$percntTMPL:P{\"comments::system::%COMMENTSYSTEM{default="metacomment"}%\"}$percnt"
}%<!-- -->
%TMPL:P{"metacomments::init"}%<!-- -->
<!-- -->%TMPL:END%

%TMPL:DEF{"comments::system::disqus"}%%DISQUS%%TMPL:END%
%TMPL:DEF{"comments::system::metacomment"}%%JQREQUIRE{"loader"}%<div class="jqLoader {url:'%SCRIPTURLPATH{"rest"}%/RenderPlugin/template?name=metacomments;expand=metacomments;render=on;topic=%WEB%.%TOPIC%'}"></div>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"editsettingsform"}%<!-- -->
<form id="editSettingsForm" name="editSettingsForm" class="foswikiHidden" action="%SCRIPTURLPATH{"manage"}%/%BASEWEB%/%BASETOPIC%" method="post"> 
  <input type="hidden" name="action" value="editSettings" /> 
</form><!-- -->%TMPL:END%
