/* main colors:

   blue: #3E89D3, #1A7FE2
   orange: #FF9100
   green: #52AF00
   magenta: #FF45B1 / #ED299C

*/
.natBody {
  background:url("bg.png") repeat-x #fff;
}
.natEditBody {
  background:#fff;
}
.natMiddle,
.natMiddleContents {
  background-color:transparent;
}

h1 {
  color:#303030;
}
h2, h3, h4, h5, h6 {
  color:#339000;
}

.natTopShadow {
  border-top:5px solid #FF9100;
}
.natPanelToggle,
.natPanelToggle a {
  background-color:#FF9100;
  color:#fff;
  text-decoration:none;
}
.natPanelToggle a:hover {
  color:#fff;
}

.natNavToggle:hover,
.natNavToggle {
  color:#fff;
}

.natWebMenu li,
.natWebMenu li a {
  background-color:#1A7FE2;
  color:#fff;
}

.natWebMenu li .foswikiCurrentWebHomeLink:hover,
.natWebMenu li .foswikiCurrentWebHomeLink,
.natWebMenu li .foswikiCurrentTopicLink {
/*
  border-bottom:5px solid #FF45B1;
  margin-bottom:-5px;
*/
  background-color:#0055AB;
}
.natWebMenu li.sfHover > a,
.natWebMenu li .foswikiCurrentWebHomeLink:hover,
.natWebMenu li a:hover {
  background-color:#0055AB;
}

.natSideBar li a:hover {
  text-decoration:none;
  color:#ED299C;
}

.ui-jqgrid .ui-state-hover a:hover,
a:hover {
  text-decoration:underline;
  background-color:transparent;
  color:#ED299C;
}

.blogPagination,
.blogPagination a,
.foswikiGrayText,
.foswikiGrayText a,
h1 .foswikiTopicSummary,
.foswikiTopicSummary,
.foswikiTopicInfo, 
.foswikiTopicInfo a,
.natRevision a,
.natRevision,
.natBreadCrumbs,
.natBreadCrumbs a,
.natBreadCrumbs .natSep {
  color:#a1a1a1;
}

.natLoginHeading,
.natNoteHeading,
.natBreadCrumbs a:hover,
a:hover .foswikiGrayText,
.foswikiTopicInfo a:hover,
.natTopPanelContents a:hover,
.natBottomBarContents a:hover,
.ui-dialog .ui-dialog-titlebar,
.natBottomBarContents .jqButton:hover,
.ui-state-active a,
.ui-state-active,
.ui-state-active a:hover,
.ui-state-active.ui-state-hover,
a.ui-state-active:hover,
a.jqButton:hover,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
#natLoginBanner,
.natMainContents .foswikiNewLink,
.natSideBar .foswikiCurrentTopicLink,
.jqTabPanePlain >.jqTabGroup a:hover, 
.jqTabPaneSimple >.jqTabGroup a:hover,
.foswikiAlt h2,
.alt h2,
h2.marked,
.jqTabContents h2,
.jqTabContents h2 a,
.foswikiPageForm h2,
.foswikiPageForm h2 a,
.foswikiFormSteps h2,
.foswikiFormSteps h2 a,
.foswikiFormSteps h2 a:hover {
  color:#ED299C;
}

.foswikiAlt h3, .foswikiAlt h4, .foswikiAlt h5, .foswikiAlt h6,
.alt h3, .alt h4, .alt h5, .alt h6,
.jqTabContents h3, .jqTabContents h4, .jqTabContents h5, .jqTabContents h6,
.jqTabContents h3 a, .jqTabContents h4 a, .jqTabContents h5 a, .jqTabContents h6 a,
.foswikiPageForm h3, .foswikiPageForm h4, .foswikiPageForm h5, .foswikiPageForm h6,
.foswikiPageForm h3 a, .foswikiPageForm h4 a, .foswikiPageForm h5 a, .foswikiPageForm h6 a,
.foswikiFormSteps h3, .foswikiFormSteps h4, .foswikiFormSteps h5, .foswikiFormSteps h6,
.foswikiFormSteps h3 a, .foswikiFormSteps h4 a, .foswikiFormSteps h5 a, .foswikiFormSteps h6 a {
  color:#1A7FE2;
}
.foswikiAlt h2,
.foswikiAlt h3,
.foswikiAlt h4,
.foswikiAlt h5,
.foswikiAlt h6,
.alt h2,
.alt h3,
.alt h4,
.alt h5,
.alt h6 {
  font-weight:bold;
}

.natTopPanelContents a,
.natPageCacheBanner,
.natPageCacheBanner a,
.natBottomBarContents,
.natBottomBarContents a {
  color:#777;
}

input[type=text],
input[type=password],
.foswikiInputField,
select.ui-pg-selbox, /* jqgrid */
select,
.foswikiSelect,
.foswikiTextarea, textarea {
  border-radius:0;
  background-color:#fff;
  border:1px solid #ccc;
  box-shadow:none;
  box-shadow:inset 2px 2px 4px #f4f4f4;
}
input[type=text],
input[type=password],
.foswikiInputField,
select,
.foswikiSelect,
.foswikiTextarea, textarea {
  padding:4px 6px;
}
input::-ms-reveal,
input::-ms-clear {
  display:none;
}

.foswikiTextarea:focus, textarea:focus,
select.ui-pg-selbox:focus, /* jqgrid */
select:focus,
.foswikiSelect:focus,
input[type=text]:focus,
input[type=password]:focus,
.foswikiInputField:focus {
  border:1px solid #16BEEF;
}


fieldset,
.foswikiAlt,
.alt,
.cmtCommentOdd,
.foswikiPageForm,
.foswikiFormSteps {
  border-radius:2px;
  border:1px solid #d1d1d1;
  box-shadow:0 0 10px #f4f4f4;

  /* http://colorzilla.com/gradient-editor/#ffffff+0,f4f4f4+100;Custom */
  background: #f4f4f4; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#f4f4f4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#f4f4f4 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%,#f4f4f4 100%); /* W3C */
}
.cmtSubComments .cmtCommentOdd,
.ui-dialog .foswikiFormSteps, 
.foswikiMetaData .foswikiDataForm, 
.foswikiMetaData .foswikiAttachments, 
.foswikiMetaData .foswikiComments, 
.foswikiMetaData .foswikiAttachmentsProcess {
  background:transparent;
  box-shadow:none;
}
.cmtSubComments .cmtCommentOdd {
  border:0
}
pre {
  border-radius:2px;
  border:1px solid #d1d1d1;
}

.jqTextboxListValue {
  background-color:#f4f4f4;
  border:1px solid #cfcfcf;
  border-radius:4px;
}

.natBottomBar {
  background-color:#f4f4f4;
  border-top:1px solid #d1d1d1;
}
