@import url(../NatSkin/BaseStyle.css);

.natBody {
  font-size:14px;
  line-height:1.5em;
  background-color:#fff;
  color:#333;
}
.foswikiNormal {
  font-size:14px;
  line-height:1.5em;
}

/* revert some fixed sizes */
.natBody .natEditBottomBar li {
  font-size:inherit;
}

.natPoweredBy span {
  width:45px;
  height:40px;
}

/* typo */
p {
  line-height:1.5em;
  margin:1.5em 0;
}
em {
  font-style:italic;
}

h1,
.foswikiNormal h1 {
  font-family: Arial, sans-serif;
  font-size:2em; /* 28px */
  /*line-height:1.5em;  42px */
  margin-top:0;
  margin-bottom:0.5em; /* 14px */
  border-bottom:1px solid #D5D6DD;
  font-weight:normal;
}
h1 .foswikiTopicSummary {
  font-size:0.5em;
  line-height:1.5em;
}
.foswikiInfo, .foswikiRevision {
  margin-bottom: 1.5em;
}
.solrSearchHits h3,
.natEditTitle {
  font-family:inherit;
}

.blogCategoryTitle h1,
.blogCategoryTitle h1 a {
  border-bottom:0px;
  color:#808080;
}

h2,
.foswikiNormal h2 {
  font-size:1.5em; /* 21px */
  line-height:1em; /* 21px */
  margin:1em 0;
  font-weight:normal;
  border-bottom:1px solid #D5D6DD;
}
.foswikiGrid h2 {
  border-bottom:0;
}

h3,
.foswikiNormal h3 {
  font-size:1.2857em; /* 18px */
  line-height: 1.1667em; /* 21px */
  margin: 1.1667em 0; 
  font-weight:normal;
}

h4,
.foswikiNormal h4 {
  font-size: 1.1429em; /* 16px */
  line-height: 1.3125em; /* 21px */
  margin: 1.3125em 0 0 0;
  font-weight:normal;
}

h5,
.foswikiNormal h5 {
  font-size: 1.0714em; /* 15px */
  line-height: 1.4em; /* 21px */
  margin-top: 1.4em;
  margin-bottom: 0em;
  font-weight:normal;
}

h6,
.foswikiNormal h6 {
  font-size: 1em; /* 14px */
  line-height: 1.5em; /* 21px */
  font-weight:normal;
}
blockquote {
  margin:1.5em 0;
  padding:1.4285em; /* 20px */
}

ul, ol {
  margin:1.5em 0;
  /*padding-left:3em;*/
}
dd {
  margin:0 0 1.5em 2em;
}

.foswikiSuccessMessage,
.foswikiErrorMessage,
.foswikiWarningMessage,
.foswikiInfoMessage,
.foswikiTipMessage {
  padding:0.678em 1em 0.678em 3em; /* 9.5px 21px 9.5px 42px */
  background-position:1em 0.8em;
}
.foswikiHelp,
.foswikiAlt {
  padding:0.678em 1em; /* 9.5px 21px */
}

.foswikiTopicInfo h1 a,
.foswikiTopicInfo h2 a {
  color:inherit;
}
.foswikiTopicInfo .fa {
  vertical-align:baseline;
}

.foswikiEmulatedLink,
.wysiwyg_link,
a {
  color:#333;
  text-decoration:underline;
}


/* borders */
.foswikiMetaData .jqTab,
.foswikiDataForm .foswikiLayoutTable,
.foswikiDataForm .foswikiLayoutTable td,
.foswikiGrid .border,
.hr, hr {
  border-style:solid;
  border-color:#D5D6DD;
}
.foswikiDataForm .foswikiLayoutTable td,
.foswikiDataForm .foswikiLayoutTable th {
  padding-top:0.4285em;
  padding-bottom:0.4285em;
}
.foswikiGrid h3,
.foswikiGrid h2 {
  margin-top:0;
}

/* layout */
.natSideBarContents {
  margin-top:-1em;
}
.natBodyRight .natSideBarContents {
  border-left:1px solid #D5D6DD;
  padding:1em 1px 0 1.5em;
}
.natBodyLeft .natSideBarContents {
  border-right:1px solid #D5D6DD;
  padding:1em 1em 0 1px;
}
.natBodyBoth .natSideBarContents {
  padding:1em 0 0 0;
}
.natMainHeaderContents,
.natMainFooterContents {
  padding:0;
}

.natMainContents {
  margin-top:1.5em;
  padding:0;
}
.natMainFooterContents {
  padding:0;
}
.natBodyBoth .natMainHeaderContents,
.natBodyBoth .natMainFooterContents,
.natBodyBoth .natMainContents,
.natBodyRight .natMainHeaderContents,
.natBodyRight .natMainFooterContents,
.natBodyRight .natMainContents {
  margin-right:1.5em;
}
.natBodyBoth .natMainHeaderContents,
.natBodyBoth .natMainFooterContents,
.natBodyBoth .natMainContents,
.natBodyLeft .natMainHeaderContents,
.natBodyLeft .natMainFooterContents,
.natBodyLeft .natMainContents {
  margin-left:1.5em;
}
.natBodyFixed .natTopPanelContents,
.natBodyFixed .natBottomBarContents,
.natBodyFixed .natBodyContents {
  width:80em;
  margin-left: auto;
  margin-right: auto;
}
.natTopPanelContents {
  padding:1em;
}
.natBodyBordered {
  margin:0;
}
.natBodyBordered .natBottomBarContents,
.natBodyBordered .natBodyContents {
  margin-left:50px;
  margin-right:50px;
}
.showgrid {
  background-position:0px 1px;
  background-image:url(../NatSkin/grid-40x21.png);
}

.natEditBody .natMainContents {
  margin:0;
  padding:1em 2em;
}

/* bottombar */
.natBottomBar { 
  position:absolute;
  width:100%;
  left:0px;
  margin-top:4.28em; /* 60px */
}
.natRenameBody .natBottomBar,
.natValidateBody .natBottomBar,
.natAttachBody .natBottomBar,
.natSolrBody .natBottomBar {
  visibility:hidden;
}
.natBottomBarContents {
  margin:0em 1.9231em;
  padding:2em 2em 3.5em;
}

.natBottomBar .natPageCacheBanner {
  margin:2em 0 0 0;
  text-align:left;
}

.natBottomBar .natCopyRight br,
.natBottomBar .natCopyRight .foswikiRight {
  display:none;
}

a.jqButton:link {
  color:#333;
}

.natBottomBarContents h2,
.natBottomBarContents h3,
.natBottomBarContents h4 {
  margin-top:0;
}

/* form elements */
.jqTextboxListValue {
  background-color:#ebebeb;
  border:1px solid #cfcfcf;
}

.select2-container .select2-choice:hover,
.select2-container .select2-choice {
  border-color:#ccc;
}
.select2-container .select2-choice:hover,
.select2-container .select2-choice,
.select2-container .select2-choice:hover > div,
.select2-container .select2-choice > div {
  background:#fff !important;
  border-radius:0 !important;
  box-shadow:none !important;
}
.select2-container .select2-choice div {
  border:0;
}
.select2-results {
  margin-left:0;
  margin-right:0;
  margin-bottom:0;
  padding:0;
}
.select2-results .select2-highlighted {
  background-color:#16BEEF;
}

.select2-drop input[type=text] {
  border-radius:0 !important;
}
.select2-drop {
  box-shadow:2px 4px 5px rgba(0, 0, 0, .15);
}

/* search box */
.natSolrBody .natSearchBox {
  display:none;
}
.natSearchBox .foswikiInputField {
  width:100%;
  border-radius:0;
  display:inline-block;
  height:30px;
}

.natBodyLeft .natWebMenuContents {
  margin-left:0;
}
.natWebMenu .natSearchBox {
  width:280px;
  float:right;
}
.natWebMenu .natSearchBox  form {
  height:30px;
}
.natSearchBox .foswikiInputField:focus {
  color:#333;
}
.natWebMenu .natSearchBox .foswikiInputField {
  border-bottom-width:0;
  margin-top:1px;
  position:absolute;
  top:1px;
}
.natWebMenu .natSearchBox .foswikiSubmit {
  top:55%;
}


/* topbar */
.natTopPanel {
  position:relative;
  z-index:1;
  background-color:#f4f4f4;
}
.natTopLeft {
  padding:2em 0;
}
.natTopRight {
  position:relative;
  width:100%;
}
.natTopRightContents {
  position:absolute;
  top:0;
  right:0;
  z-index:2;
}
.natTopShadow {
  position:relative;
  z-index:1;
  box-shadow:0px 6px 10px -6px rgba(0,0,0,0.3) inset;
  height:10px;
}
.natEditBody .natTopPanel,
.natEditBody .natTopShadow {
  display:none;
}

.natBody .natBodyContents {
  margin-top:-10px;
}

.natNetworkNavi {
  text-transform:uppercase;
  line-height:2em;
  display:inline-block;
}
.natNetworkNavi ul {
  list-style:none;
  margin:0;
  padding:0;
}
.natNetworkNavi li {
  margin:0;
  padding:0;
  display:inline;
}
.natNetworkNavi a {
  text-decoration:none;
  padding:0.5em 1em;
}

.natPanelToggle {
  border-radius:0 0 5px 5px;
  padding:1.3em 0.7em 0.5em 0.7em;
  display:inline-block;
}

.natPanelToggle,
.natPanelToggle a {
  text-decoration:none;
}

.natLangs {
  position:absolute;
  top:0.2em;
  right:0.5em;
}
.natLangs img {
  margin-right:0.5em;
  vertical-align:middle;
}
.natLangs a {
  color:#444;
  text-decoration:none;
}

.natSolrBody .natLangs {
  display:none;
}

/* menu */
.natWebMenu {
  border-bottom:1px solid #D5D6DD;
  margin-bottom:1em;
}
.natWebMenu li {
  margin: 0 1px 0 0;
}
.natWebMenu li li {
  margin: 0;
}

.natTopicActions .sfHover .natMoreActionsTopicAction,
.natTopicActions .natTopicAction:hover,
.natWebMenu li.sfHover > a,
.natWebMenu li a:hover,
.natWebMenu li .foswikiCurrentWebHomeLink,
.natWebMenu li .foswikiCurrentTopicLink {
  background-color:#1A7FE2;
  color:#fff;
  border-radius:0;
  border-color:transparent;
}

.natWebMenu li.sfHover > a,
.natWebMenu li .foswikiCurrentWebHomeLink:hover,
.natWebMenu li a:hover {
  border-radius:0;
  border-color:transparent;
}

.natWebMenu ul ul {
  box-shadow:2px 2px 10px -2px rgba(0,0,0,0.2);
}

.natWebMenu li li .foswikiCurrentTopicLink,
.natWebMenu li li .foswikiCurrentWebHomeLink,
.natWebMenu li li a {
  background:inherit;
  color:inherit;
}
.natWebMenu li li a:hover {
  border-bottom-color:inherit;
}
.natMoreActionsMenu ul {
  margin-top:5px;
}


/* profile settings */
.natProfile {
  float:left;
  line-height:25px;
  margin-left:1em;
}
.natProfile img {
  margin-right:1em;
  border-radius: 2px; 
}

/* sidebar */
.natSideBarHeader,
.natSideBar {
  width:20em; 
}

/* right */
.natBodyBoth .natSideBar,
.natBodyRight .natSideBar {
  margin-right:-20em;
}
.natBodyBoth .natMiddleContents,
.natBodyRight .natMiddleContents {
  margin-right:20em;
}

/* left */
.natBodyBoth .natSideBar,
.natBodyLeft .natSideBar {
  margin-left:-20em;
}
.natBodyBoth .natMiddleContents,
.natBodyLeft .natMiddleContents {
  margin-left:20em;
}

.natSideBar h2 {
  text-transform:uppercase;
  margin:2.5em 0 0.5em;
  font-weight:normal;
  font-size: 1.1429em; /* 16px */
  line-height: 1.3125em; /* 21px */
}
.natSideBar h2,
.natSideBar h2 a {
  display:block;
  color: #1A7FE2;
  font-weight:bold;
}
.natSideBar h2.webLink,
.natSideBarContents > h2:first-of-type {
  margin-top:0;
}
.natSideBarContents h2.natFirstOfType {
  margin-top:0;
}
.natSideBar h3 {
  font-size:100%; 
  line-height:1.5em;
  margin:1em 0 0.5em;
}

.natSideBar li {
  padding:0.4285em 0;
  border-bottom:1px solid #D5D6DD;
}

.natSideBar li a {
  display:block;
  background-color:transparent;
}

.natSolrBody .natSideBar li {
  padding:0.1em 0;
}

.natMiddle {
  background-color:transparent;
}

/* tables */
.foswikiTable {
  margin:0px 1px 1.5em 1px;
  font-size:0.9285em; /* 13px */
  line-height:1.4615em; /* 19px */
  border:1px solid #e4e4e4;
}
.foswikiTable th, 
.foswikiTable td {
  border:1px solid #e4e4e4;
}
/*
.foswikiTable tr:hover {
  background-color: #f4f4f4;
}
*/
.foswikiTable th,
.foswikiTable th h2,
.foswikiTable th h3,
.foswikiTable th h4 {
  color:#222;
  font-weight:bold;
  text-decoration:none;
  background-color: #f4f4f4;
  vertical-align:top;
}
.foswikiTable th a,
.foswikiTable th a:hover,
.foswikiTable th span {
  color:#222;
}
.foswikiTable tr {
  background-color:transparent;
}


/* toc */
.foswikiToc ul {
  margin:1.5em 0;
  padding:1.4285em 0 0 0;
}
.foswikiToc li {
  background-image:url(../NatSkin/bullet-toc.gif);
  background-position:0 0.4em;
  background-repeat:no-repeat;
}

/* classification plugin */
.tagCloud a:hover,
.clsBrowser .current,
.jstree .jstree-clicked,
.clsTagCloud a:hover,
.clsTagCloud .hilite,
.clsTagCloud .current {
  background-color: #3E89D3 !important;
  color:#fff !important;
}

.solrHierarchyChildren a,
.clsSubCategories a,
.clsSubCategories {
  color:#a1a1a1;
}

/* profile page */
.foswikiProfileInfo .imagePlain {
  border-radius: 6px;
  padding:0;
  border:1px solid #CCD6DD;
}

/* image plugin */
.imageFrame {
  border-radius: 6px;
  box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.5);
  padding:0;
}
.imageFrame img {
  border:0;
  padding:0;
  margin:-1px;
}
.imageFrame .imageHref {
  border:0;
}
.imageCaption {
  text-align:center;
  color:inherit;
  padding:0.4em 2px;
}
.imageCaption a {
  text-decoration:none;
}

@media (max-width: 1180px) {
  .natBodyFixed .natTopPanelContents,
  .natBodyFixed .natBottomBarContents {
    width:auto;
  }
  .natBodyFixed .natTopPanelContents {
    padding:1em;
  }
  .natBodyFixed .natBodyContents {
    width:auto;
    margin:-10px 1em 0;
  }
}

@media (max-width:870px) {
  .natBody .natMiddleContents {
    margin-right:0 !important;
  }
  .natNetworkNavi,
  .natSideBar,
  .natLangSwitcher {
    display:none;
  }

  .natNavToggle {
    display:block;
    top:18px;
    font-size:24px;
    right:10px;
    z-index:999999;
  }

  .natTopLeft {
    padding-bottom:1em;
  }
  .natWebMenu .natSearchBox {
    float:none;
    margin:0em auto 2em;
    width:50%;
    min-width:300px;
  }
  .natWebMenu .natSearchBox .foswikiInputField {
    border-bottom-width:1px;
  }

  .natTopRightContents {
    margin-right:-1em;
  }
  .natTopRight .natPanelToggle {
    padding-right:60px;
    border-radius:0 0 0 5px;
  }

  .natBody .natSideBarContents {
    padding-top:2em;
    border:0;
  }
  .natBody .natSideBar {
    position:fixed;
    top:0;
    right:0;
    height:100%;
    overflow:auto;
    margin:0 -15px 0 0 !important;
    z-index:999;
    background:#fff;
    box-shadow:-5px 0px 5px rgba(0,0,0,0.05);
    border:1px solid #dbdbdb;
  }

  .natBody .natMainHeaderContents,
  .natBody .natMainFooterContents,
  .natBody .natMainContents {
    margin-right:0;
    margin-left:0;
  }
}
@media (max-width: 600px) {
  .foswikiGrid .foswikiCol1,
  .foswikiGrid .foswikiCol2,
  .foswikiGrid .foswikiCol3,
  .foswikiGrid .foswikiCol4,
  .foswikiGrid .foswikiCol5,
  .foswikiGrid .foswikiCol6,
  .foswikiGrid .foswikiCol7,
  .foswikiGrid .foswikiCol8,
  .foswikiGrid .foswikiCol9,
  .foswikiGrid .foswikiCol10,
  .foswikiGrid .foswikiCol11,
  .foswikiGrid .foswikiCol12 {
    float:none;
    width:100%;
    padding-left:0;
    min-height:0;
    margin:1.385em 0 0 0;
  }
  .foswikiGrid .border {
    border-left-width:0;
    border-top-width:1px;
    padding-top:1.385em;
  }


  .natBreadCrumbs {
    display:none;
  }
  .natMainHeaderContents .natTopicActions {
    float:none;
    width:345px;
    margin:0 auto;
    font-size:1em;
  }

  .natBodyNotAuthenticated .natMainHeaderContents {
    display:none;
  }
  .natBodyNotAuthenticated .natTopBar {
    margin-bottom:0;
  }

}
