/* WARNING: THIS IS A DERIVED FILE. DON'T MODIFIY. */
@import url(../NatSkin/BaseStyle.css);
@import url(../WebFontsContrib/roboto/font-face.css);

.natBody {
  font-size:14px;
  line-height:1.5;
  font-family: Roboto, Arial, 'Liberation Sans', FreeSans, sans-serif;
  background-color:#fff;
  color:#333;
}
.foswikiNormal {
  font-size:14px;
  line-height:1.5;
}

.jqTextboxListValue,
label,
.ui-menu,
.natWebMenu ul ul li,
.natTopicActions,
.ui-natedit-toolbar,
.jqTabGroup,
.jqButton {
  font-family: Arial, 'Liberation Sans', FreeSans, sans-serif;
}

/* revert some fixed sizes */
.natBody .natEditBottomBar li {
  font-size:inherit;
}

/* typo */
p {
  line-height:1.5;
  margin:1.5em 0;
}
em {
  font-style:italic;
}

u {
  text-decoration:none;
  border-bottom:1px dashed #333;
}

blockquote i,
address:first-line,
dt, 
b, 
strong {
  font-weight:500;
}


h1,
.foswikiNormal h1 {
  font-size:2em; /* 28px */
  /*line-height:1.5em;  42px */
  margin-top:0;
  margin-bottom:0.5em; /* 14px */
  border-bottom:1px solid #D5D6DD;
  font-weight:normal;
}
h1 .foswikiTopicSummary {
  font-size:0.5em;
  line-height:1.5;
}
.foswikiInfo, .foswikiRevision {
  margin-bottom: 1.5em;
}
.solrSearchHits h3,
.natEditTitle {
  font-family:inherit;
}

.blogCategoryTitle h1,
.blogCategoryTitle h1 a {
  border-bottom:0px;
  color:#808080;
}

h2,
.foswikiNormal h2 {
  font-size:1.5em; /* 21px */
  line-height:1em; /* 21px */
  margin:2em 0 1em;
  border-bottom:1px solid #D5D6DD;
  font-weight:normal;
}
.foswikiGrid h2 {
  border-bottom:0;
}

h3,
.foswikiNormal h3 {
  font-size:1.2857em; /* 18px */
  line-height: 1.1667em; /* 21px */
  margin: 2.3333em 0 1.1667em; /* 42px 0 21px */
  font-weight:normal;
}

h4,
.foswikiNormal h4 {
  font-size: 1.1429em; /* 16px */
  line-height: 1.3125em; /* 21px */
  margin: 1.3125em 0;
  font-weight:normal;
}

h5,
.foswikiNormal h5 {
  font-size: 1.0714em; /* 15px */
  line-height: 1.4em; /* 21px */
  margin-top: 1.4em;
  margin-bottom: 0em;
  font-weight:normal;
}

h6,
.foswikiNormal h6 {
  font-size: 1em; /* 14px */
  line-height: 1.5em; /* 21px */
  margin-top: 1.5em;
  margin-bottom: 0;
  font-weight:normal;
}
blockquote {
  margin:1.5em 0;
  padding:1.4285em; /* 20px */
}

ul, ol {
  margin:1.5em 0;
  /*padding-left:3em;*/
}
dd {
  margin:0 0 1.5em 2em;
}

.foswikiHelp,
.foswikiAlt {
  padding:0.678em 1em; /* 9.5px 21px */
}

.foswikiTopicInfo h1 a,
.foswikiTopicInfo h2 a {
  color:inherit;
}
.foswikiTopicInfo .fa {
  vertical-align:baseline;
}

.foswikiEmulatedLink,
.wysiwyg_link,
a {
  color:#333;
  text-decoration:underline;
}


/* borders */
.foswikiMetaData .jqTab,
.foswikiDataForm .foswikiLayoutTable,
.foswikiDataForm .foswikiLayoutTable td,
.foswikiGrid .border,
.hr, hr {
  border-style:solid;
  border-color:#D5D6DD;
}
.foswikiDataForm .foswikiLayoutTable td,
.foswikiDataForm .foswikiLayoutTable th {
  padding-top:0.4285em;
  padding-bottom:0.4285em;
}
.foswikiGrid h3,
.foswikiGrid h2 {
  margin-top:0;
}

/* layout */
.natSideBarContents {
  margin-top:-1em;
}
.natBodyRight .natSideBarContents {
  border-left:1px solid #D5D6DD;
  padding:1em 1px 0 1.5em;
}
.natBodyLeft .natSideBarContents {
  border-right:1px solid #D5D6DD;
  padding:1em 1em 0 1px;
}
.natBodyBoth .natSideBarContents {
  padding:1em 0 0 0;
}
.natMainHeaderContents,
.natMainFooterContents {
  padding:0;
}

.natMainContents {
  margin-top:1.5em;
  padding:0;
}
.natMainFooterContents {
  padding:0;
}
.natBodyBoth .natMainHeaderContents,
.natBodyBoth .natMainFooterContents,
.natBodyBoth .natMainContents,
.natBodyRight .natMainHeaderContents,
.natBodyRight .natMainFooterContents,
.natBodyRight .natMainContents {
  margin-right:1.5em;
}
.natBodyBoth .natMainHeaderContents,
.natBodyBoth .natMainFooterContents,
.natBodyBoth .natMainContents,
.natBodyLeft .natMainHeaderContents,
.natBodyLeft .natMainFooterContents,
.natBodyLeft .natMainContents {
  margin-left:1.5em;
}
.natBodyFixed .natTopPanelContents,
.natBodyFixed .natBottomBarContents,
.natBodyFixed .natBodyContents {
  width:80em;
  margin-left: auto;
  margin-right: auto;
}
.natTopPanelContents {
  padding:1em;
}
.natBodyBordered {
  margin:0;
}
.natBodyBordered .natBottomBarContents,
.natBodyBordered .natBodyContents {
  margin-left:1em;
  margin-right:1em;
}
.natBodyFluid .natTopPanelContents,
.natBodyFluid .natBottomBarContents,
.natBodyFluid .natBodyContents {
  margin-left:10%;
  margin-right:10%;
}
.natBodyFluid .natBottomBarContents,
.natBodyFluid .natTopPanelContents {
  padding-left:0;
  padding-right:0;
}

.natLoginForm input[type=text], 
.natLoginForm input[type=password] {
  width:100%;
} 

.showgrid {
  background-position:0px 1px;
  background-image:url(../NatSkin/grid-40x21.png);
}

.natEditBody .natMainContents {
  margin:0;
  padding:1em 2em;
}

/* bottombar */
.natBottomBar { 
  position:absolute;
  width:100%;
  left:0px;
  margin-top:4.28em; /* 60px */
}
.natRenameBody .natBottomBar,
.natValidateBody .natBottomBar,
.natAttachBody .natBottomBar,
.natSolrBody .natBottomBar {
  visibility:hidden;
}
.natBottomBarContents {
  margin:0em 1.9231em;
  padding:2em 2em 3.5em;
}

.natBottomBar .natPageCacheBanner {
  margin:2em 0 0 0;
  text-align:left;
}

.natBottomBar .natCopyRight br,
.natBottomBar .natCopyRight .foswikiRight {
  display:none;
}

.natBottomBarContents h2,
.natBottomBarContents h3,
.natBottomBarContents h4 {
  margin-top:0;
}

/* form elements */
.select2-container .select2-choice:hover,
.select2-container .select2-choice {
  border-color:#ccc;
}
.select2-container .select2-choice:hover,
.select2-container .select2-choice,
.select2-container .select2-choice:hover > div,
.select2-container .select2-choice > div {
  background:#fff !important;
  border-radius:0 !important;
  box-shadow:none !important;
}
.select2-container .select2-choice div {
  border:0;
}
.select2-results {
  margin-left:0;
  margin-right:0;
  margin-bottom:0;
  padding:0;
}
.select2-results .select2-highlighted {
  background-color:#16BEEF;
}

.select2-drop input[type=text] {
  border-radius:0 !important;
}
.select2-drop {
  box-shadow:2px 4px 5px rgba(0, 0, 0, .15);
}

/* search box */
.natSolrBody .natSearchBox {
  display:none;
}
.natSearchBox .foswikiInputField {
  width:100%;
  border-color:#ccc;
  display:inline-block;
  height:32px;
  border-bottom-style:none;
}

.natBodyLeft .natWebMenuContents {
  margin-left:0;
}
.natWebMenu li {
  margin-right:1px;
}
.natWebMenu ul ul li {
  margin-right:0;
}
.natWebMenu .natSearchBox {
  width:280px;
}
.natWebMenu .natSearchBox  form {
  height:32px;
}
.natSearchBox .foswikiInputField:focus {
  color:#333;
}


/* topbar */
.natTopPanel {
  position:relative;
  z-index:1;
  background-color:#f4f4f4;
}
.natTopLeft {
  padding:2em 0;
}
.natTopRight {
  position:relative;
  width:100%;
}
.natTopRightContents {
  position:absolute;
  top:0;
  right:0;
  z-index:2;
}
.natTopShadow {
  position:relative;
  z-index:1;
  box-shadow:0px 6px 10px -6px rgba(0,0,0,0.3) inset;
  height:10px;
}
.natEditBody .natTopPanel,
.natEditBody .natTopShadow {
  display:none;
}

.natBody .natBodyContents {
  margin-top:-10px;
}

.natNetworkNavi {
  text-transform:uppercase;
  line-height:2em;
  display:inline-block;
}
.natNetworkNavi ul {
  list-style:none;
  margin:0;
  padding:0;
}
.natNetworkNavi li {
  margin:0;
  padding:0;
  display:inline;
}
.natNetworkNavi a {
  text-decoration:none;
  padding:0.5em 1em;
}

.natNotifications {
  line-height:2em;
  display:inline-block;
  font-size:120%;
}
.natNotifications > ul {
  list-style:none;
  margin:0;
  padding:0;
}
.natNotifications > ul > li {
  margin:0;
  padding:0;
  display:inline;
}
.natNotifications > ul > li > a {
  text-transform:uppercase;
  text-decoration:none;
  padding:0.5em 1em;
  color:#999;
}
.natNotifications .fa {
  margin-right:0.5em;
}

.natPanelToggle {
  border-radius:0 0 5px 5px;
  padding:1.3em 0.7em 0.5em 0.7em;
  display:inline-block;
}

.natPanelToggle,
.natPanelToggle a {
  text-decoration:none;
}

.natLangs {
  position:absolute;
  top:1em;
  right:0;
}

/* menu */
.natWebMenu {
  border-bottom:1px solid #D5D6DD;
  margin-bottom:1em;
}
@media (max-width:620px) {
  .natWebMenu {
    border-bottom:0;
  }
}

.natMoreActionsMenu ul {
  margin-top:5px;
}


/* profile settings */
.natProfile {
  float:left;
  line-height:25px;
  margin-left:1em;
}
.natProfile img {
  margin-right:1em;
  border-radius: 2px; 
}

/* sidebar */
.natSideBarHeader,
.natSideBar {
  width:20em; 
}

/* right */
.natBodyBoth .natSideBar,
.natBodyRight .natSideBar {
  margin-right:-20em;
}
.natBodyBoth .natMiddleContents,
.natBodyRight .natMiddleContents {
  margin-right:20em;
}

/* left */
.natBodyBoth .natSideBar,
.natBodyLeft .natSideBar {
  margin-left:-20em;
}
.natBodyBoth .natMiddleContents,
.natBodyLeft .natMiddleContents {
  margin-left:20em;
}

.natSideBar h2 {
  text-transform:uppercase;
  margin:2.5em 0 0.5em;
  font-weight:normal;
  font-size: 1.1429em; /* 16px */
  line-height: 1.3125em; /* 21px */
}
.natSideBar h2,
.natSideBar h2 a {
  display:block;
  font-weight:500;
}
.natSideBar h2.webLink,
.natSideBarContents > h2:first-of-type {
  margin-top:0;
}
.natSideBarContents h2.natFirstOfType {
  margin-top:0;
}
.natSideBar h3 {
  font-size:100%; 
  line-height:1.5em;
  margin:1em 0 0.5em;
}

.natSideBar li {
  padding:0.4285em 0;
  border-bottom:1px solid #D5D6DD;
}

.natSideBar li a {
  display:block;
  background-color:transparent;
}

.natSolrBody .natSideBar li {
  padding:0.1em 0;
}

.natMiddle {
  background-color:transparent;
}

/* tables */
.foswikiTable {
  margin:0 0 1.5em 0;
  font-size:0.9285em; /* 13px */
  line-height:1.4615em; /* 19px */
  border:1px solid #e4e4e4;
}
.foswikiTable th, 
.foswikiTable td {
  border:1px solid #e4e4e4;
}
.foswikiTable th,
.foswikiTable th h2,
.foswikiTable th h3,
.foswikiTable th h4 {
  color:#222;
  font-weight:500;
  text-decoration:none;
  background-color: #f4f4f4;
  vertical-align:top;
}
.foswikiTable th a,
.foswikiTable th a:hover,
.foswikiTable th span {
  color:#222;
}

/* toc */
.foswikiToc ul {
  margin:1.5em 0;
  padding:1.4285em 0 0 0;
}
.foswikiToc li {
  background-image:url(../NatSkin/bullet-toc.gif);
  background-position:0 0.4em;
  background-repeat:no-repeat;
}

/* classification plugin */
.tagCloud a:hover,
.clsBrowser .current,
.jstree .jstree-clicked,
.clsTagCloud a:hover,
.clsTagCloud .hilite,
.clsTagCloud .current {
  background-color: #3E89D3 !important;
  color:#fff !important;
}

.solrHierarchyChildren a,
.clsSubCategories a,
.clsSubCategories {
  color:#a1a1a1;
}

/* profile page */
.foswikiProfileInfo .imagePlain {
  border-radius: 6px;
  padding:0;
  border:1px solid #CCD6DD;
}

/* image plugin */
.imageFrame {
  border-radius: 6px;
  box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.5);
  padding:0;
}
.imageFrame img {
  border:0;
  padding:0;
  margin:-1px;
}
.imageFrame .imageHref {
  border:0;
}
.imageCaption {
  text-align:center;
  color:inherit;
  padding:0.4em 2px;
}
.imageCaption a {
  text-decoration:none;
}

@media (max-width: 1180px) {
  .natBody .natTopPanelContents,
  .natBody .natBottomBarContents {
    width:auto;
  }
  .natBody .natTopPanelContents {
    padding:1em;
    margin:0;
  }
  .natBody .natBodyContents {
    width:auto;
    margin:-10px 1em 0;
  }
}

@media (max-width:870px) {
  .natBody .natMiddleContents {
    margin-right:0 !important;
    margin-left:0 !important;
  }
  .natNetworkNavi,
  .natSideBar,
  .natLangSwitcher {
    display:none;
  }

  .natNavToggle {
    display:block;
    top:18px;
    font-size:24px;
    right:10px;
    z-index:9999;
  }


  .natTopLeft {
    padding-bottom:1em;
  }
  .natWebMenu .natSearchBox {
    float:none;
    margin:0em auto 2em;
    width:50%;
    min-width:300px;
  }
  .natWebMenu .natSearchBox .foswikiInputField {
    border-bottom-style:solid;
  }

  .natTopRightContents {
    margin-right:-1em;
  }
  .natTopRight .natPanelToggle {
    padding-right:60px;
    border-radius:0 0 0 5px;
  }

  .natBody .natSideBarContents {
    padding-top:2em;
    padding-left:1.5em;
    border:0;
  }
  .natBody .natSideBar {
    position:fixed;
    top:0;
    right:0;
    height:100%;
    overflow:auto;
    margin:0 -15px 0 0 !important;
    z-index:999;
    background:#fff;
    box-shadow:-5px 0px 5px rgba(0,0,0,0.05);
    border:1px solid #dbdbdb;
  }

  .natBody .natMainHeaderContents,
  .natBody .natMainFooterContents,
  .natBody .natMainContents {
    margin-right:0;
    margin-left:0;
  }
}
@media (max-width: 600px) {
  .natBreadCrumbs {
    display:none;
  }
  .natMainHeaderContents .natTopicActions {
    float:none;
    width:345px;
    margin:0 auto;
    font-size:1em;
  }

  .natBodyNotAuthenticated .natMainHeaderContents {
    display:none;
  }
  .natBodyNotAuthenticated .natTopBar {
    margin-bottom:0;
  }

}
/* main colors:

   blue: #3D8FE0, #2375C5
   orange: #FF9100
   green: #52AF00, #339000
   magenta: #FF45B1 / #ED299C

*/
.natBody {
  background:url("bg.png") repeat-x #fff;
}
.natEditBody {
  background:#fff;
}
.natMiddle,
.natMiddleContents {
  background-color:transparent;
}

h1 {
  color:#303030;
}
h2, h3, h4, h5, h6,
h2 a, h3 a, h4 a, h5 a, h6 a {
  color:#339000;
  color:#2375C5;
}
.natTopPanel h3,
.natBottomBar h3 {
  color:#339000;
}

.natTopShadow {
  border-top:5px solid #FF9100;
}
.natPanelToggle,
.natPanelToggle a {
  background-color:#FF9100;
  color:#fff;
  text-decoration:none;
}
.natPanelToggle a:hover {
  color:#fff;
}

.natNavToggle:hover,
.natNavToggle {
  color:#fff;
}

.natWebMenuContents > ul > li,
.natWebMenuContents > ul > li > a {
  text-decoration: none;
  background-color:#3D8FE0;
  color:#fff;
}
.natTopicActions .fa {
  color:#666;
}
.natTopicActions .natUserAction:hover .fa,
.natTopicActions .natUserAction:hover,
.natTopicActions .natTopicAction:hover .fa,
.natTopicActions .natTopicAction:hover,
.natTopicActions .sfHover .natMoreActionsTopicAction,
.natWebMenu li a:hover,
.natWebMenu li.sfHover,
.natWebMenu li.sfHover > a,
.natWebMenuContents > ul > li > a:hover,
.natWebMenuContents > ul > li > li > a.current,
.natWebMenuContents > ul > li > li > a.current:hover,
.natWebMenuContents > ul > li > .foswikiCurrentWebHomeLink,
.natWebMenuContents > ul > li > .foswikiCurrentWebHomeLink:hover {
  background-color:#2375C5;
  color:#fff !important;
}

.natSideBar h2,
.natSideBar h2 a {
  color: #2375C5;
  color:#339000;
}

.natSideBar li a:hover {
  text-decoration:none;
  color:#ED299C;
  background-color:transparent;
}

.redDot a:hover,
.ui-jqgrid .ui-state-hover a:hover,
a:hover {
  text-decoration:underline;
  background-color:transparent;
  color:#ED299C;
}
.hover,
.hover a,
.hover a:hover {
  background-color:transparent;
  color:#ED299C;
}

.foswikiGrayText,
.foswikiGrayText a,
h1 .foswikiTopicSummary,
.foswikiTopicSummary,
.foswikiTopicInfo, 
.foswikiTopicInfo a,
.foswikiRevision a,
.foswikiRevision,
.natBreadCrumbs,
.natBreadCrumbs a,
.natBreadCrumbs .natSep {
  color:#818181;
}

a.jqButton:link {
  color:#333;
}

.natLoginHeading,
.natNoteHeading,
.natBreadCrumbs a:hover,
a:hover .foswikiGrayText,
.foswikiGrayText a:hover ,
.foswikiTopicInfo a:hover,
.natTopPanelContents a:hover,
.natBottomBarContents a:hover,
.ui-dialog .ui-dialog-titlebar,
.natBottomBarContents .jqButton:hover,
.ui-state-active a,
.ui-state-active,
.ui-state-active a:hover,
.ui-state-active.ui-state-hover,
a.ui-state-active:hover,
a.jqButton:hover,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
#natLoginBanner,
.natMainContents .foswikiNewLink,
.natSideBar .foswikiCurrentTopicLink,
.jqTabPanePlain >.jqTabGroup a:hover, 
.jqTabPaneSimple >.jqTabGroup a:hover,
.foswikiAlt h2,
.alt h2,
h2.marked,
.jqTabContents h2,
.jqTabContents h2 a,
.foswikiPageForm h2,
.foswikiPageForm h2 a,
.foswikiFormSteps h2,
.foswikiFormSteps h2 a,
.foswikiFormSteps h2 a:hover {
  color:#ED299C;
}

a.jqButton:link.jqButtonDisabled {
  color:#888;
}

.foswikiAlt h3, .foswikiAlt h4, .foswikiAlt h5, .foswikiAlt h6,
.alt h3, .alt h4, .alt h5, .alt h6,
.jqTabContents h3, .jqTabContents h4, .jqTabContents h5, .jqTabContents h6,
.jqTabContents h3 a, .jqTabContents h4 a, .jqTabContents h5 a, .jqTabContents h6 a,
.foswikiPageForm h3, .foswikiPageForm h4, .foswikiPageForm h5, .foswikiPageForm h6,
.foswikiPageForm h3 a, .foswikiPageForm h4 a, .foswikiPageForm h5 a, .foswikiPageForm h6 a,
.foswikiFormSteps h3, .foswikiFormSteps h4, .foswikiFormSteps h5, .foswikiFormSteps h6,
.foswikiFormSteps h3 a, .foswikiFormSteps h4 a, .foswikiFormSteps h5 a, .foswikiFormSteps h6 a {
  color:#2375C5;
}
.foswikiAlt h2,
.foswikiAlt h3,
.foswikiAlt h4,
.foswikiAlt h5,
.foswikiAlt h6,
.alt h2,
.alt h3,
.alt h4,
.alt h5,
.alt h6 {
  font-weight:500;
}

.natTopPanelContents a,
.natPageCacheBanner,
.natPageCacheBanner a,
.natBottomBarContents,
.natBottomBarContents a {
  color:#666;
}

input[type=search],
input[type=text],
input[type=password],
.foswikiInputField,
select.ui-pg-selbox, /* jqgrid */
select,
.foswikiSelect,
.foswikiTextarea, textarea {
  border-radius:0;
  background-color:#fff;
  border:1px solid #ccc;
  box-shadow:none;
  box-shadow:inset 2px 2px 4px #f4f4f4;
}

select[disabled],
input[disabled],
textarea[disabled] {
  color:#aaa;
  background-color: #f8f8f8;
}

input[type=search],
input[type=text],
input[type=password],
.foswikiInputField,
select,
.foswikiSelect,
.foswikiTextarea, textarea {
  padding:4px 6px;
}
input::-ms-reveal,
input::-ms-clear {
  display:none;
}

.foswikiTextarea:focus, textarea:focus,
select.ui-pg-selbox:focus, /* jqgrid */
select:focus,
.foswikiSelect:focus,
input[type=search]:focus,
input[type=text]:focus,
input[type=password]:focus,
.foswikiInputField:focus {
  border:1px solid #16BEEF;
}


fieldset,
.foswikiAlt,
.alt,
.cmtCommentOdd,
.foswikiPageForm,
.foswikiFormSteps {
  border-radius:2px;
  border:1px solid #d1d1d1;
  box-shadow:0 0 10px #f4f4f4;

  /* http://colorzilla.com/gradient-editor/#ffffff+0,f4f4f4+100;Custom */
  background: #f4f4f4; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#f4f4f4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#f4f4f4 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%,#f4f4f4 100%); /* W3C */
}
.cmtSubComments .cmtCommentOdd,
.ui-dialog .foswikiFormSteps, 
.foswikiMetaData .foswikiDataForm, 
.foswikiMetaData .foswikiAttachments, 
.foswikiMetaData .foswikiComments, 
.foswikiMetaData .foswikiAttachmentsProcess {
  background:transparent;
  box-shadow:none;
}
.cmtSubComments .cmtCommentOdd {
  border:0
}
pre {
/*
  border-radius:2px;
  border:1px solid #d1d1d1;
*/
  border:0;
}

.jqTextboxListValue {
  background-color:#f4f4f4;
  background-color:#f7f7f7;
  border:1px solid #cfcfcf;
  border-radius:4px;
  -webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
  -moz-box-shadow   : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
  box-shadow        : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
}

.natBottomBar {
  background-color:#f4f4f4;
  border-top:1px solid #d1d1d1;
}
